@import (reference) "main";

// js classes
.js-session-hide {
    display: none;
}

.js-loadPhoto {
    cursor: pointer;
}

.js-list-unwrap {
    &__item {
        cursor: pointer;
    }

    &__target {
        display: none;

        .active & {
            //display: block;
        }
    }
}

.js-alphabet-target,
.js-show-only__wrap,
.js-suggest-block {
    display: none;
}

.js-scroll-additional_images-button {
    visibility: hidden;
}

.js-show-only__item, .js-show-only__but[data-event="hide"] {
    display: none;
}

#js-slide-trg {
    position: relative;
}

.active.js-scroll-additional_images-button {
    visibility: visible;
}

.js-ajax-loadmoreitems {
    cursor: pointer;
}

.js-slider-default {
    position: relative;
}

.js-input-spin {
    .el-counter-input;
}

input.js-count-more_1000 {
    font-size: 10px !important;
}

input.js-count-more_10000 {
    font-size: 12px !important;
}

input.js-count-more_100000 {
    font-size: 9px !important;
}

.ui-spinner-input.js-count-more_1000 {
    font-size: 10px !important;
}

.js-click-show {
    position: relative;
    z-index: @z-3;

    &__target {
        position: absolute;
        right: 0;
        display: none;

        &.bubble {
            left: auto;
            transform: translateX(0);
            margin-top: 18px;

            &::before {
                right: 25px;
                left: auto;
            }
        }
    }
}

.js-scroll-additional_images-block {
    //position: absolute;
}

.js-open-close {
    cursor: default;

    > * {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }

    .el-arrow-but {
        margin-left: 10px;
    }
}

.jsSelect{
    display: none;
}


.js-click-parent:hover{
    cursor: pointer;
    .js-href-children{
        color: @ca-blue;
    }
}

.js-cartItemSummInfo{
    display: none;
    &.active {
        display: block;
    }
}

.js-cstm-scroll{
    height: 100%;
}