@charset "utf-8"; 
/* ==========================================================================
    !!!WARNING!!! classes is only BEM: class__sub-class_modificator
    * {
      properties;
      :pseudo-classes;
      media({ mobile,mobile-tablet,tablet,desktop});
    } 

    .element{
      *
      &&_mod{
        *
        &_mod-mod{}
      }
      &&_mod-fix{properties;}
      & &__sub-element{
        *
        ...
      }
    }

    /-----------------------------
    .js-disabled класс отключает все события
    .no-js selector{} если отключены скрипты
    .default{} класс для сброса каких-то настроек, которые поверх стандартного отображения
    .js-name{} тригеры для исполнения каких-то событий
    .el-name{} элемент дизайн который может нормально использоваться
    не только в данном контексте
    .ico-name{} если добавляется иконка
    .ext-classname{} класс стилей для extend в другие классы
    .loopНазваниеЦикла - для циклов классов
    -----------------------------/

    Чтобы сделать фиксированной высоты line-height: Значение rem
   ========================================================================== */

// @import "libs/jquery-ui.min.css";
//@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext,latin-ext');
@import (css) url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext'); // не работает поэтому искать в <link href
@import (css) url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext');
//SMACSS + atomic-design (не путать с атомарным css)
//Базовые стили и основные настройки (атомы)
@import "base/index.less";
//Все основные элементы (молекулы)
@import "elements/index.less";
//Все модули (организмы, которые состоят из своих собственных или elements-молекул)
@import "modules/index.less";
//Структура всех страниц сайта (шаблоны)
@import "layout/index.less";
/* Временно страницы размещу здесь, а в будущем их подключать отдельно на каждую
smacss chk - отметка на возможные проблемные места которые могут использоваться
на других страницах */
@import "pages/index.less";
@import "state";

//пока не разобрал
@import "js-classes";

@import "jquery.scrollbar.less";
/*@import (less) "../js/fancybox/source/jquery.fancybox.css";*/

@import "modules/lightbox-outh-modal.less";

/* ==========================================================================
 Кроссбраузерность
 ========================================================================== */
//Mozilla
#ItemsOptions {
    width: 100%; 
}

//IE
// IE flex align left корзина
.header__but_cabinet {
    width: 170px;
}

.form__select select::-ms-expand {
    display: none;
}

// Opera
.nav > * > .nav_list li > .nav_list,
.nav__conteiner > * > .nav_list li > .nav_list {
    margin-left: 389px; //389.5px
}

// var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(" OPR/") >= 0;
//
// if(isOpera){
//     $(selector).css("margin-top","-30px");
// }


//деактивация скрытие блоков
.header__top,
.sendorder-key-block,
*[href="/pages/help"],
*[href="/page/help"],
.cartridge-hide {
    .hidden;
} 
 

//Различные стили
.all-variants {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666666;
}

.bxmaker__geoip__city {
    margin: 0 auto;
    position: relative;
    font-size: 14px;
    padding: 0;
    height: 15px;
}

//скрытие сравнения
.item__button-container_compare,
//скрытие поделиться
.friendship-prog__share #ya-share2{
    display: none!important;
}


//убрать админ панель сверху
// div#bx-panel{
//     display: none !important;
// }


// #wishlist_pop{
//     display: block!important;
//     top: 100px;
// }
// .flash-message-block{
//     display: block!important;
// }

//проверка dev
// body{
//     display: none!important; 
// } 