/* ==========================================================================
    Здесь все состояния элементов которые можно вынести отдельно
    Helper classes
========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
    display: none !important;
}

.force-visible {
    visibility: visible!important;
    display: block!important;
    opacity: 1!important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix {
    //height: 100%; //chk акции блоки
    &::after,
    &::before {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }

    &::after {
        clear: both;
    }
}

input[type="text"][disabled="disabled"],
input[type="text"]:disabled,
.ui-selectmenu-disabled.ui-state-disabled,
.select-ico.select-ico_disabled .select-ico__title,
.el-textinput__input[disabled], .el-textinput__input[disabled="disabled"] {
    background-color: @ca-grey3 !important;
    border: @border;
    opacity: 1 !important;
    color: @ct-grey3 !important;
    cursor: default !important;

    &:hover {
        border: @border !important;
    }

    &::placeholder{
        color: @ct-grey3 !important;
    }
}

.disabled .el-checkbox{
    background-color: #fff !important;
}

