<ul class="nav nav_categories-list" style="display: block;">
    <li><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
    <li><a href="/catalog/kofe_c302/filter/tip=molotyy" class="nav__item nav__item_categories-list">Кофе молотый</a></li>
    <li><a href="/catalog/kofe_c302/filter/tip=v-kapsulah-dlya-kofemashin" class="nav__item nav__item_categories-list">Кофе в капсулах</a></li>
    <li><a href="/catalog/kofe_c302/filter/tip=rastvorimyy" class="nav__item nav__item_categories-list">Кофе растворимый</a></li>
    <li><a href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=cremesso" class="nav__item nav__item_categories-list">Cremesso</a></li>
    <li><a href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=dolce-gusto" class="nav__item nav__item_categories-list">Dolce Gusto</a></li>
    <li><a href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=lavazza-blue" class="nav__item nav__item_categories-list">Lavazza BLUE</a></li>
    <li><a href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=lavazza-espresso-point" class="nav__item nav__item_categories-list">Lavazza Espresso Point</a></li>
    <li><a href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=nespresso" class="nav__item nav__item_categories-list">Nespresso</a></li>
    <li><a href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=bosch-tassimo" class="nav__item nav__item_categories-list">Tassimo</a></li>
    <li><a href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=tchibo-cafissimo" class="nav__item nav__item_categories-list">Tchibo Cafissimo</a></li>
</ul>
