<? $IMG = $this->layout()->settings['img']; ?>
<header class="content__header content__header_cart">
    <h1 class="h1 h1_cart">Корзина</h1>
    <? if (count($cart->getItems())) { ?>
    <div class="content__header-right">
        <? if ($this->layout()->user) { ?>
            <button class="el-button el-button_ghost2 ico-favorite active-all js-bubble">Всё в закладки</button>
            <? echo $this->partial('partial/addtowishlist.phtml', ['wishlists' => $wishlists, 'addform' => $addform, 'cart' => true, 'active' => true]);?>
        <? } else { ?>
            <a href="<?=$this->url('home/wishlist/default', ['controller' => 'index', 'action' => 'carttowishlist']);?>" class="el-button el-button_ghost2 el-button_icon ico-favorite active-all">Всё в закладки</a>
        <? } ?>
        <a class="el-button el-button_ghost2" href="<?=$this->url('home/cart/default', ['controller'=>'index', 'action'=>'clear']);?>">
            <span class="el-del"></span>Очистить корзину</a>
        <a class="el-button el-button_ghost2 ico-print ico-print_min" target="_blank"
        href="<?=$this->url('home/cart/default', ['controller' => 'index', 'action' => 'print'] );?>">Распечатать</a>
    </div><!--  /.content__header-right -->
    <? } ?>
</header><!--  /.content__header -->
<? if (count($cart->getItems())) { ?>
<?php $form->prepare();
echo $this->form()->openTag($form); ?>
<? echo $this->formElement($form->get("saveItemOptions"));?>
<div id="js-slide-main" class="cart-main">
<table class="table-m js-target-blank">
<?php foreach ($cart->getItems() as $item) {
    $variant = $item->getVariant();
    $href = $this->url('home/catalog/group/variant', [
        'groupId' => $variant->getParentGroup()->id,
        'groupName' => $this->translit($variant->getParentGroup()->name),
        'variantId' => $variant->id,
        'variantName' => $this->translit($variant->name)
        ]);
    ?>
    <tr class="table-m__tr item item_cart<? if ($variant->getProp('assemble') || $variant->getProp('rigging')) { ?>
         table-m__tr_bottom<? } ?> js-duplicate" id="cart-item-variant-id-<?=$item->variant_id;?>">
        <td class="table-m__td">
            <a href="<?=$href;?>">
                <? $smImg = sprintf("%s/%s", $this->layout()->settings['img']['VARIANTS_SMALLIMAGES'], $variant->image);
                if ($variant->image == null)//if (!\Application\Utils\Utils::checkFileExist($this->layout()->settings['img']['IMG_DIR'].$smImg))
                    $smImg = sprintf("%s/%s", $this->layout()->settings['img']['ITEMS_SMALLIMAGES'], $variant->getParentItem()->smallImage); ?>
                <img src="<?=$this->layout()->settings['img']['HOST'].$smImg;?>" width="100px"/>
            </a>
        </td>
        <td class="table-m__td table-m__td_left">
            <div class="table-m__td-wrap-cart">
                <span class="item__articul">Артикул: <?=$variant->article;?></span>
                <a class="item__descript" href="<?=$href;?>">
                    <?=$variant->name;?>
                </a>

                <div class="table-m__td-container">
                    <? echo $this->partial('partial/itemstatus.phtml', ['status' => $variant->getStatus()]); ?>
                    <div class="item__wishlist js-wishlist-actions-block">
                        <? echo $this->partial('partial/addtowishlist.phtml', [
                                'variant' => $variant,
                                'active' => (count($variant->getWishlists()) > 0),
                                'count' => $item->count,
                            ]); ?>
                    </div>
                </div><!--  /.item__rotate-container -->
                <? //if (!in_array($variant->getStatus()->color, ['green', /*'yellow'*/] )) { ?>
                <button type="button" class="item__rotate el-button el-button_ghost2 ico_rotate js-ajax-load-to-container js-lightbox" data-target="#good-replace"
                        url="<?=$this->url('home/catalog/default', ['controller' => 'compare', 'action' => 'index', 'id' => $variant->id, ]);?>"
                        container=".js-replace-modal"
                        >Подобрать замену</button>
                 <? //} ?>
            </div><!--  /.table-m__td-wrap-cart -->
        </td>

        <td class="table-m__td">
            <div class="item__counter">
            <input class="item__counter__input js-input-spin js-ajax-update-cartitem-count js-duplicate__source" type="text"
            value="<?=$item->count;?>" min="<?=$variant->division;?>" step="<?=$variant->division;?>"
            variantid="<?=$item->variant_id;?>" cartitemid="<?=$item->id;?>" name="count[<?=$item->id;?>]">
            </div><!--  /.item__counter -->
        </td>

        <td class="table-m__td" style="text-align: right">
            <div class="table-m__td-wrap-cart">
                <div class="item__price-container">
                    <div class="item__price-old item__price-old_cart <? if (!$variant->isOffer()) { ?>deactive<? } ?>"><?=$variant->sourcePrice;?>&nbsp;<span class="rub">руб</span></div>
                    <div class="item__summ"><?=$this->price($item->getSumm(), '<b class="js-cart-item-summ">%s&nbsp;<span class="rub">руб</span></b>'/*, true*/);?></div><!--  /.item__summ -->
                    <div class="item__price"><span class="js-duplicate__trg">1</span>&nbsp;x&nbsp;<?=$this->price($item->getPrice(), '%s&nbsp;<span class="rub">руб</span>'/*, true*/);?></div><!--  /.item__price -->
                </div><!--  /.item__price-conteiner -->
                <button title="Удалить" type="button" class="item__del el-button js-ajax-removefromcart" variantid="<?=$item->variant_id;?>">
                    <span>удалить</span>
                </button>
            </div><!--  /.table-m__td-wrap-cart -->
        </td>
    </tr>
    <? if ($variant->getProp('assemble') || $variant->getProp('rigging')) { ?>
    <tr class="table-m__tr item item_cart">

        <td class="table-m__td" colspan="4">
        <hr />
        <div class="item__assemble">
        <? $element = $form->get("assemble-{$variant->id}");
           $options = $element->getOptions()['value_options'];
           echo '<span class="item__assemble-title">';
           echo $element->getLabel();
           echo '</span>';
           foreach ($options as $i => $option) { ?>
               <label for="<?php echo $element->getName();echo $option['value'] ?>" class="item__assemble__input el-radio">
                   <input type="radio" <?php if ($element->getValue() == $option['value']) echo 'checked="checked"' ?>
                   name="<?php echo $element->getName(); ?>" id="<?php echo $element->getName();echo $option['value'] ?>" value="<?php echo $option['value'] ?>">
                   <label for="<?php echo $element->getName();echo $option['value'] ?>" class="el-radio__input el-radio__input_min"></label>
                   <?php  echo $option['label']; ?>
               </label>
            <? } ?>
            <? echo $this->formElementErrors($element); ?>
        </div><!--  /.item__assemble -->
        <? //if ($variant->getProp('rigging')) { ?>
        <div class="item__rigging">Пожалуйста, уточните детали доставки этого товара у менеджера</div>
        <? //} ?>
        </td><!--  /.table-m__td -->
    </tr><!--  /.table-m__tr -->
    <? } ?>
<? } ?>
</table>
</div><!--  /.cart-main

--><div id="js-slide-trg" class="cart-widget">
    <script> var orderMinSumm = <?=$this->layout()->settings['order']['min_summ'];?>;</script>
    <? $lessThanMinSumm = $cart->getTotalSumm() < $this->layout()->settings['order']['min_summ'];?>
    <div class="cart-widget__b cart-widget__b_main">
       <div class="cart-widget__caption cart-widget__caption_top">
           <div class="cart-widget__caption-info">
               <span>Стоимость товаров</span> <span class="cart-widget__caption-right">500&nbsp;<i class='rub'>руб</i></span>
           </div><!--  /.cart-widget__caption-info -->
           <div class="cart-widget__caption-info">
               <span>Сборка товаров</span> <span class="cart-widget__caption-right">500&nbsp;<i class='rub'>руб</i></span>
           </div><!--  /.cart-widget__caption-info -->
           <? if ($cart->getBenefitSumm()) { ?><div class="cart-widget__caption-info">
               <span>Скидка</span> <span class="cart-widget__caption-right"><?=$this->price($cart->getBenefitSumm(), "%s&nbsp;<i class='rub'>руб</i>");?></span>
           </div><? } ?><!--  /.cart-widget__caption-info -->
           <div class="cart-widget__summ"><span>Итого</span> <span class="cart-widget__caption-right js-cart-total-summ-block" summ="<?=$cart->getTotalSumm();?>"><?=$this->price($cart->getTotalSumm(), "%s&nbsp;<i class='rub'>руб</i>");?></span></div><!--  /.cart-widget__summ -->
       </div>

       <div class="cart-widget__caption cart-widget__caption_bottom">
           <a class="js-cart-submit cart-widget__but el-button <?=$lessThanMinSumm/*false*/ ? 'cart-widget__but_disabled el-button_scnd-1':'el-button_prim-0';?>"
              style="<?//=$lessThanMinSumm ? 'display:none;':'';?>"
              href="<?=$this->url('home/order/default', ['controller' => 'index', 'action'=>'compliment']);?>">
              Оформить заказ</a>

               <? if ($this->layout()->user instanceof \Auth\Model\User && $this->layout()->user->order_count >= 1) { ?>
               <label for="addtoorder-checkbox" class="cart-widget__addon js-order-is-add-to-order-block"
                   style="<?=$lessThanMinSumm ? '':'display:none;';?>">
                   <span class="el-checkbox el-checkbox_left">
                       <? echo $this->formElement($form->get('orderIsAddToOrder'));?>
                   </span><? echo $form->get('orderIsAddToOrder')->getLabel();?>
               </label>
               <? } ?>
       </div>
   </div><!--  /.cart-widget__b -->

    <? //if ($this->layout()->user && $this->layout()->user->is_bonus) { ?>
    <div class="cart-widget__b cart-widget__b_ico">
        <span class="cart-widget__ico cart-widget__ico_flower ico-flower">За покупку Вам будет начислен <b><?//=$cart->getPoints();?></b> бонусный балл </span>
    </div><!--  /.cart-widget__b -->
    <? //} ?>

    <? if ($assemble) { ?>
    <div class="cart-widget__b  cart-widget__b_ico">
        <span class="cart-widget__ico"><i class="ico-alert ico-alert_round"></i>Отметьте необходимость сборки для товаров, находящихся в Вашей корзине
    </div><!--  /.cart-widget__b -->
    <? } ?>
    <? //if ($replace) { ?>
    <div class="cart-widget__b cart-widget__b_ico">
        <p class="cart-widget__ico">
            <i class="ico-rotate ico-rotate_round"></i>В вашей корзине есть товары которых нет в наличии. <br />
            Для оперативной доставки вы можете заменить товары.
        </p><!--  /.cart-widget__ico -->
    </div><!--  /.cart-widget__b -->
    <? //} ?>

    <? //if ($lessThanMinSumm) { ?>
    <div class="cart-widget__b cart-widget__b_ico">
        <p class="cart-widget__ico">
            <i class="ico-alert ico-alert_round"></i><span class="js-order-min-summ-notify" style="<?//=$lessThanMinSumm ? '':'display:none;';?>">
                Минимальная сумма заказа <?=$this->layout()->settings['order']['min_summ'];?> рублей.
            </span><span class="js-suggest-to-add-summ-notify">
                Для оформления заказа добавьте в корзину товаров на
                <?=$this->layout()->settings['order']['min_summ'] - $cart->getTotalSumm();?> рублей.
            </span>
        </p><!--  /.cart-widget__ico -->
    </div><!--  /.cart-widget__b -->
    <? //} ?>

    <? if (count($actions) > 0){ ?>
    <div class="cart-widget__b">
        <div class="cart-widget__title">
            Вы участвуете в акциях
        </div><!--  /.cart-widget__title -->
        <? foreach ($actions as $action) { ?>
        <div class="cart-widget__action js-target-blank ico-check">
            <?=$action->title;?>
            <button type="button" class="el-button el-question js-bubble">
                <div class="bubble-conteiner">
                    <div class="bubble bubble_right">
                        <div class="bubble__wrap">
                            <img src="<?=implode('/', [$IMG['HOST'].$IMG['ACTIONS_IMAGES'], $action->id, $action->getImage()]);?>" width="90px" alt="" />
                            Покупай этикетки Avery Zweckform - получай комплименты в подарок! Этикетки серии Economy и Европа 100 в акции не участвуют. *количество подарков ограничено
                        </div><!--  /.bubble__wrap -->
                    </div><!--  /.bubble -->
                </div>
            </button>
            <? $addSummCount = $action->cart_summ - $action->variantsSumm; if ($action->accumulate == 0 && $addSummCount > 0) { ?>
            <p>
                    <? $gifts = iterator_to_array($action->getGifts()); ?>
                    добавьте в корзину еще
                    <? if ($action->type == 'COUNT') { ?>
                    <?=$addSummCount;?> <?=$this->plural(['товар', "товара", "товаров"], $addSummCount);?>
                    <? } elseif ($action->type == 'SUMM') { ?>
                    товаров на сумму <?=$this->currencyFormat($addSummCount);?>
                    <? } ?>
                    по <a href="<?=$this->url('home/actions/action', ['actionName' => $this->translit($action->title), 'actionId' => $action->id]);?>">акции</a>.
                <? } ?>
                <? if ($action->accumulate == 1) { ?>
                    Акция является накопительной.
            </p>
            <? } ?>
        </div><!--  /.action-compliments -->
        <? } ?>
     </div><!--  /.cart-widget__b -->
      <? } ?>

    <div class="cart-widget__b">
        <? if ($cart->getTotalSumm() < $this->layout()->settings['order']['compliment_summ']) { ?>
            <p class="el-icon-text"><i class="ico-compliment-orange"></i>Увеличьте сумму Вашего заказа до <br /><?=$this->layout()->settings['order']['compliment_summ'];?> рублей и получите ПОДАРОК!</p><!--  /.cart-widget__compliment -->
        <? } else { ?>
            <p class="el-icon-text"><i class="ico-compliment"></i>Сумма Вашего заказа превышает <?=$this->layout()->settings['order']['compliment_summ'];?> рублей <br /> и Вы получаете ПОДАРОК!</p><!--  /.cart-widget__compliment -->
        <? } ?>
        <? if ($this->layout()->settings['custom']['home_region']['cityName'] == $this->layout()->settings['geo']['home_region']['cityName']) { // если питер ?>
            <hr class="cart-widget__hr" />
            <? if ( $cart->getTotalSumm() > $this->layout()->settings['order']['free_delivery_summ']) { // если хватает на беспл дост ?>
                <p class="el-icon-text"><i class="ico-delivery"></i> Для вас доставка БЕСПЛАТНО!</p><!--  /.cart-widget__delivery -->
            <? } else { ?>
                <p class="el-icon-text"><i class="ico-delivery-orange"></i> Увеличьте сумму заказа до <?=$this->layout()->settings['order']['free_delivery_summ']?> рублей<br /> и получите доставку БЕСПЛАТНО!</p><!--  /.cart-widget__delivery -->
            <? } ?>
        <? } else { // если не питер ?>

        <? } ?>
    </div><!--  /.cart-widget__b -->
</div><!--  /.cart-widget -->

<? echo $this->form()->closeTag(); } ?> <!--Пустая корзина-->

<div class="cart-empty" <?=(count($cart->getItems())) ? 'style="display:none;"' : '';?>>
    <div class="cart-empty__left cart-empty__img"></div><!--  /.cart-empty__left -->
    <div class="cart-empty__right">
        <h3 class="cart-empty__title">Ваша корзина пуста</h3><!--  /.cart-empty__h3 -->
        <p class="cart-empty__text">В Вашей корзине пока что нет товаров. <br />Наполняйте корзину интересующими Вас товарами из нашего каталога и получайе бонусы и подарки!</p><!--  /.cart-empty__text -->
        <p class="cart-empty__text">Начните выбор товаров нажав на кнопку ниже:</p><!--  /.cart-empty__text -->
        <a href="/catalog" class="cart-empty__but el-button el-button_prim-0">Перейти к покупкам</a>
    </div><!--  /.cart-empty__right -->
</div><!--  /.cart-empty -->


<div class="lightbox lightbox_inpage">
  <div class="lightbox__content lightbox__content_wide lightbox__content_scroll" id="good-replace">
    <button class="el-button el-del el-del_big js-lightbox_close"></button>
    <div class="js-replace-modal"></div>
  </div><!--  /.lightbox__content -->
</div><!-- /.lightbox -->
