<div class="el-banner el-banner_bonuses">
	<div class="el-banner__col el-banner__left">
		<div class="el-banner__logo"></div>
		<div class="el-banner__title">Твои <br>Возможности</div>
	</div>
	<div class="el-banner__col el-banner__center">
		<div class="el-banner__txt">Перейдите на сайт «Твои возможности» и выбирайте из тысяч товаров в нашем бонусном каталоге</div>
	</div>
	<div class="el-banner__col el-banner__right">
		<a href="javascript:;" class="el-banner__btn el-button el-button_banner-1"><span class="el-banner__btn-ico el-button__icon"></span><span class="el-button__text">перейти на сайт</span></a>
	</div>
</div>