        <!-- FAST TAGS -->
        <div class="fast-tags js-fast-tags">
            <!-- <span class="fast-tags__title">Быстрый подбор</span> -->
            <div class="b-tabs content__tabs categories-wrap" id="categories-wrap">
                <div class="toggle-wrap-container">
                    <ul class="toggle-wrap toggle-wrap_tags nav nav_parts" role="tablist">
                        <li class="toggle-wrap__item js-fast-tags__tag nav__wrap tip-kofe" data-tabid="tip-kofe">
                            <a href="#tip-kofe" role="presentation">Тип кофе <span class="toggle-wrap__num js-toggle-wrap__num">4</span></a>
                        </li>
                        <li class="toggle-wrap__item js-fast-tags__tag nav__wrap kofe-v-kapsulah" data-tabid="kofe-v-kapsulah">
                            <a href="#kofe-v-kapsulah" role="presentation">Кофе в капсулах <span class="toggle-wrap__num js-toggle-wrap__num">7</span></a>
                        </li>
                        <li class="toggle-wrap__item js-fast-tags__tag nav__wrap populyarnoe-v-kategorii" data-tabid="populyarnoe-v-kategorii">
                            <a href="#populyarnoe-v-kategorii" role="presentation">Популярное в категории <span class="toggle-wrap__num js-toggle-wrap__num">3</span></a>
                        </li>
                    </ul>
                    <div class="el-arrow-wrapper">
                        <span class="fast-tags__toggle js-fast-tags__hider el-arrow-but el-arrow-but_alt el-arrow-but_top" data-open="Показать теги" data-close="Скрыть теги"></span>
                        <div class="el-arrow-bubble el-arrow-bubble__right">
                            <div class="el-arrow-bubble__txt"></div>
                        </div>
                    </div>
                </div>
                <nav class="categories-list__wrapper b-tabs__item js-fast-tags__tab" data-tabid="tip-kofe">
                    <ul class="categories-list categories-list_notext">
                        <!-- categories-list_2 categories-list_3 categories-list_4 categories-list_notext -->
                        <!--categories-list_flex -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/tip=v-zernah" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000312.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Кофе зерновой</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/tip=molotyy" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000313.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Кофе молотый</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/tip=v-kapsulah-dlya-kofemashin" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000311.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Кофе в капсулах</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/tip=rastvorimyy" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000314.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Кофе растворимый</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
        
                    </ul>
                    <!--  /.categories-list -->
                </nav>
        
                <nav class="categories-list__wrapper b-tabs__item js-fast-tags__tab" data-tabid="kofe-v-kapsulah">
                    <ul class="categories-list categories-list_notext">
                        <!-- categories-list_2 categories-list_3 categories-list_4 categories-list_notext -->
                        <!--categories-list_flex -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=cremesso" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000301.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Cremesso</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=dolce-gusto" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000302.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Dolce Gusto</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=lavazza-blue" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000303.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Lavazza BLUE</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=lavazza-espresso-point" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000304.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Lavazza Espresso Point</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=nespresso" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000305.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Nespresso</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=bosch-tassimo" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000306.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Tassimo</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/podhodit-k-kofemashine=tchibo-cafissimo" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000307.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Tchibo Cafissimo</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
        
                    </ul>
                    <!--  /.categories-list -->
                </nav>
        
                <nav class="categories-list__wrapper b-tabs__item js-fast-tags__tab" data-tabid="populyarnoe-v-kategorii">
                    <ul class="categories-list categories-list_notext">
                        <!-- categories-list_2 categories-list_3 categories-list_4 categories-list_notext -->
                        <!--categories-list_flex -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/brand=egoiste" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000308.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Кофе Egoiste</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/brand=lavazza" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000309.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Кофе Lavazza</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
                        <li class="categories-list__item">
                            <a title="  " href="/catalog/kofe_c302/filter/brand=lavazza;tip=v-zernah" class="categories-list__conteiner">
                                <img src="http://img.3259404.ru/3259404.ru/tags/image/10000310.jpg" alt="" class="categories-list__img" />
                                <span class="categories-list__title">Кофе в зернах Lavazza</span>
                                <div class="categories-list__description">
                                </div>
                            </a>
                        </li>
                        <!--  /.categories-list__item -->
        
                    </ul>
                    <!--  /.categories-list -->
                </nav>
        
            </div>
        </div>
        <!--  /.fast-tags -->