{% include "elems/_resent-variants.html" %}
    <style>
        #PAGESLIST {
            position: fixed;
            height: 50vh;
            width: 300px;
            top: 0px;
            left: 0px;
            border: 0;
            box-shadow: 0 0 5px rgba(0,0,0,.3);
            resize: auto;
            background-color: #fff;
            opacity: .4;
        }
    </style>
    <iframe id="PAGESLIST" src="/"></iframe>
    <script>
        var iFrame = document.querySelector('#PAGESLIST');

        iFrame.contentWindow.onload = function () {
            // set attr target _top to a tag
            var a = iFrame.contentWindow.document.querySelectorAll('a');

            for (let i = 0; i < a.length; i++) {
                let aa = a[i];

                aa.setAttribute('target' , '_top')
            }
        }
    </script>
    
    <footer class="footer">
        <div class="footer__head">
            <div class="wrapper">
                <div class="discount-mail">
                    <div class="discount-mail__title ico-send">Получайте новые скидки и акции по электронной почте!</div>
                    <div class="discount-mail__form">
                        <form method="post" name="PostError" class="form&#x20;form_nolabel" id="PostError"><div class="form__item form__item_labeltop js-label-top" style=""><!-- tabindex="0"  -->
                        <label for="email">E-mail</label><span class="form__input"><input type="text" id="email" name="email" placeholder="&#x0410;&#x0434;&#x0440;&#x0435;&#x0441;&#x20;&#x044D;&#x043B;&#x0435;&#x043A;&#x0442;&#x0440;&#x043E;&#x043D;&#x043D;&#x043E;&#x0439;&#x20;&#x043F;&#x043E;&#x0447;&#x0442;&#x044B;" class="no-label" value=""></span></div>
                        <!-- $attr = $el->setAttribute('class','form__input'); -->
                        <!-- <input name="" type="text" class="form__input no-label" placeholder=Адрес электронной почты  /> -->
                        <input type="submit" name="sentSubscribe" class="el-button&#x20;el-button_prim-0" value="&#x041F;&#x043E;&#x043B;&#x0443;&#x0447;&#x0438;&#x0442;&#x044C;"></form>
                    </div><!--  /.discount-mail__form -->
                </div><!--  /.discount-mail -->
            </div><!--  /.footer__right -->
        </div><!--  /.wrapper -->

        <div class="footer__body">
            <div class="wrapper">
                <div class="footer-row">
                <div class="footer-col">
                    <div class="footer-col__title">Интернет-магазин</div>
                    <ul class="footer-col__list nav nav_column">
                        <li class="nav__wrap"><a rel="nofollow" href="/page/delivery" class="nav__item">Доставка</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/page/payment" class="nav__item">Оплата</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/actions" class="nav__item">Акции</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/sales" class="nav__item">Распродажа</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/discounts" class="nav__item">Скидки</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a href="/pages/publications" class="nav__item">Статьи</a></li><!--  /.nav__wrap -->
                    </ul><!--  /.nav nav_column -->
                </div><!--  /.footer-col -->
                <div class="footer-col">
                    <div class="footer-col__title">Помощь покупателю</div>
                    <ul class="nav nav_column">
                        <li class="nav__wrap"><a rel="nofollow" href="/page/conditions#garantiya" class="nav__item">Гарантии</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/feedback" class="nav__item">Обратная связь</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/page/howtoorder" class="nav__item">Как сделать заказ</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/page/help" class="nav__item">Помощь по сайту</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/page/helper" class="nav__item">Помощь по сайту</a></li><!--  /.nav__wrap -->
                                                    <li class="nav__wrap"><a rel="nofollow" href="http://твоивозможности.рф/" class="nav__item">Бонусная программа</a></li><!--  /.nav__wrap -->
                                                    <li class="nav__wrap"><a rel="nofollow" href="/alphabetcatalog" class="nav__item">Все товары от А до Я</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/catalog/brands" class="nav__item">Все бренды от А до Я</a></li><!--  /.nav__wrap -->
                    </ul><!--  /.nav nav_column -->
                </div><!--  /.footer-col -->
                <div class="footer-col">
                    <div class="footer-col__title">О компании</div>
                    <ul class="nav nav_column">
                        <li class="nav__wrap"><a rel="nofollow" href="/page/about" class="nav__item">О нас</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/page/conditions" class="nav__item">Условия работы</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/page/deliver" class="nav__item">Условия доставки</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/page/opentime" class="nav__item">Режим работы</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/page/contact" class="nav__item">Контакты</a></li><!--  /.nav__wrap -->
                        <!--<li class="nav__wrap"><a href="" class="nav__item">Карта сайта</a></li>  /.nav__wrap -->
                    </ul><!--  /.nav nav_column -->
                </div><!--  /.footer-col -->
                <div class="footer-col footer-col_right">
                     <div class="footer-col__title">Свяжитесь с нами</div>
                     <div class="footer__contacts">
                         +7 (812) 325-94-04
                         <span class="footer__contacts-sub">Санкт-Петербург</span>
                     </div><!--  /.footer__contacts -->
                     <div class="footer__contacts">
                         +7 (800) 301-94-04
                         <span class="footer__contacts-sub">Бесплатный звонок по России</span>
                     </div><!--  /.footer__contacts -->
                     <div class="footer__contacts">
                         001@3259404.ru
                         <span class="footer__contacts-sub">Напишите нам</span>
                     </div><!--  /.footer__contacts -->
                </div><!--  /.footer-col -->
                </div><!--  /.footer-row -->

                <div class="footer-row">
                <div class="footer-col">
                    <div class="footer-col__title">Услуги</div>
                    <ul class="nav nav_column">
                        <li class="nav__wrap"><a rel="nofollow" href="http://bestespresso.ru/" class="nav__item">Аренда кофемашин</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/page/assembly" class="nav__item">Сборка мебели</a></li><!--  /.nav__wrap -->
                        <li class="nav__wrap"><a rel="nofollow" href="/page/rigging" class="nav__item">Такеллаж мебели и сейфов</a></li><!--  /.nav__wrap -->
                    </ul><!--  /.nav nav_column -->
                </div><!--  /.footer-col -->
                </div><!--  /.footer-row -->

                <div class="footer__body-bottom">
                    <div class="footer__left">
                        <span class="footer__error">Если вы нашли ошибку на сайте, пожалуйста, выделите её, нажмите Ctrl+Enter и сообщите нам об этом.</span>
                    </div><!--  /.footer__left -->
                    <div class="footer__right">
                        <span class="footer__data">Последнее обновление: 10.08.18, 6:28:34</span>
                    </div><!--  /.footer__right -->
                </div><!--  /.footer__body-bottom -->
            </div><!--  /.wrapper -->
        </div><!--  /.footer__body -->
        <div class="footer__foot">
            <div class="wrapper">

                <div class="footer__left">
                    <img class="footer__logo" src="img/logo.svg" alt="Офисная Служба" height="35"/>
                    <address class="footer__copyright">&copy; 2000-2018 Группа компаний "Офисная Служба"</address><!--  /.footer__copyright -->
                </div><!--  /.footer__left -->
                <div class="footer__right">
                    <div class="footer__info">
                        <a rel="nofollow" class="footer__foot-ico" href="https://sbis.ru/" target="_blank">
                            <img src="img/sbis.png" alt="Поддержка СБИС" title="Поддержка СБИС" width="70" height="31" style="margin-top: -10px"/>
                        </a>
                        <a rel="nofollow" class="footer__foot-ico" href="https://market.yandex.ru/shop/82944/reviews" target="_blank">
                            <img src="img/ya-market.svg" alt="Оцените Офисную Службу на Яндекс.Маркете" title="Оцените Офисную Службу на Яндекс.Маркете" height="40" />
                        </a>
                        <a rel="nofollow" class="footer__foot-ico" href="https://vk.com/ofisnayasluzhba" target="_blank">
                            <img src="img/vk.svg" alt="Группа ВКонтакте" title="Группа ВКонтакте" width="40" height="40"/>
                        </a>
                    </div><!--  /.footer__info -->
                </div><!--  /.footer__right -->
            </div><!--  /.wrapper -->
        </div><!--  /.footer__foot -->


        <div class="footer__empty">
            <div class="wrapper">
                <div class="footer__left footer__copyright">
                    © 2000-2017 Группа компаний "Офисная Служба" <br />
                    Стоимость товаров и условия их приобретения актуальны по состоянию на 26.04.2017
                </div><!--  /.footer__left -->
                <div class="footer__right footer__tel">
                    +7 (812) 325-94-04
                </div><!--  /.footer footer_right -->
            </div><!--  /.wrapper -->
        </div><!--  /.footer__empty -->
    </footer><!--  /.footer -->

    <script  src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="  crossorigin="anonymous"></script>
    <script src="js/svg-injector.min.js"></script>
    <!-- <script src="js/client.js"></script> -->
    <script src="js/plugins.js"></script>
    <script src="js/plugins/slick.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    {% if fastTags %}
    <script src="components/local.components/krayt/tags.catalog.section/templates/.default/script.js"></script>
    {% endif %}
    <script src="js/common.js"></script>
    <script src="js/main.js"></script>

    <script>
        // Замена урлов после переноса в html
        // База осталась та же, т.е. указывать путь нужно с корня
        $('.leftmenu__link').each(function() {
            var $t = $(this), tBase = 'html/';

            if ($t.prop("tagName") !== "BASE") { 
                if ($t.is('[src]')) {
                    let src = $t.attr('src');
                    if (src !== '#' && src !== 'javascript:;' ) $t.attr('src', tBase + src);
                } else if ($t.is('[href]')) {
                    let href = $t.attr('href');
                    if (href !== '#' && href !== 'javascript:;' ) $t.attr('href', tBase + href);
                }
            }
        });
    </script>

    <script>
        // Do the injection for the selected Nodelist
        new SVGInjector().inject(document.querySelectorAll('svg[data-src]'));

        $('.form__select select').each(function() {
            $(this).selectmenu()
        });
        $("#datepicker").datepicker({
            showMonthAfterYear: true
        });


        $(window).load(function(){
            $('.cabinet__left--section-item').each(function(){
                var that = this;
                if ($(that).hasClass('active') == true) {
                    activeCabTab(that);
                };
            });
        });
        $('.cabinet__left--section-item').hover(function(){
            activeCabTab(this);
        },function(){
            nonActiveCabTab(this);
        });
        function activeCabTab(el) {
            var that = el;
            thatImg = $(that).find('img');
            var thatAttr = $(thatImg).attr('src');
            if ( thatAttr != '' && thatAttr != undefined) {
                // alert('hover');
                imageType = thatAttr.split('.')[1];
                thatAttr = thatAttr.replace('.'+imageType,'');
                if (thatAttr.indexOf('-h') == -1) {
                    $(thatImg).attr('src',thatAttr+'-h.'+imageType);
                };
            };
        };
        function nonActiveCabTab(el) {
            var that = el;
            thatImg = $(that).find('img');
            if ($(that).hasClass('active') != true) {
                var thatAttr = $(thatImg).attr('src');
                if ( thatAttr != '' && thatAttr != undefined) {
                    thatAttr = thatAttr.replace('-h','');
                    $(thatImg).attr('src',thatAttr);
                };
            };
        };
    </script>

<!-- <script src="C:\work\325\3259404.ru\public\js/client.js?ver=790fcc76d4b1e33144a125bbcbe6301b803ea7ad"></script> -->
</body>

</html>
