<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <base href="../">
    <title>{{pagename}}</title>
    <link rel="stylesheet" href="http://3259404.ru/css/libs/jquery-ui.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{
            margin-top: 40px;
        }
    </style>
</head>

<body class="body-grey">