<li data-bubble=".bubble-specprice" class="item table__tr">
	<div class="table__td table__td_pseudo items__none"></div>
	<div class="table__td">
		<div class="el-plate-container table__none">
		</div>
		<!--  /.el-plate-container -->
		<a href="/catalog/kofe-rastvorimyy-jacobs-monarch-190g-steklo_i4560" class="item__img">
			<img src="http://img.3259404.ru/3259404.ru/variants/small_image/i4560.jpg" alt="" />
		</a>
	</div>

	<div class="js-item-anim-fade">
		<div class="item__row">
			<div class="item__service-wrap">
				<div class="item__container item__container_left item__container_inline">
					<div class="item__rating el-rating el-rating_deactive">
						<span>&#9734;</span>
						<span>&#9734;</span>
						<span>&#9734;</span>
						<span>&#9734;</span>
						<span>&#9734;</span>
					</div>
					<!--  /.item__rating el-rating -->
				</div>
				<!--  /.item__container item__container_left-->
			</div>

			<div class="item__status-wrap">
				<div class="item__status item__status_green js-bubble js-bubble_status">
					В наличии
					<div class="bubble-conteiner">
						<div class="bubble bubble_status">
							<div class="bubble__wrap">
								Данный товар может быть доставлен в течение 1-2 дней. </div>
							<!--  /.bubble__wrap -->
						</div>
						<!--  /.bubble -->
					</div>
				</div>
			</div>
		</div>

		<div class="el-plate-container">
		</div>
		<!--  /.el-plate-container -->

		<div class="item__descript-conteiner js-item-anim-fade__el">
			<p class="item__row item__descript">
				<a href="/catalog/kofe-rastvorimyy-jacobs-monarch-190g-steklo_i4560" title="Кофе растворимый Jacobs Monarch 190г стекло">
					Кофе растворимый Jacobs Monarch 190г стекло                </a>
			</p>
		</div>
	</div>
	<!--/.js-item-anim-fade -->
	<div class="item__row table__td item__row_last">
		<div class="item__price-wrap">
			<div class="item__price-old deactive">459 <span class="svg-ruble svg-ruble_med"></span></div>
			<div class="item__container item__container_left">
				<div class="item__price"><b>459</b> <span class="svg-ruble svg-ruble_med"></span></div>
			</div>
			<div class="item__container item__container_right item__button-container item__button-container_heart item__container_right_2 js-wishlist-actions-block">
			</div>
		</div>
		<!--  /.item__price-wrap -->
	</div>
	<!--  /.item__row -->
</li>
<!--  /.item  -->