            <section class="cabinet__left content__left nav-left">
                <!-- что бы сделать активным пункт меню к cabinet__left--section-item надо ставить active -->
                <!-- так же что бы убрать перезагрузку страницы можно менять тег с ссылки<a> на <p> -->
                <div class="cabinet__left--name stnd-block stnd-block_min clearfix">
                    <img src="img/u13.png" alt="" class="cabinet__left--name-image">
                    <p class="cabinet__left--name-text">Добро пожаловать, <br>Алексей Владленович</p>
                </div>
                <ul class="cabinet__left--section stnd-block stnd-block_min">
                    <li class="cabinet__left--section-name">Основное</li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if genInfo or genInfoN %} active{% endif %}">
                        <a href="{% if genInfo %}new-cabinet--general-info-noauth.html{% else %}new-cabinet--general-info.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/Pictogr_OsnovnInfo.svg" class="leftmenu__icon"></svg>
                            <span>Основная информация</span>
                        </a>
                    </li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if archive or archiveN %} active{% endif %}">
                        <a href="{% if archive %}new-cabinet--arhive-noauth.html{% else %}new-cabinet--arhive.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/Pictogr_ArhivZakazov.svg" class="leftmenu__icon"></svg>
                            <span>Архив заказов</span>
                        </a>
                    </li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if wish or wishN %} active{% endif %}">
                        <a href="{% if wish %}new-cabinet--bookmarks-noauth.html{% else %}new-cabinet--bookmarks.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/Pictogr_Zakladki.svg" class="leftmenu__icon"></svg>
                            <span>Закладки</span>
                        </a>
                    </li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if finanses or finansesN %} active{% endif %}">
                        <a href="{% if finanses %}new-cabinet--finances-no-indebtedness.html{% else %}new-cabinet--finances-indebtedness.html{% endif %}" class="leftmenu__link">
                            <!-- <img src="img/ico/cab-tab-finance.png" alt=""> -->
                            <svg data-src="img/ico-svg/Pictogr_Finansi.svg" class="leftmenu__icon"></svg>
                            <span>Финансы</span>
                        </a>
                    </li>
                </ul>
                <ul class="cabinet__left--section stnd-block stnd-block_min">
                    <li class="cabinet__left--section-name">Лояльность</li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if bonuses or bonusesN %} active{% endif %}">
                        <a href="{% if bonuses %}new-cabinet--bonus-noauth.html{% else %}new-cabinet--bonus.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/Pictogr_BonusnieBalli.svg" class="leftmenu__icon"></svg>
                            <span>Бонусные баллы</span>
                        </a>
                    </li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if frienship or frienshipN %} active{% endif %}">
                        <a href="{% if frienship %}new-cabinet--friendship-programe-new.html{% else %}new-cabinet--friendship-programe.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/Pictogr_DrujeskProgram.svg" class="leftmenu__icon"></svg>
                            <span>Дружеская программа</span>
                        </a>
                    </li>
                </ul>
                <ul class="cabinet__left--section stnd-block stnd-block_min">
                    <li class="cabinet__left--section-name">Контакты</li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if contacts or contactsN %} active{% endif %}">
                        <a href="{% if contacts %}new-cabinet--otvetstvennie-noauth.html{% else %}new-cabinet--otvetstvennie.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/cab-tab-contactface.svg" class="leftmenu__icon"></svg>
                            <span>Контактные лица</span>
                        </a>
                    </li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if deliveryaddresses or deliveryaddressesN %} active{% endif %}">
                        <a href="{% if deliveryaddresses %}new-cabinet--addresses-noauth.html{% else %}new-cabinet--addresses.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/cab-tab-addresses.svg" class="leftmenu__icon"></svg>
                            <span>Адреса доставки</span>
                        </a>
                    </li>
                </ul>
                <ul class="cabinet__left--section stnd-block stnd-block_min">
                    <li class="cabinet__left--section-name">Служба заботы</li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if care or careN %} active{% endif %}">
                        <a href="{% if care %}javascript:;{% else %}new-cabinet--care-service.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/leaf.svg" class="leftmenu__icon"></svg>
                            <span>Обращения в службу заботы</span>
                            <span class="cabinet__left--section-counter">10</span>
                        </a>
                    </li>
                    <li class="cabinet__left--section-item nav-left--section-item">
                        <a href="javascript:;" class="leftmenu__link">
                            <svg data-src="img/ico-svg/check1.svg" class="leftmenu__icon"></svg>
                            <span>Архив обращений</span>
                        </a>
                    </li>
                </ul>
                <ul class="cabinet__left--section stnd-block stnd-block_min">
                    <li class="cabinet__left--section-name">Настройки</li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if data %} active{% endif %}">
                        <a href="{% if data %}javascript:;{% else %}new-cabinet--dannie.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/man-user.svg" class="leftmenu__icon"></svg>
                            <span>Личные данные</span>
                        </a>
                    </li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if pass %} active{% endif %}">
                        <a href="{% if pass %}javascript:;{% else %}new-cabinet--password_changing.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/key-silhouette-security-tool-interface-symbol-of-password.svg" class="leftmenu__icon"></svg>
                            <span>Смена пароля</span>
                        </a>
                    </li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if news %} active{% endif %}">
                        <a href="{% if news %}javascript:;{% else %}new-cabinet--newsletters.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/envelope.svg" class="leftmenu__icon"></svg>
                            <span>Подписка на рассылку</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!--cabinet__left -->