            <section class="cabinet__left content__left nav-left">
                <!-- что бы сделать активным пункт меню к cabinet__left--section-item надо ставить active -->
                <!-- так же что бы убрать перезагрузку страницы можно менять тег с ссылки<a> на <p> -->
                <!-- <div class="cabinet__left--name stnd-block stnd-block_min clearfix">
                    <img src="img/u13.png" alt="" class="cabinet__left--name-image">
                    <p class="cabinet__left--name-text">Добро пожаловать, <br>Алексей Владленович</p>
                </div> -->
                <ul class="cabinet__left--section stnd-block stnd-block_min">
                    <li class="cabinet__left--section-name">Доставка и оплата</li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if delivery %} active{% endif %}">
                        <a href="{% if delivery %}javascript:;{% else %}info--delivery.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/frontal-truck.svg" class="leftmenu__icon"></svg>
                            <span>Доставка</span>
                        </a>
                    </li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if payment %} active{% endif %}">
                        <a href="{% if payment %}javascript:;{% else %}info--payment.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/credit-card2.svg" class="leftmenu__icon"></svg>
                            <span>Оплата</span>
                        </a>
                    </li>
                </ul>
                <ul class="cabinet__left--section stnd-block stnd-block_min">
                    <li class="cabinet__left--section-name">Подъем и сборка</li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if furniturelifting %} active{% endif %}">
                        <a href="{% if furniturelifting %}javascript:;{% else %}info--lifting-of-furniture.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/arrow-grey-double-top.svg" class="leftmenu__icon"></svg>
                            <span>Подъем мебели</span>
                        </a>
                    </li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if furnitureassembly %} active{% endif %}">
                        <a href="{% if furnitureassembly %}javascript:;{% else %}info--furniture-assembly.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/wrench.svg" class="leftmenu__icon"></svg>
                            <span>Сборка мебели</span>
                        </a>
                    </li>
                </ul>
                <ul class="cabinet__left--section stnd-block stnd-block_min">
                    <li class="cabinet__left--section-name">Помощь покупателю</li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if throughsite %} active{% endif %}">
                        <a href="{% if throughsite %}javascript:;{% else %}info--through-site.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/grid-world.svg" class="leftmenu__icon"></svg>
                            <span>Заказ через сайт</span>
                        </a>
                    </li>
                    <!-- SVG Injected example -->
                    <li class="cabinet__left--section-item nav-left--section-item{% if throughpost %} active{% endif %}">
                        <a href="{% if throughpost %}javascript:;{% else %}info--through-post.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/envelope.svg" class="leftmenu__icon"></svg>
                            <span>Заказ по почте</span>
                        </a>
                    </li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if bonus %} active{% endif %}">
                        <a href="{% if bonus %}javascript:;{% else %}info--bonus.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/Pictogr_BonusnieBalli.svg" class="leftmenu__icon"></svg>
                            <span>Бонусная программа</span>
                        </a>
                    </li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if productreturn %} active{% endif %}">
                        <a href="{% if productreturn %}javascript:;{% else %}info--return.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/return-arrow.svg" class="leftmenu__icon"></svg>
                            <span>Возврат товаров</span>
                        </a>
                    </li>
                </ul>
                <ul class="cabinet__left--section stnd-block stnd-block_min">
                    <li class="cabinet__left--section-name">Связаться с нами</li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if contacts %} active{% endif %}">
                        <a href="{% if contacts %}javascript:;{% else %}info--contacts.html{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/maps-and-flags.svg" class="leftmenu__icon"></svg>
                            <span>Контакты</span>
                        </a>
                    </li>
                    <li class="cabinet__left--section-item nav-left--section-item{% if callback %} active{% endif %}">
                        <a href="{% if callback %}javascript:;{% else %}#{% endif %}" class="leftmenu__link">
                            <svg data-src="img/ico-svg/edit1.svg" class="leftmenu__icon"></svg>
                            <span>Обратная связь</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!--cabinet__left-->