
<div class="recent-variants-wrap">
	<div class="recent-variants js-recent-variants-parent slider-default">
		<div class="wrapper">
			<div class="recent-variants__header">
				<h4 class="recent-variants__header-title">Вы просматривали</h4><!--  /.recent-variants__header-title -->
				<div class="slider-default__but-wrap recent-variants__but-wrap js-recent-variants__but-wrap">
					<button class="recent-variants__but recent-variants__but_prev el-arrow-but el-arrow-but_big el-arrow-but_prev js-recent-variants-prev"></button>
					<button class="recent-variants__but recent-variants__but_next el-arrow-but el-arrow-but_big el-arrow-but_next js-recent-variants-next"></button>
				</div><!--  /.recent-variants -->
			</div><!--  /.recent-variants__header -->
			<div class="recent-variants__container js-recent-variants js-target-blank">
				{% set items = 10 %} {% for i in range(0, items) %}
				<div class="recent-variants-item js-recent-variants__item">
					<div class="recent-variants-item__left">
						<a class="recent-variants-item__img" href="#" title="Бумага для принтера Svetocopy А4 500 листов, 80г/м2, белизна 146%CIE">
							<img src="/img/i1002003.jpg" alt="" />
						</a>
					</div>
					<div class="recent-variants-item__right">
						<a href="#" class="recent-variants-item__title hide-text hide-text_50" title="Бумага для принтера Svetocopy А4 500 листов, 80г/м2, белизна 146%CIE">Бумага для принтера Svetocopy А4 500 листов, 80г/м2, белизна 146%CIE </a>
						<div class="recent-variants-item__price"><b>245</b> руб.</div>
					</div>
				</div>
				{% endfor %}
			</div><!--  /.recent-variants-container -->
		</div><!--  /.wrapper -->
	</div><!--  /.recent-variants -->
</div><!--  /.recent-variants-conteiner -->
<div class="all-variants wrapper">
    <p>Можно приобрести капсулы для кофемашин — продукцию Dolce Gusto, Porto Rosso, Tassimo (нежный капучино, крепкий эспрессо, американо, легкий латте и пр.).</p>
    <p>Какао и кофе — популярные продукты. Второй адресован взрослым, а первый универсален, подходит и для детского рациона. Многие охотно пьют горячий шоколад, для него рекомендуем порошок фабрики «Коммунарка», традиционный «Золотой ярлык», дети любят вкус Nesquik.</p>
    <p>Выбрать какао или кофе бывает сложно — вариантов множество, поэтому наши менеджеры готовы дать консультации, чтобы вам удалось купить оптимальный по цене и вкусу продукт.</p>
</div>
