@import (reference) "index";

.page-404{
  padding: 104px 0;
  background-image: url('../img/404-bg.png');
  background-repeat: no-repeat;
  background-position: 0 104px;

  &__block{
    display: inline-block;
    height: 367px;
    margin-left: 695px;
  }

  &__img{
    margin: 39px 0;
  }

  &__title{
    font-size: 26px; 
    margin-bottom: 30px;
  }

  &__text{
    font-size: 18px;
    margin: 25px 0 40px;
    line-height: 26px;
  }

  &__link{
    
  }
}