@import (reference) "index";

/* Фирменные магазины */
.brandshop-root {
    font-size: 0;
}

.brandshop-group {
    font-size: 0;
}

.brandshop-hits {
    margin-top: 30px;
}

.brandshop-slider {
    @h: 140px;
    @m: 10px;
    position: relative;
    padding: 0 50px;
    //padding-right: 44px;
    margin: auto;
    width: 1252px;
    margin-bottom: 50px;

    &_deactive {
        margin: 0;
        padding: 0;
        width: 100%;

        button {
            display: none;
        }

        .brandshop-slider__wrap {
            display: flex;
            overflow: visible !important;

            > * {
                flex-grow: 1;
            }
        }
    }

    &__wrap {
        overflow: hidden;
        white-space: nowrap;
        padding-top: 5px;
        //width: calc(~'100% + 1px');
        width: 100%;
    }

    &__item {
        height: @h;
        width: 155px;
        text-align: center;
        display: block;
        margin: 0 5px @m+10 5px;
        // display: inline-block;
        vertical-align: top;
        border: @border;
        border-radius: 3px;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        .last-mr;

        &:hover {
            box-shadow: @shadow;
        }

        img {
            display: block;
            margin: auto;
        }
    }

    &__text {
        white-space: normal;
        font-size: 13px;
        font-weight: 800;
        width: 100%;
        display: block;

        .active & {
            color: @cm-orange;
        }
    }

    &__img {
        height: 85px;
    }
}

.brandshop-footer {
    border-top: @border;
    border-bottom: @border;
    border-width: 2px;
    padding: 30px 0;
    margin-top: 100px;
    margin-bottom: 115px;
    .border-wide;

    &__wrap {
        .flex-row;
        .flex-row_nowrap;
        align-items: flex-start;
        overflow: hidden;
    }

    //height: 424 px;
    &__item {
        //border-right: @border;
        padding: 15px 15px 0;
        width: 20%;
        height: 100%;
        position: relative;

        &:first-child {
            &::after {
                display: none;
            }
        }

        &:last-child {
            border: none;
        }

        &::after:extend(.pseudo all) {
            width: 1px;
            height: 9000px;
            background: @cm-grey1;
            right: 0;
            top: 0;
        }
    }

    &__logo {
        margin-bottom: 35px;
        width: 210px;
        display: inline-block;

        img {
            width: 100%;
        }
    }

    &__menu {
        &-item {
            display: block;
            font-weight: 800;
            margin-bottom: 15px;
        }
    }

    &__list {
        font-size: 13px;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
        .last-mb;

        &-wrap {
            display: block;

            &:nth-child(2) /* , & + brandshop-footer__list-wrap */ {
                margin-top: 10px;
            }
        }

        &-title {
            font-weight: 800;
            line-height: 120%;
        }

        &-item {
            padding-left: 10px;
            display: inline-block;
            margin: 5px 0;
            line-height: 120%;
        }
    }
}
