@import (reference) "index";

body.mod-cart {
    // .header .header-fix {
    //     position: relative !important;
    // }

    // #go-to-top,
    // #ico-menu {
    //     display: none !important;
    // }
}

.cart-main,
.cart-widget {
    display: inline-block;
    vertical-align: top;
    word-break: break-word;
}

.cart-main {
    width: calc(~"100% - (@{w-float-b} + @{w-float-b-mrg})");

    &__link {
        .link-def;
        font-size: 13px;
    }
}

.cart-widget {
    width: @w-float-b;
    margin-left: @w-float-b-mrg;

    &__container{
        .stnd-block-style;
        overflow: hidden; 
    }


    &__call {
        .bubble, .el-bubble {
            width: 285px;
            right: -24px;
            top: 8px;
        }
    }
    
    &__action {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        &::after {
            display: none !important;
        }

        &-alert {
            color: @cm-orange;
            margin: 0;
            font-size: 13px;
            display: inline-block;
            padding-left: 27px;
        }

        .el-question {
            margin-left: 5px;
            position: relative;
            top: -2px;
        }

        .bubble {
            width: 390px;
            left: -320px;
            transform: translateX(0);

            .bubble__wrap {
                font-size: 14px;
            }

            img {
                margin-right: 20px;
                float: left;
            }
        }
    }

    &__agreement {
        color: @ct-grey2;
        font-size: 11px;
        margin: 0;

        a{
            color: @ct-blue;
        }
    }

    &__b {
        background-color: #ffffff;
        padding: 15px 20px;
        position: relative;
        border: 0;

        & + & {
            border-top: 1px solid @ca-grey2;
        }

        &_bonus {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &_main {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &_ico {
            font-size: 12px;
            height: 52px;

            padding: 0 20px;
            line-height: 52px;
        }
    }

    &__hr {
        margin: 20px 0;
    }

    &__title {
        font-size: 17px;
        margin-bottom: 15px;
    }

    &_action {
        .cart-footer__item_right {
            .flex;
            .flex_justify;
        }

        .cart-footer__caption_top {
            vertical-align: bottom;
        }

        .cart-footer__caption_bottom {
            vertical-align: top;
        }
    }

    &__addon {
        font-size: 13px;
        margin-top: 20px;
        display: block;
        padding-left: 29px;
        height: @checkbox;
        line-height: @checkbox;

        .el-checkbox {
            width: 20px;
            height: 20px;
        }
    }

    &__col {
        display: inline-block;
        vertical-align: top;

        &_left {
            width: 80%;
        }

        &_right {
            width: 20%;
        }
    }

    &__wishlists {
        display: inline-block;
        margin-right: 20px;

        .bubble {
            margin-left: -10px;
        }
    }

    &__item {
        margin-bottom: 15px;

        &_right {
            text-align: right;
        }
    }

    & &__but.el-button{
        width: 100%;
        text-align: center;
        .textVcenter(45px);
        font-weight: 400;
        font-size: 20px;

        &_disabled {
            &:hover {
                color: @cm-grey;
                border: @border !important;
            }
        }
    }

    &__summ {
        .clearfix;
        font-size: 20px;
        text-align: left;

        .cart-widget__caption-right {
            margin-left: 40px;
        }

        .rub {
            font-size: 13px !important;
        }

        > span:first-child {
            position: relative;
            top: 2px;
        }
    }

    &__ico {
        font-size: 12px;
        display: block;
        padding-left: 35px;
        //height: 100%;
        position: relative;
        margin: 0;

        .align-v;

        &::before,
        i {
            position: absolute;
            left: 0;
        }

        .ico-rotate {
            top: 5px;
        }

        &_flower {
            height: 20px;
            line-height: 20px;
        }
    }

    &__info-conteiner {
        text-align: left;
    }

    &__info {
        font-size: 16px;
        margin-right: 45px;
        display: inline-block;
        vertical-align: middle;
        color: @cm-orange;

        &_active {
            color: @ca-green;
        }
    }

    &__caption {
        margin-bottom: 25px;
        position: relative;
        vertical-align: middle;
        //width:265px; chk чтобы не выезжало
        margin-left: auto;
        .last-mb;

        &-info {
            .clearfix;
            font-size: 16px;
            text-align: left;
            margin-bottom: 10px;

            & + .cart-widget__summ {
                margin-top: 34px;
            }

            &:empty {
                display: none;
            }

            &::before {
                display: none;
            }

            > span:first-child {
                position: relative;
                top: 2px;
            }
        }

        &-right {
            float: right;

            .cart-widget__caption-info & {
                font-size: 18px;
            }

            .rub {
                margin-left: 4px;
            }
        }

        p {
            font-size: 13px;
            color: @cm-grey;
            position: absolute;
            text-align: justify;
        }
    }

    &__service {
        margin-bottom: 30px;
        height: 86px;
        .flex-rl;
        //justify-content: flex-start; IE не прижимает к лево
        align-items: center;

        &-but {
            & &__but {
                margin-right: 20px;
                height: 40px;
                line-height: 40px;
                min-width: 200px;
                padding: 0;
                padding-right: 20px;
                border-radius: 3px;
                color: @ct-main !important;
                text-align: left;

                &:last-child {
                    margin-right: 0;
                }

                &_wishlist {
                    border-color: @cm-orange !important;
                }
            }
        }
    }

    &__notice {
        max-width: 660px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 14px;

        &-item {
            margin: 0;
            font-size: 11px;
            line-height: 150%;
            margin-bottom: 10px;

            a {
                font-weight: 700;
                border-bottom: 1px dotted;
                border-color: inherit;
            }

            &_mark {
                color: @cm-orange;
            }

            &_2 {
                &::before {
                    top: 11px;
                }
            }
        }
    }

    &-good {
        //smacss chk
        display: flex;
        margin-bottom: 20px;
        font-size: 13px;
    
        &__counter {
            margin-top: 10px;
            color: @cm-grey;
        }
    
        &__img {
            margin-right: 10px;
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.cart-item-summ-conteiner {
    width: 100px;
}


.promocode {
    padding: 0 20px;
    border-top: @border;
    border-bottom: none;
    width: calc(~"100% + 40px");
    position: relative;
    left: -20px;
    cursor: pointer;

    &:hover {
        background-color: @cm-grey2;
    }

    &:last-child{
        margin-bottom: 20px;
        border-bottom: @border;
    }

    &__title:extend(.ico all) {
        .dropdown;
        padding-left: 0;

        &::before {
            right: 0;
            left: auto;
            margin-right: 3px;
            .svg-ico;
            background-size: contain;
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-grey-light2.svg");
            width: 10px;
            height: 16px;
        }
    }

    &__form {
        @wbut: 125px;
        position: relative;
        padding-bottom: 10px;

        input[type="text"],
        input[type="submit"] {
            border: 1px solid @ca-grey1;
            border-radius: @radius;
            height: 35px;
            padding: 0 20px;
        }

        input[type="text"] {
            border-right: none;
            width: calc(~"100% - @{wbut} + 4px");
        }

        input[type="submit"] {
            position: absolute;
            right: 0;
            width: @wbut;
            text-transform: uppercase;
            background-color: #ffffff;
            font-size: 13px;
            color: #333333;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: @radius-but;
            border-bottom-right-radius: @radius-but;

            &:hover {
                background-color: #f2f2f2;
            }
        }

        ul {
            list-style: none;
            padding-left: 5px;
            font-size: 12px;
            margin-bottom: 0;
        }
    }
}
