@import (reference) "index";

.catalog-conteiner {
    //overflow: hidden;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 7px;
    .clearfix;

    &__title{
        .title-stnd
    }
}

.catalog {
    .clearfix; 

    &_2level{ 

    }

    &_nobottom{ 
        overflow: hidden;
        .pagination-perpage-container,
        .b-seo-text{
            display: none;
        }
    }

    &_nocatalog {//для тех где нет каталожной сетки. Например, расходные материалы
        .stnd-block-style;
    }

    &__text {
        margin-bottom: 20px;

        &:empty {
            display: none;
        }

        *:first-child {
            margin-top: 0;
        }
    }

    &.content__right{
        margin-left: -6px;
        float: right;
    }
}

.sorting {
    .ext-catalog-topbot;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: @border1;
    height: 61px; 

    &__block {
        &_select {
            // &:extend(.align-v);
            position: relative;
            display: inline-block;
        }

        &_view {
            position: absolute;
            top: 0;
            right: 13px;
            height: 100%;
            font-size: 0;
            direction: rtl;
        }
    }

    &__title {
        .sorting__block_select & {
            margin-right: 10px;
        }
    }

    &__select {
        width: 180px;
        padding-left: 7px;
        height: 24px;
    }

    &__view {
        &::before {
            content: "";
            display: block;
        }

        &_grid{
            &:before{
                border-right: @border1;
            }
        }
    }
}

.filters {
    &__block {
        border-bottom-color: transparent;
        position: relative;
        padding: 0;

        &:first-child {
            .filters__title{
                padding-top: 20px;
            }
        }
        &:not(:last-child) {
            border-bottom: @border1;
            .filters_1level &{
                border: 0;
            }
        }

        &:hover:not(.filters__block_nohover) {
            // background-color: @cm-grey2;
        }

        &_nounwrap {
            //mod
            padding: 20px 25px;
        }
    }

    &__title {
        font-weight: 600;
        margin: 0;
        display: block;
        padding: 20px 25px; //паддинг без учета иконки
        position: relative;
        font-size: 14px;
        color: #000;
        .filters_1level &{
            padding: 12px 25px;
        }
        .filters_1level .filters__block:first-child &{
            padding-top: 15px;
        }
        .filters_1level .filters__block:last-child &{
            padding-bottom: 15px;
        }

        &.js-slide{ 
            cursor: pointer;
        }
        
        > span{
            margin-right: 28px;
            display: inline-block;
            line-height: 19px;
        }
        &.js-slide {
            padding: 13px 40px 13px 25px;

            .filters__block:first-child &:after{
                top: 23px;
            }

            .filters_1level &{
                padding-right: 45px;
            }

            &::after {
                content: "";
                position: absolute;
                height: 15px;
                width: 7px;
                top: 16px;
                right: 26px;
                .svg-ico-contain;
                background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/up-arrow-black.svg");
                transform: rotate(-90deg);
                transition: transform .3s;
            }

            &:hover::after {
                background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/up-arrow-orange.svg");
            }
        }
    }

    &__block.closed &__title {
        &::after {
            transform: rotate(90deg);
        }
    }

    &__name {
        display: inline-block;
        font-size: 14px;
        line-height: 19px;

        span {
            vertical-align: middle;
        }

    }

    &__content {
        // margin-top: 20px;
        // margin-bottom: 10px;
        position: relative;
        display: block;
        margin: 0;
        padding: 0 30px 20px 25px;
        overflow: hidden;
        margin-top: 8px;

        .filters_1level &{
            margin-top: 0;
            padding-bottom: 0;
            margin-bottom: 12px;
        }

        &-tag{
            display: inline-flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }
    }

    &__filter {
        display: flex;
        .flex-row;
        .flex-row_nowrap;
        /*         display: block; */
        align-items: center;
        color: @ct-main;
        position: relative;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 10px;
            .filters_1level &{
                margin-bottom: 6px;
            }
        }

        &:hover {
            color: inherit;

            .filters__name {
                color: @ct-blue;
            }

            .el-checkbox {
                //background-color: fade(@grey-d,30%); chk фильтры
                border-color: @ca-grey1;
                background-color: #f3f3f3;
            }
        }

        .el-checkbox {
            margin-right: 10px;
            flex-shrink: 0;
            /*             float: left;
            display: block; */
        }

        &-text {
            //overflow: hidden;
            display: block;
        }

        &-count {
            font-size: 11px;
            line-height: normal;
            color: @categ-count-color;
            margin-left: 10px;
            vertical-align: middle;
            font-weight: 400;
        }
    }

    &__but-showres {
        width: 100%;
        margin-bottom: 15px;
        padding: 0 !important;
        font-size: 15px !important;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__but-show {
        font-size: 12px;
        margin-top: 15px;
        .link-def;
    }

    &-tag {
        margin-bottom: 10px;
        margin-right: 10px;

        &:nth-child(even) {
            margin-right: 0;
        }

        &__tag {
            display: inline-block;
            cursor: pointer;
            line-height: 14px;
            font-size: 12px;
            padding: 5px 25px 5px 15px;
            border-radius: 3px;
            background-color: @ca-grey3;
            color: #333333;
            word-break: break-word;
            position: relative;
            margin: 0;
            &:hover{
                color: inherit;
            }
        }

        &__x {
            display: inline-block;
            width: 9px;
            height: 9px;
            vertical-align: middle;
            margin-left: 10px;
            .svg-ico-contain;
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cancel-black.svg");
            .align-v;
            position: absolute;
            right: 10px;
        }

        &__tag:hover &__x {
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cancel-orange.svg");
        }
    }
}

.filters-show {
    text-align: center;
    margin: 0;
    right: -205px;

    .slider-range + & {
        right: -192px;
    }

    &__but {
        width: 140px;
        height: 30px;
    }

    .bubble__wrap {
        text-align: center;
        white-space: nowrap;
    }
}

.pagination-perpage-container{
    .ext-catalog-topbot;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);

    margin-top: -1px;
    border-top: @border;
    justify-content: space-between;
    z-index: @z-6;
}
.ext-catalog-topbot{
    .stnd-box();
    padding: 15px 20px;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.catalog-items_list #itemsGrid,
.catalog-items_grid #itemsList{
    display: none;
}

.nav.nav_categories,
.bx-filter,
.filters.filters_1level{
    .stnd-box();
    margin-bottom: 20px;
}
