//sitemap

@map-item-toggler-p-t: 8px; //padding
@map-item-toggler-p-r: 9px;
@map-item-toggler-p-b: 8px;
@map-item-toggler-p-l: 10px;
@map-item-toggler-w: 10px;
@map-item-toggler-h: 5px;
@map-item-toggler-rotate: 40deg;
@map-item-toggler-c: #bcbcbc;
@map-item-toggler-c-h: #a3a3a3;
@map-item-toggler-full-w: @map-item-toggler-p-l + @map-item-toggler-w + @map-item-toggler-p-r;
@map-item-toggler-full-h: @map-item-toggler-p-t + @map-item-toggler-h + @map-item-toggler-p-b;

.map-columns {
    width: 100%;
    max-width: 1280px;
    font-size: 0;
    margin: 0 auto;
    padding: 8px 5px;

    a {
        &:hover {
            opacity: .8;
        }
    }

    // margin-top: 30px;
    td {
        vertical-align: top;
        width: 25%;
    }

    ul {
        padding-left: 0;

        li {
            padding-left: 10px;
            padding-right: @map-item-toggler-full-w;
            margin-bottom: 10px;
            display: block;
            line-height: normal;

            // & + li {
            // 	margin-top: 10px;
            // }
            &::before {
                display: none;
            }
        }
    }

    .map-level-0 {
        a {
            display: inline-block;
            line-height: normal;
            vertical-align: middle;
            font-size: 15px;
        }

        & > li {
            // padding-left: 25px;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 45px;

            &:last-child {
                margin-bottom: 0;
            }

            & > a {
                font-size: 18px;
                font-weight: 400;
            }

            ul {
                margin-top: 10px;
                margin-bottom: 20px;
            }

            & > ul {
                margin-top: 17px;
            }
        }
    }

    .map-level-1 {
        & > li {
            padding-left: 0;
        }
    }
}

[class*="map-level-"]:not(.map-level-0):not(.map-level-1) {
    display: none;

    .active > & {
        // display: block;
    }
}

.map-item-toggler {
    display: inline-block;
    width: @map-item-toggler-full-w;
    height: @map-item-toggler-full-h;
    margin-right: -@map-item-toggler-full-w;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    // margin-left: 9px;
    transition: transform .3s;
    // position: absolute;
    // top: 0;
    // right: 0;
    margin-bottom: -4px;
    cursor: pointer;

    &::before,
    &::after {
        content: "";
        width: @map-item-toggler-h+1;
        height: 2px;
        background-color: @map-item-toggler-c;
        position: absolute;
        bottom: 2px+@map-item-toggler-p-b;
    }

    &::before {
        left: 0+@map-item-toggler-p-l;
        transform: rotate(@map-item-toggler-rotate);
    }

    &::after {
        right: 0+@map-item-toggler-p-r;
        transform: rotate(-@map-item-toggler-rotate);
    }

    .active > & {
        transform: rotate(-180deg);

        // &::before {}

        // &::after {}
    }

    .map-item:not(.active) > a:hover + &,
    &:hover {
        &::before,
        &::after {
            background-color: @map-item-toggler-c-h;
        }
    }
}

.map-item {
    position: relative;

    > a {
        display: inline !important;
        position: relative;
        // padding-right: @map-item-toggler-w+(@map-item-toggler-p*2);
    }
}
