@import (reference) "index";

.ext-order-td {
    padding: 5px;
    font-size: 16px;
    vertical-align: top;
}

.wishlist {

    //smacss chk
    &__title {
        padding: 0 10px 10px 10px;
        display: none;
    }

    &__b-add {
        margin: 0 0 23px 0;

        > .el-button {
            width: 100%;
            margin: 0;
        }

        > form {
            display: none;
        }
    }
}

.cart-empty {
    margin: 100px 0 215px;

    &__left {
        float: left;
        margin-right: 100px;
        margin-left: 50px;
    }

    // &__right {}

    &__img {
        //:extend(.el-icon-circle)
        background-image: url("../img/cart.png");
        padding: 100px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__but {
        width: 440px;
        .textVcenter(60px);
        text-align: center;
        border-radius: 3px;
        font-size: 20px;
        margin-top: 20px;
    }

    &__text {
        margin-bottom: 10px;
    }

    &__title {
        color: @cm-grey;
        font-size: 20px;
        font-weight: 400;
    }
}

.b-compliment {
    @width: 508px;
    @pad: 20px;
    .stnd-box;

    &__counter {
        margin-top: 15px;
    }

    &__conteiner {
        //padding: 18px 0 18px 27px;
        padding: 32px 24px;
        border-radius: 3px;
        margin-bottom: 40px;
        position: relative;

        // &_main {}
    }

    &__info {
        .box-grey-dark;
        width: calc(~"100% - (@{width} + @{pad})");
        display: inline-block;
        vertical-align: top;

        &_wide {
            display: block;
            width: 100%;
        }

        &-text {
            overflow: hidden;
            font-size: 13px;

            p:first-child {
                margin-top: 0;
            }
        }

        &-img {
            float: right;
            margin-left: 30px;
            height: 140px;
        }

        p {
            margin: 0;
        }
    }

    &__notice {
        color: #999999;
        font-size: 14px;
        margin-bottom: 32px;
        margin-top: -10px;

        &_active,
        &_active b {
            color: @ca-green;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 23px;
        margin-top: -3px;
    }

    &__balance {
        color: @cm-orange;
        margin-top: 20px;
        position: absolute;
        bottom: 25px;
    }

    &__list-container {
        width: @width;
        display: inline-block;
        vertical-align: top;
        margin-right: @pad;
    }

    &__list {
        .el-box-border {
            margin-bottom: 7px;
        }
    }
}

.gift-calc {
    flex-wrap: nowrap;

    &__img {
        width: 60px;
        height: auto;
    }

    &__name {
        width: 250px;
        //padding-left: 20px;
        padding-right: 20px;
    }

    &__balls {
        // width: 90px;
        width: 100px;
        text-align: left;
        white-space: nowrap;
        padding-left: 20px;
    }
}

.b-payer-conteiner {
    max-width: 850px;
    margin: auto;
}

.b-payer {
    margin-bottom: 70px;
    margin-top: 64px;

    &__conteiner {
        vertical-align: top;
        padding-top: 30px;
        padding-left: 45px;
        padding-right: 45px;
    }

    &__item {
        margin-bottom: 20px;
        white-space: nowrap;
        text-align: left;
    }

    &__label {
        font-size: 20px;
        font-weight: 800;
        vertical-align: middle;
        position: relative;
        top: -2px;
        margin-left: 15px;
    }

    &__descript {
        font-size: 13px;
        text-align: left;
        padding-left: 45px;
        .lh-def;
    }

    &__img {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    .datepicker {
        float: left;
    }
}

.b-order-info {
    margin-bottom: 90px + 50px;

    &__title {
        font-size: 20px;
        font-weight: 400;
    }

    &__conteiner {
        vertical-align: top;
        position: relative;
        padding-left: 50px;
        padding-right: 50px;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__table {
        margin: auto;
    }

    &__td:extend(.ext-order-td) {
        &_title {
            text-align: right;
            white-space: nowrap;
        }

        &_data {
            text-align: left;
        }
    }

    &__but {
        position: absolute;
        bottom: -50px;
    }
}

.order-footer {
    @el-h: 40px;
    margin-top: 40px;
    .clearfix;
    text-align: right;
    //margin-bottom: 130px;
    position: relative;

    &_center {
        text-align: center;
    }

    .el-button&__back {
        height: @el-h;
        line-height: @el-h;
        color: @ct-main;
        min-width: 110px;
    }

    &__submit {
        height: @el-h;
        line-height: @el-h;
        padding-right: 40px;
        padding-left: 40px;
        margin-left: 40px;
        min-width: 150px;
    }

    &__left {
        float: left;
        text-align: left;
    }

    &__title {
        margin: 0;
        margin-bottom: 15px;
    }

    .el-button_grey {
        width: 110px;
    }

    .form__item {
        margin-bottom: 30px;
    }
}

.order-footer-comment {
    .form__item {
        position: relative;
        top: -20px;
    }

    .form__textarea {
        height: 190px;
        width: 640px;
    }
}

.order-footer-info {
    padding-left: 35px;

    &_order {
        width: 230px;
        font-size: 13px;
        padding: 0;
        margin-top: 15px;
        margin-bottom: 40px;

        .order-footer-info__row {
            font-size: inherit;
        }
    }

    .flex-rl > & {
        flex: 1 1 auto;
    }

    &__row {
        text-align: left;
        font-size: 19px;
        padding-bottom: 20px;

        &_main {
            border-top: @border;
            padding-top: 20px;
            padding-bottom: 25px;
            font-size: 23px;
            /*          .order-footer-info__left{
                font-size: 18px;
            } */
        }
    }

    &__right {
        float: right;
        font-weight: 800;
    }
}

.action-compliments-conteiner {
    //min-height: 54px;
    border: none;
}

.action-compliments {
    .clearfix;
    border: 2px solid @ca-green;
    padding: 5px;
    max-width: 936px;
    padding-right: 70px;
    position: relative;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 30px;
    }

    &__img {
        height: 90px;
        width: auto;
        float: left;
        vertical-align: middle;
        margin-right: 30px;
    }

    &__title {
        font-size: 15px;
        font-weight: 700;
        display: block;
        margin-bottom: 5px;

        & + br {
            display: none;
        }
    }

    &__text {
        font-size: 14px;
        overflow: hidden;
        vertical-align: middle;
        line-height: 140%;
        margin: 0;
        margin-top: 4px;

        a {
            color: @cm-orange;
        }
    }
}

.b-popular {
    .bg-wide;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 100px;
    margin-top: 70px;

    &__header {
        .title-1;
        .header-underitems;
        display: block;
    }
}

.box-label-payment-conteiner{
    display: flex;
}
.box-label-payment {
    width: 230px;
    height: 125px;

    &__wrap {
        padding: 17px 20px;
    }

    &__title {
        display: block;
        font-size: 16px;
        height: 30px;
        top: 0;
        font-weight: 600;
    }

    &__text {
        display: block;
        color: @ct-grey1;
        font-size: 13px;
        line-height: 150%;
        top: 0;
    }
}

.box-label-compliment {
    @h: 86px;

    border: none;
    height: @h;

    &__text {
        font-size: 14px;
        padding-right: 30px;
        line-height: 120%;
        // троеточие
        -webkit-box-orient: vertical!important;
        display: -webkit-box!important;
        -webkit-line-clamp: 3;
        box-orient: vertical;   
        overflow: hidden;
    }

    &__wrap {
        padding: 10px;
        padding-left: 15px;
        width: 100%;
        height: @h;
    }
}


.order-main {
    .el-button.el-button_ghost2 {
        font-size: 14px;
    }
}

.cart-widget-button {
    .link-def;
    font-size: 13px;
    margin-top: 15px;
}

.cart-widget {
    &__city {
        i {
            zoom: 1.3;
        }
    }

    &__result {
        .flex-rl;
        margin-bottom: 10px;

        .svg-ruble{
            font-weight: 600;
            font-size: 19px;
        }
    }

    &__textarea {
        height: 160px;
    }

    &__label {
        font-size: 13px;
        margin-top: 20px;
    }

    &__change-but {
        .cart-widget-button;
    }

    &__show-full {
        cursor: pointer;
        .cart-widget-button;
        margin-top: 25px;

        &.opened {
            font-size: 0;

            &::after {
                content: attr(data-opened);
                .cart-widget-button;
            }
        }
    }

    &__scroll {
        max-height: 60px;
        overflow-y: hidden;
        overflow-x: hidden;

        &.scrolled {
            overflow: auto !important;
        }

        &.opened {
            max-height: 230px !important;
            transition: 0.5s;
        }
    }

    .stnd-title {
        margin-bottom: 20px;
    }
}


#order-requisites {
    display: none;
}

.ext-thankyou-wrap{
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 692px;
    margin-bottom: 25px;
}
.order-banner{
    .ext-thankyou-wrap();
    width: 708px;
}
.order-thankyou{
    .stnd-box();
    .ext-thankyou-wrap();
    margin-top: 23px;
    font-size: 16px;

    &__but.el-button{
        .textVcenter(28px);
        font-size: 14px;
    }

    &__header{
        width: 100%;
        height: 200px;
        background: linear-gradient(254.69deg, #16D487 35.43%, rgba(64, 185, 136, 0.82) 99.61%);
        color: #fff;
        font-weight: bold;
        line-height: 41px;
        text-align: center;
        padding-top: 30px;

        .h1{
            margin-top: 25px;
            font-size: 30px;
        }
    }

    &__body{
        padding: 30px 35px;
    }

    &__table{
        table-layout: fixed;
        width: 100%;
        margin-bottom: 30px;

        &-body{
            tr:first-child td{
                padding-top: 30px;
            }
            tr:last-child td{
                padding-bottom: 30px;
                border-bottom: @border;
            }
        }

        td{
            padding: 7.5px 0;
            width: 50%;
            word-break: break-word;
            vertical-align: top;
            line-height: 22px;

            &:last-child{
                text-align: right;
            }
        }

        strong{
            color: #000;
        }

        b{
            font-weight: 600;
            color: @ct-main;
        }

        time{
            font-size: 14px;
        }
    }

    &__caution{
        padding-left: 45px;
        position: relative;
        display: block;
        .lh-def;

        &::before {
            .align-v();
            content:'';
            width: 30px;
            height: 30px;
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/info-blue.svg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 0;
        }
    }
}

.b-addresses{

    textarea{
        max-width: 650px;
    }

    &-right{
        width: 369px;
        margin-top: 30px;
        line-height: 19px;
    }

    .el-arrow-list{
        margin-top: 3px;
    }
}

.b-contacts{

    &__form{
        width: 295px;
        display: inline-block;
        vertical-align: top;

        .form__input {
            width: 100%;
        }
    }

    &-right{
        margin-left: 60px;
        display: inline-block;
        width: 360px;
        vertical-align: top;
        line-height: 19px;
        color: @ct-grey1; 

        &__title{
            display: block;
            font-weight: normal;
            font-size: 17px;
            line-height: 23px;
            color: #000000;
            margin-bottom: 14px;
        }
    
        &__text{
            margin-bottom: 35px;
            line-height: 19px;
        }

        &__social{

        }
    }
}
