@import (reference) "index";

.variant {
    &__notice {
        font-size: 14px;
        color: #c5c5c5;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__prop-main {
        // margin-top: 20px;
        margin-top: 10px;
    }

    &__prop-title {
        margin-bottom: 10px;
        font-size: 13px;
        font-weight: 700;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item {
        position: relative;
        min-height: auto;
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;

        &-row{
            margin-bottom: 40px;
        }

        .item&:hover {
            box-shadow: 0 0;
            z-index: initial;
        }

        &_last {
            border-top: 0;
        }

        .item__buy {
            min-width: 179px;
        }

        .item__price {
            font-size: 27px;
            font-weight: 700;
            position: relative;
            top: -1px;

            &-descr {
                font-size: 14px;
            }

            // &_main {}

            b {
                font-size: 30px; 
                line-height: 41px;
                font-weight: 700;
            }
        }

        .item__counter {

            // position:relative;
            // top: 5px;
            &__input {
                width: 52px;
                height: 40px;
                font-size: 18px; //padding-top: 5px;
            }

            button {
                // height: 30px;
                // width: 30px;
            }

            .input-group-btn {
                width: 40px;
                height: 40px;
            }
        }

        .item__articul {
            font-size: 13px;
        }

        .item__status {
            font-size: 14px; // border-bottom: 0;
            margin: 0;
            margin-top: 7px;
            margin-bottom: 16px;
        }

        .item__rating {
            margin-bottom: 10px;
        }

        &-descr {
            font-size: 13px;
            line-height: 15px;
            position: relative;

            &:first-child {
                //убрал тот бред с:
                padding-left: 41px;
            }

            svg, img {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%); // max-width: 30px;
                height: 15px;
                width: auto;
            }

            .box-svg {
                height: 17px;
                width: 15.75px;

                * {
                    fill: @ca-blue;
                }
            }

            .truck-svg {
                height: 15px;
                width: 24.67px;
            }

            .shopping-bag-svg {
                height: 15px;
                width: 17.38px;
            }

            .return-arrow-svg {
                height: 15px;
                width: 15.61px;
            }

            .coins-svg {
                height: 15px;
                width: 16.25px;
            }
        }
    }

    &__b-img {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        padding: 27px 25px 25px 24px !important;
        position: relative;
        flex-shrink: 1; //IE10 shrink fix

        .mobile-tablet({
            display: block;
        });

        &-toggler {
            padding: 0 35px;
            position: relative;
        }
    }

    &__b-descr,
    &__b-buy {
        // width: 410px;
        width: 401px;
        flex-shrink: 1; //IE10 shrink fix
    }

    &__b-descr {
        min-width: 401px;
        padding: 27px 25px 35px 25px !important;
        position: relative;
    }

    &__b-buy {
        min-width: @w-right-variant;

        .b-grid__b:first-child {
            border: none;
            padding: 15px 25px 20px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            .variant__item-descr {
                margin-top: 26px;
            }
        }

        .b-grid__b:nth-child(2) {
            padding: 26px 25px 26px 25px;
        }

        .b-grid__b:nth-child(3) {
            padding: 26px 25px 28px 25px;
        }

        .item__price-old.deactive {
            .hidden;
        }
    }

    &__right {
        /* top: -17px;
		position: relative; */
        width: calc(~"100% - 550px");
        white-space: nowrap;

        > * {
            white-space: normal;
        }
    }

    @pad: 40px; //vw/@vw

    &__b-properties {
        width: 410px;
        display: inline-block;
        vertical-align: top;
        padding-right: @pad;
        border-right: @border;
        padding-bottom: 30px;
        padding-top: 17px;
    }

    &__b-feauters {
        display: inline-block;
        vertical-align: top;
        padding-left: @pad;
        padding-top: 17px;
        max-width: 318px;
        position: relative;
    }

    &__feauters-list {
        margin-bottom: 30px;
    }

    &__discount-get {

        // margin-top: 44px;
        &-title {
            font-size: 13px;
            width: 100%;
        }

        .discount-get__bubble {
            margin-top: 44px;
        }

        .discount-get__discount {
            margin-top: 14px;
            margin-bottom: 25px;
        }
    }

    &__list {
        margin-bottom: 10px;
        position: relative;
        height: 26px;
        line-height: 26px;

        // &-title {}
    }

    &__suitable {
        font-size: 13px;
        padding-left: 1px;
        margin-top: 16px;
    }

    &__b-variants {
        width: 100%; //padding-right: 40px; //vw/@vw

        //max-width: 963px;
        //margin-bottom: 40px;
        &-bottom {
            .clearfix;
            text-align: left;

            &_novariants {
                &:first-child {
                    margin-left: @margin-cabinet;
                }
            }
        }
    }

    .b-tabs {
        width: 100%;
        border: 0;
        margin-top: 45px;
        /*    Продолжение линни     */
        position: relative;

        &::after,
        &::before {
            .shadow-bottom;
            top: @h-tab+5px;
            bottom: 0;
            width: 100%;
        }

        &::before {
            left: -100%;
        }

        &::after {
            left: calc(~"100% + 25px"); //right: 0;
            //display: none;
        }

        /*    Продолжение линни     */
        &__item {
            min-height: 250px;
        }
    }

    &__b-last {
        width: 100%;
    }

    &__anchor {
        color: fade(@ca-blue, 60%);
        font-size: 13px;
        margin: 7.5px 0;
        display: inline-block;
        transition: color .2s ease; // border-bottom: 1px dotted @cm-orange;

        &:hover {
            color: @ca-blue;
        }
    }

    &__more {
        @arrow: ~'.variant__more-arrow';
        color: @ct-blue;
        font-size: 13px;
        transition: none;
        white-space: nowrap;

        &_abs {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: inherit;
        }

        &-text{
            white-space: normal;
        }

        &:hover {
            color: @ca-blue; 
            @{arrow}{
                path{
                    fill: @ca-blue;
                }
            }
        }

        @{arrow}{
            height: 10px;
            vertical-align: middle;
            margin-top: -2px;
            path{
                fill: @ct-blue;
            }
        }
    }

    &__question {
        //vertical-align: top;
        color: fade(@ca-blue, 60%);

        &:hover {
            color: @ca-blue;
        }

        [type="image/svg+xml"] {
            vertical-align: middle;
            margin-top: -3px;
            margin-bottom: -1px;
            margin-right: 7.5px;
            width: 18px;
            height: 17px;
        }
    }

    &__possible {
        font-size: 14px;
        letter-spacing: 1px;
        vertical-align: middle;
        padding-left: 30px;

        &-text {
            vertical-align: middle;
        }

        &-bubble {
            width: 284px;
            white-space: initial;
            font-size: 13px;
            background-color: #ffffff;

            a {
                // color: @cm-orange;
                color: fade(@ca-blue, 60%);

                &:hover {
                    color: @ca-blue;
                }
            }
        }

        &.ico-flower {
            //padding-left: 40px !important;
        }

        b {
            font-size: 20px;
            margin-left: 20px;
            margin-right: 0;
            vertical-align: middle;
        }
    }

    &__link-label {
        margin-top: 15px; //float: right;
        margin-left: 40px;
        font-size: 12px;
        height: 30px;

        .el-button& {
            height: 30px;
            font-size: 12px;
            background-color: @ca-grey4;

            > span {
                line-height: 28px;
                padding: 0 10px;
            }
        }

        &:first-child {
            margin-right: 0;
            margin-left: 0;
        }
    }

    &__descript {
        &-text {
            margin-bottom: 40px;
            text-align: justify;
            padding-right: 30px;
        }

        * {
            line-height: 140%;
        }

        ul {
            padding: 0;
            padding-left: 15px;

            li:nth-child(even) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }

    &__deleted {
        background-color: @cm-grey2;

        &-title {
            font-size: 18px;
            color: @red;
            font-weight: 700;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 10px;
        }

        &-text {
            margin-bottom: 25px;
        }

        &-but {
            width: 100%;
            text-align: center;
        }
    }
}

.product {

    &__item {
        margin-bottom: 40px;
    }

    &__sub-title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
        display: block;

        &_big {
            //большие отступы
            margin-top: 58px;
            margin-bottom: 30px;
        }

        &:hover {
            color: inherit;
        }

        .el-arrow-but {
            margin-left: 20px;
        }

        & + .el-arrow-wrapper{
            top: 2px;
        }
    }

    &__middle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 38px; 
        height: 525px;

        > *:not(:last-child) {
            margin-right: 10px;
        }
    }

    &-top-row {
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 15px;
        display: flex;
        align-items: center;

        & &__item + &__item {
            margin-left: 22px;
        }

        .variant__anchor {
            margin: 0;
        }
    }
}

.products-row {
    display: flex;
    justify-content: space-between;
    padding: 0 !important; //box-shadow: @shadow2;
    flex-wrap: nowrap;

    &-wrapper {
        max-width: 100%; // min-width: 16.6666667%;
        display: inline-block;
    }

    &__product {
        width: 213.5px;
        padding: 25px;
        display: block;
        color: #333333;

        &:hover {
            color: #333333;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        }

        span {
            display: block;
        }

        // &:not(:last-child) {
        border-right: 1px solid #e4e4e4; // }

        .p-image {
            height: 150px; // max-height: 200px;
            padding: 0 5px;
            margin-bottom: 27px; // display: block;
            display: flex;
            justify-content: center;
            flex-direction: column;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .p-status {
            line-height: normal;

            &__availability {
                display: inline-block;
                font-size: 13px;
                border-bottom: 1px solid;

                &_green {
                    color: #009900;
                    border-bottom-color: #009900;
                }
            }
        }

        .p-name {
            text-align: left;
            font-weight: 400;
            margin-top: 18px;
            line-height: normal; // padding: 0 10px;
            display: inline-block;
        }

        .p-price {
            margin-top: 14px;
            margin-bottom: 3px;
            font-size: 19px;
            font-weight: 700;
        }
    }
}

.feauters-list {
    width: 270px; //для баббла
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    font-size: 13px;
    position: relative;
    z-index: @z-2;

    &__item {
        margin-top: 20px;

        &:first-child {
            margin: 0;
        }
    }

    &__text {
        margin: 0; //color: @cm-orange;
    }

    &__link {
        font-size: 14px;
        color: @ct-main;
        vertical-align: middle; //padding-left: 50px;
        position: relative;
        outline-color: transparent;

        span {
            border-bottom: 1px dotted @ct-main;
        }

        i {
            display: inline-block;
            margin-right: 10px;
            .sprite(@ico-check);
        }

        &::before {
            /*          content: "";
			position: absolute;
			top: -3px;
			left: 0; */
        }

        &:hover,
        &.active {
            color: #000000;
        }
    }

    .bubble-conteiner {
        //margin-top: 5px;
    }
}

.filter-nav {
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
        .el-button;
        display: block;
        width: 100%;
        padding: 15px;
        font-weight: 500;
        font-size: 16px;
        border-bottom: @border;
        text-transform: uppercase;
        text-align: left;
        white-space: normal;
        line-height: 120%;

        &:hover {
            background-color: @cm-grey2;
        }
    }
}

.b-preview {
    &__left {
        display: inline-block;
        vertical-align: top;
        width: calc(~"100% - 690px");
    }

    &__right {
        display: inline-block;
        vertical-align: top;
        width: 690px;
        max-height: 390px;
        padding-left: 90px;
    }

    &__suitable {
        font-size: 13px;
    }
}

@rate-pad: 30px;

.rate-current {
    .flex-row;
    .flex-row_nowrap;
    .flex-rl; //height: 73px; //padding: 0 @rate-pad;
    //margin-bottom: 35px;
    //border-bottom: 1px solid #e9e9e9;
    //padding-bottom: 35px;
    // margin-top: 15px;
    align-items: baseline;
    margin-bottom: 16px;

    &__left {
        .flex-row;
        .flex-row_nowrap;
    }

    &__title {
        margin-right: 25px;
    }

    &__rating {
        margin-right: 20px;
    }

    // &__but {}
}

.rate-like {
    //width: 160px; //.flex-row_nowrap;
    // .align-v;
    // transform: translateY(0%);
    right: 5px;
    bottom: 25px;
    position: absolute; // right: 0;

    &__comm {
        font-size: 14px;
        text-align: center;
        color: #888888;
        position: absolute;
        right: 100%;
        margin: -1px 20px 0 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &__bubble {
        margin-bottom: 20px;
        top: -70px;
        font-size: 13px;
        font-weight: 700;
        left: auto;
        transform: none;
        right: 4px;
        width: 160px;

        .bubble__wrap {
            text-align: center;
        }
    }
}

@rate-comments__header--width: 209px;

.rate-comments {
    // margin-bottom: 55px;
    position: relative; //padding-left: @rate-pad;

    &__item {
        // border-bottom: @border;
        // padding-top: 25px;
        padding-top: 12px; // padding-bottom: 40px;
        margin-bottom: 26px;
        position: relative;

        &:last-child {
            //border:none;
        }

        &_last {
            margin-bottom: 0;
        }
    }

    &__header {
        margin-bottom: 15px;
        width: @rate-comments__header--width;
        position: absolute;
        left: 0;
        top: 12px;

        &-title {
            display: block;
            font-size: 18px;
            font-weight: 400;
            padding-right: 10px;
            margin-bottom: 14px;
        }

        &-date {
            display: block; // border-left: 1px solid @cm-grey;
            color: @cm-grey;
            font-size: 15px; // padding-left: 10px;
            margin-bottom: 29px;
        }
    }

    &__row {
        margin-bottom: 31px;
        position: relative;
        padding-left: @rate-comments__header--width;
        padding-right: 315px;

        &-title {
            // color: @cm-grey;
            font-size: 16px;
            font-weight: 700;
        }

        &-text {
            // padding-left: 130px;
            font-size: 14px;
            line-height: 18px;
            max-width: 1060px; //font-size: 13px;
            word-break: break-word;
            margin-top: 15px;
            margin-bottom: 0;
        }

        &_last {
            margin-bottom: 0;
        }
    }
}

.rate-pagi {
    position: static;
}

.rate-add {
    color: #333333;

    &_outer{
        .stnd-block;
        .stnd-shadow;
        margin-top: 40px;
        padding: 25px @rate-pad 25px 25px !important;
    }
    &__title {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 22px;
        font-weight: 700; // color: @ct-main  !important;
        // border-bottom: 1px solid transparent;
        display: block;
    }

    &__sub-title {
        font-size: 16px;
        font-weight: 700;
        display: block;
        margin-bottom: 37px;
    }

    & &__rate {
        margin-bottom: 25px !important;

        label {
            margin-top: 3px !important;
        }
    }

    &__main {
        display: inline-block;
        vertical-align: top; //margin-right: 100px;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        -ms-flex-line-pack: center;
        align-content: center;
        /* align-items: center; */
    }

    &__but {
        margin-top: 10px;
    }

    &__info {
        // text-align: center;
        display: inline-block;
        vertical-align: top;
        width: 433px;
        margin-top: 76px;

        &_wrapper {
            padding: 25px 25px 12px;
            background-color: #f7f7f7;
        }

        &-title {
            font-size: 22px;
            font-weight: 700;
            margin: 0 0 25px;
        }

        &-descr {
            font-size: 14px;
            line-height: 18px;
            margin: 0 0 8px;
        }

        &-count {
            font-weight: 700;
            font-size: 25px;
            margin-top: 15px;
            margin-bottom: 25px;
        }

        &-text {
            font-size: 14px; // padding: 20px 20px 23px;
            // border: @border;
            border-radius: 3px;
            text-align: left; // width: 290px;
            margin: auto;
            padding: 20.5px 0;
            white-space: nowrap;

            &:not(:last-child) {
                border-bottom: @border;
            }

            p {
                margin: 0;
                margin-bottom: 25px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            img,
            [type="image/svg+xml"] {
                margin-right: 23px;
                width: 26px;
                vertical-align: middle;
            }

            // .infinity-svg {
            // 	width: 26px;
            // }
            // .chat-svg {
            // 	width: 24px;
            // }
        }
    }

    .el-button.el-button_addreview {
        float: left;
        margin-left: 125px;
        font-size: 16px;
    }
}

.rate-counter {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 2px;
}

.variant-action {
    padding: 15px;
    text-align: left;
    border: 1px solid @ca-green1;
    border-radius: 3px;
    max-width: 240px;
    font-size: 13px;

    &__title {
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 25px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__img {
        margin-bottom: 20px;
    }

    &__date {
        margin-bottom: 25px;
    }

    & &__link {
        width: 100%;
        color: #333333;
    }
}

.ya-share2 {
    margin-top: 15px;

    &__list {
        list-style: none;
        font-size: 0;
        padding: 0;
    }
}

.link-label {
    & > span {
        padding: 0 !important;
    }

    &__item {
        position: relative;

        &:first-child {
            padding-left: 10px;
        }

        &:last-child {
            padding-right: 10px;
        }

        &::before:extend(.pseudo) {
            height: 40px;
            top: -13px;
            width: 100%;
        }
    }
}

.nav-pills {
    & > li {
        float: left;

        & > a {
            font-weight: 800;
            text-transform: uppercase;
            border-radius: 0;
        }

        & + li {
            margin-left: 2px;
        }

        &.active > a,
        &.active > a:hover,
        &.active > a:focus {
            color: #000000;
            background-color: transparent;
            border-bottom: 2px solid #bdca8c;
        }
    }
}

.nav-stacked {
    & > li {
        float: none;

        & + li {
            margin-top: 2px;
            margin-left: 0;
        }
    }
}


//tabs
// .nav.nav-tabs {
//     margin-bottom: 0;
//     padding-left: 0;
//     list-style: none;
//     &::before,
//     &::after {
//         content: " ";
//         display: table;
//     }
//     &::after {
//         clear: both;
//     }
//     & > li {
//         position: relative;
//         & > a {
//             position: relative;
//             display: block;
//             padding: 10px 25px;
//             img {
//                 max-width: none;
//             }
//         }
//         &.disabled > a {
//             color: #888888;
//             &:hover,
//             &:focus {
//                 color: #888888;
//                 text-decoration: none;
//                 background-color: transparent;
//                 cursor: not-allowed;
//             }
//         }
//     }
//     .open > a,
//     .open > a:hover,
//     .open > a:focus {
//         background-color: transparent;
//         border-color: #292733;
//     }
//     .nav-divider {
//         height: 1px;
//         margin: 9.5px 0;
//         overflow: hidden;
//         background-color: #e5e5e5;
//     }
// }
@nav-tabs-bb: 3px solid @cm-orange !important; //border-bottom

.nav-tabs {
    position: relative;
    background: transparent;
    border-bottom: 2px solid #e4e4e4;
    padding: 0;
    .clearfix;

    .dropdown-menu {
        margin-top: -1px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    & > li {
        float: left;
        margin-bottom: -2px;
        min-width: 179px;

        &:hover {
            &::after {
                content: "";
                width: 100%;
                position: absolute;
                bottom: -1px; // border-bottom: @nav-tabs-bb !important;
            }
        }

        &:focus {
            &::after {
                content: "";
                width: 100%;
                position: absolute;
                bottom: -1px;
                border-bottom: @nav-tabs-bb !important;
            }
        }

        & > a {
            // background: #ffffff;
            color: #333333;
            min-height: 51px;
            height: 51px;
            display: flex;
            align-items: center;
            line-height: 1.625;
            border-radius: 0 0 0 0;
            text-align: center;
            justify-content: space-around;
            font-size: 17px;
            padding: 10px 25px;

            &:hover {
                background: none !important;
                border: none !important;
                color: @cm-orange;
            }
        }

        &.active {
            background-color: rgba(249, 98, 5, .06);

            &::after {
                content: "";
                width: 100%;
                position: absolute;
                bottom: -1px;
                border-bottom: @nav-tabs-bb !important;
                transition: border-color 0ms;
            }

            &:hover,
            &:focus {
                &::after {
                    content: "";
                    width: 100%;
                    position: absolute;
                    bottom: -1px;
                    border-bottom: @nav-tabs-bb !important;
                }
            }

            > a {

                // border: none !important;
                &:hover,
                &:focus {
                    // border: none !important;
                }
            }
        }

        &.disabled > a {
            color: #888888;

            &:hover,
            &:focus {
                color: #888888;
                text-decoration: none;
                background-color: transparent;
                cursor: not-allowed;
            }
        }
    }

    .tab-counter {
        font-size: 13px !important; // color: #808080 !important;
        color: @cm-orange !important;
        margin-left: 10px;
        margin-top: 1px;
    }
}

.nav-justified,
.nav-tabs.nav-justified {
    width: 100%;

    & > li {
        float: none;

        & > a {
            text-align: center;
            margin-bottom: 5px;
        }
    }
}

.nav-justified {
    & > .dropdown .dropdown-menu {
        top: auto;
        left: auto;
    }
}

@media (min-width: 768px) {
    .nav-justified > li,
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;

        & > a {
            margin-bottom: 0;
        }
    }
}

/* , .tabs-info .nav-tabs > li.active  */

.nav-tabs-justified {
    border-bottom: 0;

    > li {
        > a {
            margin-right: 0;
            border-radius: 0;
        }
    }

    > .active {
        > a {
            border: 1px solid #dddddd;

            &:hover {
                border: 1px solid #dddddd;
            }

            &:focus {
                border: 1px solid #dddddd;
            }
        }
    }
}

.nav-tabs.nav-justified {
    border-bottom: 0;

    > li {
        > a {
            margin-right: 0;
            border-radius: 0;
        }
    }

    > .active {
        > a {
            border: 1px solid #dddddd;

            &:hover {
                border: 1px solid #dddddd;
            }

            &:focus {
                border: 1px solid #dddddd;
            }
        }
    }
}

.navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 21px;
    border: 1px solid transparent;

    &::before {
        content: " ";
        display: table;
    }

    &::after {
        content: " ";
        display: table;
        clear: both;
    }
}

.navbar-header {
    &::before {
        content: " ";
        display: table;
    }

    &::after {
        content: " ";
        display: table;
        clear: both;
    }
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;

    &::before {
        content: " ";
        display: table;
    }

    &::after {
        content: " ";
        display: table;
        clear: both;
    }
}

.navbar-collapse.in {
    overflow-y: auto;
}

.navbar-fixed-top {
    .navbar-collapse {
        max-height: 340px;
    }
}

.navbar-fixed-bottom {
    .navbar-collapse {
        max-height: 340px;
    }
}

.tabs-info {
    padding: 0 !important;
    margin-top: 0;

    .tab-content {
        min-height: 340px;
    }
}

.tab-nav {
    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 9999px;
        // height: 54px;
        left: 100%;
        height: 63px;
    }

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 9999px;
        // height: 54px;
        right: 100%;
        height: 63px;
    }
}

// ul.main-char-tabs.nav.nav-tabs {
// 	a {
// 		background-color: transparent;
// 		font-family: "Roboto Medium", "Roboto";
// 		font-weight: 400;
// 		font-style: normal;
// 		color: rgba(51, 51, 51, 0.8) !important;
// 		font-size: 13px;
// 		text-transform: uppercase;
// 		line-height: 150%;
// 		padding: 0 30px;
// 	}
// }
@tab-content-pt: 25px;
@tab-content-pr: 25px;
@tab-content-pb: 25px;
@tab-content-pl: 25px;

.tab-content {
    color: #333333;
    padding: @tab-content-pt @tab-content-pr @tab-content-pb @tab-content-pl;

    > .tab-pane {
        display: none;
        visibility: hidden;
    }

    > .active {
        display: block;
        visibility: visible;
    }

    &_title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 25px;
        text-align: left;

        &:first-child {
            margin-top: 0;
        }
    }

    &_text {
        font-size: 15px;
        line-height: 22px;
    }

    hr {
        margin-right: -@tab-content-pr;
        margin-left: -@tab-content-pl;

        &:last-child {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .nav-tabs-justified {
        > li {
            > a {
                border-bottom: 1px solid #dddddd;
                border-radius: 0 0 0 0;
            }
        }

        > .active {
            > a {
                border-bottom-color: #f6f6f6;

                &:hover {
                    border-bottom-color: #f6f6f6;
                }

                &:focus {
                    border-bottom-color: #f6f6f6;
                }
            }
        }
    }

    .nav-tabs.nav-justified {
        > li {
            > a {
                border-bottom: 1px solid #dddddd;
                border-radius: 0 0 0 0;
            }
        }

        > .active {
            > a {
                border-bottom-color: #f6f6f6;

                &:hover {
                    border-bottom-color: #f6f6f6;
                }

                &:focus {
                    border-bottom-color: #f6f6f6;
                }
            }
        }
    }
}

@media (min-width: 991px) {
    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        float: left;
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        visibility: visible !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: visible;
    }

    .navbar-fixed-top {
        .navbar-collapse {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .navbar-static-top {
        .navbar-collapse {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .navbar-fixed-bottom {
        .navbar-collapse {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top {
        .navbar-collapse {
            max-height: 200px;
        }
    }

    .navbar-fixed-bottom {
        .navbar-collapse {
            max-height: 200px;
        }
    }
}

@media screen and (min-width: 1051px) {
    .nav-tabs {
        br {
            display: none;
        }
    }
}

@media screen and (max-width: 1050px) {
    .nav-tabs {
        > li {
            min-width: 0;
        }
    }
}

@media screen and (max-width: 780px) and (min-width: 644px) {
    .nav-tabs {
        > li {
            > a {
                padding: 10px;
            }
        }
    }
}

@media screen and (max-width: 643px) {
    .nav-tabs {
        padding: 0;
        border-bottom: 0;

        > li {
            width: 100%;
            background-color: #ffffff;
            margin-bottom: 0;
            border-bottom: 1px solid #dfdfdf;

            > a {
                justify-content: end;

                > span {
                    > br {
                        display: none;
                    }
                }
            }

            &.active,
            &:hover {
                border-bottom-color: @cm-orange;
            }

            &:last-of-type {
                border-width: 3px !important;
            }
        }
    }
}

.choice-color {
    font-size: 0;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;

    .bubble-conteiner {
        right: 0;
    }

    &-title {
        font-size: 13px;
        color: #797979;
        padding-bottom: 15px;
    }

    &__el {
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border: 0;
        position: relative;
        cursor: pointer;

        & + & {
            margin-left: 10px;
        }

        &::after {
            content: "";
            position: absolute;
            top: -4px;
            left: -4px;
            right: -4px;
            bottom: -4px;
            width: auto;
            height: auto;
            // width: calc(~"100% + 8px");
            // height: calc(~"100% + 8px");
            border: @border;
            border-radius: 50%;
            display: none;
        }

        &:hover::after {
            display: block;
        }

        &.active::after {
            display: block;
            border-color: @cm-orange;
        }

        &_default {
            border: @border; // width: 29px;
            // height: 29px;
            width: 31px;
            height: 31px;
            text-align: center;
            line-height: 28px;
            font-size: 13px;
            overflow: visible;

            &::after {
                content: "";
                position: absolute;
                top: -4px;
                left: -4px;
                right: -4px;
                bottom: -4px;
                width: auto;
                height: auto;
                // width: calc(~"100% + 8px");
                // height: calc(~"100% + 8px");
                border: @border;
                border-radius: 50%;
                // display: none;
            }

            &.active::after {
                border-color: @cm-grey;
            }
        }
    }
}

.carousel-variant {
    &_video {
        .carousel-variant__wrapper {
            width: 250px;
        }

        #variantimg-scroll-but-down {
            right: 90px;
        }

        .ico-video {
            visibility: visible;
        }
    }

    &__b {
        display: flex;
        position: absolute;
        text-align: left;
    }

    &__video {
        position: absolute;
        right: 0;
        top: 0;
    }
}


.frame-image {
    cursor: pointer;

    &_frame {
        /* Для картинок в рамке */
        // width: 390px;
        // height: 390px;
        width: 397px;
        height: 394px;
        overflow: hidden;
        display: block;
        // margin-left: @m-variant-img;
        position: relative;
        margin: 0 auto;

        &::before {
            .pseudo;
            bottom: -10px;
            width: 100%;
            height: 10px;
            background-color: #ffffff;
        }

        &::after {
            .pseudo;
            left: auto;
            right: -10px;
            top: 0;
            width: 10px;
            height: 100%;
            background-color: #ffffff;
        }

        img {
            position: relative;
            max-width: 100%; 
            max-height: 100%;
        }
    }
}

/* ОТЗЫВЫ В КАРТОЧКЕ */
#review .first-section {
    &:extend(.box-grey);
    overflow: hidden;
    margin-bottom: 15px;
    padding: 0 30px;
}

#review .big-star-wrap {
    overflow: hidden;
    float: left;
    margin: 10px 30px 10px 0;
}

#review .big-star {
    float: left;
    width: 23px;
    height: 23px;
    background: url("../img/sprite.png") no-repeat;
    background-position: 0 -1929px;
    margin-right: 5px;
}

#review .first-section p.for-stars {
    float: left;
    width: 370px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#review .first-section p.for-stars span {
    font-size: 20px;
    margin-right: 20px;
}

#review .blue-button {
    float: right;
    width: 250px;
    font-size: 15px;
    font-weight: 700;
    text-transform: none;
    margin-right: 8.33%;
}

#review .blue-button.write {
    margin-right: 0;
}

#review .blue-button::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/sprite.png") no-repeat;
    background-position: 0 -1952px;
    margin-right: 20px;
    vertical-align: middle;
}

#review .second-section {
    overflow: hidden;
    background: #f2f2f2;
    padding: 8px 50px;
    border: 1px solid #e4e4e4;
}

#review .second-section a,
#review .second-section p {
    display: block;
    float: left;
    font-size: 15px;
    line-height: 1.3;
    color: #333333;
    margin: 0 15px;
}

#review .second-section a {
    text-decoration: underline;
}

#review .second-section a::after {
    content: "";
    display: inline-block;
    border: 5px solid transparent;
    margin-left: 8px;
    vertical-align: middle;
}

#review .second-section a.down::after {
    border-top-color: #333333;
    margin-bottom: -3px;
}

#review .second-section a.up::after {
    border-bottom-color: #333333;
    margin-top: -3px;
}

#review .third-section {
    padding: 25px;
    display: table;
}

#review .third-section .comment-wrap {
    margin-bottom: 25px;
    display: table-row;
}

#review .third-section .comment-wrap .col-1,
#review .third-section .comment-wrap .col-2,
#review .third-section .comment-wrap .col-3 {
    display: table-cell;
    padding: 15px;
}

#review .third-section .comment-wrap .col-1 {
    width: 16.667%;
    vertical-align: top;
}

#review .third-section .comment-wrap .col-2 {
    width: 66.667%;
    vertical-align: top;
}

#review .third-section .comment-wrap .col-3 {
    width: 16.667%;
    vertical-align: middle;
}

#review .third-section p {
    font-size: 15px;
}

#review .third-section .estimate {
    font-size: 15px;
    line-height: 1;
}

#review .third-section .name {
    font-size: 14px;
    font-weight: 700;
}

#review .third-section .date {
    color: #888888;
}

#review .third-section p.small {
    font-size: 13px;
    line-height: 1.2;
}

#review .third-section .thumbs {
    overflow: hidden;
    margin-bottom: 20px;
}

#review .third-section .thumbs .thumb {
    width: 50%;
    overflow: hidden;
    cursor: pointer;
}

#review .third-section .thumb.up {
    float: left;
}

#review .third-section .thumb.down {
    float: right;
    text-align: right;
}

#review .third-section .thumbs p {
    width: 64px;
    height: 30px;
    text-align: center;
    padding: 4px 5px;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    margin: 0;
}

#review .third-section .thumb.up p:hover {
    border-color: #00cc00;
}

#review .third-section .thumb.down p:hover {
    border-color: #cc0000;
}

#review .third-section .thumb.down p::before,
#review .third-section .thumb.up p::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 23px;
    background: url("../img/sprite.png") no-repeat;
    margin-top: -4px;
    margin-right: 8px;
    vertical-align: middle;
}

#review .third-section .thumb.up p::before {
    background-position: 0 -1972px;
}

#review .third-section .thumb.down p::before {
    background-position: -20px -1972px;
}

#review .third-section .estim-comm {
    font-size: 13px;
    text-align: center;
    color: #888888;
}

#review .fourth-section .for-input {
    height: 36px;
    margin-bottom: 10px;
}

#review .fourth-section .for-comment {
    height: 100px;
    margin-bottom: 10px;
}

#review .fourth-section label {
    font-size: 14px;
    padding: 10px 0;
}

#review .fourth-section input,
#review .fourth-section textarea {
    width: 100%;
    height: 36px;
    font-size: 13px;
    padding: 0 25px;
    border: 1px solid #e4e4e4;
}

#review .fourth-section textarea {
    height: 100px;
    padding: 10px 25px;
    resize: none;
}

#review .fourth-section .references,
.goods-card .description .references {
    padding: 20px;
    border: 1px solid #e4e4e4;
    margin-top: 46px;
}

#review .fourth-section .references p,
.goods-card .description .references p {
    font-size: 14px;
    line-height: 1.2;
}

#review .fourth-section .references p span,
.goods-card .description .references p span {
    font-weight: 700;
}
