@import (reference) "index";

@h-alert: 60px;
.flash-message-block {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: @z-0;
    width: 100%;
    //display: block!important;
    //.flex;
    //box-shadow: 3px 3px 6px rgba(50, 50, 50, 0.3);
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.2);
    height: @h-alert;
    display: none;

    &&_black {
        background-color: #333333;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.44705882);
        color: #ffffff;
        height: 70px;
        position: relative;

        .alert {
            border-color: #ffcc00;
            background-color: #333333;
            height: 70px;
            position: relative;
        }

        .flash-message-block__del {
            transform: translateY(-50%);
            top: 50%;
        }

        .flash-message-block__text {
            text-shadow: 0 0;
            line-height: 18px;
            width: 90%;
        }

        .flash-message-block__item {
            padding-left: 25px;
        }
    }

    &&_autoheight {
        height: auto;

        .alert {
            height: auto;
        }

        ul {
            width: 90%;
        }

        .flash-message-block__item {
            position: relative;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    .wrapper {
        height: 100%;
    }

    p {
        margin: 0;
    }

    ul {
        .flex-row;
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 70%;
        height: 100%;
    }

    &__item {
        .flex-row;
        .align-all;
        justify-content: flex-start;
        list-style: none;
    }

    &__del {
        position: absolute;
        right: -10px;
        top: 16px;
        z-index: 10;

        &::before,
        &::after {
            background-color: @ca-grey1;
        }
    }

    & &__but {
        width: 180px;
        color: @cm-orange;
        position: absolute;
        right: 100px;
        //top: 5px; //moz
        font-size: 12px;
        .textVcenter(31px);
        font-weight: 600;
    }

    &__text {
        .mobile-tablet({
            width: 50%
        });
        .desktop( {
            width: 60%
        } );
        //width: 460px;
        margin-left: 15px;
        width: 70%;
    }

    &__name{
        color: @ct-blue;
    }
}

.alert {
    //padding: 0 35px 0 14px;
    //margin-bottom: 18px;
    //display: block!important;
    padding: 5px 35px 4.5px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 100%;
    height: @h-alert; //min-height:
    background-color: #ffffff;
    border: 2px solid @cm-orange;
    // box-shadow: 3px 3px 6px rgba(50, 50, 50, 0.3);
    border-left: 0;
    border-right: 0;
    border-top: 0;

    display: none;
    position: fixed;
}

.alert-heading {
    color: inherit;
}

.alert .close {
    position: relative;
    top: 8px;
    right: -21px;
    line-height: 18px;
}

.alert-success {
    // background-color: #dff0d8;
    // border-color: #d6e9c6;
    // color: #468847;
    color: @ct-main;
}

.alert-danger,
.alert-error {
    // background-color: #f2dede;
    // border-color: #eed3d7;
    color: @red;
}

.alert-info {
    // background-color: #d9edf7;
    // border-color: #bce8f1;
    color: #3a87ad;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}

.alert-block p + p {
    margin-top: 5px;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}

.js-flash-noanimate,
.js-flash-noanimate .alert {
    display: block;
}
