@import (reference) "index";
@rem: .71; // 71% - на связном rem*@rem = 10 а у нас 14
//@margin: 2rem * @rem;//3.58rem 50px
@margin: 50px;

body.mod-content.con-index.act-index {
    .body-grey;
}

.b-article-previews-tags {
    .b-previews-tags;

    &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
    }

    &__tag {
        .el-tag;
    }

    &_bot-tags {
        margin-left: -15px;
    }

    &_bot-tags &__title {
        margin-left: 15px;
    }

    &_bot-tags &__tag {
        // width: auto;
        min-width: 0;
        margin-left: 15px;
        margin-bottom: 15px;
    }
}

.b-promotion-previews-tags {
    .b-previews-tags;
    display: flex;
    &__tag {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        padding: 0 30px 0 25px;
        line-height: 36px;
        background-color: @cm-grey2;
        border-radius: 40px;
        text-align: center;
        box-shadow: @shadow1;
        color: #fff;
        margin-right: 15px;
        &:hover{
            color: #fff;
        }
    }

    &__svg{
        margin-right: 12px;
        vertical-align: middle;
        max-height: 13px;
        max-width: 15px;
    }
}
.b-previews-tags{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 0;
}


.b-article-previews-listing {
    padding: 0 1rem 3rem;
    margin-top: 30px;

    &__paginator {
        min-height: 34px;
        margin-bottom: 50px;
        margin-top: -25px;

        .pagination-conteiner {
            margin: 0;
        }

        .b-article-previews-listing_promotion &{
            margin-top: 10px;
            margin-bottom: -150px;
        }
    }

    & + .recent-variants-conteiner {
        margin-top: 85px;
    }
}

.b-article-previews-listing__inner {
    max-width: 156rem;
    margin: auto;
    position: relative;
}

@media only screen and (min-width: 0) {

    //768
    .b-article-previews-listing {
        padding: 0;
    }

    .b-article-previews-listing__inner {
        font-size: 0;
        line-height: 0;
    }
}

@media only screen and (min-width: 1600px) {
    .b-article-previews-listing {
        padding: 0;
    }

    .b-article-previews-listing__inner {
        position: relative;
        // left: -1rem
    }
}


.b-article-preview {
    position: relative;
    border-bottom: 25px;
    background-clip: padding-box;
    background-color: #ffffff;

    &__tags {
        position: absolute;
        bottom: 40px + 10px;
        left: 0;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__tag {
        border-radius: 50px;
        display: inline-block;
        font-size: 13px;
        font-weight: 700;
        padding: 5px 20px;
        color: #ffffff;
        line-height: normal;

        & + & {
            margin-left: 10px;
        }

        &_red {
            background-color: #ff4d4d;
        }
    }
}

@marginPromo: 30px;
.b-article-preview.b-article-preview_promotions {
    .stnd-box;
    overflow: hidden;
    margin-left: @marginPromo;
    margin-bottom: @marginPromo;
    width: calc(~"33.33333333333333% - "@marginPromo*2/3);
}
.b-article-preview_promotions.b-article-preview_promotion {
    width: 100%;
    margin-bottom: 60px;
    margin-left: 0;
}

@media only screen and (min-width: 0) {

    //768
    .b-article-preview {
        display: inline-block;
        vertical-align: top;
        width: calc(~"33.33333333333333% - "@margin*2/3);
        margin-bottom: @margin - 5px;
        margin-left: @margin;

        &:first-child,
        &:nth-child(3n+1) {
            margin-left: 0;
        }

        &:nth-child(3n+1) .b-tooltip {
            left: -@margin;
            transform: none;
        }

        &:nth-child(3n+1) .b-tooltip .b-tooltip__inner::before {
            left: @margin;
            transform: rotate(45deg);
        }
    }
}

@media only screen and (min-width: 1366px) {
    .b-article-preview {
        width: calc(~"33.33333333% - "@margin*2/3);
    }

    .b-article-preview:nth-child(3n+1) {
        // margin-left: @margin;
    }

    .b-article-preview:first-child,
    .b-article-preview:nth-child(4n+1) {
        // margin-left: 0;
    }

    .b-article-preview:nth-child(3n+1) .b-tooltip {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .b-article-preview:nth-child(3n+1) .b-tooltip .b-tooltip__inner::before {
        left: 50%;
        right: auto;
        transform: translateX(-50%) rotate(45deg);
    }

    .b-article-preview:nth-child(4n+1) .b-tooltip {
        left: -@margin;
        transform: none;
    }

    .b-article-preview:nth-child(4n+1) .b-tooltip .b-tooltip__inner::before {
        left: @margin;
        transform: rotate(45deg);
    }
}

.b-article-preview__inner {
    .stnd-block-style(hidden);

    &:hover {
        box-shadow: @shadow;
    }

    .b-article-preview.b-article-preview_promotions &{
        box-shadow: @shadow1;
    }
}


.b-article-preview__img-wrapper {
    position: relative;
    height: 300px;
    overflow: hidden;
    background: @ca-yellow;

    .b-article-preview_promotions &{
        height: 200px;
    }

    .b-article-preview_promotions.b-article-preview_promotion &{
        height: 340px;
    }
}

.b-article-preview__img-wrapper .b-article-preview__link {
    display: block;
}

.b-article-preview__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//используються на .b-article-preview__stats-wrapper
@b-article-preview__content-pad-t: 25px;
@b-article-preview__content-pad-r: 30px;
@b-article-preview__content-pad-b: 25px;
@b-article-preview__content-pad-l: 30px;

@promotions-pad-tb: 15px;
@promotions-pad-rl: 20px;

@promotion-pad-tb: 30px;
@promotion-pad-rl: 30px;


.b-article-preview__content {
    height: 265px;
    padding: @b-article-preview__content-pad-t @b-article-preview__content-pad-r @b-article-preview__content-pad-b @b-article-preview__content-pad-l;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    color: #666666;
    background-color: #ffffff;
    
    .b-article-preview_promotions &{
        padding: @promotions-pad-tb @promotions-pad-rl;;
        height: 100px;
    }

    .b-article-preview_promotions.b-article-preview_promotion &{
        min-height: 206px;
        height: auto;
        padding: @promotion-pad-tb @promotion-pad-rl;
    }
}

.b-article-preview__time,
.b-article-item-time {
    position: relative;
    font-size: 1.2rem*@rem;
    line-height: 2rem*@rem;
    overflow: hidden;
    color: #666666;
    
    .b-article-preview_promotions &{
        font-size: 12px;
    }
    .b-article-preview_promotions.b-article-preview_promotion &{
        font-size: 15px;
    }
}

.b-article-preview__time::after {
    bottom: 0;
    content: "";
    display: block;
    height: 1.5rem*@rem;
    position: absolute;
    right: 0;
    width: 6rem*@rem;
}

.b-article-preview__title {
    max-height: 8rem*@rem;
    margin: 0;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 600;
    line-height: 2.64rem*@rem;
    color: #000000;
    overflow: hidden;
    word-wrap: break-word;

    &::after {
        bottom: 0;
        content: "";
        display: block;
        height: 2.5rem*@rem;
        position: absolute;
        right: 0;
        width: 6rem*@rem;
    }

    .b-article-preview_promotions &{
        font-size: 14px; 
        line-height: 19px;   
        overflow: visible;
        max-height: initial;
        &:hover{
            color: #000000;
        }
    }
    .b-article-preview_promotions.b-article-preview_promotion &{
        font-size: 15px;
        line-height: 20px;
        font-weight: normal;
    }

    p{//фикс для WYSIWYG
        margin: 0;
        line-height: 20px;
    }
}

.b-article-preview__link {
    display: inline-block;
    height: 100%;

    &:after{
        .link-overhead();
    } 
}

.b-article-preview__text {
    position: relative;
    max-height: 6.6rem*@rem;
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    overflow: hidden;
    word-wrap: break-word;
}

.b-article-preview__text::after {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAABCAQAAAAoEQWKAAAAJ0lEQVQI12P8z8DAxMAMhSxwyArGCMgGx2wYNIJkRYEsSJAZDqEAALcFAgAAII1bAAAAAElFTkSuQmCC") 0 0 repeat-y;
    bottom: 0;
    content: "";
    display: block;
    height: 2.5rem*@rem;
    position: absolute;
    right: 0;
    width: 6rem*@rem;
}

.b-article-preview__app-wrapper {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: @margin;
    left: 3rem*@rem;
}

.b-article-preview__app {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 3rem*@rem;
    height: 3rem*@rem;
    box-shadow: inset 0 0 0 1px #666666;
    border-radius: 50%;
    cursor: pointer;
}

.b-article-preview__app:not(:last-child) {
    margin-right: 1rem*@rem;
}

.b-article-preview__app-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.b-article-preview__ticker {
    position: absolute;
    bottom: @margin;
    left: 3rem*@rem;
    display: inline-block;
    vertical-align: middle;
    max-width: 45%;
    max-height: 3.6rem*@rem;
    padding: .6rem*@rem 1rem*@rem;
    border-radius: .3rem*@rem;
    font-family: "OpenSans", sans-serif;
    font-size: 1.1rem*@rem;
    font-weight: 700;
    line-height: 1.2rem*@rem;
    color: #ffffff;
    text-transform: uppercase;
}

.b-article-preview__ticker-inner {
    max-height: 2.4rem*@rem;
    overflow: hidden;
}

@media only screen and (min-width: 0) {

    //768
    .b-article-preview__ticker {
        font-size: 9px;
        line-height: 10px;
    }

    .b-article-preview__ticker-inner {
        max-height: 20px;
    }
}

@media screen and (min-width: 990px) {
    .b-article-preview__ticker {
        font-size: 1.1rem*@rem;
        line-height: 1.2rem*@rem;
    }

    .b-article-preview__ticker-inner {
        max-height: 2.4rem*@rem;
    }
}

.b-article-preview__stats-wrapper {
    position: absolute;
    width: 100%;
    bottom: 25px;
    left: 0;
    padding-left: @b-article-preview__content-pad-l;
    padding-right: @b-article-preview__content-pad-r;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .b-article-preview_promotions &{
        padding-left: @promotions-pad-rl;
        padding-right: @promotions-pad-rl;
        bottom: @promotions-pad-tb;
    }
    .b-article-preview_promotions.b-article-preview_promotion &{
        padding-left: @promotion-pad-rl;
        padding-right: @promotion-pad-rl;
        bottom: @promotion-pad-tb;
    }
}

.b-article-container {
    width: 100%;
    background-color: #ffffff;
    padding: 50px @article-left;
}

.b-article-previews-show-all {
    .stnd-block-style();
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #ffffff;
    color: #333333;
    height: 50px;
    text-align: center;
    margin-bottom: 70px;

    &:hover {
        color: #333333;
        box-shadow: @shadow;
    }

    span {
        vertical-align: middle;
    }

    .el-arrow-but {
        margin-left: 48px;
        vertical-align: middle;
    }
}

.b-article-preview-photo-icons {
    position: absolute;
    left: 30px;
    bottom: 20px;

    &__ico {
        width: 68px;
        height: 68px;
        border-radius: 50%;
        display: block;
    }

    &__gift {
        background-color: @cm-orange;
        position: relative;

        &::before {
            .svg-ico-contain;
            content: "";
            position: absolute;
            width: 36px;
            height: 32px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("../img/ico/article-preview-gift.png");
        }
    }
}
