@import (reference) "index";

@b-article-text-mb: 35px;
@b-adticle-cont-w: 910px;

#page-publications {
    margin-bottom: 25px;

    + time {
        margin-top: 10px;
        font-size: 13px;
    }
}

.b-article {
    background-color: #ffffff;
    padding: 50px 30px;
    box-shadow: @shadow2;
    font-size: 0;

    &_article {
        padding: 0;
        box-shadow: 0 0;
        .b-article__content{
            padding-right: 0;
            width: 100%;
            font-size: inherit;
        }
    }

    &__p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 0 @b-article-text-mb;

        &_big {
            margin-top: 73px;
            font-size: 15px;
            font-weight: 700;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__content,
    &__nav {
        display: inline-block;
        vertical-align: top;
    }

    &__content {
        width: @b-adticle-cont-w;
        padding-right: 65px;
        font-size: 16px;
    }

    &__nav {
        width: calc(~"100% - @{b-adticle-cont-w}");
    }

    &-nav {
        position: relative;

        &__title {
            font-size: 24px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 10px;
        }

        &__items {
            display: block;
            width: 100%;
        }

        &__item {
            display: block;
            width: 100%;
            padding: 15px 20px;
            border: 1px solid @cm-grey1;
            border-bottom: 0;
            font-size: 15px;
            font-weight: 400;
            line-height: normal;

            &:last-child {
                border-bottom: 1px solid @cm-grey1;
            }

        }
    }

    &__b-img {
        display: block;
        margin: 37px 0 53px;
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__bot-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 75px;

        .el-views {
            vertical-align: middle;
            margin-right: 15px;
        }

        .ya-share2 {
            margin: 0;
        }
    }

    &__bot-left {
        margin-left: @article-left;
    }
}


.b-article-item {
    width: 830px;

    > *:not(#allrecords) {
        * {
            font-size: 14px !important;
            line-height: 143% !important;
        }

        & > *:not(iframe) /* ,& > *:not(.b-article-item__nowidth) */ {
            width: 100%;
        }

        *:empty:not(iframe) /* ,*:empty:not(.b-article-item__noempty) */ {
            display: none;
        }

        img {
            margin-left: auto !important;
            margin-right: auto !important;
            margin-bottom: 50px;
            margin-top: 35px;
            width: auto !important;
            height: auto !important;
            display: block !important;
        }

        p {
            margin: 0;
            margin-bottom: 35px;
        }

        h2,
        h3,
        h4 {
            margin-top: 70px;
            margin-bottom: 30px;
            font-size: 15px !important;
        }

        a {
            color: @cm-orange !important;
            border-bottom: 1px dotted !important;
        }

        li {
            margin-bottom: 1rem * @rem;
        }

        table {
            table-layout: fixed;
        }
    }
}

.b-article-item-time {
    color: @ct-main;
    line-height: 300%;
    padding-right: 5px;
}
//чтобы теги и заголовки не растягивались на всю ширину
.content__header-lr, 
.b-article-previews-tags_bot-tags{	
	max-width: 1280px;
    margin: auto;
}