@import (reference) "index";
@mrg1600: -10vw;
@mrg1900: -322px;

.SideEvent--default {
	display: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.SideEvent--default .SideEvent__close {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANAQMAAABIJXY/AAAABlBMVEUAAACLi4vqGlaGAAAAAXRSTlMAQObYZgAAAChJREFUCNdjcBBgeGDBUFDAYPGAQfYAA38DAzsDiASygSJAcaCsgwAAuuMJoIcuW8QAAAAASUVORK5CYII=');
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
	display: none;
	width: 25px;
	height: 25px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: .55;
}

.SideEvent--default .SideEvent__close:hover {
	opacity: 1;
}
.SideEvent--default .SideEvent__content {
  position: absolute;
  
  &:nth-child(2) { //скрытие большого изображения
    display: none!important;
  }
}
.SideEvent--default .SideEvent__image {
	display: block;
	width: 210px;
	height: auto;
}
@media (min-width: 1118px) and (max-width: 1599px) {

	.SideEvent--default {
		position: fixed;
		top: 250px;
		left: 0;
		z-index: 6;
		display: block;

    &.SideEvent--open .SideEvent__close {
      display: block;
    }

    &.SideEvent--open .SideEvent__preview {
      width: 0;
    }

    &.SideEvent--open .SideEvent__content {
      left: 10px;
      width:210px;
      height: 315px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
      visibility: visible;
      opacity: 1;
      background: #fff;
    }

    .SideEvent__image {
      height: 100%;
      width: auto;
      margin: auto;
    }

    &.SideEvent--right {
      left: auto;
      right: 0;

      .SideEvent__preview {
        background-position: 0 0;
      }
  
      .SideEvent__content {
        left: auto;
        right: 10px;
      }
    }

    .SideEvent__preview {
      width: 40px;
      height: 200px;
      background-position: top right;
      background-repeat: no-repeat;
      cursor: pointer;
      -o-transition: all .3s cubic-bezier(.215, .61, .355, 1);
      -moz-transition: all .3s cubic-bezier(.215, .61, .355, 1);
      transition: all .3s cubic-bezier(.215, .61, .355, 1);
    }

    .SideEvent__content {
      top: 0;
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      visibility: hidden;
      -o-transition: all .3s cubic-bezier(.215, .61, .355, 1);
      -moz-transition: all .3s cubic-bezier(.215, .61, .355, 1);
      transition: all .3s cubic-bezier(.215, .61, .355, 1);
    }
  }
}
@media (min-width: 1600px) {

	.SideEvent--default {
		 position: relative;
		 display: block;

    .SideEvent__preview {
      display: none;
    }

    .SideEvent__content {
      top: 25px;
      left: @mrg1600;
    }
    
    .SideEvent__image{
      width: 10vw;
    }

    &.SideEvent--right .SideEvent__content {
      left: auto;
      right: @mrg1600;
    }
  }

  .content{
    min-height: 630px;
  }
}
@media (min-width: 1920px) {

	.SideEvent--default .SideEvent__content {
    left: @mrg1900;
    
    &:nth-child(2) { //скрытие большого изображения
      display: block!important;
    }
    
    &:last-child { //скрытие большого изображения
      display: none!important;
    }
	}

	.SideEvent--default .SideEvent__image {
		width: @mrg1900 * -1 - 2;
	}

	.SideEvent--default.SideEvent--right .SideEvent__content {
		right: @mrg1900;
  }
  
  .content{
    min-height: 960px;
  }
}

