@import (reference) "index";

.banners-brands {
    margin-bottom: 100px;
    width: 100%;
    display: none;

    &__item {
        display: inline-block;
        max-width: 20%;

        img {
            width: 100%;
        }
    }
}

.banner-top {
    margin-bottom: 25px;
    margin-top: 25px;
    display: block;
    position: relative;
}
.banner-top-header {
    img{
        // Для специфических баннеров
        // min-width: 1580px!important;
        // width: 100%!important;
        // height: auto!important;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.banner_block {
    margin-bottom: 30px;
}

.banners-grid {
    width: calc(~"100% + 5px");
    position: relative;
    font-size: 0;
    margin-bottom: 30px;

    .desktop(@rules) {
        width: 100%;
    }

    .banners-main {
        float: left;
        background-color: #00ffff;
        position: relative;
    }
}

.banner-conteiner {
    .items & {
        display: block;
        border-top: none;
        border-bottom: none;
        width: calc(~"100% + 1px");
        margin-left: -1px;
    }

    & ~ .item:nth-child(4n+1) {
        border-right-width: 0.5px !important;
        //border-left-width: 0;
    }

    & ~ .item:nth-child(4n+2) {
        // border-left-width: 0;
    }
}

.banner-listing {
    text-align: center;
    padding: 10px !important;

    //border-bottom: @border;
    .table &.table__td {
        height: 130px;
        position: static !important;
    }

    .banner-listing__wrap {
        position: static;

        .table & > * {
            position: absolute;
            margin-top: -57px;
            right: 0;
            left: 0;
            //padding: 10px;
        }
    }

    img {
        max-width: 100%;
    }
}

.banner-container {
    .clearfix;
    display: inline-block;

    .banner-main {
        display: block;
    }

    &_static {
        float: left;
    }
}

.banner-feauters {
    padding: 15px;
    text-align: left;
    font-size: 18px;

    &__item {
        display: block;
        margin-bottom: 20px;
        cursor: default;
        white-space: nowrap;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.banner-counter {
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin: 5px;
    padding: 20px 0;
    text-align: center;
    height: calc(~"100% - 10px");
    position: relative;
    font-size: 16px;

    &__title {
        color: @cm-orange;
        text-transform: uppercase;
        position: relative;
        top: 15px;
        margin: 0;
    }
}

.banner-main {
    height: 324px;
    line-height: 324px;
    width: 634px;
    text-align: center;
    position: relative;
    margin: 0 14px 14px 0;
    display: inline-block;
    vertical-align: top;
    box-shadow: @shadow2;
    border-radius: @radius;
    overflow: hidden;

    &_bottom-left {
        .desktop({
            bottom: 343px;
        });
        // .mobile-tablet( {
        //     // bottom: 343px; position: relative;
        // });
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &_container {
        width: 309px;
        height: 479px;
    }

    &_action {
        height: 294px;
        width: 309px;
        // margin-left: -1px;
        margin: 0 14px 14px 0;

        .banner-main__img {
            bottom: auto;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }

        img {
            vertical-align: top;
        }
    }

    &_noeffect {
        padding: 1px;
    }

    &_half {
        height: 324px;
        width: 309px;
    }

    &_quarter {
        height: 155px;
        line-height: 155px;
        width: 309px;
    }

    &__color {
        height: 100%;
        width: 100%;
        display: block;
    }

    &__img {
        .align-all;
        position: absolute;
        //width: 100%;
    }

    &__title {
        background-color: rgba(255, 255, 255, .5);
        position: absolute;
        bottom: 0;
        height: 100px;
        line-height: 100px;
        width: 100%;
        margin: 0;
        font-size: 16px;
        display: block;
        font-weight: 700;
    }

    &:hover {
        box-shadow: @shadow;

        .banner-main__color {
            //filter: blur(1px) brightness(90%) contrast(90%);
        }

        .banner-main__title {
            //color: @cm-orange;
        }
    }
}
