@import (reference) "index";

#addform-bubble,
#addform-main {
    display: none;
}

.bubble-conteiner {
    position: relative;
    display: none;
    //display: block!important;
    width: 100%;
    z-index: @z-2;

    .js-bubble & {
        position: absolute;
        bottom: -5px;
        //акции
        left: 0;
    }

    //min-height: 1px; chk чтобы не прыгала
}

.js-bubble_hover {
    .bubble {
        &::after {
            .pseudo;
            width: 100%;
            height: 22px;
            top: -23px;
        }
    }
}

.bubble {
    .align-h;
    //box-shadow: 0 0 12px rgba(50, 50, 50, 0.3);
    box-shadow: @shadow;
    background-color: #ffffff;
    // background-color: @ca-grey4;
    margin-top: 13px;
    position: absolute;
    text-align: center;
    // border: 1px solid @ca-grey4;
    border: 0 solid #ffffff;
    border-radius: @radius;
    z-index: 3;
    cursor: default;

    &::before {
        .pseudo;
        width: 25px; //chk 10px правки на все бабблы
        height: 25px;
        margin-top: -8px; //-4px //-10px
        background-color: inherit;
        border: 0 solid #ffffff;
        // border: 1px solid @ca-grey4;
        box-shadow: @shadow;
        // box-shadow: @shadow2;
        z-index: 0;
        transform: rotate(45deg) translateX(-50%);
        transform-origin: 0 50%;
        left: 50%;
        top: 0;
    }

    .closed & {
        display: none !important;
    }

    &_close{
        width: auto;
        right: -215px;
        .bubble__wrap {
            padding: 20px 30px;
        }
    }

    &&_min {
        //mod
        margin-top: 18px;

        .bubble__wrap {
            padding: 5px;
        }
    }

    &&_review {
        //mod
        box-shadow: 0 0;
        position: relative;
        top: -20px;
        border: 1px solid @ca-grey4;
        background-color: @ca-grey4;
        border-radius: 0;

        &::before {
            box-shadow: 0 0;
            background-color: @ca-grey4;
            border: 1px solid @ca-grey4;
        }
    }

    &&_wishlist {
        //mod
        max-width: 190px;
    }

    &&_status {
        //mod
        color: @ct-main;
        white-space: normal;
        min-width: 210px;
        width: 284px;
        font-size: 13px;
        text-align: left;

        .bubble__wrap {
            padding: 20px 15px 20px 20px;
        }
    }

    &&_orange {
        //mod
        background-color: @cm-orange;
        box-shadow: 0 0;
        border: none;
        border-radius: 6px;

        .bubble__wrap {
            padding: 10px;
            border-radius: 6px;
            color: #ffffff;
        }

        &::before {
            box-shadow: 0 0;
            border: none;
        }
    }

    &&_bottom {

        //mod
        &::before {
            bottom: 0;
            top: auto;
            margin-bottom: -10px;
            width: 20px;
            height: 20px;
        }
    }

    &&_left {
        //mod
        margin-top: 15px;
        text-align: left;

        &::before {
            left: 0;
            margin-left: 40px;
            margin-top: -10px;
            width: 20px;
            height: 20px;
        }
    }

    &&_right {
        //mod
        margin-top: 15px;
        text-align: left;

        &::before {
            right: 0;
            left: auto;
            margin-right: 40px;
            margin-top: -10px;
            width: 20px;
            height: 20px;
        }
    }

    &&_feauters-ico {
        //mod
        margin-top: 20px;
    }

    &&_left-middle {
        //mod
        .align-v;
        left: auto;
        transform: translate(0, -50%);
        position: absolute;

        &::before {
            left: 0;
            margin-top: -10px;
            top: 50%;
            width: 20px;
            height: 20px;
        }
    }

    &&_100 {
        width: 100%;
    }

    &__wrap {
        .lh-def;
        .clearfix;
        padding: 20px;
        //padding: 15px; chk
        height: 100%;
        background-color: inherit;
        position: relative;
        z-index: @z-1;
        text-align: left;
        //white-space: initial;
        // акции
        font-size: 13px;
        font-weight: 400;
        white-space: normal;
        text-transform: none;
        color: @ct-main;
    }

    &__title {
        font-size: 13px;
        white-space: nowrap;
        margin-bottom: 10px;

        &_min {
            font-size: 13px;
        }
    }

    &_color {
        right: 16px;
        left: auto;
        transform: translateX(50%);
        margin-top: 15px;
        box-shadow: @shadow1;

        &::before {
            margin-top: -5px;
            box-shadow: @shadow1;
        }

        .bubble__wrap {
            padding: 10px;
            display: flex;
        }
    }

    .filters-show& {
        z-index: @z-3;
    }

    // &_close:after {
    //     content: "";
    //     position: absolute;
    //     display: block;
    //     height: 12px;
    //     width: 12px;
    //     top: 10px;
    //     right: 10px;
    //     background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cancel-orange.svg");
    //     background-position: center center;
    //     background-size: contain;
    //     background-repeat: no-repeat;
    // }

    &__close{
        .el-del;.el-del_orange;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.bubble.bubble_error {
    bottom: 45px;
    margin-top: 0;
    width: auto;
    left: -20px;
    transform: translateX(0);

    &::before {
        width: 10px;
        height: 10px;
        bottom: 5px;
    }

    .bubble__wrap {
        br {
            display: none;
        }

        .form__error {
            max-width: 100%;
            margin: 0;
            white-space: nowrap;
        }
    }
}
