@import (reference) "index";

.categories-list {
    width: calc(~"100% + 15px");
    padding: 0;
    margin-top: -9px;
    margin-left: -14px;
    margin-bottom: 17.3px;
    font-size: 0;
    //display: none;
    //.flex-row;

    a:hover {
        color: @ct-main;
    }

    &_block {
        //mod
    }

    &_compliment {
        //mod
        // margin: 0;
        // width: calc(~"100% + 30px");
        margin-bottom: -7.5px;

        .categories-list__item {
            margin-left: 15px;
            width: calc(~"33.3% - 15px");
        }

        .categories-list__conteiner {
            height: 67px;
            padding: 0 30px 0 10px;
            // width: 280px;
            width: 100%;
        }
    }

    &__name {
        font-size: 16px;
        font-weight: 600;
        color: #333333;
        position: relative;

        &:hover {
            color: #333333;
        }
    }

    &__count {
        font-size: 11px;
        line-height: 15px;
        color: #bcbcbc;
        margin-left: 10px;
        vertical-align: middle;
        font-weight: 400;
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        margin: 6.5px 0; //chk 5px
        width: calc(~"20% - 15px");
        margin-left: 15px;
        //padding: 0 7.7px;
        background-color: #ffffff;
        border: @border; //chk выбор подарка
        border-radius: 3px; //chk 6 выбор подарка решили убрать скругление

        &.active {
            border: 1px solid @ca-grey1;

            span {
                color: @cm-orange;
            }
        }

        &:nth-child(n+4) {
            /* padding-right: 0px */
        }

        &:hover {
            border-color: @ca-grey1;
        }
    }

    &__conteiner {
        display: block;
        padding: 5px;
        padding-right: 7px;
        height: 50px;
        //width: 192px; //@TODO сделать флекс
        font-size: 12px;
        position: relative;
        text-decoration: none;
    }

    &__img {
        width: 42px;
        height: 42px;
        float: left;
        margin-right: 20px;
        &:extend(.align-v);
    }

    &__title {
        display: block;
        &:extend(.align-v);
    }

    &__radio {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}
