@import (reference) "index.less";

// FLEX
.flex {
  display: table;

  & > * {
      display: table-cell;
      vertical-align: middle;
  }
}

.flex_justify {
  width: 100%;
}

.flex-center{
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-around;
  justify-content: space-between;
  align-items: center;

  &_4 {
      > * {
          flex: 25%;
      }
  }

  &_5 {
      > * {
          flex: 20%;
      }
  }

  &_a-i-end {
      align-items: end;
  }
}

.flex-row_nowrap {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

// display: flex;
// justify-content: space-between;
// align-items: center;
.flex-rl {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  > *:nth-child(1) {
      order: -1;
      flex: 0 1 auto;
      align-self: auto;
  }

  > *:nth-child(2) {
      order: 1;
      flex: 0 1 auto;
      align-self: auto;
  }

  .unit-block &{
      align-items: start;
  }
}

.def-pospad{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: inherit;
  width: 100%;
}

.link-def {
  color: @ct-blue;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
      color: @ca-blue;
  }
}

.link-overhead{
    content: "";
    bottom: 0;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: @z-10; 
}

.align-v {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.align-h {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.align-all {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}