@import (reference) "index";

.s-titles() {
    // font-family: "Cera";
    font-weight: 700;
}

.h1,h1,.h1-like {
    .s-titles();
    font-size: 24px;
    line-height: 120%; 
    margin-bottom: 30px;
    margin-top: 0;

    //возможно ограничить #page-catalog
    &:first-letter {
        text-transform: capitalize;
    }

    &::after{
        content: attr(data-title);  
        display: inline-flex;
        vertical-align: middle;
        color: @ct-grey2;
        font-size: 14px;
        font-family: @font1;
        font-weight: normal;
        margin-left: 15px;
    }
    &[class*=" h1_"] {

        //margin-left: 10px; //chk контакты и прижать все к левому
        &::before {
            content: "";
            //margin-right: 20px; chk faq
            display: none;
        }
    }

    &_login {
        //mod
        margin-bottom: 50px;

        &::before {
            content: "1";
        }
    }

    &_cart {
        //mod
        margin-bottom: 0;
    }

    &&_variant {
        //mod
        margin-left: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &::before {
            display: none;
        }
    }

    &&_alert {
        //mod
        color: @red;
    }
}

.h2,h2 {
    .s-titles;
    font-size: 22px;
    line-height: 30px;

    &_action {
        margin-bottom: 15px;
    }
}

.h3,
h3 {
    .s-titles;
    font-size: 18px;
    line-height: 26px;
}

.h4,
h4 {
    .s-titles;
    font-size: 16px;
    line-height: 24px;
}

.h5,
h5 {
    .s-titles;
    font-size: 14px;
    line-height: 24px;
}

.p {
    font-size: 15px;
    line-height: 24px;
}