@import (reference) "index";

.stnd-border {
    border-radius: @radius;

    & > *::after {
        border: @border2;
        border-radius: @radius;
    }

    &:hover > *::after {
        border-color: #c9c9c9;
    }

    &.active,
    input:checked + *::after {
        border: 2px solid @cm-orange;
    }
}

@stnd-pad: 20px;
@bottom-pad: 20px;

.unit-block {
    background: #ffffff;
    margin-bottom: 25px;
    padding: 20px @stnd-pad @bottom-pad;
    position: relative;

    &:last-child {
        margin-bottom: 0;
        border-bottom-left-radius:@radius;
        border-bottom-right-radius:@radius;
    }

    &_min {
        margin-bottom: 3px;//chk новый ОЗ
        padding: 30px @stnd-pad;
    }

    &_agreement{
        background: transparent;
        padding-top: 20px;
        padding-bottom: 0;
    }

    &__wrap{
        font-size: 0;
    }

    .form {
        margin-top: -30px;
    }

    .table2 {
        margin-left: -@stnd-pad;
        margin-right: -@stnd-pad;
        margin-bottom: -@bottom-pad;
        width: calc(~"100% + @{stnd-pad}*2");
    }
    
}

.stnd-title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 0;

    &_big {
        .h1;
    }
}

.stnd-title-weight {
    margin-top: 0;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 700;

    &_light{
        font-weight: 600;
    }
}

.stnd-text {
    padding-right: 90px;
    margin-bottom: 29px;
}

.stnd-img-block {
    // &__img {
    // }

    &__text {
        text-align-last: auto;
    }
}

@stnd-pad--min-t: 9px;
@stnd-pad--min-r: 15px;
@stnd-pad--min-b: 11px;
@stnd-pad--min-l: 15px;

.stnd-block {
    padding: 20px;
    background: #ffffff;
    
    &:first-child{
        border-top-left-radius: @radius;
        border-top-right-radius: @radius;
    }

    &:last-child{
        border-bottom-left-radius: @radius;
        border-bottom-right-radius: @radius;
    }

    &_form {
        width: 390px;
    }

    &_min {
        padding: @stnd-pad--min-t @stnd-pad--min-r @stnd-pad--min-b @stnd-pad--min-l;
    }

    &_max {
        padding: 25px;
    }

    &_transparent {
        background: transparent;
    }

    &_b-inline {
        display: inline-block;
        vertical-align: top;
    }

    &_0 {
        padding: 0;
    }

    .form {
        margin-top: -20px;
    }


}

.stnd-shadow {
    .stnd-box;

    &:last-child {
        margin-bottom: 0;
    }
}

.stnd-divide {
    background: #ffffff;
    box-shadow: @shadow2;
    margin-bottom: @m-catalog;

    &__b {
        padding: 20px;

        &:not(:last-child) {
            border-bottom: @border;
        }
    }
}

.title-stnd{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 0;
}

.stnd-block-style(@h: none){
    border-radius: @radius;
    box-shadow: @shadow2;
    overflow: @h;
}

.stnd-box {
    .stnd-block-style;
    background: #fff;
}
