@import (reference) "index";
@mt: 15px;

.form {
    /* Форма общий класс */
    @form-w: 400px;
    display: inline-block; //chk выбор подарков
    // max-width: 570px; chk способ оплаты
    //width: 100%; chk-moz корзина ширина
    min-width: auto !important; //убрать все минвидзы когда лэйблы наверху
    text-align: right;
    margin-bottom: 0;

    & + & {
        //chk новый ОЗ
        margin-left: 20px;
        vertical-align: top; //chk новый ОЗ Адрес доставки
    }

    &#ItemsOptions {
        text-align: left;
    }

    &&_100 {
        width: 100%;
    }

    &&_review {
        //max-width: 640px;
        text-align: right;
        margin-top: 0 !important;

        .form__item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 35px;

            > label {
                font-size: 16px;
                margin-top: 11px;
                margin-right: 13px;
            }
        }

        .form__input {
            width: 600px;

            input,
            textarea {
                border-radius: 3px;

                &:focus {
                    border: 1px solid @cm-orange;
                }
            }

            textarea {
                height: 125px;
            }
        }

        .form__textarea {
            height: 125px;
        }

        .form__input,
        .form__select {
            &::before {
                display: none;
            }
        }

        .terms {
            clear: both;
            float: left;
            text-align: left;
            margin-top: 16px;
            margin-left: 125px;
            line-height: 1;
            margin-bottom: 3px;
        }
    }

    &&_setting-data,
    &&_setting-change {
        //mod
        margin-left: @margin-cabinet;
        //margin-top: 10px; chk настройки личные данные
        margin-right: 112px;
        margin-bottom: 80px;
    }

    &&_feedback {

        //mod
        .form__textarea {
            height: 270px;
        }
    }

    &&_registration {
        width: 240px;

        .form__input {
            width: 240px; //chk правки
        }
    }

    &&_company {
        .form__input {
            width: 292px;
        }

        .form__item {
            //text-align:left; chk правки
        }
    }

    &__item-container {
        width: @form-w;

        .form__item.form__item_labeltop {
            margin-bottom: 0;
        }
    }

    &__item {
        font-size: 13px;
        position: relative;
        white-space: nowrap;
        vertical-align: top; //когда form__errro не дает упасть 

        & + & {
            margin-top: 20px;
        }

        &&_2, &&_4, &&_dob, &&_dob2{
            display: inline-block;
            margin-right: 18px;

            .form__input {
                width: 100%;

                input {
                    padding-left: 15px;
                }
            }
        }
 
        &&_2 {
            width: calc(~"50% - 11px"); 
        } 

        &&_4 {
            width: calc(~"25% - 16.5px");
        }
              
        &&_dob {
            @wdob: 65px;
            width: calc(~"100% - (22px + @{wdob})");

            &+.form__item{
                width:@wdob;
                display: inline-block;
            }
        }

        &&_dob2 {
            width: calc(~"65% - 11px");

            &+.form__item{
                width: calc(~"35% - 11px");
                display: inline-block;
            }
        }

        &&_last {
            margin-right: 0;
        }

        //mod лэйбл сверху
        & + &&_labeltop {
            margin-top: 0;
        }

        //mod 1 строчка внутри
        &&_valign {
            margin-top: 40px;
        }

        //mod текст внутри
        &&_text {
            text-align: left;
            height: 37px;
            font-size: 14px;
        }

        &&_labeltop {
            &.focus > label {
                display: block;
                color: @ct-grey1;

                &::before {
                    color: @cm-orange;
                }

                .el-marked{
                    color: @cm-orange;
                }
            }

            & .form__radio-wrap label,
            & .form__checkbox + label,
            & .form__file {
                display: inline-block !important;
                color: inherit;
                margin-bottom: 0;
                // vertical-align: sub; //подписка
                vertical-align: middle;
            }

            > label {
                display: block;
                text-align: left;
                margin-bottom: 3px;
                color: transparent;
                //   font-size: 12px;
                padding-left: 15px;

                &::before {
                    color: rgba(0, 0, 0, 0);
                }

                *{
                    color: transparent;
                }
            }

            /*       .form__input{ //если 2 лэйбла
          label{
              display: block;
              text-align: left;
              margin-bottom: 5px;
              color: rgba(0, 0, 0, 0);
              font-size: 13px;

              position: absolute;
              top: -27px;
          }
      } */
        }

        .placeholder-no {
            // &::-webkit-input-placeholder {
            //     color: transparent;
            // }
        }
        .placeholder-empty{
            &::placeholder {
                color: transparent!important;
            }
        }

        .form__error {
            max-width: 1px;
        }

        &.form__item--smaller {
            width: 334px;

            .form__input,
            .form__select {
                width: 334px;
            }
        }

        

        .form__input {
            input {
                cursor: text;
            }
        }

        .form__input--smaller {
            //новый класс, надо поставить всем инпутам с шириной 334п
            width: 334px;

            input {
                width: 334px;
            }
        }

        .form__input_260 {
            width: 260px;

            input {
                width: 260px;
            }
        }

        .form__input_295 {
            width: 295px;

            input {
                width: 295px;
            }
        }

        &.focus {
            .form__input {
                input {
                    cursor: text;
                }
            }
        }


       > label {
            vertical-align: top;
            font-size: 13px;
            margin-top: 14px;
            display: block;

            //color: @cm-grey; //chk реквизиты
            // &.select-ico__label {
            //     margin-top: 0;
            // }
            &[for="call"] {
                vertical-align: middle;
                margin-right: 5px;
                margin-top: 0;
            }

            &.el-radio__input {
                margin-top: 0;
                vertical-align: middle;
            }
        }
    }

    &__send-but {
        margin-top: 20px;
    }

    &__error {
        margin-top: 5px;
        color: @cm-orange;
        display: block;
        font-size: 11px;
    }

    &__add {
        margin-bottom: 3px;

        .form__item {
            margin: 0;
        }
    }

    select {
        option {
            background-color: @cm-grey2;

            &:focus {
                background-color: @cm-grey1;
            }
        }
    }

    &__checkbox {
        .el-checkbox;

        + label {
            margin-top: 0;
        }
    }

    &__radio {
        .el-radio;
        position: relative;
        // input{
        //     opacity: 0 !important;
        //     cursor: pointer;
        // }

        .no-js input {
            opacity: 1 !important;
        }

        &:hover .form__input-style {
            //border-color: @cm-orange; chk подарки
        }
    }

    // @TODO исправить баг когда лэйбл вместо ай
    &__input-style {
        .el-radio__input;
    }


    &__text {
        text-align: left;
        font-size: 12px;
    }

    &__radio-wrap {
        .el-radio__input {
            margin-right: 15px;
        }

        + br {
            display: none;
        }
        //chk popup5%
    }

    &__wrap {
        width: @form-w;
        margin-left: auto;
        text-align: left; //chk обратная связь

        .el-radio {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__input,
    &__select {
        position: relative;
        height: @form-h;
        display: inline-block;
        width: @form-w; //chk feedback
        vertical-align: top;
        // border: 1px solid transparent;
        // &:hover{
        //   border: @border;
        // }

        &&_rating {
            //mod
            text-align: left;
            line-height: 37px;

            &:hover {
                border-color: transparent;
            }

            &::before {
                display: none;
            }
        }

        &::before {
            // .el-input-line;
        }

        
        .el-textinput__input_textarea textarea,
        select,
        .ui-selectmenu-button,
        input,
        &[type="text"],
        &[type="password"],
        &[type="email"],
        &[type="tel"],
        &[type="search"],
        &[type="date"],
        &[type="datetime"],
        &[type="file"] {
            // border: 0;
            border-radius: 3px;
            text-align: left;
            border: @border;
            height: 100%;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            transition: all .2s ease;
            font-family: @font2;

            // background-color: @cm-grey2;
            // border: 1px solid transparent;
            &:hover {
                border: 1px solid @ca-grey1;
            }

            &:focus,
            &.input-error {
                background-color: #ffffff;
                border: 1px solid @cm-orange;
                // border-left: 1px solid transparent;
            }

            // &::-webkit-input-placeholder {
            //     color: @cm-grey;
            // }

            &:not(:placeholder) {
                //   background-color: #ffffff;
            }

            &[readonly="readonly"] {
                //неактивизируемые поля
                color: inherit;

                &:hover {
                    border: 1px solid transparent;
                }

                &:focus {
                    background-color: #ffffff;
                }
            }
        }

        .ui-selectmenu-button.ui-selectmenu-button-open {
            background-color: #ffffff;
            border: 1px solid @cm-orange;
            border-left: 1px solid transparent;
        }

    }

    &__submit {
        margin-top: 30px; //настройки

        > input[type="submit"] {
            display: none;
        }
    }

    &__link:extend(.text-small) {
        /*     text-decoration: underline; */
        display: inline-block;
        text-align: center;

        > .el-button {
            width: 100%;
        }

        > a {
            display: block;
            margin-top: 10px;
            text-align: right;
        }
    }

    input[type="file"] {
        .js & {
            //если есть js, то скрывать
            &:extend(.visuallyhidden);
        }
    }

    &__textarea {
        height: 70px;

        textarea {
            padding-top: 10px;
            resize: none;

            &:hover {
                //border: @border;
            }

            &:focus {
                //border: 1px solid @cm-orange;
            }

            &[readonly="readonly"] {
                &:not(:placeholder) {
                    color: @ct-main;
                    //border: 1px solid @cm-orange;
                    background: #ffffff;
                }

                &:hover {
                    border: @border;
                }

                &:focus {
                    border: @border;
                    //background-color: @cm-grey2;
                }
            }

            &:not(:placeholder) {
                // border: 1px solid @cm-orange!important;
                background: #ffffff !important;

                &:hover,
                &:focus {
                    // border: 1px solid @cm-orange!important;
                }
            }
        }
    }

    & &__file {
        .el-button;
        .el-but;
        height: @form-h;
        line-height: @form-h;
        font-size: 17px;
        color: @ct-main;
        margin: @mt 0 0 10px;
        //position: absolute;
        position: relative;
        left: 0;
        top: 0;
        background-color: #ffffff;
        border: 1px solid @cm-grey1;
        border-radius: 3px;

        &::after {
            display: none;
        }
    }

    & &__file-trg {
        //margin-left: 145px;
        margin-top: @mt;

        // &_organization {}
    }

    &__select {
        position: relative;
        // margin-top: 25px;

        // &:after:extend(.el-triangle:after){
        // position: absolute;
        // right: 15px;
        // top: 17px;
        // color: @cm-grey;
        // }
        select,
        .ui-selectmenu-button {
            // background-repeat: no-repeat;
            line-height: 1em;
            text-indent: 0.01px;
            padding-top: 12px;
            padding-right: 45px;
            background-color: #ffffff;
            border-radius: 0;

            .ui-selectmenu-icon,
            &:active .ui-selectmenu-icon {
                background-image: url("../img/ico-svg/arrow-orange.svg");
                background-position: 50%;
                position: absolute;
                right: 18px;
                top: 50%;
                transform: translateY(-50%) rotate(90deg) scale(1.2, 1.1);
                transition: transform .2s;
            }

            .ui-selectmenu-text {
                color: #666666;
            }

            &:active {
                .ui-selectmenu-icon {
                    background-image: url("../img/ico-svg/arrow-orange.svg");
                    transform: translateY(-50%) rotate(0deg) scale(1.2, 1.1);
                }

                .ui-selectmenu-text {
                    color: #000000;
                }
            }

            &-open {
                .ui-selectmenu-icon {
                    background-image: url("../img/ico-svg/arrow-orange.svg");
                    transform: translateY(-50%) rotate(-90deg) scale(1.2, 1.1);
                }

                .ui-selectmenu-text {
                    color: #000000;
                }
            }

            &::-ms-expand {
                display: none;
            }
        }
    }


    .lightbox & {
        width: @form-w;

        .el-button + .el-button {
            margin-left: @margin-min; //chk способ оплаты
        }
    }

    &_100 {
        width: 100%;

        .form__input {
            width: 100%;
        }
    }

    &_login {

        //mod
        // max-width: 270px;
        //margin-left: 20px;
        .form__link {
            min-width: 115px;
            //margin-top: 20px; chk аторизация по телефону
        }

        .form__input {
            width: 340px;
        }
    }

    &_registration {

        //mod
        .form__submit {
            margin-top: 20px;
        }
    }

    &_address,
    &_addcontact {
        //mod
    }
}

.ui-selectmenu-menu {
    .ui-widget.ui-widget-content {
        margin-top: -1px;
        border-top: 0;
        border-left: 1px solid @cm-orange;
        border-right: 1px solid @cm-orange;
        border-bottom: 1px solid @cm-orange;
        font-size: 13px;
        border-radius: 0;

        .ui-menu-item {
            list-style: none;
            // height: 37px;
        }

        .ui-menu-item-wrapper {
            border: 0;
            padding-left: 25px;
            padding-top: 12px;
            padding-bottom: 11px;
        }

        .ui-state-active {
            background-color: @ca-grey3;
            border: 0;
            color: inherit;
            margin: 0;
        }
    }
}

.input-error {
    //border: 1px solid @cm-orange!important;
}
