@import (reference) "index";
@import "slick";
@import "slick-theme";

.slider-brand {
    @h-img: 80px;
    padding: 20px 0;
    margin-left: -10px;
    &__item {
        padding: 0 10px;
        .stnd-box;

        &:hover {
            // border: 1px solid @ca-grey1;
        }
    }

    .slick-track{
        padding: 5px 0;
    }
    
    .slick-slide {
        text-align: center;
        line-height: @h-img;
        width: 160px;
        &>div{
            padding: 0 10px;
        }
       
        // &.slick-current>div{
        //     padding-left: 0;
        // }
        &.slick-last-shown>div{
            padding-right: 3px;
        }
        
        img {
            max-height: @h-img;
            display: inline-block;
        }
         
    }

    &_alt {
        padding: 0;
        margin: -8px -5px;
        height: auto;

        .slick-list {
            margin: 0;
        }

        .slick-slide {
            background-color: #ffffff;
            box-shadow: @shadow2;
            margin: 8px 7.5px;
            border: 0;
            border-radius: 0;
            height: 120px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            &:hover {
                box-shadow: @shadow;
            }

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}

.slick-slide {
    height: auto;

    .items[class*="items_"] & {
        .item {
            &:first-child, &:last-child {
                border-radius: 0;
            }
        }

        &.slick-current .item {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        &.slick-last-shown .item {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }

    img {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
    }
}

// help
.slider-help {
    .slick-slide {
        width: 700px;

        //margin: 0 50px;
        img {
            max-width: 720px;
            width: 100%;
        }
    }

    .slick-list {
        /*          margin-left: 60px;
        margin-right: 60px;  */
    }

    &__item {
        margin: 10px 40px;
        box-shadow: 0 0 7px 2px rgba(50, 50, 50, 0.3);
        border-radius: 6px;
        padding: 10px;

        p:first-child {
            margin-top: 0;
        }
    }
}

// default
.slider-default {
    &__but-wrap {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0;
        display: none;
    }

    &[data-shadow] {
        .slick-list {
            //overflow: visible;
            width: calc(~'100% + 9px');
        }

        .slick-slide {
            @duration: 300ms; @In: @duration; @Out: @duration;
            @delay: 0ms; @delayIn: @delay; @delayOut: @delay;
            margin-left: -1px;
            opacity: 0;
            visibility: hidden;
            transition: opacity @Out ease-in-out @delayOut, visibility 0ms ease-in-out @Out + @delayOut;
            font-size: 0;
            z-index: 1;
    
            &.slick-active {
                opacity: 1;
                visibility: visible;
                transition: opacity @In ease-in-out @delayIn, visibility 0ms ease-in-out 0ms;
            }
        }
    }
}


.js-slider_arrows,
.js-slider_fade,
.js-load-slider-this {
    visibility: hidden;
}

.slick-slider.js-recent-variants,
.slick-slider.items{
    overflow: hidden;
    .stnd-block-style;
}


// .items.slick-slider{ //тени при наведение
//     position: static;
    
//     .slick-list, .slick-track{
//         position: static;
//         overflow: visible;

//         &:hover {
//             transform: none!important;
//         }
//     }
//     .slick-slide{
//         &:before {
//             content: '';
//             position: absolute;
//             display: block;
//             width: ~'calc(100% / 5)';
//             height: ~'calc(100% - 56px)';
//             box-shadow: @shadow;
//             z-index: 2;
//             opacity: 0;
        
//             // background: rebeccapurple;
//         }
//         &:last-child:before{
//             width: ~'calc(100% / 5 - 8px)';
//         }
//         &:hover:before {
//             opacity: 1;
//         }

//         .item:hover {
//             box-shadow: 0 0!important;
//         }

        
//     }
// }
