@import (reference) "index";
.recent-variants-wrap {
  clear: both;
}
.recent-variants {
  background-color: @cm-grey2;
  padding: 45px 0 35px;
  // margin-bottom: 30px; //chk 120px seo-text
  // height: 195px;

  &__header {
      .header-underitems;

      &-title {
          .title-1;
      }
  }

  &__but-wrap {
      position: absolute;
      right: 0;
      top: -3px;
      display: none;
  }

  &__prev {
      width: 10px;
  }

  &__next {
      width: 10px;
  }

  &__container {
      .flex-row;
      .flex-row_nowrap;
      .clearfix;
      //padding: 0 4px;
      position: relative;
  }

  & &-item {
      position: relative;
      padding: 10px;
      margin: 0;
      height: 111px;
      background-color: #ffffff;
      width: 25%;
      transition: box-shadow .3s;
      font-size: 0;
      z-index: 1;
      border-left: @border1;
      border-right: transparent;

      &:hover a{
          color: @ca-blue;
      }

      &__left {
          display: inline-block;
          vertical-align: top;
          height: 100%;
          width: 120px;
          padding-right: 10px;
      }

      &__right {
          display: inline-block;
          vertical-align: top;
          height: 100%;
          width: calc(~"100% - 120px");
      }

      &__img {
          width: 100%;
          height: 100%;
          display: block;

          &:before{
            .link-overhead();
          }

          img {
              display: block;
              margin: 0 auto;
              width: auto;
              height: auto;
              max-width: 100%;
              max-height: 100%;
          }
      }

      &__title {
          font-size: 12px;
          margin-bottom: 13px;
      }

      &__price {
          font-size: 19px;
          font-weight: 700;
          margin-bottom: 3px;

          > * {
              font-size: 19px;
          }
      }

      & + & {
          margin-left: -1px;
      }

      &:last-child {
          // border-right: @border;
      }

  }

  &-items-shadow {
      .stnd-block-style;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 0;
  }
}
// recent-variants
.recent-variants {
  &-item {
      .slick-slide.slick-active.slick-last-shown & {
          border-left: @border1;
          border-right-color: transparent;
      }
  }

  .slick-list {
      // overflow: visible;
      @offset: 7px;
      padding: @offset;
      margin: -@offset;
      z-index: 1;
  }

  .slick-slide {
      @In: 150ms; @Out: 150ms;
      @delayIn: 0ms; @delayOut: 150ms;
      margin-left: -1px;
      opacity: 0;
      visibility: hidden;
      transition: opacity @Out ease @delayOut, visibility 0ms ease @Out + @delayOut;
      font-size: 0;
      z-index: 1;

      &.slick-active {
          opacity: 1;
          visibility: visible;
          transition: opacity @In ease @delayIn, visibility 0ms ease 0ms;
      }

      // &:nth-child(5) {
      //     margin-left: -2px;
      // }
      
  }
}
