@import (reference) "../main";
@import  "classes";

/*  CLASSES MAIN  */

.nowrap {
    white-space: nowrap;
}


//подбор картриджейй
.cartridge-page {
    margin-bottom: 50px;

    & &__title {
        margin-bottom: 40px;

        &::before {
            display: none;
        }
    }

    &__wrap {
        .flex-row;
        .flex-rl;
        align-items: flex-start;
        margin-bottom: 55px;
    }

    &__separator {
        font-size: 28px;
        margin-top: 80px;
    }

    &__info {
        font-size: 15px;
        margin: 0;
        margin-bottom: 20px;
    }

    a {
        color: @cm-orange;
        text-decoration: underline;
    }
}

.cartridge-choose {
    @p-l: 35px;
    @h-input: 40px;
    max-width: 565px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;

    &_deactive {

        //mod
        .cartridge-choose__title {
            .box-grey;
            color: @ct-main;
        }

        .cartridge-choose__submit {
            .box-grey;
            color: @ca-grey1 !important;
        }

        &:hover {
            .cartridge-choose__title,
            .cartridge-choose__block {
                border-color: @ca-grey1;
            }
        }
    }

    &__title {
        background-color: @cm-orange;
        color: #ffffff;
        padding-left: @p-l;
        height: 40px;
        line-height: 40px;
        margin: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    &__block {
        .box-grey;
        padding: 30px @p-l;
        border-top: none;
        text-align: right;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    &__submit {
        margin-top: 10px;
    }

    &__input {
        margin-bottom: 20px;
        width: 100%;
        display: block;
        height: 40px;
        padding-left: 20px;
    }
}

.cartridge-fail {
    font-size: 18px;

    &__text {
        margin-bottom: 30px;
    }

    &__link {
        display: block;
        margin-top: 40px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 30px;
    }
}

//замена товара
.good-replace {
    @w-good: 206px;
    text-align: center;
    width: 100%;

    //table-layout: fixed;
    td {
        vertical-align: top;
    }

    td,
    th {
        padding-right: 20px !important;

        &:last-child {
            padding-right: 0 !important;

            .good-replace__col {
                //float: right;
            }
        }

        &:nth-child(3) {
            .good-replace__col {
                margin: auto;
            }
        }
    }

    &__title {
        font-size: 32px;
        font-weight: 400;
    }

    &__col {
        width: @w-good;
        //margin: auto;
        margin-bottom: 30px;
    }

    &__firstrow {
        vertical-align: top;

        &_filter {
            /* vertical-align: bottom;
             padding-bottom: 25px; */
        }
    }

    &__subtitle {
        .box-grey;
        border-radius: 3px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    &__absent {
        td&,
        th& {
            padding-right: 40px !important;
        }
    }

    &__caption {
        font-size: 12px;
        margin-top: 10px;
        color: @ca-grey1;
    }

    &__filter {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    &__hr {
        border-top: 10px solid #ffffff; //chk без линии
        border-bottom: 10px solid #ffffff;

        td {
            border-bottom: 1px solid @ca-grey1;
        }
    }

    &__properties,
    &__price {

        //border-top: 30px solid #ffffff;
        td {
            padding: 10px 0;
            vertical-align: middle;

            &:first-child {
                padding-left: 25px;
                text-align: left;
            }
        }

        .good-replace__col {
            margin-bottom: 0;
            width: auto;
        }
    }

    &__price {
        background-color: @cm-grey2;
    }

    &__properties {
        tr {
            border-bottom: @border;

            &:hover {
                background-color: @cm-grey2;
            }
        }
    }
}

//страница отрицательных поисков
.search-fail {
    text-align: center;
    margin-bottom: 35px;

    &__title {
        font-size: 22px;
        margin-bottom: 35px;
    }

    &__list {
        margin: auto;
        padding: 0;
        list-style: none;
        color: @ca-grey;
        margin-bottom: 30px;
        display: inline-block;

        > li {
            padding-bottom: 8px;
            text-align: left;

            &:last-child {
                padding-bottom: 0;
            }

            &::before {
                content: "-";
                margin-right: 5px;
            }
        }
    }
}

.deactive-form {
    *:not(.form__item_labeltop label) {
        color: @ca-grey !important;
    }

    .form__input {
        &::before {
            background-color: @ca-grey !important;
        }

        input {
            border: @border !important;
        }
    }
}

.last-mb {
    &:last-child {
        margin-bottom: 0;
    }
}

.last-mr {
    &:last-child {
        margin-right: 0;
        //margin-left: -2px; chk слайдер ФМ
    }
}

@wishlist_add_mt: 20px;

.AddWishlistItemForm {
    margin: @wishlist_add_mt 0 0;
}

.wishlist-add {
    .list-unwrap__item {
        &.js-switch {
            margin-top: @wishlist_add_mt;
        }
    }

    &__addform {
        @h: 26.5px;
        margin-top: @wishlist_add_mt;

        .el-form-orange {
            height: @h;

            &__input {
                width: calc(~"100%" - @h);
            }

            &__but {
                width: @h;
                text-align: center;
                font-size: 10px;
            }
        }
    }
}

.b-breadcrumbs {
    @this-fz: 12px;
    
    font-size: 0;
    padding-left: 0;
    margin-bottom: 35px;
    margin-top: 25px;
    min-height: 1px;
    cursor: default;

    &:empty, &.empty {
        margin-bottom: 0;
        visibility: hidden;

        .banner-top{
            display:none; 
        }
    }

    &__separator {
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/up-arrow.svg") center center;
        background-repeat: no-repeat;
        background-size: contain; 
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 10px;
        margin: 0 15px 0 17px;

        // color: @ct-grey2; если шрифтом
        // font-size: @this-fz;
        // padding: 0 7px;
    }

    &__item {
        color: @ct-grey2;
        vertical-align: middle;
        font-size: @this-fz;
        
        &_home {  
            display: inline-block;
            width: 12px;
            height: 12px;
            &::before {
                content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAkklEQVQoU82Qfw2DQAxGHw5wwOZgEiYBCUhAwiRMAhKQMAk4gDlZHmmTCz/2N00u6bXf63fXiuN4R7nftqsDveIh6h0wATfgZW0LpECR8QDayHeAjSUmlsZCntU1HZys+HPyJ4fVQgKKLaT1CcMIjAIKtVzfGAOayL/FAuxP+SQvCfzNLwy44zk++izWW+Z3F/IDh5snvedZfxwAAAAASUVORK5CYII=");
            }

            &:hover::before {
                content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAyklEQVQoU82QwRWCMAyGk7bA1Q3UDRjBERiBJ3h3BEbwLvgYwREcgQ3EMagt8SXPHkB8Xs0p/ZMvf1KEhbCFObEcN+44L+NckGblWtFHkwNRRwo3Se0qliaA3esctO/iM3RctAdIiUzG+QfgCp2NyvehOTgzBF6n8cWLqzjwZFTYR7W7Ld0kwwhWDCE3k8IsqZ1Yf4uhNFcc6YpMe8Q07Ph2WzNIIz3CKkNpKk3UyUr8CMCv/F8BW0QtIt3lUIAdAsj3TnLCbdw88xfYmpd+BieELAAAAABJRU5ErkJggg==");
            }

            span {
                font-size: 0;
            }
        }

        &&_active {
            color: @ct-grey1;
        }
    }
}

.alphabet {
    &__list {
        list-style: none;
        background-color: @cm-grey2;
        margin-bottom: 10px;
        padding-left: 15px;
        .stnd-box;

        &-title {
            font-weight: 700;
            margin-right: 64px;

            &_eng {
                margin-right: 61.5px;
            }
        }

        &-wrap {
            display: inline-block;
        }

        &-item {
            padding: 13px;
            padding-left: 10px; //10vw/@vw
            padding-right: 10px; //10vw/@vw;
            display: block;
            font-size: 15px;
            font-weight: 600;
            width: 30px;
            white-space: nowrap;
            position: relative;

            &.active {
                font-weight: 700;
                // padding-left: 12px;
                // font-size: 14px;

                &:hover {
                    color: inherit;
                    text-decoration: none;
                    cursor: default;
                }
            }
        }
    }

    &__item {
        margin-top: 30px;
        margin-bottom: 100px;
        padding-top: 15px;
        .stnd-box;

        &.active {
            display: block;
            display: grid;
            grid-template-columns: 106px repeat(5, 230px);
        }

        &-sym {
            display: inline-block;
            padding-top: 4px;
            width: 106px;
            padding-left: 15px;
            font-weight: 700;
            font-size: 20px;
            margin-right: 1px;
        }

        &-col {
            display: inline-block;
            vertical-align: top;
            list-style: none;
            margin-top: 0;
            padding: 0;
            width: 230px; //184px
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }

            &-wrap {
                display: block;
            }

            &-item {
                padding: 5px;
                padding-left: 10px;
                display: block;
                line-height: 150%;

                &:hover {
                    background-color: @cm-grey2;
                }
            }
        }
    }
}

.b-feedback-foot {
    padding-left: 15px;
    display: none;
}

.b-main {
    clear: both;
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }

    &_action {
        font-size: 0;
        // width: calc(~"100% + 28px");
        margin-bottom: 0;
    }

    &__title {
        .title-1;
        .header-underitems_big;
    }
}

.image-block {
    text-align: center;
    position: relative;
    height: 100%;
}

.image-block .left-side {
    position: absolute;
    z-index: 0;
    left: 23px;
    top: 24px;
    visibility: hidden;
}

.image-block .right-side {
    position: absolute;
    right: 10px;
    top: 10px;
}

.image-block .additional-images-block {
    border: 1px solid @cm-grey;
    margin: 0 -1px;
}

.image-block .additional-images-block .title {
    background-color: #e9e9e9;
    padding: 5px 10px;
    color: #333333;
    font-size: 13px;
    border-bottom: 1px solid @cm-grey;
}

.additional_images .fancybox-thumb {
    // display: inline-block;
    display: flex;
    // margin-bottom: 2px;
    padding: 2px;
    border: 1px solid transparent;
    // height: 56px;
    width: 71px;
    min-width: 71px;
    height: 71px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    &:not(:last-child) {
        margin-right: 17px;
    }

    &:first-child {
        //margin-top: 2px;
    }

    &:hover {
        border-color: @cm-grey1;
    }
}

// .fancybox-inner{
//     max-height: 730px;
// }

// .fancybox-wrap.fancybox-desktop.fancybox-type-image.fancybox-opened {
//     max-width: 730px !important;
//     max-height: 730px !important;
// }

.fancybox-outer {
    /* min-width: 700px;
    min-height: 700px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.fancybox-inner img {
	max-width: 540px;
	height: auto;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

//иконки слева
.additional_images {
    padding: 0;
    opacity: 0.8;
    filter: alpha(opacity=80);
    height: 71px;
    width: 100%;
    overflow: hidden;
    position: relative;

    &_video {
        height: 232px;
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}

.image-block .el-button-scroll {
    position: absolute;
    top: 0;
    // top: 50%;
    // transform: translateY(-50%);
    z-index: 1;
    margin: 0;
    width: 35px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    // width: 100%;
    // width: auto;
    &[move="up"] {
        left: 0;
    }

    &[move="down"] {
        right: 0;
    }
}


.ext-properties-dots {
    //letter-spacing: -.5px;
    content: "..........................................................................................................................................................................................................................................";
    //font-family: Tahoma;
    font-size: 13px;
    color: @ca-grey;
    padding-left: @pdots;
    padding-right: @pdots-r;
}

@pdots: 10px;
@pdots-r: 18px;

.properties-table {
    /*      color: @cm-grey;  */
    margin: 0;
    padding: 0;
    list-style: none;
    table-layout: fixed;
    text-align: left;

    //width: 570px;
    &_min {
        //mod
        width: 100%;

        .properties-table__td {
            overflow: visible;
            font-size: 13px;

            &_dotted {
                // width: 185px;
                width: 50%;
                // display: block;
                // float: left;
                // height: 28px;
                height: 26.5px;
            }
        }
    }

    &__tr {
        text-align: left;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__td {
        overflow: hidden;
        font-size: 14px;
        white-space: nowrap;
        padding: 8px 0;
        text-align: left;
        display: inline-block;
        vertical-align: top;
        width: 340px;

        .properties-table_main &:last-child {
            white-space: normal;
            padding-left: @pdots;
        }

        &_dotted {
            > span {
                overflow: hidden;
                position: relative;

                &::after {
                    .ext-properties-dots;
                    position: absolute;
                }

                .properties-table_min & {
                    background-color: #ffffff;
                    padding: 5px 0;
                    padding-right: @pdots-r;
                    z-index: 1;

                    &::after {
                        top: 5.5px;
                        display: none;
                    }
                }
            }
        }

        &_dottedleft {
            //width: 260px;
            text-align: right;

            > div {
                position: relative;

                > span {
                    position: absolute;
                    right: 0;
                    top: 0;

                    &::before {
                        .ext-properties-dots;
                    }
                }
            }
        }
    }

    &__title {
        text-align: left;
        font-size: 16px;
        padding: 7.5px 0;
        margin-bottom: 7.5px;

        > span {
            border-bottom: 1px dotted;
        }
    }
}



.wrapper {
    .padding;
    // max-width: 1340px;
    width: 100%;
    max-width: @vw-max;
    margin-left: auto;
    margin-right: auto;
    // height: 100%;
    position: relative;
    line-height: inherit;

    &.header__main {
        height: auto;
    }
}

.padding {
    @media (max-width: 1300px) {
        padding-left: 14px; //vw/@vw
        padding-right: 14px; //vw/@vw
    }
}

.margin {
    padding-left: 0;
    padding-right: 0;
    margin-left: @margin-min;
    margin-right: @margin-min;
}

.text-big {
    font-size: 30px;
    font-weight: 400;
    // .mobile ({ font-size: 20px; });
    // .tablet ({ font-size: 25px; });
}

.text-small {
    font-family: @font1;
    font-size: 12px;
    font-weight: 400;
}


.box-grey {
    background-color: @cm-grey2;
    border: @border;
}

.box-grey-dark {
    background-color: rgba(54, 54, 54, 0.027);
    padding: 32px 24px;
    color: #666666;

    b,
    strong {
        color: #666666;
    }
}

.b-grey {
    background-color: @cm-grey2;
    position: relative;

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: @cm-grey1;
        left: 0;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

.pseudo {
    content: "";
    position: absolute !important;
    display: block;
    left: 0;
}

.block-partition {
    border: @border;
    border-radius: @radius;
    display: table;

    &__item {
        display: table-cell;
        width: 50%;
        vertical-align: top;

        &:last-child {
            border-left: @border;
        }
    }
}

.rotate {
    transform: rotate(180deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

.last {
    margin-bottom: 0 !important;
}

// вычисление высоты
.here (@height) when (@height < 20) {
    .hide-text_@{height} {
        height: @height;
    }
    .here(@height - 1);
}

.here (0) {};

.here (100);

.hide-text {
    position: relative;
    overflow: hidden;
    display: inline-block;

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 12px;
        background: linear-gradient(rgba(255, 255, 255, 0), #ffffff 100%, #ffffff 10%, #ffffff);
    }
}

.hide-text_50 {
    height: 54px;
}

.hide-text_100 {
    height: 100px;
}

.title-1 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.title-2 {
    font-weight: 500;
    font-size: 20px;
}

.cat-title {
    font-weight: 500;
    font-size: 16px;
}


.b-action {
    @h: 200px;
    text-align: left;
    border: @border;
    position: relative;
    height: @h;
    margin-bottom: 20px;
    overflow: hidden;

    &:hover {
        //box-shadow: @shadow;
        border: 1px solid @ca-grey1;
    }

    &_inner {
        .clearfix;
        border: none;
        padding: 25px 0;
        height: auto;

        &:hover {
            box-shadow: 0 0;
            border: none;
        }

        .b-action__but,
        .b-action__data,
        .b-action__title {
            display: none;
        }

        .b-action__caption {
            padding-top: 0;

            p:first-child {
                margin: 0;
            }
        }

        .b-action__img {
            border: none;
            padding: 0;
        }

        .b-action__logo {
            //.align-v;
            position: relative;
            height: 100%;

            img {
                position: relative;
                height: 100%;
            }
        }
    }

    &__img {
        // height: 100%;
        width: @h;
        height: @h;
        //line-height: @h; chk лешины правки
        display: block;
        float: left;
        border-right: @border;
        text-align: center;
        padding: 7px;

        img {
            width: auto;
            height: 100%;
        }
    }

    &__caption {
        padding: 20px;
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    &__title {
        .title-2;
    }

    &__descript {
        display: block;
        margin-bottom: 20px;

        p {
            margin: 5px 0;
        }
    }

    &__but {
        //position: absolute;
        top: auto;
        position: relative;
        bottom: 20px; // chk 0 основные акции
        text-transform: uppercase;
        font-size: 13px;
    }

    &__right {
        float: right;
        width: 190px;
        height: 100%;
        position: relative;
    }

    &__data {
        .box-grey;
        border-top: 0;
        border-right: 0;
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        border-bottom-left-radius: @radius;
        width: 100%;
    }

    &__logo {
        width: calc(~"100% - 20px");
        //line-height: @h;
        display: block;
        height: 168.4px;
        line-height: 168px;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: center;

        img {
            height: 90%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }
}

// на всю ширину экрана
.border-wide {
    position: relative;
    border-bottom: 2px solid @cm-grey1;
    border-top: 2px solid @cm-grey1;

    &::after,
    &::before {
        content: "";
        position: absolute;
        border-bottom: 2px solid @cm-grey1;
        border-top: 2px solid @cm-grey1;
        top: -1.5px;
        bottom: -2.5px;
        width: 9999px;
    }

    &::before {
        right: 100%;
    }

    &::after {
        left: 100%;
    }
}

// на всю ширину экрана
.bg-wide {
    position: relative;
    background: @cm-grey2;

    &::after,
    &::before {
        content: "";
        position: absolute;
        background: @cm-grey2;
        // Соответствует фону элемента h2
        top: 0;
        bottom: 0;
        width: 9999px;
        // Очень большая ширина
    }

    &::before {
        right: 100%;
    }

    &::after {
        left: 100%;
    }
}

.b-brand {
    position: relative;
    padding: 25px 25px 25px 0;
    margin-bottom: 25px;
    min-height: 150px;

    &_all {
        .b-brand__descript {
            padding-left: 0;

            // &-title {}
        }
    }

    &__img {
        float: left;
    }

    &__descript {
        .lh-def;
        overflow: hidden;
        padding-left: 65px;
    }

    &__link {
        position: absolute;
        bottom: 35px;
        right: 25px;
        margin-top: 10px;
    }
}

.choice-organization {
    &__row {
        .flex-row;
        .flex-row_nowrap;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
    }

    &__column {
        &:first-child {
            .choice-organization__column-wrap {
                border-right: @border;
                padding-right: 50px;
            }
        }

        &_file {
            padding-left: 50px;

            .form__item {
                text-align: left;
            }
        }
    }

    &__check {
        display: block;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 25px;
        text-align: left;
    }
}

.choice-city {
    @p: 30px;
    @head-h: 119px;
    text-align: left;
    padding: 0;
    // height: 820px; //в прототипе 820px       min-height: 560px
    height: 80vh;
    min-width: 780px;

    &__row {
        .flex-row;
        .flex-row_nowrap;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        height: calc(100% - 157px);
    }

    &__column {
          max-width: 410px;
          display: inline-block;
          vertical-align: top;
          height: 100%;

        &_objects {
            flex-grow: 1;
            flex-basis: 255px;
        }
    }

    &__title {
        display: block;
        padding: 0 0 15px @p;
        font-size: 13px;
        color: @cm-grey;
    }

    &__block {
        padding-left: @p;
        border-top: @border;
        border-right: @border;
        line-height: 200%;
        padding-top: @p/2;
        height: calc(~"100% - 25px");
        overflow-y: hidden;

        &-alphabet {
            display: block;
            margin: 5px 0;
        }

        .ps-scrollbar-x-rail {
            display: none !important;
        }
    }

    &__caption {
        .box-grey;
        padding: @p/2;
        border-left: 0;
        border-right: 0;

        &-tel {
            span {
                font-size: 16px;
            }
        }

        &-link {
            font-weight: 700;
            border-bottom: 1px dotted @cm-orange;
        }
    }

    &__search {
        padding: @p;
        border-top: @border;

        .form-wrap__button {
            transform: scale(.8, .8) !important;
            top: 35px;
            left: 35px;
        }

        // .form-wrap__input {}
    }

    &__head {
        padding-left: @p;
        padding-top: @p;
        height: @head-h;
        margin-bottom: 35px; // @p

        &-title {
            margin-bottom: @p;
            margin-top: 0px;
        }

        // &-text {}
    }
}


// MEDIA classes
.media-m {
    display: inline-block;
}

.filter-grey {
    filter: grayscale(100%);
    transition: filter 0.5s ease;

    &:hover {
        filter: grayscale(0%);
    }
}

.b-seo-text {
    margin: 30px 0;
    font-size: 12px;
    margin-top: 100px;

    .recent-variants-conteiner + & {
        margin-top: 0;
    }

    .content__right.content__right_1level + & {
        margin-top: 130px;
    }

    .content__right + & {
        margin-top: 90px;
    }
}

.disabled {
    color: @ca-grey1 !important;

    > * {
        color: @ca-grey1 !important;
        border-color: @cm-grey1 !important;
        cursor: default !important;
    }
}

.replace-text {
    .lh-def;
}

.discount-get {
    &__anchor {
        margin-left: 20px;
        border-bottom: 1px dotted;
    }

    &__bubble {
        .bubble__wrap {
            // padding-left: 35px;
            padding: 14px 15px 17px 24px;
        }
    }

    &__discount {
        background-color: #ffffff;
        box-shadow: @shadow;
        border-left: 4px solid @ca-green1;
        border-radius: 3px;
        font-size: 13px;
        padding: 20px 15px 21px 75px;
        position: relative;

        .discount__title {
            font-weight: 700;

            &:first-child {
                margin-top: 0;
            }
        }

        .discount-svg {
            position: absolute;
            left: 38px;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 39px;
            height: auto;
        }

        p {
            line-height: normal;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            margin-top: 17px;
        }
    }

    &__name {
        padding: 0 25px;
    }

    &__title {
        font-size: 14px;
        width: 100%;

        &:hover {
            color: fade(@cm-orange, 80%);
        }
    }

    &__review-conteiner {
        position: relative;
        margin-bottom: 22px;
    }
}

.lh-def {
    line-height: 120%;

    * > {
        line-height: 120%;
    }
}

@article-left: 32px;

@import "lightbox";
@import "bubble";
@import "nav";
@import "nav-catalogue";
@import "form";
@import "table";
@import "alerts";
@import "item";
@import "categories-list";
@import "list-unwrap";
@import "gallery";
@import "gallery-recent";
@import "banner";
@import "banner-leftright";
@import "b-article-preview";
@import "b-article";
@import "classes-stnd";
@import "classes-text";
@import "pagination";
@import "toggle-wrap";

.bootstrap-touchspin-down,
.bootstrap-touchspin-up {
    .el-counter-button;
    font-size: 24px;
}

.bootstrap-touchspin-down {
    padding-bottom: 4px !important; //chk листинг в виде таблицы
}

.bootstrap-touchspin-up {
    line-height: 30px;

    .item__counter_mini &,
    .el-counter_mini & {
        line-height: 0;
    }
}


//helpers
.table__td-wrap-cart {
    height: 100px;
    position: relative;
    padding-top: 20px;

    .item__articul {
        position: absolute;
        top: 70px;
    }
}

.rub {
    color: @cm-grey;
    font-style: normal;

    .cart-main &,
    .cart-widget & {
        text-transform: uppercase;
        font-size: 11px;
        color: inherit;
    }
}

.shadow-bottom {
    bottom: -6px;
    width: calc(~"100% + 25px");
    height: 1.1px;
    box-shadow: 0 -5px 7px 0 rgba(0, 0, 0, 0.35);
    z-index: 1;
    margin-left: -@margin-content;
    background-color: transparent;
    &:extend(.pseudo);
}

.table #js-loader {
    min-height: 300px;
}


.box-img {
    height: 237px;
    line-height: 237px;
    width: calc(~"20% - 16.8px"); //21 * 3 /4
    text-align: center;
    position: relative;
    // display: block;
    margin: 0 21px 21px 0;
    display: inline-block;
    vertical-align: top;
    border: @border;

    &:nth-child(5n) {
        margin-right: 0;
    }

    &:hover {
        color: @ct-main;
        box-shadow: @shadow;
    }

    &_4 {
        //4 блока
        height: 283px;
        line-height: 283px;
        width: calc(~"25% - 15.75px"); //21 * 3 /

        &:nth-child(4n) {
            margin-right: 0;
        }

        .box-img__title {
            height: 80px;
            line-height: 80px;
        }
    }

    // &_brandshop {}

    &__img {
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        position: absolute;
        width: 100%;
        max-height: 205px;
    }

    &__title {
        position: absolute;
        bottom: 0;
        height: 60px;
        line-height: 60px;
        width: 100%;
        margin: 0;
        font-size: 16px;
        border-top: @border;
        background: @cm-grey2;
    }
}

.box-img2 {
    @h: auto;
    @m: 21px;
    height: @h;
    line-height: @h;
    width: calc(~"20% - 16.8px"); //21 * 4/5  @m * 100/20 -1 /  100/20
    text-align: center;
    position: relative;
    margin: 0 @m @m 0;
    display: inline-block;
    vertical-align: top;
    box-shadow: @shadow;

    &:nth-child(5n) {
        margin-right: 0;
    }

    &:hover {
        color: @ct-main;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);

        img {
            box-shadow: @shadow-inset;
        }
    }

    &_brandshop {
        //transition: none;
    }

    &_noimg {
        border: @border;
        min-height: 208px;

        .box-img2__title {
            display: block;
        }
    }

    &_notitle {
        .box-img2__title {
            display: none;
        }
    }

    &__img {
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        // position: absolute;
        width: 100%;
        height: @h;
        transition: none;
    }

    &__title {
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        bottom: 0;
        height: 80px;
        line-height: 80px;
        width: 100%;
        margin: 0;
        font-size: 16px;

        //display: none;
        .brandshop-group_group & {
            display: block;
        }
    }
}

/*  .js-slider-scroll{
    &__prev,&__next{
        top: 60px; chk слайдер брендшоп
    }
}  */

.table__td-container {
    position: relative;
}

.ajax-error {
    padding: 10px;
    font-size: 14px;
}

.items .js-item-anim-fade {
    position: relative;
    padding-top: 10px;

    &__dinam {
        opacity: 0;
        position: absolute;
        transition: opacity .79s cubic-bezier(0, 1.29, 0, 0.96);
        will-change: opacity;
        padding-bottom: 10px;
        padding-top: 10px;

        &.active {
            opacity: 1;
            transition: opacity .4s cubic-bezier(0.35, -0.08, 1, 0.21);
        }
    }

    &.active .el-plate-container,
    &.active .item__descript-conteiner{ //для затемнения картинки
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
    }
}


.fixed {
    position: fixed !important;
    top: 0;
}

.js-wishlist-outer-container__trg {
    display: inline-block;
    position: absolute;
}

.b-grid-container {
    text-align: center;
}

.b-grid {
    .last-mr;
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;

    &_center {
        width: 530px;
        text-align: center;
    }

    &__b {
        background-color: #ffffff;
        border-top: solid 1px @ca-grey2;
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;

        &_grey {
            background-color: @ca-grey4;
        }

        &_mini {
            border-bottom: solid 1.5px @ca-grey2;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    &.content__left {
        margin: 0;
    }
}

.body-grey {
    // background-color: @ca-grey2!important;
    background-color: #f9f9f9;

    .recent-variants {
        background-color: #ffffff !important;
    }
}

.body-empty:extend(.body-grey) {
    .header__services,
    #go-to-top,
    #ico-menu,
    .nav.nav_top,
    .recent-variants-conteiner,
    .footer__head,
    .footer__body,
    .footer__foot {
        display: none !important;
    }

    .footer__empty {
        display: block !important;
    }

    .header {
        margin-bottom: 45px;
    }
}

.mod-content.con-index.act-index.body-no-grey {
    background: #ffffff !important;
}

.g-recaptcha {
    margin-top: 20px;
}

.description-1 {
    margin-bottom: 30px;
    white-space: nowrap;

    &__title {
        .title-2;
        margin-bottom: 30px;
        display: block;
    }

    &__text {
        color: #666666;
    }
}

.terms {
    color: #797979;
    font-size: 10px;
    text-align: left;
    position: relative;

    .form_feedback & {
        margin-top: 50px !important;
        max-width: 350px;
    }

    .form_registration & {
        text-align: right;
    }

    .form_review & {
        margin-left: 121px;
        margin-top: 15px;
        text-align: right;
    }

    .order-footer & {
        margin: 0;
        top: -20px;
        left: 40px;
    }

    a {
        color: fade(@ca-blue, 60%);

        &:hover {
            color: @ca-blue;
        }
    }
}

.body-error #content-block,
.error_block-container {
    height: 700px;
    position: relative;
    max-width: 100%;
}

.body-error #content-block {
    background-color: #f9f9f9;
    margin: 17px 0 0;
}

.error_block-container {
    margin-top: -40px;
}

.error_block {
    padding: 51px 50px;
    text-align: center;
    position: absolute;
    font-family: sans-serif;
    font-size: 15px;
    background: #ffffff;
    width: 429px;
    height: 451px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.14901961);
    border-radius: 3px;
}

.error_block * {
    margin: 0;
    padding: 0;
}

.error_block b {
    font-weight: 700;
}

.error_block > div {
    margin-bottom: 47px;
}

.error_block > div > p {
    font-style: normal;
    font-size: 64px;
    font-weight: 700;
}

.error_block > div > p span {
    font-size: 50px;
    vertical-align: text-top;
    // line-height: 60px;
    color: @cm-grey;
    position: absolute;
    top: 59px;
    left: 90px;
}

.error_block > p:first-of-type {
    font-size: 18px;
    margin-bottom: 37px;
}

.error_block > p:first-of-type span {
    color: #fb8337;
}


// tags
.fast-tags {
    // visibility: hidden;
    @mimg: 57px; //57px;

    &.visible {
        visibility: visible;

        .categories-list__wrapper {
            display: block;
        }
    }

    &__title {
        display: block;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &__toggle {
        font-size: 12px;
        // border-bottom: 1px dotted;
        cursor: pointer;
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
        color: @cm-grey;
    }

    .b-tabs.content__tabs.categories-wrap {
        margin: 0;
    }

    .categories-list {
        margin-bottom: 32.5px;

        &__item {
            width: calc(~"25% - 15px");
            border-radius: 4px;
            border: 0;
            box-shadow: @shadow1;
            transition: box-shadow .1s;

            &:hover {
                box-shadow: @shadow1;
            }
        }

        &__wrapper {
            margin: 0 0 14px;
        }

        &__conteiner {
            padding: 15px;
            height: 72px;
            overflow: hidden;
        }

        &__img {
            position: absolute;
            max-width: 42px;
            max-height: 42px;
        }

        &__title {
            font-weight: 600;
            top: auto;
            transform: none;
            margin-left: @mimg;
            margin-bottom: 7px;
            margin-top: 1px;
        }

        &__description {
            margin-left: @mimg;
            line-height: 120%;
            height: 28px;
            overflow: hidden;
        }

        &&_flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // width: 100%;
            padding: 0;
            margin: 0;
            font-size: 0;
        }

        &&_flex &__item {
            display: inline-block;
            vertical-align: top;
            margin: 0 14px 15px 0;
            width: 100%;
            min-width: 309px;
            background-color: #ffffff;
            border: 1px solid @cm-grey1;
            border-radius: 3px;

            &:last-child {
                /* margin: 0 0 16px; */
            }
        }

        &&_line {
            .notext;
            margin-bottom: 77px;
        }

        &&_line &__item {
            width: calc(~"8.33% - 15px");
            text-align: center;
        }

        &&_line &__conteiner {
            height: 90px;
            overflow: visible;
        }

        &&_line &__img {
            margin-right: 0;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        &&_line &__title {
            position: absolute;
            top: 100px;
            margin: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &&_2 &__item {
            width: calc(~"50% - 15px");
        }

        &&_3 &__item {
            width: calc(~"33.3% - 15px");
        }

        &&_3 &__conteiner {
            padding-right: 12px;
        }

        &&_notext {
            .notext;
        }

        &&_notext &__item {
            width: calc(~"20% - 15px");
        }
    }

    .notext {
        .categories-list__title {
            font-size: 14px;
            color: #000;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 0;
        }
    }

    /* close, open */
    .b-tabs.content__tabs.categories-wrap.closed .toggle-wrap {
        background: transparent;
        border: 0;
    }

    .b-tabs.content__tabs.categories-wrap.closed .toggle-wrap__item,
    .b-tabs.content__tabs.categories-wrap.closed .categories-list__wrapper {
        display: none !important;
    }

    .b-tabs.content__tabs.categories-wrap.closed .toggle-wrap__item.toggle.open {
        display: block !important;
        border-bottom: 1px solid @cm-grey1 !important;
    }

    .b-tabs.content__tabs.categories-wrap.closed .toggle-wrap__item.toggle.open:hover {
        border-bottom: 1px solid #c9c9c9 !important;
    }
}


.fast-tags .b-tabs.content__tabs.categories-wrap.closed .categories-list__wrapper {
    display: block !important;
}

.categories-list__wrapper {
    display: none;
}

.toggle-wrap-container {
    margin-bottom: 20px;
    margin-left: 1px;
    min-height: 30px;
    font-size: 0;

    .el-arrow-wrapper {
        vertical-align: bottom;
        margin-bottom: -2px;
    }

    & + .categories-list__wrapper {
        display: block;
    }

    .fast-tags__toggle {
        box-shadow: @shadow1;
    }
}

.variants-count-variant-container {
    width: 50px;
    height: 57px;
    display: block;
    margin-bottom: 20px;
}

.ya-share2 {
    &__caption {
        display: inline-block;
        vertical-align: middle;

        & + * {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.choice-city__big-cities {
    line-height: 200%;
}


.netpayPayform { //фиксы стилей для онлайн-оплаты
    padding: 0!important;
    border: 0!important;

    &>*:not(form) {
        display: none!important;
    }
}