@import (reference) "index";

.catalog-items {
    position: relative;
    border: @border1;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;

    &_grid { //спецефические стили для вида сетки
        .items {
            left: 0;

            .item {
                width: 25%;
                height: 430px;
                padding: 20px;
                border-right: @border1;
                border-bottom: @border1;

                &:first-child {
                    border-top-left-radius: @radius;
                    border-bottom-left-radius: 0
                }

                &:nth-child(4n) {
                    border-right-width: 0;
                }
                &:nth-child(4n + 1) {
                    border-left: 0;
                }
                &:nth-child(-n+4) {
                    border-top-width: 1px;
                }

                .item__descript-conteiner {
                    padding-top: 7px;
                }

            }
        }
    }

    &_list { //спецефические стили для табличного вида 
        .items {
            .el-plate-container {
                left: 20px;
                bottom: 0px;
            }

            .banner-conteiner {
                margin: 15px 0;
            }

            .banner-listing {
                padding: 0 !important;
            }

            .stnd-block {
                margin: 0;
            }

            .item {
                width: 100%;
                min-height: 260px;
                display: flex;
                flex-direction: row;
                padding: 20px 0;
                box-shadow: none;
                //z-index: 0; из-за этого в закладках перекрывается
                
                &:not(:last-child) {
                    border-bottom: 1px solid @cm-grey1;
                }

                &__features {
                    padding-bottom: 12px;
                }

                &__status {
                    font-size: 12px;
                }

                &__status-wrap {
                    // margin-top: 27px;
                    margin-top: 15px;
                    padding-top: 7px;
                    padding-bottom: 9px;
                    margin-bottom: 20px;
                }

                &__service-wrap {
                    margin-bottom: 30px;
                }

                &__discounts-wrap {
                    padding-top: 10px;
                }

                // item__img
                &__img {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .js-input-spin {
                    width: 32px;
                }

                .input-group-btn {
                    width: 29px;
                }

                .variants-count {
                    right: 30px;
                }

                &__descript {
                    @limit: 50px;

                    font-size: 14px;
                    height: auto;
                    max-height: @limit;
                    margin-bottom: 15px;

                    &::after {
                        // display: none;
                        top: @limit;
                        transform: translateY(-100%);
                        bottom: auto;
                    }
                }

                .item__descript-conteiner {
                    padding-top: 0;
                }

                &__container_right {
                    top: 0;
                }

                &__price {
                    font-size: 19px;
                    font-weight: 600;
                }

                &__articul {
                    font-size: 13px;
                }

                &__li {
                    position: relative;
                    flex-shrink: 1; //IE10 shrink fix

                    &_img {
                        @w: 235px;
                        width: @w;
                        min-width: @w;
                        padding-right: 15px;
                        // padding-top: 10px;
                    }

                    &_info {
                        width: 100%;
                        padding-right: 38px;
                    }

                    &_buy {
                        @w: 260px;
                        width: @w;
                        min-width: @w;
                        padding: 5px 24px 0 20px;
                        border-left: 1px solid @cm-grey1;
                    }
                }

                .properties-table {
                    width: 100%;
                    max-width: 260px;
                    overflow: hidden;

                    &__tr {
                        display: table;
                        white-space: nowrap;
                    }

                    &__td {
                        width: auto;
                        font-size: 13px;
                        text-align: right;
                        display: table-cell;
                        white-space: normal;
                        vertical-align: middle;

                        &:first-child {
                            width: 100%;
                            // color: #999999;
                            text-align: left;
                        }

                        &:last-child {
                            white-space: nowrap;
                        }

                        &_dotted {
                            > span {
                                &::after {
                                    color: inherit;
                                }
                            }
                        }
                    }

                    // reset padding
                    &__tr:first-child .properties-table__td {
                        padding-top: 0;
                    }

                    &__tr:last-child .properties-table__td {
                        padding-bottom: 0;
                    }
                }

                &__line {
                    width: 100%;
                    position: relative;
                    display: block;
                }
            }
        }
    }

    &_box{
        .stnd-box;
    }




    .loopItems(@counter) when (@counter > 0) {
        .loopItems((@counter - 1)); 
        .items_@{counter} {
            .item:nth-child(4n){
                border-right-width: 1;
            }
            .item:nth-child(@{counter}) {
                border-top-right-radius: 4px;
            }
            .item:nth-child(@{counter}n) {
                border-right-width: 0;
            }
        
            .item:nth-child(-n+@{counter}) {
                border-top-width: 0;
            }
        }
    }
    .loopItems(5);

    /*  перезапись. старая пагинация  */

    &&_inner {
        margin: 0;
        padding: 0;
        border-bottom: 0;
    }

    &__paginator {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        &:empty {
            display: none;
        }

        &_out {
            position: relative;

            .pagination-conteiner {
                margin: 0;
                position: absolute;
                right: 0;
            }
        }

        .items & {
            .pagination-conteiner {
                position: relative;
                display: inline-block;
                vertical-align: top;
            }
        }

    }

    & &__moreitems {
        display: block;
        width: 50%;
        height: 80px;

        text-align: center;
        height: 100%;
        background-color: @cm-grey2;
        color: @ct-main;

        &:hover {
            color: inherit;
        }

        &_wrap {
            position: absolute;
            //bottom: 0;
            border: @border;
            border-top: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            height: 80px;
        }

        &-wrap {
            .align-v;
            .align-h;
        }

        &-ico {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 30px;
            font-weight: 700;
            border: 1.5px solid @cm-grey;
            display: inline-block;
            vertical-align: middle;
            margin-right: 24px;
        }

        &-text {
            display: inline-block;
            vertical-align: middle;
            line-height: 150%;
        }

        &-title {
            font-size: 18px;
            font-weight: 600;
        }

        &-notice {
            font-size: 15px;
        }
    }

    &__more {
        display: block;
        width: 100%;
        font-size: 16px;
        text-align: center;
        background-color: #ffffff;
        margin-top: 14px;
        padding: 10px 10px 11px;
        border: 1px solid @cm-grey1;
        color: #333333;
        box-shadow: @shadow2;

        &:hover {
            border-color: @ca-grey1;
            color: #333333;
        }
    }

    .table__tr {
        // перезапись. старая пагинация
        // border-left-width:0;
        // border-right-width: 0;
        // перезапись. старая пагинация
        //
        .table &:first-child {
            border-top-width: 0;
        }
    }

    .item-wrap{
        width: 100%;
        background: #fff;
        border:@border1;
        border-bottom-width: 0;
        box-shadow: @shadow2;
    }
}


// @w:calc(~"25% + 1px");
@w: 25%;
.items {
    //список товаров
    width: 100%;
    min-height: 300px;
    font-size: 0;
    padding: 0;
    position: relative;
    // left: 2px;
    text-align: left; //chk замена товара
    //авто высота
    display: flex;
    flex-wrap: wrap;

    *:not(.catalog-items) > &[class*="items_"] {
        left: 0;

        .item {
            margin-left: 0;
            border-right: 2px solid @ca-grey2;

            &:first-child {
                border-top-left-radius: @radius;
                border-bottom-left-radius: @radius;
            }

            &:last-child {
                border-top-right-radius: @radius;
                border-bottom-right-radius: @radius;
            }

            &__status{
                display: none;
            }
        }
    }

    .loopCountItems(@counter) when (@counter > 0) {
        .loopCountItems((@counter - 1)); 
        &.items_@{counter} {
            .item {
                width: 100%/@counter;
            } 
        }
    }
    .loopCountItems(6);

    &[class*="items_"]{
        img{
            width: 100%;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: stretch;

        &:last-child {
            .item {
                margin-bottom: 0;
            }
        }
    }

    &__title{
        font-size: 15px; 
        font-weight: 600; 
        line-height: 20px; 
        padding: 30px 0 15px 0;
        margin: 0; 
    }

    &__child{
        width: 100%;
        border-left: 0;
        border-right: 0;
        &-wrapper{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px; 
            position: relative;
            background-color: #fff; 
            border-radius: 4px;
        }
    }

    & .item {
        display: inline-block;
        vertical-align: top;
        width: @w;
        background-color: #ffffff;
        padding: 15px 20px;
        height: auto;


        .mobile-tablet({
            width: 50%;
            &:nth-child(2n+1) { /* border-left-width: 0; */ /* chk slick-slide */ }
        });
        

        &_1level {
            //mod
            width: calc(~"25% - 11px");
            height: 241px; // фикс высота в каталоге
            //min-height: 229px; 
            margin-bottom: @m-catalog;
            box-shadow: @shadow1;
            border-radius: @radius;

            // margin-left: 8px;
            &:not(:first-child) {
                margin-left: @m-catalog;
            }

            &_empty {
                visibility: hidden;
            }

            //height: 375px!important; авто высота
            &:hover {

                // box-shadow: none;
                // border-left: 0!important;
                // border-top: 0!important;
                // padding-right: 7px;
                // border-right: 1px solid @ca-grey1!important;
                // border-bottom: 1px solid @ca-grey1!important;
                .el-count-plate {
                    right: 9.5px;
                }
            }
        }

        .el-count-plate {
            position: absolute;
            top: 10px;
            right: 10px;
            transition: color, background 1s ease;
        }
    }

    &.slick-slider{
        box-shadow: @shadow2;
        .item{
            border-right: 2px solid @ca-grey2;
            &:hover{
                box-shadow: 0 0;
            }
        }
        &.slick-slider .slick-active.slick-last-shown .item{
            border-right: none!important; 
        }
    } 

    & &__none {
        display: none !important;
    }

    .table__td {
        padding: 0;
        width: 100% !important;
    }

}


.item { //товар
    font-size: 14px;
    position: relative;

    &:not(tr):hover {
        // box-shadow: @shadow;
        // z-index: @z-5; проверить стоит и менять на нижеследующее
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
        z-index: @z-5;
        
        .slider-default &{
            z-index: auto;
        }
    }

    &&_header {
        &:hover {
            box-shadow: 0 0;
        }
    }

    &&_hidevariants {
        //mod
        // height: 314px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &&_rowbuy {
        //mod
        height: 433px;
    }

    &&_hidevariants&_rowbuy {
        //mod
        height: 362px;
    }

    &_archive {

        //mod
        .item__img {
            width: 75px;
            height: 75px;
        }
    }

    &_cart {
        //mod
        @padB: 15px;

        .item__img {
            width: 30px;
            height: 50px;
        }

        .item__articul,
        .item__descript {
            margin-bottom: 10px;
            overflow: hidden;
        }

        .item__descript {
            color: #000000;
            font-size: 15px;
            height: 38px;
        }

        .item__status {
            vertical-align: top;
            line-height: 100%;
        }

        .item__articul {
            font-size: 12px;
            color: #999999;
            margin-bottom: 8px;
        }

        .item__rotate {
            position: absolute;
            bottom: @padB;
            height: 23px;
            line-height: 23px;
            border-color: @cm-grey1;
            font-size: 12px;

            &:hover {
                border-color: @ca-grey1;
            }
        }

        .item__wishlist {
            position: absolute;
            left: 110px;
        }

        .item__price {
            font-size: 13px;
            color: #999999;
            position: absolute;
            right: 0;

            .rub {
                font-size: 10px;
            }

            > * ,
            .item__price-oldvalue {
                line-height: 18px;
            }

        }

        .item__summ {
            font-size: 18px;
            line-height: 25px;
            white-space: nowrap;
        }

        .item__del {
            position: absolute;
            bottom: 20px;
            right: 0;
            color: #999999;
            font-size: 12px;

            &:hover {
                color: @cm-orange;
            }
        }

        .item__rigging {
            color: @cm-orange;
            padding-left: 9px;
            display: inline-block;
            font-size: 13px;
            vertical-align: middle;
        }
    }

    &_modification {

        //mod
        .item__img {
            // width: 100%; chk .table__img
            height: 65px;
        }

        .item__price {
            font-size: 14px;
            font-weight: 700;

            .rub {
                font-weight: 400;
                vertical-align: top;
            }
        }

        .item__descript {
            margin: 0;

            .table & {
                max-height: 37px; //height: 37px; чтобы 2 строчки были сверху а 1 по центру
                height: auto;
            }
        }
    }

    a {
        text-decoration: none;
    }

    &__container {
        &&_right {
            //float: right!important; chk листинг где доставка 3-7дней
            position: absolute;
            right: 0;
            text-align: right;

            //          top: 22px; @todo
            .item__row_buy & {
                top: 0;
            }

            .table & {
                position: relative;
            }

            .table .item__articul + & {
                position: absolute;
                right: -10px;
                top: -29px; //5px
                text-align: right;
            }

            .variant__item & {
                position: relative;
                float: right;
            }

            &_1 {
                right: 0;
            }

            &_2 {
                right: 0;
                top: -4px;
            }

            &_3 {
                right: @item__btns-size + 8px; // @item__btns-size*2+10px
            }

            .cart-main & {
                right: auto;
                left: 110px;
                top: -4px;
            }
        }

        &&_left {
            float: left !important;
        }

        // &_articul {}

        &_left + &_left&_articul {
            margin-left: 20px;
        }

        &_price {
            display: flex;
            align-items: center;
        }

        #itemsGrid &_articul {
            position: absolute;
            left: 98px;
            top: 2px;
            text-align: right;
        }
    }

    &__buy-container {
        .flex;
        .flex-rl;
    }

    &__buy {
        &.el-button.el-button_min {
            min-width: 111px;
            text-transform: uppercase;
            font-size: 14px;
        }

        &_big {
            &.el-button.el-button_min {
                font-size: 16px;
                padding: 6.5px 50px;
                line-height: 22px;
                font-weight: 400;
                height: auto;
                // height: @buy-h_big;
                // padding: 0 51px;
            }
        }

        &_cart {
            &.el-button.el-button_prim-0 {
                min-width: 0;
                width: 27px;
                height: 24px;
                padding: 0;
                vertical-align: middle;
            }
        }

        &_default {
            margin-left: 30px;
            height: @buy-h; //chk prototype 33px
            line-height: @buy-h; //chk prototype 33px

            .items_1 & {
                height: 26px;
                padding-right: 19px;
                padding-left: 19px;
            }
        }

        &>span{
            line-height: inherit;
        }
    }

    &__notice {
        color: @cm-grey;

        &_img {
            //mod
            position: absolute;
            font-size: 14px;
            right: 10px;
            top: 10px;
            line-height: 13px;

            //  width: 45px;
            span {
                color: @cm-grey;
                font-weight: 800;
                font-size: 13px;
                letter-spacing: -0.5px;

                &:first-child {
                    text-transform: uppercase;
                    font-size: 15.5px;
                }

                &:last-child {
                    background-color: @cm-orange;
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 12px;
                    letter-spacing: normal;
                    padding: 0 2px;
                    border-radius: 2px;
                }
            }

            b {
                color: @cm-orange;
                font-size: 22px;
                font-weight: 800;
            }
        }

        b {
            color: @cm-orange;
        }
    }

    &__price-wrap {
        text-align: left;
        width: 100%;
        display: inline-block;
        position: relative;

        .table & {
            top: -10px; //chk -5px архив и закладки
            left: 20px;
        }
    }

    &__service-wrap {
        margin-bottom: 5px;
        .items & {
            position: relative;
            display: inline-block;
            vertical-align: top;
            float: left;
        }

        .table & {
            position: relative;
        }

        &_listing {
            .table & {
                width: 360px;
            }
        }

        &__right {
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            right: 0;
            top: 0;

            > * {
                vertical-align: middle;
            }

            .item__del {
                right: 25px;
            }
        }
    }

    &__discounts-wrap{
        margin: 25px 0;
    }

    &__price-container {
        position: relative;
        display: inline-block;
    }

    &__price {
        font-size: 0;
        white-space: nowrap;
        color: @ct-main;

        &>b{
            font-size: 19px;
            margin-right: 5px;
        }
        .table & {
            //margin-bottom: 5px;
            //   text-align: center;
            text-align: left;
        }

        b {
            //font-size: 18px; chk listing
            //color: @ct-main;
        }

        .el-question {
            margin-left: 7px;
        }
    }

    &__price-old {
        color: @ct-grey2;
        text-decoration: line-through;
        font-size: 16px;
        display: inline-block;
        margin-left: 10px;//в каталоге

        &_cart {
            font-size: 13px;

            .rub {
                font-size: 10px !important;
            }
        }

        &_variant {
            position: absolute;
            margin-top: 7px;
            font-size: 22px;
            line-height: 100%;
            margin-left: 25px;

            .variant__b-properties & {
                right: auto;
            }
            .svg-ruble{
                text-decoration: line-through;
            }
        }

        &.deactive {
            // .hidden;
            visibility: hidden;

            // .slick-slide & {
            //     display: none; // chk Хиты продаж
            // }
        }

        .table & {
            text-align: center; //chk скидки
        }
    }

    &__discount {
        display: inline-block;
        vertical-align: bottom;
        height: 15px;
        line-height: 15px;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        background-color: @cm-orange;
        border-radius: @radius;
        margin-left: 10px;
        padding: 0 6px 0 5px;
        position: relative;

        &_variant{
            margin-left: 0;
            margin-top: 10px;
        }
    }

    &__features {
        font-size: 10px;
        margin-top: 3px;
        .catalog-items_grid &{
            position: absolute;
        }
        
        &-product{
            font-size: 12px;
            margin-top: 12px;    
            display: block;
            position: absolute;
            line-height: 16px;
        }
    }

    &__status {
        font-size: 14px;
        color: @cm-grey;
        position: relative;
        white-space: nowrap;
        display: inline-block;
        .el-status-link;

        .table .item__container_statusfix & {
            position: absolute;
            right: -10px;
            bottom: 26px;
        }

        > i:extend(.el-status) {
            margin-left: 5px;
        }

        &_green {
            color: @ct-green;
        }


        &_top {
            br {
                display: none;
            }
        }
    }

    @item__btns-size: 28px;

    &__button-container {
        position: relative;
        display: inline-block;
        button {
            width: @item__btns-size;
            height: @item__btns-size;
            border-radius: 50%;
            border: 1px solid @cm-grey1;

            &:hover {
                border-color: #d0d0d0;
            }

            &::before {
                // width: 13px;
                // height: 13px;
            }
        }

        &_heart {
            .table & {
                position: absolute;
                right: 260px;
                top: 58px; //chk 51px без спеццен
            }

            // .table .item_action &{
            //     top: 63px;
            // }
        }
    }

    &__favorite {
        .table & {
            // top: 8px;
            // left: -80px;
            margin-bottom: 5px;
        }
    }

    &__rotate {
        //margin-top: 10px;
        padding: 5px;
        border: @border;
        border-radius: 8px;
        //width: 135px;
        font-size: 12px;
    }

    & &__descript-conteiner {
        position: relative;
    }

    &__descript {
        margin-bottom: 10px;
        margin-top: 0;
        display: block;
        clear: both;
        color: @ct-main;
        line-height: normal;
        font-size: 14px;
        font-weight: 600;

        a {
            transition: none;
            line-height: 17px;

            &:hover {
                color: @ca-blue;
            }
        }

        /*     .catalog-items &{
        &:after{
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 12px;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 100%, #fff 10%, #fff);
            }
        } */
        .table & {
            //margin-bottom: 25px;
            //top: -7px;
            max-width: 330px;
            max-height: 37px;
        }

        .items & {
            height: 51px;
            position: relative;
            overflow: hidden;
            margin-bottom: 11px;

            .tablet({
                min-height: 16px;
                max-height: 16px;
            });
        }

    }

    &__title {
        .cat-title;
        display: block;
        //   padding-left: 5px;
        text-align: center;
        font-weight: 600;
        line-height: 22px;
    }

    &__rating {
        display: block;

        .el-rating {
            span {
                &:hover::before,
                &:hover ~ &::before {
                    content: "";
                }
            }
        }
    }

    &__articul {
        font-size: 13px;
        // color: @cm-grey;
        color: #999999;
        white-space: nowrap;

        span {
            font-weight: 600;
        }

        .table & {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__counter {
        vertical-align: middle;
        font-size: 14px;
        display: inline-block;
        min-width: 88px;
        white-space: nowrap;

        &_block {
            display: block;
            margin-bottom: 10px;
        }

        &__input {
            .el-counter-input;
        }

        button {
            .el-counter-button;
        }
    }

    &__infotext {
        margin: 20px 0 35px;
        font-size: 13px;
        line-height: 122%;
    }

    &__status-wrap {
        .items & {
            display: inline-block;
            vertical-align: top;
        }

        .table & {
            padding-right: 0;
            padding-left: 20px;
        }
    }

    &__row:extend(.clearfix all) {
        margin-bottom: 15px;
        clear: both;
        position: relative;

        &_0 {
            margin-bottom: 0;
        }

        &_5 {
            margin-bottom: 5px;
        }

        &_10 {
            margin-bottom: 10px;
        }

        &_25 {
            margin-bottom: 25px;
        }

        &_last {
            margin-bottom: 0;

            .table & {
                padding-right: 25px;
            }
        }

        &_buy {
            margin-top: 33px;
        }
    }

    &__points {
        top: 7px;
        position: relative;

        &_nopoints {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
            top: 1px;
        }
    }

    &__img {
        // width: 75px;
        width: 104px;
        text-align: center;
        height: 75px;

        img {
            //width: 100%;//chk круглые часы
            height: 100%;
        }

        &_big {
            width: 170px;
            height: 170px;
        }

        .items & {
            width: 150px;
            height: 150px;
            margin-bottom: 10px;
        }

        .item_1level &{
            width: 140px;
            height: 140px;
            margin-bottom: 15px;
        }
        

        // border: @border;
        position: relative;
        overflow: hidden;
        display: block;
        margin: auto;

        &:hover .item__look {
            bottom: 0;
        }

        .item__look {
            background-color: rgba(0, 0, 0, .5);
            border-radius: 2px;
            text-align: center;
            color: #ffffff;
            font-size: 11px;
            position: absolute;
            width: 100%;
            height: 76px;
            bottom: -76px;
            transition: bottom .3s ease;

            &:hover {
                color: @cm-orange;
            }

            // .ico-look:extend(.align-v, .align-h) {}
        }
    }

    &__color {
        position: absolute;
        right: 25px;
        top: 28px;

        button {
            display: block;
            margin-bottom: 6px;
        }
    }

    &__assemble {
        text-align: left;
        padding: 0;
        width: 226px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;

        & + .item__rigging {
            border-left: @border;
        }

        &-title {
            vertical-align: middle;
            color: @cm-orange;
            margin-right: 5px;

            & + .item__assemble-input {
                margin-right: 10px;
            }
        }

        // &-input {}

        .bubble.bubble_bottom.bubble_error {
            top: -85px;
            color: @cm-orange;
            margin-left: 45px;
        }
    }

    &__wrap-label {
        position: relative;
        padding-top: 10px;
    }
}


