@import (reference) "index";
.ext-ligthbox(){
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: @z-0;
    background: rgba(0, 0, 0, 0.2);

    .mobile({
        position: absolute;
    });
}
.ext-ligthbox-content(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .mobile({
        top: 50px;
        transform: translateY(0);
    });
}
.lightbox {
    @close-w: 25px;
    .ext-ligthbox();
    display: none;

    /* display: block!important; */
    &#baground_big_block,
    &#lightbox {
        z-index: @z-2;
    }

    .mobile( {
        overflow: auto;
    } );

    &:hover {
        // display: none;
        // &~.nav_list{
        //   display: none;
        // }
    }

    &.active {
        display: block !important;
        z-index: 99;
    }

    &.active2 {
        display: block !important;
    }

    &_full {
        //mod
    }

    &_inpage {
        //mod
    }

    &__msg{
        padding: 60px 40px 40px;
    }
    &__title {
        .title-2;
        margin-top: 0;
    }

    &__content {
        .ext-ligthbox-content();
        //margin-left: -@close-w/2;
        padding: 60px 40px 60px 40px;

        // padding: 60px 40px; chk контакты правки
        border-radius: @radius;
        background-color: #ffffff;
        //border: 1px solid @cm-grey;
        //width: @vw-max - @close-w;
        text-align: center;
        box-shadow: @shadow;
        display: none;
        // height: 100%;
        max-height: 90%;
        overflow-y: auto;
        overflow-x: hidden;

        &_wide {
            //mod
            padding: 0;
            text-align: left;
            width: 90%; //1177px
            overflow: hidden;
            max-width: 1280px;

            #good-replace& {
                max-width: 1200px;
            }

            .desktop( { /* width:1000px; */ } );

            .mobile-tablet({
                width: 760px;
            });
        }

        &_scroll {
            //mod
            overflow-y: scroll;
            padding: 30px 25px 50px;
        }

        &_companies {
            width: 890px;
            padding: 60px 35px 60px 40px;
        }

        .ps-container& {
            position: absolute;
        }

        &#lightbox-form-tender,
        &#lightbox-form-callback {
            .mobile({
            left: 15px;
            transform: translateX(0);
            });
        }

        .lightbox.active > & {
            display: block;
        }
    }

    input[type="submit"] {
        //margin-top: 20px; chk /order/index/buyer
    }
}

.lightbox-footer {
    margin-top: 20px;
}

.lightboxnew_article {
    @w: 380px;
    font-family: "Calibri", "Arial";
    width: 535px;
    // color: #828282;
    color: #333333;
    font-size: 16px;
    padding: 0;
    background: transparent;
    box-shadow: none;

    #lightbox-sendsay {
        background: #ffffff;
        padding: 20px;
        height: 370px;
        position: relative;

        .el-button {
            margin-top: 20px;
        }
    }

    .form {
        width: @w;
    }

    .form__input {
        margin-bottom: 10px;
        width: @w;
    }

    .form__wrap {
        width: @w;
    }

    & &__top {
        height: 199px;
        background-color: @cm-orange;
        position: relative;

        &::before {
            content: "";
            background-image: url("../img/lightbox-envelope.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 200px;
            height: 170px;
            transform: rotateZ(45deg);
            display: block;
            position: absolute;
            bottom: 0;
            opacity: .5;
        }

        &-title {
            text-align: right;
            font-size: 31px;
            font-weight: 800;
            width: 409px;
            margin-left: auto;
            padding-right: 50px;
            color: #ffffff;
            padding-top: 30px;
        }
    }

    & &__title {
        font-size: 20px;
        font-weight: 800;
        font-family: "Calibri", "Arial";
        color: #333333;
        position: relative;
        margin: 0 auto;
        margin-bottom: 20px;

        &_main {
            font-size: 24px;
            width: @w;
            text-align: left;
        }
    }

    & &__title-marked2 {
        font-size: 64px;
    }

    & &__title-marked {
        color: #fa6405;
        font-size: 30px;
        top: 0;
    }

    & &__form {
        text-align: left;
        /* max-width: 315px; */
        width: @w;
        margin: auto;

        .form {
            width: @w;
        }
    }

    & &__info {
        font-size: 13px;
        text-align: center;
    }

    & &__input {
        // width:100%;
        // height: 40px;
        // border: 1px solid;
        // padding-left: 10px;
        font-size: 16px;
        width: 100%;
    }

    & &__alert {
        color: @cm-orange;
        margin: 0;
        // margin-bottom: 10px;
    }

    & &__main {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
    }

    & &__thankyou {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        margin-top: -20px;
    }

    & &__link {
        color: @cm-orange;
        text-decoration: underline;
    }

    & &__btn {
        text-transform: uppercase;
        font-weight: 400;
        width: 100%;
        line-height: 120%;
    }

    .el-radio {
        display: block;
        margin-bottom: 10px;
        font-size: 14px !important;
    }

    .el-radio__input {
        margin-right: 5px;
    }

    .el-radio:last-child {
        margin-bottom: 0;
    }
}


.lightboxnew_gift {
    @w: 360px;
    font-family: "Calibri", "Arial";
    width: 535px;
    // color: #828282;
    color: #333333;
    font-size: 16px;
    padding: 0;
    background: transparent;
    box-shadow: none;

    #lightbox-sendsay {
        background: #ffffff;
        padding: 20px;
        height: 370px;
        position: relative;

        .el-button {
            margin-top: 20px;
        }
    }

    .form {
        width: @w;
    }

    .form__input {
        margin-bottom: 10px;
        width: @w;
    }

    .form__wrap {
        width: @w;
    }

    & &__top {
        //
        background-image: url("../img/lightbox-sendsay.png");
        // bottom: ;
        background-repeat: no-repeat;
        height: 199px;
        //
    }

    & &__title {
        font-size: 20px;
        font-weight: 800;
        font-family: "Calibri", "Arial";
        color: #333333;
        position: relative;
        margin: 0 auto;
        margin-bottom: 20px;

        &_main {
            font-size: 34px; //24
            width: @w;
            //
            text-align: left;
            padding-right: 105px;
            //
        }
    }

    & &__title-marked2 {
        font-size: 64px;
    }

    & &__title-marked {
        color: #fa6405;
        top: 0;
        //
        font-size: 80px;
        position: absolute;
        margin-left: 47px;
        margin-top: -5px;
        font-weight: 400;
        //
    }

    & &__form {
        text-align: left;
        /* max-width: 315px; */
        width: @w;
        margin: auto;

        .form {
            width: @w;
        }
    }

    & &__info {
        font-size: 13px;
        text-align: center;
    }

    & &__input {
        // width:100%;
        // height: 40px;
        // border: 1px solid;
        // padding-left: 10px;
        font-size: 16px;
        width: 100%;
    }

    & &__alert {
        color: @cm-orange;
        margin: 0;
        // margin-bottom: 10px;
    }

    & &__main {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
    }

    & &__thankyou {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        margin-top: -20px;
    }

    & &__link {
        color: @cm-orange;
        text-decoration: underline;
    }

    & &__btn {
        text-transform: uppercase;
        font-weight: 400;
        width: 100%;
        line-height: 120%;
    }

    .el-radio {
        display: block;
        margin-bottom: 10px;
        font-size: 14px !important;
    }

    .el-radio__input {
        margin-right: 5px;
    }

    .el-radio:last-child {
        margin-bottom: 0;
    }

    .el-del {
        //
        top: 40px;
        //
    }
}


// local\components\krayt\form.result.new\templates\.default\style.css
.lightbox__content{
	padding: 30px;
}

.lightbox__content .el-button.js-lightbox_close{
	top: 30px;
	right: 30px;
	background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cancel-black.svg");
	width: 20px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	z-index: 5;
}

.lightbox__content .tile-form,
.lightbox__content .lightbox__title{
	position: relative;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 35px;
	color: #202020;
	text-align: left;
    top: -10px;
    margin-bottom: 0;
}

.lightbox__content .lightbox-footer__submit,
.lightbox__content .form__submit{
	width: 100%;
    margin-top: 40px;
}
.lightbox__content .el-textinput-wrapper + .form__submit,
.lightbox__content .form__item_file+.form__submit,
.lightbox__content .el-file+.form__submit,
.lightbox__content .form__item_file + input[type="submit"],
.lightbox__content .el-file + input[type="submit"],
.lightbox__content .el-textinput-wrapper + input[type="submit"]
{
    margin-top: 20px;
}

.lightbox__content .el-textinput__input_textarea{
	height: 74px;
}

.lightbox__content .nott-form,
.nott-form{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #BCBCBC;
    width: 400px;
    max-width: 100%;
	text-align: left;
	margin-top: 15px;
}
.lightbox__content .form__input{
	width: 100%;
}
.lightbox__content .nott-form a,
.nott-form a{
	color: #68b6fb;
}
.form__file{
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
	box-sizing: border-box;
	border-radius: 20px;
	width: 177px;
	height: 40px;
	position: relative;
	float: left;
}
.form__file::after{
	content: attr(title);
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 38px;
	color: #000000;
	cursor: pointer;
}
.form__file input[type='file']{
	opacity: 0;
	z-index: 5;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	cursor: pointer;
}
.form__file_select{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	float: right;
	display: none;
}
.form__file_select .clear_file{
	background-image: url(images/close.svg);
	width: 12px;
	height: 12px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 12px;
	z-index: 5;
	display: inline-block;
	float: right;
}
.form__file_select_name{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #000000;
	display: inline-block;
	vertical-align: middle;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 160px;
}
.form__file_select a{
	vertical-align: middle;
	display: inline-block;
	margin-left: 15px;
	position: relative;
	top:15px;
}
// local\components\krayt\form.result.new\templates\.default\style.css


@import "lightbox-geoip"; 