.outh {
    .ext-ligthbox();
    display: none;

    &_sign-in {
        .ext-ligthbox-content();
        background-color: #fff;
        max-width: 530px;
        width: 40%;
        padding-top: 30px;
        display: none;

        & form {
            padding: 0 90px;
            width: 100%;
        }
        .outh_header {
            margin-bottom: 35px;
        }
        .outh_field {
            max-width: 350px;
        }
        .outh_submit {
            width: 66.5%;
            margin-top: 10px;
            margin-bottom: 45px;
        }
    }

    &_sign-up {
        .ext-ligthbox-content();
        max-height: 90vh;
        background-color: #fff;
        max-width: 724px;
        width: 67%;
        display: none;

        &_wrap {
            display: flex;
            flex-wrap: wrap;
        }

        >div{
            height: 100%;
        }

        .outh_header {
            text-align: left;
            margin-bottom: 25px;
        }
        &__left{
            padding-left: 40px;
            padding-top: 30px;
            width: 57.3%;
            padding-right: 23px;
        }
        &__form{
            padding-right: 52px;
        }

        .outh_field {
            width: 85.3%;
        }
 
        .outh_social {
            font-size: 16px;
            font-family: 'Arial';
            color: #333333;
            border-top: 1px solid rgba(228, 228, 228, 1);
            padding-top: 15px;
            padding-bottom: 15px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;


            .social-enter{
                margin-top: 0;
            }
        }

        &__submit{
            width: 100%;
            margin-top: 40px;
        }
    }

    &_header {
        margin: 0;
        padding: 0;
        font-size: 20px;
        color: #000;
        font-family: 'Arial';
        font-weight: 400;
        font-style: normal;
        text-align: center;
        display: block;
    }

    &_field {
        width: 70%;
        border-radius: 2px;
        color: #AEAEAE;
        border-width: 1px;
        border: 1px solid rgba(228, 228, 228, 1);
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    &_social {
        font-size: 13px;
        color: #949494;
        margin-top: 40px;
        text-align: center;
        .social-enter{
            margin-top: 30px;
        }
    }

    &_footer {
        margin-top: 50px;
        background-color: #fbfbfb;
        border-top: 1px solid #e4e4e4;
        width: 100%;
        text-align: center;
        font-size: 13px;
        padding-top: 12px;
        padding-bottom: 12px;

        a {
            color: rgb(104, 182, 251);
            font-size: 14px;
        }
    }

    &_advantages {
        box-sizing: border-box;
        border-left: 1px solid rgba(228, 228, 228, 1);
        padding-left: 20px;
        width: 42.7%;
        padding-top: 80px;
        padding-right: 60px;
        font-size: 15px;
        font-family: 'Arial';
        font-weight: 400;

        &_header {
            font-weight: 700;
            font-size: 16px;
            margin: 0;
            padding: 0;
            line-height: normal;
            margin-bottom: 25px;
        }
        &_list-header {
            padding: 0;
            font-weight: 700;
            margin: 50px 0 20px 0;
            font-style: normal;
            font-size: 15px;
            display: block;
        }
        &_list {
            list-style: none;
            margin: 0;
            padding: 0;
            &_item {
                font-size: 15px;
                font-weight: 400;
                font-style: normal;
                padding-bottom: 27px;
                padding-left: 25px;
                position: relative;
                &::before {
                    position: absolute;
                    left: 0;
                    top: 8%;
                    transform: rotateZ(-45deg);
                    content: "";
                    width: 15px;
                    height: 7px;
                    border-left: 2px solid #48c77b;
                    border-bottom: 2px solid #48c77b;
                }
            }
        }
    }

    &_radiobox {
        display: none;
    }

    &_radiobox + label::before {
        position: absolute;
        left: 1.4%;
        top: 50%;
        width: 9px;
        height: 9px;
        content: "";
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: #ff6600;
        z-index: 1;
        display: none;
    }
    &_radiobox:checked + label::before {
        display: block;
    }

    &_box {
        font-size: 14px;
        color: #202020;
        font-weight: 400;
        cursor: pointer;
        font-family: 'Arial';
        margin-bottom: 30px;
        position: relative;
        padding-left: 33px;

        &:hover {
            color: rgb(3, 134, 248);
        }
        &:hover::after {
            background-color: #f3f3f3;
        }

        &::after {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            content: "";
            width: 19px;
            height: 19px;
            border-radius: 50%;
            border: 1px solid rgba(228, 228, 228, 1);
        }
    }
    &_close {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 25px;
        height: 25px;
        text-indent: -1000px;
        cursor: pointer;
        border: none;
        background-color: #fff;
        overflow: hidden;
        &::after, &::before {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #999;
            content: "";
            top: 50%;
            left: 0;
        }
        &::after {
            transform: rotateZ(45deg);
        }
        &::before {
            transform: rotateZ(-45deg);
        }
    }
}

@media (max-width: 920px) {
    .outh_sign-in {
        width: 80%;
    }
    .outh_sign-up_wrap {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .outh_sign-up_wrap form {
        width: 90%;
    }
    .outh_advantages {
        width: 90%
    }
    .outh_sign-up .outh_field {
        width: 100%;
    }
    .outh_sign-up {
        height: 100%;
        overflow-y: scroll;
    }
}
