@import (reference) "index";

.list-unwrap {
    @el: list-unwrap;
    @w: 138px;
    list-style: none;
    padding: 0;
    margin: 0;

    &_mini {
        //mod
        
        .@{el}__item {
            height: auto; //chk 23px закладки
            line-height: 100%;
            padding: 0;

            .wishlist-add & {
                padding-right: 20px;
            }
        }

        .@{el}__title {
            font-size: 12px;
            display: inline-block;
            margin-bottom: 0;
            padding: 5px 0;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;

            .wishlist-add & {
                padding-left: 20px;
            }
        }
    }

    &__item {
        border: @border;
        border-radius: 3px;
        height: 33px;
        padding: 10px 28px;
        margin-bottom: 10px;
        cursor: pointer;
        overflow: hidden;
        transition: height 1s ease;
        position: relative;
        white-space: nowrap;

        /*         &:after{
            content:"...";
            position: absolute;
            right:0;
            top:0;
            width: 10px;
            height: 100%;
            background-color: #fff;
        } */
        &:hover:not(.active) {
            border-color: @ca-grey1;
        }

        &.active {
            height: auto;
            background-color: @cm-grey2;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__del {
        position: absolute;
        top: 7px;
        right: 5px;

        &.el-button {
            top: 0;
            right: 0;
            border: 0;
            width: 22px;
            height: 100%;
        }
    }

    &__title {
        font-size: 13px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        width: @w;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 33px;
            position: absolute;
            top: 0;
            left: 0;
        }

        .@{el}__item:not(.active):hover & {
            color: @cm-orange;
        }

        span {
            font-size: 11px;
            color: @cm-grey;
            margin-left: 3px;
        }
    }

    &__text {
        color: @cm-grey;
        font-size: 12px;
        margin-bottom: 15px;
        line-height: 120%;
        margin-left: auto;
        margin-right: auto;
        width: @w;
    }

    &__but {
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        width: @w;
        display: block;
        height: 26px;
        line-height: 26px;
        border: @border;
        background-color: #ffffff;
        text-align: center;
        font-size: 12px;
        border-radius: 2px;

        &:hover {
            color: @cm-orange;
            border-color: @ca-grey1;
        }
    }
}
