@import (reference) "index";

.link1 {
    text-transform: uppercase;
    font-size: 14px;
    transition: color .2s ease;

    &.active {
        color: @cm-orange;
    }

    &:hover {
        color: @cm-orange;
    }

    &:active {
        color: @cm-orange;
    }
}

.nav {
    /* Навигация общий класс */
    .padding;
    margin: auto;
    font-size: 0;
    position: relative;

    .no-js & {
        display: block !important;
    }

    &:empty {
        display: none;
    }

    & > *,
    &__conteiner > * {
        display: inline-block;
        list-style: none;
        vertical-align: middle;

        & > .nav_list {
            //2level
            position: absolute;
            margin-left: 260px;
            top: 0 !important;

            li > .nav_list {
                //3level
                margin-left: 389.5px;
                border-right: @border;
            }
        }
    }

    a {
        text-decoration: none;

        &:hover {
            // color: inherit;
        }
    }

    &__wrap {
        height: auto;
    }

    &_column {
        // в футере
        padding: 0;
        display: inline-block;
        vertical-align: top;
        margin-right: 80px;

        &:last-child {
            margin-right: 0;
        }

        .nav__wrap {
            display: block;
            margin-bottom: 10px;
        }
    }

    &_divide {
        // mod под табами в ЛК
        padding: 0;
        margin-left: 0px !important;
        // &__item {}
    }

    &_color {
        margin-bottom: 50px;
        padding: 0;

        & + .h2 {
            display: none;
        }
    }

    &_top {
        left: -15px;
    }

    &_info {
        padding-top: 7px;
        white-space: nowrap;

        > *:nth-child(2) .nav__item_info,
        > *:nth-child(3) .nav__item_info,
        > *:nth-child(4) .nav__item_info {
            .mobile-tablet( {
                display: none;
            } )
        }
    }

    &_flex {
        // mod по всей ширине
        display: flex;
        justify-content: space-between;
        text-align: justify;
        //text-align-last: justify;
        //padding-left: 0;
        width: 100%;
        flex: 0 0 40px;
        padding-left: 0;
        .padding;
    }

    &_tab {
        // mod
        z-index: 2;
    }

    &_categories-list {
        //mod категории в листинге
        margin: 5px 0;
        padding: 0 30px;

        * > {
            width: 100%;
        }
    }

    &_categories-list2 {
        //mod категории в листинге
        padding: 0;

        .nav__wrap:last-child {
            .nav__item {
                border-bottom: none;
            }
        }
    }

    &_categories {
        //mod категории в карточке
        padding: 0;
        margin-top: -1px; //фикс в сопутках

        * > {
            width: 100%;
        }

        .nav__wrap {
            border-top: @border1;

            &:first-child {
                border-top: none;
            }
        }
    }

    &_parts {
        //mod табы в ЛК
        margin-bottom: 18px;
        height: @h-tab;
        margin-top: 30px;
        padding: 0;
        border: 0;
        background-color: transparent;

        .variant & {
            margin-bottom: 35px;
        }

        // .nav__conteiner {}

        &::after {
            .shadow-bottom;
        }

        & > * {
            border: 0;
            border-radius: 0;
        }

        .ui-state-active,
        .nav__wrap.active {
            background-color: #ffffff;
            box-shadow: 0 -6px 14px -4px fade(@ca-grey, 45%);
            z-index: 2;
            border: 0;
            /*          чтобы не было тени */
            position: relative;
            top: 4px;
            line-height: 45px;
        }
    }

    &_steps {
        //mod табы в Заказе
        // margin-bottom: 40px;
        margin-bottom: 30px;
        overflow: hidden;
        padding-left: @margin-content;
        padding-top: 10px;
        height: 50px;

        &::after {
            display: none;
        }

        .nav__conteiner {
            box-shadow: -6px -6px 20px -6px fade(@ca-grey, 45%);
            white-space: nowrap;
            position: relative;
            z-index: 1;

            .mobile({
                white-space: normal;
            });

            &::before {
                .shadow-bottom;
                bottom: -1px;
                z-index: 10;
            }

            &::after {
                .shadow-bottom;
                right: -100%;
                left: auto;
                margin-left: @margin-content;
                bottom: -2px;
            }
        }
    }

    &__item {
        font-size: 14px;
        position: relative;

        &.active {
            cursor: default !important;
        }

        &&_divide:extend(.el-but) {
            // mod под табами в ЛК
            margin-left: 15px;
            min-width: 169px;
            color: @ct-main;
            height: 36px;
            line-height: 36px;

            &:first-child {
                margin-left: 0;
                /*width: 209px;*/
            }

            /*             &[href="/account/settings/subscribe"],
            &:last-child{
                width: 221px;
            } */
            &.active {
                border: 1px solid @cm-orange !important;
                border-radius: 2px;
                font-size: 17px;
                color: @ct-main;
                background-color: #ffffff !important;
            }
        }

        &_color {
            //mod
            @h: 60px;
            height: @h;
            line-height: @h;
            color: #ffffff;
            font-size: 18px;
            padding: 0 20px;
            width: calc(~"25% - 1px");
            margin-left: 1px;
            vertical-align: bottom;

            &:first-child {
                margin-left: 0;
            }

            &:not(.active):hover {
                opacity: 0.8;
                color: #ffffff;
            }

            &.active {
                height: @h + 5px;
                line-height: @h + 5px;
                color: #ffffff;
            }

            &-action {
                background-color: rgba(62, 220, 129, 1);
            }

            &-discount {
                background-color: rgba(25, 181, 254, 1);
            }

            &-special {
                background-color: rgba(142, 68, 173, 1);
            }

            &-sale {
                background-color: rgb(39, 203, 192);
            }
        }

        &_categories-list {
            //mod
            //font-size: 14px;// 13 chk Леша попросил
            // color: @ca-blue1;
            // padding: 7px 0;
            color: #333333;
            display: block;
            line-height: 120%;
            position: relative;
            padding: @categories-nav-li-pad !important;
            font-size: 15px;

            &-all {
                color: @cm-grey;
            }

            &.active {
                color: @cm-orange;
            }

            &:hover {
                color: @ct-blue;
            }
        }

        &_categories-list2 {
            //mod
            border-bottom: @border;
            padding-left: 5px !important;

            &:hover {
                background-color: @cm-grey2;
                //.bg-wide;
            }
        }

        &_categories {
            //mod
            display: block;
            width: 100%;
            padding: 12px 15px;
            .cat-title;

            &::before {
                display: none !important;
            }

            span {
                display: inline-block;
                line-height: 120%;

                .js-list-unwrap & {
                    padding-right: 40px;
                }
            }

            &:hover {
                background-color: @cm-grey2;
                color: @ct-main;
                transition: none;

                .active & {
                    background-color: #ffffff;
                }
            }

            &.active {
                color: @cm-orange; //chk бренды
            }
        }

        &_steps {
            //mod
            position: relative;
            background-color: @cm-grey1;
            padding-left: 40px; //35vw/@vw
            padding-right: 5px; //35vw/@vw
            //min-width: 140px;
            height: 38px;
            width: 210px;
            line-height: 38px;
            font-size: 16px;
            text-align: center;

            &.active,
            a& {
                background-color: #ffffff;

                &::before {
                    position: absolute;
                    width: 100%;
                    height: 14px;
                    bottom: -7px;
                    left: 0;
                    background: #ffffff;
                }
            }

            &:first-child {
                padding-left: 20px;
            }

            &.active,
            &:last-child {
                & + .nav__item_steps {
                    //padding-left: 20px;//55vw/@vw
                }

                //padding-right: 5px;//20vw/@vw
            }

            &:nth-last-child(2) {
                width: 170px;
            }
        }

        &_parts {
            //mod
            position: relative;
            background-color: @ca-grey3; //@grey-l
            padding-left: 18px;
            padding-right: 18px;
            min-width: 140px;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            text-align: center;
            margin-right: 2px;
            display: inline-block;
            color: @ct-main;

            &:hover {
                color: inherit;
            }

            &.active,
            .ui-state-active & {
                background-color: #ffffff;
                box-shadow: 5px -3px 8px 0 rgba(215, 215, 215, .45); //0 -6px 14px -4px fade(@ca-grey, 45%)
                z-index: 2;
                color: @ct-main;
            }
        }

        &_tab {
            // mod
            border-left: 1px solid @cm-grey1;
            border-right: 1px solid @cm-grey1;
            width: auto;
            display: block;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            .text-small;
            padding-top: 5px;
            padding-bottom: 5px;

            &-green {
                border-bottom-color: @ca-green;
            }

            &-blue {
                border-bottom-color: @ca-blue1;
            }

            &.active {
                background-color: #ffffff;
                border-bottom-color: #ffffff;
                color: #000000;

                span {
                    color: @cm-grey;
                }
            }

            &:hover {
                width: auto;
                opacity: 0.8;
            }

            &:active {
                width: auto;
            }

            .padding;
            color: @cm-grey;

            span {
                color: #aaaaab;
            }
        }

        &_info {
            // mod
            margin: 0 17px; //vw/@vw
            // .media1024({ margin: 0 8vw/@vw; font-size: 12px});
            // .mobile-tablet({ margin: 0 8vw/@vw; font-size: 12px});
            .link1;
        }

        &_ico {
            // mod
            .link1;
            font-size: 12px;

            &:hover {
                opacity: .8;
                color: @ct-blue-h;
            }

            span {
                padding-left: 10px;
                display: inline-block;
                vertical-align: top;
                .lh-def;
            }
            svg, img{
                display: inline-block;
                vertical-align: top;
            }
        }

        &_catalog {
            // mod
            color: #333333;
            font-size: 14px;
            padding: 9px 25px 9px 19px;
            display: block;
            width: 100%;
            line-height: 120%;

            &&::before {
                display: none;
            }

            &::after {
                position: absolute;
                right: @padding-min;
            }

            &.active {
                //background: @cm-grey2;
                cursor: pointer !important;
            }

            &:hover {
                background: @cm-grey2;
            }
        }

        // &_tab{ //mod
        //   width: auto;
        //   &.active{width: auto;}
        //   &:hover{width: auto;}
        //   &:active{width: auto;}
        // }
    }

    &_list {
        // mod
        background: #ffffff;
        padding: 9px 0;
        width: 100%;

        > * {
            width: 100%;
            transition: none !important;

            &.js-lastopen,
            &:hover {
                > .nav__item {
                    color: @cm-orange;
                    background-color: @cm-grey2;
                    transition: none !important;
                }
            }
        }
    }
}

#nav_list {
    display: none;

    //display: block!important;
    & > li > .nav_list {
        width: 390px;
        border-left: @border;
        border-right: @border;
    }

    .nav_list {
        width: 353px;
    }
}

.categories-nav {

    // padding: 25px;
    &__name {
        font-size: 15px;
        font-weight: 600;
        color: #333333;
        position: relative;

        &:hover {
            color: #333333;
        }
    }

    &__count {
        font-size: 11px;
        line-height: 15px;
        color: @categ-count-color;
        margin-left: 10px;
        vertical-align: middle;
        font-weight: 400;
        position: relative;
        top: -1px;
    }

    &__list {
        margin: 0;
        padding: 0;
    }

    &__show {
        width: 100%;
        text-align: left;
        color: @ct-blue;
        font-size: 14px;
        line-height: 15px;
        position: relative;
        margin-top: 6px;

        &:hover {
            color: @ct-blue-h;
        }
    }

    &__ul {
        @size : 4px;
        // overflow-y: hidden;
        max-height: 140px !important;
        padding-right: @size;
        margin-right: -@size;
        overflow: hidden;

        &.scrollbar-inner > .scroll-element {
            &.scroll-y {
                right: 0;
                width: @size;
            }

            &.scroll-x {
                bottom: 0;
                height: @size;
            }

            .scroll-element_track {
                background-color: transparent;
            }
        }
        
        .checkbox:last-child * {
            margin-bottom: 0 !important;
        }
    }
}

.body-nav-catalogue-open {
    overflow-y: hidden;
}