@import (reference) "index";

.pagination-conteiner { 
  // margin: 20px 0;
  text-align: right;
  position: absolute;
  right: 0;

  &_center {
      width: 100%;
      text-align: center;
  }

  .table & {
      margin: 0;
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 3px;
  font-size: 15px;

  &__item {
      // width: 19px;
      // height: 19px;
      // line-height: 19px;
      // text-align: center;
      display: inline-block;
      position: relative;
      float: left;
      padding: 6px 5px 5px;
      width: 34px;
      height: 34px;
      text-align: center;
      margin-left: -1px;
      line-height: 1.42857143;
      text-decoration: none;
      background-color: #ffffff;
      border: @border;

      //margin-bottom: 5px;
      &:hover {
          color: #000000;
          background-color: @cm-grey1;
      }

      &:first-child,
      &:last-child {
          &::before {
              .svg-ico-contain;
              content: "";
              position: absolute;
              display: block;
              top: 50%;
              left: 50%;
              height: 17px;
              width: 12px;
              transform: translate(-50%, -50%);
              background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/up-arrow-orange.svg");
          }
      }

      &:first-child {
          margin-left: 0;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;

          &::before {
              transform: translate(-50%, -50%) scaleX(-1);
          }
      }

      &:last-child {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
      }

      &&_active {
          color: @cm-orange-h;
          background-color: #ffffff;
      }

      &&_disabled {
          &:hover {
              background: #ffffff;
          }
      }

      &&_dotted {
          background-color: transparent;
          border: none;
      }
  }
}