@import (reference) "index";

.table {
    //таблицы
    @border: 1px solid @cm-grey2;
    position: relative;
    font-size: 14px; //16 chk архив
    display: table;
    width: 100%;
    // width: calc(~"100% - 1px"); новый ЛК
    color: @ct-main; // chk правки @grey
    margin: 0; //chk listing
    @t: ~".table__";
    // border-collapse: separate; //IE10 shadow fix
    border-collapse: collapse;
    word-break: break-word;

    &.catalog-items-block {
        width: calc(~"100% + 1px");
        margin-left: 1px;
        margin-top: -1px;
    }

    &_noborder {
        //mod
        border: none !important;

        .table__td,
        .table__td:first-child::after,
        .table__th,
        .table__tr,
        td,
        th,
        tr {
            border: none !important;
        }
    }

    &_grid {
        //mod
        display: block;

        .table__tr {
            display: list-item;
        }

        .table__td {
            display: block;
        }
    }

    & &__td,
    & &__th {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        padding-left: 14vw/@vw;
        padding-right: 14vw/@vw;

        &_tel{
            width: 160px!important;    
        }

        &_occupation,
        &_lastname {
            width: 200px!important;    
        }
        &_name{
            width: 150px!important;    
        }

        &_number {
            width: 60px!important;
            padding-right: 0!important;
        }

        &_pseudo {
            width: 1px;
            padding: 0 !important;
        }

        &-email {
            .text-overflow(100px);
        }
        &-lastname {
            .text-overflow(200px);
        }

        &:nth-child(2) {
            //padding-left: 40px;chk закладки
            padding-left: 23px;
        }

        &_left {
            //mod
            text-align: left !important;
        }

        &_right {
            //mod
            text-align: right !important;
        }

        &_center {
            //mod
            text-align: center !important;
        }
    }

    & &__th {
        font-size: 11px;
        font-weight: 600;
        white-space: nowrap;
        color: @ct-grey2;
    }

    &&_hover-border {
        //mod
        border-collapse: separate;

        .table__td_pseudo,
        .table__th_pseudo {
            width: 5px;

            &::after,
            &::before {
                display: none !important;
            }
        }

        .table__td {
            // border-top: @border;
            // border-width: 5px;
            // transition: border-color 0.1s ease;

            &_pseudo {
                width: 1px;
                padding: 0 !important;
                position: relative;
            }

            &:first-child {
                position: relative;
                border-left: @border;
                // display: block;

                &::before {
                    content: "";
                    display: block !important;
                    width: 3px;
                    margin-top: 0;
                    margin-left: -1.5px;
                    position: absolute;
                    background-color: @cm-orange;
                    height: 75%;
                    // max-height: 100%;
                    // bottom: 10px;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    border: 0;
                    opacity: 0;
                    transition: opacity .3s;
                }
            }

            &:last-child {
                border-right: @border;
            }
        }

        .table__tbody .table__tr {
            box-shadow: @shadow2;

            &:first-child .table__td {
                border-width: 0;
            }

            &:last-child .table__td {
                border-bottom: @border;
            }

            &:hover {
                .item__status {
                    z-index: 101;
                }

                .table__td {
                    &:first-child {
                        &::before {
                            width: 3px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &_hover-bg {

        //mod
        .table__tbody .table__tr:hover {
            background-color: @ca-grey3;
            box-shadow: 0 0;

            .table__td:first-child::before {
                display: none !important;
            }
        }
    }

    &_hover-no {

        //mod
        .table__tbody .table__tr:hover {
            box-shadow: 0 0;

            & + .table__tr .table__td {
                border-top-color: @cm-grey1 !important;
            }

            .table__td {
                border-color: @cm-grey1 !important;

                &:last-child .table__td {
                    border-bottom: 1px solid @cm-grey1 !important;
                }
            }
        }
    }

    &&_mini {
        .table__td {
            height: 50px; //chk закладки
        }
    }

    &&_archive {
        .table__td {
            height: 80px; //chk закладки
        }

        .table__td:nth-child(2) {
            width: 300px!important;
        }

        //.table__td:nth-child(2),
        .table__td:nth-child(5),
        .table__td:nth-child(6) {
            white-space: nowrap;
        }
    }

    &_address,
    &_contacts,
    &_finances,
    &_organization {
        //mod ,&_wishlist
        margin-bottom: 20px; //chk контакты 130px;

        .table__td,
        //hack for shadow
        .table__td:first-child::after,
        .table__td:first-child::before {
            height: 80px; //chk закладки
        }

        .table__td:first-child::before,
        //hack for shadow

        .table__td:first-child::after {
            //hack for border-radius
            margin-top: -(80px/2); //+1
        }
    }

    &_select {

        //mod
        .table__td:nth-child(2) {
            width: 50px;
        }
    }

    &_modification {

        //mod
        .table__td,
        .table__td:first-child::before,
        //hack for shadow
        .table__td:first-child::after {
            //hack for border-radius
            // height: 75px;
            height: 80px;
            font-size: 13px;
        }

        .table__td:first-child::before,
        //hack for shadow
        .table__td:first-child::after {
            //hack for border-radius
            margin-top: -(75px/2)+1;
        }

        .table__th {
            padding-top: 5px;
            padding-bottom: 12px;
            font-size: 11px;
            font-weight: 700;
        }

        .table__td:nth-child(2),
        .table__th:nth-child(2) {
            padding: 0;
        }

        .table__td:nth-child(3),
        .table__th:nth-child(3) {
            //padding-left:0;
        }

        .table__tbody > .table__tr:last-child {
            border: @border;
        }
    }

    &_discounts {
        //mod
        white-space: nowrap;
        table-layout: fixed;
        max-width: 100%;
        font-size: 13px;

        .marked {
            color: @cm-orange;
        }

        .table__title {
            font-size: 17px;
            margin-bottom: 20px;
        }

        .table__th {
            font-size: 10px;
            font-weight: 400;
            text-transform: none;
            padding-bottom: 5px;
            padding-top: 0;
        }

        .table__th, .table__td {
            padding-left: 10px!important;
            padding-right: 10px!important;
            width: 33%!important;
        }

        .table__td,
        .table__td:first-child::before,
        //hack for shadow

        .table__td:first-child::after {
            //hack for border-radius
            height: 28px;
        }

        .table__td:first-child::before,
        //hack for shadow

        .table__td:first-child::after {
            //hack for border-radius
            margin-top: -(30px/2)+1;
        }

        .table__tbody .table__tr {
            &:last-child .table__td:last-child {
                border-radius: 0 0;
            }

            &:hover {
                .table__td {
                    // background-color: @cm-grey2;
                }
            }
        }
    }

    &_discounts-inner {
        //mod
        margin-top: 8px;

        .variant__item & .svg-ruble {
            font-size: 12px;
        }
    }

    &_discounts-listing {
        //mod
        font-size: 11px;
        margin-top: -10px;

        .table & {
            width: 283px; //chk default 233px
            margin-top: 0;
        }

        .table__td,
        .table__td:first-child::after,
        .table__td:first-child::before {
            height: 22px;
        }

        .table__td:first-child::before,
        //hack for shadow
        .table__td:first-child::after {
            margin-top: -(20px/2)+1;
        }

        .table__td:nth-child(3),
        .table__th:nth-child(3) {
            width: 49px!important;
        }

        .table__tbody > .table__tr:first-child,
        .table__tr {
            // border: @border;
        }

        .table__thead > .table__tr:first-child {
            border: 0;
        }
    }

    &_cart {
        //mod
        margin-bottom: 40px;

        .table__td:nth-child(7),
        .table__th:nth-child(7) {
            //цена
            width: 9%;
        }

        .table__td:nth-child(4),
        .table__th:nth-child(4) {
            //статус
            width: 10%;
        }

        .table__td {
            //   font-size: 13px;
            position: relative;
        }

        .table__td,
        .table__td:first-child::after,
        .table__td:first-child::before {
            height: 100px;
        }

        .table__td:first-child::before,
        //hack for shadow

        .table__td:first-child::after {
            //hack for border-radius
            margin-top: -(100px/2); //+1
        }
    }

    &_list {
        //mod
        @h: 116px;

        > .table__tbody > .table__tr > .table__td,
        > .table__tr > .table__td {
            font-size: 13px;
            height: @h;

            &:nth-child(2) {
                padding-left: 15px;
                width: 130px;
                position: relative;
            }

            &:nth-child(3) {
                width: 380px;
                vertical-align: top;
                padding-top: 15px;
                padding-right: 20px;
                padding-left: 0;
            }

            &:last-child {
                padding-right: 30px;
            }

            &:first-child::after,
            &:first-child::before {
                height: @h;
                margin-top: -(@h/2)-1; //+1 chk закладки
            }
        }

        .item__img {
            height: 80px;
            width: 80px;
        }
    }

    &&_stnd {

        //mod
        .table__tbody .table__tr {
            border-bottom-width: 0;
            box-shadow: @shadow2;
        }
    }

    &__title {
        text-align: left;
    }

    &__thead {
        display: table-header-group;
        text-transform: uppercase;
    }

    &__tr {
        display: table-row;

        .table_discounts .table__tbody > &:first-child,
        .table_discounts .table__thead > &:first-child {
            // border: 1px solid transparent;
        }

        .table_discounts .table__tbody > &,
        .table_discounts .table__thead > & {
            border: 1px solid #e4e4e4;
        }

        .table:not(.table_discounts) &:last-child .table__td {
            border-bottom: @border; //chk  none заказы подчеркивание на статусах

            &:first-child {
                // border-bottom-left-radius: 6px;
            }

            &:last-child {
                // border-bottom-right-radius: 6px;
            }
        }

        .table:not(.table_discounts) &:first-child .table__td {
            &:first-child {
                // border-top-left-radius: 6px;
            }

            &:last-child {
                // border-top-right-radius: 6px;
            }
        }

        &:hover > .table__td:first-child::before {
            //hack for shadow
            width: 100%;
            //box-shadow: @shadow; chk задваивается в каталоге тень
        }

        &:first-child:hover > .table__td:first-child::before {
            //hack for shadow
        }

        .table__tbody > &:first-child > .table__td_pseudo::after {
            //hack for border-radiuss
            width: calc(~"100% + 1px"); //border-bottom: 0; chk hover-border

            // height: 105px; chk таблица другие варианты карточка
            .table_discounts & {
                content: "";
                border: @border;
            }
        }

        .table__tbody > &:last-child {

            //border:1px solid transparent; chk закладки
            .table__td_pseudo::after {
                width: calc(~"100% + 1px");
            }
        }

        &_nohover {
            //mod

            &:hover > .table__td:first-child::before {
                box-shadow: 0 0;
            }
        }
    }

    &__tr-empty {
        height: 5px;
    }

    &__th {
        font-weight: 400;
        font-size: 14px; //chk правки 15px
        padding: 15px 0; //chk организации
        color: @cm-grey;

        .el-button.el-button_min {
            float: right;
            min-width: 141px;
            font-size: 12px;
        }

        &:last-child {
            padding-right: 10px;
        }
    }

    & &__tbody {
        display: table-row-group;

        .table__tr {
            background: #ffffff;
        }

        &:empty {
            display: block;
            min-height: 300px;
        }
    }

    &__td {
        // height: 98px
        position: relative;

        &_overflow {
            //mod
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &&_description {
            width: 191px;
        }

        &&_counter {
            width: 205px;
        }

        &&_price {
            width: 143px;
        }

        &&_avialability {
            width: 182px;
        }

        &&_articul {
            width: 182px;
        }

        &&_button {
            //mod
            // width: 100px;
            // width: 219px;
            width: 153px;
            text-align: left;
            white-space: normal !important;

            .table_wishlist & {
                text-align: center;
            }

            .js-wishlist-actions-block {
                height: 18.4px;
            }

            .el-button_ico,
            form {
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .el-button.el-button_med {
                width: 100%;
                max-width: 150px;
            }
        }
    }

    &__tfoot {
        text-align: center;
        display: table-footer-group;
    }

    &__input {
        border: none !important;
        background: transparent !important;
        resize: none !important;
        overflow: auto !important;
        outline: none;
    }

    & &__none {
        display: none !important;
    }

    & .item__container {
        float: none !important;

        &_inline {
            display: inline-block;
            vertical-align: middle;
            margin-right: 22px;
        }
    }

    &__sub-txt {
        font-size: 10px;
    }

    // &_appeal {}

    &_appeal &__td {
        padding-top: 23px;
        padding-bottom: 23px;

        &:first-child {
            //number
            width: 65px;
            padding-right: 0;
        }

        &:nth-child(2) {
            //message theme
            width: 370px;
            padding-right: 85px;
        }

        &:nth-child(3) {
            //responsible
            // width: 150px;
        }

        &:nth-child(4) {
            //status
        }

        &:nth-child(5) {
            //date
        }

        &:last-child {
            //btns
        }
    }

    &_appeal &__photo {
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
    }
}

//таблица варианты

.table-variants-conteiner {
    height: 55px;
    position: relative;

    //margin-top: 20px;//25px
    &.active-table {
        z-index: @z-3;

        .table-variants__list {
            display: table-row-group;
        }
    }

    .table & {
        width: 240px;
        white-space: nowrap;
        box-sizing: content-box;
    }

    .table-variants-conteiner {
        margin-top: 0;
    }

    &_nohead {
        height: @buy-h;
    }

    &:not(.active-table)&_nohead {
        border-top: none;

        // .table-variants {}

        .table-variants__thead {
            .hidden;
        }

        .table-variants__second-row td {
            height: @hTableVar;
            border-top: 0;
        }

        .select-ico__title.ico-arrow-orange::after,
        .table-variants__list-title.ico-arrow-orange::after {
            top: 0;
        }
    }
}

@hTableVar: 28px;

.table-variants {
    border-spacing: 0 0;
    border-radius: 14px;
    border: @border;
    border-collapse: separate;
    width: 100%;
    position: absolute;
    top: 0;
    table-layout: fixed;
    background-color: #ffffff;
    white-space: normal;
    overflow: hidden;

    &:hover {
        border-color: @ca-grey1;

        .table-variants__hide {
            border-color: @ca-grey1;
        }
    }

    .active-table & {
        // border-bottom-left-radius: 0;
        border-color: @ca-grey1;
    }

    &_listing {
        position: relative;

        .item__buy {
            margin-left: 30px;
            height: 30px; //chk prototype 33px
            line-height: 30px; //chk prototype 33px

            &::before {
                display: none;
            }
        }

        &,
        .table-variants__third {
            border: none;
            text-align: right;
        }

        .table-variants__desc,
        .table-variants__price,
        .table-variants__thead {
            display: none;
        }
    }

    // .items &_listing{
    //
    //     .item__buy{
    //         width: 27px;
    //         height: 24px;
    //         padding: 0;
    //         span{
    //             display: none;
    //         }
    //     }
    //     .item__counter{
    //         min-width: auto;
    //         font-size: inherit;
    //     }
    //
    //     .input-group{
    //         height: 20px;
    //         position: relative;
    //         border: @border;
    //         width: @w-spinner;
    //         display: inline-block;
    //         vertical-align: middle;
    //         text-align: left;
    //     }
    //     .js-input-spin{
    //         height: 100%;
    //         text-align: left;
    //         width: @w-spinner;
    //     }
    //     .input-group-btn{
    //         position: absolute;
    //         right: 0;
    //         width: 18px;
    //         height: 50%;
    //         overflow: hidden;
    //         &:first-child{
    //            bottom: 0;
    //         }
    //         &:last-child{
    //            top: 0;
    //         }
    //     }.bootstrap-touchspin-down, .bootstrap-touchspin-up{
    //          font-size: 0;
    //          position: absolute;
    //          top: 0;
    //          border: none;
    //          background-color: @cm-grey1;
    //          &:hover{
    //              background-color: @ca-grey1;
    //          }
    //     }
    // }
    &__hide-conteiner {
        td & {
            padding: 0 !important;
            border: none !important;
        }

        div {
            position: relative;
        }
    }

    &__hide {
        /*    background-color: @cm-orange-h;
      color: #fff;
      float: left;
       width: 100%; */
        background-color: #f9f9f9;
        color: @cm-orange;
        border: @border;
        border-top: none;
        font-size: 10px;
        font-weight: 400;
        padding: 2px 5px;
        letter-spacing: 0.5px;
        position: absolute;
        top: 1px;
        left: -1.5px;

        .table & {
            //left: -1px;
        }

        &:hover {
            color: @cm-orange-h;
        }

        .active-table & {
            border-color: @ca-grey1;
        }

        i {
            //mix-blend-mode: screen;
            //filter: saturate(0%) brightness(1000%);
            margin-right: 5px;
        }
    }

    &__thead {
        background: #f9f9f9;

        th:first-child {
            // border-top-left-radius: 6px;
        }

        th:last-child {
            // border-top-right-radius: 6px;
            border-right: 0;
        }
    }

    &__title-item {
        font-weight: 400;
        font-size: 12px;
        // white-space: nowrap; чтобы названия не вылезали в выпадающей таблице
        border: 0;
        border-right: @border;
        padding: 0;
        text-align: center;
        line-height: 20px;
        height: 27px;
    }

    td {
        border-right: @border;
        border-top: @border;
        padding: 0 4px;
        text-align: center;
        font-size: 12px;
        position: relative;
    }

    &__second-row {
        cursor: pointer;

        td {
            border-right: 0;
        }

        // &:hover{
        //     background: #F9F9F9;
        // }
    }

    &__other img:first-child {
        float: left;
        margin: 8px -28px 2px 25px;
        width: 11px;
        height: 11px;
    }

    &__other img:nth-child(2) {
        position: absolute;
        top: 45px;
        left: 220px;
        width: 17px;
    }

    &__list {
        display: none;
    }

    &__third-row {
        font-size: 14px;

        td {
            &:first-child {
                border-bottom-left-radius: 10px;
            }

            &:last-child {
                border-bottom-right-radius: 10px;
                border-right: 0;
            }
        }
    }

    & &__cart {
        //width: 80px; chk /catalog/chaynye-nabory_c4ea5468f125b9
        white-space: nowrap;
        box-sizing: content-box;
        padding: 1px 2px;

        img {
            background: #fb924f;
            vertical-align: middle;
            padding: 7px 10px 3px 5px;
            float: right;
            cursor: pointer;
        }
    }

    & &__list-title {
        font-size: 14px;
        line-height: normal;
        width: 100%;
    }

    & &__text {
        //padding-left: 25px; не понятно
        /*      text-align: left; chk отступы в вариантах*/
        text-align: center;
        word-break: break-word;
        display: inline-block;
    }

    & &__price {
        width: 50px;
    }

    & &__desc {
        padding-top: 0;
        padding-bottom: 0;
        width: 120px;

        img {
            padding-top: 8px;
            padding-bottom: 0;
            padding-left: 0;
            float: left;
            padding-right: 4px;
            width: 11px;
            height: 11px;
        }
    }

    .el-status {
        position: absolute;
        left: 10px;
        top: 10px;
        display: none;
    }
}

.ui-spinner {
    width: @w-spinner;
}

.ui-widget-content {
    // background: #fff !important;
    // background: transparent !important;
}

.table2 {
    width: 100%;
    word-break: break-word;
    font-size: 14px;
    line-height: 19px;

    &__tr {
        display: table-row;

        &:hover .table2__td {
            background-color: rgba(250, 250, 250, 0.69803922);
        }

        &:last-child .table2__td {
            border-bottom: none;
        }
    }

    &__td,
    &__th {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        border-bottom: @border;
        padding-right: 30px;

        &:first-child {
            padding-left: 20px;
            padding-right: 13px; //радио-кнопки в корзине
        }

        &:last-child {
            padding-right: 14vw/@vw;
        }

    }

    &__th {
        height: 50px;
        color: @ct-grey2;
        font-size: 11px;
        text-transform: uppercase;
        white-space: nowrap;
    }

    &__td {
        height: 80px;

        &_button {
            text-align: right;
            width: 70px;

            .el-button {
                color: @ct-grey2;
                font-size: 11px;
                display: block;
            }
            
            .el-button + .el-button {
                margin-top: 9px;
            }
        }
    }
}

//Для корзины
.table-m {
    @hTr: 155px;
    @pad-td: 10px;
    width: 100%;
    border-collapse: separate;
    margin-bottom: 20px;

    &_cart {
        .table-m__td:last-child {
            width: 130px;
        }
    }

    &__td {
        //padding-top: 15px;
        padding-left: @pad-td;
        padding-right: @pad-td;
        vertical-align: top;

        &-container {
            margin-bottom: 20px;
            position: relative;
            font-size: 0;

            > * {
                display: inline-block;
                margin-right: 20px;
            }
        }

        &-wrap-cart {
            position: relative;
            height: @hTr;
            padding-top: 20px;
        }

        &:first-child {
            padding-left: 15px;
            padding-right: @pad-td;
            padding-top: 20px;

            .table-m__tr:first-child &{
                border-top-left-radius: @radius;
            }
            .table-m__tr:last-child &{
                border-bottom-left-radius: @radius;
            }
        }

        &:nth-child(2) {
            max-width: 365px;
        }

        &:last-child {
            padding-right: 30px;
            padding-left: 15px;

            .table-m__tr:first-child &{
                border-top-right-radius: @radius;
            }
            .table-m__tr:last-child &{
                border-bottom-right-radius: @radius;
            }
        }
    }

    &__tr {
        background-color: #ffffff;
        height: @hTr;

        &:hover {
            box-shadow: 0 0;
        }

        &_bottom {
            & + .table-m__tr {
                height: 35px;

                .table-m__td { 
                    vertical-align: top;
                    border-top: none!important;
                    &:first-child {
                        padding-top: 0;
                        padding-left: 30px;
                        padding-right: 0;
                    }

                    &:last-child {
                        white-space: nowrap;
                        padding-left: 0;
                        hr{
                            margin-top: -1px;
                        }
                    }

                    .item__assemble {
                        padding-left: @pad-td;
                    }
                }
            }
        }
    }

    &__tr + &__tr &__td {
        border-top: 1px solid @ca-grey2;
    }

    hr {
        margin: 0 0 7px;
        border-color: @ca-grey2;
    }
}