@import (reference) "index";

.toggle-wrap {
  @circleWidth: 18px;
  @circleMrgLeft: 14px;

  width: 100%;
  height: 35px;
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid @cm-grey1;
  border-radius: 3px;
  margin-top: 0;
  margin-bottom: 16px;

  &::after {
      content: none;
      display: none;
      box-shadow: none;
      width: 0;
      margin-left: 0;
  }

  &__item-wrapper {
      float: right;
  }

  &__item {
      top: 0;
      width: auto;
      height: calc(100% + 2px);
      margin-top: -1px;
      margin-bottom: -1px;
      margin-left: -1px;
      border-bottom: none;
      position: relative;
      z-index: 1;
      font-size: 13px;

      &.toggle {
          padding: 0 15px;
          line-height: 33px;
          cursor: pointer;
      }

      &.open {
          display: none;
          border-radius: 3px !important;
          margin: 0 !important;
          height: 100%;
          font-size: 12px;
          color: #333333;
          // width: 153px;
          width: auto;
          float: right;
          padding: 0 15px;
          background-color: #f9f9f9;
          border: 1px solid @cm-grey1;

      }

      .open__icon {
          margin-left: 8px;

          &::before {
              border-style: solid;
              border-width: 1px 1px 0 0;
              border-color: #c9c9c9;
              content: "";
              display: inline-block;
              height: 6.5px;
              left: 0;
              position: relative;
              top: -3px;
              //  vertical-align: top;
              width: 6.5px;
              font-size: 11px;
              transform: rotate(135deg);
          }
      }

      &.close {
          /* cursor: pointer; */
          top: 0;
          right: 0;
          left: auto;
          bottom: auto;
          position: absolute;
          opacity: 1;
          font-weight: 400;
          border-color: transparent;
          background: transparent;
          box-shadow: none;
          font-size: 12px;
          color: #333333;

          &:hover {
              border-color: transparent !important;
              background: transparent !important;
          }
      }

      .close__icon {
          height: 25px;
          width: 16px;
          margin-left: 4px;
          margin-right: -4px;

          & > path {
              stroke: #c9c9c9;
          }
      }

      &:first-child {
          border-radius: 3px 0 0 3px;
      }

      &:last-child {
          border-radius: 0 3px 3px 0;
          margin-right: 0;
      }

      >a,
      >p {
          line-height: 33px;
          padding: 0 14.7px 0 16.5px;
          height: 100%;
          display: block;
          color: #333333;
          font-size: 13px;
          margin: 0;
          box-shadow: none;
          min-width: 0;
          background: transparent;
          cursor: pointer;
          position: relative;
          .flex-center;

          // &:empty{
          //     display: none;
          // }
      }


      a:hover {
          cursor: default;
      }

      &:hover {
          border-color: @ca-grey1;
          z-index: 2;

          a {
              cursor: pointer !important;
              color: @cm-orange;
          }
      }

      &&_active {
          background-color: #ffffff;
          box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.15) inset;
      }
  }

  &__x {
      display: inline-block;
      margin-left: 18px;

      &::before {
          .svg-ico-contain;
          display: block;
          content: "";
          width: 9px;
          height: 9px;
          background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cancel.svg");
      }

      &:hover {
          &::before {
              background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cancel-orange.svg");
          }
      }
  }

  &__num {
      font-size: 10px;
      margin-left: @circleMrgLeft;
      display: inline-block;
      position: relative;

      .toggle-wrap__item_active &{
          color: white;
          &:after{
              content: '';
              width: @circleWidth;
              height: @circleWidth;
              line-height: @circleWidth;
              background: @cm-orange;
              vertical-align: middle;     
              border-radius: 50%;
              text-align: center;
              padding-right: 1px;
              display: inline-block;
              position: absolute;
              left: ~"calc(50% - (@{circleWidth} / 2))";
              top: ~"calc(50% - (@{circleWidth} / 2))";
              z-index: -1;
          }
      }
  }

  &&_tags {
      border: none;
      background-color: transparent;
      display: inline-block;
      width: auto;
      margin-top: -10px;
      margin-right: 20px;
      margin-bottom: 0;
      margin-left: 0;
      height: auto;
      
      .closed & {
          display: none;
      }
  }

  &&_tags &__item {
      box-shadow: @shadow1;
      .wishlist-lists &{
          box-shadow: none;
          border: 1px solid #e4e4e4;
      }
      background-color: #ffffff;
      border-radius: 25px;
      overflow: hidden;
      margin-right: 20px;
      // height: 100%;
      height: 30px;
      margin-top: 10px;

      a,
      p {
          line-height: 30px;
      }

      &:last-child {
          margin-right: 0;
      }

      &:hover {
          border-color: @ca-grey1;
          z-index: 2;

          a {
              color: @cm-orange;
          }
      }
  }

}