@import (reference) "../state";

/* MEDIA QUERIES */

// @media only screen and (max-width: 763px) {}
@media only screen and (max-width: 0) {
    //1024px
    .mob-hide {
        //.hidden;
    }
}

// Mode: 0 - 1024
.mobile-tablet(@rules) {
    @media (max-width: 1023px) {
        //1024px
        @rules();
    }
}

// Mode: 0 - 768
.mobile(@rules) {
    @media (max-width: 767px) {
        //768px
        @rules();
    }
}

// Mode: 768 - 1024
.tablet(@rules) {
    @media (min-width: 768px) and (max-width: 0) {
        //1024px
        @rules();
    }
}

// Mode: 1024-1360
.desktop(@rules) {
    @media (min-width: 1024px) and (max-width: 0) {
        //1281px
        @rules();
    }
}

.desktop2(@rules) {
    @media (max-width: 1281px) {
        //временная адаптация
        @rules();
    }
}

.desktop3(@rules) {
    @media (min-width: 1281px) {
        //временная адаптация
        @rules();
    }
}

.media1024(@rules) {
    @media (min-width: 1024px) and (max-width: 0) {
        //1024px
        @rules();
    }
}

.media1280(@rules) {
    @media (min-width: 1280px) and (max-width: 0) {
        //1280px
        @rules();
    }
}

.textVcenter(@height, @imp: ~''){
    height: @height@imp;
    line-height: @height - 2px@imp;
}

.text-overflow(@width){
    white-space: nowrap;
    max-width: @width;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}


