@import (reference) "index";

*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: 100%;
    -webkit-font-smoothing: antialiased;
    outline-color: transparent; //@grey-d
}

// патч транзишенов
// общий transition: color 0.25s ease-out, background 0.25s ease-out, border-color 0.25s ease-out, box-shadow .25s ease-out; //, opacity .25s ease-out
a,
.banner-main {
    transition: color 0.25s ease-out, background 0.25s ease-out, border-color 0.25s ease-out, box-shadow .25s ease-out;
}

html {
    .mobile-tablet({
        font-size: 14px;
    });
    box-sizing: border-box;
    width: 100%; //
    height: 100%;
    overflow: auto;
    color: @ct-main;
    font-family: @font1; // min-width: @vw-min;
    font-size: 14px;
    min-width: 1280px;
}

body {
    position: relative;
    margin: 0 auto;
    width: 100%; //для правок в адаптиве
    height: auto;
    overflow-x: hidden; //display: none!important;
}

a {
    cursor: pointer !important;
    text-decoration: none;
    line-height: 120%; // color: @ct-main; chk cart-foot
    color: inherit;
    
    &:hover {
        // color: #aaaaab;
        color: @ca-blue;
    }

    // &[href="#"] {}

    span {
        text-decoration: none;
        transition: none;
    }

    img {
        //IE10 image links border fix
        border: 0;
    }
}

a,
button {
    //transition: color .25s ease, opacity .25s ease, border-color .25s ease, box-shadow .25s ease;
}

button {
    overflow: visible;
}

input {

    // outline-color: @cm-orange-h;
    outline: none;

    &[type="submit"] {
        cursor: pointer;
        outline-color: transparent;
    }

    // &[type="radio"] {}

    &[type="checkbox"] {
        &:hover {
            background-color: fade(@cm-grey1, 30%);
        }
    }
    
}

p {
    line-height: 120%;
}

select,
textarea {
    width: 100%;
}

select {
    &:disabled {
        border: 1px solid @cm-grey1;
        color: @cm-grey;
    }
}

*::placeholder {
    color: @ct-grey1;
    font-family: inherit;
    opacity: 1;
}

*:focus::placeholder {
    color: transparent;
}

input:invalid:focus + .el-placeholder {
    display: none!important;
}

// textarea {
//     overflow: hidden;
//     &:focus {
//         overflow-y: auto;
//     }
// }

label {
    position: relative;

    .form__item & {
        margin-right: 25px;

        .form_feedback & {
            margin-right: 10px; //55px
        }
    }

    &::after {
        /* content: ":"; */
    }

    .form__checkbox + &,
    .form__input + &,
    .form__select + & {
        margin-left: 10px;

        &::after {
            content: "";
        }
    }

    &.default::after {
        margin-top: 0;
        content: "";
    }
}

input:required {
    border: @border;
}



h1 {
    //@TODO убрать отступ
}


.nav,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @font2;
}

hr {
    border-bottom: 1px solid @cm-grey1;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

b,
strong {
    color: #333333;
}

//nightmode
// body{
//     background: #000000;
//     color: #b1e4b0;
//     a{
//         color: #b1e1b0;
//     }
//     header,footer{
//         background: #cccccc;
//     }
// }
