@import (reference) "index";
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
    *,
    *::after,
    *::before,
    *::first-letter,
    *::first-line {
        box-shadow: none !important;
        background: transparent !important;
        text-shadow: none !important;
        color: #000000 !important;

        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    blockquote,
    pre {
        border: 1px solid @cm-grey;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    img,
    tr {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }


    // Свои стили
    #bx-panel,
    .header,
    .b-breadcrumbs,
    .content__left,
    #go-to-top,
    .cabinet__header,
    .wishlist-lists,
    .recent-variants-wrap,
    .footer,
    .pagination-perpage-container,
    .el-button,button,
    .js-slider-default,
    a:not(.item__img):not(frame-image):not(.header__logo),
    input,
    .nav, #rate-add,
    .header-info {
        display: none!important;
    }

    .printonly{
        display: block!important;

        &_logo{
            width: 300pt;
            margin-bottom: 50px;
            margin-top: 10px;
        }
    }
    .content{
        margin-bottom: 0;
    }
    
    a[href]:after { //убрать ссылки из печати
        content: "";
    }
    //@page { margin: 0; } body { margin: 1.6cm; } //убрать колонтитулы из печати


    //карточка товара
    .tab-content > .tab-pane {
        display: block!important;
        visibility: visible!important;
        margin-bottom: 50px!important;
    }
    .variant__b-img>a{
        display: block!important;
    }
    .product__middle > *{
        width: 33%!important;
        min-width: 33%!important;
    }
    .item__container.item__container_right{
        text-align: left!important;
        float: none!important;
        margin-top: 10px;
    }
    .item__container.item__container_left.variant__item-descr{
        float: none!important;
    }
    .variant__b-buy .b-grid__b:first-child .variant__item-descr{
        width: 50%;
    }
    .variant__item-row {
        margin-bottom: 0;
    }


    //закладки
    .item__descript a{
        display: block!important;
    }
    .wishlist-page .item__container.item__container_articul{
        float: none !important;
        margin: 0 !important;
    }
    .wishlist-page .item__rating{
        display: none !important;
    }

    //закладки и каталог
    .catalog-items_list .items .item{
        min-height: 200px !important;
    }
    .catalog-items_list .items .el-plate-container{
        left: 675px !important;
        width: 170px;
    }
}

.printonly{
    display: none;
}
