
/* VARIABLES */
@font3: "Verdana", "Geneva Regular", sans-serif; //в первом прототипе
@font1: 'Open Sans', "Arial", sans-serif;
@font2: "Open Sans", sans-serif;
//@font2: "Arial", sans-serif;
@font2-black: "Arial Black", sans-serif; //как в прототипе
@font_new: "Open Sans", sans-serif; // new header
@font_new2: "PT Sans", sans-serif; // new header

/* ЦВЕТА */
@red: #ff4d4d;
//Основные цвета
@cm-orange: #fa6405;
@cm-orange-h: #ec6104; //chk gd :hover #fc9c5c
@cm-orange-l1: #fe862e;
@cm-orange-l2: #fe974b;
@cm-orange-l3: #fea767;
@cm-grey: #999999; //chk gd #797979
@cm-grey1: #e4e4e4;
@cm-grey2: #f9f9f9; //chk gd f8f8f8

//Допцвета
@ca-grey: #aeaeae;
@ca-grey1: #c9c9c9;
@ca-grey2: #ecedf0; // chk gd #ecf0f1
@ca-grey3: #f4f4f4; // chk gd #f2f2f2  chk gd #ebebeb
@ca-grey4: #f7f7f7; // chk gd #fbfbfb
@ca-grey5: #f8f8f8;

@ca-blue: #0386f8;
@ca-blue1: #42b4f2;
@ca-blue2: #cde7fe;

@ca-green: #56cb08;
@ca-green1: #3edc81;

@ca-violet: #9459d0;

@ca-yellow: #ffd362;
@ca-yellow1: #fff4ed;

@ca-red: @red;

//Цвет текста
@ct-main: #000; //chk новый ОЗ 202020
@ct-grey: #333333;
@ct-grey1: #666666;
@ct-grey2: #949494; //chk gd #949494
@ct-grey3: #bcbcbc;

@ct-blue: #68b6fb;
@ct-blue-h: #0386f8;

@ct-green: #009900;

@ct-yellow: #ff9900;
@ct-yellow-h: #f2c422;

@ct-red: @red;

/* ЦВЕТА */

//кнопки
@form-h: 37px;
@but_b-h: 40px;
@buy-h: 30px;
//тени и бордеры
@border: 1px solid @cm-grey1;//@grey-l -для таблицы
@border1: 1px solid @ca-grey2;//@grey-l -для таблицы
@border2: 2px solid @cm-grey1;//рамки
@shadow: 0 0 15px rgba(0, 0, 0, 0.15);
@shadow1: 0 0 8px rgba(0, 0, 0, 0.1);
@shadow2: 0 0 8px rgba(0, 0, 0, 0.1); //0 0 8px rgba(0, 0, 0, 0.05)
@shadow-inset: 1px 1px 6px 1px rgba(228, 228, 228, .6) inset;
//основные отступы и размеры
@padding-min: 14px;
@margin-min: 14vw/@vw;
@ico: "/img/ico/";
@vw: 12.8vw; // чтобы вернуть пиксели сделать replace vw/@vw на px
@vw-min: 1280px;//1024
@vw-max: 1280px;
@m-catalog: 15px; //отступы между блоками в каталоге
@h-services: 58px; //высота оранжевой плшки хедера
@header-h: 60px; //высота оранжевой плшки хедера

@radius: 4px; //cтандартные скругленые углы
@radius-but: 20px;

@footer-margin-max: 200px;
@footer-margin-min: 75px;
@footer-margin: @footer-margin-max - @footer-margin-min;

@w-float-b: 447px; //корзина, ОЗ и т.п.
@w-float-b-mrg: 24px; //отступ от правого блока


@margin-content: 24px; //стандартный отступ слева для большинства элементов на странице
@w-spinner: 45px; //размер спиннера загрузчика
// z-index по порядку


// .loopZindex(11,'z');
// .loopZindex(@i,@j) when (@i > 0) {
//   @tmp:~"@@{j}-@{i}";
//   @{tmp}: @i;
//   .loopZindex(@i - 1,@j); 
// } 

@z-0: 11;
@z-1: 10;
@z-2: 9;
@z-3: 8;
@z-4: 7;
@z-5: 6;
@z-6: 5;
@z-7: 4;
@z-8: 3;
@z-9: 2;
@z-10: 1;

@h-tab: 40px; //высота табов
@checkbox: 20px; //размер чекбоксов
@w-right-variant: 403px; //ширина правой части карточки

@categories-nav-li-pad: 6px 10px;
@categ-count-color: #bcbcbc;

@auth-h: 472px; //высота окон в авторизации


/* СЕТКИ
  http://gridcalculator.dk/#/320/4/12/12
  http://gridcalculator.dk/#/768/10/10/14
  http://gridcalculator.dk/#/1024/12/10/7
  http://gridcalculator.dk/#/1328/16/16/24
*/
