@import (reference) "index";

.content {
    @wl: 245px; //min-height: 700px; chk как оплачиваем
    max-width: @vw-max;
    width: 100%;
    margin: auto; //.desktop({ padding: 0; });
    margin-bottom: @footer-margin-min;
    .mod-application &{ margin-bottom: 115px;}
    &:not(.content_associated){
        .padding;
    }

    &__header-lr {
        display: flex;
        justify-content: space-between;
        align-content: center;
        /* align-items: center; */

        > *:nth-child(1) {
            order: -1;
            flex: 0 1 auto;
            align-self: auto;
        }

        > *:nth-child(2) {
            order: 1;
            flex: 0 1 auto;
            align-self: auto;
        }
    }

    &__header-but {
        .cart-widget-button;
        margin-top: 5px;
    }

    .el-button&__button-add {
        margin-bottom: 20px; //chk организации
        //   margin-left: @margin-min; chk контакты
        color: @ct-main !important;
        font-weight: 700 !important;
        font-size: 16px !important; //border-radius: 0px!important;
        text-align: left;
        line-height: 20px !important; //add but

        .content__tabs + & {
            margin-left: @margin-cabinet; //chk http://zf.3259404.local/order/index/buyer
        }
    }

    &__infopage {
        //margin-left: @margin-cabinet; chk ОЗ
        margin-bottom: 30px; // 40 леша сказал
        font-size: 18px; //chk ОЗ
        font-weight: 400;
    }

    &__tabs {
        margin-bottom: 40px; //chk кон.лица
        margin-left: @margin-cabinet;
    }

    &__h2 {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 50px; //chk 30px реквизиты
        //margin-left: @margin-min; chk ОЗ
        margin-top: 0; //chk 50px реквизиты
    }

    &__left {
        width: @wl;
        display: inline-block;
        vertical-align: top;

        &_285 {
            width: 285px;
            & ~ .content__right {
                width: calc(100% - (285px + 15px));
            }
        }

        &_big {
            width: 300px;
        }
    }

    &__right {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        min-width: @w-float-b;
        position: relative;//для пагинации в архиве

        &_inner {
            padding-left: 0;
        }

        > *:first-child { //заменить универсальные селекторы
            margin-top: 0;
        }

        header {
            .el-button {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__left ~ &__right {
        width: calc(~"100% - (@{wl} + @{m-catalog})");
        // margin-left: @m-catalog;
    }

    &__left&__left_big ~ &__right {
        width: calc(~"100% - 300px");
        padding-left: @m-catalog;
    }

    &__header {
        .flex-rl;

        > *:nth-child(1) { //заменить универсальные селекторы
            .flex-center;
            flex: 0 6 auto;
        }

        &-right {
            align-self: flex-end;
            font-size: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;
        }

        &_variant {
            margin-bottom: 20px;

            .h1 {
                margin-bottom: 0;
            }

            .content__header-right {
                width: @w-right-variant;

                .el-button {
                    margin-left: 15px;
                    color: #333333;

                    span,
                    object {
                        vertical-align: middle;
                        pointer-events: none;

                        &:last-child {
                            margin-right: 0;
                        }
                    }

                    object {
                        position: relative;
                    }
                }
            }
        }

        &_cart {
            margin-bottom: 15px;

            .content__header-right {
                .flex-row;
                width: @w-float-b;
            }
        }

        .el-button {

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &_associated {
        /* border: @border; chk border-new */
        border-bottom-width: 0;
        border-radius: 6px;
        min-height: 300px;
    }

    &_supplied {
        min-height: 300px;
    }

    &_pagination {
        margin-bottom: 80px;
        position: relative;
        border-bottom-width: 1px;

        .pagination-conteiner {
            position: absolute;
            right: 0;
        }

    }
}

.el-button-content-mt {
    margin-top: 14px;
}