@import (reference) "index";

/* FOOTER */
.f-txt-small {
    font-size: 13px;
    color: #999999;
}

.footer {
    @p: 0; //50
    @color-polosa: @ca-grey3;
    background-color: @cm-grey2;
    //height: 200px;
    width: 100%;
    color: @cm-grey;
    clear: both;
    margin-top: 0; // chk 30px убрал со всех страниц не нашел где используется ;seo 125px

    //margin-top: 75px; //chk ОЗ страница благодарности
    a {
        transition: color .3s ease;

        &:hover {
            color: @cm-orange;
        }
    }

    &__left {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
        text-align: left;
    }

    &__right {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        text-align: right;
        margin-left: -5px;
    }

    &__head {
        background-color: @color-polosa;
        //         height: 60px;
        //         line-height: 60px;
        // padding-left: @p;
        padding: 10px 0;
    }

    &__error,
    &__data {
        white-space: nowrap;
    }

    &__error {
        // color: @cm-orange;
    }

    &__data {
        font-size: 13px;
    }

    &__body {
        padding: 0 @p 0 0;

        .footer__right,
        .footer__left {
            vertical-align: top;
        }

        &-bottom {
            .f-txt-small;
        }
    }

    // &__rate {}

    // &__nav {}

    &__foot {
        //       border-top: @border;
        padding-left: @p;
        //padding-right: 35px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        font-size: 13px;
        background-color: @color-polosa;
        margin-top: 25px;

        &-ico {
            .last-mr;
            margin-right: 30px;
        }

        a {
            color: @cm-orange;
        }
    }

    &__copyright {
        .f-txt-small;
        font-style: normal;
        display: inline-block;
        vertical-align: middle;
    }

    &__info {
        display: inline-block;
        text-align: left;
        line-height: 120%;
    }

    &__empty {
        background-color: #ffffff;
        min-height: 100px;
        padding-top: 37px;
        display: none;
    }

    &__tel {
        font-size: 18px;
        color: #000000;
    }

    &__contacts {
        font-size: 22px;
        text-align: left;
        margin-bottom: 30px;
        color: #414141;

        &-sub {
            font-size: 13px;
            display: block;
            margin-top: 5px;
        }
    }

    &__logo {
        vertical-align: middle;
        margin-right: 140px;
    }

    &-row {
        margin: 60px 0;
    }

    &-col {
        .last-mr;
        display: inline-block;
        vertical-align: top;
        margin-right: 158px;
        color: #333333;

        &_right {
            position: absolute;
            right: 0;
        }

        &__title {
            font-size: 18px;
            margin-bottom: 20px;
        }

        a {
            color: #414141;
        }
    }



    .form {
        .form__item {
            display: inline-block;
            vertical-align: top;
        }
    }
}

.form_nolabel {
    margin-bottom: 0;

    .form__item {
        margin-bottom: 0;

        label {
            display: none !important;
        }
    }
}

.discount-mail {
    &__title {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        margin-right: 40px;
        color: @ct-main;

        &::before {
            margin-right: 25px;
        }
    }

    &__form {
        display: inline-block;
        vertical-align: middle;

        .el-button {
            margin-left: 15px;
            font-size: 13px;
            .textVcenter(37px);
        }
    }
}

/* FOOTER отступы */
// оформление заказа
// #Contacts{
//     margin-bottom: 90px;
// }
// #Compliments,#Payment,#Company{
//     margin-bottom: 130px;
// }
.order-footer {
    margin-bottom: 130px;
}

.block-partition_thankyou {
    margin-bottom: 75px;
}

// личный кабинет
.table_archive:last-child,
.table_contacts:last-child,
.table_address:last-child,
.table_organization:last-child,
.table_wishlist:last-child {
    // margin-bottom: 130px; // все отступы от футера теперь на #content-block
}

//&_finances,{//mod
.catalog-items__paginator_out {
    margin-bottom: 130px;
}

.bonus-info:last-child {
    margin-bottom: 130px;
}

#ItemsOptions {
    margin-bottom: 135px;
    display: block;
}


/* Футер к низу */

/*  html, body{
    height:100%;
} */
body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}
