@import (reference) "index";

/* HEADER */
@header-anim: .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
.header {
    @search-pad-r: 65px;
    @search-pad-l: @search-pad-r/2;
    @hmenu: 652px !important;

    position: relative;
    background: #ffffff;
    z-index: @z-1;
    font-family: @font_new;

    &__top:extend(.b-grey) {
        color: @cm-grey;

        &::after:extend(.b-grey::after) {
            z-index: 1;
        }
    }

    &__nav-banner {
        position: absolute;
        left: 0;
        top: 53px;
        width: 290px;
        background-color: #ffffff;
        min-height: @hmenu;
        text-align: center;
        display: none !important;
    }

    &__main {
        padding: 15px 0;
        text-align: center;
        // .clearfix;
        // &>*{
        //   display: inline-block;
        //   vertical-align: middle;
        // }
    }

    &__logo {
        // margin-right: 90px;
        // float: left;
        //padding-left: 14px;
        text-align: left;
        &:extend(.padding);

        img {
            width: 100%;
            max-width: 248px;
        }
    }

    &__contacts {
        .padding;
        white-space: nowrap;
        font-size: 14px;
        // float: right;
        //text-align: right;
        //padding-left: 20px;
        //padding-right: 0;
        //text-align: right;

        &-text {
            // text-align: justify; //посмотреть на разных экранах
            // &::after{
            //     content: "";
            //     display: inline-block;
            //     width: 100%;
            //     height: 0;
            // }
        }
    }

    .header__city {
        display: block;
        margin-bottom: -10px;
        margin-top: -5px;
        text-align: right;
        text-align-last: right;

        &.el-triangle {
            .text-small;
            color: @cm-orange;
            cursor: pointer;
            text-transform: uppercase;

            &:hover {
                color: fade(@cm-orange, 70%);
            }
        }
    }

    .header__tel-container {
        //width: 185px;
        //text-align-last: justify;
        display: inline-block;
        font-family: @font_new2;
        a, p {
            line-height: 16px;
            font-size: 14px;
            margin: 3px 0;
        }
    }

    .header__tel {
        width: 100%;
        display: block;

        //.text-big;
        span {
            //color: @cm-grey;
        }
    }

    &__services {
        height: @h-services;

        //min-width: @vw-min;
        .wrapper {
            padding-left: 0;
        }
    }

    &__form-wrap {
        .mobile ({ });
        .mobile-tablet ({ margin: 0; width: 35%; });
        .desktop ({ width: 42%; });
        vertical-align: middle;
        display: inline-block;
        position: relative;
        // display: none;
        // width: 49%;chk pixel-perfect
        //width: 53%;
        width: 452px;
        //margin: 0 0 0 50px; //0 0vw/@vw 0 50vw/@vw

        @media (min-width: 1024px) and (max-width: 1024px) {
            width: 42%;
        }
        // .form-wrap__button {}
    }

    &__search {
        &[type="search"] {
            .mobile({ font-size: 12px; });
            .tablet({ font-size: 13px; });

            padding-right: 50px;
            padding-left: 27px;
            margin-top: 0;
            color: #000000;
            border: 2px solid #F0F0F0!important;
            border-radius: 30px;
            height: 40px;
            font-size: 14px;
            width: 100%;
            box-sizing: border-box;
            transition: box-shadow 0.2s ease-in-out;
            outline-color: @cm-grey2;

            &:hover, &:focus {
                box-shadow: @shadow2;
            }

            &.nocaret {
                color: rgba(0, 0, 0, 0);
                text-shadow: 0 0 0 #959595;
            }

        }

        &_button[type="submit"] {
            top: 0;
            right: 21px;
            bottom: 0;
            margin: auto;

        }

    }
    .search-dropdown {
        position: absolute;
        background: #ffffff;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        top: 35px;
        overflow: hidden;
        width: 100%;

        &__title {
            color: @cm-orange;
            padding-left: @search-pad-l;
            display: block;
            margin: 5px 0;

            &:first-child {
                margin-top: 15px;
            }
        }

        &__section {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__item {
            &.active {
                color: @ct-main;
                background-color: @ca-grey3;
            }
        }

        &__link {
            padding: 7px;
            padding-left: @search-pad-l;
            padding-right: 30px;
            display: block;
            width: 100%;
            font-size: 15px;
            line-height: 130%;

            &:hover {
                color: @ct-main;
                background-color: @ca-grey3;
            }
        }
    }

    &__nav {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        //position: relative;
        // margin-right: 16vw/@vw;
        width: 190px;
        text-align: left;
        z-index: 10;


        .nav_list {
            //mod
            top: @h-services;
            position: absolute;
            display: none;
            width: 260px;
            z-index: 3;
            min-height: @hmenu;
        }

        &.active {
            .js-but-catalog {
                .arrow_top {
                    display: block;
                }
            }
        }
    }

    &__but-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        //float: right;
        //position: absolute;
        //right: -10px; //0 chk правки
        .icon_but {
            width: 40px;
            height: 40px;
            padding: 0;
            margin-right: 20px;
            cursor: pointer;
        }
    }

    &__but {
        .mobile-tablet({ margin-left: 0; });
        .textVcenter(14px);
        text-transform: uppercase;
        color: #ffffff;
        display: inline-block;
        height: 100%;
        text-align: center;
        padding-left: @padding-min;
        padding-right: @padding-min;
        position: relative;
        vertical-align: middle;
        cursor: pointer;

        &_cabinet {
            color: #000;
            padding: 0;
            text-align: left;

            &:before {
                background-image: url(../img/new_header_icons/user-icon.svg);
                width: 41px;
                height: 40px;
                margin-right: 7px;
            }
            &:hover {
                .cabinet-info__wrapper {
                    opacity: 1;
                    visibility: visible;
                    z-index: 500;
                }
            }
        }
        &_favour {
            background-image: url(../img/new_header_icons/heart-icon.svg);
        }

        a {
            display: block;
            padding-left: 0;
            &:hover {
                &:after, &:before {
                    display: none;
                }
            }
        }

        &.active {
            //background-color: @cm-orange-h;

            &.js-disabled {
                background-color: inherit;
            }
        }

        > span {
            display: inline-block;
            vertical-align: middle;
        }

        &__small-text {
            font-family: @font_new2;
            font-weight: 400;
            text-transform: initial;
            display: block;
            white-space: nowrap;
        }

        &_catalog {
            //mod
            line-height: @h-services - 5;
            height: @h-services - 5;
            margin-left: 0;
            padding: 0;
            width: 100%;
            text-align: left;
            background-color: transparent;
            border: none;
            font-family: @font_new2;
            position: relative;

            &.header__but__fixed {
                display: none;
                width: auto;
            }
            &:before, &:after {
                display: none;
            }

            .js-menuopen.active &.js-but-catalog {
                //background-color: @cm-orange-h;
            }

            &&:hover {
                background-color: inherit;
            }

            .arrow_top {
                display: none;
                width: 0;
                height: 0;
                position: absolute;
                top: ~"calc(100% - 13px)";
                left: 55px;
                margin: auto;
                z-index: 10;
                border: 12px solid transparent;
                border-bottom: 7px solid #f2f2f2;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    border: 10px solid transparent;
                    border-bottom: 5px solid #ffffff;
                    top: -8px;
                    left: -10px;
                }
            }
        }
        &_wrap {
            position: relative;
            z-index: 10;
        }

        &_cabinet {
            //mod
            //line-height: @h-services+10;
            //padding-top: (@h-services - 32)/2; chk правки
            //padding-top: 12px;
            //min-width: 163px;

            &.active,
            &:hover {
                &::after {
                    background-color: #000000;
                }
            }

            .header__but__small-text {
                margin-bottom: 2px;
                // новая кнопка
                position: relative;
                top: 3px;
                text-overflow: ellipsis;
                width: 110px;
                overflow: hidden;
            }
        }

        &_cart {
            position: relative;
            color: #000;
            background-color: @cm-orange;
            height: 40px;
            width: 146px;
            border-radius: 30px;
            padding: 0;
            //mod
            //padding-top: (@h-services - 27)/2;
            // margin-left: 30px;
            //float: right;
            //width: 165px;
            &:before {
                display: none;
            }
            &-full:after {
                display: none;
            }

            > span {
                position: absolute;
                left: 46px;
                top: 12px;
            }

            &&-full > span {
                top: 10px;
            }

            .header__but__small-text {
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                color: #fff;
                font-weight: bold;
            }

            &-full .header__but__small-text {
            }

            .fa {
                font-size: 90%;
            }
        }
    }


    &__cart {
        &_link {
            display: block;
            padding: 10px;
            padding-left: 30px!important;
            text-align: center;
            // по центру
            height: 100%;
            display: flex!important;
            align-items: center;
            justify-content: center;

            .cart-content-block {
                border-radius: 4px;
                overflow: hidden;
                box-shadow: @shadow;
            }
            .cart-info__orders {
                position: relative;
                z-index: 10;
                background-color: #fff;
            }
            .arrow_top {
                background-color: #fff;
                display: block;
                width: 12px;
                height: 15px;
                position: absolute;
                transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                top: 9px;
                right: 25px;
                margin: auto;
                z-index: 0;
                box-shadow: @shadow;
            }
        }
    }


    &__burger {
        margin-right: 7px;
        position: relative;
        display: block;
        height: 2px;
        width: 17px;
        border-radius: 2px;
        background: #000;
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000;
            left: 0;
        }
        &:before {
            top: -5px;
        }
        &:after {
            bottom: -5px;
        }
    }

    &__count_cart {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 18px;
        height: 18px;
        background-image: url(../img/new_header_icons/cart-icon.svg);
        background-repeat: no-repeat;
        background-size: 18px;
        background-position: center;
        position: absolute;
        left: 13px;
        top: 0;
        bottom: 0;
        margin: auto;
        &.cart__empty:before {
            display: none;
        }
        &:before {
            display: inline-block;
            vertical-align: middle;
            z-index: 0;
            border-radius: 50%;
            background: #0386f8;
            width: 17px;
            height: 17px;
            line-height: 17px;
            font-size: 9px;
            content: attr(data-count);
            top: -8px;
            right: -7px;
            position: absolute;
            color: #fff;
            padding-right: 1px;
        }
    }


    .header-fixed {
        padding: 20px 0;
        background-color: #fff;
        width: 100%;
        top: -@header-h;

        &__img {
            display: none;
        }
        &__text {
            text-transform: none;
            color: #000;
            font-size: 14px;
            font-weight: bold;
        }

        &_fixed {
            z-index: 500;
            position: fixed;
            height: @header-h;
            top: 0;
            box-shadow: @shadow;
            padding: 3.5px 0;
            will-change: top;

            .mobile-tablet({
                position:static;
            });

            .header__contacts {
                display: none;
            }

            .header__form-wrap {
                width: 548px;
                .desktop ({ width: 35%; });
            }

            .js-but-catalog {
                display: none;
                &.header__but__fixed {
                    display: block;
                }
            }
            
            .wrapper {
                position: initial;
            }

            .header-fixed__img {
                display: inline-block;
                // margin-left: 15px;
                position: absolute;
                bottom: 10px;
                left: 50px;
            }

            .header__form-wrap {
                position: inherit;
                form {
                    position: relative;
                }
            }

            .header__logo {
                margin-top: -2px;
                display: block;
                &_wrap {
                    text-align: left;
                }
                img {
                    max-width: 176px;
                }
            }
        }

        &_header-info{
            box-shadow: 0 0!important;
        }
    }

} 




.js-menuopen:hover {
    > #nav_list {
        // display: block;
    }

    > .lightbox {
        display: block;
    }
}

// .header
.cabinet-info {
    @pad: 10px;
    box-shadow: @shadow;
    overflow: hidden;
    border-radius: 4px;

    &__wrapper {
        background-color: transparent;
        font-size: 14px;
        font-weight: 400;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        top: 100%;
        padding: 15px;
    }

    &__logout {
        @width: 240px;
        text-align: center;
        width: @width;
        left: -(@width - 120)/2;
        .el-button {
            font-size: 14px;
            margin-top: 15px;
        }
    }

    &__exit {
        &.el-button.el-button_scnd-2{
            font-weight: 400;
        }
    }

    &__login {
        text-align: left;
        @width: 280px;
        width: @width;
        left: -(@width - 140)/2;
        .cabinet-info {
            &__title, &__name {
                padding-left: 15px;
            }
            
            &__title {
                padding-bottom: 10px;
                border-bottom: @border;
                margin-bottom: 13px;
            }

            &__bottom {
                border-top: @border;
                padding-top: 10px;
                margin-top: 13px;
            }
        }
    }



    &__block {
        position: relative;
        z-index: 15;
        padding: 15px 15px 20px;
        background-color: #fff;
    }
    

    .arrow_top {
        background-color: #fff;
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        top: 8px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 0;
        box-shadow: @shadow;
    }

    > a {
        display: block;
    }

    > .el-button,
    > hr {
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 22px;
    }

    &__name {
        //font-weight: 700;
        height: 40px;
        line-height: 40px;
        padding-left: @pad;
        margin-bottom: 0;
        color: #000000;
        transition: none;
        border-radius: 4px;

        & + hr {
            margin-top: 0;
        }

        svg, span {
            display: inline-block;
            vertical-align: middle;
        }

        svg {
            margin-right: 15px;
            fill: #bcbcbc;
        }

        &:hover {
            //.bg-wide;
            background-color: @ca-yellow1;
            // margin-bottom: 14px;
            //border-bottom: 1px solid rgba(0,0,0,0);
            box-sizing: content-box;
            color: inherit;

            svg,
            svg path {
                fill: @cm-orange;
            }

            // & + hr{
            //     visibility: hidden;
            // }

            & + .cabinet-info__name {
                //margin-top: -16px;
            }
        }

        &:active {
            color: @cm-orange;
        }

        &_big {
            text-transform: uppercase;
            font-weight: 700;
            &:hover {
                background-color: transparent;
            }
        }
    }

    &__user {

    }

    &__debts {
        color: @cm-orange;
        padding-left: @pad;
        line-height: 150%;
        position: relative;
        top: -1.5px;

        span {
            color: @ct-main;
        }
    }

    &__grey-line {
        &_top {
            //mod
            .el-grey-line(-top);
            margin-bottom: 0;
        }

        &_bottom {
            //mod
            .el-grey-line(-bottom);
        }
    }

    .el-button {
        display: block;
        padding-left: 0;
        padding-right: 0;
        .time_2s;
    }
}

@w-table: 477px;

.form-wrap {
    position: relative;
    z-index: 3;

    & &__button {
        position: absolute;
        background-color: #ffffff;
        border: 0;
        cursor:pointer;
    }

    & &__input {
        color: #959595;
        border-radius: 6px;
        //box-shadow: @shadow-inset;
        //border: 0;
        border: @border;
        height: 35px;
        padding-left: 40px;
        width: 100%;
        box-sizing: border-box;
    }
}

.header-info {
    @wRight: 330px;
    @h: 63px;
    .desktop2({ top: 0; padding: 5.5px; });
    .mobile-tablet({
        display: none;
    });
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid @cm-orange;
    border-top: 1px solid rgba(34, 34, 34, 0.1);
    left: 0;
    padding: 10px;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.15);
    top: -@h;//высота хедера
    will-change: top;
    z-index: @z-6;

    &_fixed{
        top: @header-h - @h;
        transition: top  @header-anim;
        z-index: @z-6;
    }

    &_active {
        top: @header-h;
        animation: headerInfo @header-anim;
        z-index: @z-1;
    }

    @keyframes headerInfo {
        0%{
            top: @header-h - @h;
            z-index: @z-6;
        } 
        100%{
            top: @header-h;
            z-index: @z-6;
        }
    }

    .el-button{
        transition: none;
    }


    &__buy {
        .textVcenter(34px, ~'!important'); 
        width: 180px;
        margin-left: 20px;
    }

    &__counter {
        .input-group-btn {
            height: 34px;
            width: 34px;
        }
    }

    &__price {
        font-size: 16px;

        &.item__price-old {
            margin-right: 8px;
            margin-left: 0;
        }

        &.deactive {
            display: none;
        }

        .svg-ruble{        
        margin-right: 5px;

        }
        b{
            margin-right: 0;
        }
    }

    &__img {
        width: 40px;
        float: left;
        margin-right: 15px;
    }

    &__left,
    &__right {
        display: inline-block;
        vertical-align: middle;
    }

    &__left {
        overflow: hidden;
        width: calc(~"100% - @{wRight}");
    }

    &__right {
        text-align: right;
        width: @wRight;
    }

    &__title {
        font-family: "PT Sans", sans-serif;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 8px;
        display: block;
        color: #000000;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

#header-append-container {
    min-height: 53px;

    .body-empty & {
        display: none;
    }
}

@import "header-new";
@import "header-cart-info";
@import "header-geoip";

// crossbrowsing
#header-append-container {
    max-height: 90px;
}
.header__middle_line {
    max-height: 48px;
}
.header__but-wrap{
    max-height: 40px;
}
