@import (reference) "header";

.time_2s { transition: .2s ease-in-out; }

.flexbox {
    &_def {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header {
    box-shadow: @shadow;

    *{
        box-sizing: border-box;
    }

    .el-del {
        background: center / contain no-repeat url(../img/new_header_icons/el_del.svg);
    }

    &_middle {
        border-bottom: 1px solid @ca-grey3;
        border-top: 1px solid @ca-grey3;
    }

    &_bottom {
        position: relative;
        .wrapper__inner {
            //position: initial;
        }
        &:before {
            content: '';
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
            width: 100%;
            height: @h_nav_cat;
            background-color: white;
            border-top: 1px solid #f2f2f2;
        }
    }

    &_top {
        &__left {

        }
        &__right {
            text-align: right;
        }

        &__link {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            span {
                display: inline-block;
                vertical-align: middle;
            }
            .icon_round {
                border-radius: 50%;
                width: 21px;
                height: 21px;
                margin-right: 6px;
                text-align: center;
                padding: 6px 0 6px 0;
            }
        }
        .link {
            @blue: #1B9FE6;
            @green: #24B963;
            &_tender {
                color: @blue;
                margin-right: 27px;
                .icon_round {
                    background-color: @blue;
                }
            }
            &_callback {
                color: @green;
                .icon_round {
                    background-color: @green;
                }
            }
        }
    }

    &__top {
        &_nav {
            padding: 13px 0;
            display: inline-block;
            vertical-align: middle;
            margin-right: 25px;
        }
        &_city {
            display: inline-block;
            vertical-align: middle;
            height: 22px;
            margin-left: 9px;
            min-width: 140px;
        }
    }

    &__cart {
        &_link {
            &.active {
                .cart-info {
                    z-index: 500;
                }
            }
        }
    }

    .el-button {
        // box-shadow: @shadow2;
        &:active {
            box-shadow: none;
        }
        &.el-button_prim-0 {
            &:hover {
                background-color: @cm-orange-h;
            }
        }
    }

    .nav {
        font-family: @font_new;

        &_info {
            padding: 0;
            left: 0;
        }
        &__item {
            &_info {
                text-transform: none;
                margin: 0 20px;
            }
            a {
                color: #666;
                line-height: 20px;
                &:hover {
                    color: @ct-blue-h;
                }
            }
            &_ico {
                display: inline-block;
                text-transform: none;
                font-size: 14px;
                span {
                    //padding-left: 15px;
                }
                &::before, &::after {
                    transition: .2s ease-in-out;
                }
                &::after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
                &:hover {
                    &::after {
                        //opacity: 1;
                    }
                    &::before {
                        //opacity: 0;
                    }
                }
            }
        }
    }

    .scrollbar > .nav-catalogue {
        &.nav-catalogue_2 {
            width: ~'calc(100% - 10px)';
            -webkit-columns: 3;
            -moz-columns: 3;
            columns: 3;
            padding-right: 20px;
        }
    }

    .nav-catalogue-parent {
        &.nav-catalogue-parent_y {
            .nav-catalogue {
                &__item {
                    .nav-catalogue__item_1 {
                        padding: 8px 36px 7px 15px;

                    }
                    .nav-catalogue__item_2 {
                        padding: 0 19px 10px 19px;
                    }
                }
                &_two {
                    .nav-catalogue {
                        &__item-wrap {
                            &.nav-catalogue__item-wrap_1 {
                                display: none;
                                position: absolute;
                                top: 0;
                                left: 306px;
                                width: ~"calc(100% - 306px)";
                                height: 100%;
                            }
                        }
                        &.nav-catalogue_2 {
                            .nav-catalogue__item-wrap {
                                display: block;
                            }
                        }
                    }
                    .scrollbar-inner > .scroll-element.scroll-y {
                        width: 8px;
                    }
                }
                &__item-wrap {
                    &_1 {
                        .nav-catalogue-wrap.nav-catalogue-wrap_2 {
                            width: 100%;
                            height: 100%;
                            .scrollbar-wrap {
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    @h_nav_cat: 550px;

    .nav-catalogue {
        &__item {
            .nav-catalogue__item_ico {
                width: 20px;
                height: 20px;
                margin-right: 10px;
                text-align: center;
                img, svg {
                    max-width: 20px;
                    max-height: 20px;
                    display: inline-block;
                    vertical-align: middle;
                }
                path,rect,circle{
                    fill: #000;
                }
            }
            &_1 {
                .name {
                    width: ~"calc(100% - 35px)";
                    margin-top: -2px;
                }
            }
        }
        &__item-wrap_2 {
            .nav-catalogue__item {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        &.nav-catalogue_1 {
            width: 306px;
            height: @h_nav_cat;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 5px;
        }
        &.nav-catalogue_3 {
            overflow: hidden;
            max-height: 150px;
        }
        &__item-wrap_3.link {
            .nav-catalogue__item_3 {
                color: @ct-blue;
                &:hover {
                    color: @ct-blue-h;
                }
            }
        }
    }
    .scroll-wrapper {
        height: 100%;
        //margin-top: 20px;
        > .scroll-content {
            height: 100% !important;
        }
    }
    .nav-catalogue-wrap_1 {
        width: 100%;
        height: @h_nav_cat;
        .el-del {
            display: block;
            position: absolute;
            top: 30px;
            right: 48px;
            z-index: 50;
            width: 20px;
            height: 20px;
        }
    }

    &.open {
        .nav-catalogue-wrap__background {
            display: block;
            height: @h_nav_cat;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            width: 100%;

        }
        .js-but-catalog .arrow_top {
            display: block;
        }

        .header_bottom:before {
            display: block;
        }
        .header-fixed_fixed {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
        }
    }

    &.sticky {
        .nav-catalogue-wrap__background {
            position: fixed;
            top: 60px;
        }
        .js-but-catalog .arrow_top {
            top: 38px;
            left: -4px;
        }
    }

    .nav-catalogue-wrap__background {
        background-color: #fff;

        .scrollbar-inner > .scroll-element.scroll-y {
            width: 5px;
        }
    }
}


.title-search-result {
    box-shadow: @shadow2;
    margin-top: 5px;
    padding: 3px 3px 3px 0;
    background-color: #fff;
    border: 2px solid #F0F0F0;
    border-radius: 4px;
    display: none;
    
    hr {
        width: ~"calc(100% - 25px)";
        margin: 15px auto 20px;
    }
    .search-dropdown {
        max-height: 420px;
        overflow: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar-track {}

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 30px;
            background-color: @cm-grey1;
        }
    }

    .search-dropdown {
        &__title {
            font-size: 12px;
        }
        &__item {
            padding: 0 5px 0 12px;
        }
        &__link {
            padding: 7px 10px;
            font-size: 14px;
            display: block;
            color: #000;
            border-radius: 4px;
            &:hover {
                background-color: @ca-yellow1;
            }
            &:active {
                color: @cm-orange;
            }
        }
    }

}
