@import (reference) "header";
.cart-info {
  @el: td;
  .text-small;
  right: 0;
  text-transform: none;
  //display: block!important;

  .ajax-error {
      .box-grey;
      color: @cm-grey;
  }

  &.el-lightbox-menu {
      width: @w-table;
      background-color: transparent;
      left: auto;
      padding: 0;
      top: 100%;
      padding-top: 15px;
  }

  @{el} {
      padding-top: 9px;
      padding-bottom: 10px;
  }

  @{el}:first-child,
  th:first-child {
      padding-left: 30px;
      text-align: left;
  }

  @{el}:last-child,
  th:last-child {
      padding-right: 30px;
      text-align: right;
  }

  tr {
      width: @w-table;
  }

  &__orders {
      width: 100%;
      table-layout: fixed;
      vertical-align: middle;
  }

  &__header:extend(.b-grey all) {
      display: block;
      width: @w-table;
      text-align: center;

      &::before {
          display: none;
      }
  }

  &__header-item {
      height: 40px;
      font-weight: 400;
      color: @cm-grey;

      &:first-child {
          width: 377px;
      }
  }

  &__content {
      display: block;
      width: @w-table;
      //padding: 0 14px; // 10px 14px 0

      &_full {
          height: 274px; // 232px;
      }
  }

  &__item {
      border-bottom: 1px solid @cm-grey1;

      @{el}&:first-child {
          padding-left: 15px;
          padding-right: 15px;
      }

      @{el}&:last-child {
          padding-right: 15px;
      }
  }

  &__pic {
      img:first-of-type {
          max-height: 35px;
          width: auto;
          border: 0;
      }
  }

  &__title {
      width: 238px;
      padding-right: 20px;
      text-decoration: none;

      a {
          max-height: 28px;
          display: block;
          overflow: hidden;
      }
  }

  &__count {
      width: 40px; //@w-table - 400px - 110px;
      //text-align: center;
  }

  &__summ {
      width: 110px;
      padding-left: 30px;
      font-weight: bold;
  }

  &__pagination {
      &-cur {
          color: @cm-orange;
      }
  }

  &__result {
      display: block;
      width: @w-table;
      white-space: nowrap;
      @{el} {
          width: @w-table;
          padding: 11px 15px !important;
          text-align: left !important;
      }
      &_with-pagination {
          @{el} {
              width: auto;
              padding: 7px 0 !important;
              border-top: @border;
              &:first-child {
                  padding-left: 15px !important;
              }
              &:last-child {
                  padding-right: 15px !important;
                  text-align: right !important;
              }
          }
          .el-button {
              box-shadow: none;
          }
          .el-arrow-but {
              border: 1px solid #E4E4E4;
              width: 20px;
              height: 20px;
              &:after {
                  width: 8px;
                  height: 8px;
              }
          }
      }
  }

  &__result-count {
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
  }

  &__border td {
      border-bottom: @border;
  }

  &__result-title,
  .el-button.el-button_grey {
      font-family: @font2;
      text-transform: uppercase;
      font-size: 15px;
      position: relative;
      top: 1px;
  }

  &__result-total {
      @{el} {
          background-color: #f7f7f7;
          padding: 7px 15px !important;
          &:first-child {
              padding-right: 0 !important;
          }
          &:last-child {
              padding-left: 0 !important;
              text-align: right !important;
          }
      }
      .cart-info__but {
          font-size: 15px;
          font-weight: normal;
          text-transform: uppercase;
          padding-right: 31px;
          padding-left: 31px;
          height: 31px;
          line-height: 29px;
      }
  }

  &__result-title {
      //float: right;
      font-size: 14px;
      top: 0;
      margin-right: 10px;
  }

  &__result-summ {
      //font-family: @font2;
      font-size: 14px;
  }

  &__del {
      padding-left: 0;

      &:last-child {
          padding-right: 14px !important;
      }

      .el-del {
          width: 10px;
          height: 10px;
          box-shadow: none;
      }
  }

  &__but {
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
  }

  &__footer {
      color: inherit;
  }

  &__service {
      @{el} {
          padding-top: 14px;
          padding-bottom: 14px;
          width: @w-table/2;
      }
  }

  &__delivery {
      font-size: 11px;
      color: @cm-grey;
      white-space: nowrap;

      &::before {
          content: "";
      }

      span {
          color: @ca-green;
          font-size: 13px;
          font-weight: 700;
      }
  }
}