@import (reference) "header";
.header{
    .bxmaker__geoip__city__line-context{
        display: inline-block;
        width: 100%;
        text-align: left;
    }
    
    .icon__geoip__city, .bxmaker__geoip__city__line-name,
    .bxmaker__geoip__city__line-name.js-bxmaker__geoip__city__line-name.js-bxmaker__geoip__city__line-city {
        display: inline-block;
        vertical-align: middle;
        border-bottom: none;
        color: #666;
        font-size: 14px;
    }
    .icon__geoip__city {
        margin-right: 5px;
    }
    
    .bxmaker__geoip__city__line-question, .bxmaker__geoip__city__line-info {
        box-shadow: @shadow;
        text-align: center;
        top: 32px;
        right: 0;
        margin-right: 0;
        left: auto;
        border-radius: 0;
        .arrow_top {
            background-color: #fff;
            display: block;
            width: 20px;
            height: 15px;
            position: absolute;
            transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            top: -5px;
            right: 50px;
            margin: auto;
            z-index: 0;
            box-shadow: @shadow;
        }
        &:before, &:after {
            display: none;}
        .el-button {
            font-size: 14px;
            font-weight: normal;
            padding: 6px 12px;
            line-height: 20px;
            height: auto;
            box-shadow: none;
        }
    }

    .bxmaker__geoip__city__line-question-text, .js-bxmaker__geoip__city__line-city {
        font-size: 16px;
        color: #000;
        font-weight: normal;
    }

    .bxmaker__geoip__city__line-question-text {
        padding: 25px 25px 23px 25px;
        text-align: left;
        position: relative;
        z-index: @z-2;
        background: #fff;
    }

    .bxmaker__geoip__city__line-info-content{
        position: relative;
        z-index: @z-2;
        background: #fff;
    }

    .bxmaker__geoip__city__line-question-note {
        display: none;
    }

    .bxmaker__geoip__city__line-info-btn-box, .bxmaker__geoip__city__line-question-btn-box {
        padding: 0 25px 25px;
        text-shadow: none;
    }
    .bxmaker__geoip__city__line-question-btn-box {
        font-size: 14px;
        font-weight: normal;
        .el-button {
            width: 124px;
            &__yes {
                float: left;
            }
            &__no {
                float: right;
            }
        }
    }
    .bxmaker__geoip__city__line-question {
        width: 308px;
    }

    .bxmaker__geoip__popup-content {
        .bxmaker__geoip__popup-search {
            input[type="text"] {
                .time_2s;
                outline: none !important;
                &:hover {
                    border-color: #C9C9C9;
                }
                &:focus {
                    border-color: @cm-orange;
                }
            }
        }

        .bxmaker__geoip__popup-search-option:hover span, .bxmaker__geoip__popup-search-option span:hover {
            color: @ct-blue-h;
        }
        .bxmaker__geoip__popup-search-option {
            font-size: 14px;
            padding-bottom: 5px;
            line-height: normal;
        }

    }

    .bxmaker__geoip__popup-search-mark, .bxmaker__geoip__popup-search-clean {
        svg {
            margin: 8px 0;
        }
    }

    .bxmaker__geoip__popup-close.js-bxmaker__geoip__popup-close {
        top: 25px;
        right: 25px;
        svg {
            opacity: .3;
            .time_2s;
            &:hover {
                opacity: .7;
            }
            &:active {
                opacity: 1;
            }
        }
    }
}
