{% set pagename = "Доставка заказа" %}{% set delivery = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-info.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="cabinet__delivery b-delivery">
                    <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                        <a href="javascript:void(0)" class="b-delivery__toggle">
                            <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                            <span>Доставка товаров по Санкт-Петербургу</span>
                            <!-- <p class="b-delivery__text"></p> -->
                        </a>
                        <div class="b-delivery__details txt-article" style="display: none;">
                            <ul class="txt-article__list">
                                <li><span>Минимальная сумма заказа - 1500 руб.</span></li>
                                <li><span>Доставка товаров в пределах КАД Санкт-Петербурга осуществляется нашей курьерской службой.</span></li>
                                <li><span>Стоимость доставки заказов составляет 400 рублей.</span></li>
                                <li><span>Заказы на сумму от 3000 рублей доставляются бесплатно.</span></li>
                                <li><span>Наши экспедиторы осуществляют подъем на этаж и доставку товара в Ваш офис или квартиру.</span></li>
                                <li><span>Все заказы (при условии наличия товара на складе), отправленные до 14:45, доставляются с 12:00 до 18:00 на следующий рабочий день по указанному Вами адресу.</span></li>
                                <li><span>При заказе товаров, имеющих статус «под заказ», точную дату доставки можно уточнить у наших менеджеров.</span></li>
                                <li><span>Обратите внимание, наша компания не работает и не осуществляет доставку в выходные и праздничные дни.</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                        <a href="javascript:void(0)" class="b-delivery__toggle">
                            <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                            <span>Доставка товаров по России и Ленинградской области</span>
                            <!-- <p class="b-delivery__text"></p> -->
                        </a>
                        <div class="b-delivery__details txt-article" style="display: none;">
                            <p class="txt-article__text">Гарантийный срок — период, в течение которого в случае обнаружения в товаре недостатка изготовитель (исполнитель), продавец, уполномоченная организация, импортер обязаны удовлетворить требования клиента по устранению недостатков товара (п. 6. ст. 5 Закона о защите прав потребителей).</p>
                            <p class="txt-article__text">Продавец несет ответственность за недостатки товара, в том случае если не докажет, что недостатки возникли после передачи товара клиенту вследствие нарушения потребителем правил использования, хранения или транспортировки товара, действий третьих лиц.</p>
                        </div>
                    </div>
                    <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                        <a href="javascript:void(0)" class="b-delivery__toggle">
                            <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                            <span>Доставка товаров в пригороды Санкт-Петербурга</span>
                            <!-- <p class="b-delivery__text"></p> -->
                        </a>
                        <div class="b-delivery__details txt-article" style="display: none;">
                            <ul class="txt-article__list">
                                <li>Доставка товаров в пригороды Санкт-Петербурга</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                        <a href="javascript:void(0)" class="b-delivery__toggle">
                            <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                            <span>График доставки заказов в пригороды Санкт-Петербурга</span>
                            <!-- <p class="b-delivery__text"></p> -->
                        </a>
                        <div class="b-delivery__details txt-article" style="display: none;">
                            <ul class="txt-article__list">
                                <li>График доставки заказов в пригороды Санкт-Петербурга</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cabinet__delivery b-delivery b-delivery_alt">
                    <!-- <div class="b-delivery__head b-delivery-head"> -->
                    <div class="b-delivery-head">
                        <p class="b-delivery-head__txt">Возможно у нас уже есть ответы на ваши вопросы?</p>
                        <p class="b-delivery-head__ask"><span>Мы собрали популярные вопросы ниже</span><span class="b-delivery-head__ask-ico"></span></p>
                    </div>
                    <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                        <a href="javascript:void(0)" class="b-delivery__toggle">
                            <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                            <span>Как совершить заказ?</span>
                            <!-- <p class="b-delivery__text"></p> -->
                        </a>
                        <div class="b-delivery__details txt-article" style="display: none;">
                            <p class="txt-article__text">Интернет-магазин "Офисная служба" работает 24 часа, поэтому оформить заказ на нашем сайте Вы можете в любое удобное для Вас время суток.</p>
                            <p class="txt-article__text">Время работы офиса по будням с 09.30 до 18.00, в выходные и праздничные дни офис не работает.</p>
                            <p class="txt-article__text">Любую дополнительную информацию о товаре и работе нашего магазина Вы можете уточнить у наших менеджеров или задать Ваш вопрос через форму обратной связи на нашем сайте.</p>
                        </div>
                    </div>
                    <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                        <a href="javascript:void(0)" class="b-delivery__toggle">
                            <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                            <span>Доставка товаров по России и Ленинградской области</span>
                            <!-- <p class="b-delivery__text"></p> -->
                        </a>
                        <div class="b-delivery__details txt-article" style="display: none;">
                            <p class="txt-article__text">Гарантийный срок — период, в течение которого в случае обнаружения в товаре недостатка изготовитель (исполнитель), продавец, уполномоченная организация, импортер обязаны удовлетворить требования клиента по устранению недостатков товара (п. 6. ст. 5 Закона о защите прав потребителей).</p>
                            <p class="txt-article__text">Продавец несет ответственность за недостатки товара, в том случае если не докажет, что недостатки возникли после передачи товара клиенту вследствие нарушения потребителем правил использования, хранения или транспортировки товара, действий третьих лиц.</p>
                        </div>
                    </div>
                    <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                        <a href="javascript:void(0)" class="b-delivery__toggle">
                            <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                            <span>Доставка товаров в пригороды Санкт-Петербурга</span>
                            <!-- <p class="b-delivery__text"></p> -->
                        </a>
                        <div class="b-delivery__details txt-article" style="display: none;">
                            <ul class="txt-article__list">
                                <li>Доставка товаров в пригороды Санкт-Петербурга</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                        <a href="javascript:void(0)" class="b-delivery__toggle">
                            <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                            <span>График доставки заказов в пригороды Санкт-Петербурга</span>
                            <!-- <p class="b-delivery__text"></p> -->
                        </a>
                        <div class="b-delivery__details txt-article" style="display: none;">
                            <ul class="txt-article__list">
                                <li>График доставки заказов в пригороды Санкт-Петербурга</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}