{% set pagename = "Заказ по почте" %}{% set throughpost = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-info.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="txt-article stnd-block stnd-shadow clearfix">
                    <p class="txt-article__title">Отправьте заказ по почте - все остальное мы сделаем сами</p>
                    
                    <ul class="txt-article__list txt-article__list_ordered">
                        <li>
                            <span>Составьте заказ любым удобным для вас способом: текстом в письме, файлом Excel, PDF или в любом другом формате.<br>Желательно в списке товаров указывать артикул или ссылку на товар.<br>Также просьба указать контактное лицо и номер телефона для подтверждения заказа.</span><br>
                            <span><img src="u13911.png" alt=""></span><br><br><br>
                        </li>
                        <li><span>Отправьте ваше письмо по адресу <a href="mailto:001@3259404.ru">001@3259404.ru</a>.</span><br>
                            <span><img src="u13912.png" alt=""></span><br>
                            <span class="cabinet__small-alert">Стоимость заказов, направленных по электронной почте может отличаться от стоимости заказов оформленных непосредственно через сайт.</span><br><br><br>
                        </li>
                        <li><span>После получения письма наш менеджер свяжется с лицом, чей номер телефона был указан для подтверждения заказа и уточнит детали.</span></li>
                    </ul>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}