{% set pagename = "Бонусная программа" %}{% set bonus = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-info.html" %}
            <section class="cabinet__right content__right">
                <!-- <h1 class="stnd-title stnd-title_big">Заказ через сайт</h1> -->
                <div class="b-info-bonus stnd-shadow">
                    <!-- TOP ROW -->
                    <div class="b-info-bonus-row b-info-bonus-top">
                        <div class="b-info-bonus-row__content">
                            <h1 class="b-info-bonus__title">БОНУСНАЯ<br>ПРОГРАММА<br>«ТВОИ ВОЗМОЖНОСТИ»</h1>
                            <h2 class="b-info-bonus__sub-title">Совершайте покупки, копите бонусные баллы, покупайте на бонусные баллы товары из нашего каталога!</h2>
                        </div>
                        <div class="b-info-bonus-row__ellipse b-info-bonus-top__ellipse1"></div>
                        <div class="b-info-bonus-row__ellipse b-info-bonus-top__ellipse2"></div>
                        <div class="b-info-bonus-top__img">
                            <img src="img/ico-svg/scope.svg" alt="">
                        </div>
                    </div>
                    <!-- TOP ROW [END] -->
                    <!-- WHAT IS IT -->
                    <div class="b-info-bonus-row b-info-bonus-row_white">
                        <div class="b-info-bonus-row__content">
                            <p class="b-info-bonus__ask b-info-bonus__ask_accent">Что это такое?</p>
                            <h3 class="b-info-bonus__caption">Программа лояльности</h3>
                            <h4 class="b-info-bonus__sub-title">Благодаря программе «Твои возможности» покупатели получают возможность радовать себя еще чаще!</h4>
                        </div>
                        <div class="b-info-bonus-row__ellipse"></div>
                    </div>
                    <!-- WHAT IS IT [END] -->
                    <!-- HOW TO GET -->
                    <div class="b-info-bonus-row b-info-bonus-row_purple">
                        <div class="b-info-bonus-row__content">
                            <!-- STEPS -->
                            <div class="b-info-bonus-steps">
                                <div class="b-info-bonus-steps__item b-info-bonus-steps__item_ID1">
                                    <div class="b-info-bonus-steps__item-number">1</div>
                                    <div class="b-info-bonus-steps__item-txt">
                                        <div class="b-info-bonus-steps__item-title">шаг первый</div>
                                        <div class="b-info-bonus-steps__item-sub-title">Регистрируйся на сайте</div>
                                    </div>
                                </div>
                                <div class="b-info-bonus-steps__item b-info-bonus-steps__item_ID2">
                                    <div class="b-info-bonus-steps__item-number">2</div>
                                    <div class="b-info-bonus-steps__item-txt">
                                        <div class="b-info-bonus-steps__item-title">шаг второй</div>
                                        <div class="b-info-bonus-steps__item-sub-title">Совершай покупки</div>
                                    </div>
                                </div>
                                <div class="b-info-bonus-steps__item b-info-bonus-steps__item_ID3">
                                    <div class="b-info-bonus-steps__item-number">3</div>
                                    <div class="b-info-bonus-steps__item-txt">
                                        <div class="b-info-bonus-steps__item-title">шаг третий</div>
                                        <div class="b-info-bonus-steps__item-sub-title">Трать бонусные баллы</div>
                                    </div>
                                </div>
                                <div class="b-info-bonus-steps__box b-info-bonus-steps__box_first b-info-bonus-steps__box_active b-info-bonus-steps__box_ID1">
                                    <div class="b-info-bonus-steps__box-wrapper">
                                        <h3 class="b-info-bonus-steps__box-title">Регистрируйтесь в личном кабинете</h3>
                                        <p class="b-info-bonus-steps__box-text">Регистрация в нашем <a class="cabinet_accent" href="javascript:;">личном кабинете</a> занимает не болшьше трех минут!</p>
                                        <p class="b-info-bonus-steps__box-text">Сразу после регистрации вам откроется возможность копить и использовать бонусные баллы!</p>
                                        <p class="b-info-bonus-steps__box-text">Для регистрации вам необходимо:</p>
                                        <ul class="b-info-bonus-steps__box-ol txt-article__list txt-article__list_ordered">
                                            <li>Нажать на кнопку «Кабинет» в шапке сайта</li>
                                            <li>В открывшемся меню выбрать пункт «<a class="cabinet_accent" href="javascript:;">Регистрация</a>»</li>
                                            <li>Заполниль все поля и нажать кнопку «Зарегистрироваться»</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="b-info-bonus-steps__box b-info-bonus-steps__box_second b-info-bonus-steps__box_ID2">
                                    <div class="b-info-bonus-steps__box-wrapper">
                                        <h3 class="b-info-bonus-steps__box-title">Совершайте покупки</h3>
                                        <p class="b-info-bonus-steps__box-text">Покупайте товары на нашем сайте и получайте бонусные баллы!</p>
                                        <p class="b-info-bonus-steps__box-text">Бонусные баллы программы «Твои Возможности» начисляются клиентам, авторизованным в личном кабинете при покупке любого товара!</p>
                                        <p class="b-info-bonus-steps__box-text">Количество бонусных баллов, начисляемых за покупку товаров отображается в карточке товара, в блоке с ценой.</p>
                                        <div class="b-info-bonus-steps__box-img">
                                            <img style="margin: -8px;" src="img/u12142.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="b-info-bonus-steps__box b-info-bonus-steps__box_third b-info-bonus-steps__box_ID3">
                                    <div class="b-info-bonus-steps__box-wrapper">
                                        <h3 class="b-info-bonus-steps__box-title">Тратьте накопленные баллы</h3>
                                        <p class="b-info-bonus-steps__box-text">Сразу после доставки заказа мы начисляем вам бонусные баллы.</p>
                                        <p class="b-info-bonus-steps__box-text">Вы можете тратить бонусные баллы на любые товары, размещенные в специальном каталоге на сайте нашей бонусной программы <a href="javascript:;" class="cabinet_accent">Твоивозможности.рф</a>.</p>
                                        <p class="b-info-bonus-steps__box-text">Баланс и историю операций с бонусными баллами вы можете отслеживать в вашем личном кабинете в разделе «<a href="javascript:;" class="cabinet_accent">Бонусные баллы</a>».</p>
                                        <!-- btn -->
                                        <button class="el-button el-button_prim-0 el-button_stretchy">Перейти к покупкам</button>
                                    </div>
                                </div>
                            </div>
                            <!-- STEPS [END] -->
                            <p class="b-info-bonus__ask">Как получить?</p>
                            <h3 class="b-info-bonus__caption">Копим бонусные баллы</h3>
                            <!-- ARROW STEPS -->
                            <div class="b-info-bonus-arrow-steps">
                                <div class="b-info-bonus-arrow-steps__item">
                                    <div class="b-info-bonus-arrow-steps__img">
                                        <img src="img/ico-svg/login_white.svg" alt="">
                                    </div>
                                    <p class="b-info-bonus__p">Авторизуйтесь в личном кабинете</p>
                                </div>
                                <div class="b-info-bonus-arrow-steps__item b-info-bonus-arrow-steps__arrow">
                                    <img src="img/u12164.png" alt="">
                                </div>
                                <div class="b-info-bonus-arrow-steps__item">
                                    <div class="b-info-bonus-arrow-steps__img">
                                        <img src="img/ico-svg/pay_white.svg" alt="">
                                    </div>
                                    <p class="b-info-bonus__p">Оплатите и получите ваш заказ</p>
                                </div>
                                <div class="b-info-bonus-arrow-steps__item b-info-bonus-arrow-steps__arrow">
                                    <img src="img/u12164.png" alt="">
                                </div>
                                <div class="b-info-bonus-arrow-steps__item">
                                    <div class="b-info-bonus-arrow-steps__img">
                                        <img src="img/ico-svg/pay_white.svg" alt="">
                                    </div>
                                    <p class="b-info-bonus__p">Баллы будут начислены уже на следующий день!</p>
                                </div>
                            </div>
                            <!-- ARROW STEPS [END] -->
                            <h4 class="b-info-bonus__sub-title">Так же вы можете получать дополнительные баллы разными способами: <br> оставлять о нас отзывы на Яндекс.Маркет, участвовать в акциях, оставлять <br> отзывы о товарах!</h4>
                        </div>
                        <div class="b-info-bonus-row__ellipse"></div>
                    </div>
                    <!-- HOW TO GET [END] -->
                    <!-- HOW TO SPEND -->
                    <div class="b-info-bonus-row b-info-bonus-row_blue">
                        <div class="b-info-bonus-row__content">
                            <p class="b-info-bonus__ask">Как потратить?</p>
                            <h3 class="b-info-bonus__caption">Каталог бонусных товаров</h3>
                            <!-- ARROW STEPS -->
                            <div class="b-info-bonus-arrow-steps">
                                <div class="b-info-bonus-arrow-steps__item">
                                    <div class="b-info-bonus-arrow-steps__img">
                                        <img src="img/ico-svg/login_white.svg" alt="">
                                    </div>
                                    <p class="b-info-bonus__p">Авторизуйтесь в личном кабинете</p>
                                </div>
                                <div class="b-info-bonus-arrow-steps__item b-info-bonus-arrow-steps__arrow">
                                    <img src="img/u12164.png" alt="">
                                </div>
                                <div class="b-info-bonus-arrow-steps__item">
                                    <div class="b-info-bonus-arrow-steps__img">
                                        <img src="img/ico-svg/grid-world_white.svg" alt="">
                                    </div>
                                    <p class="b-info-bonus__p">Перейдите на сайт бонусной программы</p>
                                </div>
                                <div class="b-info-bonus-arrow-steps__item b-info-bonus-arrow-steps__arrow">
                                    <img src="img/u12164.png" alt="">
                                </div>
                                <div class="b-info-bonus-arrow-steps__item">
                                    <div class="b-info-bonus-arrow-steps__img">
                                        <img src="img/ico-svg/magnifying-glass_white.svg" alt="">
                                    </div>
                                    <p class="b-info-bonus__p">Выбирайте товары и оплачивайте их баллами!</p>
                                </div>
                            </div>
                            <!-- ARROW STEPS [END] -->
                        </div>
                        <div class="b-info-bonus-row__ellipse"></div>
                    </div>
                    <!-- HOW TO SPEND [END] -->
                    <!-- ASK'S BLOCK -->
                    <div class="b-info-bonus-row b-info-bonus-row_green">
                        <div class="b-info-bonus-row__content">
                            <p class="b-info-bonus__ask">Есть ответы!</p>
                            <h3 class="b-info-bonus__caption">Часто задаваемые вопросы</h3>
                            <div class="b-info-bonus__text-row">
                                <h4 class="b-info-bonus__sub-title">Как начисляются баллы?</h4>
                                <p class="b-info-bonus__p">Баллы начисляются следующим образом: при совершении любого заказа в нашем Интернет-магазине Офисная Служба, за каждые полные 100 рублей Вам начисляется 1 балл на Ваш личный счет. Кроме того, мы дарим баллы постоянным клиентам, за рекомендации Вашим друзьям, за регистрацию на сайте Офиснаяслужба.рф, а также за каждый 10-й заказ (см. подробнее раздел "Как получить").</p>
                            </div>
                            <div class="b-info-bonus__text-row">
                                <h4 class="b-info-bonus__sub-title">Как осуществляется доставка товаров?</h4>
                                <p class="b-info-bonus__p">На сумму накопленных баллов Вы можете сделать выбор в нашем списке ВОЗМОЖНОСТЕЙ. Доставка ВОЗМОЖНОСТЕЙ осуществляется с очередным Вашим заказом, сделанном в Офисной Службе. Если Вы не планировали делать заказ, в этом случае доставку ВОЗМОЖНОСТЕЙ Вы можете оплатить баллами - Вам потребуется 300 баллов.</p>
                            </div>
                            <div class="b-info-bonus__text-row">
                                <h4 class="b-info-bonus__sub-title">Сроки действия баллов</h4>
                                <p class="b-info-bonus__p">Баллами можно воспользоваться в течение шести месяцев с момента их начисления (т.е. через 6 месяцев сгорают только те баллы, которые были начислены с заказом, совершенном 6 месяцев назад). Если по каким-то причинам Вы не оплачиваете заказ в течение двух месяцев — накопленные баллы сгорают.</p>
                            </div>
                            <div class="b-info-bonus__text-row">
                                <h4 class="b-info-bonus__sub-title">Где можно посмотреть информацию о накопленных баллах?</h4>
                                <p class="b-info-bonus__p">Количество баллов вы всегда можете посмотреть в разделе "Бонусные баллы" в вашем личном кабинете как на сайте 3259404.ru, так и на Твоивозможности.рф. Кроме того, данная информация отображается на главной странице сайта Твои Возможности в правом верхнем углу.</p>
                            </div>
                        </div>
                        <div class="b-info-bonus-row__ellipse"></div>
                    </div>
                    <!-- ASK'S BLOCK [END] -->
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->

    <script>
        document.onreadystatechange = function () {
            // bonus steps function
            hoverActive({
                parent : '.b-info-bonus-steps',
                item   : '.b-info-bonus-steps__item',
                toShow : '.b-info-bonus-steps__box'
            });
        }
    </script>
{% include "elems/_footer.html" %}