{% set pagename = "Контакты" %}{% set contacts = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-info.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="cabinet-map">
                    <!-- <img src="img/u12463.png" style="margin: -8px; width: calc(100% + 16px);" alt=""> -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1000.3341055215907!2d30.35656228368979!3d59.90445694877491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963037011f7bf9%3A0x95100431181cfec6!2z0KDQsNGB0YHRgtCw0L3QvdCw0Y8g0YPQuy4sIDI30JEsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQoNC-0YHRgdC40Y8sIDE5MjAwNw!5e0!3m2!1sru!2sua!4v1541068311316" width="950" height="600" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
                    <div class="cabinet-map-info cabinet-map-info_limited cabinet-map-info_top cabinet-map-info_right">
                        <div class="cabinet-map-info__row">
                            <div class="cabinet-map-info__img">
                                <img src="img/ico-svg/clock.svg" alt="">
                            </div>
                            <div class="cabinet-map-info__txt">с понедельника <br> по пятницу <br> с 9:00 до 18:00</div>
                        </div>
                        <div class="cabinet-map-info__row">
                            <div class="cabinet-map-info__img">
                                <img src="img/ico-svg/clock.svg" alt="">
                            </div>
                            <div class="cabinet-map-info__txt"><a href="javascript:;" class="el-link_alt">+7 (812) 325-94-04</a> <a href="javascript:;" class="el-link_alt">+7 (800) 301-94-04</a> бесплатно</div>
                        </div>
                        <div class="cabinet-map-info__row">
                            <div class="cabinet-map-info__img">
                                <img src="img/ico-svg/maps-and-flags.svg" alt="">
                            </div>
                            <div class="cabinet-map-info__txt">г. Санкт-Петербург, Расстанная улица, д. 27, лит. В</div>
                        </div>
                        <div class="cabinet-map-info__row">
                            <div class="cabinet-map-info__img">
                                <img src="img/ico-svg/maps-and-flags.svg" alt="">
                            </div>
                            <div class="cabinet-map-info__txt"><a href="javascript:;" class="el-link_alt">001@3259404.ru</a></div>
                        </div>
                    </div>
                </div>
                <div class="cabinet__big-alert stnd-block">
                    <p class="cabinet__big-alert_title">Служба заботы и контроля качества</p>
                    <p class="cabinet__big-alert_text">Если у вас возникли какие либо замечания по работе нашей компании вы всегда можете создать заявку в Службу Заботы <a href="javascript:;" class="el-link_alt">в вашем личном кабинете</a>, либо позвонить по телефону ниже:</p>
                    <p class="cabinet__big-alert_strong">+7 (812) 325-93-03</p>
                </div>
                <div class="b-info-contacts">
                    <div class="b-info-contacts__b stnd-block stnd-shadow b-info-contacts-requisites">
                        <h4 class="b-info-contacts__title">Реквизиты компании</h4>
                        <div class="b-info-contacts-requisites__row">
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__name">Наименование организации</div>
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__text">ООО "ТК Офисная Служба"</div>
                        </div>
                        <div class="b-info-contacts-requisites__row">
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__name">Юридический адрес</div>
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__text">192007, г. Санкт-Петербург, ул. Расстанная, 27 литер В</div>
                        </div>
                        <div class="b-info-contacts-requisites__row">
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__name">Почтовый адрес</div>
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__text">192007, г. Санкт-Петербург, ул. Расстанная, 27 литер В</div>
                        </div>
                        <div class="b-info-contacts-requisites__row">
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__name">ИНН</div>
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__text">7816585861</div>
                        </div>
                        <div class="b-info-contacts-requisites__row">
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__name">КПП</div>
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__text">781601001</div>
                        </div>
                        <div class="b-info-contacts-requisites__row">
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__name">Расчетный счет</div>
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__text">4070 2810 6170 6000 9034</div>
                        </div>
                        <div class="b-info-contacts-requisites__row">
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__name">Корреспондентский счет</div>
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__text">30101810300000000811</div>
                        </div>
                        <div class="b-info-contacts-requisites__row">
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__name">БИК</div>
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__text">044030811</div>
                        </div>
                        <div class="b-info-contacts-requisites__row">
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__name">Банк</div>
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__text">ФИЛИАЛ N 7806 ВТБ 24 (ЗАО) Г. САНКТ-ПЕТЕРБУРГ</div>
                        </div>
                        <div class="b-info-contacts-requisites__row">
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__name">Ген. директор</div>
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__text">Оснос А. Н.</div>
                        </div>
                        <div class="b-info-contacts-requisites__row">
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__name">Гл. бухгалтер</div>
                            <div class="b-info-contacts-requisites__row-item b-info-contacts-requisites__text">Оснос А. Н.</div>
                        </div>
                    </div>
                    <div class="b-info-contacts__b stnd-block stnd-shadow b-info-contacts-callback">
                        <h4 class="b-info-contacts__title">Обратная связь</h4>
                        <form>
                            <div class="form">
                                <div class="el-textinput-wrapper">
                                    <div class="el-textinput el-textinput_labeltop js-label-top">
                                        <input class="el-textinput__input" tabindex="1" type="text" name="name1" id="name1" placeholder="Placeholder text" value="">
                                        <label class="el-textinput__label" for="name1">Label</label>
                                        <div class="el-textinput__error el-bubble el-bubble_bot el-bubble_right el-bubble_error"><div class="el-bubble__wrap">Some text about error after validation text input</div></div>
                                        <!-- появляется с модификатором el-textinput_error. проверка на ошибки будет на бэкенде -->
                                    </div>
                                </div>
                                <div class="el-textinput-wrapper">
                                    <div class="el-textinput el-textinput_labeltop js-label-top">
                                        <input class="el-textinput__input" tabindex="1" type="text" name="name2" id="name2" placeholder="Placeholder text" value="">
                                        <label class="el-textinput__label" for="name2">Label</label>
                                        <div class="el-textinput__error el-bubble el-bubble_bot el-bubble_right el-bubble_error"><div class="el-bubble__wrap">Some text about error after validation text input</div></div>
                                        <!-- появляется с модификатором el-textinput_error. проверка на ошибки будет на бэкенде -->
                                    </div>
                                </div>
                                <div class="el-textinput-wrapper">
                                    <div class="el-textinput el-textinput_labeltop js-label-top">
                                        <input class="el-textinput__input" tabindex="1" type="text" name="name3" id="name3" placeholder="Placeholder text" value="">
                                        <label class="el-textinput__label" for="name3">Label</label>
                                        <div class="el-textinput__error el-bubble el-bubble_bot el-bubble_right el-bubble_error"><div class="el-bubble__wrap">Some text about error after validation text input</div></div>
                                        <!-- появляется с модификатором el-textinput_error. проверка на ошибки будет на бэкенде -->
                                    </div>
                                </div>
                                <div class="el-textinput-wrapper">
                                    <div class="el-textinput el-textinput_labeltop js-label-top">
                                        <input class="el-textinput__input" tabindex="1" type="text" name="name4" id="name4" placeholder="Placeholder text" value="">
                                        <label class="el-textinput__label" for="name4">Label</label>
                                        <div class="el-textinput__error el-bubble el-bubble_bot el-bubble_right el-bubble_error"><div class="el-bubble__wrap">Some text about error after validation text input</div></div>
                                        <!-- появляется с модификатором el-textinput_error. проверка на ошибки будет на бэкенде -->
                                    </div>
                                </div>
                                <select name="messageTheme" id="messageThemeSelect" class="jsSelect select-ico_rect select-ico_input-size select-ico_full-w" data-placeholder="Выберите тему сообщения" data-label="Выберите тему сообщения">
                                    <option value="L">Lorem ipsum dolor sit amet.</option>
                                    <option>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, ab.</option>
                                    <option value="">Lorem ipsum.</option>
                                </select>
                                <div class="el-textinput-wrapper" style="">
                                    <div class="el-textinput el-textinput_labeltop">
                                        <textarea class="el-textinput__input el-textinput__input_textarea scrollbar-macosx" id="contra" tabindex="1" type="text" name="contra" placeholder="Поделитесь своим мнением о модели"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima doloribus eos cumque, similique sunt vel vero voluptates omnis deleniti debitis perferendis quasi expedita asperiores alias, quod quisquam dolore in quis. Rerum perspiciatis eligendi fugit dicta illum quae quaerat non, magnam voluptatum ad natus asperiores, laboriosam assumenda nisi sapiente error modi dolor numquam exercitationem, at ea eos accusantium! Nihil assumenda quasi ab, corporis distinctio tempora omnis sunt aliquam voluptate non labore ullam rem? Obcaecati quae expedita ullam vitae eos sunt nulla perferendis ad! Harum, sed culpa in quae a, quas non et quo deleniti autem temporibus placeat, repellendus reiciendis vitae? Eos? </textarea>
                                        <label class="el-textinput__label" for="contra">Label</label>
                                        <div class="el-textinput__error el-bubble el-bubble_bot el-bubble_right el-bubble_error"><div class="el-bubble__wrap">Some text about error after validation text input</div></div>
                                    </div>
                                </div>
                                <div class="el-checkbox2-container">
                                    <input id="answerEmail" type="radio" name="answer" class="el-checkbox2 el-checkbox2_radial" checked>
                                    <label for="answerEmail"></label><label for="answerEmail">Ответ прошу отправить на e-mail</label>
                                </div>
                                <div class="el-checkbox2-container">
                                    <input id="answerPhone" type="radio" name="answer" class="el-checkbox2 el-checkbox2_radial">
                                    <label for="answerPhone"></label><label for="answerPhone">Ответ прошу сообщить по телефону</label>
                                </div>
                                <div class="el-textinput-wrapper">
                                    <input type="submit" name="send" class="rate-add__but el-button el-button_prim-0 el-button_big" value="Отправить">
                                    <p class="terms">Нажимая кнопку "Отправить" я даю согласие на обработку своих <a href="/page/polzovatelskoe-soglashenie" target="_blank" rel="nofollow">персональных&nbsp;данных</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}