{% set pagename = "Подъем мебели" %}{% set furniturelifting = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-info.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="txt-article stnd-block stnd-shadow clearfix">
                    <p class="txt-article__title">Подъем кресел, корпусной и металлической мебели</p>
                    <ul class="txt-article__list">
                        <li><span>Стоимость подъема мебели весом более 25 кг будет рассчитываться исходя из веса мебели. Стоимость подъема – 5 рублей за 1 кг на 1 этаж.</span></li>
                        <li><span>Если у вас есть грузовой лифт, вам нужно будет оплатить только подъем мебели на 1-й этаж.</span></li>
                    </ul>
                    <p class="txt-article__title">Подъем сейфов</p>
                    <ul class="txt-article__list">
                        <li><span>Сейфы весом до 25 кг мы поднимаем бесплатно.</span></li>
                        <li><span>Стоимость подъема мебели весом более 25 кг будет рассчитываться исходя из веса мебели. Стоимость подъема – 5 рублей за 1 кг на 1 этаж.</span></li>
                        <li><span>Стоимость подъема сейфа весом от 25 до 150 кг рассчитывается исходя из веса сейфа.<br>Стоимость подъема 10 рублей за 1 кг на 1 этаж.<br>Стоимость подъема сейфа на каждый следующий этаж составляет 30% от стоимости подъема на 1-й этаж.</span></li>
                        <li><span>Стоимость подъема сейфа весом более 150 кг рассчитывается исходя из веса сейфа.<br>Стоимость подъема 16 рублей за 1 кг на 1 этаж.<br>Стоимость подъема сейфа на каждый следующий этаж составляет 30% от стоимости подъема на 1-й этаж.</span></li>
                        <li><span>Если у вас есть грузовой лифт, вам нужно будет оплатить только подъем сейфа на 1-й этаж.</span></li>
                    </ul>
                    <p class="txt-article__title">Сложности при доставке и подъеме мебели и сейфов</p>
                    <p class="txt-article__text">Мы не поднимаем товар по сложным, узким, нестандартным лестничным пролетам и конструкциям (недостроенные лестничные конструкции, винтовые лестницы), а также при отсутствии освещения.<br>В этом случае товар будет передан вам перед препятствием.</p>
                    <p class="txt-article__text">В случае, если необходимо нести товар более 50 метров (затруднен подъезд к парадной, длинный коридор), дополнительно взимается плата за ручной перенос мебели.</p>
                    <p class="txt-article__text">Стоимость ручного переноса мебели равняется стоимости подъема мебели на 1 этаж.</p>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}