{% set pagename = "Заказ через сайт" %}{% set throughsite = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-info.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="txt-article stnd-block stnd-shadow clearfix">
                    <p class="txt-article__title">Простой заказ прямо через сайт</p>
                    
                    <ul class="txt-article__list txt-article__list_ordered">
                        <li>
                            <span>Добавляйте товары в вашу корзину</span><br>
                            <span><img src="u13802.png" alt=""></span><br><br><br>
                        </li>
                        <li><span>Перейдите в корзину, проверьте достаточное ли количество товаров вы собираетесь купить — только после этого нажмите на кнопку «Оформить заказ».</span><br>
                            <span><img src="u13803.png" alt=""></span><br>
                            <span class="cabinet__small-alert">Обращаем внимание — минимальная сумма заказа составляет 1 500 Р</span><br><br><br>
                        </li>
                        <li><span>Авторизуйтесь на сайте любым удобным вам способом или оформите заказ без регистрации.</span><br>
                            <span class="cabinet__small-alert">Бонусные баллы начисляются только авторизованный пользователям</span><br>
                            <span><img src="u13813.png" alt=""></span><br><br><br>
                        </li>
                        <li><span>Выберите город доставки, а так же укажите адрес, по которому необходимо доставить заказ.</span><br>
                            <span><img src="u13816.png" alt=""></span><br><br><br>
                        </li>
                        <li><span>Выберите подходящий способ оплаты. Вы можете оплатить ваш заказ любым удобным способом: наличными, банковской картой, он-лайн или по безналичному расчету.</span><br>
                            <span class="cabinet__small-alert">Выбрав вариант оплаты "Он-лайн" и оформив заказ на вашем счету будет холдирована сумма заказа и списана только после того, как будет уточнено наличие товара.</span><br>
                            <span><img src="u13817.png" alt=""></span><br><br><br>
                        </li>
                        <li><span>Укажите ответственного за заказ — лицо, с которым наши менеджеры будут связываться для подтверждения заказа.</span>
                            <span><img src="u13818.png" alt=""></span><br><br><br>
                        </li>
                        <li><span>Вы можете оставить комментарий к вашему заказу в случае необходимости. Так же любые детали о заказе вы можете сообщить нашим менеджерам.</span>
                            <span><img src="u13833.png" alt=""></span><br><br><br>
                        </li>
                        <li><span>После того, как все поля заполнены вы можете отправить заказ в обработку. Для этого необходимо нажать на кнопку «Оформить заказ».</span><br>
                            <span><img src="u13836.png" alt=""></span><br><br><br>
                        </li>
                        <li><span>После успешного оформления заказа на почту, указанную при оформлении заказа прийдет письмо с подробной информацией о заказе.<br>Так же в ближайшее время с указанным при регистрации лицом свяжется наш менеджер для уточнения деталей заказа.</span><br>
                            <span class="cabinet__small-alert">Наши менеджеры принимают и обрабатывают заказы по будним дням с 9:30 до 18:00.<br>Заказы, оформленные в выходные и праздничные дни будут обработаны в ближайший рабочий день.</span><br>
                        </li>
                    </ul>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}