{% set pagename = "Сборка мебели" %}{% set furnitureassembly = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-info.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="txt-article stnd-block stnd-shadow clearfix">
                    <p class="txt-article__title">Услуга сборки мебели</p>
                    <p class="txt-article__text">Мы поставляем все офисные кресла, корпусную и металлическую мебель в разобранном виде.<br>Вы можете собрать ее самостоятельно, используя инструкцию, которая есть в каждой упаковке мебели, или заказать сборку мебели у наших специалистов.</p>
                    <p class="txt-article__text">Если вы заказываете сборку мебели у нас, мы оперативно соберем ваш заказ, предварительно согласовав дату сборки с вами.</p>
                    <br>
                    <p class="txt-article__title">Цены на сборку мебели</p>
                    <p class="txt-article__text">В стоимость сборки мебели входит выезд специалиста.<br>Заказы мебели стоимостью от 150 000 рублей мы собираем бесплатно.<br>Стоимость сборки мебели и офисных кресел указана в карточке товара в разделе Характеристики.<br>Минимальная стоимость сборки для выезда сборщика к вам – 770 рублей.</p>
                    <br>
                    <ul class="txt-article__list">
                        <li><span class="txt-article__list-title">Сборка офисных кресел</span><br><span>Стоимость подъема мебели весом более 25 кг будет рассчитываться исходя из веса мебели. Стоимость подъема – 5 рублей за 1 кг на 1 этаж.</span></li>
                        <li><span class="txt-article__list-title">Подготовка помещения</span><br><span>Если вы решили воспользоваться нашей услугой по сборке мебели, вам нужно будет предварительно подготовить помещение для сборки мебели: по возможности освободить помещение от лишних предметов, вынести вещи.</span><br><span>Обратите внимание, что сборка корпусной и металлической мебели производится в горизонтальном положении.</span></li>
                        <li><span class="txt-article__list-title">Заводской брак</span><br><span>При приемке товара обратите внимание на целостность упаковки. Если вам привезли товар с нарушенной упаковкой (мятая, рваная), такой товар принимать не надо.</span><br><span>Если вы заказали у нас услугу сборки мебели, наш сборщик собирает товар только в ненарушенной упаковке. <br>В случае, если упаковка товара была повреждена, претензии по браку не принимаются.</span><br><span>Если вы собираете товар самостоятельно, перед сборкой товара аккуратно распакуйте все детали и осмотрите их на предмет заводских дефектов, сколов и царапин.<br>В случае обнаружения дефектов, обратитесь к нашим менеджерам для замены детали или изделия на новое. Для замены брака нужна этикетка с коробки мебели и упаковочный лист с информацией о номере партии, который находится внутри упаковки мебели.</span></li>
                        <li><span class="txt-article__list-title">Вывоз упаковки</span><br><span>Мы также предоставляем услугу вывоза упаковки от мебели.</span><br><span>Вывоз упаковки от мебели происходит на следующий день после сборки мебели. Либо дата вывоза упаковки оговаривается дополнительно с нашими менеджерами.</span><br><span>Стоимость вывоза упаковки составляет 400 рублей.</span></li>
                    </ul>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}