{% set pagename = "Оплата заказа" %}{% set payment = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-info.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="txt-article stnd-block stnd-shadow clearfix">
                    <div class="txt-article_item">
                        <div class="txt-article_flex">
                            <ul class="txt-article__list txt-article__large-padding">
                                <li><span>Оплата заказов по Санкт-Петербургу производится по наличному, безналичному расчету и с помощью банковской карты.</span></li>
                                <li><span>Заказы, требующие доставки в регионы, оплачиваются по безналичному расчету или с помощью банковской карты Visa или Master Card.</span></li>
                                <li><span>При оплате наличными товар оплачивается экспедитору при получении заказа. Вам выдаются кассовый и товарный чеки.</span></li>
                                <li><span>При безналичном расчете оплата осуществляется после доставки товара<span class="cabinet_accent">*</span>, в течение 5 банковских дней согласно договору.<br>В данном случае вы получите комплект документов: счет, счет-фактуру, товарную накладную.<br>На нашем экземпляре необходимо расписаться, поставить печать или приложить доверенность.</span></li>
                                <li><span>При первой поставке мы привозим договор.</span></li>
                                <li><span>При онлайн оплате Вы можете воспользоваться банковской картой Visa и Master Card.</span></li>
                            </ul>
                            <div class="txt-article__side-block txt-article__large-padding">
                                <div class="txt-article__side-block_title">
                                    Мы принимаем оплату
                                </div>
                                <div class="txt-article__side-block_item">
                                    <p class="txt-article__side-block_img"><img src="img/article-sideblock-img.png" alt="" /></p>
                                    <p class="txt-article__side-block_txt">Наличный расчет</p>
                                </div>
                                <div class="txt-article__side-block_item">
                                    <p class="txt-article__side-block_img"><img src="img/article-sideblock-img.png" alt="" /></p>
                                    <p class="txt-article__side-block_txt">Банковской картой</p>
                                </div>
                                <div class="txt-article__side-block_item">
                                    <p class="txt-article__side-block_img"><img src="img/article-sideblock-img.png" alt="" /></p>
                                    <p class="txt-article__side-block_txt">Он-лайн платеж</p>
                                </div>
                                <div class="txt-article__side-block_item">
                                    <p class="txt-article__side-block_img"><img src="img/article-sideblock-img.png" alt="" /></p>
                                    <p class="txt-article__side-block_txt">Безналичный расчет</p>
                                </div>
                            </div>
                        </div>
                        <div class="txt-article_item_bot-descr txt-article__large-padding">
                            <span class="cabinet_accent">* </span>При сумме заказа до 5 000 Р
                        </div>
                        <hr class="txt-article__large-margin">
                    </div>
                    <div class="txt-article_item txt-article__large-padding">
                        <p>Оплата осуществляется через компанию-партнера - PayAnyWay.<br><a class="cabinet_accent" href="#">PayAnyWay</a> не передает данные Вашей карты магазину и иным третьим лицам.</p>
                        <p>Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D Secure.</p>
                        <p>В соответствии с ФЗ «О защите прав потребителей» в случае, если Вам оказана услуга или реализован товар ненадлежащего качества, платеж может быть возвращен на банковскую карту, с которой производилась оплата.</p>
                        <p>Порядок возврата средств уточняйте у администрации интернет-магазина.</p>
                    </div>
                </div>
                <div class="cabinet__big-alert stnd-block">
                    <p class="cabinet__big-alert_title">Обратите внимание</p>
                    <p class="cabinet__big-alert_text">Он-лайн оплатой единовременно вы можете оплатить заказ на сумму до 30 000 рублей. Возможность оплаты он-лайн заказов на большую сумму обсуждаются индивидуально с менеджерами нашего магазина.</p>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}