{% set pagename = "Возврат и обмен товаров" %}{% set productreturn = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-info.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="cabinet__delivery b-delivery">
                    <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                        <a href="javascript:void(0)" class="b-delivery__toggle">
                            <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                            <span>Гарантия на товар</span>
                            <!-- <p class="b-delivery__text"></p> -->
                        </a>
                        <div class="b-delivery__details txt-article" style="display: none;">
                            <p class="txt-article__text">Гарантийный срок — период, в течение которого в случае обнаружения в товаре недостатка изготовитель (исполнитель), продавец, уполномоченная организация, импортер обязаны удовлетворить требования клиента по устранению недостатков товара (п. 6. ст. 5 Закона о защите прав потребителей).</p>
                            <p class="txt-article__text">Продавец несет ответственность за недостатки товара, в том случае если не докажет, что недостатки возникли после передачи товара клиенту вследствие нарушения потребителем правил использования, хранения или транспортировки товара, действий третьих лиц.</p>
                            <p class="txt-article__text">Гарантийным обслуживанием подразумевает бесплатное устранение недостатков продукции, возникших по вине изготовителя, при условии соблюдения правил эксплуатации, устанавливаемых изготовителем. Данный сервис производится специализированными сервисными центрами компаний-производителей, имеющими на то соответствующее разрешение.</p>
                        </div>
                    </div>
                    <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                        <a href="javascript:void(0)" class="b-delivery__toggle">
                            <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                            <span>Отмена заказа</span>
                            <!-- <p class="b-delivery__text"></p> -->
                        </a>
                        <div class="b-delivery__details txt-article" style="display: none;">
                            <p class="txt-article__text">Произвести отмену заказа Вы можете в любое время, связавшись с нашими менеджерами по телефону: +7 (812) 325-94-04. Также Вы можете отказаться от получения товара в момент его получения.</p>
                        </div>
                    </div>
                    <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                        <a href="javascript:void(0)" class="b-delivery__toggle">
                            <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                            <span>Возврат товара</span>
                            <!-- <p class="b-delivery__text"></p> -->
                        </a>
                        <div class="b-delivery__details txt-article" style="display: none;">
                            <p class="txt-article__text">Покупатель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение 7 дней. Возврат товара может быть осуществлен <a href="#" class="cabinet_accent">по адресу местонахождения</a> компании-поставщика: 192007 г. Санкт-Петербург, ул. Расстанная, д. 27 лит. <br>
                            В рабочие дни с 10:00 до 18:00, предварительно согласовав время возврата по телефону +7 (812) 325-94-04.</p>
                            <p class="txt-article__text">Основанием возврата товара является <a href="#" class="cabinet_accent">заявление от покупателя о возврате товара</a> в произвольной форме с указанием причины возврата товара.</p>
                            <p class="txt-article__title">Возврат товара надлежащего качества</p>
                            <p class="txt-article__text">Возврат товара надлежащего качества возможен в течение 7 дней с момента передачи, при условии, что товар не был в употреблении, сохранены его товарный вид, потребительские свойства и документ, подтверждающий факт и условия покупки.</p>
                            <p class="txt-article__text">Покупатель не вправе отказаться от товара надлежащего качества, если данный товар относится к товаром из следующего списка: «Перечень непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размеров, формы, габарита, фасона, расцветки или комплектации» (утв. <a href="#" class="cabinet_accent">Постановлением Правительства РФ от 19.01.1998г № 55</a>).</p>
                            <p class="txt-article__title">Возврат товара ненадлежащего качества</p>
                            <p class="txt-article__text">Товаром ненадлежащего качества называется товар, который неисправен и не может обеспечить выполнение своих функциональных качеств. <br>Возврат и ремонт товара ненадлежащего качества осуществляется в течение гарантийного срока (1 год).</p>
                            <p class="txt-article__text">В случае если покупателю передается товар с нарушением условий договора, касающихся количества, ассортимента, качества, комплектности, тары и (или) упаковки товара, покупатель может не позднее 20 дней после получения товара известить продавца об этих нарушениях.</p>
                            <p class="txt-article__text">Если обнаружены недостатки товара, в отношении которого гарантийные сроки или сроки годности не установлены, покупатель вправе предъявить требования в отношении недостатков товара в разумный срок, но в пределах 2 (двух) лет со дня передачи его покупателю, если более длительные сроки не установлены законами или договором.</p>
                            <p class="txt-article__text">Покупатель также вправе предъявить требования к продавцу в отношении недостатков товара, если они обнаружены в течение гарантийного срока или срока годности.</p>
                            <p class="txt-article__text">Покупатель, которому продан товар ненадлежащего качества, если это не было оговорено продавцом, вправе по своему выбору потребовать:</p>
                            <ul class="txt-article__list">
                                <li>
                                    <span>безвозмездного устранения недостатков товара или возмещения расходов на их исправление покупателем или третьим лицом</span>
                                </li>
                                <li>
                                    <span>соразмерного уменьшения покупной цены</span>
                                </li>
                                <li>
                                    <span>замены на товар аналогичной марки (модели, артикула) или на такой же товар другой марки (модели, артикула) с соответствующим перерасчетом покупной цены. При этом в отношении технически сложных и дорогостоящих товаров эти требования покупателя подлежат удовлетворению в случае обнаружения существенных недостатков</span>
                                </li>
                            </ul>
                            <p class="txt-article__text">Покупатель также вправе отказаться от исполнения договора и потребовать возврата уплаченной за товар суммы. По требованию продавца и за его счет покупатель должен возвратить товар с недостатками.</p>
                            <p class="txt-article__text">Покупатель вправе также потребовать полного возмещения убытков, причиненных ему вследствие продажи товара ненадлежащего качества. Убытки возмещаются в сроки, установленные Законом Российской Федерации "О защите прав потребителей" для удовлетворения соответствующих требований покупателя.</p>
                        </div>
                    </div>
                    <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                        <a href="javascript:void(0)" class="b-delivery__toggle">
                            <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                            <span>Возврат денежных средств</span>
                            <!-- <p class="b-delivery__text"></p> -->
                        </a>
                        <div class="b-delivery__details txt-article" style="display: none;">
                            <p class="txt-article__text">При отказе покупателя от товара продавец должен возвратить ему сумму, уплаченную покупателем в соответствии с договором, за исключением расходов продавца на доставку от покупателя возвращенного товара.</p>
                            <p class="txt-article__text">В зависимости от принадлежности покупателя (физическое или юридическое лицо), процедура возврата имеет свои особенности.</p>
                            <p class="txt-article__title">Физические лица</p>
                            <ul class="txt-article__list">
                                <li>
                                    <span>Наличными денежными средствами по месту нахождения продавца. Возврат денежных средств возможен при наличии кассового, товарного чеков, паспорта Покупателя.</span>
                                </li>
                                <li>
                                    <span>Почтовым переводом.</span>
                                </li>
                                <li>
                                    <span>Путем перечисления соответствующей суммы на банковский или иной счет покупателя, указанный покупателем.</span>
                                </li>
                                <li>
                                    <span>В случае оплаты заказа банковской картой денежные средства возвращаются на карту, реквизиты которой были указаны при оплате. Возврат наличными и зачисление на карту с другими реквизитами невозможны.</span>
                                </li>
                            </ul>
                            <p class="txt-article__text">Возврат денежных средств осуществляется не позднее чем через 10 дней с даты предъявления покупателем соответствующего требования.</p>
                            <p class="txt-article__title">Юридические лица</p>
                            <ul class="txt-article__list">
                                <li>
                                    <span>Наличными в кассе продавца при наличии кассового чека, товарной накладной (ТОРГ 12), доверенности на получение денежных средств и паспорта получателя.</span>
                                </li>
                                <li>
                                    <span>На основании соответствующего официального письма с указанием реквизитов Компании с просьбой вернуть денежные средства на расчетный счет организации. <br>В этом случае денежные средства возвращаются с момента рассмотрения письма в течение 2-х недель или в срок, указанный покупателем, или иной срок, установленный в договоре. <br>Расходы на осуществление возврата суммы, уплаченной покупателем в соответствии с договором, несет продавец.</span>
                                </li>
                            </ul>
                            <p class="txt-article__text">При возврате покупателем товара надлежащего качества составляются накладная или акт о возврате товара.</p>
                        </div>
                    </div>
                    <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                        <a href="javascript:void(0)" class="b-delivery__toggle">
                            <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                            <span>Обмен товара</span>
                        </a>
                        <div class="b-delivery__details txt-article" style="display: none;">
                            <p class="txt-article__title">Обмен товара надлежащего качества</p>
                            <p class="txt-article__text">Покупатель в течение 14 (четырнадцати) дней с момента передачи непродовольственного товара надлежащего качества (не считая дня его покупки) может обменять его на аналогичный товар у продавца, у которого этот товар был приобретен, если указанный товар не подошел по форме, габаритам, фасону, расцветке, размеру или комплектации.</p>
                            <p class="txt-article__title">Обмен товара ненадлежащего качества</p>
                            <p class="txt-article__text">В случае обнаружения потребителем недостатков товара и предъявления требования о его замене продавец обязан заменить такой товар в течение 7 (семи) дней со дня предъявления указанного требования потребителем, а при необходимости дополнительной проверки качества такого товара продавцом — в течение 20 (двадцати) дней со дня предъявления указанного требования. Если у продавца в момент предъявления требования отсутствует необходимый для замены товар, замена должна быть проведена в течение 1 (одного) месяца со дня предъявления такого требования.</p>
                        </div>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}