{% set pagename = "Архив заказов" %}{% set archiveN = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="cabinet__right--noauth">
                    <!-- <div class="cabinet__right--noauth-image"><img src="img/noauth-image.png" alt="" /></div> -->
                    <div class="cabinet__right--noauth-image"><img src="img/ico-svg/Pictogr_ArhivZakazov.svg" alt="" /></div>
                    <div class="cabinet__right--noauth-text">
                        <p>Текст о архиве заказов. Что, зачем, почему.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                    </div>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}