{% set pagename = "Закладки" %}{% set wish = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">

                <!-- Закладки -->
                <div class="wishlist-page">
                    <header class="cabinet__header content__header-lr wishlist-page__header">
                        <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                        <div class="cabinet__header-btns-row content__header-right">
                            <div>
                                <div class="wishlist-page__add js-click-show">
                                    <button class="el-button el-button_ghost2 js-click-show__but"><span class="el-button__icon svg-btn svg-btn-plus"></span><span>Создать новый список</span></button>
                                    <div class="js-click-show__target bubble">
                                        <div class="wishlist-addform bubble__wrap">
                                            <form method="post" class="form form_100" name="Wishlist" id="Wishlist">
                                                <div class="wishlist-addform__input form__item form__item_labeltop js-label-top">
                                                    <label for="addNewList">Введите название списка</label>
                                                    <span class="form__input">
                                                        <input id="addNewList" type="text" name="addNewList" maxlength="64" class="form__input" placeholder="Введите название списка" />
                                                    </span>
                                                </div>
                                                <input type="submit" class="el-button el-button_prim-0 el-button_stretchy" value="Сохранить" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <a class="el-button el-button_ghost2" target="_blank" href="/cart/index/print"><span class="el-button__icon svg-btn svg-btn-envelope"></span><span>Отправить по e-mail</span></a>
                                <a class="el-button el-button_ghost2" target="_blank" href="/cart/index/print"><span class="el-button__icon svg-btn svg-btn-print"></span><span>Распечатать</span></a>
                            </div>
                            <div>
                                <button class="el-button el-button_prim-0">Добавить все в корзину</button>
                                <span class="el-arrow-but el-arrow-but_cart el-arrow-but_cart_big-1"></span>
                                <!-- <span class="el-arrow-but el-arrow-but_cart el-arrow-but_cart_big-0"></span> -->
                                <!-- <div class="wishlist-page__add js-click-show">
                                    <button class="el-button el-button_prim-0 js-click-show__but">Создать новый список</button>
                                    <div class="js-click-show__target bubble">
                                    <div class="wishlist-addform bubble__wrap">
                                        <form method="post" class="form form_100" name="Wishlist" id="Wishlist">
                                            <div class="wishlist-addform__input form__item form__item_labeltop js-label-top" style="">
                                                <label for="email">Email</label>
                                                <span class="form__input">
                                                    <input type="text" name="name" maxlength="64" class="form__input" placeholder="Введите название списка" />
                                                </span>
                                            </div>
                                            <input type="submit" name="addWishlist" class="el-button el-button_prim-0 el-button_stretchy" value="Сохранить" />
                                        </form>
                                    </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </header>
                    <div class="wishlist-lists stnd-block stnd-shadow">
                        <div id="fast-tags" class="fast-tags">
                            <div class="wishlist-lists__wrap-container toggle-wrap-container">
                                <span class="wishlist-lists__title">списки</span>
                                <ul class="toggle-wrap toggle-wrap_tags nav nav_parts">
                                    <li class="toggle-wrap__item nav__wrap tip-chaya ui-tabs-active ui-state-active">
                                        <p class="nav__item nav__item_parts" > <!-- href="#tip-chaya" -->
                                            Общий список <span class="toggle-wrap__num js-toggle-wrap__num">12</span>
                                        </p>
                                    </li>
                                    <li class="toggle-wrap__item nav__wrap vid-chaya">
                                        <p class="nav__item nav__item_parts" > <!-- href="#vid-chaya" -->
                                            Отдел маркетинга <span class="toggle-wrap__num js-toggle-wrap__num">26</span><span class="toggle-wrap__x"></span>
                                        </p>
                                    </li>
                                    <li class="toggle-wrap__item nav__wrap vid-chaya">
                                        <p class="nav__item nav__item_parts" > <!-- href="#vid-chaya" -->
                                            Отдел контента <span class="toggle-wrap__num js-toggle-wrap__num">26</span><span class="toggle-wrap__x"></span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-items catalog-items_list">
                        <div id="goods-list" class="items js-catalog-items catalog-items-block" data-tableclass="table table_list" data-type="list">
                            <div class="stnd-block stnd-block_0 stnd-shadow" style="width: 100%">
                                <div data-bubble=".bubble-specprice" class="item table__tr">
                                    <div class="item__li item__li_img">
                                        <div class="el-plate-container table__none">
                                                <div class="el-plate el-plate_left el-plate_sale ">Распродажа</div>
                                                <div class="el-plate el-plate_left el-plate_discount ">Скидка</div>
                                        </div>
                                        <!--  /.el-plate-container -->
                                        <a href="/catalog/kofe-rastvorimyy-jacobs-monarch-190g-steklo_i4560" class="item__img">
                                            <img src="http://img.3259404.ru/3259404.ru/variants/small_image/i4560.jpg" alt="" />
                                        </a>
                                        <a href="/catalog/kofe-rastvorimyy-jacobs-monarch-190g-steklo_i4560">
                                            <i class="table__none variants-count">
                                            <span class="variants-count__num variants-count__num_2"></span>
                                        </i>
                                        </a>
                                    </div>
                                    <div class="item__li item__li_info clearfix">
                                        <div class="item__descript-conteiner">
                                            <p class="item__row item__descript">
                                                <a href="/catalog/kofe-rastvorimyy-jacobs-monarch-190g-steklo_i4560" title="Кофе растворимый Jacobs Monarch 190г стекло">
                                                    Кофе растворимый Jacobs Monarch 190г стекло
                                                </a>
                                            </p>
                        
                                        </div>
                                        <div class="item__row item__service-wrap item__line">
                                            <div class="item__container item__container_left item__container_inline">
                                                <div class="item__rating el-rating el-rating_pre-medium el-rating_4">
                                                    <span>&#9734;</span>
                                                    <span>&#9734;</span>
                                                    <span>&#9734;</span>
                                                    <span>&#9734;</span>
                                                    <span>&#9734;</span>
                                                </div>
                                                <!--  /.item__rating el-rating -->
                                            </div>
                                            <!--  /.item__container item__container_left-->
                                        </div>
                                        <!--  /.item__row -->
                                        <div class="el-plate-container">
                                        </div>
                                        <!--  /.el-plate-container -->
                                        <div class="item__line">
                                            <table class="properties-table properties-table_main">
                                                <tbody>
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Объем/вес</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">190 г</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Вид растворимого кофе</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">Сублимированный</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Сорт зерна</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">Арабика и Робуста</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Тип упаковки</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">В стекле</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Тип</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">Растворимый</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Страна</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">Бразильский, Колумбийский</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Штрих-код</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">4607001771555</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Код производителя</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">95644</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--/.js-item-anim-fade -->
                                    <div class="item__li item__li_buy">
                                        <div class="item__line item__price-wrap">
                                            <div class="item__price-old">1 569<span class="item__discount">-269</span></div>
                                            <div class="item__container item__container_left">
                                                <div class="item__price">459 <span class="svg-ruble svg-ruble_med"></span></div>
                                            </div>
                                            
                                            <div class="table__td item__status-wrap">
                                                <div class="item__status item__status_green js-bubble js-bubble_status">
                                                    В наличии
                                                    <div class="bubble-conteiner">
                                                        <div class="bubble bubble_status">
                                                            <div class="bubble__wrap">
                                                                Данный товар может быть доставлен в течение 1-2 дней. </div>
                                                            <!--  /.bubble__wrap -->
                                                        </div>
                                                        <!--  /.bubble -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item__line item__articul-wrap">
                                            <span class="item__articul">Артикул: <span>д14416</span></span>
                                            <div class="item__container item__container_right item__button-container item__button-container_chevron-right item__container_right_3 js-wishlist-actions-block">
                                                <button class="svg-chevron-right svg-chevron-right_hover-orange el-button el-button-small-round js-ajax-addtowishlist" variantid="71" count="1" confirm="false" type="button">
                                                </button>
                                            </div>
                                            <div class="item__container item__container_right item__button-container item__button-container_x item__container_right_2 js-wishlist-actions-block">
                                                <button class="svg-x svg-x_hover-orange el-button el-button-small-round js-ajax-addtowishlist" variantid="71" count="1" confirm="false" type="button">
                                                </button>
                                            </div>
                                            <div class="item__container item__container_right item__button-container item__button-container_compare item__container_right_1">
                                                <button class="svg-compare svg-compare_hover-orange el-button el-button-small-round js-ajax-addtowishlist" variantid="71" count="1" confirm="false" type="button">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="table-variants-conteiner table-variants-conteiner_nohead">
                                            <table class="table-variants">
                                                <thead>
                                                    <tr class="table-variants__thead">
                                                        <th class="table-variants__title-item">Вес</th>
                                                        <th class="table-variants__title-item table-variants__price">Цена</th>
                                                        <th class="table-variants__title-item table-variants__cart">В корзину</th>
                                                    </tr>
                                                    <tr class="table-variants__second-row js-this-openlist" title="Показать">
                                                        <td colspan="3" class="other">
                                                            <span class="table-variants__list-title ico-arrow-orange">Выберите вариант</span>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-variants__list">
                                                    <tr class="table-variants__third-row">
                                                        <td class="table-variants__desc"><span class="table-variants__text">190г</span></td>
                                                        <td class="table-variants__price">459</td>
                                                        <td class="table-variants__third table-variants__cart js-ajax-addtocart-wrap">
                                                            <input type="text" class="el-spinner js-addtocart-count js-count-more" name="value" value="1">
                                                            <a href="#" rel="nofollow" class="item__buy item__buy_cart el-button el-button_prim-0 el-button_min js-ajax-addtocart ico-cart" min="1" value="1" step="1" variantid="71" count="1"></a>
                                                            <!-- <button  type="submit" -->
                                                        </td>
                                                    </tr>
                                                    <tr class="table-variants__third-row">
                                                        <td class="table-variants__desc"><span class="table-variants__text">47,5г</span></td>
                                                        <td class="table-variants__price">240</td>
                                                        <td class="table-variants__third table-variants__cart js-ajax-addtocart-wrap">
                                                            <input type="text" class="el-spinner js-addtocart-count js-count-more" name="value" value="1">
                                                            <a href="#" rel="nofollow" class="item__buy item__buy_cart el-button el-button_prim-0 el-button_min js-ajax-addtocart ico-cart" min="1" value="1" step="1" variantid="69" count="1"></a>
                                                            <!-- <button  type="submit" -->
                                                        </td>
                                                    </tr>
                                                    <tr class="table-variants__third-row">
                                                        <td class="table-variants__desc"><span class="table-variants__text">95г</span></td>
                                                        <td class="table-variants__price">259</td>
                                                        <td class="table-variants__third table-variants__cart js-ajax-addtocart-wrap">
                                                            <input type="text" class="el-spinner js-addtocart-count js-count-more" name="value" value="1">
                                                            <a href="#" rel="nofollow" class="item__buy item__buy_cart el-button el-button_prim-0 el-button_min js-ajax-addtocart ico-cart" min="1" value="1" step="1" variantid="70" count="1"></a>
                                                            <!-- <button  type="submit" -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="table-variants__hide-conteiner" colspan="3">
                                                            <div>
                                                                <button class="table-variants__hide el-button js-hide-variants"><i class="el-del"></i>скрыть</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
        
                                        </div>
                                        <!--  /.item__price-wrap -->
                                    </div>
                                </div>
                                <!--  /.item -->
                                <div data-bubble=".bubble-specprice" class="item table__tr">
                                    <div class="item__li item__li_img">
                                        <div class="el-plate-container table__none">
                                        </div>
                                        <!--  /.el-plate-container -->
                                        <a href="/catalog/kofe-rastvorimyy-jacobs-monarch-190g-steklo_i4560" class="item__img">
                                            <img src="http://img.3259404.ru/3259404.ru/variants/small_image/i4560.jpg" alt=""/>
                                        </a>
                                        <a href="/catalog/kofe-rastvorimyy-jacobs-monarch-190g-steklo_i4560">
                                            <i class="table__none variants-count">
                                            <span class="variants-count__num variants-count__num_2"></span>
                                        </i>
                                        </a>
                                    </div>
                                    <div class="item__li item__li_info clearfix">
                                        <div class="item__descript-conteiner">
                                            <p class="item__row item__descript">
                                                <a href="/catalog/kofe-rastvorimyy-jacobs-monarch-190g-steklo_i4560" title="Кофе растворимый Jacobs Monarch 190г стекло">
                                            Кофе растворимый Jacobs Monarch 190г стекло                </a>
                                            </p>
                        
                                        </div>
                                        <div class="item__row item__service-wrap item__line">
                                            <div class="item__container item__container_left item__container_inline">
                                                <div class="item__rating el-rating el-rating_pre-medium el-rating_4">
                                                    <span>&#9734;</span>
                                                    <span>&#9734;</span>
                                                    <span>&#9734;</span>
                                                    <span>&#9734;</span>
                                                    <span>&#9734;</span>
                                                </div>
                                                <!--  /.item__rating el-rating -->
                                            </div>
                                            <!--  /.item__container item__container_left-->
                                        </div>
                                        <!--  /.item__row -->
                                        <div class="el-plate-container">
                                        </div>
                                        <!--  /.el-plate-container -->
                                        <div class="item__line">
                                            <table class="properties-table properties-table_main">
                                                <tbody>
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Объем/вес</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">190 г</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Вид растворимого кофе</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">Сублимированный</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Сорт зерна</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">Арабика и Робуста</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Тип упаковки</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">В стекле</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Тип</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">Растворимый</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Страна</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">Бразильский, Колумбийский</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Штрих-код</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">4607001771555</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Код производителя</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">95644</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--/.js-item-anim-fade -->
                                    <div class="item__li item__li_buy">
                                        <div class="item__line item__price-wrap">
                                            <div class="item__price-old hidden">1 569<span class="item__discount">-269</span></div>
                                            <div class="item__container item__container_left">
                                                <div class="item__price">459 <span class="svg-ruble svg-ruble_med"></span></div>
                                            </div>
                                            
                                            <div class="table__td item__status-wrap">
                                                <div class="item__status item__status_green js-bubble js-bubble_status">
                                                    В наличии
                                                    <div class="bubble-conteiner">
                                                        <div class="bubble bubble_status">
                                                            <div class="bubble__wrap">
                                                                Данный товар может быть доставлен в течение 1-2 дней. </div>
                                                            <!--  /.bubble__wrap -->
                                                        </div>
                                                        <!--  /.bubble -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item__line item__articul-wrap">
                                            <span class="item__articul">Артикул: <span>д14416</span></span>
                                            <div class="item__container item__container_right item__button-container item__button-container_chevron-right item__container_right_3 js-wishlist-actions-block">
                                                <button class="svg-chevron-right svg-chevron-right_hover-orange el-button el-button-small-round js-ajax-addtowishlist" variantid="71" count="1" confirm="false" type="button">
                                                </button>
                                            </div>
                                            <div class="item__container item__container_right item__button-container item__button-container_x item__container_right_2 js-wishlist-actions-block">
                                                <button class="svg-x svg-x_hover-orange el-button el-button-small-round js-ajax-addtowishlist" variantid="71" count="1" confirm="false" type="button">
                                                </button>
                                            </div>
                                            <div class="item__container item__container_right item__button-container item__button-container_compare item__container_right_1">
                                                <button class="svg-compare svg-compare_hover-orange el-button el-button-small-round js-ajax-addtowishlist" variantid="71" count="1" confirm="false" type="button">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="item__line js-ajax-addtocart-wrap">
                                            <div class="item__buy-container">
                                                <div class="item__counter">
                                                    <input type="text" class="js-input-spin js-addtocart-count js-count-more" name="value" min="1" step="1" variantid="405" value="1">
                                                </div><!--  /.item__counter -->
                                                <a href="#" rel="nofollow" class="item__buy el-button el-button_prim-0 el-button_min js-ajax-addtocart" variantid="405" count="1"><!-- <button  type="submit" -->
                                                    <span>Купить</span>
                                                </a>
                                            </div><!--  /.item__buy-container -->
                                        </div><!--  /.item__row item__row_last -->
                                        <!--  /.item__price-wrap -->
                                    </div>
                                </div>
                            </div>
                            <!-- баннер в листинге -->
                            <div class="banner-conteiner table__tr table__tr_nohover">
                                <div class="table__td table__td_pseudo items__none"></div>
                                <!--  /.table__td -->
                                <div class="table__td banner-listing">
                                    <div class="banner-listing__wrap js-target-blank">
                                        <a href="/catalog/bytovaya-himiya_c517689bf62132/filter/brand=profit"><img src="http://img.3259404.ru/3259404.ru/upload/b-a-n-n-e-r-s/group_middle/Listing_banner_1006x115_040.jpg" style="width: 1006px; height: 115px;" alt="" /> </a>
                                    </div>
                                    <!--  /.banner-listing__wrap -->
                                </div>
                                <!--  /.table__td -->
                                <div class="table__td items__none"></div>
                                <!--  /.table__td -->
                                <div class="table__td items__none"></div>
                                <!--  /.table__td -->
                                <div class="table__td items__none"></div>
                                <!--  /.table__td -->
                                <div class="table__td items__none"></div>
                                <!--  /.table__td -->
                            </div>
                            <!--  /.banner-listing -->
                            <div class="stnd-block stnd-block_0 stnd-shadow" style="width: 100%">
                                <div data-bubble=".bubble-specprice" class="item table__tr">
                                    <div class="item__li item__li_img">
                                        <div class="el-plate-container table__none">
                                        </div>
                                        <!--  /.el-plate-container -->
                                        <a href="/catalog/kofe-rastvorimyy-jacobs-monarch-190g-steklo_i4560" class="item__img">
                                            <img src="http://img.3259404.ru/3259404.ru/variants/small_image/i4560.jpg" alt="" />
                                        </a>
                                        <a href="/catalog/kofe-rastvorimyy-jacobs-monarch-190g-steklo_i4560">
                                            <i class="table__none variants-count">
                                            <span class="variants-count__num variants-count__num_2"></span>
                                        </i>
                                        </a>
                                    </div>
                                    <div class="item__li item__li_info clearfix">
                                        <div class="item__descript-conteiner">
                                            <p class="item__row item__descript">
                                                <a href="/catalog/kofe-rastvorimyy-jacobs-monarch-190g-steklo_i4560" title="Кофе растворимый Jacobs Monarch 190г стекло">
                                            Кофе растворимый Jacobs Monarch 190г стекло                </a>
                                            </p>
                        
                                        </div>
                                        <div class="item__row item__service-wrap item__line">
                                            <div class="item__container item__container_left item__container_inline">
                                                <div class="item__rating el-rating el-rating_pre-medium el-rating_4">
                                                    <span>&#9734;</span>
                                                    <span>&#9734;</span>
                                                    <span>&#9734;</span>
                                                    <span>&#9734;</span>
                                                    <span>&#9734;</span>
                                                </div>
                                                <!--  /.item__rating el-rating -->
                                            </div>
                                            <!--  /.item__container item__container_left-->
                                        </div>
                                        <!--  /.item__row -->
                                        <div class="el-plate-container">
                                        </div>
                                        <!--  /.el-plate-container -->
                                        <div class="item__line">
                                            <table class="properties-table properties-table_main">
                                                <tbody>
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Объем/вес</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">190 г</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Вид растворимого кофе</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">Сублимированный</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Сорт зерна</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">Арабика и Робуста</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Тип упаковки</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">В стекле</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Тип</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">Растворимый</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Страна</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">Бразильский, Колумбийский</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Штрих-код</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">4607001771555</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                    <tr class="properties-table__tr">
                                                        <td class="properties-table__td properties-table__td_dotted"><span>Код производителя</span></td>
                                                        <!--  /.properties-table__td properties-table__td_dotted -->
                                                        <td class="properties-table__td">95644</td>
                                                        <!--  /.properties-table__td -->
                                                    </tr>
                                                    <!--  /.properties-table__tr -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--/.js-item-anim-fade -->
                                    <div class="item__li item__li_buy">
                                        <div class="item__line item__price-wrap">
                                            <div class="item__price-old hidden">1 569<span class="item__discount">-269</span></div>
                                            <div class="item__container item__container_left">
                                                <div class="item__price">459 <span class="svg-ruble svg-ruble_med"></span></div>
                                            </div>
                                            
                                            <div class="table__td item__status-wrap">
                                                <div class="item__status item__status_green js-bubble js-bubble_status">
                                                    В наличии
                                                    <div class="bubble-conteiner">
                                                        <div class="bubble bubble_status">
                                                            <div class="bubble__wrap">
                                                                Данный товар может быть доставлен в течение 1-2 дней. </div>
                                                            <!--  /.bubble__wrap -->
                                                        </div>
                                                        <!--  /.bubble -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item__line item__articul-wrap">
                                            <span class="item__articul">Артикул: <span>д14416</span></span>
                                            <div class="item__container item__container_right item__button-container item__button-container_chevron-right item__container_right_3 js-wishlist-actions-block">
                                                <button class="svg-chevron-right svg-chevron-right_hover-orange el-button el-button-small-round js-ajax-addtowishlist" variantid="71" count="1" confirm="false" type="button">
                                                </button>
                                            </div>
                                            <div class="item__container item__container_right item__button-container item__button-container_x item__container_right_2 js-wishlist-actions-block">
                                                <button class="svg-x svg-x_hover-orange el-button el-button-small-round js-ajax-addtowishlist" variantid="71" count="1" confirm="false" type="button">
                                                </button>
                                            </div>
                                            <div class="item__container item__container_right item__button-container item__button-container_compare item__container_right_1">
                                                <button class="svg-compare svg-compare_hover-orange el-button el-button-small-round js-ajax-addtowishlist" variantid="71" count="1" confirm="false" type="button">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="table-variants-conteiner table-variants-conteiner_nohead">
                                            <table class="table-variants">
                                                <thead>
                                                    <tr class="table-variants__thead">
                                                        <th class="table-variants__title-item">Вес</th>
                                                        <th class="table-variants__title-item table-variants__price">Цена</th>
                                                        <th class="table-variants__title-item table-variants__cart">В корзину</th>
                                                    </tr>
                                                    <tr class="table-variants__second-row js-this-openlist" title="Показать">
                                                        <td colspan="3" class="other">
                                                            <span class="table-variants__list-title ico-arrow-orange">Выберите вариант</span>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-variants__list">
                                                    <tr class="table-variants__third-row">
                                                        <td class="table-variants__desc"><span class="table-variants__text">190г</span></td>
                                                        <td class="table-variants__price">459</td>
                                                        <td class="table-variants__third table-variants__cart js-ajax-addtocart-wrap">
                                                            <input type="text" class="el-spinner js-addtocart-count js-count-more" name="value" value="1">
                                                            <a href="#" rel="nofollow" class="item__buy item__buy_cart el-button el-button_prim-0 el-button_min js-ajax-addtocart ico-cart" min="1" value="1" step="1" variantid="71" count="1"></a>
                                                            <!-- <button  type="submit" -->
                                                        </td>
                                                    </tr>
                                                    <tr class="table-variants__third-row">
                                                        <td class="table-variants__desc"><span class="table-variants__text">47,5г</span></td>
                                                        <td class="table-variants__price">240</td>
                                                        <td class="table-variants__third table-variants__cart js-ajax-addtocart-wrap">
                                                            <input type="text" class="el-spinner js-addtocart-count js-count-more" name="value" value="1">
                                                            <a href="#" rel="nofollow" class="item__buy item__buy_cart el-button el-button_prim-0 el-button_min js-ajax-addtocart ico-cart" min="1" value="1" step="1" variantid="69" count="1"></a>
                                                            <!-- <button  type="submit" -->
                                                        </td>
                                                    </tr>
                                                    <tr class="table-variants__third-row">
                                                        <td class="table-variants__desc"><span class="table-variants__text">95г</span></td>
                                                        <td class="table-variants__price">259</td>
                                                        <td class="table-variants__third table-variants__cart js-ajax-addtocart-wrap">
                                                            <input type="text" class="el-spinner js-addtocart-count js-count-more" name="value" value="1">
                                                            <a href="#" rel="nofollow" class="item__buy item__buy_cart el-button el-button_prim-0 el-button_min js-ajax-addtocart ico-cart" min="1" value="1" step="1" variantid="70" count="1"></a>
                                                            <!-- <button  type="submit" -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="table-variants__hide-conteiner" colspan="3">
                                                            <div>
                                                                <button class="table-variants__hide el-button js-hide-variants"><i class="el-del"></i>скрыть</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
        
                                        </div>
                                        <!--  /.item__price-wrap -->
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:;" class="catalog-items__more">Показать еще</a>
                            <div class="catalog-items__paginator">
                                <div class="select-ico js-select-ico">
                                        <div class="select-ico__title">
                                            <span class="select-ico__title__light">Показывать по:</span>
                                            <span>32 на странице</span>
                                            <object class="up-arrow-svg" data="img/ico-svg/up-arrow.svg" type="image/svg+xml"></object>
                                        </div>
                                        <div class="select-ico__height-compensator"></div>
                                        <ul class="select-ico__list" style="">
                                            <li class="select-ico__list-item">
                                                <a class="select-ico__list-text" target="_blank" href="/catalog/papka-registrator-a4-expert-complete-classic-sirenevaya-50mm-251871_i4fec42224592b">
                                                    <span>сирен.</span>
                                                </a>
                                            </li>
                                            <li class="select-ico__list-item">
                                                <a class="select-ico__list-text" target="_blank" href="/catalog/papka-registrator-a4-expert-complete-classic-belaya-50mm-25187404_i59671e03b96c3">
                                                    <span>белая</span>
                                                </a>
                                            </li>
                                            <li class="select-ico__list-item">
                                                <a class="select-ico__list-text" target="_blank" href="/catalog/papka-registrator-a4-expert-complete-classic-rozovaya-50mm-25187403_i59671e0437a48">
                                                    <span>розовая</span>
                                                </a>
                                            </li>
                                        </ul>
                                </div>
                                <div class="pagination-conteiner js-last-child">
                                    <div class="pagination">
                                        <!-- Previous page link -->
                                        <span class="pagination__item pagination__item_disabled"></span>
                    
                                        <!-- Numbered page links -->
                                        <span class="pagination__item pagination__item_active">
                                            1                    </span>
                                        <!-- <a class="pagination__item" href="">
                                        ...
                                    </a> -->
                                        <a class="pagination__item " href="javascript:;">
                                            2                    </a>
                                        <!-- <a class="pagination__item" href="">
                                        ...
                                    </a> -->
                                        <a class="pagination__item " href="javascript:;">
                                            3                    </a>
                                        <!-- <a class="pagination__item" href="">
                                        ...
                                    </a> -->
                                        <a class="pagination__item " href="javascript:;">
                                            4                    </a>
                                        <!-- <a class="pagination__item" href="">
                                        ...
                                    </a> -->
                                        <a class="pagination__item " href="javascript:;">
                                            5                    </a>
                                        <!-- <a class="pagination__item" href="">
                                        ...
                                    </a> -->
                                        <a class="pagination__item " href="javascript:;">
                                            6                    </a>
                                        <!-- <a class="pagination__item" href="">
                                        ...
                                    </a> -->
                                        <a class="pagination__item " href="javascript:;">
                                            7                    </a>
                                        <!-- <a class="pagination__item" href="">
                                        ...
                                    </a> -->
                                        <a class="pagination__item " href="javascript:;">
                                            8                    </a>
                                        <!-- <a class="pagination__item" href="">
                                        ...
                                    </a> -->
                                        <a class="pagination__item " href="javascript:;">
                                            9                    </a>
                                        <!-- <a class="pagination__item" href="">
                                        ...
                                    </a> -->
                                        <a class="pagination__item " href="javascript:;">
                                            10                    </a>
                                        <!-- <a class="pagination__item" href="">
                                        ...
                                    </a> -->
                    
                                        <!-- Next page link -->
                                        <a class="pagination__item" href="javascript:;"></a>
                                    </div>
                                    <!--  /.pagination -->
                                </div>
                                <!--  /.pagination-conteiner -->
                    
                            </div>
                            <!--  /.catalog-items__paginator -->
                        </div>
                    </div>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}