{% set pagename = "Дружеская программа" %}{% set frienship = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="friendship-prog clearfix">
                    <div class="friendship-prog__left stnd-block">
                        <!-- <img src="img/friendship-prog--icon.png" alt="Дружеская программа" title="Дружеская программа" /> -->
                        <img src="img/friendship-prog--icon.png" alt="Дружеская программа" title="Дружеская программа" />
                    </div>
                    <div class="friendship-prog__right stnd-block">
                        <p class="friendship-prog-caption">Приглашайте ваших друзей и получайте баллы за их заказы!</p>
                        <p class="friendship-prog-text">Тут мы рассказываем о том, что можно пригласить друзей и за каждого приведенного получить баллы или баллы с каждого их заказа.</p>
                        <p class="friendship-prog-sub-title">Ваш код партнера</p>
                        <div class="friendship-prog__button">
                            <p id="js-copy-text__target">58b7fa4a86a19</p><a href="#" class="el-button el-button_big el-button_prim-0 js-copy-text">Копировать</a>
                        </div>
                        <div class="friendship-prog__share">
                            <!-- <p>Поделиться:</p><a href="#" class="friendship-prog--share-vk"></a><a href="#" class="friendship-prog--share-fb"></a><a href="#" class="friendship-prog--share-ok"></a><a href="#" class="friendship-prog--share-gp"></a> -->
                            <!-- долгая загрузка, по этому закоментил -->
                            <!-- <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script> -->
                            <!-- <script src="//yastatic.net/share2/share.js"></script> -->
                            <div id="ya-share2" class="ya-share2 ya-share2_min ya-share2_inited" data-services="vkontakte,facebook,odnoklassniki,gplus" data-size="s" data-bare="false">
                                <span class="ya-share2__caption">Поделиться:</span>
                                <div class="ya-share2__container ya-share2__container_size_s">
                                    <ul class="ya-share2__list ya-share2__list_direction_horizontal">
                                        <li class="ya-share2__item ya-share2__item_service_vkontakte"><a class="ya-share2__link" href="https://vk.com/share.php?url=http%3A%2F%2F3259404.ru%2Fpage%2Fdocuments&amp;title=%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%BE%D0%BE%D0%B1%D0%BE%D1%80%D0%BE%D1%82%3A+%D0%B1%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5+%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0.+%D0%9E%D1%84%D0%B8%D1%81%D0%BD%D0%B0%D1%8F+%D1%81%D0%BB%D1%83%D0%B6%D0%B1%D0%B0.&amp;utm_source=share2"
                                                rel="nofollow noopener" target="_blank" title="ВКонтакте"><span class="ya-share2__badge"><span class="ya-share2__icon"></span><span class="ya-share2__counter"></span></span><span class="ya-share2__title">ВКонтакте</span></a></li>
                                        <li class="ya-share2__item ya-share2__item_service_facebook"><a class="ya-share2__link" href="https://www.facebook.com/sharer.php?src=sp&amp;u=http%3A%2F%2F3259404.ru%2Fpage%2Fdocuments&amp;title=%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%BE%D0%BE%D0%B1%D0%BE%D1%80%D0%BE%D1%82%3A+%D0%B1%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5+%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0.+%D0%9E%D1%84%D0%B8%D1%81%D0%BD%D0%B0%D1%8F+%D1%81%D0%BB%D1%83%D0%B6%D0%B1%D0%B0.&amp;utm_source=share2"
                                                rel="nofollow noopener" target="_blank" title="Facebook"><span class="ya-share2__badge"><span class="ya-share2__icon"></span><span class="ya-share2__counter"></span></span><span class="ya-share2__title">Facebook</span></a></li>
                                        <li class="ya-share2__item ya-share2__item_service_odnoklassniki"><a class="ya-share2__link" href="https://connect.ok.ru/offer?url=http%3A%2F%2F3259404.ru%2Fpage%2Fdocuments&amp;title=%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%BE%D0%BE%D0%B1%D0%BE%D1%80%D0%BE%D1%82%3A+%D0%B1%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5+%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0.+%D0%9E%D1%84%D0%B8%D1%81%D0%BD%D0%B0%D1%8F+%D1%81%D0%BB%D1%83%D0%B6%D0%B1%D0%B0.&amp;utm_source=share2"
                                                rel="nofollow noopener" target="_blank" title="Одноклассники"><span class="ya-share2__badge"><span class="ya-share2__icon"></span><span class="ya-share2__counter"></span></span><span class="ya-share2__title">Одноклассники</span></a></li>
                                        <li class="ya-share2__item ya-share2__item_service_gplus"><a class="ya-share2__link" href="https://plus.google.com/share?url=http%3A%2F%2F3259404.ru%2Fpage%2Fdocuments&amp;utm_source=share2" rel="nofollow noopener" target="_blank" title="Google+"><span class="ya-share2__badge"><span class="ya-share2__icon"></span></span><span class="ya-share2__title">Google+</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cabinet-bonuses__description howItsWorks">
                    <p class="howItsWorks--title">Как это работает?</p>
                    <div class="howItsWorks--items">
                        <div class="howItsWorks--items__item">
                            <div class="howItsWorks--items__item-count"><span>1</span></div>
                            <p class="howItsWorks--items__item-name">Делитесь кодом партнера</p>
                            <p class="howItsWorks--items__item-description">Отправьте ссылку с кодом вашим друзьям или коллегам</p>
                        </div>
                        <div class="howItsWorks--items__item">
                            <div class="howItsWorks--items__item-count"><span>2</span></div>
                            <p class="howItsWorks--items__item-name">Ваш друг совершает заказ</p>
                            <p class="howItsWorks--items__item-description">Код указывается в поле «Код партнера» в корзине клиента</p>
                        </div>
                        <div class="howItsWorks--items__item">
                            <div class="howItsWorks--items__item-count"><span>3</span></div>
                            <p class="howItsWorks--items__item-name">Мы начисляем баллы</p>
                            <p class="howItsWorks--items__item-description">После доставки каждого нового заказа в котором был указан ваш код мы начисляем вам баллы!</p>
                        </div>
                    </div>
                </div>
                <p class="stnd-title-weight" style="font-size: 14px; margin-bottom: 5px;">Указанный вами код партнера</p>
                <table class="table table_stnd table_contacts">
                    <thead class="table__thead">
                        <tr class="table__tr">
                            <th class="table__th">Код партнера</th>
                            <th class="table__th">Партнер</th>
                            <th class="table__th">Дата активации</th>
                            <th class="table__th"></th>
                            <th class="table__th"></th>
                        </tr>
                        <!--  /.table__tr -->
                    </thead>
                    <!--  /.table__thead -->
                    <tbody class="table__tbody">
                        <tr id="table-row-order-id-246724" class="table__tr">
                            <td class="table__td" style="white-space: nowrap;">58b7fa4a86a19</td>
                            <td class="table__td" style="white-space: nowrap; width: auto;">Александр Вячеславович</td>
                            <td class="table__td" style="white-space: nowrap;">25.08.2018</td>
                            <td class="table__td" style="white-space: nowrap; width: 18%;"></td>
                            <td class="table__td table__td_left table__td_button">
                                <button type="button" title="Редактировать" class="el-button el-button_ico ico-edit js-lightbox" data-target="#contact-edit-34585">
                                    <span>изменить код</span>
                                </button>
                                <br>
                                <button type="button" title="Удалить" class="el-button el-button_ico js-ajax-remove" postparamname="orderid" orderid="246724" url="/account/orders/remove" confirm='Удалить заказ №"12"?' removeselector="#table-row-order-id-246724">
                                    <span aria-hidden="true" class="el-del"></span>
                                    <span>удалить код</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}