{% set pagename = "Финансы (без задолженности)" %}{% set finansesN = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="cabinet-finances clearfix">
                    <div class="cabinet-finances__left">
                        <div class="cabinet-finances__left-info stnd-block"> <!-- убрал класс  indebtedness  что бы сменить иконку-->
                            <p class="cabinet-finances__left-info--heading">ПО ДАННЫМ НА 07.03.2018</p>
                            <p class="cabinet-finances__left-info--status">Задолженность отсутствует.</p> <!-- изменил текст Задолженность составляет: -->
                            <!-- <p class="cabinet-finances__left-info--count">28 576,69 <span>РУБ.</span></p> -->
                        </div>
                    </div>
                    <div class="cabinet-finances__right">
                        <p class="cabinet-finances__right--title">
                            Как формируется задолженность?
                        </p>
                        <p class="cabinet-finances__right--description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                        </p>
                        <p class="cabinet-finances__right--description">
                            Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        </p>
                    </div>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}