{% set pagename = "Каталог" %}
{% include "elems/_head.html" %}
	<section id="content-block" class="content">
		<!-- <div class="flash-message-block"> -->
			<!---->
			<!--
				-->
		<!-- </div> -->
	
		<div id="breadcrumbs-block" class="b-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <a class="b-breadcrumbs__item b-breadcrumbs__item_home" href="/" style="font-size:16px;" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">Главная страница</span>
            </a>
            <span class="b-breadcrumbs__separator">-</span>
			<a class="b-breadcrumbs__item " href="/catalog" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<span itemprop="name">Каталог</span>
            </a>
            <span class="b-breadcrumbs__separator">-</span>
            <span class="b-breadcrumbs__item b-breadcrumbs__item_active"  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<span itemprop="name">Продукты, напитки</span>
			</span>
		</div>
		<div class="banner-top js-target-blank">
            <a href="http://3259404.ru/page/dispenser-lime-free"><img alt="" src="http://img.3259404.ru/3259404.ru/upload/b-a-n-n-e-r-s/group_top/Lime_banner_1280x115_02.jpg" style="width: 1280px; height: 115px;" /></a>
		</div>
		<h1 id="page-catalog" class="h1">Продукты, напитки</h1>
	
        <aside class="content__left content__left_big">
            <div class="stnd-divide">
                <div class="categories-nav stnd-divide__b js-show-only" data-show="5">
                    <a href="/catalog/kofe_c302/" class="categories-nav__name">Кофе<span class="categories-nav__count">8 475</span></a>
                    <ul class="categories-nav__list nav nav_categories-list">
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой<span class="categories-nav__count">178</span></a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе молотый<span class="categories-nav__count">178</span></a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе в капсулах<span class="categories-nav__count">178</span></a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе растворимый<span class="categories-nav__count">178</span></a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Cremesso<span class="categories-nav__count">178</span></a></li>

                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой<span class="categories-nav__count">178</span></a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе молотый<span class="categories-nav__count">178</span></a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе в капсулах<span class="categories-nav__count">178</span></a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе растворимый<span class="categories-nav__count">178</span></a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Cremesso<span class="categories-nav__count">178</span></a></li>
                    </ul>
                    <!--  /.nav nav_categories -->
                    <button class="categories-nav__show el-button js-show-only__but" data-event="show" data-close="Скрыть" data-open="Показать все">Показать все</button>
                </div> <!-- categories-nav-->
                
                <div class="categories-nav stnd-divide__b js-show-only" data-show="5">
                    <a href="/catalog/kofe_c302/" class="categories-nav__name">Кофе</a>
                    <ul class="categories-nav__list nav nav_categories-list">
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                    </ul>
                    <!--  /.nav nav_categories -->
                    <button class="categories-nav__show el-button js-show-only__but" data-event="show" data-close="Скрыть" data-open="Показать все">Показать все</button>
                </div> <!-- categories-nav-->
            </div> <!-- stnd-divide-->
            
            <div class="stnd-divide">
                <div class="categories-nav stnd-divide__b js-show-only" data-show="5">
                    <a href="/catalog/kofe_c302/" class="categories-nav__name">Кофе</a>
                    <ul class="categories-nav__list nav nav_categories-list">
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                    </ul>
                    <!--  /.nav nav_categories -->
                    <button class="categories-nav__show el-button js-show-only__but" data-event="show" data-close="Скрыть" data-open="Показать все">Показать все</button>
                </div> <!-- categories-nav-->
                
                <div class="categories-nav stnd-divide__b js-show-only" data-show="5">
                    <a href="/catalog/kofe_c302/" class="categories-nav__name">Кофе</a>
                    <ul class="categories-nav__list nav nav_categories-list">
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                        <li class="js-show-only__item"><a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list">Кофе зерновой</a></li>
                    </ul>
                    <!--  /.nav nav_categories -->
                    <button class="categories-nav__show el-button js-show-only__but" data-event="show" data-close="Скрыть" data-open="Показать все">Показать все</button>
                </div> <!-- categories-nav-->
            </div> <!-- stnd-divide-->
		</aside>
	
		<section class="content__right content__right_1level catalog">
            <!-- PRODUCTS -->
			<div id="catalog-root-block" class="items">
				<div class="items__row">
					<a href="/catalog/kofe_c302" id="group18" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/c302.jpg" width="120" alt="" />
							<span class="item__title">Кофе</span>
						</span>
						<!-- <span class="el-count-plate">638</span>
						<ul class="nav nav_categories-list nav_categories-list2">
							<li class="nav__wrap">
								<a href="/catalog/kofe_c302/filter/tip=v-zernah" class="nav__item nav__item_categories-list nav__item_categories-list2 menu-sub-item ">Кофе зерновой</a>
							</li>
							<li class="nav__wrap">
								<a href="/catalog/kofe_c302/filter/tip=molotyy" class="nav__item nav__item_categories-list nav__item_categories-list2 menu-sub-item ">Кофе молотый</a>
							</li>
							<li class="nav__wrap">
								<a href="/catalog/kofe_c302/filter/tip=v-kapsulah-dlya-kofemashin" class="nav__item nav__item_categories-list nav__item_categories-list2 menu-sub-item ">Кофе в капсулах</a>
							</li>
							<li class="nav__wrap">
								<a href="/catalog/kofe_c302" class="nav__item nav__item_categories-list nav__item_categories-list2 nav__item_categories-list-all menu-more">Еще</a>
							</li>
						</ul> -->
						<!--  /.nav nav_categories-list -->
					</a>
					<a href="/catalog/chay_c310" id="group19" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/c310.jpg" width="120" alt="" />
							<span class="item__title">Чай</span>
						</span>
					</a>
					<a href="/catalog/kakao-i-cikoriy_c598b314dd832a" id="group2575" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/2575.jpg" width="120" alt="" />
							<span class="item__title">Какао и цикорий</span>
						</span>
					</a>
					<a href="/catalog/molochnye-produkty-syr-yayca_c325" id="group23" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/c325.png" width="120" alt="" />
							<span class="item__title">Молочные продукты, сыр, яйца</span>
						</span>
					</a>
				</div>
				<div class="items__row">
					<a href="/catalog/bakaleya_c348" id="group28" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/c348.png" width="120" alt="" />
							<span class="item__title">Бакалея</span>
						</span>
					</a>
					<a href="/catalog/sladosti_c330" id="group20" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/c330.png" width="120" alt="" />
							<span class="item__title">Сладости</span>
						</span>
					</a>
					<a href="/catalog/pechene-pryaniki-sushki_c331" id="group220" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/220.jpg" width="120" alt="" />
							<span class="item__title">Печенье, пряники, сушки</span>
						</span>
					</a>
					<a href="/catalog/voda-napitki_c346" id="group30" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/c346.png" width="120" alt="" />
							<span class="item__title">Вода, напитки</span>
						</span>
					</a>
				</div>
				<div class="items__row">
					<a href="/catalog/frukty-ovoschi-orehi_c54524545db160" id="group22" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/c54524545db160.png" width="120" alt="" />
							<span class="item__title">Фрукты, овощи, орехи</span>
						</span>
					</a>
					<a href="/catalog/cneki_c59e7806695994" id="group2621" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/2621.jpg" width="120" alt="" />
							<span class="item__title">Cнеки</span>
						</span>
					</a>
					<a href="/catalog/kolbasnye-izdeliya-delikatesy_c342" id="group269" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/269.jpg" width="120" alt="" />
							<span class="item__title">Колбасные изделия, деликатесы</span>
						</span>
					</a>
					<a href="/catalog/konservy_c24" id="group267" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/267.jpg" width="120" alt="" />
							<span class="item__title">Консервы</span>
						</span>
					</a>
				</div>
				<div class="items__row">
					<a href="/catalog/produkty-bystrogo-prigotovleniya_c826" id="group26" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/c826.png" width="120" alt="" />
							<span class="item__title">Продукты быстрого приготовления</span>
						</span>
					</a>
					<a href="/catalog/diabeticheskie-konditerskie-izdeliya_c848" id="group21" class="item item_1level">
						<span class="menu-item ">
							<img class="item__img" src="http://img.3259404.ru/3259404.ru/groups/small_image/c848.png" width="120" alt="" />
							<span class="item__title">Диабетические кондитерские изделия</span>
						</span>
						<!-- <span class="el-count-plate">21</span> -->
					</a>
					<div class="item item_1level item_1level_empty"></div>
					<div class="item item_1level item_1level_empty"></div>
				</div>
            </div>
			<!-- /.items -->
            <!-- BANNERS -->
			<div class="bnrs">
				<h3 class="bnrs__title">
                    <a href="#" class="product__sub-title product__sub-title_big">Полезная информация <i class="el-arrow-but el-arrow-but_alt el-arrow-but_right"></i></a>
				</h3>
				<div class="bnrs__row">
					<div class="bnrs__block bnrs__block_x">
						<figure class="bnr">
							<img class="bnrs__img" src="img/u3076.png" />
							<figcaption class="bnrs__text">
							    <a href="#">
								<span class="bnrs__title">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</span>
								<span>Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть</span>
								</a>
							</figcaption>
						</figure>
					</div>
					<div class="bnrs__block bnrs__block_2">
                        <figure class="bnr">
                            <img src="img/u3083.png" class="bnrs__img" />
                            <figcaption class="bnrs__text">
                                <a href="#">
                                    <span class="bnrs__title">Cum sociis natoque penatibus et magnis dis parturient montes.</span>
                                </a>
                            </figcaption>
                        </figure>
                        <figure class="bnr">
                            <img src="img/u3080.png" class="bnrs__img" />
                            <figcaption class="bnrs__text">
                                <a href="#">
                                    <span class="bnrs__title">Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</span>
                                </a>
                            </figcaption>
                        </figure>
					</div>
				</div>
            </div>
            <!-- RECOMENDED PRODUCTS -->
            {% from "tpl/_product-carousel.nj" import prodCarousel %}
            {{ prodCarousel("recomended-list", "Рекомендованные товары", 5) }}

            <!-- POPULAR PRODUCTS -->
            {% from "tpl/_product-carousel.nj" import prodCarousel %}
            {{ prodCarousel("populars-list", "Популярные товары из раздела", 5) }}

            <!-- BRANDS -->
            <section class="b-main b-main_brand slider-default js-slider-default" data-item="4">
                <header class="js-slider-default__header">
                    <h3 class="product__sub-title product__sub-title_big">Популярные бренды</h3>
                </header>
                <!-- <div class="slider-brand js-slider js-slider_arrows"> -->
                <div class="slider-brand slider-brand_alt js-slider-default__gallery">
                    <a class="slider-brand__item" href="/brand/lavazza_46">
                    <img src="http://img.3259404.ru/common/brands/biglogo/lavazza.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/durable_86">
                    <img src="http://img.3259404.ru/common/brands/biglogo/durable.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/esselte_93">
                    <img src="http://img.3259404.ru/common/brands/biglogo/esselte.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/3m_138">
                    <img src="http://img.3259404.ru/common/brands/biglogo/3m.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/leitz_159">
                    <img src="http://img.3259404.ru/common/brands/biglogo/leitz.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/fellowes_197">
                    <img src="http://img.3259404.ru/common/brands/biglogo/fellowes.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/parker_200">
                    <img src="http://img.3259404.ru/common/brands/biglogo/parker.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/maped_204">
                    <img src="http://img.3259404.ru/common/brands/biglogo/maped.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/trodat_210">
                    <img src="http://img.3259404.ru/common/brands/biglogo/trodat.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/stabilo_211">
                    <img src="http://img.3259404.ru/common/brands/biglogo/stabilo.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/office-kit_276">
                    <img src="http://img.3259404.ru/common/brands/biglogo/officekit.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/greenfield_397">
                    <img src="http://img.3259404.ru/common/brands/biglogo/greenfield.jpg" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/tess_406">
                    <img src="http://img.3259404.ru/common/brands/biglogo/tess.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/jardin_428">
                    <img src="http://img.3259404.ru/common/brands/biglogo/jardin.jpg" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/vileda_572">
                    <img src="http://img.3259404.ru/common/brands/biglogo/vileda.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/tork_666">
                    <img src="http://img.3259404.ru/common/brands/biglogo/tork.png" alt="" />
                    </a>
                    <a class="slider-brand__item" href="/brand/promega-office_1431">
                    <img src="http://img.3259404.ru/common/brands/biglogo/megaoffice.png" alt="" />
                    </a>
                </div><!--  /.js-slider js-slider_arrows -->
            </section><!--  /.b-main b-main_brand -->
            <!-- DESCRIPTION -->
            <section class="txt-article">
                <p class="txt-article__title txt-article_NLP">Лучшие продукты по лучшим ценам</p>
                <p class="txt-article__text txt-article_NLP">
                    Мы открыли новый раздел, где вы можете купить все необходимые продукты, ингредиенты, заготовки, угощения – для себя или для всей семьи: чай, кофе, вода и напитки, кондитерские изделия, молочные продукты, мясо, рыба, птица, морепродукты, овощи и фрукты, соусы и приправы, макароны и крупы, снэки и быстрые завтраки, консервы, мёд, варенье, орехи, сухофрукты, соль, сахар… <br>
                    А также детское питание и свежие продукты.
                </p>
                <p class="txt-article__text txt-article_NLP">
                    Теперь не надо стоять в очередях и искать нужный продукт в магазине – всё самое вкусное и свежее можно взять онлайн. Мы поможем наполнить ваш холодильник дома и избавим от проблемы перекусов на работе. Всё необходимое собрано в одном каталоге на 3259404.ru – всего несколько кликов на сайте или в мобильном приложении, и еда уже едет к вам!
                </p>
                <p class="txt-article__text txt-article_NLP"><b>Наши преимущества:</b></p>
                <ul class="txt-article__list txt-article_NLP">
                    <li>широкий, постоянно пополняющийся ассортимент продуктов;</li>
                    <li>в наличии даже то, что не представлено в розничных магазинах;</li>
                    <li>в наличии даже то, что не представлено в розничных магазинах;</li>
                    <li>большой выбор подарочных наборов для разных событий;</li>
                    <li>20 способов оплаты заказа: наличными, картой онлайн, бонусами и др.;</li>
                    <li>легко оформить заказ с любого устройства;</li>
                    <li>большой выбор подарочных наборов для разных событий;</li>
                    <li>постоянно проводятся скидки и акции.</li>
                </ul>
            </section>
		</section>
	</section><!--</ content>-->
{% include "elems/_footer.html" %}