{% set pagename = "Адреса доставки" %}{% set deliveryaddressesN = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <header class="content__header-lr">
                    <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                </header>

                <div class="stnd-block addresses-noauth stnd-shadow" style="float: left;">
                    <p class="stnd-title-weight">Добавление адреса доставки</p>
                    <br />
                    <form class="form">
                      <div class="form__item form__item_labeltop form__item--smaller js-label-top " style="">
                          <label for="street">Название адреса, например "Дом"</label>
                          <span class="form__input">
                            <input type="text" name="street" placeholder="Введите улицу" value="">
                          </span>
                      </div>
                      <div class="form__item form__item_labeltop form__item--smaller js-label-top " style="">
                          <label for="dpd_region_id">Область</label>
                          <span class="form__input form__select">
                            <select id="dpd_region_id" name="dpd_region_id" class="placeholder-no">
                              <option value="" selected="selected" disabled >Область</option>
                              <option value="78">Санкт-Петербург</option>
                              <option value="77">Москва</option>
                            </select>
                          </span>
                      </div>

                      <div class="form__item form__item_labeltop form__item--smaller js-label-top " style="">
                          <label for="dpd_city_id">Город</label>
                          <span class="form__input form__select">
                            <select id="dpd_city_id" name="dpd_city_id">
                              <option value="" selected="selected" disabled >Город</option>
                              <option value="49694167">г. Санкт-Петербург</option>
                            </select>
                          </span>
                      </div>

                      <div class="form__item form__item_labeltop form__item--smaller js-label-top " style="">
                          <label for="street">Проспект / Улица</label>
                          <span class="form__input">
                            <input type="text" id="street" name="street" placeholder="Введите улицу" value="">
                          </span>
                      </div>

                      <div class="form__item-container">
                        <div class="form__item form__item_labeltop js-label-top form__item_4" style="">
                            <label for="build">Дом</label>
                            <span class="form__input">
                                <input type="text" id="build" name="build" placeholder="Дом" value="">
                            </span>
                        </div>

                        <div class="form__item form__item_labeltop js-label-top form__item_4" style="">
                            <label for="build_part">Корпус</label>
                            <span class="form__input">
                                <input type="text" id="build_part" name="build_part" placeholder="Корпус" value="">
                            </span>
                        </div>

                        <div class="form__item form__item_labeltop js-label-top form__item_4" style="">
                            <label for="floor">Этаж</label>
                            <span class="form__input">
                                <input type="text" id="floor" name="floor" placeholder="Этаж" value="">
                            </span>
                        </div>

                        <div class="form__item form__item_labeltop js-label-top form__item_4 form__item_last" style="">
                            <label for="flat">Офис/Кв.</label>
                            <span class="form__input">
                                <input type="text" id="flat" name="flat" placeholder="Офис/Кв." value="">
                            </span>
                        </div>
                      </div>

                      <div class="form__item form__item_labeltop form__item--smaller js-label-top " style="">
                          <label for="pass">Пропуск</label>
                          <span class="form__input form__select">
                            <select id="pass" name="pass" class="form-control mrg-b-lg placeholder-no">
                              <option value="" selected="selected" disabled >Пропуск</option>
                              <option value="none">Не требуется</option>
                              <option value="entrance">Оформляется на месте по документам</option>
                              <option value="preorder">Заказать заранее</option>
                            </select>
                          </span>
                      </div>

                      <div class="form__item form__item_labeltop js-label-top" >
                        <label for="remark">Примечания</label>
                        <span class="cart-widget__textarea form__input form__textarea" style="height: auto;">
                          <textarea id="remark" name="remark" placeholder="Добавьте примечание" rows="5"></textarea>
                        </span>
                      </div>
                      <input type="submit" name="savePassword" class="form__submit el-button el-button_prim-0" value="Добавить" style="font-weight: 400; float: left; text-transform: uppercase; font-size: 13px; padding: 3px 43px; height: auto;" />
                  </form>
                </div>

            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}