{% set pagename = "Закладки" %}{% set wishN = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">

                <!-- Закладки -->
                <div class="wishlist-page">
                    <header class="cabinet__header content__header-lr wishlist-page__header">
                        <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                        <div class="cabinet__header-btns-row content__header-right">
                            <div>
                                <div class="wishlist-page__add js-click-show">
                                    <button class="el-button el-button_ghost2 js-click-show__but"><span class="el-button__icon svg-btn svg-btn-plus"></span><span>Создать новый список</span></button>
                                    <div class="js-click-show__target bubble">
                                        <div class="wishlist-addform bubble__wrap">
                                            <form method="post" class="form form_100" name="Wishlist" id="Wishlist">
                                                <div class="wishlist-addform__input form__item form__item_labeltop js-label-top">
                                                    <label for="addNewList">Введите название списка</label>
                                                    <span class="form__input">
                                                        <input id="addNewList" type="text" name="addNewList" maxlength="64" class="form__input" placeholder="Введите название списка" />
                                                    </span>
                                                </div>
                                                <input type="submit" name="addWishlist" class="el-button el-button_prim-0 el-button_stretchy" value="Сохранить" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <a class="el-button el-button_ghost2" target="_blank" href="/cart/index/print"><span class="el-button__icon svg-btn svg-btn-envelope"></span><span>Отправить по e-mail</span></a>
                                <a class="el-button el-button_ghost2" target="_blank" href="/cart/index/print"><span class="el-button__icon svg-btn svg-btn-print"></span><span>Распечатать</span></a>
                            </div>
                            <div>
                                <button class="el-button el-button_prim-0">Добавить все в корзину</button>
                                <span class="el-arrow-but el-arrow-but_cart el-arrow-but_cart_big-0"></span>
                                <!-- <div class="wishlist-page__add js-click-show">
                                    <button class="el-button el-button_prim-0 js-click-show__but">Создать новый список</button>
                                    <div class="js-click-show__target bubble">
                                    <div class="wishlist-addform bubble__wrap">
                                        <form method="post" class="form form_100" name="Wishlist" id="Wishlist">
                                            <div class="wishlist-addform__input form__item form__item_labeltop js-label-top" style="">
                                                <label for="email">Email</label>
                                                <span class="form__input">
                                                    <input type="text" name="name" maxlength="64" class="form__input" placeholder="Введите название списка" />
                                                </span>
                                            </div>
                                            <input type="submit" name="addWishlist" class="el-button el-button_prim-0 el-button_stretchy" value="Сохранить" />
                                        </form>
                                    </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </header>

                    <!-- <div class="stnd-block stnd-shadow">
                        <div id="fast-tags" class="fast-tags">
                            <div class="wishlist-lists toggle-wrap-container">
                                <span class="wishlist-lists__title">списки</span>

                                <ul class="toggle-wrap toggle-wrap_tags nav nav_parts">
                                    <li class="toggle-wrap__item nav__wrap tip-chaya ui-tabs-active ui-state-active">
                                        <a class="nav__item nav__item_parts" href="#tip-chaya">Общий список <span class="toggle-wrap__num js-toggle-wrap__num">0</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->


                    <div class="wishlist-lists stnd-block stnd-shadow">
                        <div id="fast-tags" class="fast-tags">
                            <div class="wishlist-lists__wrap-container toggle-wrap-container">
                                <span class="wishlist-lists__title">списки</span>

                                <ul class="toggle-wrap toggle-wrap_tags nav nav_parts">
                                    <li class="toggle-wrap__item nav__wrap tip-chaya ui-tabs-active ui-state-active">
                                        <p class="nav__item nav__item_parts" > <!-- href="#tip-chaya" -->
                                            Общий список <span class="toggle-wrap__num js-toggle-wrap__num">12</span>
                                        </p>
                                    </li>
                                    <li class="toggle-wrap__item nav__wrap vid-chaya">
                                        <p class="nav__item nav__item_parts" > <!-- href="#vid-chaya" -->
                                            Отдел маркетинга <span class="toggle-wrap__num js-toggle-wrap__num">26</span><span class="toggle-wrap__x"></span>
                                        </p>
                                    </li>
                                    <li class="toggle-wrap__item nav__wrap vid-chaya">
                                        <p class="nav__item nav__item_parts" > <!-- href="#vid-chaya" -->
                                            Отдел контента <span class="toggle-wrap__num js-toggle-wrap__num">18</span><span class="toggle-wrap__x"></span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cabinet__right--noauth">
                    <!-- <div class="cabinet__right--noauth-image"><img src="img/noauth-image.png" alt="" /></div> -->
                    <div class="cabinet__right--noauth-image"><img src="img/noauth-image.png" alt="" /></div>

                    <div class="cabinet__right--noauth-text">
                        <p>Текст о архиве заказов. Что, зачем, почему.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                    </div>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}