{% set pagename = "Контактные лица" %}{% set contactsN = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <header class="content__header-lr">
                    <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                </header>

                <div class="stnd-block stnd-shadow addresses-noauth" style="float: left;">
                    <p class="stnd-title-weight">Добавление ответственного за заказ</p>
                    <br />
                    <form class="form">
                      <div class="form__item form__item_labeltop form__item--smaller js-label-top " style="">
                          <label for="firsname">Имя</label>
                          <span class="form__input">
                            <input type="text" id="firsname" name="firsname" placeholder="Имя" value="">
                          </span>
                      </div>
                      <div class="form__item form__item_labeltop form__item--smaller js-label-top " style="">
                          <label for="lastname">Фамилия</label>
                          <span class="form__input">
                            <input type="text" id="lastname" name="lastname" placeholder="Фамилия" value="">
                          </span>
                      </div>
                      <div class="form__item form__item_labeltop form__item--smaller js-label-top " style="">
                          <label for="proffesion">Должность, если заказываете от лица компании</label>
                          <span class="form__input">
                            <input type="text" id="proffesion" name="proffesion" placeholder="Должность, если заказываете от лица компании" value="">
                          </span>
                      </div>
                      <div class="form__item form__item_labeltop form__item--smaller js-label-top " style="">
                          <label for="phone">Номер телефона ответственного</label>
                          <span class="form__input">
                            <input type="text" id="phone" name="phone" placeholder="Номер телефона ответственного" value="">
                          </span>
                      </div>
                      <div class="form__item form__item_labeltop form__item--smaller js-label-top " style="">
                          <label for="mail">E-mail</label>
                          <span class="form__input">
                            <input type="text" id="mail" name="mail" placeholder="E-mail" value="">
                          </span>
                      </div>

                      <input type="submit" name="savePassword" class="form__submit el-button el-button_prim-0" value="Добавить" style="font-weight: 400; float: left; text-transform: uppercase; font-size: 13px; padding: 3px 43px; height: auto;" />
                  </form>
                </div>

            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}