{% set pagename = "Подписка на рассылку" %}{% set news = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="news-subscription clearfix">
                    <div class="news-subscription__left stnd-block">
                        <p class="news-subscription__left--title">В наших письмах вас ждет только хорошее!</p>
                        <!-- <p class="news-subscription__left--text"></p> -->
                        <ul class="el-list-checkround">
                            <li class="el-list-checkround__item">Персональные скидки</li>
                            <li class="el-list-checkround__item">Промокоды</li>
                            <li class="el-list-checkround__item">Подборки товаров именно для вас</li>
                            <li class="el-list-checkround__item">Новости о акциях и распродажах</li>
                            <li class="el-list-checkround__item">Обзоры товаров</li>
                            <li class="el-list-checkround__item">Интересные статьи</li>
                        </ul>
                    </div>
                    <div class="news-subscription__right stnd-block">
                        <p class="news-subscription__right--description">
                            Получайте информацию о акциях и скидках, подобранных специально для вас!
                            <br>
                            А еще мы пишем интересные статьи и обзоры.
                        </p>
                        <p class="news-subscription__right--description">
                            Письма мы отправляем не чаще двух раз, мы не отвлекаем вас по пустякам.
                        </p>
                        <!-- <div class="el-checkbox2-container">
                            <input id="q867_6" type="checkbox" class="el-checkbox2 el-checkbox2_marked" />
                            <label for="q867_6"></label><label for="q867_6">Получать письма от интернет-магазина "Офисная Служба"</label>
                        </div> -->
                        <div class="el-toggle-wrapper">
                            <div class="el-toggle el-toggle_off"><span class="el-toggle__btn"></span></div><div class="el-toggle-label">Получать письма о акциях</div>
                        </div>
                        <div class="el-toggle-wrapper">
                            <div class="el-toggle el-toggle_on"><span class="el-toggle__btn"></span></div><div class="el-toggle-label">Получать письма о специальных предложениях</div>
                        </div>
                        <div class="el-toggle-wrapper">
                            <div class="el-toggle el-toggle_on"><span class="el-toggle__btn"></span></div><div class="el-toggle-label">Получать письма новинках каталога</div>
                        </div>
                        <div class="el-toggle-wrapper">
                            <div class="el-toggle el-toggle_on"><span class="el-toggle__btn"></span></div><div class="el-toggle-label">Получать письма с обзорами и статьями</div>
                        </div>
                        <script>
                            var toggle = document.querySelectorAll('.el-toggle-wrapper');
                            for(let i = 0; i < toggle.length; i++) {
                                let a = toggle[i].querySelector('.el-toggle'), b = 'el-toggle_off', c = 'el-toggle_on';
                                a.onclick = function() {
                                    a.classList.contains(b)?(a.classList.remove(b), a.classList.add(c)):(a.classList.remove(c), a.classList.add(b));
                                }
                            }
                            // $('.el-toggle-wrapper').on('click',function(){
                            //     var that = $(this).children('.el-toggle');
                            //     that.hasClass('el-toggle_off')?that.removeClass('el-toggle_off').addClass('el-toggle_on'):that.removeClass('el-toggle_on').addClass('el-toggle_off');
                            // });
                        </script>
                    </div>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}