{% set pagename = "Обращения в службу заботы" %}{% set care = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <!-- Служба заботы -->
                <div class="care-service-page">
                    <header class="cabinet__header content__header-lr wishlist-page__header">
                        <h1 class="stnd-title stnd-title_big">{{ pagename }}
                            <span class="cabinet__header-btns-row content__header-right">
                                <span>
                                </span>
                                <span>
                                    <button class="el-button el-button_prim-0 el-button_med">Создать новое обращение</button>
                                    <!-- <span class="el-arrow-but el-arrow-but_cart el-arrow-but_cart_big-0"></span> -->
                                </span>
                            </span>
                        </h1>
                    </header>
                    <table class="table table_stnd table_appeal b-archive">
                        <thead class="table__thead">
                            <tr class="table__tr">
                                <th class="table__th">№</th>
                                <th class="table__th">Тема обращения</th>
                                <th class="table__th">Ответственный</th>
                                <th class="table__th">Статус</th>
                                <th class="table__th">Дата</th>
                                <th class="table__th"></th>
                            </tr>
                            <!--  /.table__tr -->
                        </thead>
                        <!--  /.table__thead -->
                        <tbody class="table__tbody">
                            <tr id="table-row-order-id-1" class="table__tr">
                                <td class="table__td">
                                    <a class="b-archive__link" href="/account/orders/order/id/1" title="Перейти к заказу">09878</a>
                                </td>
                                <td class="table__td">Проблемы с доставкой товаров в офис</td>
                                <td class="table__td"><img src="img/u13-small.png" alt="" class="table__photo"> <b>Голов Алексей</b><br><span class="table__sub-txt">менеджер магазина</span></td>
                                <td class="table__td">
                                    <div class="item__status item__status_yellow js-bubble js-bubble_status">
                                        В работе
                                        <div class="bubble-conteiner">
                                            <div class="bubble bubble_status">
                                                <div class="bubble__wrap">
                                                    Lorem ipsum dolor sit amet.
                                                </div>
                                                <!--  /.bubble__wrap -->
                                            </div>
                                            <!--  /.bubble -->
                                        </div>
                                    </div>
                                </td>
                                <td class="table__td">25.08.2018</td>
                                <td class="table__td table__td_left table__td_button">
                                    <a class="el-button el-button_ico ico-show" href="javascript:;"><span>просмотреть</span></a>
                                    <a class="el-button el-button_ico ico-show" href="javascript:;"><span>в архив</span></a>
                                </td>
                            </tr>
                            <tr class="table__tr-empty">
                                <td></td>
                            </tr>
                            <tr id="table-row-order-id-2" class="table__tr">
                                <td class="table__td">
                                    <a class="b-archive__link" href="/account/orders/order/id/2" title="Перейти к заказу">145</a>
                                </td>
                                <td class="table__td">У вас слишком крутой сервис. Слишком низкие цены!</td>
                                <td class="table__td"><img src="img/u13-small.png" alt="" class="table__photo"> <b>Голов Алексей</b><br><span class="table__sub-txt">старший специалист</span></td>
                                <td class="table__td">
                                    <div class="item__status item__status_green js-bubble js-bubble_status">
                                        Новый ответ
                                        <div class="bubble-conteiner">
                                            <div class="bubble bubble_status">
                                                <div class="bubble__wrap">
                                                    Lorem ipsum dolor sit amet.
                                                </div>
                                                <!--  /.bubble__wrap -->
                                            </div>
                                            <!--  /.bubble -->
                                        </div>
                                    </div>
                                </td>
                                <td class="table__td">25.08.2018</td>
                                <td class="table__td table__td_left table__td_button">
                                    <a class="el-button el-button_ico ico-show" href="javascript:;"><span>просмотреть</span></a>
                                    <a class="el-button el-button_ico ico-show" href="javascript:;"><span>в архив</span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="cabinet__delivery b-delivery b-delivery_alt">
                        <!-- <div class="b-delivery__head b-delivery-head"> -->
                        <div class="b-delivery-head">
                            <p class="b-delivery-head__txt">Возможно у нас уже есть ответы на ваши вопросы?</p>
                            <p class="b-delivery-head__ask"><span>Мы собрали популярные вопросы ниже</span><span class="b-delivery-head__ask-ico"></span></p>
                        </div>
                        <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                            <a href="javascript:void(0)" class="b-delivery__toggle">
                                <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                                <span>Как совершить заказ?</span>
                                <!-- <p class="b-delivery__text"></p> -->
                            </a>
                            <div class="b-delivery__details txt-article" style="display: none;">
                                <p class="txt-article__text">Интернет-магазин "Офисная служба" работает 24 часа, поэтому оформить заказ на нашем сайте Вы можете в любое удобное для Вас время суток.</p>
                                <p class="txt-article__text">Время работы офиса по будням с 09.30 до 18.00, в выходные и праздничные дни офис не работает.</p>
                                <p class="txt-article__text">Любую дополнительную информацию о товаре и работе нашего магазина Вы можете уточнить у наших менеджеров или задать Ваш вопрос через форму обратной связи на нашем сайте.</p>
                            </div>
                        </div>
                        <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                            <a href="javascript:void(0)" class="b-delivery__toggle">
                                <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                                <span>Доставка товаров по России и Ленинградской области</span>
                                <!-- <p class="b-delivery__text"></p> -->
                            </a>
                            <div class="b-delivery__details txt-article" style="display: none;">
                                <p class="txt-article__text">Гарантийный срок — период, в течение которого в случае обнаружения в товаре недостатка изготовитель (исполнитель), продавец, уполномоченная организация, импортер обязаны удовлетворить требования клиента по устранению недостатков товара (п. 6. ст. 5 Закона о защите прав потребителей).</p>
                                <p class="txt-article__text">Продавец несет ответственность за недостатки товара, в том случае если не докажет, что недостатки возникли после передачи товара клиенту вследствие нарушения потребителем правил использования, хранения или транспортировки товара, действий третьих лиц.</p>
                            </div>
                        </div>
                        <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                            <a href="javascript:void(0)" class="b-delivery__toggle">
                                <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                                <span>Доставка товаров в пригороды Санкт-Петербурга</span>
                                <!-- <p class="b-delivery__text"></p> -->
                            </a>
                            <div class="b-delivery__details txt-article" style="display: none;">
                                <ul class="txt-article__list">
                                    <li>Доставка товаров в пригороды Санкт-Петербурга</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cabinet__delivery-item b-delivery__item stnd-block stnd-shadow">
                            <a href="javascript:void(0)" class="b-delivery__toggle">
                                <i class="b-delivery__toggle-icon delivery-toggle" aria-hidden="true"></i>
                                <span>График доставки заказов в пригороды Санкт-Петербурга</span>
                                <!-- <p class="b-delivery__text"></p> -->
                            </a>
                            <div class="b-delivery__details txt-article" style="display: none;">
                                <ul class="txt-article__list">
                                    <li>График доставки заказов в пригороды Санкт-Петербурга</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}