{% set pagename = "Архив заказов" %}{% set archive = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <table class="table table_stnd table_archive table_hover-border b-archive">
                    <thead class="table__thead">
                        <tr class="table__tr">
                            <th class="table__th">№</th>
                            <th class="table__th">Адрес доставки</th>
                            <th class="table__th">Контактное лицо</th>
                            <th class="table__th">Количество</th>
                            <th class="table__th">Сумма</th>
                            <th class="table__th">Дата</th>
                            <th class="table__th el-month-picker-container">
							    <button class="js-month-picker el-button el-button_th">Фильтр по дате</button>
                                <div class="el-month-picker">
              					    <input id="IconDemo" class='js-month-picker__target' type="text" />
                                </div>
              				</th>
                        </tr>
                        <!--  /.table__tr -->
                    </thead>
                    <!--  /.table__thead -->
                    <tbody class="table__tbody">
                        <tr id="table-row-order-id-1" class="table__tr">
                            <td class="table__td">
                                <a class="b-archive__link" href="/account/orders/order/id/1" title="Перейти к заказу">18170</a>
                            </td>
                            <td class="table__td table__td_left">г. Санкт-Петербург, ул Расстаная д. 27...</td>
                            <td class="table__td">Гедройц Евгений</td>
                            <td class="table__td">47</td>
                            <td class="table__td"><b class="b-archive__summ">43 934,01</b></td>
                            <td class="table__td">14.03.2018</td>
                            <td class="table__td table__td_left table__td_button">
                                <a class="el-button el-button_ico ico-show" href="/account/orders/order/id/1"><span>просмотр заказа</span></a>
                                <!-- <a class="el-button el-button_ico ico-repeat-order" href="/cart/index/ordertocart?orderId=1"><span>повторить заказ</span></a> -->
                                <button type="button" title="Удалить" class="el-button el-button_ico js-ajax-remove" postparamname="orderid" orderid="1" url="/account/orders/remove" confirm='Удалить заказ №"12"?' removeselector="#table-row-order-id-1"><span aria-hidden="true" class="el-del"></span><span>удалить заказ</span>
                                </button>
                            </td>
                        </tr>
                        <tr class="table__tr-empty">
                            <td></td>
                        </tr>
                        <tr id="table-row-order-id-2" class="table__tr">
                            <td class="table__td">
                                <a class="b-archive__link" href="/account/orders/order/id/2" title="Перейти к заказу">18170</a>
                            </td>
                            <td class="table__td table__td_left">г. Санкт-Петербург, ул Расстаная д. 27...</td>
                            <td class="table__td">Гедройц Евгений</td>
                            <td class="table__td">47</td>
                            <td class="table__td"><b class="b-archive__summ">43 934,01</b></td>
                            <td class="table__td">14.03.2018</td>
                            <td class="table__td table__td_left table__td_button">
                                <a class="el-button el-button_ico ico-show" href="/account/orders/order/id/2"><span>просмотр заказа</span></a>
                                <!-- <a class="el-button el-button_ico ico-repeat-order" href="/cart/index/ordertocart?orderId=2"><span>повторить заказ</span></a> -->
                                <button type="button" title="Удалить" class="el-button el-button_ico js-ajax-remove" postparamname="orderid" orderid="2" url="/account/orders/remove" confirm='Удалить заказ №"12"?' removeselector="#table-row-order-id-2"><span aria-hidden="true" class="el-del"></span><span>удалить заказ</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="catalog-items__paginator catalog-items__paginator_out">
                    <div class="pagination-conteiner js-last-child">
                        <div class="pagination">
                            <!-- Previous page link -->
                            <span class="pagination__item pagination__item_disabled"></span>

                            <!-- Numbered page links -->
                            <span class="pagination__item pagination__item_active">
                                        1                    </span>
                            <a class="pagination__item " href="/account/orders/index/page/2">
                                        2                    </a>
                            <!-- Next page link -->
                            <a class="pagination__item" href="/account/orders/index/page/2"></a>
                        </div>
                        <!--  /.pagination -->
                    </div><!--  /.pagination-conteiner -->
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}