
{% set pagename = "Статья" %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="flash-message-block"></div>
        <div id="breadcrumbs-block" class="b-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList"></div>
        
        <div class="content__header-lr">
            <h1 id="page-publications" class="h1">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</h1>
            <time datetime="2018-07-37">37 июля 2018</time>
        </div>
        <!-- <div class="b-article-previews-tags">
            <a href="javascript:;" class="b-article-previews-tags__tag b-article-previews-tags__tag_active">Экспертные</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Категорийные</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Лайфхаки</a>
        </div> -->
        <div class="b-article">
            <div class="b-article__content">
                <p class="b-article__p">Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть красивым и удобным, рюкзак – вписываться в общий стиль и не портить осанку. А вот критерии выбора качественных канцелярских принадлежностей – вещь не столь очевидная. Сегодня «Офисная служба» начинает серию обзоров по теме. Они будут актуальны не только накануне Дня знаний. Ведь пополнять запасы канцтоваров приходится весь учебный год.</p>
                <div class="b-article__b-img">
                    <img src="img/u13542.png" alt="" style="max-width: 606px;" />
                </div>
                <p class="b-article__p">Мы будем комплектовать наши пеналы с помощью именитых производителей канцелярских изделий. А начнем с французской фирмы Maped, которая считается лидером на рынке товаров для школьников. Есть ли у нее для этого основания? Давайте узнаем!</p>
                <p class="b-article__p b-article__p_big">Ручки</p>
                <p class="b-article__p">Мы будем комплектовать наши пеналы с помощью именитых производителей канцелярских изделий. А начнем с французской фирмы Maped, которая считается лидером на рынке товаров для школьников. Есть ли у нее для этого основания? Давайте узнаем!</p>
                <div class="b-article__b-img">
                    <img src="img/u13545.png" alt="" style="max-width: 310px;" />
                </div>
                <p class="b-article__p">Мы будем комплектовать наши пеналы с помощью именитых производителей канцелярских изделий. А начнем с французской фирмы Maped, которая считается лидером на рынке товаров для школьников. Есть ли у нее для этого основания? Давайте узнаем!</p>
                <p class="b-article__p">Можно купить двух- и даже четырехцветную ручку, а можно приобрести набор, состоящий из тех же четырех цветов. Одноразовые или со сменными стержнями – пусть соображения экономии не диктуют вам выбор. Ведь цены на французские шариковые ручки очень демократичны.</p>
                <p class="b-article__p">В отличие от многих европейских компаний, Maped выпускает ручки для левшей – как универсальные, так и специальные. Например, «волнистая» шариковая ручка Visio с конусовидным наконечником. Она не только удобно и правильно ложится в левую руку, но и открывает хороший обзор на написанное.</p>
                <div class="b-article__b-img">
                    <img src="img/u13551.png" alt="" />
                    <img src="img/u13552.png" alt="" />
                </div>
                <p class="b-article__p">Плавное и аккуратное письмо - это профиль серии Free Writer от Maped. Эти ручки заправлены либо специальными маловязкими чернилами, которые не мажутся, даже если писать с нажимом, либо пастой с низкой текучестью, позволяющей не напрягать руку.</p>
                <p class="b-article__p">Плавное и аккуратное письмо - это профиль серии Free Writer от Maped. Эти ручки заправлены либо специальными маловязкими чернилами, которые не мажутся, даже если писать с нажимом, либо пастой с низкой текучестью, позволяющей не напрягать руку.</p>
                <div class="b-article__b-img">
                    <img src="img/u13555.png" alt="">
                </div>
                <p class="b-article__p">Плавное и аккуратное письмо - это профиль серии Free Writer от Maped. Эти ручки заправлены либо специальными маловязкими чернилами, которые не мажутся, даже если писать с нажимом, либо пастой с низкой текучестью, позволяющей не напрягать руку.</p>
                <p class="b-article__p b-article__p_big">Карандаши и фломастеры</p>
                <div class="b-article__b-img">
                    <img src="img/u13558.png" alt="" style="max-width: 491px;">
                </div>
                <p class="b-article__p">Без банального простого карандаша мы наш пенал не укомплектуем.</p>
                <p class="b-article__p">Карандаш Black Pep's готов стать рабочей лошадкой школьных будней. Большинство моделей - с ластиком. Внутри – крепкий, небьющийся грифель. Трехгранная форма – одна из самых удобных, поскольку дает удобный хват и мешает карандашу скатываться с парты на пол. Американская липа, из которой сделан корпус, - дерево мягкое и тонкотекстурное. Поэтому точить такие карандаши – одно удовольствие.</p>
                <div class="b-article__b-img">
                    <img src="img/u13561.png" alt="" style="max-width: 485px;">
                </div>
                <p class="b-article__p">Цветные карандаши для уроков рисования выбирать куда сложнее. Ведь французский бренд предлагает не только наборы Color'Peps из 6, 12, 24, 36 и 48 цветов. Для экономии места в нашем пенале можно приобрести компактные карандаши Mini, а для самых ярких рисунков в классе – флуоресцентные Color'Peps Fluo.</p>
                <div class="b-article__b-img">
                    <img src="img/u13563.png" alt="">
                </div>
                <p class="b-article__p">Чтобы юному художнику было удобнее творить, в комплекте с карандашами чаще всего идет подставка для них – в виде тубуса, пенала с крышкой или коробки. Фломастеры вещь куда более веселая и яркая, чем карандаши. Порой это можно понять по разноцветным рукам, лицу и даже одежде их владельца. Компания Maped в курсе дела, поэтому большинство ее фломастеров - с легко смываемыми чернилами. Вентилируемый колпачок позволяет изделиям прослужить долго, став соавторами не одного великолепного рисунка.</p>
                <div class="b-article__b-img">
                    <img src="img/u13565.png" alt="">
                </div>
                <p class="b-article__p">Из ассортимента Maped стоит выделить набор  Color'Peps Duo – десять двусторонних фломастеров, каждый из которых объединяет в себе два разных цвета и яркий полосатый дизайн. Носить фломастеры в школу можно не только в пенале. К вашим услугам пластиковый футляр на молнии или подставка с внедренными колпачками (набор-ассорти Jungle Innovation).</p>
                <p class="b-article__p b-article__p_big">Линейки и угольники</p>
                <p class="b-article__p">Maped  выпускает огромное количество линеек на любой вкус. Эргономичные, в консервативном дизайне серии Start, Geometric и Aluminium все-таки лучше оставить для «взрослых» офисов, ВУЗов и мастерских. Школьная линейка на все времена – это, безусловно, пластиковая Twist’NFlex. Ее можно ломать, скручивать, сгибать – а она по-прежнему как новенькая! Психологи уверяют - если крутить такую гибкую линейку в руках, это помогает снимать стресс.  А если мы хотим сэкономить место в нашем пенале, тогда кладем в него линейку Open Up – из 30 см она легко складывается до 15.</p>
                <p class="b-article__p">Похожая ситуация и с угольниками – лучшей компанией для первых уроков геометрии будут модели Flex или Twist'n Flex. Гибкие и прочные, эти угольники сделаны из не пачкающегося пластика. А их яркие оттенки смогут по-настоящему расцветить серый гранит науки.</p>
                <p class="b-article__p b-article__p_big">Точилки и ластики</p>
                <div class="b-article__b-img">
                    <img src="img/u13571.png" alt=""  style="max-width: 456px;">
                </div>
                <p class="b-article__p">Предусмотрительно кладем в наш пенал точилку для карандашей. В бурных школьных буднях лучше всего себя чувствуют модели из ударопрочных, небьющихся материалов – например, Vivo,  Boogy или Bulbo. Точилки с защитными шторками не позволяют опилкам высыпаться. А общей визитной карточкой для всех точилок Maped является их качественное стальное лезвие.</p>
                <div class="b-article__b-img">
                    <img src="img/u13573.png" alt=""  style="max-width: 100%;">
                </div>
                <p class="b-article__p">Но это – скучные родительские соображения. А сами школьники двумя руками голосуют за точилки с контейнером для опилок – оригинальный дизайн делает их похожими на миниатюрные игрушки.</p>
                <p class="b-article__p">Ластика на кончике карандаша мало, необходим еще и отдельный экземпляр в пенале. Компания Maped предлагает множество ластиков для любых задач. Вряд ли школьнику понадобится, например, профессиональный ластик X Pert. Разве что тому, кто всерьез занимается рисованием и мечтает стать великим дизайнером. Единственный параметр, который имеет значение для большинства – симпатичный внешний вид. А тут уже просто глаза разбегаются: модели Zenoa и WHIZZ в ярком закрывающемся футляре, раскрашенный под костяшку белый с синим Domino, ластики Ergo Fun в виде фигурок китов и улиток и, разумеется, популярная модель Tip Top, служащая съемной насадкой на верхушке карандаша.</p>
                <div class="b-article__b-img">
                    <img src="img/u13576.png" alt=""  style="max-width: 100%;">
                </div>
                <p class="b-article__p">Вот такое получилось содержимое пенала от французской корпорации Maped – яркое, эргономичное и разнообразное. Оставайтесь с нами весь учебный год!</p>
                <div class="b-article__bot-row">
                    <!-- <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="//yastatic.net/share2/share.js"></script> -->
    
                    <div id="ya-share2" class="ya-share2 ya-share2_inited" data-services="vkontakte,facebook,odnoklassniki,gplus" data-size="s" data-bare="false">
                        <!-- <span class="ya-share2__caption">Поделиться:</span> -->
                        <div class="ya-share2__container ya-share2__container_size_s">
                            <ul class="ya-share2__list ya-share2__list_direction_horizontal">
                                <li class="ya-share2__item ya-share2__item_service_vkontakte"><a class="ya-share2__link" href="https://vk.com/share.php?url=http%3A%2F%2F3259404.ru%2Fpage%2Fdocuments&amp;title=%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%BE%D0%BE%D0%B1%D0%BE%D1%80%D0%BE%D1%82%3A+%D0%B1%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5+%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0.+%D0%9E%D1%84%D0%B8%D1%81%D0%BD%D0%B0%D1%8F+%D1%81%D0%BB%D1%83%D0%B6%D0%B1%D0%B0.&amp;utm_source=share2" rel="nofollow noopener" target="_blank" title="ВКонтакте"><span class="ya-share2__badge"><span class="ya-share2__icon"></span><span class="ya-share2__counter"></span></span><span class="ya-share2__title">ВКонтакте</span></a></li>
                                <li class="ya-share2__item ya-share2__item_service_facebook"><a class="ya-share2__link" href="https://www.facebook.com/sharer.php?src=sp&amp;u=http%3A%2F%2F3259404.ru%2Fpage%2Fdocuments&amp;title=%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%BE%D0%BE%D0%B1%D0%BE%D1%80%D0%BE%D1%82%3A+%D0%B1%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5+%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0.+%D0%9E%D1%84%D0%B8%D1%81%D0%BD%D0%B0%D1%8F+%D1%81%D0%BB%D1%83%D0%B6%D0%B1%D0%B0.&amp;utm_source=share2" rel="nofollow noopener" target="_blank" title="Facebook"><span class="ya-share2__badge"><span class="ya-share2__icon"></span><span class="ya-share2__counter"></span></span><span class="ya-share2__title">Facebook</span></a></li>
                                <li class="ya-share2__item ya-share2__item_service_odnoklassniki"><a class="ya-share2__link" href="https://connect.ok.ru/offer?url=http%3A%2F%2F3259404.ru%2Fpage%2Fdocuments&amp;title=%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%BE%D0%BE%D0%B1%D0%BE%D1%80%D0%BE%D1%82%3A+%D0%B1%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5+%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0.+%D0%9E%D1%84%D0%B8%D1%81%D0%BD%D0%B0%D1%8F+%D1%81%D0%BB%D1%83%D0%B6%D0%B1%D0%B0.&amp;utm_source=share2" rel="nofollow noopener" target="_blank" title="Одноклассники"><span class="ya-share2__badge"><span class="ya-share2__icon"></span><span class="ya-share2__counter"></span></span><span class="ya-share2__title">Одноклассники</span></a></li>
                                <li class="ya-share2__item ya-share2__item_service_gplus"><a class="ya-share2__link" href="https://plus.google.com/share?url=http%3A%2F%2F3259404.ru%2Fpage%2Fdocuments&amp;utm_source=share2" rel="nofollow noopener" target="_blank" title="Google+"><span class="ya-share2__badge"><span class="ya-share2__icon"></span></span><span class="ya-share2__title">Google+</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-views">5178</div>
                </div>
            </div>
            <div class="b-article__nav b-article-nav">
                <div class="b-article-nav__title">Свежие статьи</div>
                
                <div class="b-article-nav__items">
                    <a href="javascript:;" class="b-article-nav__item">Как экономить на расходе бумаги в офисе</a>
                    <a href="javascript:;" class="b-article-nav__item">Освежители воздуха Rubbermaid — уникальная технология распыления</a>
                    <a href="javascript:;" class="b-article-nav__item">Выбираем принтер для офиса правильно: МФУ, струйный или лазерный</a>
                    <a href="javascript:;" class="b-article-nav__item">Bullet journal, или Как вести ежедневник эффективно</a>
                    <a href="javascript:;" class="b-article-nav__item">Durable — лидер в производстве офисных товаров</a>
                    <a href="javascript:;" class="b-article-nav__item">Кулеры для воды: что нужно знать</a>
                </div>
            </div>
        </div>
        <div class="b-article-previews-tags b-article-previews-tags_bot-tags">
            <p class="b-article-previews-tags__title">Теги</p>
            <a href="javascript:;" class="b-article-previews-tags__tag">Как выбрать товар</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Все о ластиках</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Готовимся к школе</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Все о черчении</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Что-то еще</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">И еще</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Классика</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Разница</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Как ваши дела</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Публичное</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Странный текст</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Новая корзина</a>
        </div>
    </section>
{% include "elems/_footer.html" %}