{% set pagename = "Контактные лица" %}{% set contacts = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <header class="content__header-lr">
                    <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                    <div class="content__header-right">
                        <a href="#" class="el-button el-button_prim-0 el-button_med" style="font-size: 13px;">Добавить новое</a>
                    </div>
                </header>
                 
                <table class="table table_stnd table_contacts table_hover-border">
                    <thead class="table__thead">
                        <tr class="table__tr">
                            <th class="table__th">Фамилия</th>
                            <th class="table__th">Имя</th>
                            <th class="table__th">Должность</th>
                            <th class="table__th">Телефон</th>
                            <th class="table__th">E-mail</th>
                            <th class="table__th"></th>
                        </tr>
                        <!--  /.table__tr -->
                    </thead>
                    <!--  /.table__thead -->
                    <tbody class="table__tbody">
                        <tr id="table-row-order-id-1" class="table__tr">
                            <td class="table__td" style="white-space: nowrap;">Андреев</td>
                            <td class="table__td" style="white-space: nowrap; width: auto;">Александр</td>
                            <td class="table__td" style="white-space: nowrap;">Маркетолог</td>
                            <td class="table__td" style="white-space: nowrap;">8-981-835-77-98</td>
                            <td class="table__td" style="white-space: nowrap;">sanekkrutoy@3259404.ru</td>
                            <td class="table__td table__td_left table__td_button">
                                <button type="button" title="Редактировать" class="el-button el-button_ico ico-edit js-lightbox" data-target="#contact-edit-34585">
                                    <span>Редактировать</span>
                                </button>
                                <br>
                                <button type="button" title="Удалить" class="el-button el-button_ico js-ajax-remove" postparamname="orderid" orderid="1" url="/account/orders/remove" confirm='Удалить заказ №"12"?' removeselector="#table-row-order-id-1">
                                    <span aria-hidden="true" class="el-del"></span>
                                    <span>Удалить</span>
                                </button>
                            </td>
                        </tr>
                        <tr class="table__tr-empty">
                            <td></td>
                        </tr>
                        <tr id="table-row-order-id-2" class="table__tr">
                            <td class="table__td" style="white-space: nowrap;">Андреев</td>
                            <td class="table__td" style="white-space: nowrap; width: auto;">Александр</td>
                            <td class="table__td" style="white-space: nowrap;">Маркетолог</td>
                            <td class="table__td" style="white-space: nowrap;">8-981-835-77-98</td>
                            <td class="table__td" style="white-space: nowrap;">sanekkrutoy@3259404.ru</td>
                            <td class="table__td table__td_left table__td_button">
                                <button type="button" title="Редактировать" class="el-button el-button_ico ico-edit js-lightbox" data-target="#contact-edit-34585">
                                    <span>Редактировать</span>
                                </button>
                                <br>
                                <button type="button" title="Удалить" class="el-button el-button_ico js-ajax-remove" postparamname="orderid" orderid="2" url="/account/orders/remove" confirm='Удалить заказ №"12"?' removeselector="#table-row-order-id-2">
                                    <span aria-hidden="true" class="el-del"></span>
                                    <span>Удалить</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div class="catalog-items__paginator catalog-items__paginator_out">
                    <div class="pagination-conteiner js-last-child">
                        <div class="pagination">
                            <span class="pagination__item pagination__item_disabled ico-prev_orange"></span>
                            <span class="pagination__item pagination__item_active">
                                        1                    </span>
                            <a class="pagination__item " href="/account/orders/index/page/2">
                                        2                    </a>
                            <a class="pagination__item ico-next_orange " href="/account/orders/index/page/2"></a>
                        </div>
                    </div>
                </div> -->
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}