{% set pagename = "Личные данные" %}{% set data = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="personal_data stnd-block stnd-shadow">
                    <p class="stnd-title-weight">Ваше изображение</p>
                    <p class="stnd-text">Вы можете добавить свою фотографию или логотип вашей компании.</p>
                    <div class="personal_data__photo stnd-img-block__img">
                        <img src="img/u13-big.png" alt="" class="personal_data__photo--img js-loadPhoto" />
                        <div class="personal_data__photo--text stnd-text">
                            <label for="loadPhoto" class="boldDottedLink">Загрузить новое изображение &nbsp;</label>
                            <input name="loadPhoto" id="loadPhoto" type="file" style="display: none;" />
                            <p>Вы можете добавить свою фотографию или логотип вашей компании.</p>
                        </div>
                    </div>
                    <p class="stnd-title-weight">Ваши персональные данные</p>
                    <p class="stnd-text">Какой-то текст о смене информации.</p>
                    <form>
                        <div class="personal_data__form">
                            <!-- <form method="post" name="personalDataForm" class="form" id="personalDataForm"> -->
                            <div class="form">
                                <div class="form__item form__item_labeltop js-label-top">
                                    <label for="login">Ваш логин</label>
                                    <span class="form__input form__input--smaller">
                                        <input id="login" name="login" placeholder="Ваш логин" type="text" value="" class="">
                                    </span>
                                </div>
                                <div class="form__item form__item_labeltop js-label-top ">
                                    <label for="email">Ваш e-mail</label>
                                    <span class="form__input form__input--smaller">
                                        <input id="email" name="email" placeholder="Ваш e-mail" type="text" value="">
                                    </span>
                                </div>
                                <div class="form__item form__item_labeltop js-label-top ">
                                    <label for="firstname">Ваше имя</label>
                                    <span class="form__input form__input--smaller">
                                        <input id="firstname" name="firstname" placeholder="Ваше имя" type="text" value="">
                                    </span>
                                </div>
                                <div class="form__item form__item_labeltop js-label-top ">
                                    <label for="phone">Ваш телефон</label>
                                    <span class="form__input form__input--smaller">
                                        <input id="phone" name="phone" placeholder="Ваш телефон" type="text" value="">
                                    </span>
                                </div>
                                <div class="form__item form__item_labeltop js-label-top ">
                                    <label for="lastname">Ваша фамилия</label>
                                    <span class="form__input form__input--smaller">
                                        <input id="lastname" name="lastname" placeholder="Ваша фамилия" type="text" value="">
                                    </span>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <p class="stnd-title-weight">Информация о компании</p>
                        <p class="stnd-text">Укажите данные о вашей компании. Это поможет нам лучше понимать наших клиентов и делать им лучшие предложения. Эти данные будут видны только в вашем личном кабинете.</p>
                        <div class="personal_data__form">
                            <div class="form">
                            <!-- <form method="post" name="companyInfoForm" class="form" id="companyInfoForm"> -->
                                <div class="form__item form__item_labeltop js-label-top">
                                    <label for="companyName">Название компании</label><span class="form__input form__input--smaller">
                                    <input id="companyName" name="companyName" placeholder="Название компании" type="text" value="" class=""></span>
                                </div>
                                <div class="form__item">
                                    <select name="direction" id="directionSelect" class="jsSelect select-ico_rect select-ico_input-size" data-placeholder="Направление деятельности" data-label="Направление деятельности">
                                        <option value="test">Направление 1</option>
                                        <option>Направление 2</option>
                                        <option>Направление 3</option>
                                    </select>
                                </div>
                                <div class="form__item">
                                    <select name="quantity" id="quantitySelect" class="jsSelect select-ico_rect select-ico_input-size" data-placeholder="Количество сотрудников" data-label="Количество сотрудников">
                                        <option>Количество 1</option>
                                        <option selected>Количество 2</option>
                                        <option>Количество 3</option>
                                    </select>
                                </div>
                                <div class="el-checkbox2-container">
                                    <input id="company" type="radio" name="company" class="el-checkbox2 el-checkbox2_radial" checked>
                                    <label for="company"></label><label for="company">Я заказываю от лица компании</label>
                                </div>
                                <div class="el-checkbox2-container">
                                    <input id="company2" type="radio" name="company" class="el-checkbox2 el-checkbox2_radial">
                                    <label for="company2"></label><label for="company2">Я частное лицо</label>
                                </div>
                            </div>
                            <!-- </form> -->
                            <input type="submit" name="savePassword" class="form__submit el-button el-button_prim-0 bigger-button" value="Сохранить">
                        </div>
                    </form>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}