{% set pagename = "Бонусные баллы" %}{% set bonusesN = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="cabinet-bonuses clearfix">
                    <!-- <div class="cabinet__banner">
                        <a href="#" class="cabinet__banner--close"><img src="img/ico/close--grey.png" alt=""></a>
                        <a href="#" class="cabinet__banner--link">
                            <img src="img/cab-generall-baner.png" alt="">
                        </a>
                    </div> -->
                    <div class="cabinet-bonuses__statistics--wrapper clearfix">
                        <div class="cabinet-bonuses__statistics clearfix">
                            <div class="cabinet-bonuses__statistics--available">
                                <div class="bonuses__statistics--wrapper">
                                    <p class="bonuses__statistics--title">Доступные баллы</p>
                                  <!-- <img src="img/statistics--available.png" alt=""> -->
                                  <img src="img/ico-svg/Pictogr_DostupnieBalli_2.svg" alt="Доступные баллы" title="Доступные баллы">
                                    <p class="bonuses__statistics--count">0<br><span>баллов</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="cabinet-bonuses__statistics clearfix">
                            <div class="cabinet-bonuses__statistics--possible">
                                <div class="bonuses__statistics--wrapper">
                                    <!-- <img src="img/statistics--possible.png" alt=""> -->
                                    <img src="img/ico-svg/Pictogr_VozmojnieBalli_2.svg" alt="Возможные баллы" title="Возможные баллы">
                                    <p class="bonuses__statistics--count">0<br><span>баллов</span></p>
                                </div>
                                <div class="bonuses__statistics--description">
                                    <p class="bonuses__statistics--title">Возможные баллы</p>
                                    <p class="bonuses__statistics--description-text">Тут мы рассказываем что из себя представляют возможные баллы.</p>
                                    <p class="bonuses__statistics--description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cabinet-bonuses__description howItsWorks">
                        <p class="howItsWorks--title">Как это работает?</p>
                        <div class="howItsWorks--items">
                            <div class="howItsWorks--items__item">
                                <div class="howItsWorks--items__item-count"><span>1</span></div>
                                <p class="howItsWorks--items__item-name">Оформляете заказ</p>
                                <p class="howItsWorks--items__item-description">Просто создаете заказ на нашем сайте. Все как обычно.</p>
                            </div>
                            <div class="howItsWorks--items__item">
                                <div class="howItsWorks--items__item-count"><span>2</span></div>
                                <p class="howItsWorks--items__item-name">Мы начисляем баллы</p>
                                <p class="howItsWorks--items__item-description">После подтверждения заказа и его доставки мы начисляем вам баллы.</p>
                            </div>
                            <div class="howItsWorks--items__item">
                                <div class="howItsWorks--items__item-count"><span>3</span></div>
                                <p class="howItsWorks--items__item-name">Пользуйтесь вашими баллами</p>
                                <p class="howItsWorks--items__item-description">Используйте полученные баллы на сайте "<a href="#">Твои возможности</a>"!</p>
                            </div>
                        </div>
                    </div>

                    {% include "elems/_banner-bonus.html" %}
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}