{% set pagename = "Основная информация" %}{% set genInfo = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="cabinet-general clearfix">
                    <div id="banner-capability" class="cabinet__banner js-session-hide">
                        <button type="button" class="cabinet__banner--close el-del el-button js-close"
                        data-target="#banner-capability" data-session="showBannerСapability"></button>
                        <a href="#" class="cabinet__banner--link">
                            <img src="img/cab-generall-baner.png" alt="">
                        </a>
                    </div>
                    <div class="cabinet-general__statistics">
                        <div class="cabinet-general__statistics--item clearfix">
                            <div class="statistics-icon calendar-ico"></div>
                            <div class="statistics-text">
                                <p class="statistics-text__name">Последний заказ</p>
                                <p class="statistics-text__value">01.03.2018</p>
                            </div>
                        </div>
                        <div class="cabinet-general__statistics--item clearfix">
                            <div class="statistics-icon diamond-ico"></div>
                            <div class="statistics-text">
                                <p class="statistics-text__name">Бонусные баллы</p>
                                <p class="statistics-text__value">158</p>
                            </div>
                        </div>
                        <div class="cabinet-general__statistics--item clearfix">
                            <div class="statistics-icon bank-ico"></div>
                            <div class="statistics-text">
                                <p class="statistics-text__name">Ваша задолженность</p>
                                <p class="statistics-text__value">Нет</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="stnd-title-weight" style="margin: 0;">Последние заказы</p>
                <table class="table table_stnd table_archive b-archive">
                    <thead class="table__thead">
                        <tr class="table__tr">
                            <th class="table__th">№</th>
                            <th class="table__th">Адрес доставки</th>
                            <th class="table__th">Контактное лицо</th>
                            <th class="table__th">Количество</th>
                            <th class="table__th">Сумма</th>
                            <th class="table__th">Дата</th>
                            <th class="table__th"><a href="#" class="el-button el-button_prim-0 el-button_min">Просмотреть все 8</a></th>
                        </tr>
                        <!--  /.table__tr -->
                    </thead>
                    <!--  /.table__thead -->
                    <tbody class="table__tbody">
                        <tr id="table-row-order-id-1" class="table__tr">
                            <td class="table__td">
                                <a class="b-archive__link" href="/account/orders/order/id/1" title="Перейти к заказу">18170</a>
                            </td>
                            <td class="table__td table__td_left">г. Санкт-Петербург, ул Расстаная д. 27...</td>
                            <td class="table__td">Гедройц Евгений</td>
                            <td class="table__td">47</td>
                            <td class="table__td"><b class="b-archive__summ">43 934,01</b></td>
                            <td class="table__td">14.03.2018</td>
                            <td class="table__td table__td_left table__td_button">
                                <a class="el-button el-button_ico ico-show" href="/account/orders/order/id/1"><span>просмотр заказа</span></a>
                                <a class="el-button el-button_ico ico-repeat-order" href="/cart/index/ordertocart?orderId=1"><span>повторить заказ</span></a>
                                <button type="button" title="Удалить" class="el-button el-button_ico js-ajax-remove" postparamname="orderid" orderid="1" url="/account/orders/remove" confirm='Удалить заказ №"12"?' removeselector="#table-row-order-id-1">
                                    <span aria-hidden="true" class="el-del"></span>
                                    <span>Удалить</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p class="stnd-title-weight" style="margin: 0;">Контактные лица</p>
                <table class="table table_stnd table_contacts">
                    <thead class="table__thead">
                        <tr class="table__tr">
                            <th class="table__th">Фамилия</th>
                            <th class="table__th">Имя</th>
                            <th class="table__th">Должность</th>
                            <th class="table__th">Телефон</th>
                            <th class="table__th">E-mail</th>
                            <th class="table__th">
                                <a href="#" class="el-button el-button_prim-0 el-button_min">Просмотреть все 5</a>
                            </th>
                        </tr>
                        <!--  /.table__tr -->
                    </thead>
                    <!--  /.table__thead -->
                    <tbody class="table__tbody">
                        <tr id="table-row-order-id-2" class="table__tr">
                            <td class="table__td" style="white-space: nowrap;">Андреев</td>
                            <td class="table__td" style="white-space: nowrap; width: auto;">Александр</td>
                            <td class="table__td" style="white-space: nowrap;">Маркетолог</td>
                            <td class="table__td" style="white-space: nowrap;">8-981-835-77-98</td>
                            <td class="table__td" style="white-space: nowrap;">sanekkrutoy@3259404.ru</td>
                            <td class="table__td table__td_left table__td_button">
                                <button type="button" title="Редактировать" class="el-button el-button_ico ico-edit js-lightbox" data-target="#contact-edit-34585">
                                    <span>Редактировать</span>
                                </button>
                                <br>
                                <button type="button" title="Удалить" class="el-button el-button_ico js-ajax-remove" postparamname="orderid" orderid="2" url="/account/orders/remove" confirm='Удалить заказ №"12"?' removeselector="#table-row-order-id-2">
                                    <span aria-hidden="true" class="el-del"></span>
                                    <span>Удалить</span>
                                </button>
                            </td>
                        </tr>
                        <tr class="table__tr-empty"><td></td></tr>
                        <tr id="table-row-order-id-3" class="table__tr">
                            <td class="table__td" style="white-space: nowrap;">Андреев</td>
                            <td class="table__td" style="white-space: nowrap; width: auto;">Александр</td>
                            <td class="table__td" style="white-space: nowrap;">Маркетолог</td>
                            <td class="table__td" style="white-space: nowrap;">8-981-835-77-98</td>
                            <td class="table__td" style="white-space: nowrap;">sanekkrutoy@3259404.ru</td>
                            <td class="table__td table__td_left table__td_button">
                                <button type="button" title="Редактировать" class="el-button el-button_ico ico-edit js-lightbox" data-target="#contact-edit-34585">
                                    <span>Редактировать</span>
                                </button>
                                <br>
                                <button type="button" title="Удалить" class="el-button el-button_ico js-ajax-remove" postparamname="orderid" orderid="3" url="/account/orders/remove" confirm='Удалить заказ №"12"?' removeselector="#table-row-order-id-3">
                                    <span aria-hidden="true" class="el-del"></span>
                                    <span>Удалить</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p class="stnd-title-weight" style="margin: 0;">Адреса доставки</p>
                <table class="table table_stnd table_address">
                    <thead class="table__thead">
                        <tr class="table__tr">
                            <th class="table__th">Название</th>
                            <th class="table__th">Город</th>
                            <th class="table__th">Улица</th>
                            <th class="table__th">Дом</th>
                            <th class="table__th">Корп.</th>
                            <th class="table__th">Офис/Кв.</th>
                            <th class="table__th">Этаж</th>
                            <th class="table__th">Пропуск</th>
                            <th class="table__th">
                                <a href="#" class="el-button el-button_prim-0 el-button_min">Добавить</a>
                            </th>
                        </tr>
                        <!--  /.table__tr -->
                    </thead>
                    <!--  /.table__thead -->
                    <tbody class="table__tbody">
                        <tr id="table-row-order-id-4" class="table__tr">
                            <!-- <td class="table__td">
                                <a class="b-archive__link" href="/account/orders/order/id/4" title="Перейти к заказу">18170</a>
                            </td> -->
                            <td class="table__td" style="white-space: nowrap;">Работа</td>
                            <td class="table__td" style="white-space: nowrap;">Санкт-Петербург</td>
                            <td class="table__td" style="white-space: nowrap;">Орджиникидзе</td>
                            <td class="table__td" style="white-space: nowrap;">88</td>
                            <td class="table__td" style="white-space: nowrap;">1</td>
                            <td class="table__td" style="white-space: nowrap;">59</td>
                            <td class="table__td" style="white-space: nowrap;">18</td>
                            <td class="table__td" style="white-space: nowrap;">Не нужен</td>
                            <td class="table__td table__td_left table__td_button">
                                <button type="button" title="Редактировать" class="el-button el-button_ico ico-edit js-lightbox" data-target="#contact-edit-34585">
                                    <span>Редактировать</span>
                                </button>
                                <br>
                                <button type="button" title="Удалить" class="el-button el-button_ico js-ajax-remove" postparamname="orderid" orderid="4" url="/account/orders/remove" confirm='Удалить заказ №"12"?' removeselector="#table-row-order-id-4">
                                    <span aria-hidden="true" class="el-del"></span>
                                    <span>Удалить</span>
                                </button>
                            </td>
                        </tr>
                        <tr class="table__tr-empty"><td></td></tr>
                        <tr id="table-row-order-id-5" class="table__tr">
                            <!-- <td class="table__td">
                                <a class="b-archive__link" href="/account/orders/order/id/5" title="Перейти к заказу">18170</a>
                            </td> -->
                            <td class="table__td" style="white-space: nowrap;">Работа</td>
                            <td class="table__td" style="white-space: nowrap;">Санкт-Петербург</td>
                            <td class="table__td" style="white-space: nowrap;">Орджиникидзе</td>
                            <td class="table__td" style="white-space: nowrap;">88</td>
                            <td class="table__td" style="white-space: nowrap;">1</td>
                            <td class="table__td" style="white-space: nowrap;">59</td>
                            <td class="table__td" style="white-space: nowrap;">18</td>
                            <td class="table__td" style="white-space: nowrap;">Не нужен</td>
                            <td class="table__td table__td_left table__td_button">
                                <button type="button" title="Редактировать" class="el-button el-button_ico ico-edit js-lightbox" data-target="#contact-edit-34585">
                                    <span>Редактировать</span>
                                </button>
                                <br>
                                <button type="button" title="Удалить" class="el-button el-button_ico js-ajax-remove" postparamname="orderid" orderid="5" url="/account/orders/remove" confirm='Удалить заказ №"12"?' removeselector="#table-row-order-id-5">
                                    <span aria-hidden="true" class="el-del"></span>
                                    <span>Удалить</span>
                                </button>
                            </td>
                        </tr>
                        <tr class="table__tr-empty"><td></td></tr>
                        <tr id="table-row-order-id-6" class="table__tr">
                            <!-- <td class="table__td">
                                <a class="b-archive__link" href="/account/orders/order/id/6" title="Перейти к заказу">18170</a>
                            </td> -->
                            <td class="table__td" style="white-space: nowrap;">Работа</td>
                            <td class="table__td" style="white-space: nowrap;">Санкт-Петербург</td>
                            <td class="table__td" style="white-space: nowrap;">Орджиникидзе</td>
                            <td class="table__td" style="white-space: nowrap;">88</td>
                            <td class="table__td" style="white-space: nowrap;">1</td>
                            <td class="table__td" style="white-space: nowrap;">59</td>
                            <td class="table__td" style="white-space: nowrap;">18</td>
                            <td class="table__td" style="white-space: nowrap;">Не нужен</td>
                            <td class="table__td table__td_left table__td_button">
                                <button type="button" title="Редактировать" class="el-button el-button_ico ico-edit js-lightbox" data-target="#contact-edit-34585">
                                    <span>Редактировать</span>
                                </button>
                                <br>
                                <button type="button" title="Удалить" class="el-button el-button_ico js-ajax-remove" postparamname="orderid" orderid="6" url="/account/orders/remove" confirm='Удалить заказ №"12"?' removeselector="#table-row-order-id-6">
                                    <span aria-hidden="true" class="el-del"></span>
                                    <span>Удалить</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}