{% set pagename = "Бонусные баллы" %}{% set bonuses = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="cabinet-bonuses clearfix">
                    <!-- <div class="cabinet__banner">
                        <a href="#" class="cabinet__banner--close"><img src="img/ico/close--grey.png" alt=""></a>
                        <a href="#" class="cabinet__banner--link">
                            <img src="img/cab-generall-baner.png" alt="">
                        </a>
                    </div> -->
                    <div class="cabinet-bonuses__statistics--wrapper clearfix">
                        <div class="cabinet-bonuses__statistics clearfix">
                          <div class="cabinet-bonuses__statistics--available">
                              <div class="bonuses__statistics--wrapper">
                                  <p class="bonuses__statistics--title">Доступные баллы</p>
                                  <!-- <img src="img/statistics--available.png" alt=""> -->
                                  <img src="img/ico-svg/Pictogr_DostupnieBalli_2.svg" alt="Доступные баллы" title="Доступные баллы">
                                  <p class="bonuses__statistics--count">0<br><span>баллов</span></p>
                              </div>
                          </div>
                        </div>

                        <!-- <div class="cabinet-bonuses__statistics clearfix" style="display: inline-block;  height: 257px;     width: calc(100% - (15px + 278px));"> -->
                        <div class="cabinet-bonuses__statistics clearfix">
                            <div class="cabinet-bonuses__statistics--possible">
                                <div class="bonuses__statistics--wrapper">
                                    <!-- <img src="img/statistics--possible.png" alt=""> -->
                                    <img src="img/ico-svg/Pictogr_VozmojnieBalli_2.svg" alt="Возможные баллы" title="Возможные баллы">
                                    <p class="bonuses__statistics--count">0<br><span>баллов</span></p>
                                </div>
                                <div class="bonuses__statistics--description">
                                    <p class="bonuses__statistics--title">Возможные баллы</p>
                                    <p class="bonuses__statistics--description-text">Тут мы рассказываем что из себя представляют возможные баллы.</p>
                                    <p class="bonuses__statistics--description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="cabinet-bonuses__description howItsWorks">
                        <p class="howItsWorks--title">Как это работает?</p>
                        <div class="howItsWorks--items">
                            <div class="howItsWorks--items__item">
                                <div class="howItsWorks--items__item-count"><span>1</span></div>
                                <p class="howItsWorks--items__item-name">Оформляете заказ</p>
                                <p class="howItsWorks--items__item-description">Просто создаете заказ на нашем сайте. Все как обычно.</p>
                            </div>
                            <div class="howItsWorks--items__item">
                                <div class="howItsWorks--items__item-count"><span>2</span></div>
                                <p class="howItsWorks--items__item-name">Мы начисляем баллы</p>
                                <p class="howItsWorks--items__item-description">После подтверждения заказа и его доставки мы начисляем вам баллы.</p>
                            </div>
                            <div class="howItsWorks--items__item">
                                <div class="howItsWorks--items__item-count"><span>3</span></div>
                                <p class="howItsWorks--items__item-name">Пользуйтесь вашими баллами</p>
                                <p class="howItsWorks--items__item-description">Используйте полученные баллы на сайте "<a href="#">Твои возможности</a>"!</p>
                            </div>
                        </div>
                    </div>

                    {% include "elems/_banner-bonus.html" %}

                    <div class="b-archive">
                        <p class="stnd-title-weight" style="font-size: 14px; margin-bottom: 5px;">История операций</p>
                        <table class="table table_stnd table_archive">
                            <thead class="table__thead">
                                <tr class="table__tr">
                                    <th class="table__th">№</th>
                                    <th class="table__th">Номер заказа</th>
                                    <th class="table__th">Подробности</th>
                                    <th class="table__th">Дата</th>
                                    <th class="table__th">Баллы</th>
                                </tr>
                                <!--  /.table__tr -->
                            </thead>
                            <!--  /.table__thead -->
                            <tbody class="table__tbody">
                                <tr id="table-row-order-id-1" class="table__tr">
                                    <td class="table__td" style="white-space: nowrap;"><b>1</b></td>
                                    <td class="table__td" style="white-space: nowrap; width: auto;">15874566</td>
                                    <td class="table__td" style="white-space: nowrap;">Заказ на сайте 3259404.ru</td>
                                    <td class="table__td" style="white-space: nowrap;">25.08.2018</td>
                                    <td class="table__td table__td--green" style="white-space: nowrap;">+ 87</td>
                                </tr>
                                <tr class="table__tr-empty">
                                    <td></td>
                                </tr>
                                <tr id="table-row-order-id-2" class="table__tr">
                                    <td class="table__td" style="white-space: nowrap;"><b>2</b></td>
                                    <td class="table__td" style="white-space: nowrap; width: auto;">15874566</td>
                                    <td class="table__td" style="white-space: nowrap;">Заказ на сайте твоивозможности.рф</td>
                                    <td class="table__td" style="white-space: nowrap;">25.08.2018</td>
                                    <td class="table__td table__td--red" style="white-space: nowrap;">- 87</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="catalog-items__paginator catalog-items__paginator_out">
                    <div class="pagination-conteiner js-last-child">
                        <div class="pagination">
                            <span class="pagination__item pagination__item_disabled"></span>
                            <span class="pagination__item pagination__item_active">
                                        1                    </span>
                            <a class="pagination__item " href="/account/orders/index/page/2">
                                        2                    </a>
                            <a class="pagination__item" href="/account/orders/index/page/2"></a>
                        </div>
                    </div>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}