{% set pagename = "Раздел статей" %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="flash-message-block"></div>
        <div id="breadcrumbs-block" class="b-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList"></div>
        <h1 id="page-publications" class="h1">Статьи</h1>
        <div class="b-article-previews-tags">
            <a href="javascript:;" class="b-article-previews-tags__tag b-article-previews-tags__tag_active">Экспертные</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Категорийные</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Лайфхаки</a>
        </div>
        <div class="b-article-previews-listing">
            <div class="b-article-previews-listing__inner">
                <div class="b-article-preview">
                    <div class="b-article-preview__inner">
                        <div class="b-article-preview__img-wrapper">
                            <a href="#" class="b-article-preview__link">
                                <img class="b-article-preview__img" alt="" src="img/u13150.png">
                            </a>
                        </div>
                        <div class="b-article-preview__content">
                            <div class="b-article-preview__title">
                                <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                            </div>
                            <div class="b-article-preview__text">
                                Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                            </div>
                            <div class="b-article-preview__stats-wrapper">
                                <div class="b-article-preview__time">31 мая 2017</div>
                                <div class="el-views">5178</div>
                                <!-- u13158.png -->
                            </div><!--  /.b-article-preview__stats-wrapper -->
                        </div>
                    </div>
                </div>
                <div class="b-article-preview">
                    <div class="b-article-preview__inner">
                        <div class="b-article-preview__img-wrapper">
                            <a href="#" class="b-article-preview__link">
                                <img class="b-article-preview__img" alt="" src="img/u13150.png">
                            </a>
                        </div>
                        <div class="b-article-preview__content">
                            <div class="b-article-preview__title">
                                <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                            </div>
                            <div class="b-article-preview__text">
                                Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                            </div>
                            <div class="b-article-preview__stats-wrapper">
                                <div class="b-article-preview__time">31 мая 2017</div>
                                <div class="el-views">5178</div>
                                <!-- u13158.png -->
                            </div><!--  /.b-article-preview__stats-wrapper -->
                        </div>
                    </div>
                </div>
                <div class="b-article-preview">
                    <div class="b-article-preview__inner">
                        <div class="b-article-preview__img-wrapper">
                            <a href="#" class="b-article-preview__link">
                                <img class="b-article-preview__img" alt="" src="img/u13150.png">
                            </a>
                        </div>
                        <div class="b-article-preview__content">
                            <div class="b-article-preview__title">
                                <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                            </div>
                            <div class="b-article-preview__text">
                                Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                            </div>
                            <div class="b-article-preview__stats-wrapper">
                                <div class="b-article-preview__time">31 мая 2017</div>
                                <div class="el-views">5178</div>
                                <!-- u13158.png -->
                            </div><!--  /.b-article-preview__stats-wrapper -->
                        </div>
                    </div>
                </div>
                <div class="b-article-preview">
                    <div class="b-article-preview__inner">
                        <div class="b-article-preview__img-wrapper">
                            <a href="#" class="b-article-preview__link">
                                <img class="b-article-preview__img" alt="" src="img/u13150.png">
                            </a>
                        </div>
                        <div class="b-article-preview__content">
                            <div class="b-article-preview__title">
                                <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                            </div>
                            <div class="b-article-preview__text">
                                Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                            </div>
                            <div class="b-article-preview__stats-wrapper">
                                <div class="b-article-preview__time">31 мая 2017</div>
                                <div class="el-views">5178</div>
                                <!-- u13158.png -->
                            </div><!--  /.b-article-preview__stats-wrapper -->
                        </div>
                    </div>
                </div>
                <div class="b-article-preview">
                    <div class="b-article-preview__inner">
                        <div class="b-article-preview__img-wrapper">
                            <a href="#" class="b-article-preview__link">
                                <img class="b-article-preview__img" alt="" src="img/u13150.png">
                            </a>
                        </div>
                        <div class="b-article-preview__content">
                            <div class="b-article-preview__title">
                                <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                            </div>
                            <div class="b-article-preview__text">
                                Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                            </div>
                            <div class="b-article-preview__stats-wrapper">
                                <div class="b-article-preview__time">31 мая 2017</div>
                                <div class="el-views">5178</div>
                                <!-- u13158.png -->
                            </div><!--  /.b-article-preview__stats-wrapper -->
                        </div>
                    </div>
                </div>
                <div class="b-article-preview">
                    <div class="b-article-preview__inner">
                        <div class="b-article-preview__img-wrapper">
                            <a href="#" class="b-article-preview__link">
                                <img class="b-article-preview__img" alt="" src="img/u13150.png">
                            </a>
                        </div>
                        <div class="b-article-preview__content">
                            <div class="b-article-preview__title">
                                <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                            </div>
                            <div class="b-article-preview__text">
                                Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                            </div>
                            <div class="b-article-preview__stats-wrapper">
                                <div class="b-article-preview__time">31 мая 2017</div>
                                <div class="el-views">5178</div>
                                <!-- u13158.png -->
                            </div><!--  /.b-article-preview__stats-wrapper -->
                        </div>
                    </div>
                </div>
                <div class="b-article-previews-listing__paginator">
                    <div class="pagination-conteiner js-last-child">
                        <div class="pagination">
                            <span class="pagination__item pagination__item_disabled"></span>
                            <span class="pagination__item pagination__item_active">1</span>
                            <a class="pagination__item " href="/pages/publications/page/2">2</a>
                            <a class="pagination__item " href="/pages/publications/page/3">3</a>
                            <a class="pagination__item " href="/pages/publications/page/4">4</a>
                            <a class="pagination__item" href="/pages/publications/page/2"></a>
                        </div>
                        <!--  /.pagination -->
                    </div>
                    <!--  /.pagination-conteiner -->
                </div><!--  /.b-article-previews-listing__paginator -->
            </div><!--  /.b-article-previews-listing__inner -->
        </div><!--  /.b-article-previews-listing -->
        <div class="b-article-previews-tags b-article-previews-tags_bot-tags">
            <p class="b-article-previews-tags__title">Теги</p>
            <a href="javascript:;" class="b-article-previews-tags__tag">Как выбрать товар</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Все о ластиках</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Готовимся к школе</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Все о черчении</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Что-то еще</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">И еще</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Классика</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Разница</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Как ваши дела</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Публичное</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Странный текст</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Новая корзина</a>
        </div>
    </section>
{% include "elems/_footer.html" %}