{% set pagename = "Смена пароля" %}{% set pass = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="password-change stnd-block clearfix">
                    <div class="password-change__form">
                        <form method="post" name="Company" class="form" id="Company">
                            <div class="form__item form__item_labeltop js-label-top" style="">
                                <label for="password-old">Старый пароль</label><span class="form__input">
                                <input id="password-old" name="password-old" placeholder="Введите старый пароль" type="password" value="" class=""></span>
                            </div>
                            <div class="form__item form__item_labeltop js-label-top " style="">
                                <label for="password">Новый пароль</label><span class="form__input">
                                <input id="password" name="password" placeholder="Введите новый пароль" type="password" value=""></span>
                            </div>
                            <div class="form__item form__item_labeltop js-label-top " style="">
                                <label for="password-confirm">Подтверждение</label><span class="form__input">
                                <input id="password-confirm" name="password-confirm" placeholder="Повторите новый пароль" type="password" value=""></span>
                            </div>
                            <input type="submit" name="savePassword" class="form__submit el-button el-button_prim-0" value="Сохранить">
                        </form>
                    </div>
                    <div class="password-change__description">
                        <p class="password-change__description--title stnd-title-weight">Какой пароль считается безопасным?</p>
                        <p class="password-change__description--text stnd-text">Для того, что бы ваш личный кабинет был в максимальной безопасности мы рекомендуем вам придерживаться следующих правил при создании пароля:</p>
                        <ol class="el-list-number">
                            <li class="el-list-number__item">Пароль должен быть не менее 8 символов</li>
                            <li class="el-list-number__item">Пароль должен содержать цифры от 0 до 9</li>
                            <li class="el-list-number__item">Пароль должен содержать спецсимволы, например @</li>
                            <li class="el-list-number__item">При создании пароля используйте строчные и заглавные буквы</li>
                        </ol>
                    </div>
                </div>

                <!-- <h1 class="stnd-title stnd-title_big">Подписка на рассылку</h1>
                    <div class="news-subscription stnd-block">
                        <ul class="el-list-checkround">
                            <li class="el-list-checkround__item"></li>
                        </ul>

                        <div class="el-checkbox2-container">
                            <input id="q867_6" type="checkbox" class="el-checkbox2 el-checkbox2_marked" />
                            <label for="q867_6"></label><label for="q867_6">Лэйбл</label>
                        </div>
                    </div>


                    <h1 class="stnd-title stnd-title_big">Дружеская программа</h1>
                    <div class="news-subscription stnd-block">

                    </div> -->

            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}