{% set pagename = "Новости" %}
{% include "elems/_head.html" %}
<section id="content-block" class="content">
    <div class="flash-message-block">
        <!---->
        <!--
            -->
    </div>

    <div id="breadcrumbs-block" class="b-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
        <!--
            -->
        <!--
        -->
    </div>
    <h1 id="page-publications" class="h1">{{pagename}}</h1><!--  /.h1 -->
    <div class="b-article-previews-tags">
        <a href="javascript:;" class="b-article-previews-tags__tag b-article-previews-tags__tag_active">Акции</a>
        <a href="javascript:;" class="b-article-previews-tags__tag">Конкурсы</a>
        <a href="javascript:;" class="b-article-previews-tags__tag">Спецпредложения</a>
    </div>
    <div class="b-article-previews-listing">
        <div class="b-article-previews-listing__inner">
            <div class="b-article-preview">
                <div class="b-article-preview__inner">
                    <div class="b-article-preview__img-wrapper">
                        <a href="#" class="b-article-preview__link">
                            <img class="b-article-preview__img" src="img/u13150.png" alt="">
                        </a>
                    </div>
                    <div class="b-article-preview__content">
                        <div class="b-article-preview__title">
                            <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                        </div>
                        <div class="b-article-preview__text">
                            Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                        </div>
                        <div class="b-article-preview__stats-wrapper">
                            <div class="b-article-preview__time">31 мая 2017</div>
                            <div class="el-views">5178</div>
                            <!-- u13158.png -->
                        </div><!--  /.b-article-preview__stats-wrapper -->
                    </div>
                </div>
            </div>
            <div class="b-article-preview">
                <div class="b-article-preview__inner">
                    <div class="b-article-preview__img-wrapper">
                        <a href="#" class="b-article-preview__link">
                            <img class="b-article-preview__img" src="img/u13150.png" alt="">
                        </a>
                    </div>
                    <div class="b-article-preview__content">
                        <div class="b-article-preview__title">
                            <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                        </div>
                        <div class="b-article-preview__text">
                            Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                        </div>
                        <div class="b-article-preview__stats-wrapper">
                            <div class="b-article-preview__time">31 мая 2017</div>
                            <div class="el-views">5178</div>
                            <!-- u13158.png -->
                        </div><!--  /.b-article-preview__stats-wrapper -->
                    </div>
                </div>
            </div>
            <div class="b-article-preview">
                <div class="b-article-preview__inner">
                    <div class="b-article-preview__img-wrapper">
                        <a href="#" class="b-article-preview__link">
                            <img class="b-article-preview__img" src="img/u13150.png" alt="">
                        </a>
                    </div>
                    <div class="b-article-preview__content">
                        <div class="b-article-preview__title">
                            <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                        </div>
                        <div class="b-article-preview__text">
                            Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                        </div>
                        <div class="b-article-preview__stats-wrapper">
                            <div class="b-article-preview__time">31 мая 2017</div>
                            <div class="el-views">5178</div>
                            <!-- u13158.png -->
                        </div><!--  /.b-article-preview__stats-wrapper -->
                    </div>
                </div>
            </div>
            <div class="b-article-preview">
                <div class="b-article-preview__inner">
                    <div class="b-article-preview__img-wrapper">
                        <a href="#" class="b-article-preview__link">
                            <img class="b-article-preview__img" src="img/u13150.png" alt="">
                        </a>
                    </div>
                    <div class="b-article-preview__content">
                        <div class="b-article-preview__title">
                            <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                        </div>
                        <div class="b-article-preview__text">
                            Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                        </div>
                        <div class="b-article-preview__stats-wrapper">
                            <div class="b-article-preview__time">31 мая 2017</div>
                            <div class="el-views">5178</div>
                            <!-- u13158.png -->
                        </div><!--  /.b-article-preview__stats-wrapper -->
                    </div>
                </div>
            </div>
            <div class="b-article-preview">
                <div class="b-article-preview__inner">
                    <div class="b-article-preview__img-wrapper">
                        <a href="#" class="b-article-preview__link">
                            <img class="b-article-preview__img" src="img/u13150.png" alt="">
                        </a>
                    </div>
                    <div class="b-article-preview__content">
                        <div class="b-article-preview__title">
                            <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                        </div>
                        <div class="b-article-preview__text">
                            Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                        </div>
                        <div class="b-article-preview__stats-wrapper">
                            <div class="b-article-preview__time">31 мая 2017</div>
                            <div class="el-views">5178</div>
                            <!-- u13158.png -->
                        </div><!--  /.b-article-preview__stats-wrapper -->
                    </div>
                </div>
            </div>
            <div class="b-article-preview">
                <div class="b-article-preview__inner">
                    <div class="b-article-preview__img-wrapper">
                        <a href="#" class="b-article-preview__link">
                            <img class="b-article-preview__img" src="img/u13150.png" alt="">
                        </a>
                    </div>
                    <div class="b-article-preview__content">
                        <div class="b-article-preview__title">
                            <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                        </div>
                        <div class="b-article-preview__text">
                            Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                        </div>
                        <div class="b-article-preview__stats-wrapper">
                            <div class="b-article-preview__time">31 мая 2017</div>
                            <div class="el-views">5178</div>
                            <!-- u13158.png -->
                        </div><!--  /.b-article-preview__stats-wrapper -->
                    </div>
                </div>
            </div>
            <div class="b-article-previews-listing__paginator">
                <div class="pagination-conteiner js-last-child">
                    <div class="pagination">
                        <span class="pagination__item pagination__item_disabled"></span>
                        <span class="pagination__item pagination__item_active">1</span>
                        <a class="pagination__item " href="/pages/publications/page/2">2</a>
                        <a class="pagination__item " href="/pages/publications/page/3">3</a>
                        <a class="pagination__item " href="/pages/publications/page/4">4</a>
                        <a class="pagination__item" href="/pages/publications/page/2"></a>
                    </div>
                    <!--  /.pagination -->
                </div>
                <!--  /.pagination-conteiner -->
            </div><!--  /.b-article-previews-listing__paginator -->
        </div><!--  /.b-article-previews-listing__inner -->
    </div><!--  /.b-article-previews-listing -->
</section>
{% include "elems/_footer.html" %}