{% set pagename = "Блог" %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="flash-message-block"></div>

        <div id="breadcrumbs-block" class="b-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList"></div>
        <h1 id="page-publications" class="h1">Блог</h1><!--  /.h1 -->
        <!-- BANNERS -->
        <div class="bnrs bnrs_big">
            <!-- <h3 class="bnrs__title">
                <a href="#" class="product__sub-title product__sub-title_big">Полезная информация <i class="el-arrow-but el-arrow-but_right"></i></a>
            </h3> -->
            <div class="bnrs__row">
                <div class="bnrs__block bnrs__block_x">
                    <figure class="bnr">
                        <img class="bnrs__img" src="img/u3076.png" />
                        <figcaption class="bnrs__text">
                            <a href="#">
                                <span class="bnrs__title">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</span>
                                <span>Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть</span>
                            </a>
                        </figcaption>
                    </figure>
                </div>
                <div class="bnrs__block bnrs__block_2">
                    <figure class="bnr">
                        <img src="img/u3083.png" class="bnrs__img" />
                        <figcaption class="bnrs__text">
                            <a href="#">
                                <span class="bnrs__title">Cum sociis natoque penatibus et magnis dis parturient montes.</span>
                            </a>
                        </figcaption>
                    </figure>
                    <figure class="bnr">
                        <img src="img/u3080.png" class="bnrs__img" />
                        <figcaption class="bnrs__text">
                            <a href="#">
                                <span class="bnrs__title">Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</span>
                            </a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <h2 class="h1">Статьи</h2><!--  /.h2 -->
        <!-- <div class="b-article-previews-tags">
            <a href="javascript:;" class="b-article-previews-tags__tag b-article-previews-tags__tag_active">Акции</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Конкурсы</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Спецпредложения</a>
        </div> -->
        <div class="b-article-previews-listing">
            <div class="b-article-previews-listing__inner">
                <div class="b-article-preview">
                    <div class="b-article-preview__inner">
                        <div class="b-article-preview__img-wrapper">
                            <a href="#" class="b-article-preview__link">
                                <img class="b-article-preview__img" src="img/u13150.png" alt="">
                                <div class="b-article-preview-photo-icons">
                                    <span class="b-article-preview-photo-icons__ico b-article-preview-photo-icons__gift"></span>
                                </div>
                            </a>
                        </div>
                        <div class="b-article-preview__content">
                            <div class="b-article-preview__title">
                                <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                            </div>
                            <div class="b-article-preview__text">
                                Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                            </div>
                            <div class="b-article-preview__tags"><div class="b-article-preview__tag b-article-preview__tag_red">Маркетинг</div></div>
                            <div class="b-article-preview__stats-wrapper">
                                <div class="b-article-preview__time">31 мая 2017</div>
                                <div class="el-views">5178</div>
                                <!-- u13158.png -->
                            </div><!--  /.b-article-preview__stats-wrapper -->
                        </div>
                    </div>
                </div>
                <div class="b-article-preview">
                    <div class="b-article-preview__inner">
                        <div class="b-article-preview__img-wrapper">
                            <a href="#" class="b-article-preview__link">
                                <img class="b-article-preview__img" src="img/u13150.png" alt="">
                            </a>
                        </div>
                        <div class="b-article-preview__content">
                            <div class="b-article-preview__title">
                                <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                            </div>
                            <div class="b-article-preview__text">
                                Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                            </div>
                            <div class="b-article-preview__stats-wrapper">
                                <div class="b-article-preview__time">31 мая 2017</div>
                                <div class="el-views">5178</div>
                                <!-- u13158.png -->
                            </div><!--  /.b-article-preview__stats-wrapper -->
                        </div>
                    </div>
                </div>
                <div class="b-article-preview">
                    <div class="b-article-preview__inner">
                        <div class="b-article-preview__img-wrapper">
                            <a href="#" class="b-article-preview__link">
                                <img class="b-article-preview__img" src="img/u13150.png" alt="">
                            </a>
                        </div>
                        <div class="b-article-preview__content">
                            <div class="b-article-preview__title">
                                <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                            </div>
                            <div class="b-article-preview__text">
                                Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                            </div>
                            <div class="b-article-preview__stats-wrapper">
                                <div class="b-article-preview__time">31 мая 2017</div>
                                <div class="el-views">5178</div>
                                <!-- u13158.png -->
                            </div><!--  /.b-article-preview__stats-wrapper -->
                        </div>
                    </div>
                </div>
                <a href="javascript:;" class="b-article-previews-show-all"><span>Смотреть все статьи</span><span class="el-arrow-but el-arrow-but_alt el-arrow-but_right"></span></a>
            </div><!--  /.b-article-previews-listing__inner -->
        </div><!--  /.b-article-previews-listing -->
        <h2 class="h1">Обзоры товаров</h2><!--  /.h2 -->
        <!-- <div class="b-article-previews-tags">
            <a href="javascript:;" class="b-article-previews-tags__tag b-article-previews-tags__tag_active">Акции</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Конкурсы</a>
            <a href="javascript:;" class="b-article-previews-tags__tag">Спецпредложения</a>
        </div> -->
        <div class="b-article-previews-listing">
            <div class="b-article-previews-listing__inner">
                <div class="b-article-preview">
                    <div class="b-article-preview__inner">
                        <div class="b-article-preview__img-wrapper">
                            <a href="#" class="b-article-preview__link">
                                <img class="b-article-preview__img" src="img/u13150.png" alt="">
                            </a>
                        </div>
                        <div class="b-article-preview__content">
                            <div class="b-article-preview__title">
                                <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                            </div>
                            <div class="b-article-preview__text">
                                Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                            </div>
                            <div class="b-article-preview__stats-wrapper">
                                <div class="b-article-preview__time">31 мая 2017</div>
                                <div class="el-views">5178</div>
                                <!-- u13158.png -->
                            </div><!--  /.b-article-preview__stats-wrapper -->
                        </div>
                    </div>
                </div>
                <div class="b-article-preview">
                    <div class="b-article-preview__inner">
                        <div class="b-article-preview__img-wrapper">
                            <a href="#" class="b-article-preview__link">
                                <img class="b-article-preview__img" src="img/u13150.png" alt="">
                            </a>
                        </div>
                        <div class="b-article-preview__content">
                            <div class="b-article-preview__title">
                                <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                            </div>
                            <div class="b-article-preview__text">
                                Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                            </div>
                            <div class="b-article-preview__stats-wrapper">
                                <div class="b-article-preview__time">31 мая 2017</div>
                                <div class="el-views">5178</div>
                                <!-- u13158.png -->
                            </div><!--  /.b-article-preview__stats-wrapper -->
                        </div>
                    </div>
                </div>
                <div class="b-article-preview">
                    <div class="b-article-preview__inner">
                        <div class="b-article-preview__img-wrapper">
                            <a href="#" class="b-article-preview__link">
                                <img class="b-article-preview__img" src="img/u13150.png" alt="">
                            </a>
                        </div>
                        <div class="b-article-preview__content">
                            <div class="b-article-preview__title">
                                <a href="#" class="b-article-preview__link">Конкурс «8 причин, почему мне нравится Samsung Galaxy S8 | S8+» завершен</a>
                            </div>
                            <div class="b-article-preview__text">
                                Собрать ребенка в школу – простая и одновременно сложная задача. Школьный наряд должен быть
                            </div>
                            <div class="b-article-preview__stats-wrapper">
                                <div class="b-article-preview__time">31 мая 2017</div>
                                <div class="el-views">5178</div>
                                <!-- u13158.png -->
                            </div><!--  /.b-article-preview__stats-wrapper -->
                        </div>
                    </div>
                </div>
                <a href="javascript:;" class="b-article-previews-show-all"><span>Смотреть все обзоры</span><span class="el-arrow-but el-arrow-but_alt el-arrow-but_right"></span></a>
            </div><!--  /.b-article-previews-listing__inner -->
        </div><!--  /.b-article-previews-listing -->
    </section>
{% include "elems/_footer.html" %}