{% set pagename = "Основная информация" %}{% set genInfoN = true %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">
        <div class="cabinet clearfix">
{% include "elems/_leftmenu-cab.html" %}
            <section class="cabinet__right content__right">
                <h1 class="stnd-title stnd-title_big">{{ pagename }}</h1>
                <div class="cabinet-general clearfix">
                    <div id="banner-capability" class="cabinet__banner js-session-hide">
                        <button type="button" class="cabinet__banner--close el-del el-button js-close"
                        data-target="#banner-capability" data-session="showBannerСapability"></button>
                        <a href="#" class="cabinet__banner--link">
                            <img src="img/cab-generall-baner.png" alt="">
                        </a>
                    </div>
                    <div class="cabinet-general__statistics">
                        <div class="cabinet-general__statistics--item clearfix">
                            <div class="statistics-icon calendar-ico"></div>
                            <div class="statistics-text">
                                <p class="statistics-text__name">Последний заказ</p>
                                <p class="statistics-text__value">--</p>
                            </div>
                        </div>
                        <div class="cabinet-general__statistics--item clearfix">
                            <div class="statistics-icon diamond-ico"></div>
                            <div class="statistics-text">
                                <p class="statistics-text__name">Бонусные баллы</p>
                                <p class="statistics-text__value">0</p>
                            </div>
                        </div>
                        <div class="cabinet-general__statistics--item clearfix">
                            <div class="statistics-icon bank-ico"></div>
                            <div class="statistics-text">
                                <p class="statistics-text__name">Ваша задолженность</p>
                                <p class="statistics-text__value">Нет</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cabinet__right--noauth">
                    <!-- <div class="cabinet__right--noauth-image"><img src="img/noauth-image.png" alt="" /></div> -->
                    <div class="cabinet__right--noauth-image"><img src="img/ico-svg/Pictogr_OsnovnInfo.svg" alt="" /></div>

                    <div class="cabinet__right--noauth-text">
                        <p>Здравствуйте!</p>
                        <p>Благодарим вас за регистрацию на сайте "Офисная Служба".</p>
                        <p>В данном разделе вы можете быстро просматривать <a>последние заказы</a>, <a>ответственных за заказ лиц</a>, а так же <a>адреса доставки заказов</a>.</p>
                        <p>Получить более подробную информацию, добавить или отредактировать ее вы сможе в соответствующих разделах личного кабинета.</p>
                    </div>
                </div>
            </section>
        </div><!--</ cabinet>-->
    </section><!--</ content>-->
{% include "elems/_footer.html" %}