{% set pagename = "Оформление заказа" %}
{% include "elems/_head.html" %}
    <section id="content-block" class="content">   
    <header class="content__header-lr">
    <h1 class="h1 h1_order">Оформление заказа</h1>
    <a href="" class="content__header-but">Вернуться в корзину</a>
</header>

<div id="js-slide-main" class="order-main cart-main">

<section class="b-compliment unit-block" id="Compliments">
    <div class="stnd-title">Выберите один из подарков</div><!--  /.b-compliment__title -->
    <p class="b-compliment__notice">Так как сумма вашего заказа выше 3000 рублей, мы предлагаем Вам выбрать подарок!</p>
    <!-- ul.categories-list>(.-item>a.-conteiner>img.-img+span.-title{Папки-регистротары}+input:checkbox.-checkbox) -->
    <ul class="categories-list categories-list_compliment">

        <li class="categories-list__item box-label-compliment"><label for="1503968" class="default el-box-label">
            <input type="radio" id="1503968"  name="compliment" value="1504159" />
             <span class="box-label-compliment__wrap el-box-label__wrap"><span class="el-box-label__wrap-ico">
              <img style="width:60px;height:60px" src="http://img.3259404.ru/3259404.ru/variants/small_image/i52e254434f75d.png" alt="Изображение подарка" class="categories-list__img" />
              <span class="box-label-compliment__text categories-list__title">Шоколадный батончик Bounty 55г</span>
            </span></span>
        </label></li><!--  /.categories-list__item -->
        <li class="categories-list__item el-box-label box-label-compliment"><label for="1503969" class="default el-box-label">
            <input type="radio" id="1503969"  name="compliment" value="1504159" />
             <span class="box-label-compliment__wrap el-box-label__wrap"><span class="el-box-label__wrap-ico">
              <img style="width:60px;height:60px" src="http://img.3259404.ru/3259404.ru/variants/small_image/i52e254434f75d.png" alt="Изображение подарка" class="categories-list__img" />
              <span class="box-label-compliment__text categories-list__title">Шоколадный батончик Bounty 55г</span>
            </span></span>
        </label></li><!--  /.categories-list__item -->
        <li class="categories-list__item el-box-label box-label-compliment"><label for="1503967" class="default el-box-label">
            <input type="radio" id="1503967"  name="compliment" value="1504157" />
             <span class="box-label-compliment__wrap el-box-label__wrap"><span class="el-box-label__wrap-ico">
              <img style="width:60px;height:60px" src="http://img.3259404.ru/3259404.ru/variants/small_image/i52e254434f75d.png" alt="Изображение подарка" class="categories-list__img" />
              <span class="box-label-compliment__text categories-list__title">Шоколадный батончик Bounty 55г</span>
            </span></span>
        </label></li><!--  /.categories-list__item -->
        <li class="categories-list__item el-box-label box-label-compliment"><label for="1503966" class="default el-box-label">
            <input type="radio" id="1503966" name="compliment" value="1504157" />
             <span class="box-label-compliment__wrap el-box-label__wrap"><span class="el-box-label__wrap-ico">
              <img style="width:60px;height:60px" src="http://img.3259404.ru/3259404.ru/variants/small_image/i52e254434f75d.png" alt="Изображение подарка" class="categories-list__img" />
              <span class="box-label-compliment__text categories-list__title">Шоколадный батончик Bounty 55г</span>
            </span></span>
        </label></li><!--  /.categories-list__item -->

    </ul><!--  /.categories-list -->
</section><!--  /unit-block -->


<section class="b-compliment unit-block js-gift-configurator">
    <h2 class="stnd-title">
      <i class="ico-compliment-radius"></i> Выберите подарки по акции "<a href="http://3259404.ru/actions/aromatnyy-kofe-hausbrandt_429" target="_blank" class="el-link_alt">Ароматный кофе Hausbrandt!</a>" !
    </h2><!--  /.b-compliment__title -->

    <div class="b-compliment__list-container">
        <div class="b-compliment__list">
            <div class="el-box-border gift-calc js-gift-block">
                <!-- <div class="el-box-border__conteiner"> -->
                <input type="hidden" name="action-434&#x5B;gifts&#x5D;&#x5B;0&#x5D;&#x5B;id&#x5D;" value="14">
                <div class="gift-calc__img el-box-border__item">
                    <img src="http://img.3259404.ru/3259404.ru/variants/small_image/125473.jpg" alt="изображение подарка по акции" width="50px" />
                </div>
                <div class="gift-calc__name el-box-border__item">Зерновой кофе Hausbrandt Rossa 1кг</div>
                <div class="el-box-border__item el-counter"><input name="action-434&#x5B;gifts&#x5D;&#x5B;0&#x5D;&#x5B;count&#x5D;" class="js-input-spin" required="required" min="0" type="text" value="1">
                    <!--.js-input-spin-->
                </div>
                <div class="el-box-border__item gift-calc__balls">за <span class="js-gift-price">2</span> балла</div>
                <!--  /.el-box-border__conteiner -->
            </div>
        </div>   <!--  /.categories-list  -->
        <div class="b-compliment__list">
            <div class="el-box-border gift-calc js-gift-block">
                <!-- <div class="el-box-border__conteiner"> -->
                <input type="hidden" name="action-434&#x5B;gifts&#x5D;&#x5B;0&#x5D;&#x5B;id&#x5D;" value="14">
                <div class="gift-calc__img el-box-border__item">
                    <img src="http://img.3259404.ru/3259404.ru/variants/small_image/125473.jpg" alt="изображение подарка по акции" width="50px" />
                </div>
                <div class="gift-calc__name el-box-border__item">Зерновой кофе Hausbrandt Rossa 1кг</div>
                <div class="el-box-border__item el-counter"><input name="action-434&#x5B;gifts&#x5D;&#x5B;0&#x5D;&#x5B;count&#x5D;" class="js-input-spin" required="required" min="0" type="text" value="1">
                    <!--.js-input-spin-->
                </div>
                <div class="el-box-border__item gift-calc__balls">за <span class="js-gift-price">1</span> балл</div>
                <!--</div>-->
                <!--  /.el-box-border__conteiner -->
            </div>
            <!--  /.categories-list__item -->
        </div>
        <div class="b-compliment__list">
            <div class="el-box-border gift-calc js-gift-block">
                <!-- <div class="el-box-border__conteiner"> -->
                <input type="hidden" name="action-434&#x5B;gifts&#x5D;&#x5B;0&#x5D;&#x5B;id&#x5D;" value="14">
                <div class="gift-calc__img el-box-border__item">
                    <img src="http://img.3259404.ru/3259404.ru/variants/small_image/125473.jpg" alt="изображение подарка по акции" width="50px" />
                </div>
                <div class="gift-calc__name el-box-border__item">Зерновой кофе Hausbrandt Rossa 1кг</div>
                <div class="el-box-border__item el-counter"><input name="action-434&#x5B;gifts&#x5D;&#x5B;0&#x5D;&#x5B;count&#x5D;" class="js-input-spin" required="required" min="0" type="text" value="1">
                    <!--.js-input-spin-->
                </div>
                <div class="el-box-border__item gift-calc__balls">за <span class="js-gift-price">1</span> балл</div>
                <!--</div>-->
                <!--  /.el-box-border__conteiner -->
            </div>
            <!--  /.categories-list__item -->
        </div>
        <div class="b-compliment__counter el-marked">Остаток: 1 балл</div>
    </div><!--  /.categories-list-container  --><div class="b-compliment__info">
        <div>
            Вы приобрели <span class="el-marked">7</span> товаров по акции! Вам доступен <span class="el-marked"><span class="js-gift-credit">1</span> балл</span> для выбора подарков!
        </div>
        <br /><br />
        <div>
            <b>Условия акции</b>
            <p>Купи 6 пачек зернового кофе Hausbrandt Rossa 1кг - получи еще одну в подарок!</p>
            <p> </p>
        </div>
    </div>


    <!--  /.b-compliment__info -->
</section><!--  /.b-compliment__conteiner  /unit-block -->

<section class="b-compliment unit-block"><!-- накопительные и прочие акции, где нужно просто показывть инфу -->
    <h2 class="stnd-title">Выберите подарки по акции "<a href="http://3259404.ru/actions/aromatnyy-kofe-hausbrandt_429" target="_blank" class="el-link_alt">Ароматный кофе Hausbrandt!</a>" !</h2><!--  /.b-compliment__title -->
    <div class="b-compliment__info b-compliment__info_wide">
        <img class="b-compliment__info-img" src="http://img.3259404.ru/3259404.ru/actions/434/presents/434-present.jpg"/>
        <div class="b-compliment__info-text">
          <p>Покупайте продукты Esselte, участвующие в акции, вырезайте купоны Esselte с баллами. Зарегистрируйтесь на www.esselte.com/heroes и скачайте лист накопления баллов.</p>
          <br><p>Наклеивайте купоны на лист накопления баллов.
          Когда соберете желаемое количество баллов, пришлите его в Esselte.</p>
          <br><p>Ждите ваш приз - портативный Bluetooth мини-динамик Leitz в стильных цветах или универсальный короб для хранения Leitz Click & Store формата А5
          Период проведения акции - с 31-08-2016 по 31-12-2016.
          Все вопросы Вы можете задать по телефону +7 (812) 325-94-04, либо по электронной почте <001@3259404 class="ru"></001@3259404>
          </p>
        </div>
    </div><!--  /.b-compliment__info -->
</section><!--  /unit-block -->

<section class="unit-block">
  <div class="flex-rl">
    <h3 class="stnd-title">Доставка Вашего заказа в <span class="cart-widget__city el-link_alt js-city js-ajax-load-to-container2 ico-arrow-orange ico-arrow-orange_90" data-target="#lightbox-city" data-url="/app/dpd/ajaxchoosecity" data-container="#lightbox-city" data-postparamname="no">г. Санкт-Петербург</span></h3>
    <button class="el-button el-button_ghost2 el-button_ghost2_big ico-addaddress js-lightbox" data-target="#address-add">Добавить адрес</button>
  </div>
  <table class="table2">
    <tr class="table2__tr">
      <th class="table2__th"></th>
      <th class="table2__th">Название</th>
      <th class="table2__th">Город</th>
      <th class="table2__th">Улица</th>
      <th class="table2__th">Дом</th>
      <th class="table2__th"></th>
    </tr>
    <tr class="table2__tr js-click-parent">
      <td class="table2__td form__radio">
          <input class="js-click-parent js-click-children" type="radio" name="contact" value="34585">
          <i class="form__input-style"></i>
      </td>
      <td class="table2__td">Офис</td>
      <td class="table2__td">г. Санкт-Петербург</td>
      <td class="table2__td">ул. Расстанная</td>
      <td class="table2__td">27</td>
      <td class="table2__td table2__td_button">
        <button type="button" title="Редактировать" class="el-button js-lightbox"
        data-target="#address-edit-11452">
            <span>Изменить</span>
        </button>
      </td>
    </tr>
    <tr class="table2__tr js-click-parent">
      <td class="table2__td form__radio">
          <input class="js-click-parent js-click-children" type="radio" name="contact" value="34585">
          <i class="form__input-style"></i>
      </td>
      <td class="table2__td">Офис</td>
      <td class="table2__td">г. Санкт-Петербург</td>
      <td class="table2__td">ул. Расстанная</td>
      <td class="table2__td">27</td>
      <td class="table2__td table2__td_button">
        <button type="button" title="Редактировать" class="el-button js-lightbox"
        data-target="#address-edit-11452">
            <span>Изменить</span>
        </button>
      </td>
    </tr>
    <tr class="table2__tr js-click-parent">
      <td class="table2__td form__radio">
          <input class="js-click-parent js-click-children" type="radio" name="contact" value="34585">
          <i class="form__input-style"></i>
      </td>
      <td class="table2__td">Офис</td>
      <td class="table2__td">г. Санкт-Петербург</td>
      <td class="table2__td">ул. Расстанная</td>
      <td class="table2__td">27</td>
      <td class="table2__td table2__td_button">
        <button type="button" title="Редактировать" class="el-button js-lightbox"
        data-target="#address-edit-11452">
            <span>Изменить</span>
        </button>
      </td>
    </tr>

  </table>
  <!-- table.table2>(.table2__tr>th.table2__th*6)+(.table2__tr>.table2__td*6) -->
</section><!--  /unit-block -->

<section class="unit-block">
  <h3 class="stnd-title">Доставка Вашего заказа в <span class="cart-widget__city el-link_alt js-city js-ajax-load-to-container2 ico-arrow-orange ico-arrow-orange_90" data-target="#lightbox-city" data-url="/app/dpd/ajaxchoosecity" data-container="#lightbox-city" data-postparamname="no">г. Санкт-Петербург</span></h3>
  <form class="form">
      <div class="form__item form__item_labeltop js-label-top  focus" style="">
          <label for="dpd_region_id">Область</label>
          <span class="form__input form__select">
            <select name="dpd_region_id" class="placeholder-no">
              <option value="78" selected="selected">Санкт-Петербург</option>
              <option value="77">Москва</option>
            </select>
          </span>
      </div>

      <div class="form__item form__item_labeltop js-label-top " style="">
          <label for="dpd_city_id">Город</label>
          <span class="form__input form__select">
            <select name="dpd_city_id"><option value="">Город</option>
              <option value="49694167">г. Санкт-Петербург</option>
            </select>
          </span>
      </div>

      <div class="form__item form__item_labeltop js-label-top " style="">
          <label for="street">Проспект / Улица</label>
          <span class="form__input">
            <input type="text" name="street" placeholder="Введите улицу" value="">
          </span>
      </div>

      <div class="form__item form__item_labeltop js-label-top  focus" style="">
          <label for="pass">Пропуск</label><span class="form__input form__select"><select name="pass" class="form-control mrg-b-lg placeholder-no"><option value="none">Не требуется</option>
        <option value="entrance">Оформляется на месте по документам</option>
        <option value="preorder">Заказать заранее</option></select></span>
      </div>
  </form>

  <form class="form">
      <div class="form__item-container">
        <div class="form__item form__item_labeltop js-label-top form__item_4" style="">
            <label for="build">Дом</label><span class="form__input"><input type="text" name="build" placeholder="Дом" value=""></span></div>

        <div class="form__item form__item_labeltop js-label-top form__item_4" style="">
            <label for="build_part">Корпус</label><span class="form__input"><input type="text" name="build_part" placeholder="Корпус" value=""></span></div>

        <div class="form__item form__item_labeltop js-label-top form__item_4" style="">
            <label for="floor">Этаж</label><span class="form__input"><input type="text" name="floor" placeholder="Этаж" value=""></span></div>

        <div class="form__item form__item_labeltop js-label-top form__item_4 form__item_last" style="">
            <label for="flat">Офис/Кв.</label><span class="form__input"><input type="text" name="flat" placeholder="Офис/Кв." value=""></span>
        </div>
      </div>

      <div class="form__item form__item_labeltop js-label-top" >
        <label for="remark">Примечания</label>
        <span class="cart-widget__textarea form__input form__textarea">
          <textarea name="remark" placeholder="Добавьте примечание"></textarea>
        </span>
      </div>
  </form>
</section><!--  /unit-block -->


<section class="unit-block">

<h3 class="stnd-title">Выберите способ оплаты</h3>
<div class="unit-block__wrap">
  <label for="cash" class="box-label-payment el-box-label">
    <input type="radio" name="payment" id="cash" value="cash">
    <span class="box-label-payment__wrap el-box-label__wrap">
      <span class="el-box-label__wrap-ico">
        <span class="box-label-payment__title">Наличными</span>
        <span class="box-label-payment__text">Оплата экспедитору при получении товара</span>
      </span>
    </span>
  </label><label for="online" class="box-label-payment el-box-label">
    <input type="radio" name="payment" id="online" value="online">
    <span class="box-label-payment__wrap el-box-label__wrap">
      <span class="el-box-label__wrap-ico">
        <span class="box-label-payment__title">Он-лайн платеж</span>
        <span class="box-label-payment__text">Оплата производится только после уточнения наличия товара</span>
      </span>
    </span>
  </label><label for="nocash" class="box-label-payment el-box-label">
    <input type="radio" name="payment" id="nocash" value="nocash">
    <span class="box-label-payment__wrap el-box-label__wrap">
      <span class="el-box-label__wrap-ico">
        <span class="box-label-payment__title">Безналичный расчет</span>
        <span class="box-label-payment__text">Необходимо будет добавить реквизиты организации</span>
      </span>
    </span>
  </label>
</div>

</section><!--  /unit-block -->

<section class="unit-block" id="order-requisites">
  <div class="flex-rl">
    <h3 class="stnd-title">Укажите реквизиты организации</h3>
    <a class="el-button el-button_ghost2 el-button_ghost2_big ico-print ico-print_min" target="_blank" href="/cart/index/print">Добавить отвественного</a>
  </div>
</section><!--  /unit-block -->

<section class="unit-block" id="Contact">
    <h3 class="stnd-title">Укажите ответственного за заказ</h3>
    <div class="form">
    <div class="form__item form__item_labeltop js-label-top " style="">
      <label for="name">Имя</label><span class="form__input"><input type="text" name="name" placeholder="Ваше имя" value=""></span>
    </div>
    <div class="form__item form__item_labeltop js-label-top " style="">
        <label for="surname">Фамилия</label><span class="form__input"><input type="text" name="surname" placeholder="Ваша фамилия" value=""></span>
    </div>
    </div>

    <div class="form">
    <div class="form__item form__item_labeltop js-label-top " style="">
        <label for="phone">Телефон</label><span class="form__input"><input type="text" name="phone" placeholder="+7 (___) ___-__-__" value=""></span>
    </div>
    <div class="form__item form__item_labeltop js-label-top" style="">
        <label for="email">Email</label><span class="form__input"><input type="text" name="email" placeholder="E-mail" value="" class=""></span>
   </div>
   </div>
</section><!--  /unit-block -->


<section class="unit-block">
  <div class="flex-rl">
    <h3 class="stnd-title">Выберите ответственного за заказ</h3>
    <button class="el-button el-button_ghost2 el-button_ghost2_big ico-addcontact js-lightbox" data-target="#contact-add">Добавить отвественного</button>
  </div>
  <table class="table2">
    <tr class="table2__tr">
      <th class="table2__th"></th>
      <th class="table2__th">Фамилия</th>
      <th class="table2__th">Имя</th>
      <th class="table2__th">Должность</th>
      <th class="table2__th">Телефон</th>
      <th class="table2__th"></th>
    </tr>
    <tr class="table2__tr js-click-parent">
      <td class="table2__td form__radio">
          <input class="js-click-parent js-click-children" type="radio" name="contact" value="34585">
          <i class="form__input-style"></i>
      </td>
      <td class="table2__td">Голов</td>
      <td class="table2__td">Алексей</td>
      <td class="table2__td">Маркетолог</td>
      <td class="table2__td">8 981 123-45-67</td>
      <td class="table2__td table2__td_button">
        <button type="button" title="Редактировать" class="el-button js-lightbox"
        data-target="#contact-edit-34585">
            <span>Изменить</span>
        </button>
      </td>
    </tr>
    <tr class="table2__tr js-click-parent">
      <td class="table2__td form__radio">
          <input class="js-click-parent js-click-children" type="radio" name="contact" value="34585">
          <i class="form__input-style"></i>
      </td>
      <td class="table2__td">Голов</td>
      <td class="table2__td">Алексей</td>
      <td class="table2__td">Маркетолог</td>
      <td class="table2__td">8 981 123-45-67</td>
      <td class="table2__td table2__td_button">
        <button type="button" title="Редактировать" class="el-button js-lightbox"
        data-target="#contact-edit-34585">
            <span>Изменить</span>
        </button>
      </td>
    </tr>
  </table>
  <!-- table.table2>(.table2__tr>th.table2__th*6)+(.table2__tr>.table2__td*6) -->
</section><!--  /unit-block -->

<section class="unit-block">
  <h3 class="stnd-title">Ваш комментарий к заказу</h3>
  <div class="form form_100">
    <div class="form__item form__item_labeltop js-label-top" style="">
        <label class="required" for="message">Текст сообщения</label>
        <span class="form__input form__textarea form__textarea_big">
          <textarea name="message" placeholder="Возможно есть какие-либо детали о вашем заказе, которые нам необходимо знать?" class=""></textarea>
        </span>
    </div>
  </div>
</section><!--  /unit-block -->

</div><!--  /order-main --><div id="js-slide-trg" class="cart-widget b-grid">
  <section class="unit-block unit-block_min">
    <div class="stnd-title">Состав заказа</div>
    <div class="cart-widget__scroll el-scroll-style js-scroll-cartitem">
      <!-- .cart-widget-good>img.cart-widget-good__img+(.cart-widget-good__left>.cart-widget-good__name+.cart-widget-good__counter) -->
      <div class="cart-widget-good">
        <img src="http://img.3259404.ru/3259404.ru/variants/small_image/125473.jpg" height="60" alt="Изображение" class="cart-widget-good__img">
        <div class="cart-widget-good__left">
          <a href="" class="cart-widget-good__name">Чай Richard King's Tea №1, черный, 25 пакетиков</a>
          <div class="cart-widget-good__counter">100 x <b>92,58 <span class="el-rub">РУБ</span></b></div>
        </div>
      </div>
      <div class="cart-widget-good">
        <img src="http://img.3259404.ru/3259404.ru/variants/small_image/125473.jpg" height="60" alt="Изображение" class="cart-widget-good__img">
        <div class="cart-widget-good__left">
          <a href="" class="cart-widget-good__name">Чай Richard King's Tea №1, черный, 25 пакетиков</a>
          <div class="cart-widget-good__counter">100 x <b>92,58 <span class="el-rub">РУБ</span></b></div>
        </div>
      </div>
      <div class="cart-widget-good">
        <img src="http://img.3259404.ru/3259404.ru/variants/small_image/125473.jpg" height="60" alt="Изображение" class="cart-widget-good__img">
        <div class="cart-widget-good__left">
          <a href="" class="cart-widget-good__name">Чай Richard King's Tea №1, черный, 25 пакетиков</a>
          <div class="cart-widget-good__counter">100 x <b>92,58 <span class="el-rub">РУБ</span></b></div>
        </div>
      </div>
      <div class="cart-widget-good">
        <img src="http://img.3259404.ru/3259404.ru/variants/small_image/125473.jpg" height="60" alt="Изображение" class="cart-widget-good__img">
        <div class="cart-widget-good__left">
          <a href="" class="cart-widget-good__name">Чай Richard King's Tea №1, черный, 25 пакетиков</a>
          <div class="cart-widget-good__counter">100 x <b>92,58 <span class="el-rub">РУБ</span></b></div>
        </div>
      </div>
    </div>
    <div class="cart-widget__show-full js-scroll-show-full" data-opened="Свернуть список">Показать все 244 товара</div>
  </section>
  <section class="unit-block unit-block_min">
    <div class="stnd-title">Доставка и оплата заказа</div>
    <p class="cart-widget__p">Бесплатная доставка — г. Санкт-Петербург, ул. Расстанная, д. 27, корп. Б, оф. 1</p>
    <p class="cart-widget__p">Способ оплаты — наличными</p>
    <p class="cart-widget__p">Ответственное лицо — Голов Алексей Владленович, +79818255547</p>
    <div class="cart-widget__label el-checkbox2-container">
      <input id="q867_6" type="checkbox" class="el-checkbox2 el-checkbox2_mid" /><label for="q867_6"></label>
      <label for="q867_6">Позвонить ответственному лицу за 30 мин. до доставки</label>
    </div>
    <button type="button" class="cart-widget__change-but el-button">Изменить</button>
  </section>
  <section class="unit-block unit-block_min">
    <div class="cart-widget__result">
      <div class="stnd-title">Итого</div>
      <div class="stnd-title"><b>48 139,58</b> <span class="el-rub">РУБ</span></div>
    </div>
    <a class="js-cart-submit cart-widget__but el-button el-button_prim-0"
    href="/order/index/compliment">Оформить заказ</a>
  </section>
</div>
         
    </section><!--</ content>-->

{% include "elems/_footer.html" %}
