{% include "elems/_head.html" %}
<div class="outh-buttons" style="margin-left: auto">
    <button data-id="sign-up">Зарегистрироваться</button>
    <button data-id="sign-in">Войти</button>
</div>

<!-- <div class="lightbox lightbox_full">
    <div class="lightbox__content">
        <button class="el-button el-del el-del_big js-lightbox_close"></button> 
Для старой модалки
    -->


<div class="outh">
    <div class="outh_sign-in" data-id="sign-in">
        <button class="outh_close">закрыть</button>


        <form
        method="post"
        name="system_auth_form6zOYVN"
        class="form form_login"
        id="login"
        action="/auth/user/login/?login=yes">
            <h2 class="outh_header">Войдите на сайт</h2>
            <input type="hidden" name="AUTH_FORM" value="Y" />
            <input type="hidden" name="TYPE" value="AUTH" />

            <div class="el-textinput-wrapper">
                <div class="el-textinput el-textinput_labeltop js-label-top">
                    <input class="el-textinput__input" tabindex="1" type="text" name="name1" id="name1" placeholder="Введите логин" value="">
                    <label class="el-textinput__label" for="name1">Логин</label>
                    <div class="el-textinput__error el-bubble el-bubble_bot el-bubble_right el-bubble_error">
                        <div class="el-bubble__wrap">Some text about error after validation text input</div>
                    </div>
                    <!-- появляется с модификатором el-textinput_error. проверка на ошибки будет на бэкенде -->
                </div>
            </div>

            <div class="el-textinput-wrapper">
                <div class="el-textinput el-textinput_labeltop js-label-top">
                    <input class="el-textinput__input" tabindex="2" type="text" name="name1" id="name1" placeholder="Введите пароль" value="">
                    <label class="el-textinput__label" for="name1">Пароль</label>
                    <div class="el-textinput__error el-bubble el-bubble_bot el-bubble_right el-bubble_error">
                        <div class="el-bubble__wrap">Some text about error after validation text input</div>
                    </div>
                    <!-- появляется с модификатором el-textinput_error. проверка на ошибки будет на бэкенде -->
                </div>
            </div>

            <input type="hidden" name="redirect" value="http://3259404.ru/auth/user/login">
            <input type="hidden" name="registered" value="true">
            <input type="submit" name="Login" class="auth-f__submit form__submit el-button el-button_prim-0 el-button_uppercase" value="Войти">
        

            <div class="outh_social">
                <span>Или войдите через социальные сети</span>
                <div class="social-enter social-enter_mini">
                    <span class="social-enter__but waves-effect social-enter__but_vk" id="connectvk" data-url="https://oauth.vk.com/authorize?client_id=5841927&amp;redirect_uri=http://3259404.ru/auth/oauth/index/provider/VKOAuth&amp;response_type=code&amp;display=popup&amp;scope=email" data-redirect="http://3259404.ru/auth/oauth/index/provider/VKOAuth" title="vk"><i></i> <span>vkontakte</span>
                    </span><span class="social-enter__but waves-effect social-enter__but_fb" id="connectfb" data-url="https://www.facebook.com/v2.8/dialog/oauth?client_id=706174186210200&amp;redirect_uri=http://3259404.ru/auth/oauth/index?provider=FBOAuth&amp;scope=email" data-redirect="http://3259404.ru/auth/oauth/index?provider=FBOAuth" title="fb"><i></i> <span>facebook</span>
                    </span><span class="social-enter__but waves-effect social-enter__but_google" id="connectgoogle" data-url="https://accounts.google.com/o/oauth2/auth?client_id=625340324490-ll9jvte3huebbqe24el19kc4svlfctsk.apps.googleusercontent.com&amp;redirect_uri=http://3259404.ru/auth/oauth/index?provider=GoogleOAuth&amp;response_type=code&amp;scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile" data-redirect="http://3259404.ru/auth/oauth/index?provider=GoogleOAuth" title="google"><i></i> <span>google+</span>
                    </span>
                </div>
            </div>

        </form>
        <div class="outh_footer">
            <a href="#">Зарегистрируйтесь</a> и пользуйтесь привелегиями постоянных клиентов
        </div>
    </div>
    <div class="outh_sign-up" data-id="sign-up">
        <button class="outh_close">закрыть</button>
        <div class="outh_sign-up_wrap">
            <div class="outh_sign-up__left">
            <form class="outh_sign-up__form" action="#" method="POST">
                    
                <h2 class="outh_header">Регистрация</h2>
                <div class="el-textinput-wrapper">
                    <div class="el-textinput el-textinput_labeltop js-label-top">
                        <input class="el-textinput__input" tabindex="2" type="text" name="name1" id="name1" placeholder="Укажите имя" value="">
                        <label class="el-textinput__label" for="name1">Имя</label>
                        <div class="el-textinput__error el-bubble el-bubble_bot el-bubble_right el-bubble_error">
                            <div class="el-bubble__wrap">Some text about error after validation text input</div>
                        </div>
                        <!-- появляется с модификатором el-textinput_error. проверка на ошибки будет на бэкенде -->
                    </div>
                </div>
                <div class="el-textinput-wrapper">
                    <div class="el-textinput el-textinput_labeltop js-label-top">
                        <input class="el-textinput__input" tabindex="2" type="text" name="name1" id="name1" placeholder="Укажите имя" value="">
                        <label class="el-textinput__label" for="name1">Имя</label>
                        <div class="el-textinput__error el-bubble el-bubble_bot el-bubble_right el-bubble_error">
                            <div class="el-bubble__wrap">Some text about error after validation text input</div>
                        </div>
                        <!-- появляется с модификатором el-textinput_error. проверка на ошибки будет на бэкенде -->
                    </div>
                </div>
                <div class="el-textinput-wrapper">
                    <div class="el-textinput el-textinput_labeltop js-label-top">
                        <input class="el-textinput__input" tabindex="2" type="text" name="name1" id="name1" placeholder="Укажите имя" value="">
                        <label class="el-textinput__label" for="name1">Имя</label>
                        <div class="el-textinput__error el-bubble el-bubble_bot el-bubble_right el-bubble_error">
                            <div class="el-bubble__wrap">Some text about error after validation text input</div>
                        </div>
                        <!-- появляется с модификатором el-textinput_error. проверка на ошибки будет на бэкенде -->
                    </div>
                </div>
                <div class="el-textinput-wrapper">
                    <div class="el-textinput el-textinput_labeltop js-label-top">
                        <input class="el-textinput__input" tabindex="2" type="text" name="name1" id="name1" placeholder="Укажите имя" value="">
                        <label class="el-textinput__label" for="name1">Имя</label>
                        <div class="el-textinput__error el-bubble el-bubble_bot el-bubble_right el-bubble_error">
                            <div class="el-bubble__wrap">Some text about error after validation text input</div>
                        </div>
                        <!-- появляется с модификатором el-textinput_error. проверка на ошибки будет на бэкенде -->
                    </div>
                </div>
                <div class="el-textinput-wrapper">
                    <div class="el-textinput el-textinput_labeltop js-label-top">
                        <input class="el-textinput__input" tabindex="2" type="text" name="name1" id="name1" placeholder="Укажите имя" value="">
                        <label class="el-textinput__label" for="name1">Имя</label>
                        <div class="el-textinput__error el-bubble el-bubble_bot el-bubble_right el-bubble_error">
                            <div class="el-bubble__wrap">Some text about error after validation text input</div>
                        </div>
                        <!-- появляется с модификатором el-textinput_error. проверка на ошибки будет на бэкенде -->
                    </div>
                </div>
                <!-- <input class="outh_field" type="text" name="surname" placeholder="Укажите фамилию">
                <input class="outh_field" type="text" name="phone" placeholder="Укажите телефон">
                <input class="outh_field" type="text" name="email" placeholder="Укажите email">
                <input class="outh_field" type="text" name="password" placeholder="Укажите пароль"> -->

                <div class="el-checkbox2-container">
                    <input id="user-status-company" type="radio" name="user-status" class="el-checkbox2 el-checkbox2_radial" checked>
                    <label for="user-status-company"></label><label for="user-status-company">Я заказываю от лица компании</label>
                </div>
                <div class="el-checkbox2-container">
                    <input id="user-status-private" type="radio" name="user-status" class="el-checkbox2 el-checkbox2_radial" checked>
                    <label for="user-status-private"></label><label for="user-status-private">Я частное лицо</label>
                </div>

                <button type="submit" class="el-button el-button_prim-0 el-button_uppercase outh_sign-up__submit">Зарегистрироваться</button>
                </form>

                <div class="outh_social">
                    <span>или войдите c помощью</span>
                    <div class="social-enter social-enter_mini">
                        <span class="social-enter__but waves-effect social-enter__but_vk" id="connectvk" data-url="https://oauth.vk.com/authorize?client_id=5841927&amp;redirect_uri=http://3259404.ru/auth/oauth/index/provider/VKOAuth&amp;response_type=code&amp;display=popup&amp;scope=email" data-redirect="http://3259404.ru/auth/oauth/index/provider/VKOAuth" title="vk"><i></i> <span>vkontakte</span>
                        </span><span class="social-enter__but waves-effect social-enter__but_fb" id="connectfb" data-url="https://www.facebook.com/v2.8/dialog/oauth?client_id=706174186210200&amp;redirect_uri=http://3259404.ru/auth/oauth/index?provider=FBOAuth&amp;scope=email" data-redirect="http://3259404.ru/auth/oauth/index?provider=FBOAuth" title="fb"><i></i> <span>facebook</span>
                        </span><span class="social-enter__but waves-effect social-enter__but_google" id="connectgoogle" data-url="https://accounts.google.com/o/oauth2/auth?client_id=625340324490-ll9jvte3huebbqe24el19kc4svlfctsk.apps.googleusercontent.com&amp;redirect_uri=http://3259404.ru/auth/oauth/index?provider=GoogleOAuth&amp;response_type=code&amp;scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile" data-redirect="http://3259404.ru/auth/oauth/index?provider=GoogleOAuth" title="google"><i></i> <span>google+</span>
                        </span>
                    </div>
                </div>
                
            </div><!-- outh_sign-up__left -->
            <div class="outh_advantages">
                <h3 class="outh_advantages_header">Регистрируйтесь на нашем  сайте</h3>
                <span>и получайте преимущества постоянного клиента!</span>
                <h4 class="outh_advantages_list-header">Вы получаете возможность:</h4>
                <ul class="outh_advantages_list">
                    <li class="outh_advantages_list_item">Накапливать и использовать бонусные баллы</li>
                    <li class="outh_advantages_list_item">Следить за бонусным счетом в режиме онлайн</li>
                    <li class="outh_advantages_list_item">Получать персональные скидки и предложения</li>
                    <li class="outh_advantages_list_item">Расширенные возможности личного кабинета</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% include "elems/_footer.html" %}
