@import (reference) "index";

// default button params
.el-but {
    display: inline-block;
    background-color: #ffffff;
    color: @ct-main;
    padding-right: 22px;
    padding-left: 22px;
    height: @but_b-h;
    line-height: @but_b-h - 1px;
    text-transform: none;
    font-size: 16px;
    font-weight: 600;
    font-family: @font1;

    &:hover {
        color: @ct-main;
    }
}
.ext-ghost-but{
    box-shadow: @shadow1;
    background-color: #fff;
    height: 30px;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    font-family: @font1;
    
    &:hover {
        box-shadow: @shadow;
    }
}
// default color buttons params
.ext-color-but {
    .el-but;
    color: #ffffff;
    transition: background-color .2s ease;
    border: 1px solid transparent; // line-height fix

    &:hover {
        color: #ffffff;
    }
}



.el-button {
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border: 0;
    border-radius: 70px;
    background-color: transparent;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: none;
    text-align: center;
    transition: all .5s ease;
    -webkit-transition : -webkit-filter .5s ease;

    // reset
    &:hover {
        color: inherit;
    }

    a& {
        text-decoration: none;
    }

    // color mods
    &&_prim-0 {
        .ext-color-but;
        background-color: @cm-orange;
        border-color: @cm-orange;

        &:hover {
            background-color: fade(@cm-orange, 80%);
        }

        &:disabled {
            border: 1px solid #e4e4e4;
            background-color: #f9f9f9;
            color: #797979 !important;
            font-weight: 400;

            &.cartridge-choose__submit {
                background-color: #ffffff;
            }

            &:hover {
                border: 1px solid #e4e4e4 !important;
                color: #797979;
            }
        }
    }

    &&_green {
        // mod
        .ext-color-but;
        background-color: @ca-green1;
        border-color: @ca-green1;

        &:hover {
            background-color: fade(@ca-green1, 80%);
        }
    }

    // secondary mods (border)
    &&_scnd-0 {
        .el-but;
        color: @cm-orange;
        border: 1px solid @cm-orange;

        &:hover {
            border-color: fade(@cm-orange, 80%);
            color: fade(@cm-orange, 80%);
        }

        &:disabled {}
    }

    &&_scnd-1 {
        .el-but;
        color: @ct-grey2;
        border: 1px solid @cm-grey1;

        &:hover {
            color: @ct-grey2;
            border: 1px solid @ca-grey1;
        }

        .el-del {
            &::before,
            &::after {
                width: 4px;
            }
        }
    }

    &&_scnd-2 {
        .el-but;
        border: 1px solid @cm-grey1;

        &:hover {
            border: 1px solid @ca-grey1;
        }
    }

    // secondary mods (orange)
    &&_scnd-3 {
        .el-but;
        background: @cm-orange;
        box-shadow: @shadow1;
        color: #fff;

        &:hover {
            background: @cm-orange-h;
            color: #fff;
        }

        &:disabled {
            background: @cm-grey1;
            color: @ct-grey3;
        }
    }

    &&_border-grey {
        //mod
        border: 1px solid @cm-grey1 !important;
        border-radius: 6px;
        background-color: #ffffff;
        color: @cm-orange;
    }

    // placement mods
    &&_th {
        text-transform: uppercase;
        white-space: nowrap; // color: @cm-orange;
        color: inherit;
        font-size: 11px;
        font-weight: 700;

        &:hover {
            color: @cm-orange;
        }
    }

    &_tab {
        width: 47px;
        height: 100%;
    }

    &&_addreview {
        float: right;
        margin-top: 10px;
        width: 100%;
        max-width: 229px;
    }

    // form mods
    &&_input {
        border: @border;
        height: 33px;
        padding-left: 25px;
        text-align: left;
        font-weight: 400;

        &::before {
            .el-input-line;
        }

        &:hover {
            background-color: @cm-grey2;
        }
    }

    &&_submit {
        font-size: 12px;
    }

    // 
    &&_ico {
        // mod
        overflow: visible;
        text-transform: lowercase;
        color: @ct-main;
        font-size: 0; //color: @cm-grey; chk правки
        border-radius: 0;

        &:hover,
        &.active {
            color: @cm-orange;

            span:last-child {
                border-color: @cm-orange;
            }
        }

        &.active-all {
            color: @cm-orange !important;
        }

        &.active {
            cursor: default;
        }

        span:last-child {
            //border-bottom: @border; chk правки
            //border-bottom: 1px solid @ct-main;
            margin: 0 0 0 9px;
            vertical-align: middle;
            line-height: 0;
            font-size: 12px;
            transition: none !important;
        }

        & > span,
        &::before {
            vertical-align: middle;
        }
        //    &::before,>span:first-child{
        //        vertical-align: bottom!important;
        //    }
        //    >span:only-child{
        //        vertical-align: middle!important;
        //    }

        .table__td_button & {
            font-size: 12px;
        }
    }

    &_link {
        //mod
        text-decoration: underline;
        color: @cm-grey;
        font-size: 11px;
    }

    &&_grey {
        //mod //@TODO изменить классы(личный кабинет настройки)
        border: 1px solid @ca-grey1;
        border-radius: 3px;
        background-color: @cm-grey2;
        height: 36px;
        line-height: 36px;
        color: @ca-grey;
        font-size: 16px; //chk 17 покупаю впервые
        transition: none;

        &:hover {
            border: 1px solid @ca-grey1;
            background-color: @ca-grey3;
            color: @ct-main;
        }

        &&_green {
            //mod-mod
            color: @ca-green;
        }

        &&_orange {
            //mod-mod
            //color: @cm-orange;
            //background: #ffffff;
            //submit
            border: none;
            background: @cm-orange;
            color: #ffffff;
            font-weight: 700;
        }
    }

    &_greyorange {
        border: @border;
        background-color: @cm-grey2;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: @ct-main;
        font-weight: 700;

        &:hover {
            border: none;
            background-color: fade(@cm-orange, 80%);
            color: #ffffff;
        }
    }

    // ghost
    &&_ghost {
        //mod
        border: @border;
        border-radius: 20px;
        height: 30px;
        line-height: 28px;
        text-align: center;
    }

    &&_ghost2:extend(.ext-ghost-but all) {
        //mod
        border-radius: 20px;
        line-height: 25px;
        padding: 0 15px 0 15px;
        text-align: center;

        &_big {
            padding-right: 30px;
            padding-left: 30px;
            font-size: 14px;

            &::before,
            span {
                margin-right: 13px;
            }
        }

        &#cler_basket > svg{ //очистить корзину
            zoom: 1.3;
        }
    }

    &&_ghost2 &__icon {
        margin-right: 7px;
        vertical-align: middle;

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon {
        path{
            fill: @cm-orange;
        }
    }

    // banner mods
    &&_banner-1 {
        font-size: 0;
        background-color: #42b4f2;
        width: 100%;
        max-width: 245px;
        padding: 7px 15px 7px 8px;
        border-radius: 58px;
        color: #ffffff;
        box-shadow: @shadow;

        &:hover {
            // opacity: .8;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
        }
    }

    &&_banner-1 &__icon {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        margin-right: 15px;

        &::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 7px;
            width: 8px;
            height: 13px;
            background-image: data-uri("../img/ico/u10088.png");
            background-size: contain;
        }
    }

    &&_banner-1 &__text {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
    }

    // round mods
    &&_round:extend(.ext-ghost-but all) {
        border-radius: 50%;
        width: 30px;

        object,
        svg,
        img,
        [class*="svg-"] {
            .align-all;
            width: 12px;
        }
    }

    &&_small-round {
        border: 1px solid @ca-grey1;
        border-radius: 50%;
        width: 27px;
        height: 27px;
        font-size: 11px;

        object,
        svg,
        img,
        [class*="svg-"] {
            .align-all;
            width: 12px;
        }

        &:hover {
            border-color: #aeaeae;
        }
    }

    &&_round.share-svg-wrapper {
        width: 28px;
        height: 28px;
    }

    &&_arrow:extend(.el-but all) {
        // mod
        @w: 12px;
        @h: 12px;
        position: relative;
        padding: 0;
        color: @ct-main;

        > span {
            display: block; // padding: 14px;
            position: relative;
            z-index: 1;
            background-color: inherit;
            height: 100%;
            line-height: @but_b-h;
            padding-right: 14px;
            padding-left: 14px;
        }

        &&_border:extend(.text-small) {
            //mod-mod
            border-color: @cm-orange;
            background-color: #ffffff;
            color: #000000;

            &::before {
                border: 1px solid @cm-orange;
            }
        }

        &::before {
            display: block;
            position: absolute;
            z-index: 0;
            border: @border;
            background-color: inherit;
            width: @w;
            height: @h;
            content: "";
        }

        &_top::before,
        &_bottom::before {
            // mod_mod
            left: 50%;
            transform-origin: 0 50%;
            transform+_: rotate(45deg);
            transform+_: translateX(-50%);
        }

        &_top::before {
            // mod_mod
            top: 0;
            margin-top: -@h/2;
        }

        &_bottom::before {
            // mod_mod
            bottom: 0;
            margin-bottom: -@h/2;
        }

        &_right::before,
        &_left::before {
            // mod_mod
            top: 50%;
            transform-origin: 50% 0;
            transform+_: rotate(45deg);
            transform+_: translateY(-50%);
        }

        &_right::before {
            // mod_mod
            right: 0;
            margin-right: -@w/2;
        }

        &_left::before {
            // mod_mod
            left: 0;
            margin-left: -@w/2;
        }

        &&_small {
            // mod_mod-fix
            span {
                height: 100%; //chk  line-height:@form-h все товары бренда
                //padding: 10px 20px;
            }
        }
    }

    // size mods
    &&_min {
        height: 30px;
        line-height: 28px;
        padding: 0 15px;
        font-size: 15px;
    }
    &&_min2 {
        height: 30px;
        line-height: 28px;
        padding: 0 17px;
        font-size: 13px;
    }

    &&_big {
        border-radius: 20px;
        // max-width: 350px;
        // width: 100%;
        height: @but_b-h;
        line-height: @but_b-h - 1px;
        text-align: center;
        font-size: 16px;
    }

    &&_large {
        height: 57px;
        line-height: 56px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 20px; //chk 22px новая корзина
        font-weight: 400;
    }

    // states
    &&_stretchy {
        width: 100%;
    }

    &&_uppercase {
        text-transform: uppercase;
    }

    &:disabled,
    &&_disabled,
    &.disabled {
        background-color: @ca-grey3;
        border-color: @ca-grey3;
        color: @ct-grey3;
        pointer-events: none;

        path{
            fill: @cm-grey;
        }
    }
}

#netpaypaymentform input[type="submit"]:last-child{//онлайн оплата
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border: 0;
    border-radius: 70px;
    background-color: transparent;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: none;
    text-align: center;
    transition: all .5s ease;

    .ext-color-but;
    background-color: @cm-orange;
    border-color: @cm-orange;

    padding-top: 0;
    padding-bottom: 0;

    // reset
    &:hover {
        color: inherit;
        background-color: fade(@cm-orange, 80%);
    }

    &:disabled {
        border: 1px solid #e4e4e4;
        background-color: #f9f9f9;
        color: #797979 !important;
        font-weight: 400;
    }

    a& {
        text-decoration: none;
    }
}
