.el-banner {
    display: flex;
    width: 100%;
    position: relative;
    font-size: 0;
    margin: 20px 0;
    background-color: #ffffff;
    box-shadow: @shadow2;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__col {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    &&_bonuses {
        height: 85px;
        align-items: center;
        overflow: hidden;
    }

    &&_bonuses & {
        &__logo {
            display: inline-block;
            position: relative;
            width: 100%;
            max-width: 46px;
            height: 46px;
            margin-right: 20px;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-image: data-uri("../img/ico-svg/scope.svg");
                background-size: contain;
            }
        }

        &__title {
            display: inline-block;
            font-size: 16px;
            line-height: 23px;
            font-weight: 800;
        }

        &__txt {
            font-size: 13px;
            line-height: 15px;
            font-weight: 700;
        }

        &__left {
            width: 268px;
            padding: 18px 0 16px 50px;
        }

        &__center {
            width: 305px;
            padding: 20px;
        }

        &__right {
            width: 380px;
            padding: 0 125px 0 0;
            position: relative;
            display: flex;
            align-items: center;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 500px;
                transform: rotate(36deg) translateY(-50%);
                top: 50%;
                left: 0;
                z-index: 0;
            }

            &::before {
                background-color: #9459d0;
                left: -110px;
            }

            &::after {
                background-color: #56cb08;
                left: -88px;
            }
        }

        &__btn {
            position: relative;
            z-index: 1;
        }
    }
}
