@import (reference) "index";

.el-month-picker-container {
    position: relative;

    .el-button {
        &::after {
            .svg-ico-contain;
            content: "";
            display: inline-block;
            width: 9px;
            height: 11px;
            transform: rotate(90deg);
            vertical-align: bottom;
            margin-left: 10px;
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/up-arrow.svg");
        }

        &:hover::after {
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/up-arrow-orange.svg");
        }
    }
}

.el-month-picker {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: -80px;
}

.month-picker {
    display: inline-block;
    position: absolute;
    z-index: 9999;
    border: 0 !important;
    border-radius: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.14901961);

    table {
        // border-collapse: separate;
        // border-spacing: 2px 2px
    }

    td {
        padding: 0;
    }

    .ui-button-text {
        padding: .4em 0;
    } //сброс стилей плагина

    .ui-state-default a,
    .ui-state-default a:link,
    .ui-state-default a:visited,
    a.ui-button,
    a:link.ui-button,
    a:visited.ui-button,
    .ui-button {
        cursor: default;
        margin: 0;
        background-color: transparent;
        border: 0;
        outline: none;
    }

    .ui-icon {
        background-position: 50%;
        margin-top: 0;
        display: block;
    }

    &-header {
        margin: 0;
        background-color: transparent;
        border: 0;
    }

    &-year-table {
        @calendar-toggles-size: 25px;
        min-width: 250px;
        width: 100%;
        user-select: none;
        border-bottom: 1px solid @cm-grey1;

        a {
            // border: 1px solid transparent
        }
        //
        // .ui-button {
        //     cursor: default;
        //     margin: 0;
        //     background-color: transparent;
        //     border: 0;
        //     outline: none;
        //     &:active {
        //         border: 0;
        //         background-color: transparent;
        //         color: inherit;
        //     }
        // }

        .month-picker-previous,
        .month-picker-next {
            .ui-button {
                margin: 12px 15px;
                padding: 0;
                width: @calendar-toggles-size;
                height: @calendar-toggles-size;
                background-color: #ffffff;
                border: 1px solid @cm-grey1;
                border-radius: 50%;

                .ui-icon {
                    .svg-ico-contain;
                    width: 7px;
                    height: 11px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-image: url("../img/ico-svg/up-arrow.svg");
                }

                &:active,
                &:hover {
                    background-color: @ca-grey3;

                    // .ui-icon {
                    //     // background-image: url("../img/ico-svg/up-arrow-orange.svg");
                    // }
                }
            }
        }

        .month-picker-previous {
            //кнопки
            .ui-button {
                .ui-icon {
                    transform: translate(-50%, -50%) rotate(180deg);
                }
            }
        }

        .month-picker-next {
            //кнопки
            .ui-button {
                // .ui-icon {
                // }
            }
        }

        .month-picker-title {
            //год
            text-align: center;

            .ui-button {
                font-size: 15px;
                padding: 0;
                border: 0;
                width: 100%;
                font-weight: 700;
                color: #333333;
                background-color: transparent;

                &:active {
                    // border: 1px solid #003eff;
                    border: 0; // background: #007fff;
                    background-color: transparent;
                    font-weight: 700;
                    color: #333333;
                }
            }
        }

        .ui-button-text {
            padding: 0;
        }
    }

    &-month-table {
        width: 100%;
        padding: 10px 12px 15px;

        td {
            width: 33.33333333%;
            padding: 3px;
            height: 35px;
            text-align: center;
        }

        .ui-button {
            width: 100%;
            margin: 0;
            font-size: 10px;
            color: #666666;
            font-weight: 700;
            text-transform: uppercase;
            border: 1px solid transparent !important;
            padding: 6px;

            &:hover,
            &:active,
            &.ui-state-active:hover,
            &.ui-state-active:active {
                background-color: rgba(255, 102, 0, 0.05882353) !important;
                color: @cm-orange !important;
                border: 1px solid @cm-orange !important;
                font-weight: 700;
            }
        }
    }
}

.month-picker-open-button {
    height: 20px;
    width: 20px;
    vertical-align: bottom;
}

.month-picker-invalid-message {
    display: none;
    background-color: #fff000;
}

.month-picker-disabled {
    background-color: #e1e1e1;
}

// календарь старый
.ui-datepicker,
.ui-datepicker * { //нужно заменить универсальный селектор!
    box-sizing: content-box;
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
}

table {
    border-spacing: 0;
}

.ui-datepicker {
    display: none;
    width: 294px;
    padding: 35px;
    cursor: default;
    font-family: "Tahoma", sans-serif;
    background: #f8f8f8;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, .1), inset 0 1px 1px rgb(0, 0, 0);
    padding-left: 21px;
    padding-right: 16px;
    padding-top: 29px;
    padding-bottom: 25px;
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
}

.ui-datepicker-title {
    background: rgb(228, 228, 228) none repeat scroll 0% 0%;
    height: 29px;
    border-radius: 3px;
    width: 282px;
}

.ui-datepicker-month {
    position: relative;
    padding-right: 43px;
    color: #fb8337;
    vertical-align: middle;
    padding-top: 3px;
    float: right;
}

.ui-datepicker-year {
    // padding-left: 8px;
    color: #333333;
    vertical-align: middle;
    padding: 4px 0 0 44px;
    float: left;
}

.ui-datepicker-month::before {
    display: none;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: "";
    // background: #a5cd4e;
    background: linear-gradient(to bottom, #a5cd4e 0%, #6b8f1a 100%);
    border-radius: 6px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 49%;
    top: 10%;
}

.ui-datepicker-next {
    left: 86%;
    z-index: 2;
    top: 10%;
}

.ui-datepicker-prev span {
    background-image: url("../images/u168628.png");
}

.ui-datepicker-next span {
    background-image: url("../images/u168630.png");
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
    display: block;
    width: 7px;
    height: 12px;
    text-indent: -9999px;
}

/* .ui-datepicker-prev-hover span { background-position: 0 -10px; }

.ui-datepicker-next-hover span { background-position: -5px -10px; } */

/* prevy */

.ui-datepicker-prevy,
.ui-datepicker-nexty {
    position: absolute;
    padding: 5px;
    cursor: pointer;
    top: 11%;
}

.ui-datepicker-prevy {
    left: 5%;
}

.ui-datepicker-nexty {
    left: 30%;
}

.ui-datepicker-prevy span {
    background-image: url("../images/u168622.png");
}

.ui-datepicker-nexty span {
    background-image: url("../images/u168624.png");
}

.ui-datepicker-prevy span,
.ui-datepicker-nexty span {
    display: block;
    width: 7px;
    height: 12px;
    text-indent: -9999px;
}

.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 400;
}

.ui-datepicker-calendar td {
    padding: 0 4px;
    text-align: center;
    line-height: 26px;
    border: 1px solid #bcbcbc;
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 29px;
    outline: none;
    text-decoration: none;
    color: #515151;
    border: 1px solid transparent;
}

.ui-datepicker-calendar .ui-state-active {
    color: #6a9113;
    border: 1px solid #6a9113;
}

// .ui-state-default{}
.ui-datepicker-week-end {
    color: #d7d7d7;
}

.ui-datepicker-week-end .ui-state-default {
    color: #d7d7d7;
}

.ui-datepicker-other-month .ui-state-default {
    display: none;
    color: #565656;
}

// tbody tr{
//     border: 1px solid #bcbcbc;
//     background: #FFFFFF;
// }
