@import (reference) "index";
.el-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 0;
    display: inline-block;

    &_hoverable {
        //mod
        span {
            transition: none;

            &:hover::before,
            &:hover ~ span::before,
            &.active ~ span::before,
            &.active::before {
                cursor: pointer;
                &:extend(.el-rating-star);

                .el-rating_big& {
                    .el-rating-big-svg;
                }

                .el-rating_medium& {
                    .el-rating-medium-svg;
                }

                .el-rating_pre-medium& {
                    .el-rating-pre-medium-svg;
                }
            }
        }
    }

    span {
        display: inline-block;
        position: relative;
        padding: 0;

        &:not(:first-child) {
            padding-right: 3px;
        }

        &::before {
            &:extend(.el-rating-star-def);
        }
    }

    &_1 {
        span:nth-child(n+5)::before {
            &:extend(.el-rating-star);

            .el-rating_big& {
                .el-rating-big-svg;
            }

            .el-rating_medium& {
                .el-rating-medium-svg;
            }

            .el-rating_pre-medium& {
                .el-rating-pre-medium-svg;
            }
        }
    }

    &_2 {
        span:nth-child(n+4)::before {
            &:extend(.el-rating-star);

            .el-rating_big& {
                .el-rating-big-svg;
            }

            .el-rating_medium& {
                .el-rating-medium-svg;
            }

            .el-rating_pre-medium& {
                .el-rating-pre-medium-svg;
            }
        }
    }

    &_3 {
        span:nth-child(n+3)::before {
            &:extend(.el-rating-star);

            .el-rating_big& {
                .el-rating-big-svg;
            }

            .el-rating_medium& {
                .el-rating-medium-svg;
            }

            .el-rating_pre-medium& {
                .el-rating-pre-medium-svg;
            }
        }
    }

    &_4 {
        span:nth-child(n+2)::before {
            &:extend(.el-rating-star);

            .el-rating_big& {
                .el-rating-big-svg;
            }

            .el-rating_medium& {
                .el-rating-medium-svg;
            }

            .el-rating_pre-medium& {
                .el-rating-pre-medium-svg;
            }
        }
    }

    &_5 {
        span:nth-child(n+1)::before {
            &:extend(.el-rating-star);

            .el-rating_big& {
                .el-rating-big-svg;
            }

            .el-rating_medium& {
                .el-rating-medium-svg;
            }

            .el-rating_pre-medium& {
                .el-rating-pre-medium-svg;
            }
        }
    }

    &&_deactive {
        //mod
        span {
            &::before {
                &:extend(.el-rating-star-def);

                .el-rating_big& {
                    .el-rating-big-deactive-svg;
                }

                .el-rating_medium& {
                    .el-rating-medium-deactive-svg;
                }

                .el-rating_pre-medium& {
                    .el-rating-pre-medium-deactive-svg;
                }
            }
        }
    }

    &&_big {
        //mod
        span {
            padding: 0;

            &:not(:first-child) {
                padding-right: 8px;
            }

            &::before {
                .sprite(@ico-star-big-stroke);
                .el-rating-big-stroke-svg;
            }
        }
    }

    &&_medium {
        //mod
        span {
            padding: 0;

            &:not(:first-child) {
                padding-right: 6.5px;
            }

            &::before {
                .el-rating-medium-deactive-svg;
            }
        }
    }

    &&_pre-medium {
        span {
            padding: 0;

            &:not(:first-child) {
                padding-right: 5px;
            }

            &::before {
                .el-rating-pre-medium-deactive-svg;
            }
        }
    }
}


.el-rating-class(@width, @height){
    width: @width;
    height: @height;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.el-rating-star,
.el-rating-star-def {
    content: "";
    display: inline-block;
    transition: none;
}

.el-rating-star {
    .sprite(@ico-star-orange);
    .el-rating-class(12px, 10px);
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/star-yellow.svg") center center;
}

.el-rating-star-def {
    .el-rating-class(12px, 10px);
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/star-stroke.svg") center center;
}

.el-rating-big-svg {
    .el-rating-class(26px, 23px);
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/star-yellow.svg") center center;
}
.el-rating-big-stroke-svg {
    .el-rating-class(26px, 23px);
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/star-stroke.svg") center center;
}
.el-rating-big-deactive-svg {
    .el-rating-class(19px, 17px);
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/star-stroke.svg") center center;
}

.el-rating-medium-svg {
    .el-rating-class(19px, 17px);
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/star-yellow.svg") center center;
}
.el-rating-medium-stroke-svg {
    .el-rating-class(19px, 17px);
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/star-stroke.svg") center center;
}
.el-rating-medium-deactive-svg {
    .el-rating-class(19px, 17px);
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/star-stroke.svg") center center;
}

.el-rating-pre-medium-svg {
    .el-rating-class(16px, 15px);
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/star-yellow.svg") center center;
}
.el-rating-pre-medium-stroke-svg { 
    .el-rating-class(19px, 17px);
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/star-stroke.svg") center center;
}
.el-rating-pre-medium-deactive-svg {
    .el-rating-class(19px, 17px);
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/star-stroke.svg") center center;
}
