@import (reference) "index";

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    touch-action: none;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

/* support: IE8 - See #6727 */

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.ui-slider-horizontal {
    // height: .8em;
    height: 10px;
}

.ui-slider-horizontal .ui-slider-handle {
    // top: -.3em;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}

.price-form {
    white-space: nowrap;
    position: relative;

    .price-min,
    .price-max {
        left: 0;
        top: 0; // width: 70px;
        width: 50%; // height: 25px;
        height: 30px;
        background: inherit;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(228, 228, 228, 1);
        border-radius: 0;
        box-shadow: none;
        font-size: 13px;
        text-align: left;
        padding-left: 25px;
    }

    label {
        font-size: 13px;
        color: @cm-grey;
        margin-right: -16px;
        left: 11px;

        &::after {
            content: "";
            margin-right: 0;
        }
    }

    .slider-range {
        border: 0;
        margin-top: 10px; // margin-bottom: 5px;
        border-radius: 6px;
        background-color: @cm-grey1 !important;

        .ui-slider-handle.ui-corner-all.ui-state-default {
            border: 0;
            border-radius: 50%;
            background-color: #ffffff;
            font-weight: 400;
            color: #454545;
            cursor: pointer;
            width: 16px;
            height: 16px;
            margin-left: 0;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            transform: translate(-50%, -50%);

            &:last-child {
                // margin-left: -17px;
            }

            &:hover {
                background-color: @ca-grey3;
            }

            &:focus {
                outline: none;
            }
        }

        .ui-slider-range {
            background: @cm-orange;
        }
    }
}
