/* rotation */

.rotated {
    transform: rotate(180deg);
}

.delivery_block {
    width: 270px;
    padding: 24px 0 0;

    .delivery_text {
        padding: 3px 5px;
        margin: 5px 0 0 3px;
    }

    ul.cities_list {
        margin-top: 0;
        z-index: 10;
        background: #fcfcfc;
        position: absolute;
        width: 249px;
        padding: 0;
        display: none;
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
    }

    .delivery_list {
        padding: 3px 6px 0 6px;
        height: 26px;
        cursor: pointer;
        margin: 0 20px -1 0;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        width: 237px;
        z-index: 11;
        background: #fcfcfc;
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;

        span {
            padding: 2px 0 0 0;
            display: block;
            text-align: center;
        }

        #btn_arrow {
            background: url("dropdown.png");
            width: 16px;
            height: 12px;
            position: absolute;
            left: 223px;
            top: 40px;
        }

        span img {
            position: absolute;
            top: 40px;
            left: 32px;
        }

        :hover {
            background: #cccccc;

            /*	border-left: 1px solid #fb8337;
				border-right: 1px solid #fb8337;
				border-top: 1px solid #fb8337; */
        }
    }
}

.color-box {
    position: absolute;
    left: 65px;
    top: 40px;
    width: 9px;
    height: 9px;
}

ul.cities_list li {
    padding: 6px 9px;
    list-style-type: none;
    text-align: center;

    img {
        position: absolute;
        left: 24px;
        margin-top: 1px;
    }
}

ul.cities_list li:hover {
    cursor: pointer;
    background: #cccccc;
}
