/*
LESS variables are information about icon"s compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/

@num-0-name: "num-0";
@num-0-x: 0;
@num-0-y: 0;
@num-0-offset-x: 0;
@num-0-offset-y: 0;
@num-0-width: 53px;
@num-0-height: 74px;
@num-0-total-width: 265px;
@num-0-total-height: 148px;
@num-0-image: "../img/ico-numeric.png";
@num-0: 0 0 0 0 53px 74px 265px 148px "../img/ico-numeric.png" "num-0";
@num-1-name: "num-1";
@num-1-x: 53px;
@num-1-y: 0;
@num-1-offset-x: -53px;
@num-1-offset-y: 0;
@num-1-width: 53px;
@num-1-height: 74px;
@num-1-total-width: 265px;
@num-1-total-height: 148px;
@num-1-image: "../img/ico-numeric.png";
@num-1: 53px 0 -53px 0 53px 74px 265px 148px "../img/ico-numeric.png" "num-1";
@num-2-name: "num-2";
@num-2-x: 106px;
@num-2-y: 0;
@num-2-offset-x: -106px;
@num-2-offset-y: 0;
@num-2-width: 53px;
@num-2-height: 74px;
@num-2-total-width: 265px;
@num-2-total-height: 148px;
@num-2-image: "../img/ico-numeric.png";
@num-2: 106px 0 -106px 0 53px 74px 265px 148px "../img/ico-numeric.png" "num-2";
@num-3-name: "num-3";
@num-3-x: 0;
@num-3-y: 74px;
@num-3-offset-x: 0;
@num-3-offset-y: -74px;
@num-3-width: 53px;
@num-3-height: 74px;
@num-3-total-width: 265px;
@num-3-total-height: 148px;
@num-3-image: "../img/ico-numeric.png";
@num-3: 0 74px 0 -74px 53px 74px 265px 148px "../img/ico-numeric.png" "num-3";
@num-4-name: "num-4";
@num-4-x: 53px;
@num-4-y: 74px;
@num-4-offset-x: -53px;
@num-4-offset-y: -74px;
@num-4-width: 53px;
@num-4-height: 74px;
@num-4-total-width: 265px;
@num-4-total-height: 148px;
@num-4-image: "../img/ico-numeric.png";
@num-4: 53px 74px -53px -74px 53px 74px 265px 148px "../img/ico-numeric.png" "num-4";
@num-5-name: "num-5";
@num-5-x: 106px;
@num-5-y: 74px;
@num-5-offset-x: -106px;
@num-5-offset-y: -74px;
@num-5-width: 53px;
@num-5-height: 74px;
@num-5-total-width: 265px;
@num-5-total-height: 148px;
@num-5-image: "../img/ico-numeric.png";
@num-5: 106px 74px -106px -74px 53px 74px 265px 148px "../img/ico-numeric.png" "num-5";
@num-6-name: "num-6";
@num-6-x: 159px;
@num-6-y: 0;
@num-6-offset-x: -159px;
@num-6-offset-y: 0;
@num-6-width: 53px;
@num-6-height: 74px;
@num-6-total-width: 265px;
@num-6-total-height: 148px;
@num-6-image: "../img/ico-numeric.png";
@num-6: 159px 0 -159px 0 53px 74px 265px 148px "../img/ico-numeric.png" "num-6";
@num-7-name: "num-7";
@num-7-x: 159px;
@num-7-y: 74px;
@num-7-offset-x: -159px;
@num-7-offset-y: -74px;
@num-7-width: 53px;
@num-7-height: 74px;
@num-7-total-width: 265px;
@num-7-total-height: 148px;
@num-7-image: "../img/ico-numeric.png";
@num-7: 159px 74px -159px -74px 53px 74px 265px 148px "../img/ico-numeric.png" "num-7";
@num-8-name: "num-8";
@num-8-x: 212px;
@num-8-y: 0;
@num-8-offset-x: -212px;
@num-8-offset-y: 0;
@num-8-width: 53px;
@num-8-height: 74px;
@num-8-total-width: 265px;
@num-8-total-height: 148px;
@num-8-image: "../img/ico-numeric.png";
@num-8: 212px 0 -212px 0 53px 74px 265px 148px "../img/ico-numeric.png" "num-8";
@num-9-name: "num-9";
@num-9-x: 212px;
@num-9-y: 74px;
@num-9-offset-x: -212px;
@num-9-offset-y: -74px;
@num-9-width: 53px;
@num-9-height: 74px;
@num-9-total-width: 265px;
@num-9-total-height: 148px;
@num-9-image: "../img/ico-numeric.png";
@num-9: 212px 74px -212px -74px 53px 74px 265px 148px "../img/ico-numeric.png" "num-9";
@spritesheet-width: 265px;
@spritesheet-height: 148px;
@spritesheet-image: "../img/ico-numeric.png";
@spritesheet-sprites: @num-0 @num-1 @num-2 @num-3 @num-4 @num-5 @num-6 @num-7 @num-8 @num-9;
@spritesheet: 265px 148px "../img/ico-numeric.png" @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

.sprite-width(@sprite) {
    width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
    height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
    @sprite-offset-x: extract(@sprite, 3);
    @sprite-offset-y: extract(@sprite, 4);
    background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
    @sprite-image: extract(@sprite, 9);
    @sprite-image-bare: @sprite-image;
    background-image: url("@{sprite-image-bare}");
}

.sprite(@sprite) {
    .sprite-image(@sprite);
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/

.sprites(@sprites, @i: 1) when (@i <=length(@sprites)) {
    @sprite: extract(@sprites, @i);
    @sprite-name: e(extract(@sprite, 10));

    .@{sprite-name} {
        .sprite(@sprite);
    }
    .sprites(@sprites, @i + 1);
}
