/*
LESS variables are information about icon"s compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/

@ico-vse-piktogrammi-03-name: "ico-Vse_piktogrammi_03";
@ico-vse-piktogrammi-03-x: 360px;
@ico-vse-piktogrammi-03-y: 0;
@ico-vse-piktogrammi-03-offset-x: -360px;
@ico-vse-piktogrammi-03-offset-y: 0;
@ico-vse-piktogrammi-03-width: 35px;
@ico-vse-piktogrammi-03-height: 35px;
@ico-vse-piktogrammi-03-total-width: 450px;
@ico-vse-piktogrammi-03-total-height: 419px;
@ico-vse-piktogrammi-03-image: "../img/ico.png";
@ico-vse-piktogrammi-03: 360px 0 -360px 0 35px 35px 450px 419px "../img/ico.png" "ico-Vse_piktogrammi_03";
@ico-vse-piktogrammi-05-name: "ico-Vse_piktogrammi_05";
@ico-vse-piktogrammi-05-x: 277px;
@ico-vse-piktogrammi-05-y: 307px;
@ico-vse-piktogrammi-05-offset-x: -277px;
@ico-vse-piktogrammi-05-offset-y: -307px;
@ico-vse-piktogrammi-05-width: 35px;
@ico-vse-piktogrammi-05-height: 35px;
@ico-vse-piktogrammi-05-total-width: 450px;
@ico-vse-piktogrammi-05-total-height: 419px;
@ico-vse-piktogrammi-05-image: "../img/ico.png";
@ico-vse-piktogrammi-05: 277px 307px -277px -307px 35px 35px 450px 419px "../img/ico.png" "ico-Vse_piktogrammi_05";
@ico-vse-piktogrammi-07-name: "ico-Vse_piktogrammi_07";
@ico-vse-piktogrammi-07-x: 360px;
@ico-vse-piktogrammi-07-y: 37px;
@ico-vse-piktogrammi-07-offset-x: -360px;
@ico-vse-piktogrammi-07-offset-y: -37px;
@ico-vse-piktogrammi-07-width: 35px;
@ico-vse-piktogrammi-07-height: 35px;
@ico-vse-piktogrammi-07-total-width: 450px;
@ico-vse-piktogrammi-07-total-height: 419px;
@ico-vse-piktogrammi-07-image: "../img/ico.png";
@ico-vse-piktogrammi-07: 360px 37px -360px -37px 35px 35px 450px 419px "../img/ico.png" "ico-Vse_piktogrammi_07";
@ico-vse-piktogrammi-09-name: "ico-Vse_piktogrammi_09";
@ico-vse-piktogrammi-09-x: 314px;
@ico-vse-piktogrammi-09-y: 307px;
@ico-vse-piktogrammi-09-offset-x: -314px;
@ico-vse-piktogrammi-09-offset-y: -307px;
@ico-vse-piktogrammi-09-width: 35px;
@ico-vse-piktogrammi-09-height: 35px;
@ico-vse-piktogrammi-09-total-width: 450px;
@ico-vse-piktogrammi-09-total-height: 419px;
@ico-vse-piktogrammi-09-image: "../img/ico.png";
@ico-vse-piktogrammi-09: 314px 307px -314px -307px 35px 35px 450px 419px "../img/ico.png" "ico-Vse_piktogrammi_09";
@ico-vse-piktogrammi-20-name: "ico-Vse_piktogrammi_20";
@ico-vse-piktogrammi-20-x: 424px;
@ico-vse-piktogrammi-20-y: 164px;
@ico-vse-piktogrammi-20-offset-x: -424px;
@ico-vse-piktogrammi-20-offset-y: -164px;
@ico-vse-piktogrammi-20-width: 23px;
@ico-vse-piktogrammi-20-height: 23px;
@ico-vse-piktogrammi-20-total-width: 450px;
@ico-vse-piktogrammi-20-total-height: 419px;
@ico-vse-piktogrammi-20-image: "../img/ico.png";
@ico-vse-piktogrammi-20: 424px 164px -424px -164px 23px 23px 450px 419px "../img/ico.png" "ico-Vse_piktogrammi_20";
@ico-alert-name: "ico-alert";
@ico-alert-x: 445px;
@ico-alert-y: 189px;
@ico-alert-offset-x: -445px;
@ico-alert-offset-y: -189px;
@ico-alert-width: 3px;
@ico-alert-height: 18px;
@ico-alert-total-width: 450px;
@ico-alert-total-height: 419px;
@ico-alert-image: "../img/ico.png";
@ico-alert: 445px 189px -445px -189px 3px 18px 450px 419px "../img/ico.png" "ico-alert";
@ico-arrow-black-light-name: "ico-arrow-black-light";
@ico-arrow-black-light-x: 444px;
@ico-arrow-black-light-y: 331px;
@ico-arrow-black-light-offset-x: -444px;
@ico-arrow-black-light-offset-y: -331px;
@ico-arrow-black-light-width: 6px;
@ico-arrow-black-light-height: 11px;
@ico-arrow-black-light-total-width: 450px;
@ico-arrow-black-light-total-height: 419px;
@ico-arrow-black-light-image: "../img/ico.png";
@ico-arrow-black-light: 444px 331px -444px -331px 6px 11px 450px 419px "../img/ico.png" "ico-arrow-black-light";
@ico-arrow-black-name: "ico-arrow-black";
@ico-arrow-black-x: 412px;
@ico-arrow-black-y: 104px;
@ico-arrow-black-offset-x: -412px;
@ico-arrow-black-offset-y: -104px;
@ico-arrow-black-width: 9px;
@ico-arrow-black-height: 16px;
@ico-arrow-black-total-width: 450px;
@ico-arrow-black-total-height: 419px;
@ico-arrow-black-image: "../img/ico.png";
@ico-arrow-black: 412px 104px -412px -104px 9px 16px 450px 419px "../img/ico.png" "ico-arrow-black";
@ico-arrow-counter-name: "ico-arrow-counter";
@ico-arrow-counter-x: 413px;
@ico-arrow-counter-y: 338px;
@ico-arrow-counter-offset-x: -413px;
@ico-arrow-counter-offset-y: -338px;
@ico-arrow-counter-width: 9px;
@ico-arrow-counter-height: 5px;
@ico-arrow-counter-total-width: 450px;
@ico-arrow-counter-total-height: 419px;
@ico-arrow-counter-image: "../img/ico.png";
@ico-arrow-counter: 413px 338px -413px -338px 9px 5px 450px 419px "../img/ico.png" "ico-arrow-counter";
@ico-arrow-grey-big-h-name: "ico-arrow-grey-big-h";
@ico-arrow-grey-big-h-x: 397px;
@ico-arrow-grey-big-h-y: 80px;
@ico-arrow-grey-big-h-offset-x: -397px;
@ico-arrow-grey-big-h-offset-y: -80px;
@ico-arrow-grey-big-h-width: 13px;
@ico-arrow-grey-big-h-height: 22px;
@ico-arrow-grey-big-h-total-width: 450px;
@ico-arrow-grey-big-h-total-height: 419px;
@ico-arrow-grey-big-h-image: "../img/ico.png";
@ico-arrow-grey-big-h: 397px 80px -397px -80px 13px 22px 450px 419px "../img/ico.png" "ico-arrow-grey-big-h";
@ico-arrow-grey-big-name: "ico-arrow-grey-big";
@ico-arrow-grey-big-x: 397px;
@ico-arrow-grey-big-y: 104px;
@ico-arrow-grey-big-offset-x: -397px;
@ico-arrow-grey-big-offset-y: -104px;
@ico-arrow-grey-big-width: 13px;
@ico-arrow-grey-big-height: 22px;
@ico-arrow-grey-big-total-width: 450px;
@ico-arrow-grey-big-total-height: 419px;
@ico-arrow-grey-big-image: "../img/ico.png";
@ico-arrow-grey-big: 397px 104px -397px -104px 13px 22px 450px 419px "../img/ico.png" "ico-arrow-grey-big";
@ico-arrow-grey-double-name: "ico-arrow-grey-double";
@ico-arrow-grey-double-x: 341px;
@ico-arrow-grey-double-y: 179px;
@ico-arrow-grey-double-offset-x: -341px;
@ico-arrow-grey-double-offset-y: -179px;
@ico-arrow-grey-double-width: 10px;
@ico-arrow-grey-double-height: 11px;
@ico-arrow-grey-double-total-width: 450px;
@ico-arrow-grey-double-total-height: 419px;
@ico-arrow-grey-double-image: "../img/ico.png";
@ico-arrow-grey-double: 341px 179px -341px -179px 10px 11px 450px 419px "../img/ico.png" "ico-arrow-grey-double";
@ico-arrow-grey-light-name: "ico-arrow-grey-light";
@ico-arrow-grey-light-x: 414px;
@ico-arrow-grey-light-y: 180px;
@ico-arrow-grey-light-offset-x: -414px;
@ico-arrow-grey-light-offset-y: -180px;
@ico-arrow-grey-light-width: 7px;
@ico-arrow-grey-light-height: 13px;
@ico-arrow-grey-light-total-width: 450px;
@ico-arrow-grey-light-total-height: 419px;
@ico-arrow-grey-light-image: "../img/ico.png";
@ico-arrow-grey-light: 414px 180px -414px -180px 7px 13px 450px 419px "../img/ico.png" "ico-arrow-grey-light";
@ico-arrow-grey-name: "ico-arrow-grey";
@ico-arrow-grey-x: 415px;
@ico-arrow-grey-y: 163px;
@ico-arrow-grey-offset-x: -415px;
@ico-arrow-grey-offset-y: -163px;
@ico-arrow-grey-width: 7px;
@ico-arrow-grey-height: 13px;
@ico-arrow-grey-total-width: 450px;
@ico-arrow-grey-total-height: 419px;
@ico-arrow-grey-image: "../img/ico.png";
@ico-arrow-grey: 415px 163px -415px -163px 7px 13px 450px 419px "../img/ico.png" "ico-arrow-grey";
@ico-arrow-orange-double-name: "ico-arrow-orange-double";
@ico-arrow-orange-double-x: 412px;
@ico-arrow-orange-double-y: 323px;
@ico-arrow-orange-double-offset-x: -412px;
@ico-arrow-orange-double-offset-y: -323px;
@ico-arrow-orange-double-width: 10px;
@ico-arrow-orange-double-height: 11px;
@ico-arrow-orange-double-total-width: 450px;
@ico-arrow-orange-double-total-height: 419px;
@ico-arrow-orange-double-image: "../img/ico.png";
@ico-arrow-orange-double: 412px 323px -412px -323px 10px 11px 450px 419px "../img/ico.png" "ico-arrow-orange-double";
@ico-arrow-orange-mini-name: "ico-arrow-orange-mini";
@ico-arrow-orange-mini-x: 445px;
@ico-arrow-orange-mini-y: 231px;
@ico-arrow-orange-mini-offset-x: -445px;
@ico-arrow-orange-mini-offset-y: -231px;
@ico-arrow-orange-mini-width: 4px;
@ico-arrow-orange-mini-height: 7px;
@ico-arrow-orange-mini-total-width: 450px;
@ico-arrow-orange-mini-total-height: 419px;
@ico-arrow-orange-mini-image: "../img/ico.png";
@ico-arrow-orange-mini: 445px 231px -445px -231px 4px 7px 450px 419px "../img/ico.png" "ico-arrow-orange-mini";
@ico-arrow-orange-name: "ico-arrow-orange";
@ico-arrow-orange-x: 412px;
@ico-arrow-orange-y: 80px;
@ico-arrow-orange-offset-x: -412px;
@ico-arrow-orange-offset-y: -80px;
@ico-arrow-orange-width: 9px;
@ico-arrow-orange-height: 17px;
@ico-arrow-orange-total-width: 450px;
@ico-arrow-orange-total-height: 419px;
@ico-arrow-orange-image: "../img/ico.png";
@ico-arrow-orange: 412px 80px -412px -80px 9px 17px 450px 419px "../img/ico.png" "ico-arrow-orange";
@ico-arrow-tab-active-name: "ico-arrow-tab-active";
@ico-arrow-tab-active-x: 397px;
@ico-arrow-tab-active-y: 0;
@ico-arrow-tab-active-offset-x: -397px;
@ico-arrow-tab-active-offset-y: 0;
@ico-arrow-tab-active-width: 25px;
@ico-arrow-tab-active-height: 38px;
@ico-arrow-tab-active-total-width: 450px;
@ico-arrow-tab-active-total-height: 419px;
@ico-arrow-tab-active-image: "../img/ico.png";
@ico-arrow-tab-active: 397px 0 -397px 0 25px 38px 450px 419px "../img/ico.png" "ico-arrow-tab-active";
@ico-arrow-tab-name: "ico-arrow-tab";
@ico-arrow-tab-x: 397px;
@ico-arrow-tab-y: 40px;
@ico-arrow-tab-offset-x: -397px;
@ico-arrow-tab-offset-y: -40px;
@ico-arrow-tab-width: 25px;
@ico-arrow-tab-height: 38px;
@ico-arrow-tab-total-width: 450px;
@ico-arrow-tab-total-height: 419px;
@ico-arrow-tab-image: "../img/ico.png";
@ico-arrow-tab: 397px 40px -397px -40px 25px 38px 450px 419px "../img/ico.png" "ico-arrow-tab";
@ico-arrow-white-name: "ico-arrow-white";
@ico-arrow-white-x: 442px;
@ico-arrow-white-y: 369px;
@ico-arrow-white-offset-x: -442px;
@ico-arrow-white-offset-y: -369px;
@ico-arrow-white-width: 8px;
@ico-arrow-white-height: 14px;
@ico-arrow-white-total-width: 450px;
@ico-arrow-white-total-height: 419px;
@ico-arrow-white-image: "../img/ico.png";
@ico-arrow-white: 442px 369px -442px -369px 8px 14px 450px 419px "../img/ico.png" "ico-arrow-white";
@ico-cabinet-2-name: "ico-cabinet-2";
@ico-cabinet-2-x: 360px;
@ico-cabinet-2-y: 260px;
@ico-cabinet-2-offset-x: -360px;
@ico-cabinet-2-offset-y: -260px;
@ico-cabinet-2-width: 30px;
@ico-cabinet-2-height: 33px;
@ico-cabinet-2-total-width: 450px;
@ico-cabinet-2-total-height: 419px;
@ico-cabinet-2-image: "../img/ico.png";
@ico-cabinet-2: 360px 260px -360px -260px 30px 33px 450px 419px "../img/ico.png" "ico-cabinet-2";
@ico-cabinet-name: "ico-cabinet";
@ico-cabinet-x: 95px;
@ico-cabinet-y: 389px;
@ico-cabinet-offset-x: -95px;
@ico-cabinet-offset-y: -389px;
@ico-cabinet-width: 28px;
@ico-cabinet-height: 29px;
@ico-cabinet-total-width: 450px;
@ico-cabinet-total-height: 419px;
@ico-cabinet-image: "../img/ico.png";
@ico-cabinet: 95px 389px -95px -389px 28px 29px 450px 419px "../img/ico.png" "ico-cabinet";
@ico-cart-2-name: "ico-cart-2";
@ico-cart-2-x: 0;
@ico-cart-2-y: 355px;
@ico-cart-2-offset-x: 0;
@ico-cart-2-offset-y: -355px;
@ico-cart-2-width: 38px;
@ico-cart-2-height: 32px;
@ico-cart-2-total-width: 450px;
@ico-cart-2-total-height: 419px;
@ico-cart-2-image: "../img/ico.png";
@ico-cart-2: 0 355px 0 -355px 38px 32px 450px 419px "../img/ico.png" "ico-cart-2";
@ico-cart-buy-name: "ico-cart-buy";
@ico-cart-buy-x: 424px;
@ico-cart-buy-y: 351px;
@ico-cart-buy-offset-x: -424px;
@ico-cart-buy-offset-y: -351px;
@ico-cart-buy-width: 19px;
@ico-cart-buy-height: 16px;
@ico-cart-buy-total-width: 450px;
@ico-cart-buy-total-height: 419px;
@ico-cart-buy-image: "../img/ico.png";
@ico-cart-buy: 424px 351px -424px -351px 19px 16px 450px 419px "../img/ico.png" "ico-cart-buy";
@ico-cart-name: "ico-cart";
@ico-cart-x: 213px;
@ico-cart-y: 355px;
@ico-cart-offset-x: -213px;
@ico-cart-offset-y: -355px;
@ico-cart-width: 27px;
@ico-cart-height: 23px;
@ico-cart-total-width: 450px;
@ico-cart-total-height: 419px;
@ico-cart-image: "../img/ico.png";
@ico-cart: 213px 355px -213px -355px 27px 23px 450px 419px "../img/ico.png" "ico-cart";
@ico-change-h-name: "ico-change-h";
@ico-change-h-x: 397px;
@ico-change-h-y: 231px;
@ico-change-h-offset-x: -397px;
@ico-change-h-offset-y: -231px;
@ico-change-h-width: 17px;
@ico-change-h-height: 13px;
@ico-change-h-total-width: 450px;
@ico-change-h-total-height: 419px;
@ico-change-h-image: "../img/ico.png";
@ico-change-h: 397px 231px -397px -231px 17px 13px 450px 419px "../img/ico.png" "ico-change-h";
@ico-change-name: "ico-change";
@ico-change-x: 397px;
@ico-change-y: 246px;
@ico-change-offset-x: -397px;
@ico-change-offset-y: -246px;
@ico-change-width: 17px;
@ico-change-height: 13px;
@ico-change-total-width: 450px;
@ico-change-total-height: 419px;
@ico-change-image: "../img/ico.png";
@ico-change: 397px 246px -397px -246px 17px 13px 450px 419px "../img/ico.png" "ico-change";
@ico-check-name: "ico-check";
@ico-check-x: 397px;
@ico-check-y: 293px;
@ico-check-offset-x: -397px;
@ico-check-offset-y: -293px;
@ico-check-width: 16px;
@ico-check-height: 13px;
@ico-check-total-width: 450px;
@ico-check-total-height: 419px;
@ico-check-image: "../img/ico.png";
@ico-check: 397px 293px -397px -293px 16px 13px 450px 419px "../img/ico.png" "ico-check";
@ico-checkbox-big-name: "ico-checkbox-big";
@ico-checkbox-big-x: 424px;
@ico-checkbox-big-y: 390px;
@ico-checkbox-big-offset-x: -424px;
@ico-checkbox-big-offset-y: -390px;
@ico-checkbox-big-width: 20px;
@ico-checkbox-big-height: 15px;
@ico-checkbox-big-total-width: 450px;
@ico-checkbox-big-total-height: 419px;
@ico-checkbox-big-image: "../img/ico.png";
@ico-checkbox-big: 424px 390px -424px -390px 20px 15px 450px 419px "../img/ico.png" "ico-checkbox-big";
@ico-checkbox-name: "ico-checkbox";
@ico-checkbox-x: 341px;
@ico-checkbox-y: 167px;
@ico-checkbox-offset-x: -341px;
@ico-checkbox-offset-y: -167px;
@ico-checkbox-width: 12px;
@ico-checkbox-height: 10px;
@ico-checkbox-total-width: 450px;
@ico-checkbox-total-height: 419px;
@ico-checkbox-image: "../img/ico.png";
@ico-checkbox: 341px 167px -341px -167px 12px 10px 450px 419px "../img/ico.png" "ico-checkbox";
@ico-close-big-name: "ico-close-big";
@ico-close-big-x: 397px;
@ico-close-big-y: 214px;
@ico-close-big-offset-x: -397px;
@ico-close-big-offset-y: -214px;
@ico-close-big-width: 15px;
@ico-close-big-height: 15px;
@ico-close-big-total-width: 450px;
@ico-close-big-total-height: 419px;
@ico-close-big-image: "../img/ico.png";
@ico-close-big: 397px 214px -397px -214px 15px 15px 450px 419px "../img/ico.png" "ico-close-big";
@ico-close-name: "ico-close";
@ico-close-x: 341px;
@ico-close-y: 192px;
@ico-close-offset-x: -341px;
@ico-close-offset-y: -192px;
@ico-close-width: 10px;
@ico-close-height: 10px;
@ico-close-total-width: 450px;
@ico-close-total-height: 419px;
@ico-close-image: "../img/ico.png";
@ico-close: 341px 192px -341px -192px 10px 10px 450px 419px "../img/ico.png" "ico-close";
@ico-edit-2-name: "ico-edit-2";
@ico-edit-2-x: 179px;
@ico-edit-2-y: 355px;
@ico-edit-2-offset-x: -179px;
@ico-edit-2-offset-y: -355px;
@ico-edit-2-width: 32px;
@ico-edit-2-height: 23px;
@ico-edit-2-total-width: 450px;
@ico-edit-2-total-height: 419px;
@ico-edit-2-image: "../img/ico.png";
@ico-edit-2: 179px 355px -179px -355px 32px 23px 450px 419px "../img/ico.png" "ico-edit-2";
@ico-edit-3-name: "ico-edit-3";
@ico-edit-3-x: 145px;
@ico-edit-3-y: 355px;
@ico-edit-3-offset-x: -145px;
@ico-edit-3-offset-y: -355px;
@ico-edit-3-width: 32px;
@ico-edit-3-height: 23px;
@ico-edit-3-total-width: 450px;
@ico-edit-3-total-height: 419px;
@ico-edit-3-image: "../img/ico.png";
@ico-edit-3: 145px 355px -145px -355px 32px 23px 450px 419px "../img/ico.png" "ico-edit-3";
@ico-edit-h-name: "ico-edit-h";
@ico-edit-h-x: 397px;
@ico-edit-h-y: 308px;
@ico-edit-h-offset-x: -397px;
@ico-edit-h-offset-y: -308px;
@ico-edit-h-width: 13px;
@ico-edit-h-height: 13px;
@ico-edit-h-total-width: 450px;
@ico-edit-h-total-height: 419px;
@ico-edit-h-image: "../img/ico.png";
@ico-edit-h: 397px 308px -397px -308px 13px 13px 450px 419px "../img/ico.png" "ico-edit-h";
@ico-edit-name: "ico-edit";
@ico-edit-x: 397px;
@ico-edit-y: 323px;
@ico-edit-offset-x: -397px;
@ico-edit-offset-y: -323px;
@ico-edit-width: 13px;
@ico-edit-height: 13px;
@ico-edit-total-width: 450px;
@ico-edit-total-height: 419px;
@ico-edit-image: "../img/ico.png";
@ico-edit: 397px 323px -397px -323px 13px 13px 450px 419px "../img/ico.png" "ico-edit";
@ico-favorite-big-name: "ico-favorite-big";
@ico-favorite-big-x: 397px;
@ico-favorite-big-y: 261px;
@ico-favorite-big-offset-x: -397px;
@ico-favorite-big-offset-y: -261px;
@ico-favorite-big-width: 13px;
@ico-favorite-big-height: 17px;
@ico-favorite-big-total-width: 450px;
@ico-favorite-big-total-height: 419px;
@ico-favorite-big-image: "../img/ico.png";
@ico-favorite-big: 397px 261px -397px -261px 13px 17px 450px 419px "../img/ico.png" "ico-favorite-big";
@ico-favorite-h-name: "ico-favorite-h";
@ico-favorite-h-x: 412px;
@ico-favorite-h-y: 261px;
@ico-favorite-h-offset-x: -412px;
@ico-favorite-h-offset-y: -261px;
@ico-favorite-h-width: 9px;
@ico-favorite-h-height: 13px;
@ico-favorite-h-total-width: 450px;
@ico-favorite-h-total-height: 419px;
@ico-favorite-h-image: "../img/ico.png";
@ico-favorite-h: 412px 261px -412px -261px 9px 13px 450px 419px "../img/ico.png" "ico-favorite-h";
@ico-favorite-name: "ico-favorite";
@ico-favorite-x: 412px;
@ico-favorite-y: 308px;
@ico-favorite-offset-x: -412px;
@ico-favorite-offset-y: -308px;
@ico-favorite-width: 9px;
@ico-favorite-height: 13px;
@ico-favorite-total-width: 450px;
@ico-favorite-total-height: 419px;
@ico-favorite-image: "../img/ico.png";
@ico-favorite: 412px 308px -412px -308px 9px 13px 450px 419px "../img/ico.png" "ico-favorite";
@ico-fc-name: "ico-fc";
@ico-fc-x: 240px;
@ico-fc-y: 307px;
@ico-fc-offset-x: -240px;
@ico-fc-offset-y: -307px;
@ico-fc-width: 35px;
@ico-fc-height: 35px;
@ico-fc-total-width: 450px;
@ico-fc-total-height: 419px;
@ico-fc-image: "../img/ico.png";
@ico-fc: 240px 307px -240px -307px 35px 35px 450px 419px "../img/ico.png" "ico-fc";
@ico-google-name: "ico-google";
@ico-google-x: 301px;
@ico-google-y: 216px;
@ico-google-offset-x: -301px;
@ico-google-offset-y: -216px;
@ico-google-width: 35px;
@ico-google-height: 35px;
@ico-google-total-width: 450px;
@ico-google-total-height: 419px;
@ico-google-image: "../img/ico.png";
@ico-google: 301px 216px -301px -216px 35px 35px 450px 419px "../img/ico.png" "ico-google";
@ico-hamburger-name: "ico-hamburger";
@ico-hamburger-x: 424px;
@ico-hamburger-y: 312px;
@ico-hamburger-offset-x: -424px;
@ico-hamburger-offset-y: -312px;
@ico-hamburger-width: 20px;
@ico-hamburger-height: 17px;
@ico-hamburger-total-width: 450px;
@ico-hamburger-total-height: 419px;
@ico-hamburger-image: "../img/ico.png";
@ico-hamburger: 424px 312px -424px -312px 20px 17px 450px 419px "../img/ico.png" "ico-hamburger";
@ico-icon-car-name: "ico-icon-car";
@ico-icon-car-x: 73px;
@ico-icon-car-y: 355px;
@ico-icon-car-offset-x: -73px;
@ico-icon-car-offset-y: -355px;
@ico-icon-car-width: 34px;
@ico-icon-car-height: 28px;
@ico-icon-car-total-width: 450px;
@ico-icon-car-total-height: 419px;
@ico-icon-car-image: "../img/ico.png";
@ico-icon-car: 73px 355px -73px -355px 34px 28px 450px 419px "../img/ico.png" "ico-icon-car";
@ico-icon-money-name: "ico-icon-money";
@ico-icon-money-x: 125px;
@ico-icon-money-y: 389px;
@ico-icon-money-offset-x: -125px;
@ico-icon-money-offset-y: -389px;
@ico-icon-money-width: 29px;
@ico-icon-money-height: 28px;
@ico-icon-money-total-width: 450px;
@ico-icon-money-total-height: 419px;
@ico-icon-money-image: "../img/ico.png";
@ico-icon-money: 125px 389px -125px -389px 29px 28px 450px 419px "../img/ico.png" "ico-icon-money";
@ico-icon-perc-name: "ico-icon-perc";
@ico-icon-perc-x: 360px;
@ico-icon-perc-y: 184px;
@ico-icon-perc-offset-x: -360px;
@ico-icon-perc-offset-y: -184px;
@ico-icon-perc-width: 30px;
@ico-icon-perc-height: 38px;
@ico-icon-perc-total-width: 450px;
@ico-icon-perc-total-height: 419px;
@ico-icon-perc-image: "../img/ico.png";
@ico-icon-perc: 360px 184px -360px -184px 30px 38px 450px 419px "../img/ico.png" "ico-icon-perc";
@ico-icon-perc2-name: "ico-icon-perc2";
@ico-icon-perc2-x: 360px;
@ico-icon-perc2-y: 295px;
@ico-icon-perc2-offset-x: -360px;
@ico-icon-perc2-offset-y: -295px;
@ico-icon-perc2-width: 31px;
@ico-icon-perc2-height: 31px;
@ico-icon-perc2-total-width: 450px;
@ico-icon-perc2-total-height: 419px;
@ico-icon-perc2-image: "../img/ico.png";
@ico-icon-perc2: 360px 295px -360px -295px 31px 31px 450px 419px "../img/ico.png" "ico-icon-perc2";
@ico-icon-present-name: "ico-icon-present";
@ico-icon-present-x: 64px;
@ico-icon-present-y: 389px;
@ico-icon-present-offset-x: -64px;
@ico-icon-present-offset-y: -389px;
@ico-icon-present-width: 29px;
@ico-icon-present-height: 30px;
@ico-icon-present-total-width: 450px;
@ico-icon-present-total-height: 419px;
@ico-icon-present-image: "../img/ico.png";
@ico-icon-present: 64px 389px -64px -389px 29px 30px 450px 419px "../img/ico.png" "ico-icon-present";
@ico-icon-rocket-name: "ico-icon-rocket";
@ico-icon-rocket-x: 360px;
@ico-icon-rocket-y: 148px;
@ico-icon-rocket-offset-x: -360px;
@ico-icon-rocket-offset-y: -148px;
@ico-icon-rocket-width: 34px;
@ico-icon-rocket-height: 34px;
@ico-icon-rocket-total-width: 450px;
@ico-icon-rocket-total-height: 419px;
@ico-icon-rocket-image: "../img/ico.png";
@ico-icon-rocket: 360px 148px -360px -148px 34px 34px 450px 419px "../img/ico.png" "ico-icon-rocket";
@ico-info-min-name: "ico-info-min";
@ico-info-min-x: 397px;
@ico-info-min-y: 180px;
@ico-info-min-offset-x: -397px;
@ico-info-min-offset-y: -180px;
@ico-info-min-width: 15px;
@ico-info-min-height: 15px;
@ico-info-min-total-width: 450px;
@ico-info-min-total-height: 419px;
@ico-info-min-image: "../img/ico.png";
@ico-info-min: 397px 180px -397px -180px 15px 15px 450px 419px "../img/ico.png" "ico-info-min";
@ico-info-name: "ico-info";
@ico-info-x: 424px;
@ico-info-y: 36px;
@ico-info-offset-x: -424px;
@ico-info-offset-y: -36px;
@ico-info-width: 26px;
@ico-info-height: 26px;
@ico-info-total-width: 450px;
@ico-info-total-height: 419px;
@ico-info-image: "../img/ico.png";
@ico-info: 424px 36px -424px -36px 26px 26px 450px 419px "../img/ico.png" "ico-info";
@ico-like-name: "ico-like";
@ico-like-x: 397px;
@ico-like-y: 163px;
@ico-like-offset-x: -397px;
@ico-like-offset-y: -163px;
@ico-like-width: 16px;
@ico-like-height: 15px;
@ico-like-total-width: 450px;
@ico-like-total-height: 419px;
@ico-like-image: "../img/ico.png";
@ico-like: 397px 163px -397px -163px 16px 15px 450px 419px "../img/ico.png" "ico-like";
@ico-num-1-name: "ico-num-1";
@ico-num-1-x: 424px;
@ico-num-1-y: 115px;
@ico-num-1-offset-x: -424px;
@ico-num-1-offset-y: -115px;
@ico-num-1-width: 26px;
@ico-num-1-height: 22px;
@ico-num-1-total-width: 450px;
@ico-num-1-total-height: 419px;
@ico-num-1-image: "../img/ico.png";
@ico-num-1: 424px 115px -424px -115px 26px 22px 450px 419px "../img/ico.png" "ico-num-1";
@ico-num-2-name: "ico-num-2";
@ico-num-2-x: 424px;
@ico-num-2-y: 91px;
@ico-num-2-offset-x: -424px;
@ico-num-2-offset-y: -91px;
@ico-num-2-width: 26px;
@ico-num-2-height: 22px;
@ico-num-2-total-width: 450px;
@ico-num-2-total-height: 419px;
@ico-num-2-image: "../img/ico.png";
@ico-num-2: 424px 91px -424px -91px 26px 22px 450px 419px "../img/ico.png" "ico-num-2";
@ico-ok-name: "ico-ok";
@ico-ok-x: 360px;
@ico-ok-y: 74px;
@ico-ok-offset-x: -360px;
@ico-ok-offset-y: -74px;
@ico-ok-width: 35px;
@ico-ok-height: 35px;
@ico-ok-total-width: 450px;
@ico-ok-total-height: 419px;
@ico-ok-image: "../img/ico.png";
@ico-ok: 360px 74px -360px -74px 35px 35px 450px 419px "../img/ico.png" "ico-ok";
@ico-online-payment-name: "ico-online-payment";
@ico-online-payment-x: 424px;
@ico-online-payment-y: 231px;
@ico-online-payment-offset-x: -424px;
@ico-online-payment-offset-y: -231px;
@ico-online-payment-width: 19px;
@ico-online-payment-height: 19px;
@ico-online-payment-total-width: 450px;
@ico-online-payment-total-height: 419px;
@ico-online-payment-image: "../img/ico.png";
@ico-online-payment: 424px 231px -424px -231px 19px 19px 450px 419px "../img/ico.png" "ico-online-payment";
@ico-order-name: "ico-order";
@ico-order-x: 424px;
@ico-order-y: 0;
@ico-order-offset-x: -424px;
@ico-order-offset-y: 0;
@ico-order-width: 26px;
@ico-order-height: 34px;
@ico-order-total-width: 450px;
@ico-order-total-height: 419px;
@ico-order-image: "../img/ico.png";
@ico-order: 424px 0 -424px 0 26px 34px 450px 419px "../img/ico.png" "ico-order";
@ico-phone-name: "ico-phone";
@ico-phone-x: 40px;
@ico-phone-y: 355px;
@ico-phone-offset-x: -40px;
@ico-phone-offset-y: -355px;
@ico-phone-width: 31px;
@ico-phone-height: 31px;
@ico-phone-total-width: 450px;
@ico-phone-total-height: 419px;
@ico-phone-image: "../img/ico.png";
@ico-phone: 40px 355px -40px -355px 31px 31px 450px 419px "../img/ico.png" "ico-phone";
@ico-plus-circle-name: "ico-plus-circle";
@ico-plus-circle-x: 341px;
@ico-plus-circle-y: 146px;
@ico-plus-circle-offset-x: -341px;
@ico-plus-circle-offset-y: -146px;
@ico-plus-circle-width: 12px;
@ico-plus-circle-height: 12px;
@ico-plus-circle-total-width: 450px;
@ico-plus-circle-total-height: 419px;
@ico-plus-circle-image: "../img/ico.png";
@ico-plus-circle: 341px 146px -341px -146px 12px 12px 450px 419px "../img/ico.png" "ico-plus-circle";
@ico-present-h-name: "ico-present-h";
@ico-present-h-x: 32px;
@ico-present-h-y: 389px;
@ico-present-h-offset-x: -32px;
@ico-present-h-offset-y: -389px;
@ico-present-h-width: 30px;
@ico-present-h-height: 30px;
@ico-present-h-total-width: 450px;
@ico-present-h-total-height: 419px;
@ico-present-h-image: "../img/ico.png";
@ico-present-h: 32px 389px -32px -389px 30px 30px 450px 419px "../img/ico.png" "ico-present-h";
@ico-present-name: "ico-present";
@ico-present-x: 0;
@ico-present-y: 389px;
@ico-present-offset-x: 0;
@ico-present-offset-y: -389px;
@ico-present-width: 30px;
@ico-present-height: 30px;
@ico-present-total-width: 450px;
@ico-present-total-height: 419px;
@ico-present-image: "../img/ico.png";
@ico-present: 0 389px 0 -389px 30px 30px 450px 419px "../img/ico.png" "ico-present";
@ico-print-h-name: "ico-print-h";
@ico-print-h-x: 424px;
@ico-print-h-y: 292px;
@ico-print-h-offset-x: -424px;
@ico-print-h-offset-y: -292px;
@ico-print-h-width: 20px;
@ico-print-h-height: 18px;
@ico-print-h-total-width: 450px;
@ico-print-h-total-height: 419px;
@ico-print-h-image: "../img/ico.png";
@ico-print-h: 424px 292px -424px -292px 20px 18px 450px 419px "../img/ico.png" "ico-print-h";
@ico-print-name: "ico-print";
@ico-print-x: 424px;
@ico-print-y: 189px;
@ico-print-offset-x: -424px;
@ico-print-offset-y: -189px;
@ico-print-width: 19px;
@ico-print-height: 20px;
@ico-print-total-width: 450px;
@ico-print-total-height: 419px;
@ico-print-image: "../img/ico.png";
@ico-print: 424px 189px -424px -189px 19px 20px 450px 419px "../img/ico.png" "ico-print";
@ico-question-name: "ico-question";
@ico-question-x: 397px;
@ico-question-y: 197px;
@ico-question-offset-x: -397px;
@ico-question-offset-y: -197px;
@ico-question-width: 15px;
@ico-question-height: 15px;
@ico-question-total-width: 450px;
@ico-question-total-height: 419px;
@ico-question-image: "../img/ico.png";
@ico-question: 397px 197px -397px -197px 15px 15px 450px 419px "../img/ico.png" "ico-question";
@ico-repeat-order-name: "ico-repeat-order";
@ico-repeat-order-x: 397px;
@ico-repeat-order-y: 128px;
@ico-repeat-order-offset-x: -397px;
@ico-repeat-order-offset-y: -128px;
@ico-repeat-order-width: 18px;
@ico-repeat-order-height: 16px;
@ico-repeat-order-total-width: 450px;
@ico-repeat-order-total-height: 419px;
@ico-repeat-order-image: "../img/ico.png";
@ico-repeat-order: 397px 128px -397px -128px 18px 16px 450px 419px "../img/ico.png" "ico-repeat-order";
@ico-scope-2-name: "ico-scope-2";
@ico-scope-2-x: 360px;
@ico-scope-2-y: 224px;
@ico-scope-2-offset-x: -360px;
@ico-scope-2-offset-y: -224px;
@ico-scope-2-width: 33px;
@ico-scope-2-height: 34px;
@ico-scope-2-total-width: 450px;
@ico-scope-2-total-height: 419px;
@ico-scope-2-image: "../img/ico.png";
@ico-scope-2: 360px 224px -360px -224px 33px 34px 450px 419px "../img/ico.png" "ico-scope-2";
@ico-scope-name: "ico-scope";
@ico-scope-x: 424px;
@ico-scope-y: 139px;
@ico-scope-offset-x: -424px;
@ico-scope-offset-y: -139px;
@ico-scope-width: 24px;
@ico-scope-height: 23px;
@ico-scope-total-width: 450px;
@ico-scope-total-height: 419px;
@ico-scope-image: "../img/ico.png";
@ico-scope: 424px 139px -424px -139px 24px 23px 450px 419px "../img/ico.png" "ico-scope";
@ico-search-name: "ico-search";
@ico-search-x: 424px;
@ico-search-y: 64px;
@ico-search-offset-x: -424px;
@ico-search-offset-y: -64px;
@ico-search-width: 25px;
@ico-search-height: 25px;
@ico-search-total-width: 450px;
@ico-search-total-height: 419px;
@ico-search-image: "../img/ico.png";
@ico-search: 424px 64px -424px -64px 25px 25px 450px 419px "../img/ico.png" "ico-search";
@ico-shipping-2-name: "ico-shipping-2";
@ico-shipping-2-x: 360px;
@ico-shipping-2-y: 328px;
@ico-shipping-2-offset-x: -360px;
@ico-shipping-2-offset-y: -328px;
@ico-shipping-2-width: 34px;
@ico-shipping-2-height: 25px;
@ico-shipping-2-total-width: 450px;
@ico-shipping-2-total-height: 419px;
@ico-shipping-2-image: "../img/ico.png";
@ico-shipping-2: 360px 328px -360px -328px 34px 25px 450px 419px "../img/ico.png" "ico-shipping-2";
@ico-shipping-h-name: "ico-shipping-h";
@ico-shipping-h-x: 156px;
@ico-shipping-h-y: 389px;
@ico-shipping-h-offset-x: -156px;
@ico-shipping-h-offset-y: -389px;
@ico-shipping-h-width: 28px;
@ico-shipping-h-height: 24px;
@ico-shipping-h-total-width: 450px;
@ico-shipping-h-total-height: 419px;
@ico-shipping-h-image: "../img/ico.png";
@ico-shipping-h: 156px 389px -156px -389px 28px 24px 450px 419px "../img/ico.png" "ico-shipping-h";
@ico-shipping-name: "ico-shipping";
@ico-shipping-x: 109px;
@ico-shipping-y: 355px;
@ico-shipping-offset-x: -109px;
@ico-shipping-offset-y: -355px;
@ico-shipping-width: 34px;
@ico-shipping-height: 25px;
@ico-shipping-total-width: 450px;
@ico-shipping-total-height: 419px;
@ico-shipping-image: "../img/ico.png";
@ico-shipping: 109px 355px -109px -355px 34px 25px 450px 419px "../img/ico.png" "ico-shipping";
@ico-show-name: "ico-show";
@ico-show-x: 424px;
@ico-show-y: 407px;
@ico-show-offset-x: -424px;
@ico-show-offset-y: -407px;
@ico-show-width: 19px;
@ico-show-height: 12px;
@ico-show-total-width: 450px;
@ico-show-total-height: 419px;
@ico-show-image: "../img/ico.png";
@ico-show: 424px 407px -424px -407px 19px 12px 450px 419px "../img/ico.png" "ico-show";
@ico-soc-mini-tw-name: "ico-soc-mini-tw";
@ico-soc-mini-tw-x: 397px;
@ico-soc-mini-tw-y: 146px;
@ico-soc-mini-tw-offset-x: -397px;
@ico-soc-mini-tw-offset-y: -146px;
@ico-soc-mini-tw-width: 18px;
@ico-soc-mini-tw-height: 15px;
@ico-soc-mini-tw-total-width: 450px;
@ico-soc-mini-tw-total-height: 419px;
@ico-soc-mini-tw-image: "../img/ico.png";
@ico-soc-mini-tw: 397px 146px -397px -146px 18px 15px 450px 419px "../img/ico.png" "ico-soc-mini-tw";
@ico-soc-mini-vk-name: "ico-soc-mini-vk";
@ico-soc-mini-vk-x: 397px;
@ico-soc-mini-vk-y: 280px;
@ico-soc-mini-vk-offset-x: -397px;
@ico-soc-mini-vk-offset-y: -280px;
@ico-soc-mini-vk-width: 19px;
@ico-soc-mini-vk-height: 11px;
@ico-soc-mini-vk-total-width: 450px;
@ico-soc-mini-vk-total-height: 419px;
@ico-soc-mini-vk-image: "../img/ico.png";
@ico-soc-mini-vk: 397px 280px -397px -280px 19px 11px 450px 419px "../img/ico.png" "ico-soc-mini-vk";
@ico-soc-mini-yt-name: "ico-soc-mini-yt";
@ico-soc-mini-yt-x: 424px;
@ico-soc-mini-yt-y: 369px;
@ico-soc-mini-yt-offset-x: -424px;
@ico-soc-mini-yt-offset-y: -369px;
@ico-soc-mini-yt-width: 16px;
@ico-soc-mini-yt-height: 19px;
@ico-soc-mini-yt-total-width: 450px;
@ico-soc-mini-yt-total-height: 419px;
@ico-soc-mini-yt-image: "../img/ico.png";
@ico-soc-mini-yt: 424px 369px -424px -369px 16px 19px 450px 419px "../img/ico.png" "ico-soc-mini-yt";
@ico-star-big-stroke-name: "ico-star-big-stroke";
@ico-star-big-stroke-x: 424px;
@ico-star-big-stroke-y: 272px;
@ico-star-big-stroke-offset-x: -424px;
@ico-star-big-stroke-offset-y: -272px;
@ico-star-big-stroke-width: 20px;
@ico-star-big-stroke-height: 18px;
@ico-star-big-stroke-total-width: 450px;
@ico-star-big-stroke-total-height: 419px;
@ico-star-big-stroke-image: "../img/ico.png";
@ico-star-big-stroke: 424px 272px -424px -272px 20px 18px 450px 419px "../img/ico.png" "ico-star-big-stroke";
@ico-star-big-name: "ico-star-big";
@ico-star-big-x: 424px;
@ico-star-big-y: 252px;
@ico-star-big-offset-x: -424px;
@ico-star-big-offset-y: -252px;
@ico-star-big-width: 20px;
@ico-star-big-height: 18px;
@ico-star-big-total-width: 450px;
@ico-star-big-total-height: 419px;
@ico-star-big-image: "../img/ico.png";
@ico-star-big: 424px 252px -424px -252px 20px 18px 450px 419px "../img/ico.png" "ico-star-big";
@ico-star-deactive-name: "ico-star-deactive";
@ico-star-deactive-x: 341px;
@ico-star-deactive-y: 118px;
@ico-star-deactive-offset-x: -341px;
@ico-star-deactive-offset-y: -118px;
@ico-star-deactive-width: 14px;
@ico-star-deactive-height: 12px;
@ico-star-deactive-total-width: 450px;
@ico-star-deactive-total-height: 419px;
@ico-star-deactive-image: "../img/ico.png";
@ico-star-deactive: 341px 118px -341px -118px 14px 12px 450px 419px "../img/ico.png" "ico-star-deactive";
@ico-star-orange-stroke-name: "ico-star-orange-stroke";
@ico-star-orange-stroke-x: 397px;
@ico-star-orange-stroke-y: 352px;
@ico-star-orange-stroke-offset-x: -397px;
@ico-star-orange-stroke-offset-y: -352px;
@ico-star-orange-stroke-width: 14px;
@ico-star-orange-stroke-height: 12px;
@ico-star-orange-stroke-total-width: 450px;
@ico-star-orange-stroke-total-height: 419px;
@ico-star-orange-stroke-image: "../img/ico.png";
@ico-star-orange-stroke: 397px 352px -397px -352px 14px 12px 450px 419px "../img/ico.png" "ico-star-orange-stroke";
@ico-star-orange-name: "ico-star-orange";
@ico-star-orange-x: 397px;
@ico-star-orange-y: 338px;
@ico-star-orange-offset-x: -397px;
@ico-star-orange-offset-y: -338px;
@ico-star-orange-width: 14px;
@ico-star-orange-height: 12px;
@ico-star-orange-total-width: 450px;
@ico-star-orange-total-height: 419px;
@ico-star-orange-image: "../img/ico.png";
@ico-star-orange: 397px 338px -397px -338px 14px 12px 450px 419px "../img/ico.png" "ico-star-orange";
@ico-star-pink-name: "ico-star-pink";
@ico-star-pink-x: 397px;
@ico-star-pink-y: 366px;
@ico-star-pink-offset-x: -397px;
@ico-star-pink-offset-y: -366px;
@ico-star-pink-width: 14px;
@ico-star-pink-height: 12px;
@ico-star-pink-total-width: 450px;
@ico-star-pink-total-height: 419px;
@ico-star-pink-image: "../img/ico.png";
@ico-star-pink: 397px 366px -397px -366px 14px 12px 450px 419px "../img/ico.png" "ico-star-pink";
@ico-star-red-name: "ico-star-red";
@ico-star-red-x: 341px;
@ico-star-red-y: 132px;
@ico-star-red-offset-x: -341px;
@ico-star-red-offset-y: -132px;
@ico-star-red-width: 14px;
@ico-star-red-height: 12px;
@ico-star-red-total-width: 450px;
@ico-star-red-total-height: 419px;
@ico-star-red-image: "../img/ico.png";
@ico-star-red: 341px 132px -341px -132px 14px 12px 450px 419px "../img/ico.png" "ico-star-red";
@ico-upstairs-name: "ico-upstairs";
@ico-upstairs-x: 0;
@ico-upstairs-y: 0;
@ico-upstairs-offset-x: 0;
@ico-upstairs-offset-y: 0;
@ico-upstairs-width: 64px;
@ico-upstairs-height: 64px;
@ico-upstairs-total-width: 450px;
@ico-upstairs-total-height: 419px;
@ico-upstairs-image: "../img/ico.png";
@ico-upstairs: 0 0 0 0 64px 64px 450px 419px "../img/ico.png" "ico-upstairs";
@ico-variants-1-name: "ico-variants-1";
@ico-variants-1-x: 40px;
@ico-variants-1-y: 259px;
@ico-variants-1-offset-x: -40px;
@ico-variants-1-offset-y: -259px;
@ico-variants-1-width: 38px;
@ico-variants-1-height: 46px;
@ico-variants-1-total-width: 450px;
@ico-variants-1-total-height: 419px;
@ico-variants-1-image: "../img/ico.png";
@ico-variants-1: 40px 259px -40px -259px 38px 46px 450px 419px "../img/ico.png" "ico-variants-1";
@ico-variants-10-name: "ico-variants-10";
@ico-variants-10-x: 160px;
@ico-variants-10-y: 259px;
@ico-variants-10-offset-x: -160px;
@ico-variants-10-offset-y: -259px;
@ico-variants-10-width: 38px;
@ico-variants-10-height: 46px;
@ico-variants-10-total-width: 450px;
@ico-variants-10-total-height: 419px;
@ico-variants-10-image: "../img/ico.png";
@ico-variants-10: 160px 259px -160px -259px 38px 46px 450px 419px "../img/ico.png" "ico-variants-10";
@ico-variants-10b-name: "ico-variants-10b";
@ico-variants-10b-x: 177px;
@ico-variants-10b-y: 200px;
@ico-variants-10b-offset-x: -177px;
@ico-variants-10b-offset-y: -200px;
@ico-variants-10b-width: 57px;
@ico-variants-10b-height: 57px;
@ico-variants-10b-total-width: 450px;
@ico-variants-10b-total-height: 419px;
@ico-variants-10b-image: "../img/ico.png";
@ico-variants-10b: 177px 200px -177px -200px 57px 57px 450px 419px "../img/ico.png" "ico-variants-10b";
@ico-variants-11-name: "ico-variants-11";
@ico-variants-11-x: 40px;
@ico-variants-11-y: 307px;
@ico-variants-11-offset-x: -40px;
@ico-variants-11-offset-y: -307px;
@ico-variants-11-width: 38px;
@ico-variants-11-height: 46px;
@ico-variants-11-total-width: 450px;
@ico-variants-11-total-height: 419px;
@ico-variants-11-image: "../img/ico.png";
@ico-variants-11: 40px 307px -40px -307px 38px 46px 450px 419px "../img/ico.png" "ico-variants-11";
@ico-variants-11b-name: "ico-variants-11b";
@ico-variants-11b-x: 177px;
@ico-variants-11b-y: 141px;
@ico-variants-11b-offset-x: -177px;
@ico-variants-11b-offset-y: -141px;
@ico-variants-11b-width: 57px;
@ico-variants-11b-height: 57px;
@ico-variants-11b-total-width: 450px;
@ico-variants-11b-total-height: 419px;
@ico-variants-11b-image: "../img/ico.png";
@ico-variants-11b: 177px 141px -177px -141px 57px 57px 450px 419px "../img/ico.png" "ico-variants-11b";
@ico-variants-12-name: "ico-variants-12";
@ico-variants-12-x: 160px;
@ico-variants-12-y: 307px;
@ico-variants-12-offset-x: -160px;
@ico-variants-12-offset-y: -307px;
@ico-variants-12-width: 38px;
@ico-variants-12-height: 46px;
@ico-variants-12-total-width: 450px;
@ico-variants-12-total-height: 419px;
@ico-variants-12-image: "../img/ico.png";
@ico-variants-12: 160px 307px -160px -307px 38px 46px 450px 419px "../img/ico.png" "ico-variants-12";
@ico-variants-12b-name: "ico-variants-12b";
@ico-variants-12b-x: 183px;
@ico-variants-12b-y: 59px;
@ico-variants-12b-offset-x: -183px;
@ico-variants-12b-offset-y: -59px;
@ico-variants-12b-width: 57px;
@ico-variants-12b-height: 57px;
@ico-variants-12b-total-width: 450px;
@ico-variants-12b-total-height: 419px;
@ico-variants-12b-image: "../img/ico.png";
@ico-variants-12b: 183px 59px -183px -59px 57px 57px 450px 419px "../img/ico.png" "ico-variants-12b";
@ico-variants-13-name: "ico-variants-13";
@ico-variants-13-x: 120px;
@ico-variants-13-y: 259px;
@ico-variants-13-offset-x: -120px;
@ico-variants-13-offset-y: -259px;
@ico-variants-13-width: 38px;
@ico-variants-13-height: 46px;
@ico-variants-13-total-width: 450px;
@ico-variants-13-total-height: 419px;
@ico-variants-13-image: "../img/ico.png";
@ico-variants-13: 120px 259px -120px -259px 38px 46px 450px 419px "../img/ico.png" "ico-variants-13";
@ico-variants-13b-name: "ico-variants-13b";
@ico-variants-13b-x: 183px;
@ico-variants-13b-y: 0;
@ico-variants-13b-offset-x: -183px;
@ico-variants-13b-offset-y: 0;
@ico-variants-13b-width: 57px;
@ico-variants-13b-height: 57px;
@ico-variants-13b-total-width: 450px;
@ico-variants-13b-total-height: 419px;
@ico-variants-13b-image: "../img/ico.png";
@ico-variants-13b: 183px 0 -183px 0 57px 57px 450px 419px "../img/ico.png" "ico-variants-13b";
@ico-variants-14-name: "ico-variants-14";
@ico-variants-14-x: 200px;
@ico-variants-14-y: 259px;
@ico-variants-14-offset-x: -200px;
@ico-variants-14-offset-y: -259px;
@ico-variants-14-width: 38px;
@ico-variants-14-height: 46px;
@ico-variants-14-total-width: 450px;
@ico-variants-14-total-height: 419px;
@ico-variants-14-image: "../img/ico.png";
@ico-variants-14: 200px 259px -200px -259px 38px 46px 450px 419px "../img/ico.png" "ico-variants-14";
@ico-variants-14b-name: "ico-variants-14b";
@ico-variants-14b-x: 124px;
@ico-variants-14b-y: 0;
@ico-variants-14b-offset-x: -124px;
@ico-variants-14b-offset-y: 0;
@ico-variants-14b-width: 57px;
@ico-variants-14b-height: 57px;
@ico-variants-14b-total-width: 450px;
@ico-variants-14b-total-height: 419px;
@ico-variants-14b-image: "../img/ico.png";
@ico-variants-14b: 124px 0 -124px 0 57px 57px 450px 419px "../img/ico.png" "ico-variants-14b";
@ico-variants-15-name: "ico-variants-15";
@ico-variants-15-x: 280px;
@ico-variants-15-y: 259px;
@ico-variants-15-offset-x: -280px;
@ico-variants-15-offset-y: -259px;
@ico-variants-15-width: 38px;
@ico-variants-15-height: 46px;
@ico-variants-15-total-width: 450px;
@ico-variants-15-total-height: 419px;
@ico-variants-15-image: "../img/ico.png";
@ico-variants-15: 280px 259px -280px -259px 38px 46px 450px 419px "../img/ico.png" "ico-variants-15";
@ico-variants-15b-name: "ico-variants-15b";
@ico-variants-15b-x: 124px;
@ico-variants-15b-y: 59px;
@ico-variants-15b-offset-x: -124px;
@ico-variants-15b-offset-y: -59px;
@ico-variants-15b-width: 57px;
@ico-variants-15b-height: 57px;
@ico-variants-15b-total-width: 450px;
@ico-variants-15b-total-height: 419px;
@ico-variants-15b-image: "../img/ico.png";
@ico-variants-15b: 124px 59px -124px -59px 57px 57px 450px 419px "../img/ico.png" "ico-variants-15b";
@ico-variants-16-name: "ico-variants-16";
@ico-variants-16-x: 320px;
@ico-variants-16-y: 259px;
@ico-variants-16-offset-x: -320px;
@ico-variants-16-offset-y: -259px;
@ico-variants-16-width: 38px;
@ico-variants-16-height: 46px;
@ico-variants-16-total-width: 450px;
@ico-variants-16-total-height: 419px;
@ico-variants-16-image: "../img/ico.png";
@ico-variants-16: 320px 259px -320px -259px 38px 46px 450px 419px "../img/ico.png" "ico-variants-16";
@ico-variants-16b-name: "ico-variants-16b";
@ico-variants-16b-x: 59px;
@ico-variants-16b-y: 141px;
@ico-variants-16b-offset-x: -59px;
@ico-variants-16b-offset-y: -141px;
@ico-variants-16b-width: 57px;
@ico-variants-16b-height: 57px;
@ico-variants-16b-total-width: 450px;
@ico-variants-16b-total-height: 419px;
@ico-variants-16b-image: "../img/ico.png";
@ico-variants-16b: 59px 141px -59px -141px 57px 57px 450px 419px "../img/ico.png" "ico-variants-16b";
@ico-variants-17-name: "ico-variants-17";
@ico-variants-17-x: 200px;
@ico-variants-17-y: 307px;
@ico-variants-17-offset-x: -200px;
@ico-variants-17-offset-y: -307px;
@ico-variants-17-width: 38px;
@ico-variants-17-height: 46px;
@ico-variants-17-total-width: 450px;
@ico-variants-17-total-height: 419px;
@ico-variants-17-image: "../img/ico.png";
@ico-variants-17: 200px 307px -200px -307px 38px 46px 450px 419px "../img/ico.png" "ico-variants-17";
@ico-variants-17b-name: "ico-variants-17b";
@ico-variants-17b-x: 242px;
@ico-variants-17b-y: 0;
@ico-variants-17b-offset-x: -242px;
@ico-variants-17b-offset-y: 0;
@ico-variants-17b-width: 57px;
@ico-variants-17b-height: 57px;
@ico-variants-17b-total-width: 450px;
@ico-variants-17b-total-height: 419px;
@ico-variants-17b-image: "../img/ico.png";
@ico-variants-17b: 242px 0 -242px 0 57px 57px 450px 419px "../img/ico.png" "ico-variants-17b";
@ico-variants-18-name: "ico-variants-18";
@ico-variants-18-x: 0;
@ico-variants-18-y: 307px;
@ico-variants-18-offset-x: 0;
@ico-variants-18-offset-y: -307px;
@ico-variants-18-width: 38px;
@ico-variants-18-height: 46px;
@ico-variants-18-total-width: 450px;
@ico-variants-18-total-height: 419px;
@ico-variants-18-image: "../img/ico.png";
@ico-variants-18: 0 307px 0 -307px 38px 46px 450px 419px "../img/ico.png" "ico-variants-18";
@ico-variants-18b-name: "ico-variants-18b";
@ico-variants-18b-x: 242px;
@ico-variants-18b-y: 59px;
@ico-variants-18b-offset-x: -242px;
@ico-variants-18b-offset-y: -59px;
@ico-variants-18b-width: 57px;
@ico-variants-18b-height: 57px;
@ico-variants-18b-total-width: 450px;
@ico-variants-18b-total-height: 419px;
@ico-variants-18b-image: "../img/ico.png";
@ico-variants-18b: 242px 59px -242px -59px 57px 57px 450px 419px "../img/ico.png" "ico-variants-18b";
@ico-variants-1b-name: "ico-variants-1b";
@ico-variants-1b-x: 242px;
@ico-variants-1b-y: 118px;
@ico-variants-1b-offset-x: -242px;
@ico-variants-1b-offset-y: -118px;
@ico-variants-1b-width: 57px;
@ico-variants-1b-height: 57px;
@ico-variants-1b-total-width: 450px;
@ico-variants-1b-total-height: 419px;
@ico-variants-1b-image: "../img/ico.png";
@ico-variants-1b: 242px 118px -242px -118px 57px 57px 450px 419px "../img/ico.png" "ico-variants-1b";
@ico-variants-2-name: "ico-variants-2";
@ico-variants-2-x: 301px;
@ico-variants-2-y: 167px;
@ico-variants-2-offset-x: -301px;
@ico-variants-2-offset-y: -167px;
@ico-variants-2-width: 38px;
@ico-variants-2-height: 47px;
@ico-variants-2-total-width: 450px;
@ico-variants-2-total-height: 419px;
@ico-variants-2-image: "../img/ico.png";
@ico-variants-2: 301px 167px -301px -167px 38px 47px 450px 419px "../img/ico.png" "ico-variants-2";
@ico-variants-2b-name: "ico-variants-2b";
@ico-variants-2b-x: 0;
@ico-variants-2b-y: 200px;
@ico-variants-2b-offset-x: 0;
@ico-variants-2b-offset-y: -200px;
@ico-variants-2b-width: 57px;
@ico-variants-2b-height: 57px;
@ico-variants-2b-total-width: 450px;
@ico-variants-2b-total-height: 419px;
@ico-variants-2b-image: "../img/ico.png";
@ico-variants-2b: 0 200px 0 -200px 57px 57px 450px 419px "../img/ico.png" "ico-variants-2b";
@ico-variants-3-name: "ico-variants-3";
@ico-variants-3-x: 301px;
@ico-variants-3-y: 118px;
@ico-variants-3-offset-x: -301px;
@ico-variants-3-offset-y: -118px;
@ico-variants-3-width: 38px;
@ico-variants-3-height: 47px;
@ico-variants-3-total-width: 450px;
@ico-variants-3-total-height: 419px;
@ico-variants-3-image: "../img/ico.png";
@ico-variants-3: 301px 118px -301px -118px 38px 47px 450px 419px "../img/ico.png" "ico-variants-3";
@ico-variants-3b-name: "ico-variants-3b";
@ico-variants-3b-x: 118px;
@ico-variants-3b-y: 200px;
@ico-variants-3b-offset-x: -118px;
@ico-variants-3b-offset-y: -200px;
@ico-variants-3b-width: 57px;
@ico-variants-3b-height: 57px;
@ico-variants-3b-total-width: 450px;
@ico-variants-3b-total-height: 419px;
@ico-variants-3b-image: "../img/ico.png";
@ico-variants-3b: 118px 200px -118px -200px 57px 57px 450px 419px "../img/ico.png" "ico-variants-3b";
@ico-variants-4-name: "ico-variants-4";
@ico-variants-4-x: 66px;
@ico-variants-4-y: 75px;
@ico-variants-4-offset-x: -66px;
@ico-variants-4-offset-y: -75px;
@ico-variants-4-width: 38px;
@ico-variants-4-height: 47px;
@ico-variants-4-total-width: 450px;
@ico-variants-4-total-height: 419px;
@ico-variants-4-image: "../img/ico.png";
@ico-variants-4: 66px 75px -66px -75px 38px 47px 450px 419px "../img/ico.png" "ico-variants-4";
@ico-variants-4b-name: "ico-variants-4b";
@ico-variants-4b-x: 301px;
@ico-variants-4b-y: 0;
@ico-variants-4b-offset-x: -301px;
@ico-variants-4b-offset-y: 0;
@ico-variants-4b-width: 57px;
@ico-variants-4b-height: 57px;
@ico-variants-4b-total-width: 450px;
@ico-variants-4b-total-height: 419px;
@ico-variants-4b-image: "../img/ico.png";
@ico-variants-4b: 301px 0 -301px 0 57px 57px 450px 419px "../img/ico.png" "ico-variants-4b";
@ico-variants-5-name: "ico-variants-5";
@ico-variants-5-x: 80px;
@ico-variants-5-y: 259px;
@ico-variants-5-offset-x: -80px;
@ico-variants-5-offset-y: -259px;
@ico-variants-5-width: 38px;
@ico-variants-5-height: 46px;
@ico-variants-5-total-width: 450px;
@ico-variants-5-total-height: 419px;
@ico-variants-5-image: "../img/ico.png";
@ico-variants-5: 80px 259px -80px -259px 38px 46px 450px 419px "../img/ico.png" "ico-variants-5";
@ico-variants-5b-name: "ico-variants-5b";
@ico-variants-5b-x: 301px;
@ico-variants-5b-y: 59px;
@ico-variants-5b-offset-x: -301px;
@ico-variants-5b-offset-y: -59px;
@ico-variants-5b-width: 57px;
@ico-variants-5b-height: 57px;
@ico-variants-5b-total-width: 450px;
@ico-variants-5b-total-height: 419px;
@ico-variants-5b-image: "../img/ico.png";
@ico-variants-5b: 301px 59px -301px -59px 57px 57px 450px 419px "../img/ico.png" "ico-variants-5b";
@ico-variants-6-name: "ico-variants-6";
@ico-variants-6-x: 80px;
@ico-variants-6-y: 307px;
@ico-variants-6-offset-x: -80px;
@ico-variants-6-offset-y: -307px;
@ico-variants-6-width: 38px;
@ico-variants-6-height: 46px;
@ico-variants-6-total-width: 450px;
@ico-variants-6-total-height: 419px;
@ico-variants-6-image: "../img/ico.png";
@ico-variants-6: 80px 307px -80px -307px 38px 46px 450px 419px "../img/ico.png" "ico-variants-6";
@ico-variants-6b-name: "ico-variants-6b";
@ico-variants-6b-x: 236px;
@ico-variants-6b-y: 200px;
@ico-variants-6b-offset-x: -236px;
@ico-variants-6b-offset-y: -200px;
@ico-variants-6b-width: 57px;
@ico-variants-6b-height: 57px;
@ico-variants-6b-total-width: 450px;
@ico-variants-6b-total-height: 419px;
@ico-variants-6b-image: "../img/ico.png";
@ico-variants-6b: 236px 200px -236px -200px 57px 57px 450px 419px "../img/ico.png" "ico-variants-6b";
@ico-variants-7-name: "ico-variants-7";
@ico-variants-7-x: 240px;
@ico-variants-7-y: 259px;
@ico-variants-7-offset-x: -240px;
@ico-variants-7-offset-y: -259px;
@ico-variants-7-width: 38px;
@ico-variants-7-height: 46px;
@ico-variants-7-total-width: 450px;
@ico-variants-7-total-height: 419px;
@ico-variants-7-image: "../img/ico.png";
@ico-variants-7: 240px 259px -240px -259px 38px 46px 450px 419px "../img/ico.png" "ico-variants-7";
@ico-variants-7b-name: "ico-variants-7b";
@ico-variants-7b-x: 59px;
@ico-variants-7b-y: 200px;
@ico-variants-7b-offset-x: -59px;
@ico-variants-7b-offset-y: -200px;
@ico-variants-7b-width: 57px;
@ico-variants-7b-height: 57px;
@ico-variants-7b-total-width: 450px;
@ico-variants-7b-total-height: 419px;
@ico-variants-7b-image: "../img/ico.png";
@ico-variants-7b: 59px 200px -59px -200px 57px 57px 450px 419px "../img/ico.png" "ico-variants-7b";
@ico-variants-8-name: "ico-variants-8";
@ico-variants-8-x: 0;
@ico-variants-8-y: 259px;
@ico-variants-8-offset-x: 0;
@ico-variants-8-offset-y: -259px;
@ico-variants-8-width: 38px;
@ico-variants-8-height: 46px;
@ico-variants-8-total-width: 450px;
@ico-variants-8-total-height: 419px;
@ico-variants-8-image: "../img/ico.png";
@ico-variants-8: 0 259px 0 -259px 38px 46px 450px 419px "../img/ico.png" "ico-variants-8";
@ico-variants-8b-name: "ico-variants-8b";
@ico-variants-8b-x: 118px;
@ico-variants-8b-y: 141px;
@ico-variants-8b-offset-x: -118px;
@ico-variants-8b-offset-y: -141px;
@ico-variants-8b-width: 57px;
@ico-variants-8b-height: 57px;
@ico-variants-8b-total-width: 450px;
@ico-variants-8b-total-height: 419px;
@ico-variants-8b-image: "../img/ico.png";
@ico-variants-8b: 118px 141px -118px -141px 57px 57px 450px 419px "../img/ico.png" "ico-variants-8b";
@ico-variants-9-name: "ico-variants-9";
@ico-variants-9-x: 120px;
@ico-variants-9-y: 307px;
@ico-variants-9-offset-x: -120px;
@ico-variants-9-offset-y: -307px;
@ico-variants-9-width: 38px;
@ico-variants-9-height: 46px;
@ico-variants-9-total-width: 450px;
@ico-variants-9-total-height: 419px;
@ico-variants-9-image: "../img/ico.png";
@ico-variants-9: 120px 307px -120px -307px 38px 46px 450px 419px "../img/ico.png" "ico-variants-9";
@ico-variants-9b-name: "ico-variants-9b";
@ico-variants-9b-x: 0;
@ico-variants-9b-y: 141px;
@ico-variants-9b-offset-x: 0;
@ico-variants-9b-offset-y: -141px;
@ico-variants-9b-width: 57px;
@ico-variants-9b-height: 57px;
@ico-variants-9b-total-width: 450px;
@ico-variants-9b-total-height: 419px;
@ico-variants-9b-image: "../img/ico.png";
@ico-variants-9b: 0 141px 0 -141px 57px 57px 450px 419px "../img/ico.png" "ico-variants-9b";
@ico-video-h-name: "ico-video-h";
@ico-video-h-x: 66px;
@ico-video-h-y: 0;
@ico-video-h-offset-x: -66px;
@ico-video-h-offset-y: 0;
@ico-video-h-width: 56px;
@ico-video-h-height: 73px;
@ico-video-h-total-width: 450px;
@ico-video-h-total-height: 419px;
@ico-video-h-image: "../img/ico.png";
@ico-video-h: 66px 0 -66px 0 56px 73px 450px 419px "../img/ico.png" "ico-video-h";
@ico-video-name: "ico-video";
@ico-video-x: 0;
@ico-video-y: 66px;
@ico-video-offset-x: 0;
@ico-video-offset-y: -66px;
@ico-video-width: 56px;
@ico-video-height: 73px;
@ico-video-total-width: 450px;
@ico-video-total-height: 419px;
@ico-video-image: "../img/ico.png";
@ico-video: 0 66px 0 -66px 56px 73px 450px 419px "../img/ico.png" "ico-video";
@ico-view-grid-name: "ico-view-grid";
@ico-view-grid-x: 424px;
@ico-view-grid-y: 331px;
@ico-view-grid-offset-x: -424px;
@ico-view-grid-offset-y: -331px;
@ico-view-grid-width: 18px;
@ico-view-grid-height: 18px;
@ico-view-grid-total-width: 450px;
@ico-view-grid-total-height: 419px;
@ico-view-grid-image: "../img/ico.png";
@ico-view-grid: 424px 331px -424px -331px 18px 18px 450px 419px "../img/ico.png" "ico-view-grid";
@ico-view-list-name: "ico-view-list";
@ico-view-list-x: 424px;
@ico-view-list-y: 211px;
@ico-view-list-offset-x: -424px;
@ico-view-list-offset-y: -211px;
@ico-view-list-width: 21px;
@ico-view-list-height: 18px;
@ico-view-list-total-width: 450px;
@ico-view-list-total-height: 419px;
@ico-view-list-image: "../img/ico.png";
@ico-view-list: 424px 211px -424px -211px 21px 18px 450px 419px "../img/ico.png" "ico-view-list";
@ico-vk-name: "ico-vk";
@ico-vk-x: 360px;
@ico-vk-y: 111px;
@ico-vk-offset-x: -360px;
@ico-vk-offset-y: -111px;
@ico-vk-width: 35px;
@ico-vk-height: 35px;
@ico-vk-total-width: 450px;
@ico-vk-total-height: 419px;
@ico-vk-image: "../img/ico.png";
@ico-vk: 360px 111px -360px -111px 35px 35px 450px 419px "../img/ico.png" "ico-vk";
@spritesheet-width: 450px;
@spritesheet-height: 419px;
@spritesheet-image: "../img/ico.png";
@spritesheet-sprites: @ico-vse-piktogrammi-03 @ico-vse-piktogrammi-05 @ico-vse-piktogrammi-07 @ico-vse-piktogrammi-09 @ico-vse-piktogrammi-20 @ico-alert @ico-arrow-black-light @ico-arrow-black @ico-arrow-counter @ico-arrow-grey-big-h @ico-arrow-grey-big @ico-arrow-grey-double @ico-arrow-grey-light @ico-arrow-grey @ico-arrow-orange-double @ico-arrow-orange-mini @ico-arrow-orange @ico-arrow-tab-active @ico-arrow-tab @ico-arrow-white @ico-cabinet-2 @ico-cabinet @ico-cart-2 @ico-cart-buy @ico-cart @ico-change-h @ico-change @ico-check @ico-checkbox-big @ico-checkbox @ico-close-big @ico-close @ico-edit-2 @ico-edit-3 @ico-edit-h @ico-edit @ico-favorite-big @ico-favorite-h @ico-favorite @ico-fc @ico-google @ico-hamburger @ico-icon-car @ico-icon-money @ico-icon-perc @ico-icon-perc2 @ico-icon-present @ico-icon-rocket @ico-info-min @ico-info @ico-like @ico-num-1 @ico-num-2 @ico-ok @ico-online-payment @ico-order @ico-phone @ico-plus-circle @ico-present-h @ico-present @ico-print-h @ico-print @ico-question @ico-repeat-order @ico-scope-2 @ico-scope @ico-search @ico-shipping-2 @ico-shipping-h @ico-shipping @ico-show @ico-soc-mini-tw @ico-soc-mini-vk @ico-soc-mini-yt @ico-star-big-stroke @ico-star-big @ico-star-deactive @ico-star-orange-stroke @ico-star-orange @ico-star-pink @ico-star-red @ico-upstairs @ico-variants-1 @ico-variants-10 @ico-variants-10b @ico-variants-11 @ico-variants-11b @ico-variants-12 @ico-variants-12b @ico-variants-13 @ico-variants-13b @ico-variants-14 @ico-variants-14b @ico-variants-15 @ico-variants-15b @ico-variants-16 @ico-variants-16b @ico-variants-17 @ico-variants-17b @ico-variants-18 @ico-variants-18b @ico-variants-1b @ico-variants-2 @ico-variants-2b @ico-variants-3 @ico-variants-3b @ico-variants-4 @ico-variants-4b @ico-variants-5 @ico-variants-5b @ico-variants-6 @ico-variants-6b @ico-variants-7 @ico-variants-7b @ico-variants-8 @ico-variants-8b @ico-variants-9 @ico-variants-9b @ico-video-h @ico-video @ico-view-grid @ico-view-list @ico-vk;
@spritesheet: 450px 419px "../img/ico.png" @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

.sprite-width(@sprite) {
    width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
    height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
    @sprite-offset-x: extract(@sprite, 3);
    @sprite-offset-y: extract(@sprite, 4);
    background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
    @sprite-image: extract(@sprite, 9);
    @sprite-image-bare: @sprite-image;
    background-image: url("@{sprite-image-bare}");
}

.sprite(@sprite) {
    .sprite-image(@sprite);
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/

.sprites(@sprites, @i: 1) when (@i <=length(@sprites)) {
    @sprite: extract(@sprites, @i);
    @sprite-name: e(extract(@sprite, 10));

    .@{sprite-name} {
        .sprite(@sprite);
    }
    .sprites(@sprites, @i + 1);
}
