@import (reference) "index";

/* ICONS */

.ico {
    position: relative;

    &::after {
        display: inline-block;
        vertical-align: middle;
        content: "";
        transition: none;
    }

    &::before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        transition: none;
    }
}

.svg-ico {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.svg-ico-contain {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.nav__item_catalog:extend(.ico all) {
    .item__wrap_haschild > &::after {
        .sprite(@ico-arrow-grey);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-grey.svg") center center;
    }
}

.header__but_catalog:extend(.ico all) {
    &::before {
        .sprite(@ico-hamburger);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/hamburger.svg") center center;
    }

    &::after {
        .rotate-90;
        .sprite(@ico-arrow-white);
        position: absolute;
        top: 21px;
        right: 18px;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-white.svg") center center;
    }

    .js-menuopen.active &,
    &.active {
        &::after {
            .rotate-270;
        }
    }
}

.header__but_cabinet:extend(.ico all) {
    &::before {
        .sprite(@ico-cabinet);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cabinet.svg") center center; //vertical-align: bottom;
    }
}

.header__but_cart:extend(.ico all) {
    &::before {
        width: 27px;
        height: 23px;
        position: absolute;
        top: 15px;
        left: 19px;
        z-index: 0;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cart.svg") center center; //vertical-align: bottom;
        background-repeat: no-repeat;

        .header__but_cart-full& {
            top: 20px;
        }
    }

    &-full::after {
        position: absolute;
        top: 6px;
        left: 25px;
        z-index: 0;
        border-radius: 50%;
        background: @ca-blue;
        width: 20px;
        height: 20px;
        line-height: 200%;
        font-size: 11px;
        content: attr(data-count);
    }
}

.form-wrap__button {
    .sprite(@ico-search);
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/search.svg") center center;
}

.dropdown {
    position: relative;
    margin: 0;
    padding: 20px 15px 20px 41px;

    &::before {
        .sprite(@ico-arrow-grey-light);
        .rotate-270;
        position: absolute;
        left: 18px;
        margin-right: 10px;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-grey-light.svg") center center;
    }

    .closed & {
        &::before {
            .rotate-90;
        }
    }
}

.sorting__view_grid,
.sorting__view_table {
    &::before {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 30px;
    }

    &:hover,
    &.active {
        &::before {
            opacity: 1;
        }
    }
}

.sorting__view_grid { 
    &::before {
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/grid.svg");  
    }
    &:hover, &.active{
        &::before {
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/grid_active.svg");  
        }
    }
}

.sorting__view_table { 
    &::before {
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/list.svg");  
    }
    &:hover, &.active{
        &::before {
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/list_active.svg");  
        }
    }
}

.ico-arrow-orange:extend(.ico all) {
    &::after {
        .sprite(@ico-arrow-orange);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-orange.svg") center center;

        .select-ico__title&,
        .table-variants__list-title& {
            .rotate-90;
            position: relative;
            top: 0;
            right: 0;
            margin-left: 10px;
            margin-top: 2px;
            will-change: transform;

            .select-ico.active & {
                .rotate-270;
            }
        }
    }

    &_90 {
        &::after {
            .rotate-90;
            margin-left: 10px;
        }
    }
}

.ico-prev_orange,
.ico-next_orange {
    &::before {
        .pagination__item& {
            position: relative;
            top: -1px;
        }
    }
}

.ico-prev_orange:extend(.ico all) {
    &::before {
        .sprite(@ico-arrow-orange);
        .rotate;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-orange.svg") center center;

        .pagination__item& {
            position: relative;
            top: -1px;
        }
    }

    &:hover::before {
        .sprite(@ico-arrow-orange);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-orange.svg") center center;
    }
}

.ico-next_orange:extend(.ico all) {
    &::before {
        .sprite(@ico-arrow-orange);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-orange.svg") center center;
    }

    &:hover::before {
        .sprite(@ico-arrow-orange);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-orange.svg") center center;
    }
}

.ui-spinner-button:extend(.ico all) {
    position: absolute;

    &::before {
        .align-all;
        .sprite(@ico-arrow-counter);
        width: 10px;
        left: 1.5px;
        opacity: 0.5;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-counter.svg") center center;
        will-change: opacity;
    }

    &.ui-spinner-down::before,
    &.bootstrap-touchspin-down::before {
        .rotate;
    }

    &:hover::before,
    &.active::before {
        opacity: 1; //top: 2.5px; chk прыгает
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-counter.svg") center center;
        //position: relative;
    }
}

.ico-alert:extend(.ico all) {
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/alert.svg") center center;
    }
    // &:hover:before,&.active:before {
    // }

    &_round {
        .align-v;
        display: inline-block;
        border: 1px solid @cm-orange;
        border-radius: 50%;
        width: 20px;
        height: 20px;

        &::before {
            .align-all;
            zoom: .75;
        }
    }
}

// .ico-shipping:extend(.ico all){
//
//     &::before{
//       .sprite(@ico-shipping);
//     }
//
//     &:hover::before,&.active::before{
//       .sprite(@ico-shipping-h);
//     }
// }
//
// .ico-ruble:extend(.ico all){
//
//     &::before{
//       .sprite(@ico-ruble);
//       .feauters-list__link&{
//           margin-left: 2.5px;
//       }
//     }
//
//     &:hover::before,&.active::before{
//       .sprite(@ico-ruble-h);
//     }
// }
//
// .ico-revert:extend(.ico all){
//
//     &::before{
//       .sprite(@ico-revert);
//     }
//
//     &:hover:before,&.active:before{
//       .sprite(@ico-revert-h);
//     }
// }
// .ico-compas:extend(.ico all){
//
//     &::before{
//       .sprite(@ico-compas);
//     }
//
//     &:hover:before,&.active:before{
//       .sprite(@ico-compas-h);
//     }
// }


.rate-add__info-count__scope {
    .sprite(@ico-scope);
    display: inline-block;
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/scope.svg") center center;
}

.rate-add__info-count__review {
    .sprite(@ico-edit-2);
    display: inline-block;
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/edit-2.svg") center center;
}

.ico-send:extend(.ico all) {
    &::before:extend(.svg-ico) {
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/send.svg");
        width: 50px;
        height: 30px;
    }
}

.ico-send-ok:extend(.ico all) {
    &::before:extend(.svg-ico) {
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/send.svg");
        width: 50px;
        height: 30px;
    }
}

.ico-flower {
    position: relative;
    padding-left: @padding-min + 25px; //unit(@padding-min*@vw + 25,px)
    &::before:extend(.pseudo) {
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: center / contain no-repeat data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/scope.svg");

        .variant__possible& {
            top: -3.5px;
            padding: 0;
        }
    }
}

.ico-flower-right:extend(.ico all) {
    &::after {
        .sprite(@ico-scope);
        top: -5px;
        margin-left: 10px;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/scope.svg") center center;
    }
}

.ico-favorite-big:extend(.ico all) {
    &::before {
        .sprite(@ico-favorite-big);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/favorite-h.svg") center center;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    &:hover::before,
    &.active::before {
        opacity: .8;
    }
}

.ico-favorite:extend(.ico all) {
    position: relative;
    margin-right: 3px;
    color: #000000;

    &::before {
        .sprite(@ico-favorite);
        position: relative; //chk карточка top: 2px;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/favorite.svg") center center;
        width: 10px;
        // position:absolute;
        // left:10px;
        // top:10px; chk listing
    }

    &:hover::before,
    &.active::before,
    &.active-all::before {
        .sprite(@ico-favorite-h);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/favorite-h.svg") center center;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        width: 10px;
    }
    // span {}
}

.ico-edit:extend(.ico all) {
    &::before {
        .sprite(@ico-edit);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/edit.svg") center center;
    }
}

.ico-cart:extend(.ico all) {
    &::before {
        .sprite(@ico-cart);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cart.svg") center center;

        .item__buy& {
            .align-all;
            .sprite(@ico-cart-buy);
            position: absolute;
            background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cart.svg") center center;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
    }

    // &:hover::before,
    // &.active::before {}
}

//цикл установки z-index для отображения стрелок
.loopingClass(@index, @z-index) when (@index > 0) {
    .nav__item_steps:nth-child(@{index}) {
        z-index: @z-index;

        &.active,
        a& {
            z-index: @z-index + 10;
        }
    }

    .loopingClass(@index - 1, @z-index + 1);
}
.loopingClass(0) {};
.loopingClass(10, 1);


.nav__item_steps:extend(.ico all) {
    position: relative;

    &::after {
        .sprite(@ico-arrow-tab);
        position: absolute;
        right: 0;
        margin-right: -25px;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-tab.svg") center center;
    }

    &.active::after,
    &:last-child::after {
        margin-right: -23px;
    }

    &.active::after {
        .sprite(@ico-arrow-tab-active);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-tab-active.svg") center center;
    }

    &:not(.active):last-child {
        &::before {
            position: absolute;
            top: -1px;
            right: -40px;
            border: 20px solid @cm-grey1;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
    }

    // &:hover:before,
    // &.active:before {}
}

.ico-compliment:extend(.ico all) {
    &::before {
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/present.svg") center center;
    }
}

.ico-compliment-orange:extend(.ico all) {
    &::before {
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/present-h.svg") center center;
    }
}

.ico-delivery-orange:extend(.ico all) {
    &::before {
        .sprite(@ico-shipping-h);
        background-size: 235%;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/shipping-h.svg") center center;
        width: 35px; //chk корзина
        height: 25px; //chk корзина
        zoom: 1.2;
    }
}

.ico-delivery:extend(.ico all) {
    .cart-info__delivery& {
        position: relative;
        padding-left: 50px; //chk 40 в виджете корзины
    }

    &::before {
        .sprite(@ico-shipping-2);
        background-size: 235%;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/shipping-2.svg") center center;

        .cart-info__delivery& {
            position: absolute;
            left: 0;
        }
    }

    &_deactive {
        .cart-info__delivery& {
            white-space: normal;
        }

        &::before {
            .sprite(@ico-shipping);
            background-size: 235%;
            background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/shipping.svg") center center;
        }
    }

    // &:hover:before,
    // &.active:before {}
}

.ico-rotate:extend(.ico all) {
    &::before {
        content: '';
        width: 17px;
        height: 13px;
        background: center / contain no-repeat data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/change.svg");

        .item__rotate& {
            margin-top: -3px;
            margin-right: 5px;
        }
    }

    &_round {
        .align-v;
        display: inline-block;
        border: 1px solid @ca-grey1;
        border-radius: 50%;
        width: 20px;
        height: 20px;

        &::before {
            .align-all;
            zoom: .72;
        }
    }

    &_big {
        &::before {
            width: 20px;
            height: 20px;
        }
    }

    // &:hover::before,
    // &.active::before {}
}

.form__input_radio:extend(.ico all) {
    &::before {
        .sprite(@ico-checkbox);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/checkbox.svg") center center;
    }

    // &:hover::before,
    // &.active::before {}
}

.form__checkbox.active:extend(.ico all),
.el-checkbox.active:extend(.ico all) {
    &::after {
        .svg-ico-contain;
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/checkbox-orange.svg");
        width: 10px;
        height: 10px;
    }
}

.h1 {
    &::before {
        margin-right: 14px;
    }
}

/* .social-enter__but_vk{
    .sprite(@ico-vk);
    &:hover,&.active{  }
}
.social-enter__but_fb{
    .sprite(@ico-fc);
    &:hover,&.active{  }
}
.social-enter__but_google{
    .sprite(@ico-tw);
    &:hover,&.active{  }
} */

.ico-move:extend(.ico all) {
    &::before {
        .sprite(@ico-arrow-orange-double);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-orange-double.svg") center center;
        vertical-align: bottom;
    }

    // &:hover::before,
    // &.active::before {}
}

.ico-repeat-order:extend(.ico all) {
    &::before {
        width: 13px;
        height: 12px;
        background: center / contain no-repeat data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/repeat.svg");
    }

    // &:hover::before,
    // &.active::before {}
}

.ico-show:extend(.ico all) {
    &::before {
        .sprite(@ico-show);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/show.svg") center center;
    }

    // &:hover::before,
    // &.active::before {}
}

/* .el-prev:extend(.ico all){
  &::after{
     .sprite(@ico-prev);
    //  .archive-item__link&{
         margin-left: 10px;
    //  }
  }
  &:hover:after,&.active:after{  }
} */

/* .frame-image:extend(.ico all){
      position: relative;
      &::after{
         .sprite(@ico-search);
         position: absolute;
         top: -185px;
         left: 60px;
      }
      &:hover:after,&.active:after{  }
} chk правки карточка */

.js-list-unwrap__item.nav__item_categories:extend(.ico all) {
    &::after {
        .sprite(@ico-arrow-orange);
        .align-v;
        .rotate-90;
        position: absolute;
        right: 15px;
        margin-top: -7px;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-orange.svg") center center;

        .active &,
        .active& {
            .rotate-270;
        }
    }
}

.nav__item_categories-list-all {
    &::after {
        margin-left: 10px;
        content: "\2192";
    }
}

.ico-soc-mini:extend(.ico all) {
    display: block;
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        position: absolute;
        left: 0;
        vertical-align: middle;
    }

    &_vk::before {
        .sprite(@ico-soc-mini-vk);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/soc-mini-vk.svg") center center;
    }

    &_tw::before {
        .sprite(@ico-soc-mini-tw);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/soc-mini-tw.svg") center center;
    }

    &_yt::before {
        .sprite(@ico-soc-mini-yt);
        margin-top: -2px;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/soc-mini-yt.svg") center center;
    }
}

.ico-print:extend(.ico all) {
    &::before {
        .sprite(@ico-print-h);
        margin-right: 10px;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/print-h.svg") center center;
        height: 19px; // обрезалась иконка сверху

        .ico-print_min& {
            zoom: .72;
        }
    }

    // &:hover:before,&.active:before{
    //     .sprite(@ico-print);
    // }
}

.banner-counter__item {
    display: inline-block;
}

.banner-counter__item_1 {
    .sprite(@num-1);
}

.banner-counter__item_2 {
    .sprite(@num-2);
}

.banner-counter__item_3 {
    .sprite(@num-3);
}

.banner-counter__item_4 {
    .sprite(@num-4);
}

.banner-counter__item_5 {
    .sprite(@num-5);
}

.banner-counter__item_6 {
    .sprite(@num-6);
}

.banner-counter__item_7 {
    .sprite(@num-7);
}

.banner-counter__item_8 {
    .sprite(@num-8);
}

.banner-counter__item_9 {
    .sprite(@num-9);
}

.banner-counter__item_0 {
    .sprite(@num-0);
}

//еще варианты
.variants-count {
    position: absolute;
    top: -2px;
    right: 0px;
    background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/variants-num-bg.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 42px;
    height: 56px;
    padding-top: 26px;
    padding-left: 2px;
    text-align: center;

    &_variant {
        left: 0;
        // background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/variants-num-bg.svg");
        width: 50px;
        height: 57px;

        .variants-count__num {
            background-size: contain !important;
            width: 11px;
            height: 19px;
        }
    }

    &__num {
        display: inline-block;
        background-repeat: no-repeat !important;
        width: 10px;
        height: 16px;

        &:after{
            content:'';
            display: inline-block;
            background-repeat: no-repeat !important;
            width: 11px;
            height: 100%;
            margin-left: 12px;
        }
    }
}
//циклы иконок еще варианты
//от 1-9
.loopNumeric(@index) when (@index > 0) {
    .variants-count__num.variants-count__num_@{index} {
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/variants-num-@{index}.svg") center center;
    }

    .loopNumeric(@index - 1);
}
.loopNumeric(0) {};
.loopNumeric(9);

//от 10 до 99
.loopNumeric2All(@indexAll) when (@indexAll > 0) {

    .loopNumeric2(@index,@index2) when (@index2 >= 0) {
        .variants-count__num.variants-count__num_@{index}@{index2} {
            margin-left: -12px;
            background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/variants-num-@{index}.svg") center center;

            &:after{
                background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/variants-num-@{index2}.svg") center center; 
            }
        }
        .loopNumeric2(@index, @index2 - 1);
    }
    .loopNumeric2(@indexAll,0) {};
    .loopNumeric2(@indexAll,9);

    .loopNumeric2All(@indexAll - 1);
}
.loopNumeric2All(0) {};
.loopNumeric2All(3);//3 десятка



.banner-feauters__item {
    // padding-left: 55px;
    i {
        display: inline-block;
        margin-right: 20px;
        width: 35px;
        vertical-align: middle;
    }
}

.ico-icon-rocket:extend(.ico all) {
    &::before {
        .sprite(@ico-icon-rocket);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/icon-rocket.svg") center center;
    }
}

.ico-icon-present:extend(.ico all) {
    &::before {
        .sprite(@ico-icon-present);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/icon-present.svg") center center;
    }
}

.ico-icon-perc:extend(.ico all) {
    &::before {
        .sprite(@ico-icon-perc);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/icon-perc.svg") center center;
    }
}

.ico-icon-perc2:extend(.ico all) {
    &::before {
        .sprite(@ico-icon-perc2);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/icon-perc2.svg") center center;
    }
}

.ico-icon-car:extend(.ico all) {
    &::before {
        .sprite(@ico-icon-car);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/icon-car.svg") center center;
    }
}

.ico-icon-money:extend(.ico all) {
    &::before {
        .sprite(@ico-icon-money);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/icon-money.svg") center center;
    }
}

.ico-video {
    .sprite(@ico-video);
    visibility: hidden;
    background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/video.svg") center center;
    height: 74px;

    &:hover {
        .sprite(@ico-video);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/video.svg") center center;
    } //на другой класс

    &.active {
        visibility: visible;
    }

    &.only {
        visibility: visible;
        margin-top: 0;
    }
}

.el-button-scroll:extend(.ico all) {
    text-align: center;

    &::before {
        .sprite(@ico-arrow-grey-big);
        opacity: .6;
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/up-arrow-orange.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 7px;
        height: 12px;
    }

    &:not(.deactive):hover {
        cursor: pointer;

        &::before {
            // .sprite(@ico-arrow-grey-big-h);
            // background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-grey-big-h.svg") center center;
            opacity: 1;
        }
    }

    .deactive & {
        display: none;
    }
}

.el-button-scroll[move="down"] {
    &::before {
        // .rotate-90;
    }
}

.el-button-scroll[move="up"] {
    &::before {
        // .rotate-270;
        transform: rotate(180deg);
    }
}

.ico-info:extend(.ico all) {
    &::before {
        .sprite(@ico-info);
        .svg-ico;
        margin-right: 10px;
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/info-min2.svg");
    }
}

.ico-info-min:extend(.ico all) {
    &::before {
        .sprite(@ico-info-min);
        margin-right: 10px;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/info-min.svg") center center;
        //   width: 26px;
        //   height: 26px;
        background-size: cover;
        //   padding-bottom: 10%;
    }
}

.ico-info-img {
    margin-right: 10px;
    width: 15px;
}

.ico-check:extend(.ico all) {
    &::before {
        .sprite(@ico-check);
        margin-right: 10px;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/check.svg") center center;
        vertical-align: initial;

        .cart-widget__action& {
            margin-right: 7px;
        }
    }
}

.el-citat:extend(.ico all) {
    &::before,
    &::after {
        .sprite(@ico-arrow-grey-double);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-grey-double.svg") center center;
    }

    &::after {
        position: relative;
        right: -5px;
    }

    &::before {
        .rotate;
        position: absolute;
        top: 3px;
        left: -15px;
    }
}

.ico-online-payment:extend(.ico all) {
    background-image: url("../img/online-payment.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 50%;
    height: 19px; //.sprite(@ico-online-payment);
    padding-left: 22px;
}

.ya-share-customize{
    .ya-share2__item {
        display: inline-block;
        margin-left: 10px;
        cursor: pointer;
        width: 37px;
        height: 37px;
        padding: 0;
        // reset

        &:first-child {
            margin-left: 0;
        }

        .variant__share & {
            background-size: cover !important;
            width: 25px;
            height: 0;
            padding-bottom: calc(~"100% * 3 / 15");
        }

        .ya-share2_min & {
            background-size: cover !important;
            width: 20px;
            height: 0;
            padding-bottom: calc(~"100% * 1 / 21");
        }
    }

    .ya-share2__item.ya-share2__item_service_vkontakte {
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/soc-vk.svg") center center;

        &:hover,
        &.active {
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/soc-vk-h.svg");
        }
    }

    .ya-share2__item.ya-share2__item_service_facebook {
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/soc-fc.svg") center center;

        &:hover,
        &.active {
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/soc-fc-h.svg");
        }
    }

    .ya-share2__item.ya-share2__item_service_odnoklassniki {
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/soc-ok.svg") center center;

        &:hover,
        &.active {
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/soc-ok-h.svg");
        }
    }

    .ya-share2__item.ya-share2__item_service_gplus {
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/soc-goog.svg") center center;

        &:hover,
        &.active {
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/soc-goog-h.svg");
        }
    }
}

.ya-share2-stnd{    
    .ya-share2{
        margin: 0;
        .ya-share2__container .ya-share2__item {
            display: inline-block;
            margin: 0;
            margin-bottom: 10px;
            cursor: pointer;
            padding: 0;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}


.el-del {
    width: 13px;
    height: 13px;
    background: center / contain no-repeat data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cancel.svg");

    &_big {
        width: 15px;
        height: 15px;
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cancel-black.svg"); 
    }

    &_big-white {
        .sprite(@ico-close-big);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/close-big-white.svg") center center;
    }

    
}
.el-del_orange{
    background: center / contain no-repeat data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cancel-orange.svg");
}

.el-question {
    .sprite(@ico-question);
    .svg-ico;
    background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/question.svg");

    &_big {
        width: 18px;
        height: 18px;
    }
}

.nav__item_ico {
    svg, img{
        width: 32px;
        height: 32px;
    }
    svg:not(.ico-menu__ico){
        path,rect,circle {
            fill: #FA6405;
        }
    }

    // &1::before {
    //     background: data-uri("image/svg+xml;charset=UTF-8", "../../../upload/uf/c08/c08041931a54b8cbace62584e856abca.svg") center center;
    // }

    // &2::before {
    //     background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/nav__item_ico2.svg") center center;
    // }

    // &3::before {
    //     background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/nav__item_ico3.svg") center center;
    // }

    // &4::before {
    //     background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/nav__item_ico4.svg") center center;
    // }

    // &5::before {
    //     background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/nav__item_ico5.svg") center center;
    // }

    // &6::before {
    //     background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/nav__item_ico6.svg") center center;
    // }

    // &7::before {
    //     background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/nav__item_ico7.svg") center center;
    // }

    // &8::before {
    //     background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/nav__item_ico8.svg") center center;
    // }
}

.ico-addaddress:extend(.ico all) {
    &::before {
        .svg-ico;
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/add-address.svg");
        width: 16px;
        height: 16px;
    }
}

.ico-addcontact:extend(.ico all) {
    &::before {
        .svg-ico;
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/add-contact.svg");
        width: 16px;
        height: 16px;
    }
}

.bank-ico:extend(.ico all) {
    &::before {
        .svg-ico;
        .align-all; // background-image: url("../img/ico/bank-ico.png");
        // background-repeat: no-repeat;
        // background-position: center center;
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/order.svg");
        width: 35px;
        height: 35px;
    }
}

.diamond-ico:extend(.ico all) {
    &::before {
        .svg-ico;
        .align-all; // background-image: url("../img/ico/bank-ico.png");
        // background-repeat: no-repeat;
        // background-position: center center;
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/bonus.svg");
        width: 35px;
        height: 35px;
    }
}

.calendar-ico:extend(.ico all) {
    &::before {
        .svg-ico;
        .align-all; // background-image: url("../img/ico/bank-ico.png");
        // background-repeat: no-repeat;
        // background-position: center center;
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/debt.svg");
        width: 35px;
        height: 35px;
    }
}

.svg {
    &-ruble-big{ //иконкой
        .svg-ico;
        display: inline-block;
        width: 9px;
        height: 10px; 
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/ruble-big.svg");
        background-size: contain;
    }
    &-ruble { //шрифтом ₽
        display: inline-block;
        font-weight: 400;
        font-size: inherit;
        &_accent {
            color: @cm-orange;
        }

        &_big {
            // width: 13px;
            // height: 21px;
            font-size: 27px;
        }

        &_med {
            // width: 9px;
            // height: 14px;
            font-size: 18px;
        }

        &_sm {
            // width: 7px;
            // height: 11px;
        }

        &_xsm {
            // width: 5px;
            // height: 8px;
        }
    }

    // &-heart {
    //     position: relative;

    //     &::before {
    //         .svg-ico-contain;
    //         display: block;
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         transform: translate(-50%, -44%);
    //         background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/heart.svg"); 
    //         width: 14px;
    //         height: 13px;
    //         content: "";
    //     }

    //     &_hover-orange:hover,
    //     &.active-all {
    //         &::before {
    //             background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/heart-orange.svg"); 
    //         } 
    //     }
    // }

    &-compare {
        position: relative;

        &::before {
            .svg-ico-contain;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/Pictogr_OsnovnInfo.svg");
            width: 13px;
            height: 13px;
            content: "";
        }

        &_hover-orange:hover {
            &::before {
                background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/Pictogr_OsnovnInfo_orange.svg");
            }
        }
    }

    &-x {
        position: relative;

        &::before {
            .svg-ico-contain;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cancel.svg");
            width: 13px;
            height: 13px;
            content: "";
        }

        &_hover-orange:hover {
            &::before {
                background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cancel-orange.svg");
            }
        }
    }

    &-chevron-right {
        position: relative;

        &::before {
            .svg-ico-contain;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/up-arrow.svg");
            width: 8px;
            height: 13px;
            content: "";
        }

        &_hover-orange:hover {
            &::before {
                background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/up-arrow-orange.svg");
            }
        }
    }

    &-btn-plus {
        display: inline-block;

        &::before {
            .svg-ico-contain;
            display: block;
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/plus-button-orange.svg");
            width: 12px;
            height: 11px;
            content: "";
        }
    }

    &-btn-envelope {
        display: inline-block;

        &::before {
            .svg-ico-contain;
            display: block;
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/envelope-orange.svg");
            width: 11px;
            height: 12px;
            content: "";
        }
    }

    &-btn-print {
        display: inline-block;

        &::before {
            .svg-ico-contain;
            display: block;
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/print-button-orange.svg");
            width: 11px;
            height: 12px;
            content: "";
        }
    }
}


.el-button{  // inner icons
    .share-svg {
        display: block;
        width: 12px;
        height: 12px;
        left: -1px;
    }


    //В закладки
    .heart-svg {
        width: 14px;
        height: 13px;
        color:  @ca-grey1;

        path{
            fill: transparent;
            stroke: currentColor;
            stroke-width: 1.3px;
        }
    }
    &:hover .heart-svg,
    &.el-button_ghost2 .heart-svg{
        color:  @cm-orange;
        path{
            fill: transparent;
            stroke: currentColor;
        }
    }
    &.active .heart-svg,
    &.active-all .heart-svg{
        color:  @cm-orange;
        path{
            fill: currentColor;
            stroke: currentColor;
        }
    }
    &.el-button-small-round .heart-svg{
        top: 1px;
        position: relative;
    }

    //Печать
    .print-svg {
        height: 13px;
        width: 13px;
    }

    .pictogr-svg {
        height: 12px;
        width: 15px;
    }
}