@import (reference) "../main";

/* ELEMENTS OF DESIGN */

.el-citat {
    position: relative;
    margin: 0;
    line-height: 20px !important;
    // &::before,&::after{
    // }

    + a {
        margin: 11px 0 0;
    }
}

.el-upstairs{
    .el-button;
    .ico();
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 55px;
    right: 30px;
    z-index: @z-5;
    background: #ffffff;
    box-shadow: @shadow;
    width: 50px;
    height: 50px;

    &_left {
        left: 30px;
    }

    &::after {
        .sprite(@ico-arrow-orange);
        .rotate-270;
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-orange.svg") center center;
    }
}

.el-undercontent {
    margin-bottom: 25px;
}

.el-search {
    position: relative;

    input[type="search"] {
        border: @border !important;
        width: 100% !important;
    }

    input[type="submit"] {
        top: 8px;
        right: 21px; //.rotate-270;
    }
}

.el-input-line {
    background-color: @cm-orange;
    height: 100%;
    width: 1px;
    margin-right: 15px;
    left: 0;
    top: 0;
    z-index: 1;
    &:extend(.pseudo);
}

.header-underitems {
    position: relative;
    margin-bottom: 20px;
    display: block;
}

.header-underitems_big {
    .header-underitems;
    margin-top: 58px;
    margin-bottom: 30px;
}

.el-counter {
    white-space: nowrap;
}

.el-counter-input {
    width: 30px;
    border: @border;
    background: transparent;
    appearance: none;
    resize: none;
    overflow: auto;
    outline: none;
    text-align: center;
    display: inline-block;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;

    .item__counter_mini &,
    .el-counter_mini & {
        height: 34px;
        width: 34px;
    }


    .header-info &{
        width: 34px;
        height: 34px;
    }
}

.input-group-btn {
    width: 28px;
    height: 30px;
    display: inline-block; // vertical-align: middle;
    vertical-align: bottom;

    &:first-child {
        button {
            border-right: 0;
            border-radius: 3px 0 0 3px;
        }
    }

    &:last-child {
        button {
            border-left: 0;
            border-radius: 0 3px 3px 0;
        }
    }

    .item__counter_mini &,
    .el-counter_mini & {
        width: 34px;
        height: 34px;
    }
}

.el-counter-button {
    cursor: pointer;
    color: #333333;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 23px;
    &:extend(.box-grey); //  color: @cm-grey;
    line-height: 100%;
    &:hover {
        background-color: @cm-grey1;
    }
}

.el-box-border {
    .flex-row;
    background-color: #ffffff;
    border: @border;
    border-radius: 3px;
    padding: 5px;
    height: 60px;
    padding-right: 20px;

    &__img {
        width: 42px;
        height: 42px;
        float: left;
        margin-right: 15px;
        &:extend(.align-v);
    }

    &__item {
        //display: table-cell;
    }
}

.el-radio {
    position: relative;
    cursor: pointer;

    input {
        opacity: 0 !important;
        display: none !important;
        cursor: pointer;
    }

    .no-js input {
        opacity: 1 !important;
    }

    &::after {
        display: none;
    }

    .form__item label & {
        margin-top: 0;
    }

    &__label {
        vertical-align: middle;
        margin-left: 5px;
    }
}

.el-radio__input {
    display: inline-block;
    vertical-align: middle; // width: 16px;
    // height: 16px; //chk checkbox
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    border: 1px solid @ca-grey1; //margin-top: -2px; chk cart error
    border-radius: 50%;

    &::after {
        content: "";
        border-radius: 50% !important;
    }

    &_big {
        //mod
        width: 25px !important;
        height: 25px !important;

        &::after {
            width: 13px !important;
            height: 13px !important;
        }
    }

    &_min {
        //mod
        width: 13px !important;
        height: 13px !important;
        margin-right: 5px;

        &::after {
            width: 6px !important;
            height: 6px !important;
        }
    }

    input:checked + &::after:extend(.pseudo) {
        .align-all;
        width: 10px;
        height: 10px;
        background-color: @cm-orange;
        pointer-events: none;
        border-color: @cm-orange;
    } //edit circle

    & + span:not(.el-radio__label) {
        margin-left: 25px;
    }
}

// .el-checkbox2-container {
//     clear: both;
//     .el-checkbox2 ~ label {
//         display: inline-block;
//         vertical-align: middle;
//         margin-left: 15px;
//         margin-top: 1px;
//     }
//     .el-checkbox2 + label{
//         width: 25px;
//         height: 25px;
//         border-radius: 3px;
//         margin-left: 0;
//         margin-top: 0;
//         &::after {
//             margin: 0;
//             width: 100%;
//             height: 100%;
//             background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/checkbox-orange.svg");
//             background-position: center;
//             background-repeat: no-repeat;
//             background-size: 70%;
//         }
//     }
// }

.el-checkbox {
    display: inline-block;
    vertical-align: middle; //chk позонить за 30 мин.
    // width: 16px;
    // height: 16px; //chk checkbox
    width: @checkbox; //chk !important настройки
    height: @checkbox;
    cursor: pointer;
    position: relative;
    border: 1px solid @ca-grey1;
    background-color: #ffffff;
    border-radius: 3px;
    box-sizing: border-box;

    &&_left {
        &.active,
        & {
            position: absolute;
            left: 0;
        }
    }

    &_big {
        width: 32px;
        height: 32px;
    }

    &_lola {
        background-color: #ff0000;
    }

    &_mid {
        width: 20px;
        height: 20px;
    }

    &:hover {
        //background-color: fade(@grey-d,30%); chk фильтры
        border-color: @ca-grey1;
        background-color: #f3f3f3;
    }

    &.active {
        // border-color: @cm-orange;
        &::after:extend(.pseudo) {
            .align-all;
            width: 10px;
            height: 10px;
            pointer-events: none;
            border-radius: 2px;
        }
    }

    input {
        opacity: 0 !important;
        cursor: pointer;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .no-js input {
        opacity: 1 !important;
    }

    &2-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: left;
        clear: both;
        font-size: 0;

        & + & {
            margin-top: 10px;
        }

        &:hover {
            color: @ca-blue;
        }
    }

    &2 {
        //вторая версия без JS <input id="q867_6" type="checkbox" class="el-checkbox2" /><label for="q867_6"></label><label for="q867_6">Лэйбл</label>
        opacity: 0 !important;
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;

        ~ label {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            margin-top: 1px;
            cursor: pointer;
        }

        + label {
            width: @checkbox; //chk !important настройки
            height: @checkbox;
            cursor: pointer;
            position: relative;
            border: 1px solid @cm-grey1;
            background-color: #ffffff;
            border-radius: 3px;
            margin-left: 0;
            margin-top: 0;

            &::after {
                // margin: 0;
                // width: 100%;
                // height: 100%;
            }
        }

        &:hover + label {
            border-color: @ca-grey1;
            background-color: @ca-grey3;
        }

        &:checked + label {
            // border-color: @cm-orange;
            &::after:extend(.pseudo) {
                .align-all;
                .svg-ico-contain;
                content: "";
                width: 12px;
                height: 10px;
                pointer-events: none;
                background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/checked-orange.svg");
            }
        }

        &_mid {
            + label {
                width: 20px;
                height: 20px;
            }
        }

        &_big {
            + label {
                width: 32px;
                height: 32px;
            }
        }

        &_radial {
            + label {
                width: 19px;
                height: 19px;
                border-radius: 50%;
            }

            &:checked + label {
                &::after {
                    width: 9px;
                    height: 9px;
                    background: @cm-orange;
                    border-radius: 50%;
                }
            }
        }
    }
}

.el-underline-link {
    //font-weight: 600; chk как заказать
    border-bottom: 1px solid @cm-orange;
    text-decoration: none;
    color: @cm-orange;
}

.el-link {
    color: @ct-blue;
    cursor: pointer;

    &:hover{
        color: @ca-blue;
    }

    &_underline {
        .el-underline-link;
    }

    &_dotted {
        border-bottom: 1px dotted @ct-blue;
        text-decoration: none;
    }

    &_alt {
        color: rgba(3, 134, 248, 0.6);

        &:hover {
            color: rgba(3, 134, 248, 1);
        }
    }
}

.el-title-2 {
    .title-2;
    font-size: 18px;
}

.el-title-3 {
    font-size: 18px;
    font-weight: 700;
    color: @cm-orange;
}

.el-list-square {
    list-style: square;
    padding-left: 0;
    margin-left: 20px;

    &__item {
        color: @cm-orange;
        font-size: 17px;
        margin-bottom: 20px;
        line-height: 120%;

        span {
            color: @ct-main;
            font-size: 14px;
            margin-left: 10px;
            display: block;
        }
    }
}

.el-link-little {
    color: @cm-orange;
    text-decoration: underline;
    font-size: 12px;
}

.el-count-plate {
    display: block;
    background-color: @ca-grey3;
    color: @cm-grey;
    width: 34px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;

    &:hover,
    .item:hover & {
        background-color: @cm-orange;
        color: #000000;
    }

    &:empty {
        display: none;
    }

}

@select-ico__list-offset: 10px;
@select-ico__fsz: 13px;
@select-ico__lh: 18px;

.select-ico-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
}

.select-ico {
    // width: 260px;
    min-width: 260px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 3; // position: absolute;
    right: 0;
    top: 0;
    font-size: @select-ico__fsz;
    line-height: @select-ico__lh; //компенсация пустого пространства что бы не закрывался селект когда убираешь мышь

    & &__height-compensator {
        height: @select-ico__list-offset;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
    }

    & &__title {
        padding: 5px 45px 5px 25px;
        cursor: pointer;
        height: auto;
        border: 1px solid @cm-grey1;
        border-radius: 20px;
        width: 100%;
        z-index: 11;
        display: block;
        text-align: left;
        font-size: @select-ico__fsz;
        line-height: 18px;
        background-color: #ffffff;
        white-space: nowrap;
        position: relative;

        > span {
            display: inline-block;
            max-width: 100%;
            vertical-align: middle;
            font-size: @select-ico__fsz;
            line-height: @select-ico__lh;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &::after {
            right: 35px;
            top: 10px;
        }

        &__light {
            color: @cm-grey;
        }

        &:hover {
            border-color: @ca-grey1;
        }
    }

    & &__title__light + &__title_js {
        margin-left: 5px;
    }

    & &__list {
        margin-top: @select-ico__list-offset;
        z-index: 999;
        background: #ffffff;
        position: absolute;
        width: 100%;
        display: none;
        overflow: hidden;
        box-shadow: @shadow;
        border: 0;
        padding: 10px;
        border-radius: 15px; // line-height: 18px;

        &-item {
            list-style-type: none;
            position: relative;
            border-radius: 3px;

            &:hover {
                cursor: pointer;
                background: @cm-grey2;
            }
        }

        a:hover {
            color: inherit;
        }

        &-text {
            text-align: left;
            width: 100%;
            display: block;
            padding: 6px 15px;
            border-radius: 3px;
            font-size: @select-ico__fsz;
            line-height: @select-ico__lh;
            cursor: pointer;

            &:hover {
                color: @ca-blue;
            }

            .el-status {
                position: absolute;
                left: 20px;
                top: 8px;
            }

            span {
                display: inline-block;
                text-align: left;
                padding: 0;
                font-size: @select-ico__fsz;
                line-height: @select-ico__lh;

                &::first-letter {
                    //text-transform: uppercase;
                }
            }
        }
    }

    &_active &__list {
        border-color: @cm-orange;
    }

    & label&__label {
        // position: absolute;
        // margin-top: 10px;
        margin-top: -16px;
        margin-bottom: 3px;
        font-size: 13px;
        line-height: 13px;
        top: 0;
        left: 15px;
        z-index: 9;
        color: @ct-grey1;
        transition: opacity .3s;
        opacity: 0;
        display: block;
    }

    &&_active {
        z-index: 999;
    }

    &&_active &__title {
        border-color: @cm-orange;

        &::after {
            top: 8px;
        }
    }

    &&_rect {
        .select-ico__title {
            border-radius: 3px;
        }

        .select-ico__list {
            padding: 6px 5px;
            border-radius: 3px;

            &-text {
                padding: 6px 10px;
            }
        }
    }

    &&_input-size {
        width: 334px;
    }

    &&_input-size &__title {
        padding-left: 15px;
        //max-width: 346px; в контактах гючит

        > span {
            line-height: 25px;
        }
    }

    &&_full-w {
        width: 100%;
    }

    &&_hasLabel {
        margin-top: 26px; // padding-top: 20px;
        text-align: left;
        display: block;
    }

    &&_hasVal,
    &&_active {
        label {
            opacity: 1;
        }
    }

    .up-arrow-svg {
        width: 8px;
        transform: rotate(90deg) translateX(-70%);
        vertical-align: middle;
        position: absolute;
        top: 50%;
        right: 25px; // transition: transform .3s;
        pointer-events: none;
    }

    &&_active .up-arrow-svg {
        transform: rotate(-90deg) translateX(70%);
    }
}

//spinner
.table-variants input[name="value"] {
    //width: @w-spinner!important;
}

.ui-spinner {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    border: @border;
    height: 100%;
    text-align: left;
}

.ui-spinner-input {
    box-sizing: border-box;
    border: none;
    background: none;
    color: inherit;
    padding: 0.222em 0;
    vertical-align: middle;
    width: 100%;
    height: 20px;
    font-size: 12px;
    padding-left: 2px;
    margin: 0;
}

.ui-spinner-button {
    width: 18px;
    height: 50%;
    font-size: 0.5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    display: block;
    overflow: hidden;
    right: 0;
    background: @cm-grey1;

    &:hover {
        background: @ca-grey1;
    }
}

/* more specificity required here to override default borders */

.ui-spinner a.ui-spinner-button {
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
}

.ui-spinner-up {
    top: 0;
}

.ui-spinner-down {
    bottom: 0;
}

.ui-controlgroup-vertical .ui-spinner-input {
    /* Support: IE8 only, Android < 4.4 only */
    // width: 75%;
    width: calc(100% - 2.4em);
}

.ui-controlgroup-vertical .ui-spinner .ui-spinner-up {
    border-top-style: solid;
}

.ui-icon-triangle-1-n {
    cursor: pointer;
}

.ui-icon-triangle-1-s {
    cursor: pointer;
}

.ui-widget-content {
    background: #ffffff !important;
}

.el-form-orange {
    @wh: 35px;
    border-radius: 3px;
    overflow: hidden;
    height: @wh;
    font-size: 0;

    .el-form-orange__input {
        height: 100%;
        border: 1px solid @cm-orange;
        border-right: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding-left: 10px;
        width: calc(~"100%" - @wh);
        vertical-align: top;
        font-size: 13px;
    }

    .el-form-orange__but {
        background-color: @cm-orange;
        border: 0;
        padding: 0;
        color: #ffffff;
        width: @wh;
        height: 100%;
        text-transform: uppercase;
        vertical-align: top;
    }

    &_round {
        //mod
        @wh: 20px;
        height: @wh;

        .el-form-orange__but,
        .el-form-orange__input {
            border-radius: 6px;
        }

        .el-form-orange__but {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 23px;
            font-size: 11px;
            padding: 0;
        }

        .el-form-orange__input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: calc(~"100%" - 23px);
        }
    }
}

.el-icon-circle {
    box-shadow: @shadow;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.el-icon-text {
    position: relative;
    padding-left: 65px;
    margin-top: 10px;

    &__text {
        .align-v;
        line-height: 19px;
    }

    & &__ico {
        .align-v; //padding: 10px;
        width: 42px;
        height: 42px;
        border: @border;
        left: 0;
        display: inline;
        position: absolute;

        &::before {
            // .align-all;
        }
    }

    &_compliment {
        height: 40px;
    }

    &_delivery {
        height: 30px;
    }

    &_cart {
        padding-left: 62px;
        font-size: 14px;
        margin: 0;
    }

    &_cart &__ico {
        border: none;
        
        &::before {
            right: auto;
            width: 100%;
            height: 100%;
            // background-size: 100px;
        }
    }
}

.el-title-dotted {
    font-weight: 700;
    text-align: left;
    color: @ct-main; // display: block;
    display: inline-block;
    width: 100%;

    &&_big {
        margin: 0;
        padding-top: 2px;
        margin-left: -@margin-content;
        margin-bottom: 15px;
        padding-bottom: 10px;
        font-size: 22px;
        padding-left: @margin-content;
    }

    &&_mid {
        margin: 0;
        margin-bottom: 25px;
        font-size: 20px;
        padding-left: 25px;
        padding-right: 40px;
        margin-left: -@margin-content;
        display: inline-block;
        white-space: nowrap;
    }

    &&_min {
        padding: 0; // display: inline-block;
        white-space: nowrap;
        display: none;
    }

    &_500 {
        max-width: 500px;
    }

    & &__count {
        color: #808080;
        font-size: 18px;
        margin-left: 9px;
    }

    .slider-default__but-wrap {
        top: -5px;
    }
}

.el-status {
    top: 2px;
    width: 9px;
    height: 9px;
    background-color: inherit;
    display: none;
}

.el-status-link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: inherit;
    z-index: 1;
}

.el-question {
    display: inline-block;
    vertical-align: middle; // width: 15px;
    // height: 15px;
    //
    // &::after {
    //     content: "?"!important;
    //     text-align: center;
    //     color: @cm-grey;
    //     border-width: 1px;
    //     border-style: solid;
    //     border-color: inherit;
    //     border-radius: 50%;
    //     line-height: 15px;
    //     display: block;
    //     width: 100%;
    //         height: 100%;
    //     font-size: 11px;
    // }
}

.el-colors {
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: @ca-blue1;
    border: 0;
    position: relative;

    &.active,
    &:hover {
        &::after {
            .pseudo;
            width: calc(~"100% + 5px");
            height: calc(~"100% + 5px");
            border: @border;
            border-radius: 50%;
            top: -2.5px;
            left: -2.5px;
        }
    }
}

.el-text-big {
    font-size: 30px;
    color: @cm-grey1;
    font-weight: 700;
}

.el-text-big2 {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

.el-star {
    &::before {
        content: "*";
        color: @cm-orange;
        padding: 8px;
    }
}

.el-del {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &.el-button{
        border-radius: 0; 
    }

    .el-button_ico & {
        vertical-align: bottom;
    }

    &_big {
        //height: 16px;
    }

    .lightbox & {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    //
    // &::after,
    // &::before {
    //     .pseudo;
    //     width: 3px;
    //     height: 100%;
    //     background-color: @cm-orange;
    //     border-radius: 1px;
    //     transform-origin: 35%;
    //     transform-origin: 50%;
    // }
    //
    // &::before {
    //     .align-h;
    //     .align-v;
    //     transform+_: rotate(45deg);
    // }
    //
    // &::after {
    //     .align-h;
    //     .align-v;
    //     transform+_: rotate(-45deg);
    // }
    //
    // &_orange {
    //     //mod
    //     width: 15px;
    //     height: 15px;
    //     &:hover {
    //         &::after,
    //         &::before {
    //             background-color: @cm-orange;
    //         }
    //     }
    //     &::after,
    //     &::before {
    //         width: 3px;
    //         background-color: @ca-grey1;
    //     }
    // }
    //
    // &_big {
    //     //mod
    //     width: 15px;
    //     height: 15px;
    //     &:hover {
    //         &::after,
    //         &::before {
    //             background-color: @cm-orange;
    //         }
    //     }
    //     &::after,
    //     &::before {
    //         width: 6px;
    //         background-color: @cm-orange;
    //         border-radius: 3px;
    //     }
    // .lightbox &{
    //   position: absolute;
    //   right: 10px;
    //   top: 10px;
    //   width: @close-w;
    //   height: @close-w;
    //   &:hover{
    //     opacity: .5;
    //   }
    //   &::after,&::before{
    //     //height: calc(~"100% - 8px");
    //   }
    // }
    // }
}

.el-plus { 
    display: inline-block;
    width: 21px;
    height: 21px;
    line-height: 21px; // line-height: 13px;
    font-weight: 700;
    background-color: @cm-grey1;
    position: relative;
    color: @cm-orange;
    font-size: 20px;
    text-align: center;
    padding-right: 1px; // &::before,&::after{
    //   &:extend(.pseudo);
    //   .align-v;.align-h;
    //   width: 12px;
    //   height: 2px;
    //   background-color: @cm-orange;
    // }
    // &::after{
    //   .align-v;.align-h;
    //   transform+_: rotate(90deg);
    // }
    &_right {
        //mod
        margin-left: 8px;
    }

    &_left {
        //mod
        margin-right: 8px;
    }

    .el-button_grey & {
        background-color: #ffffff;
        border: @border;
        margin-right: @padding-min;
        vertical-align: middle;
    }
}

.el-triangle {
    color: inherit;

    &::after {
        content: "";
        display: inline-block;
        border: 5px solid;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        width: 0;
        vertical-align: middle;
        margin-left: 5px;
        pointer-events: none;
    }
}

.el-pointer { 
    //   .nameplate__text:before,
    //   .nameplate__text:after
    //   position: absolute;
    // right: 0;
    // box-sizing: border-box;
    // width: 9px;
    // height: 50%;
    // content: "";
    // border: 2px solid #fc0;
    // border-left-width: 0;
    // background-color: #ffffff;
    //
    // .nameplate__text:before
    //     top: 0;
    //     border-bottom-width: 0;
    //     transform: skewX(26.6deg) scaleX(1.12);
    //     transform-origin: 100% 0;
    // .nameplate__text:after
    //     bottom: 0;
    //     border-top-width: 0;
    //     transform: skewX(-26.6deg) scaleX(1.12);
    //     transform-origin: 100% 100%;
    position: relative;
    border-right: 0;

    &::after:extend(.pseudo) {
        width: sqrt(@form-h*@form-h/2);
        height: sqrt(@form-h*@form-h/2);
        margin-right: calc((-@form-h + @form-h * 0.17) / 2);
        background-color: inherit;
        border: 1px solid @cm-orange;
        right: 0;
        top: 0;
        transform+_: rotate(45deg);
        transform-origin: 25%;
    }
}

.el-after-reset {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    padding: auto;
}

.el-lightbox-menu {
    display: none;
    position: absolute;
    padding: @padding-min;
    background: #ffffff;
    top: @h-services;
    width: 100%;
    color: #000000;
    left: 0;
    text-transform: initial;
    text-align: left;
    cursor: default;
}

.el-grey-line(@pos) {
    // content: "";
    // width: 100%;
    // display: block;
    // position: absolute;
    // left: 0;
    // background: @cm-grey1;
    // height: 10px;
    border@{pos}: 1px solid @cm-grey1;
    padding@{pos}: @padding-min;
}

.el-arrow {
    color: @cm-orange;

    &::after {
        margin-left: 10px;
        content: ">";

        &_next {
            content: ">";
        }
    }

    &_90::after {
        transform: rotate(90deg);
    }
}

.el-underline {
    text-decoration: underline;
}

.el-marked {
    color: @cm-orange;
}

.el-prev {
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
}

@import "el-button";
@import "el-datapicker";
@import "el-slider";
@import "el-rating";
@import "el-banner";
@import "icons";
@import "ico"; //.sprite(@sprite)
@import "ico-numeric"; //.sprite(@num-sprite)
@import "perfectscroll";

.el-rate:extend(.ico all) {
    width: 64px;
    height: 30px;
    text-align: left;
    padding: 4px 10px;
    border: @border;
    border-radius: 5px;
    margin: 0;

    &:hover {
        border: 1px solid @ca-green1;
    }

    &::before {
        .sprite(@ico-like);
        content: "";
        margin-right: 5px;
    }

    &_dislike {
        margin-left: 21px;

        &:hover {
            border: 1px solid @red;
        }

        &::before {
            content: "";
            transform: scale(1, -1);
        }
    }
}

//Для скидок и акций
.el-plate-container {
    // z-index: 3; проблема в каталоге
    font-size: 0;

    .js-slider-default & {
        left: 1px;
    }

    .table & {
        margin-bottom: 5px;
    }

    .variant__goods-like & {
        left: 10px;
    }

    .catalog-items_grid & {
        padding-top: 10px;
    }
    .items &{
        position: absolute;
        left: 0px;
        bottom: 137px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.el-plate {
    color: #ffffff;
    text-align: center;
    position: relative;
    display: inline-block;
    font-size: 11px;                            
    font-weight: 600;
    height: 20px;
    line-height: 19px;
    border-radius: @radius;
    padding: 0 10px;
    cursor: default;

    &_action {
        background-color: @ca-green1;
        cursor: pointer;
    }

    &_sale {
        background-color: #52d5cd;
    }

    &_discount {
        background-color: @ca-violet;
    }

    &_special { 
        background-color: @ca-blue;
    }

    & + & {
        margin-top: 5px;
    }

    &_left{
        & + &{
            margin-top: 0;
            margin-left: 10px;
        }
    }

    &_right {
        & + &{
            margin-top: 0;
            margin-right: 10px;
        }
    }

    &_2 {
    }

    .table & {
        margin-right: -2px; // добавки от Леши
        border-radius: 32px;

        & + br {
            display: none;
        }
    }

}


        


.el-special-price {
    // border-radius: 50%;
    // width: 35px;
    // height: 35px;
    // font-size: 8px;
    // span{
    //     line-height: 10px;
    //     display: inline-block;
    //     height: 20px;
    //     .align-all;
    // } круглый
}

.el-scroll-style::-webkit-scrollbar {
    width: 5px;
}

.el-scroll-style::-webkit-scrollbar-thumb {
    background-color: #eeeeee;
    border-radius: 3px;
}

.el-scroll-style::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}

.el-scroll-style::-webkit-scrollbar-track:hover {
    background-color: #eeeeee;
}

.el-box-label { 
    .stnd-border;
    vertical-align: top;
    margin-right: 20px;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    &__wrap {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;

        &::after:extend(.pseudo) {
            width: 100%;
            height: 100%;
            top: 0;
        }
    }

    &__wrap-ico {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;

        &::before:extend(.pseudo) {
            right: 0;
            left: auto !important;
            margin: 0;
            pointer-events: none;
            display: none !important;
        }
    }

    input {
        display: none;
    }

    label {
        display: block;
    }

    &.active .el-box-label__wrap-ico::before,
    input:checked + .el-box-label__wrap > .el-box-label__wrap-ico::before {
        display: block !important;
    }
}

.el-rub {
    font-size: 70%;
}

.el-list-checkround,
.el-list-number {
    list-style: none;
    padding-left: 0;

    &__item {
        padding-left: 25px;
        position: relative;
        margin-bottom: 12px;
    }

    &__item::before {
        // font-size: 11px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 2px 0 0 1px;
        border-radius: 10px;
        text-align: center;
    }
}

.el-list-number {
    counter-reset: point;

    /* задаем переменную для счетчика */
    // &__item {
    // }

    &__item::before {
        content: counter(point);

        /* выводим значение переменной */
        counter-increment: point 1;

        /* увеличваем счетчик на 1 */
        font-size: 11px;

        /* декор цифр  */
        width: 16px;
        height: 16px;
        padding: 2px 0 0 1px;
        border: 1px solid #e4e4e4;
    }
}

.el-list-checkround {
    &__item {
        padding-left: 30px;
        margin-bottom: 12.5px;
    }

    &__item::before {
        // font-size: 11px;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
        padding: 2px 0 0 1px;
        background-color: #ffffff;
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/checkbox-orange.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
    }
}

@bnrs-offset: 10px;

.bnrs {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // margin-bottom: 57px;
    margin-bottom: 50px;

    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-shrink: 1; //IE10 shrink fix

        &:not(:first-child) {
            margin-top: @bnrs-offset;
        }
    }

    .bnr {
        .stnd-block-style(hidden); 
        background-color: #ffffff;
        display: flex;
        margin: 0;
        flex-shrink: 1; //IE10 shrink fix
        position: relative;

        &:hover {
            box-shadow: @shadow;
        }
    }

    &__block {
        min-height: 391px;
        flex-shrink: 1; //IE10 shrink fix

        &:nth-child(2n) {
            margin-left: @bnrs-offset;
        }

        &_x {
            width: 45%; 

            .bnr {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                height: 100%;
            }
        }

        &_2 {
            width: 55%;
            display: flex;
            flex-direction: column;

            .bnr {
                height: 50%;
                margin-left: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                &:not(:first-child) {
                    margin-top: @bnrs-offset;
                }
            }
        }
    }

    &__img {
        display: block;
        position: relative;
        overflow: hidden;
        flex-shrink: 1; //IE10 shrink fix

        img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .bnrs__block_x & {
            width: 100%;
            height: 266px;

            img {
                // width: 100%;
            }
        }

        .bnrs__block_2 & {
            height: 100%;
            width: 57.66%;
            min-width: 57.66%;

            img {
                // height: 100%;
                // width: auto;
            }
        }
    }

    &__text {
        display: block;
        font-weight: 400;
        font-size: 14px;
        padding: 20px;
        color: @ct-grey;
        line-height: normal;
        flex-shrink: 1; //IE10 shrink fix

        span {
            display: inline-block;
            line-height: normal;
            transition: ease-out color .3s;

            & + span {
                padding-top: 10px;
            }
        }
    }

    &__link{ 
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        &:hover{
            .bnrs__title {
                color: @ca-blue;
            }	
            
            .bnrs__description{
                color: @ct-grey;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 17px;
        flex-shrink: 1; //IE10 shrink fix
    }

    &_big {
        margin-bottom: 70px;
    }

    &_big &__block {
        &:nth-child(2n) {
            margin-left: 15px;
        }

        &_2 {
            .bnr + .bnr {
                margin-top: 15px;
            }
        }
    }

    &_big &__text {
        padding: 25px 30px;

        span + span {
            padding-top: 31px;
        }
    }

    &_big &__title {
        font-size: 22px;
    }

    &_big &__block_x &__img {
        height: 350px;
    }

    &_big &__block_2 &__img {
        min-width: 57%;
    }
}

.el-arrow-but {
    height: 32px;
    width: 32px;
    padding: 3px 6px;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
    border: 2px solid #E4E4E4;
    
    .el-button:hover &,
    &:hover {
        background-color: #F3F3F3;
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        height: 12px;
        width: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/up-arrow.svg");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &_prev {
        .cart-info__pagination & {
            margin-right: 10px;
        }
    }

    &_next {
        //mod
        .cart-info__pagination & {
            margin-left: 10px;
        }
    }

    &_prev + &_next {
        margin-left: 14px;
    }

    &_prev,
    &_left {
        //mod  //mod? //Добавил _right думаю лучше использовать его
        // margin-left: 0;
        // margin-right: 14px;
        transform: rotate(180deg);
    }

    &_alt {
        //mod
        border-width: 0;
        background-color: #fff;
        &::after {
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/up-arrow-black.svg");
        }
        &:hover{ 
            background-color: inherit;
            &::after {
                background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/up-arrow-orange.svg");
            }
        }
    }

    &_top {
        transform: rotate(-90deg);
    }

    &_bot {
        //bottom
        transform: rotate(90deg);
    }

    &&_x {
        border: 1px solid @ca-grey1;
        background-color: transparent;

        &::after {
            // transform: translate(-50%, -50%);
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cancel.svg");
        }

        &:hover {
            border-color: #aeaeae;
        }
    }

    &&_cart {
        border: 1px solid @cm-grey1;
        background-color: transparent;

        &::after {
            height: 18px;
            width: 14px;
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/delete-button-orange.svg");
        }

        &:hover {
            border-color: @ca-grey1;
        }

        &_big-0 {
            width: 35px;
            height: 35px;

            &::after {
                height: 19px;
                width: 16px;
            }
        }

        &_big-1 {
            width: 40px;
            height: 40px;

            &::after {
                height: 19px;
                width: 16px;
            }
        }
    }

    &.slick-disabled {
        opacity: .55;
        cursor: default;
    }
    
    .cart-info__pagination & {
        width: 27px;
        height: 27px;
    }

    .header-underitems &{
        margin-left:14px;
    }
}

@el-arrow-bubble-shadow: @shadow1;
@el-arrow-bubble-bg: #ffffff;

.el-arrow-bubble {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: @el-arrow-bubble-shadow;
    cursor: default;
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s ease 0s, visibility 0s ease .15s;
    z-index: 999;

    &__txt {
        display: block;
        background-color: @el-arrow-bubble-bg;
        white-space: nowrap;
        font-size: 13px;
        line-height: 18px;
        padding: 6px 10px;
        border-radius: 0 3px 3px 0;
        position: relative;
    }

    &__right {
        margin-left: 25px;
        left: 100%;

        &::before {
            content: "";
            position: absolute;
            background-color: @el-arrow-bubble-bg;
            top: 50%;
            right: 100%;
            width: 21px;
            height: 21px;
            transform: translate(50%, -50%) rotate(45deg);
            box-shadow: @el-arrow-bubble-shadow;
        }
    }

    &__right &__txt {
        padding: 6px 10px 6px 10px; 
    }

    &__left {
        margin-right: 25px;
        right: 100%;

        &::before {
            content: "";
            position: absolute;
            background-color: @el-arrow-bubble-bg;
            top: 50%;
            left: 100%;
            width: 21px;
            height: 21px;
            transform: translate(-50%, -50%) rotate(45deg);
            box-shadow: @el-arrow-bubble-shadow;
        }
    }

    &__left &__txt {
        padding: 6px 20px;
    }
}

.el-arrow-wrapper {
    display: inline-block;
    position: relative;

    &:hover {
        .el-arrow-bubble {
            visibility: visible;
            opacity: 1;
            transition: opacity .3s ease 0s, visibility 0s ease 0s;
        }
    }
}

@el-toggle-w: 50px;
@el-toggle-h: 22px;
@el-toggle-btn-size: 26px;
@el-toggle-offset: (@el-toggle-btn-size - @el-toggle-h)/2; //расстояние отступа от краёв
.el-toggle {
    width: @el-toggle-w;
    height: @el-toggle-h;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: inherit;

    &-wrapper {
        cursor: pointer;
        padding-top: @el-toggle-offset;
        padding-bottom: @el-toggle-offset;
        font-size: 0;

        & + & {
            margin-top: 14px;
        }
    }

    &-label {
        cursor: inherit;
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        margin-left: 15px;
    }

    &__btn {
        width: @el-toggle-btn-size;
        height: @el-toggle-btn-size;
        background-color: #ffffff;
        border-radius: 50%;
        position: absolute;
        left: -@el-toggle-offset;
        top: -@el-toggle-offset; // transform: translateY(-50%);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        transition: left .3s ease;

        &::before {
            .svg-ico-contain;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &_off {
        background-color: #ff4d4d;
    }

    &_off &__btn {
        &::before {
            width: 9px;
            height: 10px;
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/cancel-red.svg");
        }
    }

    &_on {
        background-color: #3edc81;
    }

    &_on &__btn {
        left: @el-toggle-w - @el-toggle-btn-size + @el-toggle-offset;

        &::before {
            width: 15px;
            height: 10px;
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/check-green.svg");
        }
    }
}

.el-tag {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    min-width: 165px;
    padding: 0 24.5px;
    line-height: 34px;
    background-color: #ffffff;
    border-radius: 40px;
    text-align: center;
    box-shadow: @shadow2; //по гайдлайну
    color: #333333;

    &_active {
        font-weight: 700;
    }

    &:hover {
        color: #333333; // box-shadow: @shadow; //по гайдлайну
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24705882); //которой в гайде нет
    }

    & + & {
        margin-left: 20px;
    }
}

.el-views {
    color: #666666;
    cursor: default;
    font-size: 12px; // line-height: ;
    display: inline-block;
    margin-left: auto;

    &::before {
        .svg-ico-contain;
        content: "";
        display: inline-block;
        margin-right: 8px;
        width: 13px;
        height: 8px; // vertical-align: bottom;
        vertical-align: middle;
        background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/eye-open.svg");
    }
}

.el-bubble {
    display: block;
    position: absolute;
    box-shadow: @shadow;
    background-color: #ffffff;
    border-radius: 3px;
    z-index: 8;
    width: 284px;
    cursor: default; // display: none;
    &::before {
        content: "";
        position: absolute !important;
        display: block;
        width: 11px;
        height: 11px;
        background-color: inherit;
        box-shadow: @shadow;
        z-index: 0;
        transform: rotate(45deg);
    }

    &__wrap {
        display: block;
        padding: 20px;
        height: 100%;
        background-color: inherit;
        position: relative;
        z-index: 1000;
        text-align: left; // line-height: 120%;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        white-space: normal;
        text-transform: none;
        color: #202020;
        border-radius: 3px;
    }

    &__link {
        font-size: 14px;
        line-height: 19px;
        color: @ct-blue;

        &:hover {
            color: @ct-blue-h;
        }
    }

    &_top {
        bottom: 100%;
        margin-bottom: 13px; //8px высота указателя

        &::before {
            bottom: 0;
            margin-bottom: -6px;
        }
    }

    &_bot {
        top: 100%;
        margin-top: 13px; //8px высота указателя

        &::before {
            top: 0;
            margin-top: -6px;
        }
    }

    &_left {
        //bot - bottom
        left: -9px;

        &::before {
            left: 27px;
        }
    }

    &_center {
        //bot - bottom
        left: 50%;
        transform: translateX(-50%);

        &::before {
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
        }
    }

    &_right {
        //bot - bottom
        right: -9px;

        &::before {
            right: 27px;
        }
    }
    // &_error {
    // }
    &_error &__wrap {
        color: @red;
    }

    &_auto-w {
        width: auto;
    }
}

.el-textinput__label {
    position: absolute;
    font-size: 13px;
    line-height: 20px;
    top: 0;
    left: 15px;
    z-index: 9;
    color: @ct-grey1;
    opacity: 0;
    transition: opacity .3s;
    margin-top: 0!important;
}

.el-textinput { //правильные инпуты 
    position: relative;
    display: inline-block;
    width: 100%;
    
    &-wrapper {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        margin-top: 25px;

        &:last-child {
            margin-bottom: 0;
        }

        &_small{
            width: 334px;
        }
    } 
    
    &&_190 {
        height: 190px;
        width: 100%;
    }

    &&_145 {
        height: 145px;
        width: 100%;
    }

    &&_108 {
        height: 108px;
        width: 100%;
    }

    &&_auto {
        display: block; 
        width: auto;
    }

    .form__input input,
    &__input {
        border: @border;
        font-size: 13px;
        line-height: 18px;
        padding: 9px 15px 8px;
        border-radius: 3px;
        // width: 260px;
        height: 37px;
        font-family: @font1;
        width: 100%;

        &_textarea {
            height: 165px;
            max-height: 100%;
            resize: none; 

            &:not(textarea) {
                border: none;
            }

            &:focus {
                border-width: 2px!important;
                padding: 8px 14px 7px;
            }
        }

        &:hover {
            border-color: @ca-grey1;
        }

        &:focus {
            border-color: @cm-orange;
            border-width: 1px;
        }

    }

    &__input:focus ~ &__label,
    &__input:not(:placeholder) ~ &__label {
        opacity: 1;
    }

    &__input_empty + &__label {
        opacity: 0 !important;
    }

    &__input_focus + &__label {
        opacity: 1 !important;
    }

    &__error {
        display: none;
    }

    + .select-ico {
        margin-top: -26px;
    }

    &_error {
        &::after {
            .svg-ico-contain;
            content: "";
            position: absolute; // display: block;
            width: 16px;
            height: 16px;
            bottom: 11px;
            right: 16px;
            background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/error.svg");
        }
    }

    &_error &__input {
        border-color: @red;
        padding-right: 16px + 16px + 10px;
    }

    &_error &__error {
        display: block;
    }

    &_labeltop {
        //если лэйбла с верху нет то нужно убрать этот класс с тега
        padding-top: 20px;
        margin-top: -15px;
    }

    .form.form_review &__input {
        //инпуты в форне "написать отзыв"
        width: 600px;
    }
}


.el-placeholder{
    z-index: 1;
    cursor: text;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none!important;
    text-align: left;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    transition: all .2s ease;
    font-family: "Open Sans", sans-serif;
    line-height: 37px;
    color: @ct-grey1;
    margin: 0!important;
}

input:invalid + .el-placeholder {
    display: inline!important;
}




@el-var-item-mb: 30px;

.el-variant {
	margin-bottom: 30px;

	&__title {
		font-size: 13px;
		line-height: normal;
		color: #888888;
		margin-bottom: 15px;
	}

	&__item {
		font-size: 0;
		line-height: 0;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-weight {
		@item-mb: 15px; // margin-bottom
		@item-ml: 12px; // margin-left
		margin-bottom: -@item-mb + @el-var-item-mb;
		margin-left: -@item-ml;

		&-item {
			display: inline-block;
			background-color: @ca-grey2;
			margin-bottom: @item-mb;
			margin-left: @item-ml;
			padding: 6px 10px;
			border-radius: 3px;
			font-size: 13px;
			line-height: 18px;

			&:hover,
			&_active {
				color: #ffffff;
				background-color: @cm-orange;
			}
		}
	}
}

.el-arrow-list{
    .link-def;
    font-size: 14px;

    &::after {
        content:'';
        margin-left: 6px;
        width: 9px;
        height: 6px;
        display: inline-block;
        transform: rotate(180deg);
        background: data-uri("image/svg+xml;charset=UTF-8", "../img/ico-svg/arrow-list.svg") center center;
    }

    &:hover::after {
        filter: brightness(0.8) saturate(1.5);
    }
}

.el-strong{
    color: #000;
    font-weight: 600;
}