
.b-article-container{
/*tilda-grid-3.0*/
.t-clear, .t-container:after, .t-container_100:after, .t-container_10:after, .t-container_8:after {
    clear: both
}

*, :after, :before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

a, b, blockquote, center, code, div, h1, h2, h3, h4, h5, h6, i, img, p, pre, span, table, td, th, tr, u, video {
    margin: 0;
    padding: 0;
    border: 0
}

.t-row {
    margin: 0
}

.t-container, .t-container_10, .t-container_8 {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%
}

.t-container {
    max-width: 1200px
}

.t-container.flexx, .t-container_flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.t-container_100 {
    width: 100%;
    padding: 0
}

.t-container_10 {
    max-width: 1000px
}

.t-container_8 {
    max-width: 800px
}

.t-container:after, .t-container:before, .t-container_100:after, .t-container_100:before, .t-container_10:after, .t-container_10:before, .t-container_8:after, .t-container_8:before {
    display: table;
    content: " "
}

.t-col {
    display: inline;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%
}

.t-col.flexx, .t-col_flex {
    align-items: stretch;
    height: inherit;
    margin-top: auto;
    margin-bottom: auto
}

.t-col_1 {
    max-width: 60px
}

.t-col_2 {
    max-width: 160px
}

.t-col_3 {
    max-width: 260px
}

.t-col_4 {
    max-width: 360px
}

.t-col_5 {
    max-width: 460px
}

.t-col_6 {
    max-width: 560px
}

.t-col_7 {
    max-width: 660px
}

.t-col_8 {
    max-width: 760px
}

.t-col_9 {
    max-width: 860px
}

.t-col_10 {
    max-width: 960px
}

.t-col_11 {
    max-width: 1060px
}

.t-col_12 {
    max-width: 1160px
}

.t-col_100 {
    max-width: 100vw
}

.t-prefix_1 {
    padding-left: 100px
}

.t-prefix_2 {
    padding-left: 200px
}

.t-prefix_3 {
    padding-left: 300px
}

.t-prefix_4 {
    padding-left: 400px
}

.t-prefix_5 {
    padding-left: 500px
}

.t-prefix_6 {
    padding-left: 600px
}

.t-prefix_7 {
    padding-left: 700px
}

.t-prefix_8 {
    padding-left: 800px
}

.t-prefix_9 {
    padding-left: 900px
}

.t-prefix_10 {
    padding-left: 1000px
}

.t-prefix_11 {
    padding-left: 1100px
}

.t-prefix_12 {
    padding-left: 1200px
}

.t-width {
    width: 100%
}

.t-width_1 {
    max-width: 60px
}

.t-width_2 {
    max-width: 160px
}

.t-width_3 {
    max-width: 260px
}

.t-width_4 {
    max-width: 360px
}

.t-width_5 {
    max-width: 460px
}

.t-width_6 {
    max-width: 560px
}

.t-width_7 {
    max-width: 660px
}

.t-width_8 {
    max-width: 760px
}

.t-width_9 {
    max-width: 860px
}

.t-width_10 {
    max-width: 960px
}

.t-width_11 {
    max-width: 1060px
}

.t-width_12 {
    max-width: 1160px
}

.t-width_100 {
    max-width: 100%
}

.t-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    margin-left: 0;
    margin-right: 0
}

.t-cell_25 {
    width: 25vw
}

.t-cell_33 {
    width: 33.3333333vw
}

.t-cell_50 {
    width: 50vw
}

.t-cell_100 {
    width: 100vw
}

@media screen and (max-width:1200px) {
    .t-container {
        max-width: 960px;
        padding: 0
    }
    .t-container_10 {
        max-width: 780px
    }
    .t-container_8 {
        max-width: 640px
    }
    .t-col {
        display: inline;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%
    }
    .t-col_1 {
        max-width: 60px
    }
    .t-col_2 {
        max-width: 140px
    }
    .t-col_3 {
        max-width: 220px
    }
    .t-col_4 {
        max-width: 300px
    }
    .t-col_5 {
        max-width: 380px
    }
    .t-col_6 {
        max-width: 460px
    }
    .t-col_7 {
        max-width: 540px
    }
    .t-col_8 {
        max-width: 620px
    }
    .t-col_9 {
        max-width: 700px
    }
    .t-col_10 {
        max-width: 780px
    }
    .t-col_11 {
        max-width: 860px
    }
    .t-col_12 {
        max-width: 940px
    }
    .t-prefix_1 {
        padding-left: 80px
    }
    .t-prefix_2 {
        padding-left: 160px
    }
    .t-prefix_3 {
        padding-left: 240px
    }
    .t-prefix_4 {
        padding-left: 320px
    }
    .t-prefix_5 {
        padding-left: 400px
    }
    .t-prefix_6 {
        padding-left: 480px
    }
    .t-prefix_7 {
        padding-left: 560px
    }
    .t-prefix_8 {
        padding-left: 640px
    }
    .t-prefix_9 {
        padding-left: 720px
    }
    .t-prefix_10 {
        padding-left: 800px
    }
    .t-prefix_11 {
        padding-left: 880px
    }
    .t-prefix_12 {
        padding-left: 960px
    }
    .t-width_1 {
        max-width: 60px
    }
    .t-width_2 {
        max-width: 140px
    }
    .t-width_3 {
        max-width: 220px
    }
    .t-width_4 {
        max-width: 300px
    }
    .t-width_5 {
        max-width: 380px
    }
    .t-width_6 {
        max-width: 460px
    }
    .t-width_7 {
        max-width: 540px
    }
    .t-width_8 {
        max-width: 620px
    }
    .t-width_9 {
        max-width: 700px
    }
    .t-width_10 {
        max-width: 780px
    }
    .t-width_11 {
        max-width: 860px
    }
    .t-width_12 {
        max-width: 940px
    }
    .t-width_100 {
        max-width: 100%
    }
}

@media screen and (max-width:960px) {
    .t-col, .t-container.flexx, .t-container_flex {
        display: block
    }
    .t-container {
        max-width: 640px
    }
    .t-col, .t-col_1, .t-col_10, .t-col_11, .t-col_12, .t-col_2, .t-col_3, .t-col_4, .t-col_5, .t-col_6, .t-col_7, .t-col_8, .t-col_9 {
        width: 100%;
        max-width: 100%
    }
    .t-col {
        float: none;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
        box-sizing: border-box
    }
    .t-prefix_1, .t-prefix_10, .t-prefix_11, .t-prefix_12, .t-prefix_2, .t-prefix_3, .t-prefix_4, .t-prefix_5, .t-prefix_6, .t-prefix_7, .t-prefix_8, .t-prefix_9 {
        padding-left: none
    }
}
/*tilda-grid-3.0*/

/*tilda-blocks-2.12*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&subset=latin,cyrillic);.t-body{margin:0}#allrecords{-webkit-font-smoothing:antialiased;background-color:none}#allrecords a{color:#ff8562;text-decoration:none}#allrecords a[href^=tel]{color:inherit;text-decoration:none}#allrecords ol{padding-left:22px}#allrecords ul{padding-left:20px}@media print{body,html{min-width:1200px;max-width:1200px;padding:0;margin:0 auto;border:none}}.t-text{font-family:'Open Sans',serif;font-weight:400;color:#000}.t-text_xs{font-size:15px;line-height:1.55}.t-text_sm{font-size:18px;line-height:1.55}.t-text_md{font-size:20px;line-height:1.55}.t-text_lg{font-size:22px;line-height:1.55}.t-text_weight_plus{font-weight:500}.t-text-impact{font-family:'Open Sans',serif;font-weight:400;color:#000}.t-text-impact_xs{font-size:26px;line-height:1.5}.t-text-impact_sm{font-size:32px;line-height:1.35}.t-text-impact_md{font-size:38px;line-height:1.35}.t-text-impact_lg{font-size:42px;line-height:1.23}.t-name{font-family:'Open Sans',sans-serif;font-weight:600;color:#000}.t-name_xs{font-size:16px;line-height:1.35}.t-name_sm{font-size:18px;line-height:1.35}.t-name_md{font-size:20px;line-height:1.35}.t-name_lg{font-size:22px;line-height:1.35}.t-name_xl{font-size:24px;line-height:1.35}.t-heading{font-family:'Open Sans',sans-serif;font-weight:600;color:#000}.t-heading_xs{font-size:26px;line-height:1.23}.t-heading_sm{font-size:28px;line-height:1.17}.t-heading_md{font-size:30px;line-height:1.17}.t-heading_lg{font-size:32px;line-height:1.17}.t-title{font-family:'Open Sans',sans-serif;font-weight:600;color:#000}.t-title_xxs{font-size:36px;line-height:1.23}.t-title_xs{font-size:42px;line-height:1.23}.t-title_sm{font-size:48px;line-height:1.23}.t-title_md{font-size:52px;line-height:1.23}.t-title_lg{font-size:64px;line-height:1.23}.t-title_xl{font-size:72px;line-height:1.17}.t-title_xxl{font-size:82px;line-height:1.17}.t-descr{font-family:'Open Sans',sans-serif;font-weight:400;color:#000}.t-descr_xxs{font-size:14px;line-height:1.55}.t-descr_xs{font-size:16px;line-height:1.55}.t-descr_sm{font-size:18px;line-height:1.55}.t-descr_md{font-size:20px;line-height:1.55}.t-descr_lg{font-size:22px;line-height:1.55}.t-descr_xl{font-size:24px;line-height:1.5}.t-descr_xxl{font-size:26px;line-height:1.45}.t-descr_xxxl{font-size:30px;line-height:1.45;letter-spacing:.45}.t-uptitle{font-family:'Open Sans',sans-serif;font-weight:600;color:#000;letter-spacing:2.5px}.t-uptitle_xs{font-size:12px}.t-uptitle_sm{font-size:14px}.t-uptitle_md{font-size:16px}.t-uptitle_lg{font-size:18px}.t-uptitle_xl{font-size:20px;letter-spacing:2px}.t-uptitle_xxl{font-size:22px;letter-spacing:2px}.t-uptitle_xxxl{font-size:24px;letter-spacing:2px}@media screen and (max-width:1200px){.t-text_xs{font-size:14px}.t-text_sm{font-size:16px}.t-text_md{font-size:18px}.t-text_lg{font-size:20px}.t-text-impact_md{font-size:30px}.t-descr_xxs{font-size:12px}.t-descr_xs{font-size:14px}.t-descr_sm{font-size:16px}.t-descr_md{font-size:18px}.t-descr_lg{font-size:20px}.t-descr_xl{font-size:22px}.t-descr_xxl{font-size:22px}.t-descr_xxxl{font-size:26px}.t-uptitle_md{font-size:14px}.t-uptitle_lg{font-size:16px}.t-uptitle_xl{font-size:18px}.t-uptitle_xxl{font-size:20px}.t-uptitle_xxxl{font-size:22px}.t-title_xxs{font-size:32px}.t-title_xs{font-size:38px}.t-title_sm{font-size:44px}.t-title_md{font-size:48px}.t-title_lg{font-size:60px}.t-title_xl{font-size:68px}.t-title_xxl{font-size:78px}.t-name_xs{font-size:14px}.t-name_sm{font-size:16px}.t-name_md{font-size:18px}.t-name_lg{font-size:20px}.t-name_xl{font-size:22px}.t-heading_xs{font-size:24px}.t-heading_sm{font-size:26px}.t-heading_md{font-size:28px}.t-heading_lg{font-size:30px}}@media screen and (max-width:640px){.t-text_xs{font-size:12px;line-height:1.45}.t-text_sm{font-size:14px;line-height:1.45}.t-text_md{font-size:16px;line-height:1.45}.t-text_lg{font-size:18px;line-height:1.45}.t-text-impact_sm{font-size:22px}.t-text-impact_md{font-size:26px}.t-text-impact_lg{font-size:28px}.t-descr_xs{font-size:12px;line-height:1.45}.t-descr_sm{font-size:14px;line-height:1.45}.t-descr_md{font-size:16px;line-height:1.45}.t-descr_lg{font-size:18px;line-height:1.45}.t-descr_xl{font-size:20px;line-height:1.4}.t-descr_xxl{font-size:20px}.t-descr_xxxl{font-size:22px}.t-uptitle_xs{font-size:10px}.t-uptitle_sm{font-size:10px}.t-uptitle_md{font-size:12px}.t-uptitle_lg{font-size:14px}.t-uptitle_xl{font-size:16px}.t-uptitle_xxl{font-size:18px}.t-uptitle_xxxl{font-size:20px}.t-title_xxs{font-size:28px}.t-title_xs{font-size:30px}.t-title_sm{font-size:30px}.t-title_md{font-size:30px}.t-title_lg{font-size:30px}.t-title_xl{font-size:32px}.t-title_xxl{font-size:36px}.t-name_xs{font-size:12px}.t-name_sm{font-size:14px}.t-name_md{font-size:16px}.t-name_lg{font-size:18px}.t-name_xl{font-size:20px}.t-heading_xs{font-size:22px}.t-heading_sm{font-size:24px}.t-heading_md{font-size:24px}.t-heading_lg{font-size:26px}}@media screen and (max-width:480px){.t-title_xl{font-size:30px}.t-title_xxl{font-size:30px}}.t-records{-webkit-font_smoothing:antialiased;background-color:none}.t-records a{color:#ff8562;text-decoration:none}.t-records a[href^=tel]{color:inherit;text-decoration:none}.t-records ol{padding-left:22px;margin-top:0;margin-bottom:10px}.t-records ul{padding-left:20px;margin-top:0;margin-bottom:10px}.t-cover{height:700px;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-color:#000;background-repeat:no-repeat;background-position:center center;text-align:center;vertical-align:middle;position:relative;background-attachment:fixed;overflow:hidden}.t-cover__carrier{height:700px;width:100%;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-repeat:no-repeat;background-position:center center;text-align:center;vertical-align:middle;position:relative;background-attachment:fixed}.t-cover__carrier.loading{opacity:0}.t-cover__carrier[data-content-cover-bg=""].loading{opacity:1!important}.t-cover__carrier.loaded{opacity:1;transition:opacity 400ms}@media screen and (max-device-width:1024px){.t-cover{background-attachment:scroll}.t-cover__carrier{background-attachment:scroll}}@media print{.t-cover{background-attachment:scroll}.t-cover__carrier{background-attachment:scroll}}.t-cover__filter{height:700px;width:100%;position:absolute;top:0;left:0}.t-cover .t-container,.t-cover .t-container_100,.t-cover .t-container_10,.t-cover .t-container_8{position:absolute;top:0;left:0;bottom:0;right:0}.t-cover__wrapper{height:700px;display:table-cell;width:1200px}.t-cover__wrapper span.space{display:inline-block;height:100%;width:1px}@media screen and (max-width:640px){.t-cover{height:400px;background-attachment:fixed}.t-cover__carrier{background-attachment:scroll!important;background-size:cover;background-position:center center}.t-cover__filter{height:400px}.t-cover__wrapper{height:400px}}@-webkit-keyframes t-arrow-bottom{0%{-moz-transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}50%{-moz-transform:translateY(-7px);-ms-transform:translateY(-7px);-webkit-transform:translateY(-7px);-o-transform:translateY(-7px);transform:translateY(-7px)}55%{-moz-transform:translateY(-7px);-ms-transform:translateY(-7px);-webkit-transform:translateY(-7px);-o-transform:translateY(-7px);transform:translateY(-7px)}100%{-moz-transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}}@keyframes t-arrow-bottom{0%{-moz-transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}50%{-moz-transform:translateY(-7px);-ms-transform:translateY(-7px);-webkit-transform:translateY(-7px);-o-transform:translateY(-7px);transform:translateY(-7px)}55%{-moz-transform:translateY(-7px);-ms-transform:translateY(-7px);-webkit-transform:translateY(-7px);-o-transform:translateY(-7px);transform:translateY(-7px)}100%{-moz-transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}}.t-cover__arrow-wrapper_animated{animation:t-arrow-bottom 1.7s infinite ease}.t-cover__arrow{position:absolute;z-index:9;bottom:40px;right:0;left:0;text-align:center}.t-cover__arrow-wrapper{display:inline-block;-webkit-transition:all ease-in-out 0.2s;-moz-transition:all ease-in-out 0.2s;-o-transition:all ease-in-out 0.2s;transition:all ease-in-out 0.2s;cursor:pointer}.t-cover__arrow-wrapper:hover{opacity:.7}.t-cover__arrow-svg{fill:#fff}@media screen and (max-width:640px){.t-cover__arrow_mobile{-moz-transform:scale(.7);-ms-transform:scale(.7);-webkit-transform:scale(.7);-o-transform:scale(.7);transform:scale(.7)}.t-cover__arrow{bottom:14px}}.t-btn{display:inline-block;font-family:'Open Sans',sans-serif;height:60px;border:0 none;font-size:16px;padding-left:60px;padding-right:60px;text-align:center;white-space:nowrap;vertical-align:middle;font-weight:700;background-image:none;cursor:pointer;-webkit-appearance:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.t-btn td{vertical-align:middle}.t-btn_sending{opacity:.5}@media screen and (max-width:640px){.t-btn{white-space:normal;padding-left:30px;padding-right:30px}}.t-btn_xs{height:35px;font-size:13px;padding-left:15px;padding-right:15px}.t-btn_sm{height:45px;font-size:14px;padding-left:30px;padding-right:30px}.t-btn_lg{height:60px;font-size:22px;padding-left:70px;padding-right:70px}.t-btn_xl{height:80px;font-size:26px;padding-left:80px;padding-right:80px}.t-btn_xxl{height:100px;font-size:30px;padding-left:90px;padding-right:90px}@media screen and (max-width:640px){.t-btn_sm{padding-left:20px;padding-right:20px}.t-btn_lg{font-size:18px;padding-left:40px;padding-right:40px}.t-btn_xl{font-size:22px;padding-left:50px;padding-right:50px}.t-btn_xxl{font-size:26px;padding-left:60px;padding-right:60px}}.t-submit{font-family:'Open Sans',sans-serif;text-align:center;height:60px;border:0 none;font-size:16px;padding-left:60px;padding-right:60px;-webkit-appearance:none;font-weight:700;white-space:nowrap;background-image:none;cursor:pointer;margin:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none;background:transparent}.t-submit_sending{opacity:.5}@media screen and (max-width:640px){.t-submit{white-space:normal;padding-left:30px;padding-right:30px}}.t-input{margin:0;font-family:'Open Sans',sans-serif;font-size:100%;height:60px;padding:0 20px;font-size:16px;line-height:1.33;width:100%;border:0 none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none;-webkit-appearance:none}.t-input::-moz-focus-inner{padding:0;border:0}.t-input_bbonly{outline:none;padding-left:0!important;padding-right:0!important;border-top:0!important;border-right:0!important;border-left:0!important;background-color:transparent!important;border-radius:0!important;border-bottom:1px solid}.t-input_pvis{padding:26px 20px 10px 20px}.t-input__vis-ph{font-size:16px;font-family:'Open Sans',sans-serif;line-height:1;opacity:.5;position:absolute;left:20px;top:22px;height:16px;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-transition:transform 0.2s linear;transition:transform 0.2s linear;-webkit-transform-origin:left;transform-origin:left;pointer-events:none;white-space:nowrap}.t-input:focus~.t-input__vis-ph,.t-input_has-content+.t-input__vis-ph{-webkit-transform:translateY(-12px) scale(.7);transform:translateY(-12px) scale(.7)}.t-form_bbonly .t-input__vis-ph{left:0px!important}.t-form_bbonly .js-error-control-box .t-input__vis-ph{left:10px!important}.t-select{width:100%;box-sizing:border-box;cursor:pointer;height:60px;padding:0 45px 0 20px;font-family:'Open Sans',sans-serif;font-size:16px;line-height:1.33;outline:0;border:0;border-radius:0;background:transparent;-webkit-appearance:none;appearance:none;-moz-appearance:none}.t-select_bbonly{outline:none;padding-left:0!important;padding-right:0!important;border-top:0!important;border-right:0!important;border-left:0!important;background-color:transparent!important;border-radius:0!important}.t-select_bbonly option{color:#000;background-color:#fff}.t-select__wrapper{position:relative}.t-select__wrapper:after{content:' ';width:0;height:0;border-style:solid;border-width:6px 5px 0 5px;border-color:#000 transparent transparent transparent;position:absolute;right:20px;top:0;bottom:0;margin:auto;pointer-events:none}.t-select::-ms-expand{width:0;height:0;opacity:0}.t-select__wrapper_bbonly::after{right:0px!important}.t-checkbox__control{display:block;position:relative;cursor:pointer}.t-checkbox__control .t-checkbox{position:absolute;z-index:-1;opacity:0}.t-checkbox__indicator{position:relative;display:inline-block;vertical-align:middle;height:20px;width:20px;border:2px solid #000;box-sizing:border-box;margin-right:10px;-webkit-transition:all 0.2s;transition:all 0.2s;opacity:.6}.t-checkbox__indicator:after{content:'';position:absolute;display:none;left:6px;top:2px;width:3px;height:8px;border:solid #000;border-width:0 2px 2px 0;transform:rotate(45deg)}.t-checkbox__control .t-checkbox:checked~.t-checkbox__indicator{opacity:1}.t-checkbox__control .t-checkbox:checked~.t-checkbox__indicator:after{display:block}.t-checkboxes__wrapper .t-checkbox__control{margin:10px 0}.t-radio{position:absolute;z-index:-1;opacity:0}.t-radio__control{display:table;position:relative;cursor:pointer;margin:0 0 10px 0}.t-radio__control:first-child{margin:3px 0 10px 0}.t-radio__control:last-child{margin:0 0 0 0}.t-radio__indicator{position:relative;display:inline-block;vertical-align:middle;height:20px;width:20px;border-color:#000;border-style:solid;border-width:2px;box-sizing:border-box;border-radius:50%;margin-right:10px;-webkit-transition:all 0.2s;transition:all 0.2s;opacity:.6}.t-radio__indicator:after{content:'';width:10px;height:10px;background:#000;border-radius:50%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;opacity:0;-webkit-transition:all 0.2s;transition:all 0.2s}.t-radio__control .t-radio:checked~.t-radio__indicator:after{opacity:1}.t-radio__control .t-radio:checked~.t-radio__indicator{opacity:1}.t-inputquantity{width:70px;text-align:center;margin-left:.5rem;margin-right:.5rem}.t-inputquantity__btn{font-size:26px;cursor:pointer;margin-left:.5rem;margin-right:.5rem;-webkit-user-select:none;-moz-user-select:none;-khtml-user-select:none;-ms-user-select:none}.t-form .uploadcare-widget-button{background:#333;font-family:'Open Sans',sans-serif;line-height:1.4;font-size:14px}.t-form .uploadcare-widget-button:hover{background:#444}.t-input-title{display:block;vertical-align:middle;height:100%;padding-right:10px}.t-input-subtitle{display:block;vertical-align:middle;height:100%;padding-right:10px}.t-form__bottom-text{margin-top:30px;text-align:center}.t-input-error{display:none;color:red;font-family:'Open Sans',serif;font-size:13px;margin-top:5px}.t-form .js-error-control-box .t-input-error{display:block}.t-form .js-error-control-box .t-input,.t-form .js-error-control-box .t-checkbox__control,.t-form .js-error-control-box .t-checkboxes__wrapper,.t-form .js-error-control-box .t-select__wrapper,.t-form .js-error-control-box .t-radio__wrapper,.t-form .js-error-control-box .uploadcare-widget{border:1px solid red!important}.t-form .js-error-control-box .t-checkboxes__wrapper,.t-form .js-error-control-box .t-radio__wrapper,.t-form .js-error-control-box .t-checkbox__control{padding:10px}.t-form .js-error-control-box .t-checkboxes__wrapper .t-checkbox__control{border:none!important;padding:0}.t-form .js-error-control-box .t-input.t-input_bbonly{padding-left:10px!important}.t-form__errorbox-bottom{display:none}.t-form__errorbox-wrapper{background:#F95D51;padding:10px;text-align:center;margin-bottom:20px;font-family:'Open Sans',serif}.t-form__errorbox-text{color:#fff;box-sizing:border-box;padding:0 10px 10px 10px;font-family:'Open Sans',serif}.t-form__errorbox-item{padding-top:10px;display:none;font-family:'Open Sans',serif}.t-form__successbox{text-align:center;background:#62C584;color:#fff;padding:20px;margin-bottom:20px;font-family:'Open Sans',serif}@keyframes t-submit-spinner{to{transform:rotate(360deg)}}.t-form .t-submit{position:relative}.t-form .t-submit.t-btn_sending{color:transparent!important}.t-form .t-btn_sending:before{content:'';box-sizing:border-box;position:absolute;top:50%;left:50%;width:30px;height:30px;margin-top:-15px;margin-left:-15px;border-radius:50%;border:2px solid #ccc;border-top-color:#333;animation:t-submit-spinner .6s linear infinite}.t-btntext{font-family:'Open Sans',sans-serif;color:#000;font-size:20px;line-height:1.55;font-weight:700;text-decoration:none;cursor:pointer;display:inline-block}.t-btntext_sm{font-size:16px}.t-btntext_lg{font-size:24px}.t-uppercase.t-btntext{font-size:16px}.t-uppercase.t-btntext_sm{font-size:14px}.t-uppercase.t-btntext_lg{font-size:20px}.t-btntext:after{content:"\00a0→";font-family:Arial,Helvetica,sans-serif}@media screen and (max-width:640px){.t-btntext_lg{font-size:20px}}@media screen and (max-width:1200px){.t-screenmin-1200px{display:none}}@media screen and (max-width:980px){.t-screenmin-980px{display:none}}@media screen and (max-width:640px){.t-screenmin-640px{display:none}}@media screen and (max-width:480px){.t-screenmin-480px{display:none}}@media screen and (max-width:320px){.t-screenmin-320px{display:none}}@media screen and (min-width:321px){.t-screenmax-320px{display:none}}@media screen and (min-width:481px){.t-screenmax-480px{display:none}}@media screen and (min-width:641px){.t-screenmax-640px{display:none}}@media screen and (min-width:981px){.t-screenmax-980px{display:none}}@media screen and (min-width:1201px){.t-screenmax-1200px{display:none}}.t-hidden{display:none}.t-opacity_50{filter:alpha(opacity=50);KHTMLOpacity:.5;MozOpacity:.5;opacity:.5}.t-opacity_70{filter:alpha(opacity=70);KHTMLOpacity:.7;MozOpacity:.7;opacity:.7}.t-uppercase{text-transform:uppercase}.t-align_center{text-align:center}.t-align_left{text-align:left}.t-align_right{text-align:right}.t-margin_auto{margin-left:auto;margin-right:auto}.t-valign_middle{vertical-align:middle}.t-valign_top{vertical-align:top}.t-valign_bottom{vertical-align:bottom}.t-margin_left_auto{margin-right:0;margin-left:auto}.yashare-style .b-share-btn__facebook,.yashare-style .b-share-btn__twitter,.yashare-style .b-share-btn__vkontakte{background-color:transparent!important}.yashare-style .b-share__link{-webkit-border-radius:0px!important;border-radius:0px!important}.yashare-style-black-white .b-share-btn__wrap{background-color:#000!important;padding:5px!important}.yashare-style-transp-white .b-share-btn__wrap{padding:5px!important}.yashare-style-transp-white .b-share-counter{color:#fff;font-weight:700}.yashare-style-white-black .b-share-btn__wrap{background-color:#fff!important;padding:5px!important}.yashare-style-white-black .b-share-icon{background-image:url(//static.tildacdn.com/img/b-share_counter_large_white.png)!important}.yashare-style-transp-black .b-share-btn__wrap{padding:5px!important}.yashare-style-transp-black .b-share-icon{background-image:url(//static.tildacdn.com/img/b-share_counter_large_white.png)!important}.yashare-style-transp-black .b-share-counter{color:#000;font-weight:700}.ya-share2 ul{padding-left:0px!important}.carousel{position:relative}.carousel ol{padding-left:0px!important}.carousel-inner{position:relative;width:100%;overflow:hidden}.carousel-inner>.item{position:relative;display:none;-webkit-transition:0.6s ease-in-out left;transition:0.6s ease-in-out left}.carousel-inner>.item>img,.carousel-inner>.item>a>img{display:block;height:auto;line-height:1}.carousel-inner .widthauto{width:auto;max-width:100%;vertical-align:middle}.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{display:block}.carousel-inner>.active{left:0}.carousel-inner>.next,.carousel-inner>.prev{position:absolute;top:0;width:100%}.carousel-inner>.next{left:100%}.carousel-inner>.prev{left:-100%}.carousel-inner>.next.left,.carousel-inner>.prev.right{left:0}.carousel-inner>.active.left{left:-100%}.carousel-inner>.active.right{left:100%}.carousel-control{position:absolute;top:0;bottom:0;left:0;width:15%;opacity:.2;filter:alpha(opacity=20)}.carousel-control.right{right:0;left:auto}.carousel-control .carousel-control-left{position:absolute;top:48%;z-index:5;display:inline-block;left:20%;height:34px;width:21px;background:url(//static.tildacdn.com/img/aboutSliderControls.png) no-repeat}.carousel-control .carousel-control-left-white{position:absolute;top:48%;z-index:5;display:inline-block;left:20%;height:34px;width:21px;background:url(//static.tildacdn.com/img/aboutSliderControls_white.png) no-repeat}.carousel-control .carousel-control-right{position:absolute;top:48%;z-index:5;display:inline-block;right:20%;height:34px;width:21px;background:url(//static.tildacdn.com/img/aboutSliderControls.png) no-repeat;background-position:left bottom}.carousel-control .carousel-control-right-white{position:absolute;top:48%;z-index:5;display:inline-block;right:20%;height:34px;width:21px;background:url(//static.tildacdn.com/img/aboutSliderControls_white.png) no-repeat;background-position:left bottom}.carousel-indicators{position:absolute;bottom:10px;left:50%;z-index:15;width:60%;padding-left:0;margin-left:-30%;text-align:center;list-style:none}.carousel-indicators.dotsbottom{bottom:-60px}.carousel-indicators li{display:inline-block;width:10px;height:10px;margin:1px;margin-left:5px;margin-right:5px;text-indent:-999px;cursor:pointer;background-color:#000;border:none;border-radius:10px}.carousel-indicators .active{width:10px;height:10px;margin:0;margin-left:4px;margin-right:4px;border:1px solid #000;border-radius:10px;background-color:transparent}.carousel-indicators li.white{background-color:#fff}.carousel-indicators li.white.active{border:1px solid #fff;border-radius:10px;background-color:transparent}.carousel-caption-imgs h6{font-family:'Open Sans',serif;color:#000;font-weight:400;font-size:14px;line-height:28px;padding-top:28px;padding-bottom:0;text-align:center}.carousel-caption-imgs p{font-family:'Open Sans',serif;color:#000;font-size:14px;line-height:28px;padding-top:14px;padding-bottom:14px;text-align:center}.carousel-title{font-family:'Open Sans',sans-serif;color:#000;font-size:18px;line-height:28px;padding-top:36px;padding-bottom:14px;text-align:center}.carousel-descr{font-family:'Open Sans',serif;color:#000;font-size:14px;line-height:28px;padding-top:14px;padding-bottom:14px;text-align:center}@media screen and (min-width:768px){.carousel-indicators{bottom:20px}}.clearfix:before,.clearfix:after{display:table;content:" "}.clearfix:after{clear:both}.center-block{display:block;margin-right:auto;margin-left:auto}@media screen and (max-width:960px){.carousel-control .carousel-control-left{left:10%}.carousel-control .carousel-control-left-white{left:10%}.carousel-control .carousel-control-right{right:10%}.carousel-control .carousel-control-right-white{right:10%}}.t-tildalabel{background-color:#000;color:#fff;width:100%;height:70px;font-family:Arial;font-size:14px}.t-tildalabel:hover .t-tildalabel__wrapper{opacity:1}.t-tildalabel_white{background-color:#fff;color:#000}.t-tildalabel_gray{background-color:#eee;color:#000}.t-tildalabel__wrapper{display:table;height:30px;width:270px;margin:0 auto;padding-top:20px;opacity:.4}.t-tildalabel__txtleft{display:table-cell;width:120px;height:30px;vertical-align:middle;text-align:right;padding-right:12px;font-weight:300;font-size:12px}.t-tildalabel__wrapimg{display:table-cell;width:30px;height:30px;vertical-align:middle}.t-tildalabel__img{width:30px;height:30px;vertical-align:middle}.t-tildalabel__txtright{display:table-cell;width:120px;height:30px;vertical-align:middle;padding-left:12px;font-weight:500;letter-spacing:2px}.t-tildalabel__link{color:#fff;text-decoration:none;vertical-align:middle}.t-tildalabel_white .t-tildalabel__link,.t-tildalabel_gray .t-tildalabel__link{color:#000}.t-carousel{position:relative}.t-carousel__inner{position:relative;overflow:hidden;margin:0 auto}.t-carousel__slides{position:relative}.t-carousel__inner>.t-carousel__item{position:relative;display:none;-webkit-transition:0 ease-in-out left;-moz-transition:0 ease-in-out left;-o-transition:0 ease-in-out left;transition:0 ease-in-out left}.t-carousel__inner>.t-carousel__item.t-carousel__animation_fast{-webkit-transition:.3s ease-in-out left;-moz-transition:.3s ease-in-out left;-o-transition:.3s ease-in-out left;transition:.3s ease-in-out left}.t-carousel__inner>.t-carousel__item.t-carousel__animation_slow{-webkit-transition:.6s ease-in-out left;-moz-transition:.6s ease-in-out left;-o-transition:.6s ease-in-out left;transition:.6s ease-in-out left}.t-carousel__item__wrapper{position:relative;margin:0 auto}.t-carousel__item__img{background-size:contain;background-repeat:no-repeat;background-position:center;position:absolute;top:0;right:0;bottom:0;left:0}.t-carousel_cover .t-carousel__item__img{background-size:cover}.t-carousel__inner>.active,.t-carousel__inner>.next,.t-carousel__inner>.prev{display:block}.t-carousel__inner>.active{left:0}.t-carousel__inner>.next,.t-carousel__inner>.prev{position:absolute;top:0;width:100%}.t-carousel__inner>.next{left:100%}.t-carousel__inner>.prev{left:-100%}.t-carousel__inner>.next.left,.t-carousel__inner>.prev.right{left:0}.t-carousel__inner>.active.left{left:-100%}.t-carousel__inner>.active.right{left:100%}.t-carousel__arrows__container{position:absolute;top:0;left:0;right:0;bottom:0;margin:0 auto;pointer-events:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=',sizingMethod='scale');background:none!important}.t-carousel__arrow_outsidesmall .t-carousel__arrow__wrapper_left{left:16px}.t-carousel__arrow_outsidesmall .t-carousel__arrow__wrapper_right{right:16px}.t-carousel__arrow_outsidemiddle .t-carousel__arrow__wrapper_left{left:20px}.t-carousel__arrow_outsidemiddle .t-carousel__arrow__wrapper_right{right:20px}.t-carousel__control{position:absolute;top:0;bottom:0;left:0;width:15%;-webkit-transition:all ease-in-out 0.3s;-moz-transition:all ease-in-out 0.3s;-o-transition:all ease-in-out 0.3s;transition:all ease-in-out 0.3s;pointer-events:auto}.t-carousel__control:hover{opacity:.6}.t-carousel__arrow{width:34px;height:34px;background:transparent;-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}.t-carousel__arrow.t-carousel__arrow_small{width:20px;height:20px}.t-carousel__arrow.t-carousel__arrow_large{width:54px;height:54px}.t-carousel__arrow__wrapper{-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);position:absolute;top:50%}.t-carousel__arrow__wrapper_left{left:30px}.t-carousel__arrow__wrapper_right{right:30px}.t-carousel__arrow_right{border-top:3px solid;border-right:3px solid}.t-carousel__arrow_right.t-carousel__arrow_light{border-top:1px solid;border-right:1px solid}.t-carousel__arrow_right.t-carousel__arrow_bold{border-top:6px solid;border-right:6px solid}.t-carousel__arrow_left{border-left:3px solid;border-bottom:3px solid}.t-carousel__arrow_left.t-carousel__arrow_light{border-left:1px solid;border-bottom:1px solid}.t-carousel__arrow_left.t-carousel__arrow_bold{border-left:6px solid;border-bottom:6px solid}.t-carousel__control.right{right:0;left:auto}@media screen and (max-width:768px){.t-carousel__control .t-carousel__arrow{width:12px;height:12px}.t-carousel-control{width:10%}.t-carousel__arrow__left{left:15px}.t-carousel__arrow__right{right:15px}}.t-carousel__indicators.carousel-indicators{z-index:15;text-align:center;list-style:none;position:relative;padding-left:0!important;margin:0 auto;padding:20px 0;bottom:auto;left:auto}.t-carousel__indicators.t-carousel__indicators_light{padding:15px 0 18px}.t-carousel__indicators.t-carousel__indicators_bold{padding:24px 0 21px}.t-carousel__indicators .t-carousel__indicator{display:inline-block;width:8px;height:8px;margin:0 6px;text-indent:-999px;cursor:pointer;background-color:#222;border:none;border-radius:10px;opacity:.4;-webkit-transition:.2s ease-in-out opacity;-moz-transition:.2s ease-in-out opacity;-o-transition:.2s ease-in-out opacity;transition:.2s ease-in-out opacity}@media screen and (max-width:640px){.t-carousel__indicators.carousel-indicators,.t-carousel__indicators.t-carousel__indicators_light,.t-carousel__indicators.t-carousel__indicators_bold{padding:15px 0}}.t-carousel__indicators.t-carousel__indicators_light .t-carousel__indicator{width:4px;height:4px;margin:0 5px}.t-carousel__indicators.t-carousel__indicators_bold .t-carousel__indicator{width:10px;height:10px;margin:0 6px}.t-carousel__indicators .t-carousel__indicator:hover{opacity:.8}.t-carousel__indicators .t-carousel__indicator.active{opacity:1}.t-carousel__indicators.t-carousel__indicators_inside{position:absolute;bottom:0;left:0;right:0}.t-carousel__caption-inside{display:none}.t-carousel__caption_wrapper{border-top:1px solid #eee;padding:14px 0}.t-carousel__descr{margin-top:5px;color:#777}.t-mbfix{opacity:.01;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);position:fixed;width:100%;height:500px;background-color:white;top:0;left:0;z-index:10000;-webkit-transition:all 0.1s ease;transition:all 0.1s ease}.t-mbfix_hide{-webkit-transform:translateX(3000px);-ms-transform:translateX(3000px);transform:translateX(3000px)}.r_anim{-webkit-transition:opacity 0.5s;transition:opacity 0.5s}.r_hidden{opacity:0}.r_showed{opacity:1}img:not([src]){visibility:hidden}.t-rec_pt_0{padding-top:0}.t-rec_pt_15{padding-top:15px}.t-rec_pt_30{padding-top:30px}.t-rec_pt_45{padding-top:45px}.t-rec_pt_60{padding-top:60px}.t-rec_pt_75{padding-top:75px}.t-rec_pt_90{padding-top:90px}.t-rec_pt_105{padding-top:105px}.t-rec_pt_120{padding-top:120px}.t-rec_pt_135{padding-top:135px}.t-rec_pt_150{padding-top:150px}.t-rec_pt_165{padding-top:165px}.t-rec_pt_180{padding-top:180px}.t-rec_pt_195{padding-top:195px}.t-rec_pt_210{padding-top:210px}.t-rec_pb_0{padding-bottom:0}.t-rec_pb_15{padding-bottom:15px}.t-rec_pb_30{padding-bottom:30px}.t-rec_pb_45{padding-bottom:45px}.t-rec_pb_60{padding-bottom:60px}.t-rec_pb_75{padding-bottom:75px}.t-rec_pb_90{padding-bottom:90px}.t-rec_pb_105{padding-bottom:105px}.t-rec_pb_120{padding-bottom:120px}.t-rec_pb_135{padding-bottom:135px}.t-rec_pb_150{padding-bottom:150px}.t-rec_pb_165{padding-bottom:165px}.t-rec_pb_180{padding-bottom:180px}.t-rec_pb_195{padding-bottom:195px}.t-rec_pb_210{padding-bottom:210px}@media screen and (max-width:480px){.t-rec_pt_0{padding-top:0}.t-rec_pt_15{padding-top:15px}.t-rec_pt_30{padding-top:30px}.t-rec_pt_45{padding-top:45px}.t-rec_pt_60{padding-top:60px}.t-rec_pt_75{padding-top:75px}.t-rec_pt_90{padding-top:90px}.t-rec_pt_105{padding-top:90px}.t-rec_pt_120{padding-top:90px!important}.t-rec_pt_135{padding-top:90px!important}.t-rec_pt_150{padding-top:90px!important}.t-rec_pt_165{padding-top:90px!important}.t-rec_pt_180{padding-top:120px!important}.t-rec_pt_195{padding-top:120px!important}.t-rec_pt_210{padding-top:120px!important}.t-rec_pb_0{padding-bottom:0}.t-rec_pb_15{padding-bottom:15px}.t-rec_pb_30{padding-bottom:30px}.t-rec_pb_45{padding-bottom:45px}.t-rec_pb_60{padding-bottom:60px}.t-rec_pb_75{padding-bottom:75px}.t-rec_pb_90{padding-bottom:90px}.t-rec_pb_105{padding-bottom:90px}.t-rec_pb_120{padding-bottom:90px!important}.t-rec_pb_135{padding-bottom:90px!important}.t-rec_pb_150{padding-bottom:90px!important}.t-rec_pb_165{padding-bottom:90px!important}.t-rec_pb_180{padding-bottom:120px!important}.t-rec_pb_195{padding-bottom:120px!important}.t-rec_pb_210{padding-bottom:120px!important}}@media screen and (max-width:480px){.t-rec_pt-res-480_0{padding-top:0!important}.t-rec_pt-res-480_15{padding-top:15px!important}.t-rec_pt-res-480_30{padding-top:30px!important}.t-rec_pt-res-480_45{padding-top:45px!important}.t-rec_pt-res-480_60{padding-top:60px!important}.t-rec_pt-res-480_75{padding-top:75px!important}.t-rec_pt-res-480_90{padding-top:90px!important}.t-rec_pt-res-480_105{padding-top:105px!important}.t-rec_pt-res-480_120{padding-top:120px!important}.t-rec_pt-res-480_135{padding-top:135px!important}.t-rec_pt-res-480_150{padding-top:150px!important}.t-rec_pt-res-480_165{padding-top:165px!important}.t-rec_pt-res-480_180{padding-top:180px!important}.t-rec_pt-res-480_195{padding-top:195px!important}.t-rec_pt-res-480_210{padding-top:210px!important}.t-rec_pb-res-480_0{padding-bottom:0!important}.t-rec_pb-res-480_15{padding-bottom:15px!important}.t-rec_pb-res-480_30{padding-bottom:30px!important}.t-rec_pb-res-480_45{padding-bottom:45px!important}.t-rec_pb-res-480_60{padding-bottom:60px!important}.t-rec_pb-res-480_75{padding-bottom:75px!important}.t-rec_pb-res-480_90{padding-bottom:90px!important}.t-rec_pb-res-480_105{padding-bottom:105px!important}.t-rec_pb-res-480_120{padding-bottom:120px!important}.t-rec_pb-res-480_135{padding-bottom:135px!important}.t-rec_pb-res-480_150{padding-bottom:150px!important}.t-rec_pb-res-480_165{padding-bottom:165px!important}.t-rec_pb-res-480_180{padding-bottom:180px!important}.t-rec_pb-res-480_195{padding-bottom:195px!important}.t-rec_pb-res-480_210{padding-bottom:210px!important}}.t-body_scroll-locked{position:fixed;left:0;width:100%;height:100%;overflow:hidden}.t121__widthauto{width:100%;max-width:940px;vertical-align:middle}.t121 iframe{display:block;border:0;padding:0}.t006{position:relative}.t006__line_top{width:100%;text-align:center;position:relative}.t006__line_top:after{content:'';position:absolute;top:50%;left:0;right:0;height:1px;background-color:#000}.t006__line_bottom{border-top:1px solid #000;width:100%;height:1px;text-align:center;margin-top:22px;padding-bottom:4px}.t006__uptitle{padding:10px 43px;background-color:#000;display:inline-block;color:#fff;font-weight:700;text-transform:uppercase;letter-spacing:2px;position:relative;z-index:1}.t006__text-impact{padding:40px 0 30px 0;text-align:center}.t006 .t-col_10{margin:0}@media screen and (max-width:640px){.t006 .t-col_10{margin:0;padding:0}.t006__text-impact{padding-left:0;padding-right:0}.t006__line_top{height:auto}}.t046__text{text-align:center;padding-top:10px;padding-bottom:4px}.t083__inner{float:left;position:relative;width:100%}.t083__imgwrapper{width:100%;text-align:center}.t083__widthauto{width:auto;max-width:100%;vertical-align:middle}.t083__textclass1{top:220px;left:-150px;width:290px;font-size:13px;line-height:23px;text-transform:uppercase;position:absolute}.t083__textclass2{left:-150px;top:220px;position:absolute;width:210px;font-size:32px}.t083__textclass3{left:790px;position:absolute;width:290px;top:220px;font-size:13px;line-height:23px;text-transform:uppercase}@media screen and (max-width:1240px){.t083__textclass1,.t083__textclass2,.t083__textclass3{left:0;position:relative;top:20px;bottom:20px;width:100%;max-width:480px}}.t089__inner{border-top:4px solid #000;border-bottom:4px solid #000;padding:20px 0}.t089__text{line-height:36px;font-size:28px;font-weight:700;margin:0;padding-bottom:5px}.t004{padding-top:8px;padding-bottom:6px}.t004__text-column-count_2{column-count:2;column-gap:40px;-moz-column-count:2;-moz-column-gap:40px;-webkit-column-count:2;-webkit-column-gap:40px}.t004__text-column-count_3{column-count:3;column-gap:40px;-moz-column-count:3;-moz-column-gap:40px;-webkit-column-count:3;-webkit-column-gap:40px}.t004__text-column-count_4{column-count:4;column-gap:40px;-moz-column-count:4;-moz-column-gap:40px;-webkit-column-count:4;-webkit-column-gap:40px}.t004__initial-letter:first-child::first-letter{font-size:100px;float:left;margin:-30px 20px -30px 0}.t004 table{border-collapse:collapse;font-size:1em;width:100%}.t004 table td,.t004 table th{padding:5px;border:1px solid #ddd;vertical-align:top}.t004 table thead td,.t004 table th{font-weight:700;border-bottom-color:#888}@media screen and (max-width:1200px){.t004__text-column-count_2,.t004__text-column-count_3,.t004__text-column-count_4{column-gap:20px;-moz-column-gap:20px;-webkit-column-gap:20px}}@media screen and (max-width:960px){.t004__text-column-count_2,.t004__text-column-count_3,.t004__text-column-count_4{column-count:1;column-gap:0;-moz-column-count:1;-moz-column-gap:0;-webkit-column-count:1;-webkit-column-gap:0}}@media screen and (max-width:640px){.t004 h1{font-size:28px;line-height:35px}}.t120__title{padding-top:4px;padding-bottom:14px}.t120__descr{margin-top:-6px;padding-bottom:3px}.t214 .t-row{clear:both}.t214__blockimg{max-width:360px;height:360px;margin-bottom:20px}.t214__title{padding-bottom:14px}.t214__descr{font-size:14px;line-height:24px;padding-bottom:14px}.t214__textwrapper{margin-bottom:10px}@media screen and (max-width:1200px){.t214__blockimg{height:320px}}@media screen and (max-width:960px){.t214__blockimg{height:360px;margin-right:auto;margin-left:auto}.t214__textwrapper{max-width:360px;margin-right:auto;margin-left:auto}}@media screen and (max-width:320px){.t214__blockimg{height:320px}}.t148__title{color:#fff;padding-top:28px;padding-bottom:28px;max-width:480px;width:100%;margin-left:50px;text-align:left;margin-bottom:40px}@media screen and (max-width:640px){.t148__title{width:90%;margin-left:20px;margin-bottom:20px}}.t154{padding-bottom:80px}.t154__uptitle{color:#fff;padding-bottom:40px;padding-top:0;letter-spacing:2px}.t154__title{color:#fff;padding:20px 0 20px 0;letter-spacing:.3px}.t154__descr{color:#fff;padding:20px 0 0 0}.t154__descr_center{max-width:520px;margin:0 auto}@media screen and (max-width:640px){.t154__title{padding-left:10px;padding-right:10px}.t154__uptitle{font-size:12px;padding-left:10px;padding-right:10px}.t154__descr{padding-left:10px;padding-right:10px;font-size:14px;line-height:20px}}.t167{padding-top:8px;padding-bottom:6px}.t167 .t167__imgblock{float:right;margin:0;padding:6px 0 20px 30px}.t167__img{max-width:100%}.t167__imgdescr{font-family:Arial;font-size:13px;line-height:16px;filter:alpha(opacity=70);KHTMLOpacity:.7;MozOpacity:.7;opacity:.7;padding-top:10px}@media screen and (max-width:640px){.t167 .t-col_8{padding-left:0;padding-right:0}.t167__imgblock{float:right;margin:0;padding:6px 0 20px 0}}.t174__textwrapper{background-color:#fff;height:530px;display:table;padding:0 60px}.t174__trow{display:table-row}.t174__title{padding-top:20px;padding-bottom:20px;display:table-cell;vertical-align:middle;height:100%}.t174__uptitle{display:table-cell;padding-bottom:30px;padding-top:60px}.t174__descr{display:table-cell;padding:30px 0 55px 0}@media screen and (max-width:640px){.t174__textwrapper{margin:20px 10px;padding:0 20px}.t174__uptitle{padding-left:10px;padding-right:10px}.t174__title{padding-left:10px;padding-right:10px;font-size:34px}.t174__descr{padding-left:10px;padding-right:10px}}.t184__uptitle{position:absolute;top:0;left:0;letter-spacing:2px;color:#fff;font-size:18px;line-height:1.54;font-weight:300;padding-top:90px;width:100%}.t184__title{color:#fff;padding:24px 0 40px 0;letter-spacing:2px}.t184__descr{position:absolute;bottom:0;left:0;line-height:35px;font-size:24px;color:#fff;padding:0 0 90px 0;font-weight:300;margin:0 auto;letter-spacing:1px;width:100%}@media screen and (max-width:640px){.t184__title{font-size:30px;line-height:30px;padding-left:10px;padding-right:10px;box-sizing:border-box}.t184__uptitle{font-size:12px;padding-left:10px;padding-right:10px;box-sizing:border-box}.t184__descr{padding-left:10px;padding-right:10px;font-size:14px;line-height:20px;box-sizing:border-box}}.t005__text{padding-top:8px;padding-bottom:5px}@media screen and (max-width:640px){.t005__text{margin-bottom:20px}}.t194__text{padding-bottom:6px}.t194 .t-align_left .t194__img{padding-bottom:10px;padding-top:4px;width:100%}.t194__sectitle{font-size:15px;line-height:20px;padding-bottom:5px;padding-top:5px}.t194__secdescr{font-size:11px;line-height:16px;padding-top:0;padding-bottom:7px}@media screen and (max-width:960px){.t194 .t-align_left{margin-top:20px;margin-bottom:20px}}@media screen and (max-width:640px){.t194 .t-align_left{width:100%!important}}.t195__text{padding-bottom:6px}.t195__imgsection{text-align:center}.t195__img{padding-bottom:10px;padding-top:4px;max-width:100%}.t195__sectitle{font-size:15px;line-height:20px;padding-bottom:5px;padding-top:5px;text-align:left}.t195__secdescr{font-size:11px;line-height:16px;padding-top:0;padding-bottom:7px;text-align:left}@media screen and (max-width:960px){.t195__imgsection{margin-top:20px;margin-bottom:20px}}@media screen and (max-width:640px){.t195__imgsection{width:100%!important}}.t209__wrapper{display:table;padding-top:120px;padding-bottom:120px}.t209__line{width:140px;height:1px;background-color:#fff;margin-bottom:7px}.t209__textwrapper{display:block;text-align:left;padding-left:20px;padding-right:20px;padding-top:0;padding-bottom:0}.t209__text{padding-bottom:20px;padding-top:20px;color:#fff}@media screen and (max-width:720px){.t209__textwrapper{margin:20px 0;padding:20px}}.t270__error-msg{text-align:center;display:none}.t270__error-msg-text{display:inline-block;margin:0 20px 35px 20px;padding:15px;color:red;border:1px solid red;font-size:14px;font-family:tfutura,Arial}.t255__mainblock{margin:0 auto}.t255 .t-cover__wrapper span.space{height:60px}.t255__uptitle{color:#fff;text-transform:uppercase;margin-bottom:26px}.t255__title{letter-spacing:2px;color:#fff;margin:0 auto}.t255__userblock{position:absolute;bottom:70px;right:0;left:0}.t255__userblock-img{width:50px;height:50px;border-radius:100px;display:block;margin:0 auto 12px;background-size:cover;background-position:center;background-repeat:no-repeat}.t255__userblock-descr,.t255__userblock-date{color:#fff}@media screen and (max-width:660px){.t255__uptitle,.t255__title{padding-left:20px;padding-right:20px}.t255__title{padding-bottom:46px}.t255__userblock{bottom:20px;left:20px;right:20px}.t255__userblock-img{width:40px;height:40px}.t255__uptitle{margin-bottom:16px}}@media screen and (max-width:480px){.t255 .t-cover__wrapper span.space{height:0}}.t258__wrapper{max-width:480px;position:absolute;padding:50px 54px 60px;bottom:0;right:0}.t258__wrapper.t258__wrapper_flipped{left:0;right:auto}.t258__content{position:relative;z-index:1;text-align:left}.t258__uptitle{margin-bottom:20px;color:#fff}.t258__title{font-size:30px;line-height:1.2;margin-bottom:22px;color:#fff}.t258__descr{color:#fff}.t258__bg{position:absolute;top:0;right:0;bottom:0;left:0;background:#033C64;opacity:.9}@media screen and (max-width:640px){.t258__wrapper{padding:26px 20px 30px}.t258__uptitle{margin-bottom:15px}.t258__title{font-size:24px;margin-bottom:17px}}.t029__container{text-align:center;padding-bottom:8px}.t029__col{float:none;display:inline-block}.t029__linewrapper{position:relative}.t029__line{width:100%;height:1px;display:table-cell}.t029__opacity{display:table-cell;min-width:200px;height:1px}@media screen and (max-width:600px){.t029__opacity{min-width:120px}}.t396__iframe{z-index:10000;background-color:#fff;width:100vw;height:100vh;position:fixed;top:0;left:0;border:0}.t396__body_overflow_hidden{overflow:hidden}.t396__display_none{display:none}.t396__artboard{position:relative;width:100%;height:100vh;overflow:hidden}.t396__artboard.rendering .tn-elem{visibility:hidden}.t396__artboard.rendered .tn-elem{visibility:visible}.t396__carrier{position:absolute;left:0;top:0;z-index:0;width:100%;height:100vh}.t396__filter{position:absolute;left:0;top:0;z-index:0;width:100%;height:100vh}.t396__elem{position:absolute;box-sizing:border-box;display:table}.t396 .tn-atom{display:table-cell;vertical-align:middle;width:100%;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%}.t396 a.tn-atom{text-decoration:none}.t396 .tn-atom__img{width:100%;display:block}.t396__ui{position:absolute;top:16px;left:196px;background-color:#fa876b;color:#000!important;height:30px;line-height:30px;width:100px;z-index:1000;text-align:center;border-radius:3px;display:none;font-size:14px}.t512 .t-section__topwrapper{margin-bottom:90px}.t512 .t-section__title{margin-bottom:40px}.t512 .t-section__descr{max-width:560px}.t512 .t-section__bottomwrapper{margin-top:105px}.t512__separator{margin-bottom:65px}.t512__textwr_leftpadding{padding-left:30px}.t512__bottommargin{margin-bottom:14px}.t512__imgwrapper{width:65px}.t512__bgimg{width:65px;height:65px;max-width:100%;background-size:cover;background-repeat:no-repeat;background-position:center}.t512__img{width:100%;max-width:100%;height:auto}.t512__img_circle{border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%}@media screen and (max-width:960px){.t512 .t-section__bottomwrapper{margin-top:45px}.t512 .t-section__topwrapper{margin-bottom:45px}.t512 .t-section__title{margin-bottom:20px}.t512__separator{margin-bottom:40px!important}.t512__imgwrapper{max-width:60px}.t512__bgimg{max-width:60px;max-height:60px}.t512__textwrapper{padding-left:20px!important}}@media screen and (max-width:640px){.t512__imgwrapper{max-width:50px}.t512__bgimg{max-width:50px;max-height:50px}}.t585__header{position:relative;cursor:pointer;padding:27px 50px 27px 0;border-top:1px solid #eee}.t585__icon{position:absolute;right:0;top:50%;-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);width:24px;height:24px;padding:8px;-webkit-transition:opacity ease-in-out .2s;-moz-transition:opacity ease-in-out .2s;-o-transition:opacity ease-in-out .2s;transition:opacity ease-in-out .2s}.t585__icon-hover{opacity:0}.t585__header:hover .t585__icon{opacity:0}.t585__header:hover .t585__icon-hover{opacity:1}.t585__circle{position:absolute;width:40px;height:40px;top:0;left:0;border-radius:100px}.t585__lines{position:relative;display:block;width:100%;height:100%;-webkit-transition:all ease-in-out .3s;-moz-transition:all ease-in-out .3s;-o-transition:all ease-in-out .3s;transition:all ease-in-out .3s;-moz-transform:rotate(0);-ms-transform:rotate(0);-webkit-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);z-index:1}.t585__opened .t585__lines{-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);z-index:1;-webkit-transition:all ease-in-out .3s;-moz-transition:all ease-in-out .3s;-o-transition:all ease-in-out .3s;transition:all ease-in-out .3s}.t585__content{display:none;-webkit-transition:max-height ease-in-out .3s,opacity ease-in-out .3s;-moz-transition:max-height ease-in-out .3s,opacity ease-in-out .3s;-o-transition:max-height ease-in-out .3s,opacity ease-in-out .3s;transition:max-height ease-in-out .3s,opacity ease-in-out .3s}.t585__textwrapper{padding:0 0 20px}.t585__text{margin-bottom:20px}.t585__img{display:block;width:100%;margin-bottom:14px}.t585__border{width:100%;height:1px;background-color:#eee}@media screen and (max-width:650px){.t585__header{padding-top:15px;padding-bottom:14px}.t585__text{margin-bottom:15px}.t585__textwrapper{padding:0 0 10px}}.t670__imgwrapper{position:relative}.t670__imgwrapper .t-slds__bgimg{position:absolute;top:0;right:0;bottom:0;left:0}.t670__play{position:absolute;top:0;right:0;bottom:0;left:0;cursor:pointer;z-index:2}.t670__play_icon{position:absolute;left:0;right:0;top:50%;-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);width:80px;height:80px;margin:0 auto;-webkit-transition:all ease-in-out .2s;-moz-transition:all ease-in-out .2s;-o-transition:all ease-in-out .2s;transition:all ease-in-out .2s}.t670__play:hover .t670__play_icon{-moz-transform:translateY(-50%) scale(1.15);-ms-transform:translateY(-50%) scale(1.15);-webkit-transform:translateY(-50%) scale(1.15);-o-transform:translateY(-50%) scale(1.15);transform:translateY(-50%) scale(1.15)}.t670__frame{z-index:1;position:absolute;top:0;right:0;bottom:0;left:0}@media screen and (max-width:640px){.t670 .t-slds__wrapper{padding:0!important}}.t754__separator{margin-bottom:90px}.t754__imgwrapper{position:relative;width:100%;margin-bottom:20px;padding-bottom:110%}.t754__bgimg{background-position:center;background-repeat:no-repeat;background-size:cover;position:absolute;top:0;right:0;bottom:0;left:0;z-index:2;-webkit-transition:opacity 0.1s linear;transition:opacity 0.1s linear}.t754__img{max-width:100%;max-height:100%;position:absolute;margin:auto;top:0;bottom:0;right:0;left:0;z-index:2;-webkit-transition:opacity 0.1s linear;transition:opacity 0.1s linear}.t754__bgimg_second,.t754__img_second{z-index:1;opacity:0}.t754__markwrapper{position:absolute;right:10px;top:10px;z-index:5;display:table}.t754__mark{font-weight:400;font-size:12px;font-family:'Open Sans',sans-serif;display:table-cell;width:50px;height:50px;text-align:center;vertical-align:middle;border-radius:50px;background-color:#111;color:#fff;box-sizing:border-box;padding:0 10px}.t754__uptitle{margin-bottom:8px;color:#ff8562}.t754__descr{margin-top:8px}.t754__price-wrapper{margin-top:12px}.t754__price-item{display:inline-block;vertical-align:middle}.t754__price-value,.t754__price-currency{display:inline-block;vertical-align:middle;float:left}.t754__price-value+.t754__price-currency:before{content:'\a0'}.t754__price_old{position:relative;color:#bdbdbd}.t754__price_old:after{content:'';position:absolute;top:50%;right:-1px;left:-1px;border-top:1px solid;width:100%}.t754__buttons{margin-top:19px}.t754__scroll-icon-wrapper{display:none}@media screen and (max-width:1200px) and (min-width:980px){.t754 .t-col_4 .t-slds__thumbsbullet.t-slds__bullet{width:56px}.t754 .t-col_4 .t-slds__thumbsbullet.t-slds__bullet:nth-child(5n){margin-right:0}}@media screen and (min-width:1200px){.t754 .t-col_4 .t-slds__thumbsbullet.t-slds__bullet{width:55.8px}.t754 .t-col_4 .t-slds__thumbsbullet.t-slds__bullet:nth-child(6n){margin-right:0}}@media screen and (max-width:980px) and (min-width:640px){.t754 .t-col_4 .t-slds__thumbsbullet.t-slds__bullet{width:10.2%;margin-right:1%}.t754 .t-col_4 .t-slds__thumbsbullet.t-slds__bullet:nth-child(9n){margin-right:0}}@media screen and (max-width:640px){.t754 .t-col_4 .t-slds__thumbsbullet.t-slds__bullet{width:11.6%;margin-right:1%}.t754 .t-col_4 .t-slds__thumbsbullet.t-slds__bullet:nth-child(8n){margin-right:0}}.t754 .t-popup{padding:0}.t754 .t-popup__container{max-width:1240px;right:0;left:0}.t754__container{padding:40px 20px}.t754__container:after{content:'';display:block;height:0;clear:both}.t754 .t-popup__close{z-index:999}.t754__close-text-wrapper{z-index:999;position:fixed;left:20px;top:20px}.t754__close-text{margin-bottom:20px;cursor:pointer;display:inline-block;opacity:.8;font-weight:400}.t754__close-text:before{content:"←\a0";font-family:Arial,Helvetica,sans-serif}@media screen and (max-width:1240px){.t754 .t-popup__container{max-width:1200px}.t754__container{padding:30px 10px}.t754__col_left{margin-right:10px}.t754__col_right{margin-left:10px}}@media screen and (max-width:1200px){.t754 .t-popup__container{max-width:1000px}.t754__container{padding:30px 20px}}@media screen and (max-width:1000px){.t754 .t-popup__container{max-width:980px}.t754__container{padding:20px 10px}}@media screen and (max-width:980px){.t754 .t-popup{padding:0 20px}.t754 .t-popup__container{max-width:640px}.t754__container{padding:30px}.t754__col_left,.t754__col_right{margin:0;display:block;max-width:100%}.t754__col_left{padding:0}.t754__col_right{padding:25px 0 0 0}}@media screen and (max-width:670px){.t754__btn{display:block;width:100%}.t754__btn:last-child{margin-top:10px}.t754 .t-popup__container{right:20px;left:20px}}@media screen and (max-width:560px){.t754 .t-popup_show .t-popup__container{max-width:100%;right:0;left:0;top:50px;bottom:0;-webkit-transform:translateY(0);transform:translateY(0)}.t754 .t-popup_show .t-popup__container.t-popup__container-static{max-width:100%;min-height:100vh;top:0;margin:50px 0 0}.t754 .t-popup{padding:0}.t754 .t-popup__close{width:100%;height:50px;background:#000;position:fixed;display:table;z-index:2;left:0;right:0;top:0}.t754 .t-popup__close-wrapper{display:table-cell;vertical-align:middle;text-align:right;width:100%;padding-right:20px;font-size:0}.t754 .t-popup__close-icon{width:16px}.t754 .t-popup__close-icon g{fill:#fff}.t754__close-text-wrapper{display:none}.t754__container{padding:20px}.t754__col_right{padding-top:30px}}.t-popup .t754__title-wrapper{margin-bottom:18px}.t-popup .t754__title_small{margin-top:4px;color:#777}.t-popup .t754__descr{margin-top:20px}.t-popup .t754__price-wrapper{margin-top:0}.t-popup .t754__btn-wrapper{margin-top:20px;margin-bottom:30px}.t754 .t-product__option{margin-top:10px;margin-bottom:10px}.t754 .t-product__option-title{padding-bottom:3px}.t754 .t-product__option-variants{position:relative;display:table;min-width:150px}.t754 .t-product__option-variants:after{content:' ';width:0;height:0;border-style:solid;border-width:6px 5px 0 5px;border-color:#000 transparent transparent transparent;position:absolute;right:10px;top:0;bottom:0;margin:auto;pointer-events:none}.t754 .t-product__option-select{width:100%;border:1px #ddd solid;background:#f8f8f8;color:#000;box-sizing:border-box;cursor:pointer;padding:2px 30px 2px 10px;border-radius:5px;-webkit-appearance:none;appearance:none;-moz-appearance:none}.t754 .t-product__option-select::-ms-expand{width:0;height:0;opacity:0}@media screen and (max-width:640px){.t754 .t-product__option-select{font-size:16px}}.t754 .t-slds__wrapper{padding:0!important}.t754 .t-slds__arrow_wrapper{height:auto!important}@media screen and (min-width:960px){.t754__imgwrapper:hover .t754__bgimg_first_hover,.t754__imgwrapper:hover .t754__img_first_hover{opacity:0}.t754__imgwrapper:hover .t754__bgimg_second,.t754__imgwrapper:hover .t754__img_second{z-index:3;opacity:1}}@media screen and (max-width:960px){.t754__separator{display:none}.t754__container_mobile-grid{font-size:0}.t754__col_mobile-grid{width:50%;display:inline-block;vertical-align:top}.t754__col{margin-bottom:60px}.t-col_8 .t754__imgwrapper_mobile-nopadding{padding-bottom:0px!important;font-size:0}.t-col_8 .t754__imgwrapper_mobile-nopadding .t754__img{position:initial}.t754__img_second{display:none}.t754__container_mobile-flex{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;overflow-x:scroll;-webkit-overflow-scrolling:touch;max-width:100%;box-sizing:border-box}.t754__container_mobile-flex .t754__col{min-width:38%;max-width:38%;margin-bottom:0px!important}.t754__container_mobile-flex .t754__col:first-child{margin-left:20px}.t754__scroll-icon-wrapper{display:block;padding:0 40px 20px 0;color:#a1a1a1;text-align:right;font-size:0}@-webkit-keyframes t754__icon-anim{0%{-webkit-transform:translate3d(-20px,0,0);opacity:0}10%{-webkit-transform:translate3d(-20px,0,0);opacity:0}20%{-webkit-transform:translate3d(-20px,0,0);opacity:1}70%{-webkit-transform:translate3d(0,0,0);opacity:1}80%{-webkit-transform:translate3d(0,0,0);opacity:1}81%{-webkit-transform:translate3d(0,0,0);opacity:0}100%{-webkit-transform:translate3d(0,0,0);opacity:0}}@keyframes t754__icon-anim{0%{transform:translate3d(-20px,0,0);opacity:0}10%{transform:translate3d(-20px,0,0);opacity:0}20%{transform:translate3d(-20px,0,0);opacity:1}70%{transform:translate3d(0,0,0);opacity:1}80%{transform:translate3d(0,0,0);opacity:1}81%{transform:translate3d(0,0,0);opacity:0}100%{transform:translate3d(0,0,0);opacity:0}}.t754__scroll-icon{-webkit-animation:t754__icon-anim 1.5s infinite;animation:t754__icon-anim 1.5s infinite}}@media screen and (max-width:640px){.t754__container_mobile-grid{padding:0 10px;box-sizing:border-box}.t754__col_mobile-grid{padding-left:10px;padding-right:10px}.t754__container_mobile-flex .t754__col:first-child{margin-left:0}.t754__container_mobile-flex .t754__col{min-width:70%;max-width:70%}.t754__scroll-icon-wrapper{padding:0 20px 10px 0}}@media screen and (max-width:480px){.t754__imgwrapper_mobile-nopadding{padding-bottom:0px!important;font-size:0}.t754__imgwrapper_mobile-nopadding .t754__img{position:initial}.t754__col_mobile-grid{width:100%;display:block}.t754__container_mobile-flex .t754__col{min-width:80%;max-width:80%}}

.t594 .t-section__topwrapper {
    margin-bottom: 105px
}

.t594 .t-section__title {
    margin-bottom: 40px
}

.t594 .t-section__descr {
    max-width: 560px
}

.t594 .t-section__bottomwrapper {
    margin-top: 105px
}

.t594__container:before {
    display: none
}

.t594__container {
    text-align: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center
}

.t594__item {
    padding: 20px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    margin: 0
}

.t594__item_3-in-row {
    width: 33.333%
}

.t594__item_4-in-row {
    width: 25%
}

.t594__item_5-in-row {
    width: 20%
}

.t594__item_6-in-row {
    width: 16.666%
}

.t594__linkwrapper {
    max-width: 100%;
    width: 100%;
    margin: 0 auto
}

.t594__img {
    max-width: 100%;
    width: 100%;
    margin: 0 auto
}

.t594__greyonhovercolor {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray
}

.t594__greyonhovercolor:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none
}

.t594__alphaonhover {
    opacity: .5
}

.t594__alphaonhover:hover {
    opacity: 1
}

@media screen and (max-width:1200px) {
    .t594__item {
        padding: 10px
    }
}

@media screen and (max-width:960px) {
    .t594 .t-section__bottomwrapper {
        margin-top: 45px
    }
    .t594 .t-section__topwrapper {
        margin-bottom: 45px
    }
    .t594 .t-section__title {
        margin-bottom: 20px
    }
    .t594__item_4-in-row, .t594__item_5-in-row, .t594__item_6-in-row {
        width: 33.333%
    }
}

@media screen and (max-width:640px) {
    .t594__container {
        padding: 0 20px;
        box-sizing: border-box
    }
}

@media screen and (max-width:440px) {
    .t594__item_3-in-row, .t594__item_4-in-row, .t594__item_5-in-row, .t594__item_6-in-row {
        width: 50%
    }
}

.t604__imgwrapper {
    position: relative
}

.t604__imgwrapper .t-slds__bgimg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.t604 .t-slds__items-wrapper, .t604 .t-slds__container {
    overflow: visible
}

.t604 .t-slds__wrapper {
    -webkit-transition: opacity ease-in-out .3s;
    -moz-transition: opacity ease-in-out .3s;
    -o-transition: opacity ease-in-out .3s;
    transition: opacity ease-in-out .3s
}

.t604 .t-slds__item .t-slds__wrapper {
    opacity: .3
}

.t604 .t-slds__item_active .t-slds__wrapper {
    opacity: 1!important
}

.t604 .t-slds__item:first-child, .t604 .t-slds__item:last-child {
    pointer-events: none
}

.t604__hidearrows .t-slds__arrow {
    opacity: 0!important
}

.t604__play {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    z-index: 2
}

.t604__play_icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    margin: 0 auto;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s
}

.t604__play:hover .t604__play_icon {
    -moz-transform: translateY(-50%) scale(1.15);
    -ms-transform: translateY(-50%) scale(1.15);
    -webkit-transform: translateY(-50%) scale(1.15);
    -o-transform: translateY(-50%) scale(1.15);
    transform: translateY(-50%) scale(1.15)
}

.t604__frame {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

@media screen and (max-width:640px) {
    .t604 .t-slds__wrapper {
        padding: 0!important
    }
}

.t776__separator {
  margin-bottom: 90px
}

.t776__imgwrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 110%
}

.t776__bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear
}

.t776__img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear
}

.t776__bgimg_second, .t776__img_second {
  z-index: 1;
  opacity: 0
}

.t776__markwrapper {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
  display: table
}

.t776__mark {
  font-weight: 400;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  display: table-cell;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  background-color: #111;
  color: #fff;
  box-sizing: border-box;
  padding: 0 10px
}

.t776__uptitle {
  margin-bottom: 8px;
  color: #ff8562
}

.t776__descr {
  margin-top: 8px
}

.t776__price-wrapper {
  margin-top: 12px
}

.t776__price-item {
  display: inline-block;
  vertical-align: middle
}

.t776__price-value, .t776__price-currency {
  display: inline-block;
  vertical-align: middle;
  float: left
}

.t776__price-value+.t776__price-currency:before {
  content: '\a0'
}

.t776__price_old {
  position: relative;
  color: #bdbdbd
}

.t776__price_old:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -1px;
  left: -1px;
  border-top: 1px solid;
  width: 100%
}

.t776__btn-wrapper {
  margin-top: 19px
}

.t776__btn {
  display: inline-block
}

.t-align_center .t776__btn {
  margin: 0 2px 8px
}

.t-align_left .t776__btn {
  margin: 0 4px 8px 0
}

.t776__scroll-icon-wrapper {
  display: none
}

.t776 .t-popup {
  padding: 0
}

.t776 .t-popup__container {
  max-width: 1240px;
  right: 0;
  left: 0
}

.t776__container {
  padding: 40px 20px
}

.t776__container:after {
  content: '';
  display: block;
  height: 0;
  clear: both
}

.t776 .t-popup__close {
  z-index: 999
}

.t776__close-text-wrapper {
  z-index: 999;
  position: fixed;
  left: 20px;
  top: 20px
}

.t776__close-text {
  margin-bottom: 20px;
  cursor: pointer;
  display: inline-block;
  opacity: .8;
  font-weight: 400
}

.t776__close-text:before {
  content: "←\a0";
  font-family: Arial, Helvetica, sans-serif
}

@media screen and (max-width:1240px) {
  .t776 .t-popup__container {
    max-width: 1200px
  }
  .t776__container {
    padding: 30px 10px
  }
  .t776__col_left {
    margin-right: 10px
  }
  .t776__col_right {
    margin-left: 10px
  }
}

@media screen and (max-width:1200px) {
  .t776 .t-popup__container {
    max-width: 1000px
  }
  .t776__container {
    padding: 30px 20px
  }
}

@media screen and (max-width:1000px) {
  .t776 .t-popup__container {
    max-width: 980px
  }
  .t776__container {
    padding: 20px 10px
  }
}

@media screen and (max-width:980px) {
  .t776 .t-popup {
    padding: 0 20px
  }
  .t776 .t-popup__container {
    max-width: 640px
  }
  .t776__container {
    padding: 30px
  }
  .t776__col_left, .t776__col_right {
    margin: 0;
    display: block;
    max-width: 100%
  }
  .t776__col_left {
    padding: 0
  }
  .t776__col_right {
    padding: 25px 0 0 0
  }
}

@media screen and (max-width:670px) {
  .t776__btn {
    display: block;
    width: 100%
  }
  .t776__btn:last-child {
    margin-top: 10px
  }
  .t776 .t-popup__container {
    right: 20px;
    left: 20px
  }
}

@media screen and (max-width:560px) {
  .t776 .t-popup_show .t-popup__container {
    max-width: 100%;
    right: 0;
    left: 0;
    top: 50px;
    bottom: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .t776 .t-popup_show .t-popup__container.t-popup__container-static {
    max-width: 100%;
    min-height: 100vh;
    top: 0;
    margin: 50px 0 0
  }
  .t776 .t-popup {
    padding: 0
  }
  .t776 .t-popup__close {
    width: 100%;
    height: 50px;
    background: #000;
    position: fixed;
    display: table;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0
  }
  .t776 .t-popup__close-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 100%;
    padding-right: 20px;
    font-size: 0
  }
  .t776 .t-popup__close-icon {
    width: 16px
  }
  .t776 .t-popup__close-icon g {
    fill: #fff
  }
  .t776__close-text-wrapper {
    display: none
  }
  .t776__container {
    padding: 20px
  }
  .t776__col_right {
    padding-top: 30px
  }
}

.t-popup .t776__title-wrapper {
  margin-bottom: 18px
}

.t-popup .t776__title_small {
  margin-top: 4px;
  color: #777
}

.t-popup .t776__descr {
  margin-top: 20px
}

.t-popup .t776__price-wrapper {
  margin-top: 0
}

.t-popup .t776__btn-wrapper {
  margin-top: 20px;
  margin-bottom: 30px
}

.t-popup .t776__btn {
  margin-bottom: 0
}

.t776 .t-product__option {
  margin-top: 10px;
  margin-bottom: 10px
}

.t776 .t-product__option-title {
  padding-bottom: 3px
}

.t776 .t-product__option-variants {
  position: relative;
  display: table;
  min-width: 150px
}

.t776 .t-product__option-variants:after {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none
}

.t776 .t-product__option-select {
  width: 100%;
  border: 1px #ddd solid;
  background: #f8f8f8;
  color: #000;
  box-sizing: border-box;
  cursor: pointer;
  padding: 2px 30px 2px 10px;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none
}

.t776 .t-product__option-select::-ms-expand {
  width: 0;
  height: 0;
  opacity: 0
}

@media screen and (max-width:640px) {
  .t776 .t-product__option-select {
    font-size: 16px
  }
}

.t776 .t-slds__wrapper {
  padding: 0 !important
}

.t776 .t-slds__arrow_wrapper {
  height: auto !important
}

@media screen and (min-width:960px) {
  .t776__imgwrapper:hover .t776__bgimg_first_hover, .t776__imgwrapper:hover .t776__img_first_hover {
    opacity: 0
  }
  .t776__imgwrapper:hover .t776__bgimg_second, .t776__imgwrapper:hover .t776__img_second {
    z-index: 3;
    opacity: 1
  }
}

@media screen and (max-width:960px) {
  .t776__separator {
    display: none
  }
  .t776__container_mobile-grid {
    font-size: 0
  }
  .t776__col_mobile-grid {
    width: 50%;
    display: inline-block;
    vertical-align: top
  }
  .t776__col {
    margin-bottom: 60px
  }
  .t-col_8 .t776__imgwrapper_mobile-nopadding {
    padding-bottom: 0px !important;
    font-size: 0
  }
  .t-col_8 .t776__imgwrapper_mobile-nopadding .t776__img {
    position: initial
  }
  .t776__img_second {
    display: none
  }
  .t776__container_mobile-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    box-sizing: border-box
  }
  .t776__container_mobile-flex .t776__col {
    min-width: 38%;
    max-width: 38%;
    margin-bottom: 0px !important
  }
  .t776__container_mobile-flex .t776__col:first-child {
    margin-left: 20px
  }
  .t776__scroll-icon-wrapper {
    display: block;
    padding: 0 40px 20px 0;
    color: #a1a1a1;
    text-align: right;
    font-size: 0
  }
  @-webkit-keyframes t776__icon-anim {
    0% {
      -webkit-transform: translate3d(-20px, 0, 0);
      opacity: 0
    }
    10% {
      -webkit-transform: translate3d(-20px, 0, 0);
      opacity: 0
    }
    20% {
      -webkit-transform: translate3d(-20px, 0, 0);
      opacity: 1
    }
    70% {
      -webkit-transform: translate3d(0, 0, 0);
      opacity: 1
    }
    80% {
      -webkit-transform: translate3d(0, 0, 0);
      opacity: 1
    }
    81% {
      -webkit-transform: translate3d(0, 0, 0);
      opacity: 0
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      opacity: 0
    }
  }
  @keyframes t776__icon-anim {
    0% {
      transform: translate3d(-20px, 0, 0);
      opacity: 0
    }
    10% {
      transform: translate3d(-20px, 0, 0);
      opacity: 0
    }
    20% {
      transform: translate3d(-20px, 0, 0);
      opacity: 1
    }
    70% {
      transform: translate3d(0, 0, 0);
      opacity: 1
    }
    80% {
      transform: translate3d(0, 0, 0);
      opacity: 1
    }
    81% {
      transform: translate3d(0, 0, 0);
      opacity: 0
    }
    100% {
      transform: translate3d(0, 0, 0);
      opacity: 0
    }
  }
  .t776__scroll-icon {
    -webkit-animation: t776__icon-anim 1.5s infinite;
    animation: t776__icon-anim 1.5s infinite
  }
}

@media screen and (max-width:640px) {
  .t776__container_mobile-grid {
    padding: 0 10px;
    box-sizing: border-box
  }
  .t776__col_mobile-grid {
    padding-left: 10px;
    padding-right: 10px
  }
  .t776__container_mobile-flex .t776__col:first-child {
    margin-left: 0
  }
  .t776__container_mobile-flex .t776__col {
    min-width: 70%;
    max-width: 70%
  }
  .t776__scroll-icon-wrapper {
    padding: 0 20px 10px 0
  }
}

@media screen and (max-width:480px) {
  .t776__imgwrapper_mobile-nopadding {
    padding-bottom: 0px !important;
    font-size: 0
  }
  .t776__imgwrapper_mobile-nopadding .t776__img {
    position: initial
  }
  .t776__col_mobile-grid {
    width: 100%;
    display: block
  }
  .t776__container_mobile-flex .t776__col {
    min-width: 80%;
    max-width: 80%
  }
}


.t404 .t-col_4 {
    margin-bottom: 40px
}

.t404 a {
    text-decoration: none;
    color: #000
}

.t404__textwrapper {
    margin-bottom: 28px;
    margin-top: 16px
}

.t404__paddingsmall {
    padding: 20px 30px 25px;
    background: #fff;
    margin-top: 0;
    margin-bottom: 0
}

.t404__paddingbig {
    padding: 30px 40px 35px;
    background: #fff;
    margin-top: 0;
    margin-bottom: 0
}

.t404__paddingsmall .t404__uptitle {
    margin-top: 0
}

.t404__uptitle {
    margin-top: 12px;
    margin-bottom: 10px
}

.t404__tag {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    color: #777
}

.t404__date {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    color: #777
}

.t404__title {
    margin-bottom: 12px
}

.t404__descr {
    color: #777
}

.t404__imgbox {
    position: relative
}

.t404__img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
.t404__separator {
    padding-top: 65%
}

.t404__buttonwrapper {
    padding: 0 20px;
    text-align: center
}

.t404__col {
    margin-bottom: 40px
}

@media screen and (max-width:1200px) {
    .t404__col {
        margin-bottom: 20px
    }
}

@media screen and (max-width:960px) {
    .t404__imgbox {
        width: 50%;
        display: inline;
        float: left;
        margin-right: 20px
    }
    .t404__withbg .t404__imgbox {
        display: table-cell;
        float: none;
        vertical-align: top;
        margin-right: 0
    }
    .t404 .t-col_3, .t404 .t-col_4, .t404 .t-col_6 {
        max-width: 100%;
        margin-bottom: 50px
    }
    .t404__link:before, .t404__link:after {
        content: "";
        display: table;
        clear: both
    }
    .t404__textwrapper {
        display: table;
        margin-top: 0
    }
    .t404__withbg .t404__textwrapper {
        display: table-cell;
        float: none;
        vertical-align: top;
        margin-right: 0
    }
    .t404 .t404__withbg {
        margin-bottom: 30px
    }
    .t404__uptitle {
        margin-top: 0
    }
    .t404__link {
        display: table;
        width: 100%
    }
}

@media screen and (max-width:640px) {
    .t404__imgbox, .t404__withbg .t404__imgbox, .t404__withbg .t404__textwrapper {
        width: 100%;
        display: block;
        float: none
    }
    .t404__textwrapper {
        margin-top: 16px;
        width: 100%
    }
    .t404__withbg .t404__textwrapper {
        margin-top: 0;
        box-sizing: border-box
    }
}

.t021__line {
    width: 100%;
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: #000
}

.t021__text-impact {
    text-align: center;
    margin-top: 44px;
    margin-bottom: 54px
}
/*tilda-blocks-2.12*/

/*tilda-animation-1.0*/
@media screen and (min-width:980px){.t-animate[data-animate-style=fadein],.t-animate[data-animate-style=fadeinup],.t-animate[data-animate-style=fadeindown],.t-animate[data-animate-style=fadeinleft],.t-animate[data-animate-style=fadeinright],.t-animate[data-animate-style=zoomin]{opacity:0;-webkit-transition-duration:1s;transition-duration:1s;-webkit-transition-timing-function:cubic-bezier(.19,1,.22,1);transition-timing-function:cubic-bezier(.19,1,.22,1);-webkit-backface-visibility:hidden}.t-title.t-animate{-webkit-transition-duration:1.2s;transition-duration:1.2s}.t-descr.t-animate,.t-subtitle.t-animate,.t-text.t-animate,.t-uptitle.t-animate{-webkit-transition-duration:.7s;transition-duration:.7s}.t-item.t-animate{-webkit-transition-duration:.5s;transition-duration:.5s}.t-animate_started[data-animate-style=fadein]{opacity:1}.t-animate[data-animate-style=fadeinup]{-webkit-transform:translate(0,100px);transform:translate(0,100px)}.t-animate_started[data-animate-style=fadeinup]{opacity:1;-webkit-transform:none;transform:none}.t-animate[data-animate-style=fadeindown]{-webkit-transform:translate(0,-100px);transform:translate(0,-100px)}.t-animate_started[data-animate-style=fadeindown]{opacity:1;-webkit-transform:none;transform:none}.t-animate[data-animate-style=fadeinleft]{-webkit-transform:translate(100px,0);transform:translate(100px,0)}.t-animate_started[data-animate-style=fadeinleft]{opacity:1;-webkit-transform:none;transform:none}.t-animate[data-animate-style=fadeinright]{-webkit-transform:translate(-100px,0);transform:translate(-100px,0)}.t-animate_started[data-animate-style=fadeinright]{opacity:1;-webkit-transform:none;transform:none}.t-animate[data-animate-style=zoomin]{-webkit-transform:scale(.9);transform:scale(.9)}.t-animate_started[data-animate-style=zoomin]{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}
/*tilda-animation-1.0*/

/*tilda-slds-1.4*/
.t-slds{position:relative;overflow:hidden}.t-slds__bgimg{background-size:cover;background-repeat:no-repeat;background-position:center}.t-slds__bgimg-contain{background-size:contain}.t-slds__iframe{position:relative}.t-slds__iframe__body{position:absolute;top:0;right:0;bottom:0;left:0}.t-slds__img{display:block;width:100%}.t-slds__container{overflow:hidden;position:relative}.t-slds__items-wrapper{position:relative;overflow:hidden;-webkit-transition:height ease-in-out .3s;-moz-transition:height ease-in-out .3s;-o-transition:height ease-in-out .3s;transition:height ease-in-out .3s}.t-slds__nocycle .t-slds__item:first-child,.t-slds__nocycle .t-slds__item:last-child{opacity:0!important}.t-slds__nocycle .t-slds__arrow_wrapper-left{display:none}.t-slds__items-wrapper:before,.t-slds__items-wrapper:after{content:'';display:table;clear:both}.t-slds_animated-none{-webkit-transform:none!important;-moz-transform:none!important;-o-transform:none!important;transform:none!important}.t-slds_animated.t-slds_animated-none{-webkit-transition:height ease-in-out .3s;-moz-transition:height ease-in-out .3s;-o-transition:height ease-in-out .3s;transition:height ease-in-out .3s}.t-slds_animated.t-slds_animated-none .t-slds__item{-webkit-transition:opacity ease-in-out .3s;-moz-transition:opacity ease-in-out .3s;-o-transition:opacity ease-in-out .3s;transition:opacity ease-in-out .3s}.t-slds_animated.t-slds_animated-fast{-webkit-transition:height ease-in-out .3s,transform ease-in-out .3s;-moz-transition:height ease-in-out .3s,transform ease-in-out .3s;-o-transition:height ease-in-out .3s,transform ease-in-out .3s;transition:height ease-in-out .3s,transform ease-in-out .3s}.t-slds_animated.t-slds_animated-slow{-webkit-transition:height ease-in-out .5s,transform ease-in-out .5s;-moz-transition:height ease-in-out .5s,transform ease-in-out .5s;-o-transition:height ease-in-out .5s,transform ease-in-out .5s;transition:height ease-in-out .5s,transform ease-in-out .5s}.t-slds__item{float:left}.t-slds_animated-none .t-slds__item{opacity:0;position:absolute;top:0;left:0;display:none;float:none}.t-slds_animated-none .t-slds__item.t-slds__item-loaded{display:block}.t-slds_animated-none .t-slds__item.t-slds__item_active{opacity:1;z-index:1}.t-slds_ie .t-slds__item{display:none!important}.t-slds_ie .t-slds__item_active{display:block!important}.t-slds__arrow_container-outside{position:absolute;margin:0 auto;top:0;left:0;right:0;width:100%}.t-slds__arrow_wrapper{position:absolute;top:0;bottom:0;width:15%;cursor:pointer;z-index:15;-webkit-transition:height ease-in-out .3s;-moz-transition:height ease-in-out .3s;-o-transition:height ease-in-out .3s;transition:height ease-in-out .3s}.t-slds__arrow_wrapper-left{left:0}.t-slds__arrow_wrapper-right{right:0}.t-slds__arrow{-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);position:absolute;top:50%;display:inline-block}.t-slds__arrow-left{left:30px}.t-slds__arrow-right{right:30px}@media screen and (min-width:960px){.t-slds__arrow-nearpic .t-slds__arrow-left{right:40px;-moz-transform:translate(50%,-50%);-ms-transform:translate(50%,-50%);-webkit-transform:translate(50%,-50%);-o-transform:translate(50%,-50%);transform:translate(50%,-50%);left:auto}.t-slds__arrow-nearpic .t-slds__arrow-right{left:40px;-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);right:auto}}@media screen and (min-width:1200px){.t-slds__arrow-nearpic .t-slds__arrow-left{right:50px}.t-slds__arrow-nearpic .t-slds__arrow-right{left:50px}}.t-slds__arrow-withbg{border-radius:100px;background-color:#eee;-webkit-transition:background-color ease-in-out .2s,border-color ease-in-out .2s;-moz-transition:background-color ease-in-out .2s,border-color ease-in-out .2s;-o-transition:background-color ease-in-out .2s,border-color ease-in-out .2s;transition:background-color ease-in-out .2s,border-color ease-in-out .2s}.t-slds__arrow-withbg .t-slds__arrow_body{position:absolute;top:50%;left:50%}.t-slds__arrow-withbg .t-slds__arrow_body-left{-webkit-transform:translate(-55%,-50%) rotate(180deg);-moz-transform:translate(-55%,-50%) rotate(180deg);-o-transform:translate(-55%,-50%) rotate(180deg);transform:translate(-55%,-50%) rotate(180deg)}.t-slds__arrow-withbg .t-slds__arrow_body-right{-webkit-transform:translate(-45%,-50%);-moz-transform:translate(-45%,-50%);-o-transform:translate(-45%,-50%);transform:translate(-45%,-50%)}.t-slds__arrow_body-left{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}.t-slds__bullet_wrapper{text-align:center;position:relative;z-index:15;padding:16px 0 0;width:100%;font-size:0}.t-slds__container .t-slds__bullet_wrapper{position:absolute;bottom:0;left:0;right:0}.t-slds__container .t-slds__bullet_wrapper{padding-bottom:16px}.t-slds__bullet{display:inline-block;padding:10px;cursor:pointer}.t-slds__bullet_body{background-color:#eee;width:8px;height:8px;border-radius:100px;-webkit-transition:all ease-in-out .2s;-moz-transition:all ease-in-out .2s;-o-transition:all ease-in-out .2s;transition:all ease-in-out .2s;box-sizing:border-box}.t-slds__caption__container{position:relative;margin-top:16px}.t-slds__caption_wrapper{border-top:1px solid #eee;padding:14px 0}.t-slds__caption{position:absolute;top:0;left:0;right:0;opacity:0;-webkit-transition:opacity ease-in-out .3s;-moz-transition:opacity ease-in-out .3s;-o-transition:opacity ease-in-out .3s;transition:opacity ease-in-out .3s}.t-slds__caption-active{position:relative;top:auto;left:auto;right:auto;opacity:1}.t-slds__descr{margin-top:5px;color:#777}@media screen and (max-width:960px){.t-width .t-slds__wrapper{padding:0 20px}.t-col_12 .t-slds__witharrows .t-slds__wrapper{padding:0}.t-width_12 .t-slds__witharrows .t-slds__wrapper{padding:0 20px}.t-slds__arrow-left{left:20px}.t-slds__arrow-right{right:20px}}@media screen and (max-width:640px){.t-slds__arrow-left{left:10px}.t-slds__arrow-right{right:10px}.t-slds__arrow-withbg{width:24px!important;height:24px!important}.t-slds__arrow_body{width:10px!important}.t-slds__arrow-withbg .t-slds__arrow_body{width:6px!important}.t-col .t-slds__witharrows .t-slds__wrapper{padding:0 15px}.t-width .t-slds__witharrows .t-slds__wrapper{padding:0 35px}.t-col_12 .t-slds__witharrows .t-slds__wrapper{padding:0 15px}.t-width_12 .t-slds__witharrows .t-slds__wrapper{padding:0 35px}}.t-slds__play{position:absolute;top:0;right:0;bottom:0;left:0;cursor:pointer;z-index:2}.t-slds__play_icon{position:absolute;left:0;right:0;top:50%;-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);width:80px;height:80px;margin:0 auto;-webkit-transition:all ease-in-out .2s;-moz-transition:all ease-in-out .2s;-o-transition:all ease-in-out .2s;transition:all ease-in-out .2s}.t-slds__play:hover .t-slds__play_icon{-moz-transform:translateY(-50%) scale(1.15);-ms-transform:translateY(-50%) scale(1.15);-webkit-transform:translateY(-50%) scale(1.15);-o-transform:translateY(-50%) scale(1.15);transform:translateY(-50%) scale(1.15)}.t-slds__frame{z-index:1;position:absolute;top:0;right:0;bottom:0;left:0}.t-slds__thumbsbullet-wrapper{font-size:0}.t-slds__thumbsbullet.t-slds__bullet{padding:0;width:60px;position:relative;-webkit-transition:opacity ease-in-out .3s;-moz-transition:opacity ease-in-out .3s;-o-transition:opacity ease-in-out .3s;transition:opacity ease-in-out .3s;margin-right:5px;margin-top:4px}.t-slds__thumbsbullet.t-slds__bullet:not(.t-slds__bullet_active):hover{opacity:.7}.t-slds__thumbsbullet-border{position:absolute;top:0;right:0;left:0;bottom:0;border:2px solid transparent;-webkit-transition:border-color ease-in-out .3s;-moz-transition:border-color ease-in-out .3s;-o-transition:border-color ease-in-out .3s;transition:border-color ease-in-out .3s}.t-slds__thumbsbullet.t-slds__bullet_active .t-slds__thumbsbullet-border{border-color:#222}@media screen and (max-width:640px){.t-slds__thumbsbullet.t-slds__bullet{width:40px;margin-right:4px;margin-top:3px}}
/*tilda-slds-1.4*/

/*tilda-zoom-2.0*/
.t-zoomer__show_fixed{max-height:100%;max-width:100%;overflow:hidden}.t-zoomer__wrapper{position:fixed;top:0;left:0;right:0;bottom:0;z-index:-1;opacity:0;-webkit-transition:all ease-in-out .2s;-moz-transition:all ease-in-out .2s;-o-transition:all ease-in-out .2s;transition:all ease-in-out .2s;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.t-zoomer__show .t-zoomer__wrapper{z-index:9999999;opacity:1}.t-zoomer__container{text-align:center;position:absolute;top:0;right:0;left:0;bottom:0}.t-zoomer__bg{position:absolute;top:0;right:0;left:0;bottom:0;background:#fff;cursor:-webkit-zoom-out;cursor:zoom-out}.t-zoomer__comments{position:absolute;right:0;bottom:0;left:0;display:block;height:auto;padding:14px 0 0;text-align:center;max-width:700px;box-sizing:border-box;margin:0 auto}.t-zoomer__descr{z-index:3}.t-zoomable{cursor:-webkit-zoom-in;cursor:zoom-in}.t-zoomer__show .t-zoomable,.t-zoomer__show .t-carousel__zoomer__inner{cursor:-webkit-zoom-out;cursor:zoom-out}.t-zoomer__container{z-index:99999999}.t-carousel__zoomed,.t-carousel__zoomer__slides,.t-carousel__zoomer__inner,.t-carousel__zoomer__item,.t-carousel__zoomer__wrapper{position:absolute;top:0;right:0;bottom:0;left:0}.t-carousel__zoomer__inner{top:15px;right:15px;bottom:15px;left:15px}.t-carousel__zoomer__img{position:absolute;top:0;bottom:0;left:0;right:0;max-width:100%;max-height:100%;margin:auto;overflow:auto}.t-carousel__zoomer__item{height:100%;display:none}.t-zoomer__close{position:fixed;right:10px;top:12px;width:29px;height:32px;cursor:pointer;-webkit-transition:opacity ease-in-out 0.3s;-moz-transition:opacity ease-in-out 0.3s;-o-transition:opacity ease-in-out 0.3s;transition:opacity ease-in-out 0.3s;z-index:999999999999}.t-zoomer__close:hover{opacity:.7}.t-zoomer__close-line{position:absolute;left:15px;height:26px;width:2px;background-color:#222}.t-zoomer__close-line-first{-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}.t-zoomer__close-line-second{-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}.t-carousel__zoomer__control{position:absolute;top:0;bottom:0;left:0;width:15%;-webkit-transition:opacity ease-in-out 0.3s;-moz-transition:opacity ease-in-out 0.3s;-o-transition:opacity ease-in-out 0.3s;transition:opacity ease-in-out 0.3s;cursor:pointer;z-index:99}.t-carousel__zoomer__control_right{left:auto;right:0}.t-carousel__zoomer__control:hover{opacity:.6}.t-carousel__zoomer__arrow{width:20px;height:20px;background:transparent;-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}.t-carousel__zoomer__arrow__wrapper{-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);position:absolute;top:50%}.t-carousel__zoomer__arrow__wrapper_left{left:18px}.t-carousel__zoomer__arrow__wrapper_right{right:18px}.t-carousel__zoomer__arrow_right{border-top:2px solid;border-right:2px solid}.t-carousel__zoomer__arrow_left{border-left:2px solid;border-bottom:2px solid}@media screen and (max-width:768px){.t-carousel__zoomer__control .t-carousel__zoomer__arrow{width:12px;height:12px}.t-carousel__zoomer-control{width:10%}.t-carousel__zoomer__arrow__left{left:15px}.t-carousel__zoomer__arrow__right{right:15px}}
/*tilda-zoom-2.0*/

/*tilda-popup-1.1*/
.t-body_popupshowed{height:100vh;min-height:100vh;overflow:hidden}.t-popup{position:fixed;top:0;right:0;bottom:0;left:0;overflow-y:auto;opacity:0;-webkit-transition:opacity ease-in-out .3s;-moz-transition:opacity ease-in-out .3s;-o-transition:opacity ease-in-out .3s;transition:opacity ease-in-out .3s;width:100%;height:100%;box-sizing:border-box;cursor:pointer;padding:0 20px;background-color:rgba(0,0,0,.6);z-index:9999999;display:none}.t-popup.t-popup_show{opacity:1}.t-popup__container{background:#fff;margin:0 auto;width:auto;position:absolute;top:50%;right:20px;left:20px;z-index:1;cursor:default;-moz-transform:translateY(-30%) scale(.9);-ms-transform:translateY(-30%) scale(.9);-webkit-transform:translateY(-30%) scale(.9);-o-transform:translateY(-30%) scale(.9);transform:translateY(-30%) scale(.9)}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.t-popup__container{width:100%}}.t-popup__container-animated{-webkit-transition:transform ease-in-out .3s;-moz-transition:transform ease-in-out .3s;-o-transition:transform ease-in-out .3s;transition:transform ease-in-out .3s}.t-popup_show .t-popup__container{-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}.t-popup__container.t-popup__container-static{margin:65px auto;top:0;position:relative;left:auto;right:auto;width:100%;-moz-transform:translateY(30%) scale(.9);-ms-transform:translateY(30%) scale(.9);-webkit-transform:translateY(30%) scale(.9);-o-transform:translateY(30%) scale(.9);transform:translateY(30%) scale(.9)}.t-popup_show .t-popup__container.t-popup__container-static{-moz-transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}.t-popup__close{position:fixed;right:20px;top:20px;width:23px;height:23px;cursor:pointer;-webkit-transition:opacity ease-in-out .3s;-moz-transition:opacity ease-in-out .3s;-o-transition:opacity ease-in-out .3s;transition:opacity ease-in-out .3s;z-index:9}.t-popup__close:hover{opacity:.7}.t-body_scroll-locked{position:fixed;left:0;width:100%}
/*tilda-popup-1.1*/
}
